<h2>Verify User Profile ID PROOF</h2>
<% if @profile %>
	<%= @profile.user.name %>
	<%= @profile.user.phone %>
	<div>
		<%= image_tag @profile.id_proof_url,class:'pic_style' %>
		<%= image_tag @profile.address_proof_url,class:'pic_style'%>
	</div>
	<div>
		<%= form_tag('/admin/user_verification/verify_profile', type: :post, :class => '', :style => "") do |f| %>
			<%= hidden_field_tag 'profile',nil, value: @profile.id %>
			<button type="submit" class="btn btn-default">Verify Profile</button>
		<%end%>	
		<%= form_tag('/admin/user_verification/details_incorrect', type: :post, :class => '', :style => "") do |f| %>
			<%= hidden_field_tag 'profile',nil, value: @profile.id %>	
			<button type="submit" class="btn btn-default">Incorrect details</button>
		<%end%>	
	</div>
<% else %>
No Verification Pending
<% end %>
<style>
h2{
	text-align: center;
}
.pic_style{
	height: 400px;
    width: 300px;
    position: relative;
    margin-top: 5%;
	margin-left: 15%;
}
.btn-default {
    color: #333;
    background-color: #f16224;
    border-color: #ccc;
    color: #fff;
}
</style>
