<p id="notice"><%= notice %></p>

<h1>Listing Documents Statuses</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents_statuses.each do |documents_status| %>
      <tr>
        <td><%= documents_status.name %></td>
        <td><%= link_to 'Show', documents_status %></td>
        <td><%= link_to 'Edit', edit_documents_status_path(documents_status) %></td>
        <td><%= link_to 'Destroy', documents_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @documents_statuses %>
<%= link_to 'New Status', new_documents_status_path %>
