<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @documents_status.name %>
</p>

<%= link_to 'Edit', edit_documents_status_path(@documents_status) %> |
<%= link_to 'Back', documents_statuses_path %>
