<%= simple_form_for(@services_question) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :service %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'create' %>
  </div>
<% end %>

<style>
  input.btn.create {
        background-color: #024448;
        height: 32px;
        color: #fff;
        border-radius: 0;
        margin-left: 0;
        margin-bottom: 2em;
        border: none;
  }
</style>