<p id="notice"><%= notice %></p>

<h1>Listing Services Questions</h1>

<table id='myQuestionsTable' class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Service</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services_questions.each do |services_question| %>
      <tr>
        <td><%= services_question.id %></td>
        <td><%= services_question.name %></td>
        <td><%= services_question.service.name %></td>
        <td><%= link_to 'Show', services_question %></td>
        <td><%= link_to 'Edit', edit_services_question_path(services_question) %></td>
        <td><%= link_to 'Destroy', services_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @services_questions %>
<%= link_to 'New Question', new_services_question_path, class: 'new-ques' %>

<style>
  a.new-ques {
      background-color: #024448;
      padding: 10px;
      color: #fff;
  }
</style>
<script>
    $(function(){
      $("#myQuestionsTable").tablesorter();
    });
</script>