<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @services_question.name %>
</p>

<p>
  <strong>Service:</strong>
  <%= @services_question.service_id %>
</p>

<%= link_to 'Edit', edit_services_question_path(@services_question) %> |
<%= link_to 'Back', services_questions_path %>
