.modal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.5);
    width: 100%;
    display: none;
    z-index: 1000;
    overflow: scroll;
    color: black;
    padding: 5px;
    .modal-window {
        position: absolute;
        max-width: 420px;
        width: 50%;
        // padding: 40px;
        background: #f4f4f4;
        margin: auto;
        top: 0;
        right: 0;
        z-index: 2000;
        // height: 420px;
        display: block;
        left: 0;
        bottom: 0;
        h2{
            margin: 0;
            text-align: left;
            color: rgb(58, 53, 53);
            padding: 10px 20px;
            font-size: 18px;
            color: white;
            background: #6595BB;
        }
        p{
            text-align: center;
            padding: 10px 20px;
        }
        head{
            position: relative;
        }
    }
    .close{
        position: absolute;
        margin-left: 100%;
        font-size: 25px;
        margin-top: 0%;
        width: 30px;
        height: 30px;
        background: black;
        font-size: 20px;
        padding: 5px 10px;
        color: white;
    }
    .contact-form{
        display: block;
        width: 100%;
        height: 250px;
        margin: 8% 20%;
    }
    input{
        height: 44px;
        width: 296px;
        margin-bottom: 12px;
        padding: 5px;
        // border-top-style: none;
        // border-right-style: none;
        // border-bottom-width: 1px;
        // border-bottom-color: #ccc;
        // border-left-style: none;
        // border-radius: 0px;
        // background-color: transparent;
        font-size: 16px;
        // text-transform: uppercase;
    }
    input[type=textarea]{
      height: 60px;
    }
    label{
        width: 100px;
        text-align: right;
        margin: 2%;
    }
    input[type=submit]{
        margin-top: 10px;
        padding: 8px;
        width: 100px;
        font-size: 18px;
        // border-radius: 30px;
        border: none;
        background: #6595BB;
    }
    .thanks{
        display: inline-block;
        width: 220px;
        padding: 10px 18px;
        color: rgb(58, 53, 53);
        margin-top: 12px;
    }   
}