<%= simple_form_for(@service) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-inputs">
    <%= f.input :priority %>
  </div>

  <div class="form-inputs">
    <%= f.input :description %>
  </div>

  <div class="form-inputs">
  <%= f.input :min_stamp %>
  </div>

  <div class="form-inputs">
  <%= f.input :delivery_charges %>
  </div>

  <div class="form-inputs">
  <%= f.input :print_price %>
  </div>

  <div class="form-inputs">
  <%= f.input :notary_price %>
  </div>

  <div class="form-inputs">
  <%= f.input :registration_price %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'create' %>
  </div>
<% end %>

<style>
  input.btn.create {
    background-color: #024448;
    padding: 2px;
    color: #fff;
    margin-bottom: 2em;
    border: none;
    border-radius: 0;
    margin-left: 0;
    height: 32px;
}
</style>

