<div class="nested-fields">
	<%= f.input :name %>
    <%= f.input :data_type %>
    <%= f.input :api_url %>
    <%= f.input :price %>
    <%= f.input :placeholder %>
    <%= f.input :error_msg %>
    <%= f.input :hint %>
    <%= f.input :priority %>
    <%#= f.association :response_type, :collection =>::Services::Questions::ResponseType.all %>
    <%#= f.simple_fields_for :options do |req| %>
		<%#= render 'option_fields', f: req %>
	<% end %>
	<p>
		<%#= link_to_add_association "Add an option",f, :options %>
	</p>
	<hr>

	<%= link_to_remove_association "Remove question", f%>
</div>