<h1>Add Questions</h1>
	<%= simple_form_for(@service) do |f| %>
	<%= f.error_notification %>

	<div class="form-inputs">
		<%= f.input :name %>
	</div>

	<div class="form-inputs">
    	<%= f.input :tag %>
  	</div>

	<hr>
	<%= f.simple_fields_for :questions do |quest| %>
		<%= render 'question_fields', f: quest %>
	<% end %>
	<p>
		<%= link_to_add_association "Add a Question",f, :questions %>
	</p>
	<hr>

	<div class="form-actions">
	    <%= f.button :submit %>
	</div>

	<% end %>

<%= link_to 'Back', services_path %>
