<p id="notice"><%= notice %></p>

<h1>Listing Services</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Priority</th>
      <th>PRINT PRICE</th>
      <th>NOTARY PRICE</th>
      <th>REGISTRATION PRICE</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.priority %></td>
        <td><%= service.print_price %></td>
        <td><%= service.notary_price %></td>
        <td><%= service.registration_price %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Add', add_questions_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @services %>
<%= link_to 'New Service', new_service_path, class: 'new-service' %>

<style>
  a.new-service {
      background-color: #024448;
      padding: 10px;
      color: #fff;
  }
</style>
