<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<!-- <p>
  <strong>Tag:</strong>
  <%#= @service.tag %>
</p>
 -->
<p>
  <strong>Priority:</strong>
  <%= @service.priority %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
