<%= simple_form_for(@users_profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :middle_name %>
    <%= f.input :profile_img %>
    <%= f.input :cover_img %>
    <%= f.input :last_login %>
    <%= f.input :mobile_verified %>
    <%= f.input :email_verified %>
    <%= f.input :about %>
    <%= f.input :id_proof_url %>
    <%= f.input :address_proof_url %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
