<p id="notice"><%= notice %></p>

<h1>Listing Users Profiles</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Birthday</th>
      <th>Profile img</th>
      <th>Gender</th>
      <!-- <th>Last login</th> -->
      <th>Mobile verified</th>
      <th>Email verified</th>
      <!-- <th>About</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_profiles.each do |users_profile| %>
      <tr>
        <td><%= users_profile.first_name %></td>
        <td><%= users_profile.last_name %></td>
        <td><%= users_profile.birthday %></td>
        <td><%= users_profile.profile_img %></td>
        <td><%= users_profile.gender %></td>
        <!-- <td><%#= users_profile.last_login %></td> -->
        <td><%= users_profile.mobile_verified %></td>
        <td><%= users_profile.email_verified %></td>
        <!-- <td><%#= users_profile.about %></td> -->
        <td><%= link_to 'Show', users_profile %></td>
        <td><%= link_to 'Edit', edit_users_profile_path(users_profile) %></td>
        <td><%= link_to 'Destroy', users_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @users_profiles %>
<%= link_to 'New Profile', new_users_profile_path %>
