<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @users_profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @users_profile.last_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @users_profile.middle_name %>
</p>

<p>
  <strong>Profile img:</strong>
  <%= @users_profile.profile_img %>
</p>

<p>
  <strong>Cover img:</strong>
  <%= @users_profile.cover_img %>
</p>

<p>
  <strong>Last login:</strong>
  <%= @users_profile.last_login %>
</p>

<p>
  <strong>Mobile verified:</strong>
  <%= @users_profile.mobile_verified %>
</p>

<p>
  <strong>Email verified:</strong>
  <%= @users_profile.email_verified %>
</p>

<p>
  <strong>Address Url:</strong>
  <%= link_to 'Address proof', @users_profile.address_proof_url || '#' %>
</p>

<p>
  <strong>Id proof Url:</strong>
  <%= link_to 'Id proof', @users_profile.id_proof_url || '#' %>
</p>

<p>
  <strong>About:</strong>
  <%= @users_profile.about %>
</p>

<%= link_to 'Edit', edit_users_profile_path(@users_profile) %> |
<%= link_to 'Back', users_profiles_path %>
