<p id="notice"><%= notice %></p>

<h1>Listing Localities</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @localities.each do |locality| %>
      <tr>
        <td><%= locality.name %></td>
        <td><%= locality.city_id %></td>
        <td><%= link_to 'Show', locality %></td>
        <td><%= link_to 'Edit', edit_locality_path(locality) %></td>
        <td><%= link_to 'Destroy', locality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @localities %>
<%= link_to 'New Locality', new_locality_path, class: 'new-locality' %>

<style>
  a.new-locality {
      background-color: #024448;
      padding: 10px;
      color: #fff;
  }
</style>