<h1>New Locality</h1>

<%= render 'form' %>

<%= link_to 'Back', localities_path, class: 'back' %>

<style>
  a.back {
      background-color: #024448;
      padding: 10px;
      color: #fff;
  }
</style>
