<p id="notice"><%= notice %></p>

<h1>Listing Orders Statuses</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders_statuses.each do |orders_status| %>
      <tr>
        <td><%= orders_status.name %></td>
        <td><%= link_to 'Show', orders_status %></td>
        <td><%= link_to 'Edit', edit_orders_status_path(orders_status) %></td>
        <td><%= link_to 'Destroy', orders_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @orders_statuses %>
<%= link_to 'New Status', new_orders_status_path, class: 'new-status' %>

<style>
  a.new-status {
      background-color: #024448;
      padding: 10px;
      color: #fff;
  }
</style>
