<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @orders_status.name %>
</p>

<%= link_to 'Edit', edit_orders_status_path(@orders_status) %> |
<%= link_to 'Back', orders_statuses_path %>
