// .about_bg{
//   background-image: image-url("about_banner.jpg");
//   background-repeat: no-repeat;
//   background-size: 100%;
//   height: 100vh;
//   position: relative;
//   top: 5em;
  
//   .content-wrapper {
//     display: block;
//     margin: 0 auto;
//     text-align: center;
//     color: #fff;
//     position: relative;
//     top: 36em;
//   }

//   h3.sub-head {
//     position: relative;
//     left: -6em;
//     font-size: 50px;
//   }
//   h1.main-head {
//       font-size: 50px;
//   }
// }    
// .about_content_bg{
//   background: #fff;
//   height: 840px;
//   .content_padd {
//     padding: 6em 7em 0em 7em;
//     text-align: center;
//     letter-spacing: 0.2px;
//   }
//   .content_padd h4{
//     margin: 1em;
//     line-height: 1.3;
//   }
  
//   h1.about_txt {
//     border-bottom: 1px solid #000;
//     display: inline-block;
//     padding: 1em;
//     letter-spacing: 1px;
//   }
  
//   .section_style {
//     text-align: justify;
//     /* padding: 3em 3em 0em 3em; */
//     border-bottom: 1px solid #000;
//     display: inline-block;
//     margin: 8em;
//     position: relative;
//     top: -7em;
//   }

//   .col_padd {
//     padding: 3em;
//   }

//   span.color_style {
//     color: #f16224;
//   }
// }  
// .docket_life{
//   background-image: image-url("docket_life.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 540px;
//   .section_padd {
//       margin: 6em 7em 5em 7em;
//   }

//   h1.main-head {
//       font-size: 50px;
//       text-align: center;
//       /* margin-bottom: 2em; */
//   }

//   ul.content_wrapper {
//       width: 700px;
//       position: relative;
//       margin: 0 auto;
//       top: 9em;
//   }
  
//   .content_wrapper li {
//       font-size: 20px;
//       line-height: 2;
//       text-align: justify;
//       position: relative;
//       top: -4em;
//   }
// }
// @media only screen and (min-width: 1919px) and (max-width: 1921px) {
//  .about_bg{
//     .content_padd {
//     padding: 6em 16em 0em 18em;
//     text-align: justify;
//     letter-spacing: 0.2px;
//     position: relative;
//     text-align: center;
//     }
//      h3.sub-head {
//     position: relative;
//     left: -7em;
//     top:5em;
//     font-size: 50px;
//     }  
//   }
//   .about_content_bg{
//     background: #fff;
//     height: 840px;
//       .content_padd {
//       padding: 6em 7em 0em 7em;
//       text-align: center;
//       letter-spacing: 0.2px;
//      }
//     .content_padd h4{
//       margin: 1em;
//       line-height: 1.3;
//     }

//     h1.about_txt {
//       border-bottom: 1px solid #000;
//       display: inline-block;
//       padding: 1em;
//       letter-spacing: 1px;
//     }

//     .section_style {
//       text-align: justify;
//       /* padding: 3em 3em 0em 3em; */
//       border-bottom: 1px solid #000;
//       display: inline-block;
//       margin: 8em;
//       position: relative;
//       top: -7em;
//     }

//     .col_padd {
//       padding: 3em;
//     }

//     span.color_style {
//       color: #f16224;
//     }
//     .content_padd {
//       padding: 6em 16em 0em 18em;
//       text-align: justify;
//       letter-spacing: 0.2px;
//       position: relative;
//       text-align: center;
//     }
//      h3.sub-head {
//       position: relative;
//       left: -6em;
//       top:2em;
//       font-size: 50px;
//     }
//   }
// }
// @media all and (min-width: 360px) and (max-width: 640px) {
//   .about_bg {
//     background-image: image-url("about_banner.jpg");
//     background-repeat: no-repeat;
//     position: relative;
//     top: 5em;
//     background-size: cover;
//     height: 100vh;
//     background-position: center center;
//      nav.navbar.navbar-default.nav-home {
//     background: #fff;
//     width: 100%;
//     height: 70px;
//     position: fixed;
//     left: 0;
//     border: 0;
//     border-radius: 0;
//     z-index: 99999;
//     color: #000!important;
//     }
//     h3.sub-head {
//     position: relative;
//     left: -3em;
//     font-size: 20px;
//     bottom: 6em;
//     }
    
//   }
//   .about_content_bg {
//     background: #FFF none repeat scroll 0% 0%;
//     height: 100%;
//   }
//   .about_content_bg .content_padd {
//     padding: 6em 2em 0em;
//     text-align: center;
//     letter-spacing: 0.2px;
//       h1.about_txt {
//       border-bottom: 1px solid #000;
//       display: inline-block;
//       letter-spacing: 1px;
//       font-size: 20px !important;
//       width: 298px;
//       padding: 0px;
//       }
//     }  
//       .about_content_bg .section_style {
//     text-align: justify;
//     border-bottom: 1px solid #000;
//     display: inline-block;
//     margin: 1em;
//     position: relative;
//     top: 0em;
//     // height: 700px !important;
//     }  
//   .about_content_bg .col_padd {
//     padding: 0em;
//     height: 100% !important;
//     > p:first-child{
//       min-height: 380px;
//     }
//   }
//   p {
//       margin: 0px 0px 0px;

//   }
// }
// @media all and (min-width: 641px) and (max-width: 991px) {
//    .about_bg {
//     background-image: image-url("about_banner.jpg");
//     background-repeat: no-repeat;
//     position: relative;
//     top: 5em;
//     background-size: cover;
//     height: 100vh;
//     background-position: center center;
//     h3.sub-head {
//     position: relative;
//     left: -7em;
//     font-size: 20px;
//     bottom: -7em;
//     }
    
//   }
//   .about_content_bg {
//     background: #FFF none repeat scroll 0% 0%;
//     height: 100%;
//   }
//   .about_content_bg .content_padd {
//     padding: 6em 2em 0em;
//     text-align: center;
//     letter-spacing: 0.2px;
//       h1.about_txt {
//       border-bottom: 1px solid #000;
//       display: inline-block;
//       letter-spacing: 1px;
//       font-size: 20px !important;
//       width: 298px;
//       padding: 0px;
//       }
//     }  
//       .about_content_bg .section_style {
//     text-align: justify;
//     border-bottom: 1px solid #000;
//     display: inline-block;
//     margin: 1em;
//     position: relative;
//     top: 0em;
//     // height: 700px !important;
//     }  
//   .about_content_bg .col_padd {
//     padding: 0em;
//     height: 100% !important;
//   }
//   p {
//       margin: 0px 0px 0px;
//   }

//   }
// @media all and (min-width: 768px) and (max-width: 1024px) {
//   .about_bg {
//       background-size: cover;
//       height: 100vh;
//       background-position: center;
//   }
//   .about_bg .content-wrapper {
//       display: block;
//       margin: 0 auto;
//       text-align: center;
//       color: #fff;
//       position: relative;
//       top: 57em;
//   }

//   .about_content_bg {
//       background: #fff;
//       height: auto;
//   }

//   .about_bg h3.sub-head {
//       position: relative;
//       left: -6em;
//       font-size: 30px;
//   }
// }


