.careers_bg{
  background-image: image-url("careers_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  top: 5em;
  overflow-x: hidden;
  
  .content-wrapper {
    width: 500px;
    margin: 0 auto;
    color: #fff;
    position: relative;
    // left: 9em;
    top: 5em;
    text-align: center;
  }
  h1.main-head {
      font-size: 50px;
      position: relative;
      top: 0.5em;
  }

  h1.sub-head {
    font-size: 50px;
    letter-spacing: 5px;
    margin-left: 7%;
  }
}

.job_openings{
  background: #fff;
  height: 500px;
  .content-wrapper {
    position: absolute;
    border-top: 1px solid #A9A8A7;
    border-bottom: 1px solid #A9A8A7;
    left: 0;
    top: 13em;
    padding: 4em;
  }
  h1.job_head {
      font-size: 50px;
  }
  span.color_style {
      color: #f16224;
  }
  h4.job_sub_head {
      font-size: 30px;
  }
}

.developer_style {
  padding: 4em 7em 4em 7em;

  a{
    text-decoration: none !important;
    cursor: pointer;
    color: #fff;
  }

  a:hover{
    text-decoration: none !important;
    cursor: pointer;
    color: #fff;
  }
  ul.position_style {
      list-style: none;
  }
  li.box_wrapper {
    width: 500px;
    padding: 0.5em;
    background: #EEEDF3;
    margin: 1em;
    font-size: 30px;
  }
  span.number_style {
    background: #f16224;
    color: #fff;
    padding: 10px;
  }
  .form_padd {
    position: relative;
    top: 2em;
  }
  form.career_form {
    width: 500px;
    background: #f16224;
    height: 480px;
    padding: 2em 5em 5em 5em;
  }
  .content_wrapper {
    position: absolute;
    top: 2em;
    left: 14em;
    color: #fff;
  }
  input.form-controller.input_styling {
    width: 350px;
    height: 60px;
    padding: 1em;
    margin: 0.2em;
  }
  .image_wrapper {
    border-bottom: 1px solid #fff;
    padding: 1em;
  }

  .form_wrapper {
    position: relative;
    top: 2em;
  }
  button.btn.btn-default.send-btn {
    background: #000;
    color: #fff;
    font-size: 30px;
    border: #000;
    border-radius: 0;
    position: relative;
    left: 8.5em;
    top: -0.4em;
  }
  .thanks {
      width: 500px;
      background: #f16224;
      height: 480px;
      padding: 2em 5em 5em 5em;
      color: #fff;
      font-size: 20px;
      padding-top: 10em;
  }
}

.objectives {
  height: 400px;
  background: #fff;
  .content-wrapper {
    position: absolute;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 100%;
    left: 0;
    padding: 2em 20em 2em 20em;
    font-size: 15px;
  }
}

@media only screen and (min-width: 1919px) and (max-width: 1921px) {
  .developer_style ul.position_style {
    list-style: none;
    padding-left: 15em;
}
}
@media all and (min-width: 360px) and (max-width: 640px) {
  .careers_bg{
  background-image: image-url("careers_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  top: 5em;

  nav.navbar.navbar-default.nav-home {
    background: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    border: 0;
    border-radius: 0;
    z-index: 99999;
    color: #000!important;
  }
  a.navbar-brand {
    position: absolute;
    top: -0.5em;
  }
  ul.nav.navbar-nav.nav-left {
    position: relative;
    top: 1em;
    font-size: 15px;
    border-left: 1px solid #858382;
    height: 50px;
    padding: 0;
    color: #858382;
    left: 6em;
  }
  .nav-left li {
    position: relative;
    top: -0.5em;
  }
  ul.nav.navbar-nav.navbar-right {
    position: absolute;
    right: 1em;
  }
  .content-wrapper {
    width: 500px;
    margin: 0 auto;
    color: #fff;
    position: relative;
    left: 9em;
    top: 5em;
  }
  h1.main-head {
      font-size: 30px;
      position: relative;
      top: 0.5em;
  }

  h1.sub-head {
    font-size: 30px;
    letter-spacing: 5px;
  }
}

.job_openings{
  background: #fff;
  height: 500px;
  .content-wrapper {
    position: absolute;
    border-top: 1px solid #A9A8A7;
    border-bottom: 1px solid #A9A8A7;
    left: 0;
    top: 7em;
    padding: 3em;
  }
  h1.job_head {
      font-size: 30px;
  }
  span.color_style {
      color: #f16224;
  }
  h4.job_sub_head {
      font-size: 20px;
  }
}

.developer_style {
  padding: 8em;
  ul.position_style {
      list-style: none;
      width: 330px!important;
      margin-top: 4em!important;

  }
  h1, .h1 {
    font-size: 25px !important
    ;
  }
  li.box_wrapper {
    width: 300px;
    padding: 0.5em;
    background: #EEEDF3;
    margin: 1em;
    font-size: 20px;

  }
  span.number_style {
    background: #f16224;
    color: #fff;
    padding: 10px;
  }
  .form_padd {
    position: relative;
    top: 2em !important;
    right: 1em !important;
    // width: 220 !important;
  }
  form.career_form {
    width: 358px;
    background: #f16224;
    height: 480px;
    padding: 2em;
  }
  .content_wrapper {
    position: absolute;
    top: 0em!important;
    left: 10em!important;
    color: #fff;
  }
  input.form-controller.input_styling {
    width: 300px!important;
    height: 60px;
    padding: 1em;
    margin: 0em;
  }
  .image_wrapper {
    border-bottom: 1px solid #fff;
    padding: 1em;
  }

  .form_wrapper {
    position: relative;
    top: 1em!important;
  }
  button.btn.btn-default.send-btn {
    background: #000;
    color: #fff;
    font-size: 30px;
    border: #000;
    border-radius: 0;
    position: relative;
    left: 7em!important;
    top: -0.4em;
  }
}

.objectives {
  height: 400px;
  background: #fff;
  .content-wrapper {
    position: absolute;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 100%;
    left: 0;
    padding: 3em !important;
    font-size: 15px;
  }
}

}
@media all and (min-width: 641px) and (max-width: 991px) {
   .careers_bg{
  background-image: image-url("careers_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  top: 5em;
  nav.navbar.navbar-default.nav-home {
    background: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    border: 0;
    border-radius: 0;
    z-index: 99999;
  }
  a.navbar-brand {
    position: absolute;
    top: -0.5em;
  }
  ul.nav.navbar-nav.nav-left {
    position: relative;
    top: 1em;
    font-size: 15px;
    border-left: 1px solid #858382;
    height: 50px;
    padding: 0;
    color: #858382;
    left: 6em;
  }
  .nav-left li {
    position: relative;
    top: -0.5em;
  }
  ul.nav.navbar-nav.navbar-right {
    position: absolute;
    right: 1em;
  }
  .content-wrapper {
    width: 500px;
    margin: 0 auto;
    color: #fff;
    position: relative;
    left: 9em;
    top: 5em;
  }
  h1.main-head {
      font-size: 30px;
      position: relative;
      top: 0.5em;
  }

  h1.sub-head {
    font-size: 30px;
    letter-spacing: 5px;
  }
}

.job_openings{
  background: #fff;
  height: 500px;
  .content-wrapper {
    position: absolute;
    border-top: 1px solid #A9A8A7;
    border-bottom: 1px solid #A9A8A7;
    left: 0;
    top: 7em;
    padding: 3em;
  }
  h1.job_head {
      font-size: 30px;
  }
  span.color_style {
      color: #f16224;
  }
  h4.job_sub_head {
      font-size: 20px;
  }
}

.developer_style {
  padding: 8em;
  ul.position_style {
      list-style: none;
      width: 330px!important;
      margin-top: 4em!important;

  }
  h1, .h1 {
    font-size: 25px !important
    ;
  }
  li.box_wrapper {
    width: 392px!important;
    padding: 0.5em;
    background: #EEEDF3;
    margin-left: 6em!important;
    font-size: 20px;

  }
  span.number_style {
    background: #f16224;
    color: #fff;
    padding: 10px;
  }
  .form_padd {
    position: relative;
    top: 2em!important;
    right: -8em!important;
  }
  form.career_form {
    width: 400px;
    background: #f16224;
    height: 480px;
    padding: 2em;
  }
  .content_wrapper {
    position: absolute;
    top: 0em!important;
    left: 10em!important;
    color: #fff;
  }
  input.form-controller.input_styling {
    width: 300px!important;
    height: 60px;
    padding: 1em;
    margin: 0em;
  }
  .image_wrapper {
    border-bottom: 1px solid #fff;
    padding: 1em;
  }

  .form_wrapper {
    position: relative;
    top: 1em!important;
  }
  button.btn.btn-default.send-btn {
    background: #000;
    color: #fff;
    font-size: 30px;
    border: #000;
    border-radius: 0;
    position: relative;
    left: 7em!important;
    top: -0.4em;
  }
}

.objectives {
  height: 400px;
  background: #fff;
  .content-wrapper {
    position: absolute;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 100%;
    left: 0;
    padding: 5em !important;
    font-size: 15px;
  }
}

  }



