.comming_soon{
  background-image: image-url("about_banner.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  position: relative;
  top: 5em;
  
  .content-wrapper {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    position: relative;
    top: 36em;
  }

  h3.sub-head {
    position: relative;
    left: -5em;
    font-size: 50px;
    bottom: 2em;
  }
  h1.main-head {
      font-size: 50px;
  }
  .coming_style{
    color:#f16224;
    font-size:24px;
  }
}  
@media all and (min-width: 360px) and (max-width: 640px) {
  .comming_soon{
  background-image: image-url("about_banner.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 275px!important;
  position: relative;
  top: 5em;
    .content-wrapper {
      display: block;
      margin: 0 auto;
      text-align: center;
      color: #fff;
      position: relative;
      top: 8em!important;
    }
    h3.sub-head {
      position: relative;
      left: 0em !important;
      font-size: 24px !important;
      
    }  
    .coming_style{
    color:#f16224;
    font-size:18px;
  }
  }
}