.confirm_draft{
	background-image: image-url("new_images/dashboard_pattern.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	nav.navbar.navbar-default.side-top-nav {
		position: absolute;
		width: 100%;
		left: 0;
		background-color: transparent;
		border-bottom: 1px solid #000;
		height: 20px;
	}

	ul.nav.navbar-nav.nav-stacked {
		width: 200px;
		position: absolute;
		left: 0;
		height: 100vh;
		// background:-webkit-linear-gradient(180deg, #fd8727, #fdbb33);
		// background: -o-linear-gradient(180deg, #fdbb33, #fd8727); /* For Opera 11.1 to 12.0 */
		// background: -moz-linear-gradient(180deg, red, #fd8727); /* For Firefox 3.6 to 15 */
		background: #ed1c24;
		display: block !important;
	}
	.nav-stacked li {
		width: 200px;
		height: 35px;
		text-align: left;
		position: relative;
		top: 16em;
	}
	a.navbar-brand {
		text-align: center !important;
		font-size: 25px;
		color: #fff !important;
		position: absolute;
		z-index: 999;
		left: 0;
		width: 200px;
		height: 49px;
		border-bottom: 1px solid #000;
	}
	.navbar-nav li a {
		height: 49px;
		padding: 17px 12px;
	}
	.form-group.search-bar {
		position: relative;
		top: -0.5em;
		color: black;
		background: transparent;
	}
	input.form-control.input-style {
		position: relative;
		top: 0em;
		color: white;
		background: transparent;
	}
	input.form-control.input-style:focus {
		position: relative;
		top: 0em;
		color: white;
		background: transparent;
		padding: 1em;
	}
	.login_wrapper {
		position: absolute;
		top: 6em;
		left: 2em;
	}
	.login_wrapper img {
		border-radius: 90px;
		border: 6px solid #fff;
		margin: 0 auto;
		position: relative;
		left: 1.5em;
	}
	li.act-style {
		background-color: rgba(21, 20, 20, 0.53);
		height: 20px;
	}
	.navbar-default .navbar-nav.nav-stacked>li>a {
		color: #FBFBFB;
		padding: 0.5em 3em;
		height: 35px;
	}
	.navbar-default .navbar-nav.nav-stacked>li>a:active {
		color: #FBFBFB;
		padding: 0.5em 3em;
		height: 35px;
	}
	.navbar-default .navbar-nav.nav-stacked>li>a:focus {
		color: #FBFBFB;
		padding: 0.5em 3em;
		height: 35px;
	}
	.dropdown img {
		border-radius: 40px;
	}
	.body-wrapper {
		float: right;
		top: 5em;
	}

	form.confirm_draft_style {
		width: 700px;
		margin: 14% auto;
	}

	button.btn.btn-primary.submit-btn {
	    border: 0;
	    border-radius: 0;
	    position: absolute;
	    width: 150px;
	    background: #9A9994 !important;
	    margin: 0 auto;
	}

	textarea.form-control.draft_style {
	    border: 1px solid #000;
	    border-radius: 0;
	    background: transparent;
	    padding: 1em;
	}

	textarea.form-control.draft_style:focus {
	    border: 1px solid #000;
	    border-radius: 0;
	    background: transparent;
	    padding: 1em;
	}
}