.contact_bg{
  background: image-url('contact_banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  top: 5em;
  background-position: center;
  
  .footer_bg{
    position: absolute;
    background-color: #1f1d1e;
    color: #a59c9c;
    width: 100%;
    height: 800px;
    margin: 0;
    padding: 0;
    left: 0;
  .section-padd{
   padding-left: 6em;
   padding-top: 1em;
   font-size: 15px;
  }
  h4.text-center.sub_head_style {
    color: rgb(121, 121, 121);
    letter-spacing: 1px;
    line-height: 1.5;
  }

  h3.line_style {
    position: absolute;
    top: 0em;
    right: 1em;
  }

  ul.list_wrapper {
    position: absolute;
    top: 4em;
    font-size: 15px;
  }

  ul.list_wrapper a {
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    color: #a59c9c;
    cursor: pointer;
  }
  .content_wrapper {
    position: absolute;
    right: 4em;
    top: 8em;
  }
  .summary {
    position: relative;
    padding: 3em 6em 0em 6em;
    /* left: 5em; */
  }
  .social {
    padding: 7px 5px 5px 6px;
  }
  .objectivehr{
    position:relative;
    bottom:4em;
    color: #a59c9c!important;
  }
  .seconlasthr{
    position:relative;
    width:90%;
    left:6em;
    color: #a59c9c!important;
  }
  .lasthr{
    position: relative;
    top: 24em;
    width: 65%;
    /* left: 13em; */
    color: #a59c9c !important;
    margin: 0 auto;
  }
  p.p_style {
    position: relative;
    bottom: -27em;
    text-align: center;
  }
  p.style_text{
    text-align:justify;
  }

}
}    
.form_styling{
  height: 550px;
  .content_div{
    height:500px;
    top:11em;
  }
  input.form-controller_style {
    width: 300px;
    border: solid 1px;
    padding: 7px;
    align: left;
    margin: 0px;
  }
  input.form-controller {
    width: 300px;
    border: solid 1px;
    padding: 7px;
    height: 10em;
  }
  button.send-btn {
    position: relative;
    color: #fff;
    background-color: #f16224;
    width: 100px;
    border: 0;
    border-radius: 0px;
    height: 40px;
    left: 13em;
    top: 1em;
  }
  .col-md-6.style_div1{
    width: 413px;
    text-align: left;
    position: relative;
    height: 190px;
    left: 19em;
    top: 3em;
  }
  .style_div{
    padding: 2em 0em 0em 2em;
    text-align: center;
    margin-left: -3em;
  }
  .form-group {
    position: relative;
    width: 500px;
    /*left: 40em;*/
    top: 0em;
  }
  .form-control {
    margin: 3px;
    border: solid 1px #000;
    display: block;
    padding: 1em;
    /* height: 30px; */
    border-radius: 0px;
    position: relative;
    z-index: 9999;
  }
  .form-control:focus {
    margin: 3px;
    border: solid 1px #000;
    display: block;
    padding: 1em;
    /* height: 30px; */
    border-radius: 0px;
    position: relative;
    z-index: 9999;
  }
  .form-control1 {
    margin: 3px;
    padding: 1em;
    border: solid 1px #000;
    display: block;
    width: 100%;
    border-radius: 0px;
    /* height: 100px; */
    position: relative;
    z-index: 9999;
  }

  h4.style {
    font-size: 18px;
    position: relative;
    top: 8em;
    text-align: left;
    margin: 0 auto;
    width: 700px;
    margin-bottom: 2em;
  }
  .thanks {
    width: 400px;
    height: 300px;
    /* padding: 2em 5em 5em 5em; */
    color: #000;
    font-size: 20px;
    padding-top: 3em;
    margin: 0 auto;
    position: absolute;
    margin-left: 19em;
    margin-top: 7em;
    background: #fff;
}

}
.border_wrapper{
  .border_style
  {
    border-top: solid 1px;
    border-bottom: solid 1px;
    color: #000;
    width: 580px;
    height: 198px;
    left: 345px;
    position: relative;
  }
  
  .style_div{
    padding: 2em 0em 0em 0em;
    text-align: center;
  }
  .form-group {
    position: relative;
    width: 500px;
    /*left: 40em;*/
    top: 0em;
  }

  .col-md-6.style_div1{
    width: 413px;
    text-align: left;
    position: relative;
    height: 190px;
    left: 24em;
    top: 3em;
  }

  span.color_text {
      color: #f16224 !important;
      cursor: pointer;
  }

  span.color_text a{
      color: #f16224 !important;
      cursor: pointer;
      text-decoration: none;
  }
}  
@media only screen and (min-width: 1919px) and (max-width: 1921px) {
  .border_wrapper{
    .border_style{
      border-top: solid 1px;
      border-bottom: solid 1px;
      color: #000;
      width: 580px;
      // height: 165px;
      /* left: 20em; */
      left: 660px;
      position: relative;
    }
    .style_div{
      padding: 2em 0em 0em 0em;
      text-align: center;
    }
    .form-group {
      position: relative;
      width: 500px;
      /*left: 40em;*/
      top: 0em;
    }
    .col-md-6.style_div1{
      width: 413px;
      text-align: left;
      position: relative;
      height: 190px;
      left: 46em;
      top: 3em;
    }
  } 
 } 
  @media all and (min-width: 360px) and (max-width: 640px) {
    .contact_bg{
    background: image-url('contact_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    // position: relative;
    background-position:center;
    top: 5em;
    overflow-x: hidden;
     nav.navbar.navbar-default.nav-home {
    background: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    border: 0;
    border-radius: 0;
    z-index: 99999;
    color: #000!important;
    }
  }
  .form_styling {
     h4.style {
    font-size: 17px;
    position: relative;
    top: 8em;
    text-align: left;
    margin: 0px auto 2em;
    width: 323px;
    z-index: 99999;
    }
    .form-control1 {
      width: 92% !important;
    }
     .form-control {
      width: 92% !important;
    }
    .form-group {
      position: relative;
      width: 300px!important;
      top: 0em;
    }
    button.send-btn {
      left: 12em!important;
    }
  }
  .border_wrapper {
    .border_style {
      border-top: 1px solid;
      border-bottom: 1px solid;
      color: #000;
      width: 300px!important;
      height: 154px;
      left: 25px!important;
      position: relative;
      top: 82px!important;
      font-size: 13px !important;
      overflow: hidden;
    }
    .col-md-6.style_div1 {
    width: 320px!important;
    text-align: left;
    position: relative;
    height: 190px!important;
    left: 25px;
    top: 7em!important;
    }
    .style_div {
    padding: 0em 0em 0em !important;
    text-align: center;
    margin-top: 30px !important;
    font-size: 10px !important;
    }
  }
}
@media all and (min-width: 641px) and (max-width: 991px) {
  .border_wrapper{
    .border_style{
      border-top: solid 1px;
      border-bottom: solid 1px;
      color: #000;
      width: 467px;
      height: 165px;
      /* left: 20em; */
      left: 37px;
      top:6em;
      position: relative;
    }
    .style_div{
      padding: 2em 0em 0em 0em;
      text-align: center;
    }
    .form-group {
      position: relative;
      width: 500px;
      /*left: 40em;*/
      top: 0em;
    }
    .col-md-6.style_div1{
      width: 413px;
      text-align: left;
      position: relative;
      height: 190px;
      left: 2em!important;
      top: 7em!important;
    }
  } 

}     


@media all and (min-width: 768px) and (max-width: 1024px) {
  .border_wrapper .border_style {
      left: 4%;
      position: relative;
      top: 7em;
  }

  .border_wrapper .col-md-6.style_div1 {
    left: 4%;
    top: 10em;
    height: 100px;
    margin: 1em;
  }
}
