.dashboard_page { 
  margin-top:5%;
  nav.navbar.navbar-default.side-top-nav {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: transparent;
    border-bottom: 1px solid #000;
    height: 20px;
  }

  ul.nav.navbar-nav.nav-stacked {
    width: 200px;
    position: absolute;
    left: 0;
    height: 100vh;
    // background:-webkit-linear-gradient(180deg, #fd8727, #fdbb33);
    // background: -o-linear-gradient(180deg, #fdbb33, #fd8727); /* For Opera 11.1 to 12.0 */
    // background: -moz-linear-gradient(180deg, red, #fd8727); /* For Firefox 3.6 to 15 */
    background: #ed1c24; 
    display: block !important;
  }

  .nav-stacked li {
      width: 200px;
      height: 35px;
      text-align: left;
      position: relative;
      top: 16em;
  }

  a.navbar-brand {
    text-align: center !important;
    font-size: 25px;
    color: #fff !important;
    position: absolute;
    z-index: 999;
    left: 0;
    width: 200px;
    height: 49px;
    border-bottom: 1px solid #000;
  }

  .navbar-nav li a {
      height: 49px;
      padding: 17px 12px;
  }

  .form-group.search-bar {
      position: relative;
      top: -0.5em;
      color: black;
      background: transparent;
  }
  input.form-control.input-style {
    position: relative;
    top: 0em;
    color: white;
    background: transparent;
  }
  .login_wrapper {
      position: absolute;
      top: 6em;
      left: 2em;
  }

  .login_wrapper img {
      border-radius: 90px;
      border: 6px solid #fff;
      margin: 0 auto;
      position: relative;
      left: 1.5em;
  }

  li.act-style {
      background-color: rgba(21, 20, 20, 0.53);
      height: 20px;
  }

  .navbar-default .navbar-nav.nav-stacked>li>a {
      color: #FBFBFB;
      padding: 0.5em 3em;
      height: 35px;
  }

  .navbar-default .navbar-nav.nav-stacked>li>a:active {
    color: #FBFBFB;
    padding: 0.5em 3em;
    height: 35px;

  }

  .navbar-default .navbar-nav.nav-stacked>li>a:focus {
    color: #FBFBFB;
    padding: 0.5em 3em;
    height: 35px;

  }
  .dropdown img {
      border-radius: 40px;
  }
  
  .agbook {
    width: 520px;
    height: 500px;
    position: relative;
    left: -28px;
    top: 30px;
  }
  .agstyle {
    top: -46px;
    position: relative;
    height: 400px;
    width: 300px;
    left: 313px;
  }


  .check-list-wrap{
    margin-top:30%;
    .check-list-head{
       padding: 0 0 0 10px;
       margin: 22% 0 0;
       width:60%;
       img{
        float:left
       }
       h1{
        color: #1F1C1C;
       }
    }
    .txt{
      text-align: left;
      margin-top: 40px;
    }
  }

  .book-shelf-wrap{
    background: image-url("dashboard_icon/Bookshelf.png") no-repeat 0 0/cover;
    height: 550px;
    width: 450px;
    position: relative;
    margin-top:10%;
  .ag{
    position: absolute;
    height: 109px;
    top: 18px;
    right: 190px;
  }
  .ag:hover{
    height:120px;
    cursor:pointer;
  }
  .af{
    position: absolute;
    height: 109px;
    top: 185px;
    right: 322px;
  }
  .af:hover{
    height:120px;
    cursor:pointer;
  }

  .b{
    position: absolute;
    height: 109px;
    top: 185px;
    right: 195px;
  }
  .b:hover{
    height:120px;
    cursor:pointer;
  }
  .d{
    position: absolute;
    height: 109px;
    top: 185px;
    right:69px;
  }

  .d:hover{
    height:120px;
    cursor:pointer;
  }
  .s{
    position: absolute;
    height: 109px;
    top: 361px;
    right: 322px;
  }
  .s:hover{
    height:120px;
    cursor:pointer;
  }
  .m{
    position: absolute;
    height: 109px;
    top: 361px;
    right: 196px;
  }
  .m:hover{
    height:120px;
    cursor:pointer;
  }
  .o{
    position: absolute;
    height: 109px;
    top: 361px;
    right:71px;
  }
  .o:hover{
    height:120px;
    cursor:pointer;
  }
}
}

@media only screen and (min-width: 1919px) and (max-width: 1921px) {
  // .dashboard_page .ag {
  //   right: 36em !important;
  //   right: 17.2em;
  // }
  // .dashboard_page .af{
  //   right:44em;
  // }
  // .dashboard_page .b{
  //   right: 36em;
  // }
  // .dashboard_page .d{
  //   right: 28em;
  // }
  // .dashboard_page .s{
  //   right:44em;
  // }
  // .dashboard_page .m{
  //   right: 36em;
  // }
  // .dashboard_page .o{
  //   right: 28em;
  // }
}
@media only screen and (min-width: 1362px) and (max-height: 597px){
.dashboard_page {
  .book-shelf-wrap {
      background: url("../dashboard_icon/Bookshelf.png") no-repeat 0 0/cover;
      height: 522px;
      width: 450px;
      position: relative;
      margin-top: 0%;
    } 
  }   
}
 
@media all and (min-width: 768px) and (max-width: 1024px) {
  .dashboard_page .ch {
    position: absolute;
    top: 39%;
    left: 9%;
  }
  .dashboard_page .dash {
    position: relative;
    color: #1F1C1C;
    text-align: center;
    top: 119px;
  }
  .dashboard_page .txt {
    text-align: left;
    margin-top: 150px;
    margin-left: 5%;
  }

  .dashboard_page .book {
    width: 400px;
    height: 500px;
    position: relative;
    left: 16%;
    top: 6em;
  }

  .dashboard_page .ag {
    top: 47.3%;
  }

  .dashboard_page .af {
    top: 61.4%;
  }

  .dashboard_page .b {
    top: 61.4%;
  }

  .dashboard_page .d {
    top: 61.4%;
  }

  .dashboard_page .s {
    top: 76.5%;
  }

  .dashboard_page .m {
    top: 76.5%;
  }

  .dashboard_page .o {
    top: 76.5%;
  }

  .content-wrapper {
    width: 570px;
  }
}  