.documents_flip {
  position: relative;
  top: 14em;
  left: -1em;
  .description-agreement {
    width: 400px;
    height: 570px;
    background: image-url('Agreement.png');
    background-repeat: no-repeat;
    position: absolute;
    top: -14em;
    display: block;
    margin: 0 auto;
    left: 22em;
  }

  .description-bond {
    width: 400px;
    height: 570px;
    background: image-url('Bonds.png');
    background-repeat: no-repeat;
    position: absolute;
    top: -14em;
    display: block;
    margin: 0 auto;
    left: 22em;
  }

  .description-deed {
    width: 400px;
    height: 570px;
    background: image-url('Deeds.png');
    background-repeat: no-repeat;
    position: absolute;
    top: -14em;
    display: block;
    margin: 0 auto;
    left: 22em;
  }
  .selection-box {
    background: #DBDAD5;
    width: 300px;
    height: 40px;
    margin: 0 auto;
    position: relative;
    top: 13em;
  } 

  h4.text-center.affidavit_txt {
    color: #fff;
    font-size: 30px;
    position: relative;
    margin: 0 auto;
    top: 3em;
  }

  input#query {
    width: 300px;
    height: 40px;
    padding: 6px;
  }

  input#query:focus {
    width: 300px;
    height: 40px;
    padding: 6px;
    border: 1px solid #ebebeb !important;
    background-color: #fff !important;
  }

  input.pull-left.tt-hint {
    padding: 6px;
    width: 300px;
    height: 40px;
  }

  .tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    width: 300px;
    // padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #DBDAD5;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    max-height: 500px;
    overflow-y: auto;
    .no-result{
      background: red;
      color: transparent;
      padding: 5px 0;
    }
  h3{
    text-align: left;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: bold;
    }
  }
  .tt-menu{
    border-radius: 0;
    width: 300px;
  }
  .tt-suggestion {
    display: block;
    padding: 5px 20px;
    clear: both;
    text-align: left;
    border-bottom: 1px solid #eee;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
  }
  .tt-suggestion:hover,
  .tt-suggestion:focus,
  .tt-suggestion.tt-cursor {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
  }

  .description-affidavit {
    width: 400px;
    height: 570px;
    background: image-url("Affidavits.png");
    background-repeat: no-repeat;
    position: absolute;
    top: -14em;
    display: block;
    margin: 0 auto;
    left: 22em;
  } 

  button.start {
    width: 150px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #22B3A4;
    background-color: #22B3A4;
    color: white;
    border-radius: 0;
    position: absolute;
    left: 30%;
    top: 70%;
  }

  .next {
    width: 50px;
    margin: -5.2em -1em;
    padding: 5px;
    border: 1px solid #22B3A4;
    background-color: #22B3A4;
    color: white;
    border-radius: 0;
    cursor: pointer;
    text-align: center;
    z-index: 999;
  }

  .document-form {
    width: 972px;
    height: 488px;
    position: relative;
    bottom: 17em;
    background: image-url('book.png');
    padding: 3em 2em 6em 3.5em;
    border: 1px solid #C1C1C1;
    box-shadow: inset 0.1rem 0rem 1rem rgba(0, 0, 0, 0.2);
    left: -5em;
  }
    
  button.ui-datepicker-trigger {
    position: absolute;
    top: 0;
    right: 3em;
    height: 30px;
    width: 28px;
    background: #656464;
    border: 0;
  }
  #errmsg{
    color: red;
  }
  

  .questionaire.form-question {
    padding: 5em;
  }

  .col-md-12.content-part {
    padding: 50px;
    height: 350px;
  }

  div#hint {
    position: relative;
    left: 52%;
    top: -4em;
  }

  .doc-hint {
    position: absolute;
    right: 20em;
  }

  .layer,.next,.submit{
    display: none;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #BBBABA;
  }

  .input_styling{
    width: 250px;
    padding: 0.3em;
    background: #888585;
    border: 0;
    color: #fff;
    font-size: 15px;
  }
  
  .para_style{
    font-size: 10px;
  }
  
  .circle {
      border: 2px solid #A1A1A1;
      height: 30px;
      width: 30px;
      border-radius: 0;
      background: #fff;
  }

  .radio.radio-primary {
    display: inline-block;
    padding: 1em;
    top: -2em;
    left: -1.8em;
  }

  div#format {
    position: relative;
    width: 100%;
    bottom: 3em;
    // z-index: 999;
  }

  .layer-question.layer {
    height: 30px;
    margin-bottom: 3em;
  }

  div#padd_style {
    position: relative;
    // top: -1em;
  }
  input.submit {
    width: 90px;
    height: 90px;
    background: #f16224;
    border: 0;
    position: absolute;
    color: #fff;
    bottom: -2em;
    right: -3em;
    border-radius: 100%;
  } 
  input:focus{
    border: 1px solid #f16224!important;
    background-color: gray !important;
  }​
  form.delivery_info {
    width: 500px;
    height: 500px;
    position: relative;
    bottom: 23em;
    margin: 0 auto;
    background: #D5D5D5;
    padding: 2em;
  }

  input.input_bg {
    display: block;
    width: 400px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: transparent;
    background-image: none;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    margin-bottom: 1em;
    border-bottom: 1px solid #6F6F6F;
  }

  button.btn.btn-primary.btn_submit {
    border: 0;
    border-radius: 0;
    width: 100px;
    font-size: 1.5em;
    position: absolute;
    right: 1em;
    background: #22B3A4;
  }

  .modal-header {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -4em;
    right: -1em;
    z-index: 99;
  }

  .close.close_style {
    float: right;
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    filter: alpha(opacity=20);
  }

  input.submit.deeds {
      width: 100px;
      height: 40px;
      background: #f16224;
      border: 0;
      position: absolute;
      color: #fff;
      bottom: -4em;
      right: 3em;
  }

  .input-append {
    width: 250px;
    border: 0;
    font-size: 15px;
    height: 30px;
    background: #888585;
  }

  select.select_option {
    width: 250px;
    border: 0;
    color: #fff;
    background: #888585;
    margin: 6px 0;
  }

  input.submit:focus {
    background: #f16224 !important;
    border: 0;
    color: #fff;
  }
} 
@media only screen and (min-width: 1919px) and (max-width: 1921px) {
  .documents_flip {
    .modal-header {
      width: 50px;
      height: 50px;
      position: absolute;
      top: -4em;
      right: -1em;
      z-index: 99;
    }

    .close.close_style {
      float: right;
      font-size: 50px;
      font-weight: bold;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: 0.2;
      filter: alpha(opacity=20);
    }
    .row.clearfix.agreement_wrapper {
      width: 800px;
      position: absolute;
      top: 17em;
      left: 30em;
    }

    .document-form {
      width: 1000px;
      height: 570px;
      position: relative;
      bottom: 11em;
      background: image-url('book.png');
      padding: 3em 2em 6em 2em;
      border: 1px solid #C1C1C1;
      box-shadow: inset 0.1rem 0rem 1rem rgba(0, 0, 0, 0.2);
      left: 6em;
    }

    button.start {
      width: 150px;
      margin: 0 auto;
      padding: 5px;
      border: 1px solid #22B3A4;
      background-color: #22B3A4;
      color: white;
      border-radius: 0;
      position: absolute;
      // right: 31em !important;
      // top: 14em;
      left: 33%;
    }
    .next {
      width: 50px;
      // margin: 45em 29em;
      padding: 5px;
      border: 1px solid #22B3A4;
      background-color: #22B3A4;
      color: white;
      border-radius: 0;
      cursor: pointer;
      text-align: center;
    }
    .description-agreement {
      width: 400px;
      height: 570px;
      background: image-url('Agreement.png');
      background-repeat: no-repeat;
      position: absolute;
      top: -7em;
      display: block;
      margin: 0 auto;
      left: 31em;
    }
    .description-bond {
      width: 400px;
      height: 570px;
      background: image-url('Bonds.png');
      background-repeat: no-repeat;
      position: absolute;
      top: -7em;
      display: block;
      margin: 0 auto;
      left: 31em;
    }
    .description-deed {
      width: 400px;
      height: 570px;
      background: image-url('Deeds.png');
      background-repeat: no-repeat;
      position: absolute;
      top: -7em;
      display: block;
      margin: 0 auto;
      left: 31em;
    }
    .description-affidavit {
      width: 400px;
      height: 570px;
      background: image-url('Affidavits.png');
      background-repeat: no-repeat;
      position: absolute;
      top: -7em;
      display: block;
      margin: 0 auto;
      left: 31em;
    }

    input.submit.deeds {
        position: absolute;
        bottom: -4em !important;
        right: 3em !important;
    }
  }
}
@media only screen and (min-width: 1362px) and (max-height: 597px){
  .documents_flip {
    .description-agreement {
      
      top: -14.5em!important;
     
    } 
    button.start {
    left: 24em!important;
  }
  button.ui-datepicker-trigger {
    right: 4em!important;
    
  }
  }
}

