
.dvault_category_inner_bg{
  background-image: image-url("dvault_categories_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
    nav.navbar.navbar-default.side-top-nav {
      position: absolute;
      width: 100%;
      left: 0;
      background-color: transparent;
      border-bottom: 1px solid #000 !important;
      height: 20px;
      border: 0;
    }
    ul.nav.navbar-nav.nav-stacked {
      width: 200px;
      position: absolute;
      left: 0;
      height: 100vh;
      // background:-webkit-linear-gradient(180deg, #fd8727, #fdbb33);
      // background: -o-linear-gradient(180deg, #fdbb33, #fd8727); /* For Opera 11.1 to 12.0 */
      // background: -moz-linear-gradient(180deg, red, #fd8727); /* For Firefox 3.6 to 15 */
      background: #ed1c24;
      display: block !important;
    }
    .nav-stacked li {
      width: 200px;
      height: 35px;
      text-align: left;
      position: relative;
      top: 16em;
    }
    a.navbar-brand {
      text-align: center !important;
      font-size: 25px;
      color: #fff !important;
      position: absolute;
      z-index: 999;
      left: 0;
      width: 200px;
      height: 49px;
      border-bottom: 1px solid #000;
    }
    .navbar-nav li a {
      height: 49px;
      padding: 8px 12px;
    }
    .form-group.search-bar {
      position: relative;
      top: -0.5em;
      color: #fff;
      background: transparent;
    }
    input.form-control.input-style {
      position: relative;
      top: 0em;
      color: white;
      background: transparent;
      width: 220px;
      border: none;
      padding: 10px;
    }
    input.form-control.input-style:focus {
      position: relative;
      top: 0em;
      color: white;
      background: transparent;
      width: 220px;
      border: none;
      padding: 10px;
    }
    .login_wrapper {
      position: absolute;
      top: 6em;
      left: 2em;
    }
    .login_wrapper img {
      border-radius: 90px;
      border: 6px solid #fff;
      margin: 0 auto;
      position: relative;
      left: 1.5em;
    }
    li.act-style {
      background-color: rgba(21, 20, 20, 0.53);
      height: 20px;
    }
    .navbar-default .navbar-nav.nav-stacked>li>a {
      color: #FBFBFB;
      padding: 0.5em 2em !important;
      height: 35px;
    }
    .navbar-default .navbar-nav.nav-stacked>li>a:active {
      color: #FBFBFB;
      padding: 0.5em 3em;
      height: 35px;

    }
    .navbar-default .navbar-nav.nav-stacked>li>a:focus {
      color: #FBFBFB;
      padding: 0.5em 3em;
      height: 35px;
    }
    .dropdown img {
      border-radius: 40px;
    }

    .body-wrapper {
      float: right;
      top: 5em;
    }
  
  /******* Circle CSS *********/
  .circle-container {
    position: absolute;
    width: 24em;
    height: 24em;
    padding: 2.8em;
    border-radius: 50%;
    margin: 4em auto;
    left: 40%;
    margin-top: 10%;
  }
  .circle-container a {
    display: block;
    /* overflow: hidden; */
    color: #fff;
    text-align: center !important;
    position: absolute;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em; /* 2em = 4em/2 */ /* half the width */
    text-decoration: none;
  }
  .circle-container img { display: block; width: 100%; }
  .deg45 { 
    transform: translate(12em); 
    -webkit-transform: translate(12em); 
  } /* 12em = half the width of the wrapper */
  .deg90 { 
    transform: rotate(45deg) translate(12em) rotate(-45deg);
    -webkit-transform: rotate(45deg) translate(12em) rotate(-45deg);  
  }
  .deg135 { 
    transform: rotate(135deg) translate(12em) rotate(-135deg);
    -webkit-transform:  rotate(135deg) translate(12em) rotate(-135deg);
  }
  .deg180 { 
    transform: translate(-12em);
    -webkit-transform:  translate(-12em);
  }
  .deg225 { 
    transform: rotate(225deg) translate(12em) rotate(-225deg);
    -webkit-transform:  rotate(225deg) translate(12em) rotate(-225deg);
  }
  .deg270 { 
    transform: rotate(315deg) translate(12em) rotate(-315deg);
    -webkit-transform:  rotate(315deg) translate(12em) rotate(-315deg);
  }
  .deg315 { 
    transform: rotate(450deg) translate(12em) rotate(-450deg);
    -webkit-transform:  rotate(450deg) translate(12em) rotate(-450deg);
  }
  .deg360 { 
    transform: rotate(630deg) translate(12em) rotate(-630deg);
    -webkit-transform:  rotate(630deg) translate(12em) rotate(-630deg);
  }


  /* this is just for showing the angle on hover */
  .circle-container a:not(.center):before {
    position: absolute;
    width: 4em;
    color: white;
    opacity: 0;
    background: rgba(0,0,0,.5);
    font: 1.25em/3.45 Courier, monospace;
    letter-spacing: 2px;
    text-decoration: none;
    text-indent: -2em;
    text-shadow: 0 0 .1em deeppink;
    transition: .7s; /* only works in Firefox */
    content: attr(class)'°';
  }
  a.deg0 {
    position: absolute;
    top: 8em !important;
  }

  a.deg405 {
    position: absolute;
    top: 16em !important;
  }

  .circle-container a:hover{
    box-shadow: 0 0px 17px 0 rgba(247, 245, 245, 0.58), 0 6px 20px 0 rgb(117, 116, 116);
    border-radius: 100%;
  }
} 
@media only screen and (min-width: 1919px) and (max-width: 1921px) {
  .dvault_category_inner_bg .circle-container a {
    top:24em;
  }
  .dvault_category_inner_bg a.deg0 {
    top: 20em !important;
  }
  .dvault_category_inner_bg a.deg405 {
    top: 27em !important;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .dvault_category_inner_bg .circle-container {
      left: -11%;
      top: 12em;
  }
}