.evault_dashboard_inner_bg{
  background-image: image-url("dvault_landing_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  nav.navbar.navbar-default.side-top-nav {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: transparent;
    border-bottom: 1px solid #000;
    height: 20px;
    z-index: 999;
  }

  ul.nav.navbar-nav.nav-stacked {
    width: 200px;
    position: absolute;
    left: 0;
    height: 100vh;
    // background:-webkit-linear-gradient(180deg, #fd8727, #fdbb33);
    // background: -o-linear-gradient(180deg, #fdbb33, #fd8727); /* For Opera 11.1 to 12.0 */
    // background: -moz-linear-gradient(180deg, red, #fd8727); /* For Firefox 3.6 to 15 */
    background: #ed1c24; 
    display: block !important;
  }

  .nav-stacked li {
    width: 200px;
    height: 35px;
    text-align: left;
    position: relative;
    top: 16em;
  }

  a.navbar-brand {
    text-align: center !important;
    font-size: 25px;
    color: #fff !important;
    position: absolute;
    z-index: 999;
    left: 0;
    width: 200px;
    height: 49px;
    border-bottom: 1px solid #000;
  }

  .navbar-nav li a {
      height: 49px;
      padding: 8px 12px;
  }

  .form-group.search-bar {
    position: relative;
    top: -0.5em;
    color: black;
    background: transparent;
  }
  input.form-control.input-style {
    position: relative;
    top: 0em;
    color: white;
    background: transparent;
  }
  .login_wrapper {
    position: absolute;
    top: 6em;
    left: 2em;
  }

  .login_wrapper img {
    border-radius: 90px;
    border: 6px solid #fff;
    margin: 0 auto;
    position: relative;
    left: 1.5em;
  }

  li.act-style {
    background-color: rgba(21, 20, 20, 0.53);
    height: 20px;
  }

  .navbar-default .navbar-nav.nav-stacked>li>a {
    color: #FBFBFB;
    padding: 0.5em 3em;
    height: 35px;
  }

  .navbar-default .navbar-nav.nav-stacked>li>a:active {
    color: #FBFBFB;
    padding: 0.5em 3em;
    height: 35px;
  }

  .navbar-default .navbar-nav.nav-stacked>li>a:focus {
    color: #FBFBFB;
    padding: 0.5em 3em;
    height: 35px;
  }

  .dropdown img {
    border-radius: 40px;
  }

  .body-wrapper {
      float: right;
      top: 5em;
  }

  input.form-control.input-pin-style {
    background: rgba(241, 36, 36, 0.36);
    color: #fff !important;
    border-radius: 0;
    border: 0;
    padding: 6px 12px;
    font-size: 20px;
    width: 100%;
    /* margin: 0 auto; */
    /* position: relative; */
    /* top: 6em; */
    margin-bottom: 1em;
    height: 60px;
  }

  button.btn.btn-default.next-btn {
    /* position: relative; */
    border: 1px solid #fff;
    /* top: 16em; */
    width: 100%;
    border-radius: 0;
    color: #fff;
    margin: 7% auto !important;
    /* right: 435px; */
    /* left: 33%; */
  }
  
  input.form-control.input-pin-style1 {
    background: rgba(241, 36, 36, 0.36);
    color: #fff !important;
    border-radius: 0;
    border: 0;
    padding: 6px 12px;
    font-size: 20px;
    width: 100%;
    /* margin: 0 auto; */
    /* position: relative; */
    /* top: 10em; */
    /* right: 2em; */
    height: 60px;
  }

  
  // input.form-control.input-pin-style1::-moz-placeholder { 
  //   color:#FFF !important; 
  //    opacity: 1 !important; 
  // }
  
  p.vault_txt {
    color: #fff;
    position: absolute;
    top: 19em;
    left: 19em;
    text-align: justify;
  }

  .content_style {
    display: inline-flex;
    color: #fff;
    position: absolute;
    top: 10em;
    left: 19em;
  }

  h1.sub-headclr {
      position: absolute;
      top: -0.5em;
      left: 3em;
  }

  h4.tag-content {
      position: relative;
      top: 2em;
      left: 2.5em;
  }
  
  h2.log-color.register-text {
    color: #fff;
    // position: relative;
    // text-align: center;
    // top: 4em;
  }

  .wrapper_style {
      width: 500px;
      color: #fff;
      margin-top: 27%;
  }

  button.btn.btn-default.next-btn1 {
    // position: relative;
    border: 1px solid #fff;
    /* top: 16em; */
    width: 100%;
    border-radius: 0;
    color: #fff;
    /* margin: 0 auto !important; */
    /* right: 435px; */
    /* left: 33%; */
  }

  .headin_wrapper {
      margin: -6em 6em;
  }

  p.para_style {
      margin-top: 25%;
  }

  span.forgot_txt {
    position: relative;
    /* bottom: -21em; */
    left: 37%;
    color: #fff;
    cursor: pointer;
  }

  .div_style1 {
      width: 300px;
      text-align: center;
      margin: 0 auto;
      position: relative;
      left: 30%;
      top: 15em;
  }

  .pin_form_style {
      width: 300px;
      text-align: center;
      margin: 0 auto;
      position: relative;
      top: 8em;
  }
}

#forgotPin{
  .forgot_modal{
    background-image: image-url("dvault_landing_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 30%;
    height: 300px;
    border-left: 0;
    color: #fff;
  }

  button.close {
      position: relative;
      z-index: 999;
      color: #fff;
  }

  .send_otp input {
    width: 300px;
    margin-bottom: 1em;
    height: 40px;
    padding: 6px 12px !important;
    background: rgba(241, 36, 36, 0.36);
    color: #fff !important;
    border-radius: 0;
    border: 0;
    padding: 1.5em;
    font-size: 20px;
    margin: 0 auto;
    position: relative;
    height: 60px !important;
  }

  button.submit_btn {
      border-radius: 0;
      width: 300px;
      background: transparent;
      border: 1px solid #fff;
      padding: 0.5em;
      color: #fff;
      margin-top: 5%;
  }

  .forgot_input_style {
      width: 300px;
      margin: 0 auto;
  }

  input#otp_number {
      width: 300px;
      margin-bottom: 1em;
      height: 40px;
      padding: 6px 12px !important;
      background: rgba(241, 36, 36, 0.36);
      color: #fff !important;
      border-radius: 0;
      border: 0;
      padding: 1.5em;
      font-size: 20px;
      margin: 0 auto;
      position: relative;
      height: 60px !important;
  }
}

#newPin{
  margin-top: -6%;
  .forgot_modal{
    background-image: image-url("dvault_landing_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 30%;
    height: 300px;
    border-left: 0;
    color: #fff;
  }

  button.close {
      position: relative;
      z-index: 999;
      color: #fff;
  }

  .send_otp input {
    width: 300px;
      margin-bottom: 1em !important;
      height: 40px;
      padding: 0.5em;
      background: rgba(241, 36, 36, 0.36);
      color: #fff !important;
      border-radius: 0;
      border: 0;
      padding: 1.5em;
      font-size: 20px;
      margin: 2% auto !important;
      position: relative;
  }

  button.submit_btn {
      border-radius: 0;
      width: 300px;
      background: transparent;
      border: 1px solid #fff;
      padding: 0.5em;
      color: #fff;
      margin-top: 5%;
  }
}

@media only screen and (min-width: 1917px) and (max-width: 1921px) {
  .evault_dashboard_inner_bg h2.log-color.register-text {
    position: relative;
    text-align: center;
    top: 80px;
    float: left;
  }

  .evault_dashboard_inner_bg input.form-control.input-pin-style {
      font-size: 15px;
      width: 275px;
      margin: 0 auto;
      position: relative;
      top: 7em;
      margin-bottom: 1em;
      left: -5em;
  }

  .evault_dashboard_inner_bg button.btn.btn-default.next-btn1 {
      position: absolute;
      border: 1px solid #fff;
      top: 320px;
      width: 275px;
      border-radius: 0;
      color: #fff;
      margin: 0 auto !important;
      right: 88px;
  }

  .evault_dashboard_inner_bg input.form-control.input-pin-style1 {
      background: rgba(241, 36, 36, 0.36);
      color: #fff !important;
      border-radius: 0;
      border: 0;
      padding: 6px 12px;
      font-size: 20px;
      width: 275px;
      margin: 0 auto;
      position: relative;
      top: 17px;
      right: -32%;
  }

  .evault_dashboard_inner_bg button.btn.btn-default.next-btn {
    position: relative;
    border: 1px solid #fff;
    top: 3em;
    margin: 0 auto !important;
    /* right: 435px; */
    left: 33%;
  }
  span.forgot_txt {
      position: relative;
      /* bottom: -21em; */
      left: 70% !important;
      top: 4em !important;
      color: #fff;
      cursor: pointer;
  }

  .dvault_category_inner_bg .circle-container {
      left: 44% !important;
      margin-top: 5% ;
  }
}
  
@media all and (min-width: 768px) and (max-width: 1024px) {
  .evault_dashboard_inner_bg input.form-control.input-pin-style1 {
      position: relative;
      top: 10em;
      right: 6em;
  }

  .evault_dashboard_inner_bg button.btn.btn-default.next-btn1 {
      right: 44%;
  }
}
@media only screen and (min-width: 1362px) and (max-height: 597px){
  .evault_dashboard_inner_bg button.btn.btn-default.next-btn {
    right: 470px!important;
  }
  .evault_dashboard_bg .card {
    height: 300px!important;
  }
}