.evault_dashboard_bg{
  background-image: image-url("new_images/dashboard_pattern.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
    nav.navbar.navbar-default.side-top-nav {
      position: absolute;
      width: 100%;
      left: 0;
      background-color: transparent;
      border-bottom: 1px solid #000;
      height: 20px;
    }

    ul.nav.navbar-nav.nav-stacked {
      width: 200px;
      position: fixed;
      left: 0;
      height: 100vh;
      // background:-webkit-linear-gradient(180deg, #fd8727, #fdbb33);
      // background: -o-linear-gradient(180deg, #fdbb33, #fd8727); /* For Opera 11.1 to 12.0 */
      // background: -moz-linear-gradient(180deg, red, #fd8727); /* For Firefox 3.6 to 15 */
      background: #ed1c24; 
      display: block !important;
    }

    .nav-stacked li {
        width: 200px;
        height: 35px;
        text-align: left;
        position: relative;
        top: 16em;
    }

    a.navbar-brand {
        text-align: center !important;
      font-size: 25px;
      color: #fff !important;
      position: absolute;
      z-index: 1;
      left: 0;
      width: 200px;
      height: 49px;
      border-bottom: 1px solid #000;
    }

    .navbar-nav li a {
        height: 49px;
        padding: 8px 12px;
    }

    .form-group.search-bar {
        position: relative;
        top: -0.5em;
        color: black;
        background: transparent;
    }

    input.form-control.input-style {
        background: transparent;
        color: #000;
        border: 0;
        height: 37px;
    }

    input.form-control.input-style:focus {
        background: transparent;
        color: #000;
        border: 0;
        height: 37px;
    }

    .login_wrapper {
        position: absolute;
        top: 6em;
        left: 2em;
    }

    .login_wrapper img {
        border-radius: 90px;
        border: 6px solid #fff;
        margin: 0 auto;
        position: relative;
        left: 1.5em;
    }

    li.act-style {
        background-color: rgba(21, 20, 20, 0.53);
        height: 20px;
    }

    .navbar-default .navbar-nav.nav-stacked>li>a {
        color: #FBFBFB;
        padding: 0.5em 3em;
        height: 35px;
    }

    .navbar-default .navbar-nav.nav-stacked>li>a:active {
        color: #FBFBFB;
        padding: 0.5em 3em;
        height: 35px;

    }

    .navbar-default .navbar-nav.nav-stacked>li>a:focus {
        color: #FBFBFB;
        padding: 0.5em 3em;
        height: 35px;

    }
    
    // a.dropdown-toggle {
    //     color: #fff !important;
    // }

    // a.dropdown-toggle:hover {
    //     color: #fff !important;
    // }

    .dropdown img {
        border-radius: 40px;
    }

    .body-wrapper {
        float: right;
        top: 5em;
    }

    button.list {
        background: #BDBDBD;
        border: 0;
        width: 40px;
        height: 40px;
        position: absolute;
    }

    button.grid {
        
        border: 0;
        width: 40px;
        height: 40px;
        background-color: #BDBDBD;
    }
    button.grid.active, button.list.active {
      background: #2b2c2c;
    }

    ul.sort-wrapper {
        list-style: none;
        display: inline; 
        height: 50px;
    }

    ul.sort-wrapper li {
        display: inline;
    }

    .buttons {
        display: inline-flex;
        display: -webkit-inline-flex;
        position: absolute;
        // z-index: 999;
        /* left: 0em; */
      i{
        color: white;
      }
    }

    li.dropdown.list-sort {
      background: #BDBDBD;
      width: 80px;
      height: 40px !important;
      text-align: center;
      padding: 12px;
      left: 6em;
      position: relative;
    }

    a:focus, a:hover {
        /* color: #23527c; */
        text-decoration: none !important;
    }

    i.fa.icon-fa.fa-angle-down.drop-angle {
        color: #524C4A;
        font-size: 20px;
    }

    h2.text-center.category-head {
        position: relative;
        top: -1.2em;
        left: 0;
        border-bottom: 5px solid #E94343;
        /* display: inline-block; */
        width: 400px;
        margin: 0 auto;
        height: 30px;
        padding: 0px 0px 34px;
    }

    /*li.pull-right.upload-doc {
        background: #2b2c2c;
        height: 40px;
        padding: 1em;
        display: -webkit-box;
        color: #fff;
        position: absolute;
        right: 10em;
        top: 0;
    }*/

    li.dropdown.edit-style {
        position: absolute;
      right: 7.9em;
      font-size: 20px;
      top: 0.5em;
      color: #FDAF30 !important;
    }

    li .edit-style a{
      color: yellow !important;
    }

    .tab-content.card {
        position: relative;
        top: 0em;
    }
    /*    tab -content css */

    .nav-tabs { 
      border-bottom: 2px solid #DDD; 
    }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { 
      border-width: 0; 
    }

    .nav-tabs > li > a { 
      border: none; 
      color: #666; 
    }

    .nav-tabs > li.active > a, .nav-tabs > li > a:hover { 
      border: none; 
      color: #4285F4 !important; 
      background: transparent; 
    }
    .nav-tabs > li > a::after { 
      content: ""; 
      background: #4285F4; 
      height: 2px; 
      position: absolute; 
      width: 100%; 
      left: 0px; 
      bottom: -1px; 
      transition: all 250ms ease 0s; 
      transform: scale(0); 
    }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { 
      transform: scale(1); 
    }
    .tab-nav > li > a::after { 
      background: #21527d none repeat scroll 0% 0%; 
      color: #fff; 
    }
    .tab-pane { 
      padding: 15px 0; 
    }
    .tab-content{
      padding:20px;
    }

    .card {
      background: #DEDDDA none repeat scroll 0% 0%;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
      margin-bottom: 30px;
      height: 480px;
      border-radius: 0 !important;
      z-index: 1;
      width: 82.5%;
    }

    .container-wrapper {
        height: 400px !important;
        position: relative !important;
        // z-index: 999 !important;
    }

    .container-wrapper ul { 
      list-style: none; 
    }

    .container-wrapper .buttons { 
      margin-bottom: 20px; 
    }

    .container-wrapper .list li { 
      // width: 80%;
      border: 1px solid #E6E6E6;
      margin-bottom: 18px;
      padding-bottom: 18px;
      padding: 1em;
      background: #fff; 
    }

    .container-wrapper .grid li { 
      float: left;
      width: 180px;
      height: 160px;
      border-right: 1px solid #ebebeb;
      background: #fff;
      padding: 20px;
      margin: 2em;
    }

    .grid li .edit_option {
      position: absolute;
      margin: -1em;
      top: 9em;
      left: 0.5em;
    }

    .grid .doc_wrapper {
      position: absolute;
      left: 0em;
      div{
        display: inline-block;
        margin-top: 2%;
        margin-left: 5%;
      }
    }

    label.checkbox_style {
      position: absolute;
      top: -2em;
      left: -2em;
    }

    .doc_wrapper {
      position: relative;
      left: 2em;
      div{
        display: inline-block;
        margin-left: 10%;
      }
      div:first-child{
        margin-left: 2%;
      }
    }

    .edit_option {
        position: absolute;
        top: 0;
        right: 0;
    }

    .print-wrapper {
        // width: 100%;
        height: 27px;
        border: 1px solid #2b2c2c;
        padding: 0.2em;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        position: absolute;
        right: 40px;
    }

    .print-wrapper:hover {
        // width: 100%;
        height: 27px;
        border: 1px solid #2b2c2c;
        padding: 0.2em;
        font-size: 16px;
        color:#fff;
        background: #000;
        text-align: center;
        cursor: pointer;
        position: absolute;
        right: 40px;
    }

    .grid .print-wrapper {
        width: 100px;
        font-size: 14px;
        position: absolute;
        top: 6em;
        left: 0em;
    }

    .grid .print-wrapper:hover {
        width: 100px;
        font-size: 14px;
        position: absolute;
        top: 6em;
        left: 0em;
        background: #000;
    }

    .footer-layout {
        display: inline-flex;
        position: absolute;
        top: -1em;
    }

    .checkbox.chk-box {
      font-size: 16px;
      height: 30px;
      position: relative;
      top: -0.5em;
    }

    .zip-doc {
        cursor: pointer;
        width: 125px;
        height: 27px;
        border: 1px solid #2b2c2c;
        padding: 0.2em;
        font-size: 16px;
        text-align: center;
        position: absolute;
        left: 18em;
    }

    .scroll-style{
      height: 290px;
      overflow-y: scroll;
    }

    .btn {
      width: 200px;
      height: 40px;
      background-color: #fff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 0;
      top: -1.5em;
      bottom: 0;
      left: 59em;
      right: 0;
      margin: auto;
      position: absolute;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all .4s ease;
      -moz-transition: all .4s ease;
      -o-transition: all .4s ease;
      transition: all .4s ease;
    }

    .icon-bg{
      width: 40px;
      height: 40px;
      top: 0;
      bottom: 0;
      left: 54em;
      right: 0;
      margin: auto;
      position: absolute;
      cursor: pointer;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }

    .icon-bg.active {
      bottom: 440px;
      left: 704px;
      -webkit-transform: rotate(225deg);
      -moz-transform: rotate(225deg);
      -o-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      transform: rotate(225deg);
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }
    
    .upload_doc_wrapper.text-center {
        // display: inline-flex;
        width: 200px;
        height: 40px;
        left: -3.2em;
        position: absolute;
        top: -1em;
    }

    .upload_doc_wrapper.text-center:active {
        // display: inline-flex;
        width: 200px;
        height: 40px;
        left: -3.2em;
        position: absolute;
        top: -1em;
    }

    .btn:not(.btn-link):not(.btn-flat), .btn-default:not(.btn-link):not(.btn-flat) {
        background-color: #2B2C2C;
        color: rgba(0, 0, 0, 0.84);
    }

    .icon {
      width: 40px;
      height: 8px;
      background-color: #f16224;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      display: none;
    }
    
    .close_wrapper {
      width: 40px;
      height: 8px;
      background-color: #020202;
      top: -2em;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }

    .close_wrapper:before {
      content: "";
      background-color: #000;
      height: 40px;
      width: 8px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }
    
    .close_style h1 {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0em;
        font-size: 41px;
        top: -0.5em;
        cursor: pointer;
    }
    
    .box-upload {
      height: 0;
      width: 0;
      background-color: #ecedee;
      top: 0;
      bottom: 0;
      left: 30px;
      margin: auto;
      position: absolute;
      opacity: 0;
    }

    .box-upload.active {
      height: 250px;
      width: 300px;
      opacity: 1;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
      -webkit-transition-delay: .4s;
      transition-delay: .4s;
      position: absolute;
      top: -6em;
    }
    
    .input_append {
        width: 300px;
        /* color: #fff; */
        background: #ECEDEE;
        border-radius: 0;
        border: 0;
        height: 30px;
        animation-duration: 1s;
        animation-name: fadeInRight;
    }

    select.select_style {
        // position: absolute;
        width: 300px;
        /* color: #fff; */
        background: #ECEDEE;
        border-radius: 0;
        border: 0;
        height: 30px;
        animation-duration: 1s;
        animation-name: fadeInRight;
    }

    .box-upload-ing {
      height: 0%;
      width: 300px;
      bottom: 0;
      position: absolute;
      background-color: #525151;
    }

    .box-upload-ing.active {
      height: 100%;
      width: 300px;
      bottom: 0;
      position: absolute;
      background-color: #525151;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
    }

    input[type="file"] {
      padding: 2em;
      width: 300px;
      position: absolute;
      left: -3em;
      top: 2em;
    }

    .fileUpload {
      position: relative;
      overflow: hidden;
      margin: 10px;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    input.input-style {
        width: 300px;
        height: 30px;
        animation-duration: 1s;
        animation-name: fadeInRight;
    }

    input[type="text"]:focus {
      outline: none;
    }

    input[type="number"] {
      width: 100%;
      height: 50px;
      background-color: transparent;
      border: none;
      color: #525151;
      // font-family: 'latobold';
      font-weight: 700;
      font-size: 1.7em;
      text-align: center;
      overflow: hidden;
    }

    input[type="number"]:focus {
      outline: none;
    }

    .box-tags {
      width: 0px;
      height: 50px;
      background-color: #ecedee;
      top: 0;
      bottom: 168px;
      right: 30px;
      margin: auto;
      position: absolute;
      opacity: 0;
    }

    .box-tags.active {
      opacity: 1;
      width: 400px;
      height: 50px;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
      -webkit-transition-delay: .5s;
      transition-delay: .5s;
    }
    
    input#files {
          position: absolute;
          width: 150px;
          height: 180px;
          z-index: 999;
          top: 12%;
          left: 0;
          right: 0; 
          margin: 0 auto !important; 
          border: solid transparent;
          // border-width: 0 0 100px 200px;
          opacity: 0.0;
          filter: alpha(opacity = 0);
          // -o-transform: translate(250px, -50px) scale(1);
          // -moz-transform: translate(-300px, 0) scale(4);
          direction: ltr;
          cursor: pointer;
    }

    .upload_wrapper {
        // position: relative;
        /* top: 6%; */
        text-align: center;
        width: 200px;
        margin: 6% -16%;
    }


    .box-date {
      width: 0px;
      height: 50px;
      background-color: #ecedee;
      top: 0;
      bottom: 168px;
      right: 30px;
      margin: auto;
      position: absolute;
      opacity: 0;
    }

    .box-date.active {
      opacity: 1;
      width: 400px;
      height: 50px;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
      -webkit-transition-delay: .45s;
      transition-delay: .45s;
    }

    .private {
      width: 0px;
      height: 50px;
      background-color: #ecedee;
      top: 0px;
      bottom: -92px;
      left: 370px;
      margin: auto;
      position: absolute;
      cursor: pointer;
      opacity: 0;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }

    .private.active {
      width: 50px;
      height: 50px;
      opacity: 1;
      background-color: #ecedee;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
      -webkit-transition-delay: .55s;
      transition-delay: .55s;
      position: absolute;
      bottom: 2em;
    }

    .private-overlay {
      width: 0px;
      height: 0px;
      background-color: #2ecc71;
      position: absolute;
      opacity: 1;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }

    .private-overlay.active {
      width: 50px;
      height: 50px;
      background-color: #2ecc71;
      position: absolute;
      opacity: 1;
      top: 0;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: all 0s ease;
      -moz-transition: all 0s ease;
      -o-transition: all 0s ease;
      transition: all 0s ease;
      -webkit-transition-delay: .1s;
      transition-delay: .1s;
    }

    .private-overlay-wave {
      width: 0px;
      height: 0px;
      background-color: #2ecc71;
      position: absolute;
      opacity: 1;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .private-overlay-wave.active {
      width: 150px;
      height: 150px;
      background-color: #2ecc71;
      position: absolute;
      top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      opacity: 0;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  
    .private h1 {
      margin-left: 80px;
      color: #a9a9a9;
      font-family: 'latobold';
      margin-top: 4px;
    }

    .set-time-limit {
      width: 0px;
      height: 50px;
      background-color: #ecedee;
      top: 0px;
      bottom: 38px;
      left: 370px;
      margin: auto;
      position: absolute;
      opacity: 0;
    }

    .set-time-limit.active {
      width: 70px;
      height: 50px;
      opacity: 1;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
      -webkit-transition-delay: .6s;
      transition-delay: .6s;
    }
    .set-time-limit h1 {
      width: 200px;
      margin-left: 100px;
      color: #a9a9a9;
      margin-top: -50px;
    }

    .button {
      width: 0px;
      height: 50px;
      background-color: #ecedee;
      bottom: 75px;
      left: 370px;
      margin: auto;
      position: absolute;
      opacity: 0;
      border: none;
      cursor: pointer;
      font-weight: 900;
      color: #a9a9a9;
      font-size: 1.5em;
    }

    .button.active {
      width: 400px;
      height: 50px;
      opacity: 1;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
      -webkit-transition-delay: .65s;
      transition-delay: .65s;
      top: 9em;
    }

    button:focus {
      outline: none;
    }

    .button-overlay {
      width: 0px;
      height: 50px;
      background-color: #2ecc71;
      bottom: 0;
      left: 0;
      margin: auto;
      position: absolute;
      opacity: 0;
    }

    .button-overlay.active {
      width: 400px;
      height: 50px;
      opacity: 1;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
    }

    .input-style {
        background: #ECEDEE;
        border: 0;
        padding: 0.5em;
        width: 250px;
        /* color: #fff; */
    }
    
    img.image_upload {
        position: absolute;
        left: 1em;
        top: 1em;
    }

    p.upload_txt {
        position: absolute;
        color: #fff;
        left: 3em;
        top: 1em;
    }

    img.image_upload:active {
        position: absolute;
        left: 1em;
        top: 1em;
    }

    p.upload_txt:active {
        position: absolute;
        color: #fff;
        left: 3em;
        top: 1em;
    }
    i.fa.fa_styling {
        font-size: 1.5em;
        cursor: pointer;
    }
    .option_wrapper {
        width: 100px;
        position: absolute;
        right: 0;
        top: -2em;
      .edit,.delete{
        display: inline-block;
        margin-left: 10px;
      }
    }

    .modal-content.uload_content_style {
      // width: 700px; 
      margin-top: 30%;
      background: #f5f5f0;
      height: 300px;
    }

    div#upload {
      width: 150px;
      height: 150px;
      background: #ECEDEE;
      animation-duration: 1s;
      animation-name: fadeInLeft;
      margin: 12% auto;
      text-align: center;
    }

    button.submit_btn {
      width: 300px;
      height: 30px;
      border: 0;
      color: #fff;
      animation-duration: 1s;
      animation-name: fadeInRight;
      background-color: #8C8B8B;
      font-weight: bold;
    }

    button.close {
      // margin-top: -6%;
      font-size: 30px;
      color: #000 !important;
    }

    button.back_btn {
        padding: 10px;
        border-radius: 0;
        background: #C0C0C0;
        border: 0;
        height: 40px;
        margin: 0em 1em;
    }

    a button.back_btn {
        color: #000;
        text-decoration: none;
    }

    .upload_doc_style {
      width: 150px;
      height: 150px;
    }

    .fa p.doc_dvault_txt {
        display: inline;
        font-weight: bold;
        font-family: 'PFBeauSansPro';
    }

    span.border_style {
        border-bottom: 1px solid #000;
        position: absolute;
        width: 460px;
        left: -7%;
        right: 0;
        top: 106%;
    }

    .dvault_blank.center-block {
      width: 80%;
      text-align: center;
      margin-top: 1%;
    }

    .radio.radio-primary.radio_btn_style {
        display: inline;
    }

    .radio_btn_wrapper {
        width: 140px;
        margin: 4% auto;
    }

    button.delete-confirmation {
        border: 0;
        border-radius: 0;
        width: 100px;
        padding: 10px;
        background: #9A9994;
        color: #fff;
        margin: 0 39%;
    }

    .modal-content.modal_confirmation {
        height: 240px;
        margin-top: 30%;
    }

    .circle {
        background: transparent;
    }

    .delete_wrapper {
        cursor: pointer;
    }

    .delete_wrapper {
        cursor: pointer;
        width: 125px;
        height: 27px;
        border: 1px solid #2b2c2c;
        padding: 0.2em;
        font-size: 16px;
        text-align: center;
        position: absolute;
        left: 45.8em;
        top: 0;
    }

    .delete_wrapper:hover {
        background: #000;
        color: #fff;
    }

    .mail_wrapper {
        cursor: pointer;
        width: 125px;
        height: 27px;
        border: 1px solid #2b2c2c;
        padding: 0.2em;
        font-size: 16px;
        text-align: center;
        position: absolute;
        left: 32em;
        top: 0;
    }

    .mail_wrapper:hover {
        background: #000;
        color: #fff;
    }

    .zip-doc:hover {
        background: #000;
        color: #fff;
    }

    .list label.checkbox_style  {
        position: absolute;
        top: -1em;
        left: -2em;
    }

    input.modal_input_style {
        width: 300px;
        margin: 0 auto 2%;
        display: block;
        height: 30px;
        padding: 6px 12px;
        border: 1px solid #000;
        border-radius: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    input.modal_input_style:focus {
        width: 300px;
        margin: 0 auto 2%;
        display: block;
        height: 30px;
        padding: 6px 12px;
        border: 1px solid #000;
        border-radius: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    button.email-confirmation {
        border: 0;
        border-radius: 0;
        width: 100px;
        padding: 10px;
        background: #9A9994;
        color: #fff;
        margin: 0 39%;
    }
}  


@media all and (min-width: 768px) and (max-width: 1024px) {
  .evault_dashboard_bg .buttons {
      left: -6%;
  }

  .evault_dashboard_bg h2.text-center.category-head {
      position: relative;
      top: -1.8em;
      left: -1%;
  }

  li.dropdown.list-sort {
      left: 8% !important;
      position: relative;
      // z-index: 999;
  }

  .evault_dashboard_bg .tab-content.card {
      position: relative;
      top: 7em;
      left: 0em;
      width: 500px;
  }

  .evault_dashboard_bg .btn:not(.btn-link):not(.btn-flat), .evault_dashboard_bg .btn-default:not(.btn-link):not(.btn-flat) {
      background-color: #2B2C2C;
      color: rgba(0, 0, 0, 0.84);
      position: relative;
      left: -9%;
      // z-index: 999;
  }

  .evault_dashboard_bg .upload_doc_wrapper.text-center {
      width: 200px;
      height: 40px;
      left: -56em;
      position: absolute;
      top: 5em;
      // z-index: 999;
  }

  .evault_dashboard_bg .footer-layout {
      display: inline-flex;
      position: absolute;
      top: 9em;
  }
}

@media only screen and (min-width: 1919px) and (max-width: 1921px) {
  .container-wrapper .list li {
      // width: 80%;
      border: 1px solid #E6E6E6;
      margin-bottom: 18px;
      padding-bottom: 18px;
      padding: 2em;
      background: #fff;
  }

  .evault_dashboard_bg h2.text-center.category-head {
      margin: 0 26% !important;
  }

  .evault_dashboard_bg .card {
      background: #DEDDDA none repeat scroll 0% 0%;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
      margin-bottom: 30px;
      height: 600px;
      border-radius: 0 !important;
      z-index: 1;
      width: 82.5%;
  }

  .evault_dashboard_bg .container-wrapper {
      height: 500px !important;
      position: relative !important;
  }
}
@media only screen and (min-width: 1362px) and (max-height: 597px){
  .dvault_blank img {
      height: 150px;
  }
  .evault_dashboard_bg .footer-layout {
    display: inline-flex;
    position: absolute;
    top: -7em;
  }
}  
