.flip_dashboard_bg{
  background-image: image-url("new_images/dashboard_pattern.jpg");
  // background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // position: fixed;
  width: 100%;
  // height: 100vh;
  nav.navbar.navbar-default.side-top-nav {
    position: fixed;
    width: 100%;
    left: 0;
    background-color: transparent;
    border-bottom: 1px solid #000;
    height: 20px;
    z-index: 9999;
  }

  ul.nav.navbar-nav.nav-stacked {
    width: 200px;
    position: fixed;
    left: 0;
    height: 100vh;
    // background:-webkit-linear-gradient(180deg, #fd8727, #fdbb33);
    // background: -o-linear-gradient(180deg, #fdbb33, #fd8727); /* For Opera 11.1 to 12.0 */
    // background: -moz-linear-gradient(180deg, red, #fd8727); /* For Firefox 3.6 to 15 */
    background: #ed1c24; 
    display: block !important;
  }

  .nav-stacked li {
    width: 200px;
    height: 35px;
    text-align: left;
    position: relative;
    top: 16em;
  }

  a.navbar-brand {
    text-align: center !important;
    font-size: 25px;
    color: #fff !important;
    position: absolute;
    z-index: 999;
    left: 0;
    width: 200px;
    height: 49px;
    border-bottom: 1px solid #000;
  }

  .navbar-nav li a {
    height: 49px;
    padding: 8px 12px;
  }

  .form-group.search-bar {
    position: relative;
    top: -0.5em;
    color: black;
    background: transparent;
  }

  input.form-control.input-style {
    background: transparent;
    color: #000;
    border: 0;
  }

  .login_wrapper {
    position: absolute;
    top: 6em;
    left: 2em;
  }

  .login_wrapper img {
    border-radius: 90px;
    border: 6px solid #fff;
    margin: 0 auto;
    position: relative;
    left: 1.5em;
  }

  li.act-style {
    background-color: rgba(21, 20, 20, 0.53);
    height: 10px;
  }

  .navbar-default .navbar-nav.nav-stacked>li>a {
    color: #FBFBFB;
    padding: 0.5em 3em;
    height: 35px;
  }

  .navbar-default .navbar-nav.nav-stacked>li>a:active {
    color: #FBFBFB;
    padding: 0.5em 3em;
    height: 35px;

  }

  .navbar-default .navbar-nav.nav-stacked>li>a:focus {
    color: #FBFBFB;
    padding: 0.5em 3em;
    height: 35px;

  }

  .dropdown img {
    border-radius: 40px;
  }

  .body-wrapper {
    float: right;
    top: 5em;
  }
}
 @media only screen and (min-width: 1362px) and (max-height: 597px){
  .flip_dashboard_bg ul.nav.navbar-nav.nav-stacked {
    width: 165px!important;
  }
 }