.footer_bg{
  position: relative;
  background-color:#1f1d1e; 
  color: #a59c9c;
  width: 100%;
  height: 810px !important;
  margin: 0;
  padding: 0;
  .section-padd{
   padding-left: 6em;
    padding-top: 1em;
    font-size: 15px;
  }
  h4.text-center.sub_head_style {
    color: rgb(121, 121, 121);
    letter-spacing: 1px;
    line-height: 1.5;
  }
  h3.line_style {
    position: absolute;
    top: 0em;
    right: 1em;
  }
  ul.list_wrapper {
    position: absolute;
    top: 4em;
    font-size: 18px;
  }
  ul.list_wrapper a {
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    color: #a59c9c;
    cursor: pointer;
  }
  .content_wrapper {
    position: absolute;
    right: 4em;
    top: 8em;
  }
  .summary {
    position: relative;
    padding: 3em 6em 0em 6em;
    /* left: 5em; */
  }
  .social {
    padding: 7px 5px 5px 6px;
  }
  .objectivehr{
    position:relative;
    bottom:4em;
    color: #a59c9c!important;
  }
  .seconlasthr{
    position:relative;
    width:90%;
    left:6em;
    color: #a59c9c!important;
  }
  .lasthr{
    position: relative;
    top: 24em;
    width: 65%;
    /* left: 13em; */
    color: #a59c9c !important;
    margin: 0 auto;
  }
  p.txt-head{
    margin-top: 14px;
    font-size: 18px;
  }
  p.p_style {
      position: relative;
      top: 29em;
      text-align: center;
      font-size: 12px;
  }
  p.style_text{
    text-align:justify;
  }
  p.style_li{
    font-size: 18px;
  }
}   
@media all and (min-width: 360px) and (max-width: 640px) {
  .footer_bg {
    position: relative;
    background-color: #1F1D1E;
    color: #A59C9C;
    width: 100%;
    height: 100% !important;
    margin: 0px;
    padding: 0px;
  .section-padd{
   padding-left: 0em !important;
    padding-top: 1em !important;
    font-size: 15px;
    height: 750px !important;
  }
  h4.text-center.sub_head_style {
    color: rgb(121, 121, 121);
    letter-spacing: 1px;
    line-height: 1.5;
  }
  h3.line_style {
    position: absolute;
    top: 0em;
    right: 1em;
  }
  ul.list_wrapper {
    top: 1em;
    font-size: 2px;
    position: relative!important;
    width: 100%;
    z-index: 99999 !important;
  }
  ul.list_wrapper a {
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    color: #a59c9c;
    cursor: pointer;
    z-index: 99999!important;
  }
  .content_wrapper {
    position: relative !important;
    right: 0em !important; 
    top: 0em !important ;
  }
  .summary {
    position: relative !important;
    padding: 1em !important;
    /* left: 5em; */
  }
  .social {
    padding: 10px !important;
  }
  .objectivehr{
    position:relative;
    bottom:4em;
    color: #a59c9c!important;
  }
  .seconlasthr{
    position:relative !important;
    width:90% !important;
    left:1em !important;
    color: #a59c9c!important;
  }
  .lasthr{
    position: relative !important;
    top: -1em !important;
    width: 81%  !important;
    color: #A59C9C !important;
    margin: 0px auto !important;
    right: 0em  !important;
  }
  p.txt-head{
    margin-top: 14px;
    font-size: 18px;
    z-index: 99999!important;
  }
  p.p_style {
    position: relative !important;
    top: 0em !important;
    text-align: center !important;
    font-size: 12px;
    width: 307px !important;
    left: 1em !important;
  }
  p.style_text{
    text-align:justify;
  }
  p.style_li{
    font-size: 18px;
  }
}
a.toBottom .fa-arrow-circle-up {
    left: 150px !important;
    margin-top: 451%!important;
  }
}

@media all and (min-width: 641px) and (max-width: 991px) {
    .footer_bg {
    position: relative;
    background-color: #1F1D1E;
    color: #A59C9C;
    width: 100%;
    height: 100% !important;
    margin: 0px;
    padding: 0px;
  .section-padd{
   padding-left: 0em !important;
    padding-top: 1em !important;
    font-size: 15px;
    height: 750px !important;
  }
  h4.text-center.sub_head_style {
    color: rgb(121, 121, 121);
    letter-spacing: 1px;
    line-height: 1.5;
  }
  h3.line_style {
    position: absolute;
    top: 0em;
    right: 1em;
  }
  ul.list_wrapper {
    top: 1em;
    font-size: 2px;
    position: relative!important;
    width: 100%;
    z-index: 9999!important;
  }
  ul.list_wrapper a {
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    color: #a59c9c;
    cursor: pointer;
  }
  .content_wrapper {
    position: relative !important;
    right: 0em !important; 
    top: 0em !important ;
  }
  .summary {
    position: relative !important;
    padding: 1em !important;
    /* left: 5em; */
  }
  .social {
    padding: 10px !important;
  }
  .objectivehr{
    position:relative;
    bottom:4em;
    color: #a59c9c!important;
  }
  .seconlasthr{
    position:relative !important;
    width:90% !important;
    left:1em !important;
    color: #a59c9c!important;
  }
  .lasthr{
    position: relative !important;
    top: -1em !important;
    width: 81%  !important;
    color: #A59C9C !important;
    margin: 0px auto !important;
    right: 0em  !important;
  }
  p.txt-head{
    margin-top: 14px;
    font-size: 18px;
  }
  p.p_style {
    position: relative !important;
    top: 0em !important;
    text-align: center !important;
    font-size: 12px;
    width: 307px !important;
    left: 10em !important;
  }
  p.style_text{
    text-align:justify;
  }
  p.style_li{
    font-size: 18px;
  }
  }
}



// @media all and (min-width: 768px) and (max-width: 1024px) {
//   .footer_bg {
//     height: 100vh !important;
//     .section-padd{
//       padding-left: 0em !important;
//       padding-top: 1em !important;
//       font-size: 15px;
//       height: auto !important;
//     }
//     h4.text-center.sub_head_style {
//       color: rgb(121, 121, 121);
//       letter-spacing: 1px;
//       line-height: 1.5;
//     }
//     h3.line_style {
//       position: absolute;
//       top: 0em;
//       right: 1em;
//     }
//     ul.list_wrapper {
//       top: 1em;
//       font-size: 2px;
//       position: relative!important;
//       width: 100%;
//       z-index: 9999;
//     }
//     ul.list_wrapper a {
//       list-style: none;
//       text-decoration: none;
//       font-size: 14px;
//       color: #a59c9c;
//       cursor: pointer;
//       z-index: 9999;
//     }
//     .content_wrapper {
//       position: relative !important;
//       right: 0em !important; 
//       top: 0em !important ;
//     }
//     .summary {
//       position: relative !important;
//       padding: 1em !important;
//       /* left: 5em; */
//     }
//     .social {
//       padding: 10px !important;
//     }
//     .objectivehr{
//       position:relative;
//       bottom:4em;
//       color: #a59c9c!important;
//     }
//     .seconlasthr{
//       position:relative !important;
//       width:90% !important;
//       left:1em !important;
//       color: #a59c9c!important;
//     }
//     .lasthr{
//       display: none;
//     }
//     p.txt-head{
//       margin-top: 14px;
//       font-size: 18px;
//     }
//     p.p_style {
//       position: relative !important;
//       top: 22em !important;
//       text-align: center !important;
//       font-size: 12px;
//       width: 100%;
//       left: -11em !important;
//     }
//     p.style_text{
//       text-align:justify;
//     }
//     p.style_li{
//       font-size: 18px;
//     }
//   }
// }
@media only screen and (min-width: 1362px) and (max-height: 580px){
  a.toBottom .fa-arrow-circle-up {
    width: 200px;
    display: block;
    font-size: 3em;
    color: #fff;
    position: absolute;
    /* bottom: -330%; */
    z-index: 1;
    right: 0%!important;
    margin-top: 53%!important;
  }
    .footer_bg .lasthr {
    position: relative;
    top: 20em!important;
    width: 65%;
    /* left: 13em; */
    color: #a59c9c !important;
    margin: 0 auto;
  }
    .footer_bg p.p_style {
    position: relative;
    top: 26em!important;
    text-align: center;
    font-size: 12px;
  }
   
}
@media only screen and (min-width: 1919px) and (max-width: 1921px) {
    a.toBottom .fa-arrow-circle-up {
      margin-top: 34% !important;
    }
}

    