.help_bg{
    background-image: image-url("help_banner.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 400px;
    position: relative;
    // top: 5em;
    
    h1.help-head {
        color: #9AA0A4;
        position: absolute;
        top: 4em;
        left: 5em;
        font-size: 50px;
    }
    .docket_life .section_padd {

    }
}
.help_faq {
    // padding: 8em;
    .help_link_bg {
        background: #9AA0A4;
        padding: 5em;
        color: #fff;
        // height: 1720px;
        padding-bottom: 85em;
    }
    ul.list_wrapper li {
        list-style: none;
        margin-bottom: 2em;
    }
    h1.help_txt {
        position: relative;
        top: -1em;
    }
    ul.list_wrapper li a{
        text-decoration: none;
        color: #fff;
    }
    ul.list_wrapper li a.inner_link{
        color: #505590;
    }
    .faq_style{
      padding: 5em;
    }
    hr.hr_style {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #080808;
    }
    .note_wrapper h5 {
        text-align: justify;
        line-height: 20px;
    }
    span.color_style {
        color: #f16224;
    }

    span.color_style a{
        color: #f16224 !important;
        cursor: pointer;
        text-decoration: none;
    }
}
@media all and (min-width: 360px) and (max-width: 640px) {
    .help_bg{
    background-image: image-url("help_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-position: right;
     nav.navbar.navbar-default.nav-home {
    background: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    border: 0;
    border-radius: 0;
    z-index: 99999;
    color: #000!important;
    }
        h1.help-head {
        color: #9AA0A4;
        position: absolute;
        top: 3em;
        left: 2em;
        font-size: 30px;
        }
    }
    .help_faq .faq_style {
        padding: 2em;
        }
    .help_faq .help_link_bg {
        background: #9AA0A4 none repeat scroll 0% 0%;
        padding: 2em !important;
        color: #FFF;
        }

}
@media all and (min-width: 641px) and (max-width: 991px) {
       .help_bg{
    background-image: image-url("help_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-position: right;
     nav.navbar.navbar-default.nav-home {
    background: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    border: 0;
    border-radius: 0;
    z-index: 99999;
    color: #000!important;
    }
        h1.help-head {
        color: #9AA0A4;
        position: absolute;
        top: 3em;
        left: 2em;
        font-size: 30px;
        }
    }
    .help_faq .faq_style {
        padding: 2em;
        }
    .help_faq .help_link_bg {
        background: #9AA0A4 none repeat scroll 0% 0%;
        padding: 2em !important;
        color: #FFF;
        }
    }

@media all and (min-width: 768px) and (max-width: 1024px) {
    .help_bg {
        background-size: cover;
    }

    .help_faq .help_link_bg {
        padding-bottom: 1em;
    }
}
@media only screen and (min-width: 1241px) and (max-height: 584px){

    .help_faq .help_link_bg {
    background: #9AA0A4;
    padding: 5em;
    color: #fff;
    padding-bottom: 87em!important;
    }
}

// @media all and (max-width: 1024px) and (max-height: 640px) {
//     .help_faq .help_link_bg {
//         padding-bottom: 92em;
//     }
// }