.home_bg{
  background-image: image-url('home_screen.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  overflow-y: hidden;
    nav.navbar.navbar-default.nav-home {
    background: transparent;
    top: 0em;
    padding: 1.5em;
    height: 110px;
    border: 0;
  }
  .navbar .navbar-brand {
    position: relative;
    height: 60px;
    line-height: 30px;
    color: inherit;
    top: -1.5em;
  }
  ul.nav.navbar-nav.nav-left {
    position: relative;
    top: -0.5em;
    font-size: 20px;
    border-left: 1px solid #858382;
    height: 90px;
    padding: 0.5em;
    color: #858382;
  }
  ul.nav.navbar-nav.navbar-right {
    position: relative;
    top: -0.5em;
    font-size: 20px;
    height: 90px;
    padding: 0.5em;
    color: #858382;
  }

  ul.dropdown-menu.home-dropdown {
    background: #F4F3F1;
  }
  .home-dropdown li {
    border-bottom: 1px solid #898484;
    height: 40px;
  }
  .tagline-padd {
    text-align: center;
    position: relative;
    top: 8em;
  }
  h2.tag_line {
    color: #858382;
    font-size: 30px;
    font-family: 'PFBeauSansPro';
    // position: fixed;
    // width: 100%;
    // bottom: 8em;
    position: fixed;
    width: 100%;
    // bottom: 8em;
    top: 46%;
  }
  h1.sub_tag_line {
    font-size: 50px;
    color: #f16224;
    font-family: 'PFBeauSansPro';
    position: fixed;
    width: 100%;
    // bottom: 3.5em;
    bottom: 34%;
    letter-spacing: 2px;
    
  }
  ul.list_wrapper {
    top: 36em;
    list-style: none;
    display: inline-block;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
  }
  .list_wrapper li {
    width: 150px;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
  }
  
  nav.navbar.navbar-default.nav-home2.navbar-fixed-top {
    background: #fff;
    height: 70px;
    padding: 1em;
  }
  .nav-home2 ul.nav.navbar-nav.nav-left {
    position: relative;
    top: -0.5em;
    font-size: 15px;
    border-left: 1px solid #858382;
    height: 50px;
    padding: 0;
    color: #858382;
  }
  .nav-home2 ul.nav.navbar-nav.navbar-right {
    position: relative;
    top: -0.5em;
    font-size: 15px;
    border-left: 1px solid #858382;
    height: 50px;
    padding: 0;
    color: #858382;
  }

  p.text-center:hover{
    color: #f16224;
    cursor: pointer;
  }
  .agreement_icon{
    background-image: image-url('home_icon/agreements_icon.png');
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  .agreement_icon:hover{
    background-image: image-url('home_icon/agreement_orange.png');
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  .affidavit_icon{
    background-image: image-url('home_icon/affidavits_icon.png');
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  .affidavit_icon:hover{
    background-image: image-url('home_icon/afiidavits_orange.png');
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  .deed_icon{
    background-image: image-url('home_icon/deedsa_icon.png');
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  .deed_icon:hover{
    background-image: image-url('home_icon/deeds_orange.png');
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  .startup_icon{
    background-image: image-url('home_icon/startupsa_icon.png');
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  .startup_icon:hover{
    background-image: image-url('home_icon/startups_orange.png');
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  .marketplace_icon{
    background-image: image-url('home_icon/marketplacea_icon.png');
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  .marketplace_icon:hover{
    background-image: image-url('home_icon/marketplace_orange.png');
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  .on_demand_icon{
    background-image: image-url('home_icon/ondemand_icon.png');
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  .on_demand_icon:hover{
    background-image: image-url('home_icon/ondemand_orange.png');
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  .bond_icon{
    background-image: image-url('home_icon/bondsa_icon.png');
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  .bond_icon:hover{
    background-image: image-url('home_icon/bonds_orange.png');
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  .list_wrapper li:hover {
      cursor: pointer;
      color: #f16224;
  }

  .dropdown .btn-default {
      color: #333;
      background-color: #fff;
      border-color: transparent;
  }

  // span.circle_arrow {
  //   border: 1px solid rgba(241, 98, 36, 0.56);
  //   position: relative;
  //   width: 70px;
  //   height: 70px;
  //   border-radius: 100%;
  //   /* margin-left: -3%; */
  //   cursor: pointer;
  //   animation-duration: 1s;
  //   animation-name: zoomIn;
  //   /* margin-top: 33%; */
  //   display: block;
  //   margin: 2% auto;
  // }

  // span i.fa.fa-angle-down {
  //   font-size: 2em;
  //   margin-top: 31%;
  //   cursor: pointer;
  //   color: #f16224;
  //   animation-duration: 3s;
  //   animation-name: bounce;
  //   animation-iteration-count: infinite;
  //   animation-delay: 1s;
  // }
}
a.toBottom .fa-arrow-circle-up {
    width: 200px;
    display: block;
    font-size: 3em;
    color: #fff;
    position: absolute;
    /* bottom: -330%; */
    z-index: 1;
    right: -6%;
    margin-top: 53%;
}

.docket_home{
  background: #EAE6E3;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  .docket_home_bg{
    /* background-image: image-url('docket_home_bg.png'); */
    background-color: #0F3A5A;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .docket_box {
    width: 600px;
    top: 7em;
    display: block;
    position: absolute;
    left: 25em;
    margin: 0 auto;
  }
  p.docket_para {
    position: absolute;
    top: 8em;
    text-align: center;
    padding: 3em;
    color: #fff;
    font-family: 'PFBeauSansPro';
  }
  h1.docket_head {
    position: absolute;
    text-align: center;
    top: 1em;
    color: #fff;
    left: 5em;
    border-bottom: 1px solid #EAE6E3;
    padding: 0.2em;
    font-family: 'PFBeauSansPro';
  }
  .css-typings
  {
    width: 7em;
    white-space:nowrap;
    overflow: hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 2s steps(50, end);
  }
  @keyframes type{
    from { width: 0; }
  }
  @-webkit-keyframes type{
    from { width: 0; }
  }
  .path {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: dash 10s linear forwards;
  }
  @keyframes dash {
    from {
      stroke-dashoffset: 4000;
    }
    to {
      stroke-dashoffset: 500;
    }
  }
}

.screen_bg{
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background: #EBE7E4;
  position: relative;
  .screen_padd {
    margin-top: 4.5em;
  }
  .service_head {
      color: #888482;
      font-family: 'PFBeauSansPro';
      position: relative;
      margin-bottom: 1.5em;
      animation-duration: 1s;
      animation-name: zoomIn;
  }
  span.service_head_color {
      color: #f16224;
  }
  .mobile_bg{
    position: absolute;
    left: 12em;
    top: 4em;
    z-index: 999;
    animation-duration: 1s;
    animation-name: fadeInRight;
  }

  .laptop_bg{
    position: absolute;
    left: 15em;
    top: -2em;
    animation-duration: 1s;
    animation-name: zoomIn;
  }

  .tablet_bg{
    position: absolute;
    right: 14em;
    top: 4em;
    z-index: 9;
    visibility: visible;
    animation-duration: 1s;
    animation-name: fadeInRight;
  }

}
.how_it_works_wrapper{
  background: #EBE7E4;
  position: relative;
  .work_style {
    // padding: 2em 16em 4em 16em;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 4em;
    right: 3.5em;
    h1{
      margin: 0px;
      position: relative;
      bottom: 1em;
    }
    .icon_style{
      position: relative;
      display: inline-block;
    }
    .icontext_style{
      position: relative;
      display: inline-flex;
      width: 600px;
      margin: 0 auto;
    }
    .img_wrapper {
        display: block;
        width: 150px;
        text-align: center;
        display: inline-block;
    }
  }
}
.app_bg{
  background: #f16224;
  height: 100vh;
  position: relative;
  .path_svg {
      stroke-dasharray: 4000;
      stroke-dashoffset: 4000;
      animation: dash 10s linear forwards;
    }
    @keyframes dash {
      from {
        stroke-dashoffset: 4000;
      }
      to {
        stroke-dashoffset: 500;
      }
    }
    @-webkit-keyframes dash {
      from {
        stroke-dashoffset: 4000;
      }
      to {
        stroke-dashoffset: 500;
      }
    }
    .text_wrapper {
    position: absolute;
    margin: 0px auto;
    top: 18em;
    padding-left: 13em;
    color: #FFF;
    font-family: "PFBeauSansPro" !important;
    }
    h1{
      font-family: 'PFBeauSansPro' !important;
      font-size: 20px !important;
    }
    .app_padd {
        position: relative;
        top: 7em;
    }
    h4.app_subhead {
        font-family: 'PFBeauSansPro';
        font-size: 15px !important;
    }
    h2.app_head {
        font-family: 'PFBeauSansPro';
    }
}
@media only screen and (min-width: 1919px) and (max-width: 1921px) {
    .home_bg h1.sub_tag_line {
      bottom: 37% !important;
    }
    .home_bg h2.tag_line {
      bottom: 11em !important;
    }
    .home_bg ul.list_wrapper {
      top: 71% !important;
    }
    .screen_bg .laptop_bg {
      left: 39em !important;
    }
    .screen_bg .tablet_bg {
      right: 36em !important;
    }
    .screen_bg .mobile_bg {
      left: 37em !important;
    }
    .screen_bg .service_head {
          top: 0em !important;
    }
    .how_it_works_wrapper{
    // height: 50px;
    .work_style h1 {
      bottom: 8em;
    }
    .work_style .icon_style {
      top: -15em;
    }

    a.toBottom .fa-arrow-circle-up {
      margin-top: 34% !important;
    }
}
  // .app_bg{
  //   background: #f16224;
  //   height: 800px!important;
  //   position: relative;
  //   .path_svg {
  //       stroke-dasharray: 4000;
  //       stroke-dashoffset: 4000;
  //       animation: dash 10s linear forwards;
  //     }
  // }
}
@media all and (min-width: 360px) and (max-width: 640px) {
  .home_bg{
    background-image: image-url('main_screen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    overflow-y: hidden;
      nav.navbar.navbar-default.nav-home {
      background: transparent;
      top: 0em;
      padding: 1.5em;
      height: 110px;
      border: 0;
    }
    .navbar .navbar-brand {
      position: relative;
      height: 60px;
      line-height: 30px;
      color: inherit;
      top: -1.5em;
    }
    ul.nav.navbar-nav.nav-left {
      position: relative;
      top: -0.5em;
      font-size: 20px;
      border-left: 1px solid #858382;
      height: 90px;
      padding: 0.5em;
      color: #858382;
    }
    ul.nav.navbar-nav.navbar-right {
      position: relative;
      top: -0.5em;
      font-size: 20px;
      height: 90px;
      padding: 0.5em;
      color: #858382;
    }

    ul.dropdown-menu.home-dropdown {
      background: #F4F3F1;
    }
    .home-dropdown li {
      border-bottom: 1px solid #898484;
      height: 40px;
    }
    .tagline-padd {
      text-align: center;
      position: relative;
      top: 8em;
    }
    h2.tag_line {
      color: #858382;
      font-size: 18px;
      font-family: 'PFBeauSansPro';
      position: fixed;
      width: 100%;
      bottom: 13em;
      right: 1em;
    }
    h1.sub_tag_line {
      font-size: 25px;
      bottom: 8em;
      width: 90%;
      right: 1em;
      position: fixed;
    }
    ul.list_wrapper {
      top: 23em;
      width: 100%;
      display: inline-block;
      height: 200px;
      text-align: center;
    }
    .list_wrapper li {
      width: 90px;
      float: left;
      margin: 0px auto;
      text-align: center;
      a img{
        width: 50px;
      }
    }
    
    nav.navbar.navbar-default.nav-home2.navbar-fixed-top {
      background: #fff;
      height: 70px;
      padding: 1em;
    }
    .nav-home2 ul.nav.navbar-nav.nav-left {
      position: relative;
      top: -0.5em;
      font-size: 15px;
      border-left: 1px solid #858382;
      height: 50px;
      padding: 0;
      color: #858382;
    }
    .nav-home2 ul.nav.navbar-nav.navbar-right {
      position: relative;
      top: -0.5em;
      font-size: 15px;
      border-left: 1px solid #858382;
      height: 50px;
      padding: 0;
      color: #858382;
    }
  }
  .docket_home{
    background: #EAE6E3;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    .docket_home_bg{
      /* background-image: image-url('docket_home_bg.png'); */
      background-color: #0F3A5A;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
    }
    .docket_box {
      width: 600px;
      top: 7em;
      display: block;
      position: absolute;
      left: 25em;
      margin: 0 auto;
    }
    p.docket_para {
      position: absolute;
      top: 8em;
      text-align: center;
      padding: 3em;
      color: #fff;
      font-family: 'PFBeauSansPro';
    }
    h1.docket_head {
      position: absolute;
      text-align: center;
      top: 1em;
      color: #fff;
      left: 5em;
      border-bottom: 1px solid #EAE6E3;
      padding: 0.2em;
      font-family: 'PFBeauSansPro';
    }
    .css-typings
    {
      width: 7em;
      white-space:nowrap;
      overflow: hidden;
      -webkit-animation: type 5s steps(50, end);
      animation: type 2s steps(50, end);
    }
    @keyframes type{
      from { width: 0; }
    }
    @-webkit-keyframes type{
      from { width: 0; }
    }
    .path {
      stroke-dasharray: 4000;
      stroke-dashoffset: 4000;
      animation: dash 10s linear forwards;
    }
    @keyframes dash {
      from {
        stroke-dashoffset: 4000;
      }
      to {
        stroke-dashoffset: 500;
      }
    }
  }

  .screen_bg{
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    background: #EBE7E4;
    position: relative;
    .screen_padd {
      margin-top: 4.5em;
    }
    .service_head {
        color: #888482;
        font-family: 'PFBeauSansPro';
        position: relative;
        margin-bottom: 1.5em;
        animation-duration: 1s;
        animation-name: zoomIn;
        font-size: 20px;
    }
    span.service_head_color {
        color: #f16224;
    }
    .mobile_bg{
      position: absolute;
      left: 0em;
      top: 4em;
      width: 31%;
      z-index: 999;
      animation-duration: 1s;
      animation-name: fadeInRight;
    }

    .laptop_bg{
      position: absolute;
      left: 2em;
      top: 0em;
      width: 70%;
      animation-duration: 1s;
      animation-name: zoomIn;
    }

    .tablet_bg{
      position: absolute;
      right: 0em;
      top: 4em;
      z-index: 9;
      width: 40%;
      visibility: visible;
      animation-duration: 1s;
      animation-name: fadeInRight;
    }
  }

  .how_it_works_wrapper{
    background: #EBE7E4;
    position: relative;
    .work_style {
      // padding: 2em 16em 4em 16em;
      margin: 0 auto;
      text-align: center;
      position: relative;
      bottom: 4em;
      right: 3.5em;
      h1{
        margin: 0px;
        position: relative;
        bottom: 2em;
        font-size: 20px;
        left: 2em;
      }
      .icon_style{
        position: relative;
        display: inline-flex;
      }
      .icontext_style{
        position: relative;
        display: inline-flex;
        width: 600px;
        margin: 0 auto;
      }
      .img_wrapper {
        display: block;
        width: 84px;
        margin-left: 16px;
        margin-top: -3em;
        text-align: center;
        margin-right: -26px;
        font-size: 12px;
      }
      img {
          vertical-align: middle;
          width: 65px;
      }
    }
  }

  .app_bg{
    background: #f16224;
    height: 700px;
    position: relative;
    .path_svg {
      stroke-dasharray: 4000;
      stroke-dashoffset: 4000;
      animation: dash 10s linear forwards;
      width: 100%;
      }
      @keyframes dash {
        from {
          stroke-dashoffset: 4000;
        }
        to {
          stroke-dashoffset: 500;
        }
      }
    .text_wrapper {
      position: absolute;
      margin: 0px auto;
      top: 2em;
      padding-left: 0em;
      color: #FFF;
      font-family: "PFBeauSansPro" !important;
      font-size: 20px !important;
    }
    h1{
      font-family: 'PFBeauSansPro' !important;
    }
    .app_padd {
        position: relative;
        top: 7em;
    }
    h4.app_subhead {
        font-family: 'PFBeauSansPro';
    }
    h2.app_head {
        font-family: 'PFBeauSansPro';
        font-size: 27px;

    }
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .home_bg {
      background-position: center;
  }

  .home_bg ul.list_wrapper {
      top: 80%;
      list-style: none;
      display: inline-flex;
      position: fixed;
      left: 0;
      right: 0;
      width: 100%;
  } 

  .home_bg h2.tag_line {
      position: fixed;
      top: 18em;
      left: -1em;
  }

  .home_bg h1.sub_tag_line {
      position: fixed;
      bottom: 6.5em;
      left: -1em;
  }

  .screen_bg .laptop_bg {
      position: absolute;
      left: 9em;
      top: -2em;
      animation-duration: 1s;
      animation-name: zoomIn;
      width: 60%;
  }

  .screen_bg .mobile_bg {
      position: absolute;
      left: 3em;
  }

  .screen_bg .tablet_bg {
      position: absolute;
      right: -1em;
  }

  .how_it_works_wrapper {
      margin-top: -26%;
  }

  .app_bg .path_svg {
      margin-top: 39%;
  }

  .app_bg .text_wrapper {
      top: 10em;
  }
}
@media all and (min-width: 641px) and (max-width: 991px) {
  .home_bg{
  // background-image: image-url('main_screen.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-attachment: fixed;
  // background-position: center;
  height: 100vh;
  overflow: hidden;
    nav.navbar.navbar-default.nav-home {
    background: transparent;
    top: 0em;
    padding: 1.5em;
    height: 110px;
    border: 0;
    color: #000;
    }
    h2.tag_line{
      bottom: 14em !important;
    }
    h1.sub_tag_line {
      bottom: 6.5em !important;
    }
  }
  .screen_bg{
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  background: #EBE7E4;
  position: relative;
  .screen_padd {
    margin-top: 4.5em;
  }
  .service_head {
      color: #888482;
      font-family: 'PFBeauSansPro';
      position: relative;
      margin-bottom: 1.5em;
      animation-duration: 1s;
      animation-name: zoomIn;
      font-size: 20px;
  }
  span.service_head_color {
      color: #f16224;
  }
  .mobile_bg{
    position: absolute;
    left: 0em;
    top: 4em;
    width: 26%!important;
    z-index: 999;
    animation-duration: 1s;
    animation-name: fadeInRight;
  }

  .laptop_bg{
    position: absolute;
    left: 2em;
    top: 0em;
    width: 70%!important;
    animation-duration: 1s;
    animation-name: zoomIn;
  }

  .tablet_bg{
    position: absolute;
    right: 4em!important;
    top: 4em;
    z-index: 9;
    width: 35%!important;
    visibility: visible;
    animation-duration: 1s;
    animation-name: fadeInRight;
  }

}

.how_it_works_wrapper{
  background: #EBE7E4;
  position: relative;
  .work_style {
    // padding: 2em 16em 4em 16em;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 4em;
    right: 6.5em!important;
    h1{
      margin: 0px;
      position: relative;
      bottom: -2em!important;
      font-size: 20px;
      left: 2em;
    }
    .icon_style{
      position: relative;
      display: inline-flex;
    }
    .icontext_style{
      position: relative;
      display: inline-flex;
      width: 600px;
      margin: 0 auto;
    }
    .img_wrapper {
        display: block;
        width: 68px;
        margin-left: 2em;
        margin-top: 4em!important;
        text-align: center;
    }
  }
}
.app_bg{
  background: #f16224;
  height: 700px;
  position: relative;
  .path_svg {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: dash 10s linear forwards;
    }
    @keyframes dash {
      from {
        stroke-dashoffset: 4000;
      }
      to {
        stroke-dashoffset: 500;
      }
    }
  .text_wrapper {
    position: absolute;
    margin: 0px auto;
    top: 2em;
    padding-left: 0em;
    color: #FFF;
    font-family: "PFBeauSansPro" !important;
    font-size: 20px !important;
  }
    h1{
      font-family: 'PFBeauSansPro' !important;
    }
    .app_padd {
        position: relative;
        top: 13em;
    }
    h4.app_subhead {
        font-family: 'PFBeauSansPro';
    }
    h2.app_head {
        font-family: 'PFBeauSansPro';
    }

  }
}
@media only screen and (min-width: 1362px) and (max-height: 580px){
  .home_bg ul.list_wrapper {
    top: 34em;
    list-style: none;
    display: inline-flex;
    position: fixed;
    left: 0;
    right: 0;
    width: 95%;
  }
  .app_bg .app_padd {
    position: relative;
    top: 1em;
  }
  .how_it_works_wrapper .work_style h1 {
    margin: 0px;
    position: relative;
    bottom: 1em;
  }
  .how_it_works_wrapper .work_style {
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 0em;
    right: 5.5em;
  }
  .screen_bg .tablet_bg {
    position: absolute;
    right: 19em;
    top: 4em;
    z-index: 9;
    visibility: visible;
    animation-duration: 1s;
    animation-name: fadeInRight;
  }
  .home_bg h2.tag_line {
    bottom: 6.5em!important;
  }
  .home_bg h1.sub_tag_line {
      bottom: 2.5em!important;
  }
}