.info_wrapper {
    position: absolute;
    top: 41em;
    left: 1em;
    background-image: url('new_images/dashboard_pattern.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}
img.checklist_hint {
    position: absolute;
    left: 24em;
}
img.checklist_expert_info {
    position: absolute;
    left: 6em;
}
    
