.login-container.wrapper{
  margin: 60px 0 0;
  label#dis {
      display: inline-block;
      max-width: 100%;
      margin: 68% 25%;
  }
}
.login-container{
  text-align: center;
  .logo{
    font-family: 'Nova Square';
    font-size: 2em;
    color: #337ab7;;
    display: inline-block;
    position: relative;
    img{
      width: 90px;
    }
    span{
      font-family: 'Montserrat', sans-serif;
      font-size: 1.2em;
    }
    .beta{
      color: #8699BD;;
      font-size: 12px;
      position: absolute;
      left: 50px;
      top: -8px;
    }


  }
  .form-group{
    margin: 50px;
  }
  input[type='email'],input[type='phone'],input[type='text'],input[type='password']{
    color: rgb(85, 85, 85);
    cursor: auto;
    display: block;
    font-size: 14px;
    height: 34px;
    background: transparent;
    letter-spacing: normal;
    line-height: 20px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    text-shadow: none;
    text-transform: none;
    width: 298px;
    margin-bottom: 5px;
  }
  input[type='submit']{
    margin-top: 10px;
    border: none;
    background: #00d4c1;
    color: white;
    cursor: auto;
    display: block;
    font-size: 14px;
    height: 34px;
    letter-spacing: normal;
    line-height: 20px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    text-shadow: none;
    width: 298px;
  }
  .social-buttons div{
    display: inline-block;
    padding: 5px;
    margin-left: 15px;
    color: white;
    border-radius: 2px;
    i{
      margin-left: 10px;
      color: white;
    }
    .social-text{
      margin-right: 15px;
    }
  }
  .social-gplus{
    background: #DC4B39;
  }
  .social-fb{
    background: #3B5998;
  }
  p{
    margin-top: 20px;
  }
  
}

span.forgot_click {
    cursor: pointer;
    color: #337ab7;
}

#forgotPassword .modal-content {
    margin-top: 26%;
    height: 350px;
}
@media all and (min-width: 360px) and (max-width: 640px) {
  .form_wrapper {
    padding-top: 6em;
    width: 100%;
    margin: 0 auto;
  }

}
