.marketplace_flip {
  position: relative;
  top: 14em;
  left: -1em;
  .radio_style{
    margin: 1em;
  }
  .form_wrapper {
    width: 350px;
    margin: 0 auto;
    position: relative;
    top: 10em;
    color: #fff;
  }
  .description {
    width: 400px;
    height: 570px;
    background: image-url("Marketplace.png");
    background-repeat: no-repeat;
    position: absolute;
    top: -14em;
    display: block;
    margin: 0 auto;
    left: 22em;
    h4{
      text-align: center;
    }
    .answer{
      text-align: center;
    }
  }
  .selection-box {
    background: #DBDAD5;
    width: 300px;
    margin: 0 auto;
    position: relative;
    top: 13em;
  } 
  .marketplace-form {
    width: 1000px;
    height: 480px;
    position: relative;
    bottom: 15em;
    background: image-url("book.png");
    padding: 3em 2em 6em 2em;
    border: 1px solid #C1C1C1;
    box-shadow: inset 0.1rem 0rem 1rem rgba(0, 0, 0, 0.2);
    left: -5em;
  }
  .radio_style{
    margin: 1em 0.2em 1em 0.5em;
  }
  button.start {
    width: 150px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #22B3A4;
    background-color: #22B3A4;
    color: white;
    border-radius: 0;
    position: absolute;
    left: 33%;
    top: 70%;
  }
  .next {
    width: 50px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #22B3A4;
    background-color: #22B3A4;
    color: white;
    border-radius: 0;
    cursor: pointer;
    position: relative;
    // left: 30em;
    // bottom: 60em;
    margin-top: -5%;
    z-index: 999;
  }
  button.ui-datepicker-trigger {
    position: absolute;
    top: 0;
    right: -1em;
    height: 30px;
    width: 28px;
    background: #656464;
    border: 0;
  }
  #errmsg{
    color: red;
  }
  h4 {
      font-family: sans-serif;
  }
  .questionaire.form-question {
      padding: 5em;
  }
  .col-md-12.content-part {
      padding: 50px;
      height: 350px;
  }
  div#hint {
    position: relative;
    left: 31em;
    top: -3em;
  }
  .doc-hint {
    position: absolute;
    right: 20em;
  }
  .layer,.next,.submit{
    display: none;
  }
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #BBBABA;
  }
  .input_styling{
    width: 300px;
    padding: 0.3em;
    background: #888585;
    border: 0;
    color: #fff;
    font-size: 15px;
  }
  .para_style{
    font-size: 11px;
  }
  // .radio label .circle {
  //   border: 2px solid #A1A1A1;
  //   height: 30px;
  //   width: 30px;
  //   border-radius: 0;
  //   background: #fff;
  // }
  // .radio label .check {
  //   height: 50px;
  //   width: 50px;
  //   border-radius: 0;
  //   background-color: rgba(0, 0, 0, 0.84);
  //   -webkit-transform: scale3d(0, 0, 0);
  //   transform: scale3d(0, 0, 0);
  //   position: absolute;
  //   top: -0.5em;
  //   left: 0em;
  // }

  .circle {
      border: 2px solid #A1A1A1;
      height: 30px;
      width: 30px;
      border-radius: 0;
      background: #fff;
  }
  
  .radio.radio-primary {
    display: inline-flex;
    padding: 1em;
    top: -2em;
    left: -1.8em;
  }
  div#format {
    position: relative;
    width: 100%;
    bottom: 3em;
    z-index: 999;
  }
  .layer-question.layer {
    // height: 30px;
    margin-bottom: 1em;
  }
  div#padd_style {
    position: relative;
    top: -1em;
  }
  input.submit {
    width: 90px;
    height: 90px;
    background: #f16224;
    border: 0;
    color: #fff;
    border-radius: 100%;
    position: absolute;
    right: -4em;
    top: 2em;
  }
  input:focus{
    border: 1px solid #f16224!important;
    background-color: gray !important;
  }​
  form.delivery_info {
    width: 500px;
    height: 500px;
    position: relative;
    bottom: 17em;
    margin: 0 auto;
    background: #D5D5D5;
    padding: 2em;
  }
  input.input_bg {
    display: block;
    width: 400px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: transparent;
    background-image: none;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    margin-bottom: 1em;
    border-bottom: 1px solid #6F6F6F;
  }
  button.btn.btn-primary.btn_submit {
    border: 0;
    border-radius: 0;
    width: 100px;
    font-size: 1.5em;
    position: absolute;
    right: 1em;
    background: #22B3A4;
  }
  .modal-header {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -4em;
    right: -1em;
    z-index: 99;
  }
  .close.close_style {
    float: right;
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    filter: alpha(opacity=20);
  }

  .price p {
      font-size: 10px;
  }

  span p {
      font-size: 10px;
  }

  .layer-question.total-sum.layer.active {
      position: relative;
      top: 12%;
  }
}    
@media screen and (min-width:1367px) and (max-width: 1920px)   {
 .row.clearfix.agreement_wrapper {
    width: 800px;
    position: absolute;
    top: 17em;
    left: 30em;
  }
  .description {
    width: 400px;
    height: 570px;
    background: image-url("Marketplace.png");
    background-repeat: no-repeat;
    position: absolute;
    top: -7em;
    display: block;
    margin: 0 auto;
    left: 31em;
  }
  .marketplace-form {
    width: 1000px;
    height: 570px;
    position: relative;
    bottom: 11em;
    background: image-url('book.png');
    padding: 3em 2em 6em 2em;
    border: 1px solid #C1C1C1;
    box-shadow: inset 0.1rem 0rem 1rem rgba(0, 0, 0, 0.2);
    left: 6em;
  }
  button.start {
    width: 150px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #22B3A4;
    background-color: #22B3A4;
    color: white;
    border-radius: 0;
    position: absolute;
    left: 8em;
    top: 24em;
  }
  .next {
    width: 50px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #22B3A4;
    background-color: #22B3A4;
    color: white;
    border-radius: 0;
    cursor: pointer;
    position: relative;
    //left: 30em;
   // bottom: 49em;
  }
}    

@media only screen and (min-width: 1919px) and (max-width: 1921px) {
    .marketplace_flip .description {
        position: absolute;
        top: -4em;
        display: block;
        margin: 0 auto;
        left: 40em;
    }

    .marketplace_flip .marketplace-form {
        position: relative;
        bottom: 9em;
        left: 12em;
    }

    .marketplace_flip .next {
        // position: relative;
        // left: 30em;
        // bottom: 48em;
        // margin: 66.5% 44%;
    }
}
