.questionaire{
  display: none;
}

.ondemand_flip_style{
  position: relative;
  left: -2em;
  .question-padd{
    padding: 1em;
    height: 50px;
  }
  .radio_style{
    margin: 1em;
  }
  .ondemand_flip{
    position: relative;
    top: 5em;
  } 
  .ondemand-wrapper {
    list-style: none;
    position: relative;
    top: -1em;
    margin: 0 auto;
    left: -14em;
    width: 400px;
  }
  .services {
    display: inline-block;
    width: 900px;
  }
  .services li {
    width: 150px;
    padding: 0.5em;
    text-align: center;
    background: #d9d7d7;
    margin: 0.5em;
    cursor: pointer;
    display: inline-block;
  }
  input.input_styling {
    border: 0;
    background: #878484;
    padding: 0.5em;
    width: 250px;
    color: #fff;
    font-size: 15px;
  }
  // .radio label .circle {
  //   border: 2px solid #A1A1A1;
  //   height: 30px;
  //   width: 30px;
  //   border-radius: 0;
  //   background: #fff;
  // }
  // .radio label .check {
  //   height: 50px;
  //   width: 50px;
  //   border-radius: 0;
  //   background-color: rgba(0, 0, 0, 0.84);
  //   -webkit-transform: scale3d(0, 0, 0);
  //   transform: scale3d(0, 0, 0);
  //   position: absolute;
  //   top: -0.5em;
  //   left: 0em;
  // }

  .circle {
      border: 2px solid #A1A1A1;
      height: 30px;
      width: 30px;
      border-radius: 0;
      background: #fff;
  }
  .radio.radio-primary {
    display: inline-block;
    padding: 1em;
    top: -2em;
    height: 30px;
  }
  label.radio-inline {
    position: relative;
    left: -1.5em;
  }
  .usage_doc {
    display: inline-flex;
  }
  input.input_styling {
    width: 250px;
    padding: 0.3em;
    background: #888585;
    border: 0;
    color: #fff;
    font-size: 15px;
  }
  .price.price_style {
    position: absolute;
    left: 3em;
  }
  .answer.legal-type-form {
      height: 60px;
  }
  .para-text {
    position: relative;
    font-size: 10px;
    width: 100px;
  }
  .radio.radio-primary.radio-no-style1 {
    position: absolute;
    top: -0.7em;
    // left: 5.7em;
  }
  div#pick_date {
    width: 400px;
    position: absolute;
    top: 12em;
    height: 70px;
  }
  .attestation-form {
    position: relative;
    top: 0em;
    background: image-url('book.png');
    padding: 2em 2em 8em 4em;
    border: 1px solid #C1C1C1;
    box-shadow: inset 0.1rem 0rem 1rem rgba(0, 0, 0, 0.2);
    width: 970px;
    height: 516px;
    left: 2em;
  }
  button.start {
    width: 150px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #22B3A4;
    background-color: #22B3A4;
    color: white;
    border-radius: 0;
    position: absolute;
    left: 33%;
    top: 70%;
  }
  .next {
    width: 50px;
    margin: -6% -2%;
    padding: 5px;
    border: 1px solid #22B3A4;
    background-color: #22B3A4;
    color: white;
    border-radius: 0;
    cursor: pointer;
    position: relative;
    // left: 30em;
    // bottom: 60em;
    z-index: 999;
  }
  .description {
    width: 400px;
    height: 570px;
    background: image-url("On-Demand.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 3em;
    display: block;
    margin: 0 auto;
    left: 35%;
  }
  h1.attesttation-head {
    color: #fff;
    position: absolute;
    left: 3em;
    top: 2em;
  }
  button.ui-datepicker-trigger {
    position: absolute;
    top: 0;
    right: 2em;
    height: 30px;
    width: 28px;
    border: 0;
    background: #565454;
  }
  form.delivery_info {
    width: 500px;
    height: 570px;
    position: relative;
    bottom: 23em;
    margin: 0 auto;
    background: #D5D5D5;
    padding: 2em;
  }
  input.input_bg {
    display: block;
    width: 400px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: transparent;
    background-image: none;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    margin-bottom: 1em;
    border-bottom: 1px solid #6F6F6F;
  }
  .close.close_style {
      float: right;
      font-size: 50px;
      font-weight: bold;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: 0.2;
      filter: alpha(opacity=20);
  }
  .modal-header {
      padding: 15px;
      border-bottom: 0;
      min-height: 16.42857143px;
      width: 50px;
      height: 50px;
      position: absolute;
      top: -3em;
      right: -4em;
      z-index: auto;
  }

  input.submit {
    position: absolute;
    top: 1em;
    right: -4em;
    width: 90px;
    border: 0;
    background: #f16224;
    color: #fff;
    padding: 0.5em;
    height: 90px;
    border-radius: 100%;
  }

  input.submit:focus {
    background: #f16224 !important;
    border: 0;
    color: #fff;
  }

  input:focus{
    border: 1px solid #f16224!important;
    background-color: gray !important;
  }​
  .layer-question.total-sum.layer.active {
      position: relative;
      bottom: 0em;
  }

  .radio.radio-primary.radio-no-styles {
      position: relative;
      left: 0;
      top: -2em;
  }

  .services li.active {
      background: #000000;
      color: #fff;
  }

  .price p {
      width: 100px;
      font-size: 10px;
  }

  .layer-question {
      height: 55px;
  }

  span p {
      font-size: 10px;
  }

  .ondemand_txt {
      margin-top: -3%;
      background-image: image-url("ondemand_book.png");
      background-position: center;
      background-repeat: no-repeat;
      height: 600px;
  }

  .ondemand_txt h4.text-center {
      position: absolute;
      // width: 300px;
      margin: 14% 36%;
  }
}
.notary{
  margin-top: 30px;
  .description_notary {
    width: 400px;
    height: 570px;
    background: image-url('On-Demand.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 3em;
    display: block;
    margin: 0 auto;
    left: 35%;
  }

  h1.attesttation-head {
    color: #fff;
    top: 2em;
    text-align: center;
    width: 110px;
    left: 3.5em;
  }

  button.ui-datepicker-trigger {
    position: absolute;
    top: 0;
    right: 3em;
    height: 30px;
    width: 28px;
    border: 0;
    background: #565454;
  }

  .notary-form {
    position: relative;
    bottom: 3em;
    background: image-url("book.png");
    padding: 3em 2em 8em 4em;
    border: 1px solid #C1C1C1;
    box-shadow: inset 0.1rem 0rem 1rem rgba(0, 0, 0, 0.2);
    width: 980px;
    height: 510px;
    left: 1em;
  }
  button.start {
    width: 150px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #22B3A4;
    background-color: #22B3A4;
    color: white;
    border-radius: 0;
    position: absolute;
    left: 33%;
    top: 70%;
  }
  .next {
    width: 50px;
    margin: -6% -2%;
    padding: 5px;
    border: 1px solid #22B3A4;
    background-color: #22B3A4;
    color: white;
    border-radius: 0;
    cursor: pointer;
    position: relative;
    // left: 30em;
    // bottom: 60em;
    z-index: 999;
  }
  input.input_styling {
    width: 250px;
    padding: 0.3em;
    background: #888585;
    border: 0;
    color: #fff;
    font-size: 15px;
  }
  input.submit {
    position: absolute;
    right: -4em;
    top: -0.5em;
    width: 90px;
    font-size: 15px;
    background: #f16224;
    border: 0;
    color: #fff;
    height: 90px;
  }
  input:focus{
    border: 1px solid #f16224!important;
    background-color: gray !important;
  }​
  // .radio label .circle {
  //   border: 2px solid #A1A1A1;
  //   height: 30px;
  //   width: 30px;
  //   border-radius: 0;
  //   background: #fff;
  // }
  // .radio label .check {
  //   height: 50px;
  //   width: 50px;
  //   border-radius: 0;
  //   background-color: rgba(0, 0, 0, 0.84);
  //   -webkit-transform: scale3d(0, 0, 0);
  //   transform: scale3d(0, 0, 0);
  //   position: absolute;
  //   top: -0.5em;
  //   left: 0em;
  // }

  .circle {
      border: 2px solid #A1A1A1;
      height: 30px;
      width: 30px;
      border-radius: 0;
      background: #fff;
  }

  .radio.radio-primary {
    display: inline-block;
    padding: 1em;
    top: -2em;
    height: 30px;
  }
  label.radio-inline {
    position: relative;
    left: -1.5em;
  }
  form.delivery_info {
    width: 500px;
    height: 500px;
    position: relative;
    bottom: 23em;
    margin: 0 auto;
    background: #D5D5D5;
    padding: 2em;
  }
  input.input_bg {
    display: block;
    width: 400px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: transparent;
    background-image: none;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    margin-bottom: 1em;
    border-bottom: 1px solid #6F6F6F;
  }
  .radio.radio-primary.radio-no-styles {
    display: inline-block;
    padding: 1em;
    top: -1.5em;
    left: 1.5em;
  }
  .layer-question.total-sum.layer.active {
    // position: relative;
    // bottom: 7em;
  }
  .close.close_style {
      float: right;
      font-size: 50px;
      font-weight: bold;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: 0.2;
      filter: alpha(opacity=20);
  }
  .modal-header {
      padding: 15px;
      border-bottom: 0;
      min-height: 16.42857143px;
      width: 50px;
      height: 50px;
      position: absolute;
      top: -3em;
      right: -4em;
      z-index: auto;
  }

  .services li.active {
      background: #000000;
      color: #fff;
  }

  .price p {
      font-size: 10px;
      width: 100px;
  }

  input.submit:focus {
    background: #f16224 !important;
    border: 0;
    color: #fff;
  }
}  
.estamp{
  .description_estamp {
    width: 400px;
    height: 570px;
    background: image-url('On-Demand.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 3em;
    display: block;
    margin: 0 auto;
    left: 35%;
  }
  h1.attesttation-head {
    color: #fff;
    position: absolute;
    left: 3.5em;
    top: 2em;
  }
  button.ui-datepicker-trigger {
    position: absolute;
    top: 0;
    right: 2.3em;
    height: 30px;
    width: 28px;
    border: 0;
    background: #565454;
  }
  .estamp-form {
    position: relative;
    bottom: 0em;
    background: image-url("book.png");
    padding: 3em 1em 8em 2em;
    border: 1px solid #C1C1C1;
    box-shadow: inset 0.1rem 0rem 1rem rgba(0, 0, 0, 0.2);
    width: 980px;
    height: 460px;
    left: 1em;
  }
  button.start {
    width: 150px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #22B3A4;
    background-color: #22B3A4;
    color: white;
    border-radius: 0;
    position: absolute;
    left: 33%;
    top: 70%;
  }
  .next {
    width: 50px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #22B3A4;
    background-color: #22B3A4;
    color: white;
    border-radius: 0;
    cursor: pointer;
    position: relative;
    // left: 30em;
    // bottom: 60em;
    margin-top: -6%;
    z-index: 999;
  }
  input.input_styling {
    width: 250px;
    padding: 0.3em;
    background: #888585;
    border: 0;
    color: #fff;
    font-size: 15px;
  }
  input.submit {
    position: absolute;
    right: -4em;
    top: 2em;
    width: 90px;
    font-size: 15px;
    background: #f16224;
    border: 0;
    color: #fff;
    height: 90px;
  }
  input:focus{
    border: 1px solid #f16224!important;
    background-color: gray !important;
  }​
  // .radio label .circle {
  //   border: 2px solid #A1A1A1;
  //   height: 30px;
  //   width: 30px;
  //   border-radius: 0;
  //   background: #fff;
  // }
  // .radio label .check {
  //   height: 50px;
  //   width: 50px;
  //   border-radius: 0;
  //   background-color: rgba(0, 0, 0, 0.84);
  //   -webkit-transform: scale3d(0, 0, 0);
  //   transform: scale3d(0, 0, 0);
  //   position: absolute;
  //   top: -0.5em;
  //   left: 0em;
  // }
  .circle {
      border: 2px solid #A1A1A1;
      height: 30px;
      width: 30px;
      border-radius: 0;
      background: #fff;
  }
  .radio.radio-primary {
    display: inline-block;
    padding: 1em;
    top: -2em;
  }
  label.radio-inline {
    position: relative;
    left: -1.5em;
  }
  .layer-question.layer {
    padding: 0.5em;
  }
  form.delivery_info {
    width: 500px;
    height: 570px;
    position: relative;
    bottom: 23em;
    margin: 0 auto;
    background: #D5D5D5;
    padding: 2em;
  }
  input.input_bg {
    display: block;
    width: 400px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: transparent;
    background-image: none;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    margin-bottom: 1em;
    border-bottom: 1px solid #6F6F6F;
  }
  
  .radio.radio-primary.second_party_styles {
    position: absolute;
    top: -0.8em;
    width: 100%;
    left: 9em;
  }
  .close.close_style {
      float: right;
      font-size: 50px;
      font-weight: bold;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: 0.2;
      filter: alpha(opacity=20);
  }
  .modal-header {
      padding: 15px;
      border-bottom: 0;
      min-height: 16.42857143px;
      width: 50px;
      height: 50px;
      position: absolute;
      top: -3em;
      right: -4em;
      z-index: auto;
  }

  .layer-question.total-sum.layer.active {
      margin-top: 4%;
  }

  .services li.active {
      background: #000000;
      color: #fff;
  }

  input.submit:focus {
    background: #f16224 !important;
    border: 0;
    color: #fff;
  }
}
.franking{
  .description_franking {
    width: 400px;
    height: 570px;
    background: image-url('On-Demand.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 3em;
    display: block;
    margin: 0 auto;
    left: 35%;
  }
  form.delivery_info {
    width: 500px;
    height: 500px;
    position: relative;
    bottom: 23em;
    margin: 0 auto;
    background: #D5D5D5;
    padding: 2em;
  }
  input.input_bg {
    display: block;
    width: 400px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: transparent;
    background-image: none;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    margin-bottom: 1em;
    border-bottom: 1px solid #6F6F6F;
  }
  h1.attesttation-head {
    color: #fff;
    position: absolute;
    left: 3.5em;
    top: 2em;
  }
  button.ui-datepicker-trigger {
    position: absolute;
    top: 0;
    right: 2em;
    height: 30px;
    width: 28px;
    border: 0;
    background: #565454;
  }
  .franking-form {
    position: relative;
    background: image-url('book.png');
    padding: 3em 2em 8em 6em;
    border: 1px solid #C1C1C1;
    box-shadow: inset 0.1rem 0rem 1rem rgba(0, 0, 0, 0.2);
    width: 980px;
    height: 450px;
    left: 1em;
    top: 0em;
  }
  button.start {
    width: 150px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #22B3A4;
    background-color: #22B3A4;
    color: white;
    border-radius: 0;
    position: absolute;
    left: 33%;
    top: 70%;
  }
  .next {
    width: 50px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #22B3A4;
    background-color: #22B3A4;
    color: white;
    border-radius: 0;
    cursor: pointer;
    position: relative;
    // left: 30em;
    // bottom: 60em;
    margin-top: -5.5%;
    z-index: 999;
  }
  input.input_styling {
    width: 250px;
    padding: 0.3em;
    background: #888585;
    border: 0;
    color: #fff;
    font-size: 15px;
  }
  input.submit {
    position: absolute;
    right: -4em;
    top: 5em;
    width: 90px;
    font-size: 15px;
    background: #f16224;
    border: 0;
    color: #fff;
  }

  input.submit:focus {
    background: #f16224 !important;
    border: 0;
    color: #fff;
  }

  input:focus{
    border: 1px solid #f16224!important;
    background-color: gray !important;
  }​
  // .radio label .circle {
  //   border: 2px solid #A1A1A1;
  //   height: 30px;
  //   width: 30px;
  //   border-radius: 0;
  //   background: #fff;
  // }

  // .radio label .check {
  //   height: 50px;
  //   width: 50px;
  //   border-radius: 0;
  //   background-color: rgba(0, 0, 0, 0.84);
  //   -webkit-transform: scale3d(0, 0, 0);
  //   transform: scale3d(0, 0, 0);
  //   position: absolute;
  //   top: -0.5em;
  //   left: 0em;
  // }

  .circle {
      border: 2px solid #A1A1A1;
      height: 30px;
      width: 30px;
      border-radius: 0;
      background: #fff;
  }

  .radio.radio-primary {
    display: inline-block;
    padding: 1em;
    top: -2em;
  }

  label.radio-inline {
    position: relative;
    left: -1.5em;
  }

  .layer-question.layer {
    padding: 0.5em;
  }
  .close.close_style {
      float: right;
      font-size: 50px;
      font-weight: bold;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: 0.2;
      filter: alpha(opacity=20);
  }
  .modal-header {
      padding: 15px;
      border-bottom: 0;
      min-height: 16.42857143px;
      width: 50px;
      height: 50px;
      position: absolute;
      top: -3em;
      right: -4em;
      z-index: auto;
  }

  .services li.active {
      background: #000000;
      color: #fff;
  }

  .price p {
      font-size: 10px;
      width: 100px;
  }

  input.submit:focus {
    background: #f16224 !important;
    border: 0;
    color: #fff;
  }
} 
.property{
  .description_legal {
    width: 400px;
    height: 570px;
    background: image-url('On-Demand.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 3em;
    display: block;
    margin: 0 auto;
    left: 35%;
  }
  h1.attesttation-head {
    color: #fff;
    position: absolute;
    left: 2em;
    top: 2em;
  }
  button.ui-datepicker-trigger {
    position: absolute;
    top: 0;
    right: 3em;
    height: 30px;
    width: 28px;
    border: 0;
    background: #565454;
  }
  .legal-form {
    position: relative;
    background: image-url('book.png');
    padding: 3em 2em 8em 3em;
    border: 1px solid #C1C1C1;
    box-shadow: inset 0.1rem 0rem 1rem rgba(0, 0, 0, 0.2);
    width: 980px;
    height: 450px;
    left: 1em;
    top: 0em;
  }
  button.start {
    width: 150px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #22B3A4;
    background-color: #22B3A4;
    color: white;
    border-radius: 0;
    position: absolute;
    left: 33%;
    top: 70%;
  }
  .next {
    width: 50px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #22B3A4;
    background-color: #22B3A4;
    color: white;
    border-radius: 0;
    cursor: pointer;
    position: relative;
    // left: 30em;
    // bottom: 60em;
    margin-top: -5%;
    z-index: 999;
    left: 2%;
  }
  input.input_styling {
    width: 250px;
    padding: 0.3em;
    background: #888585;
    border: 0;
    color: #fff;
    font-size: 15px;
  }
  input.submit {
    position: absolute;
    right: -4em;
    top: 4em;
    width: 90px;
    font-size: 15px;
    background: #f16224;
    border: 0;
    color: #fff;
    }
    input:focus{
      border: 1px solid #f16224!important;
      background-color: gray !important;
    }​
  // .radio label .circle {
  //   border: 2px solid #A1A1A1;
  //   height: 30px;
  //   width: 30px;
  //   border-radius: 0;
  //   background: #fff;
  // }
  // .radio label .check {
  //   height: 50px;
  //   width: 50px;
  //   border-radius: 0;
  //   background-color: rgba(0, 0, 0, 0.84);
  //   -webkit-transform: scale3d(0, 0, 0);
  //   transform: scale3d(0, 0, 0);
  //   position: absolute;
  //   top: -0.5em;
  //   left: 0em;
  // }

  .circle {
      border: 2px solid #A1A1A1;
      height: 30px;
      width: 30px;
      border-radius: 0;
      background: #fff;
  }
  
  .radio.radio-primary {
    display: inline-block;
    padding: 1em;
    top: -2em;
  }
  label.radio-inline {
    position: relative;
    left: -1.5em;
  }
  .layer-question.layer {
    padding: 0.5em;
  }
  form.delivery_info {
    width: 500px;
    height: 570px;
    position: relative;
    bottom: 23em;
    margin: 0 auto;
    background: #D5D5D5;
    padding: 2em;
  }
  input.input_bg {
    display: block;
    width: 400px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: transparent;
    background-image: none;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    margin-bottom: 1em;
    border-bottom: 1px solid #6F6F6F;
 }
 .close.close_style {
      float: right;
      font-size: 50px;
      font-weight: bold;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: 0.2;
      filter: alpha(opacity=20);
  }
  .modal-header {
      padding: 15px;
      border-bottom: 0;
      min-height: 16.42857143px;
      width: 50px;
      height: 50px;
      position: absolute;
      top: -3em;
      right: -4em;
      z-index: auto;
  }

  .services li.active {
      background: #000000;
      color: #fff;
  }

  select#property-type {
      background: #888585;
      color: #fff;
      height: 30px;
      border: 0;
  }

  .radio_style{
    margin: 1em;
  }

  input.submit:focus {
    background: #f16224 !important;
    border: 0;
    color: #fff;
  }
}
.input-append {
  width: 250px;
  border: 0;
  font-size: 15px;
  height: 30px;
  background: #888585;
}

select.select_option {
  width: 250px;
  border: 0;
  color: #fff;
  background: #888585;
  margin: 6px 0;
}

@media only screen and (min-width: 1919px) and (max-width: 1921px) {
  .ondemand_flip_style .ondemand-wrapper {
      list-style: none;
      position: relative;
      top: 1em;
      margin: 0 auto;
      left: -14em;
      width: 400px;
  }

  .ondemand_flip_style .description {
      position: absolute;
      top: 14em;
      display: block;
      margin: 0 auto;
      left: 40em;
  }

  .ondemand_flip_style .description_notary {
      position: absolute;
      top: 14em;
      display: block;
      margin: 0 auto;
      left: 40em;
  }

  .ondemand_flip_style .description_estamp {
      position: absolute;
      top: 14em;
      display: block;
      margin: 0 auto;
      left: 40em;
  }

  .ondemand_flip_style .description_franking {
      position: absolute;
      top: 14em;
      display: block;
      margin: 0 auto;
      left: 40em;
  }

  .ondemand_flip_style .description_legal {
      position: absolute;
      top: 14em;
      display: block;
      margin: 0 auto;
      left: 40em;
  }
  
  .ondemand_flip_style .attestation-form {
      position: relative;
      top: 7em;
      left: 22em;
  }

  .ondemand_flip_style .next {
      // position: relative;
      // left: 33em;
      // bottom: 34em;
      // margin: 66.5% 43%;
  }

  .notary .notary-form {
      position: relative;
      top: 7em;
      left: 22em;
  }

  .estamp .estamp-form {
      position: relative;
      top: 7em;
      left: 22em;
  }

  .estamp .next {
      // position: relative;
      // left: 34em;
      // bottom: 30em;
      // margin: 66.5% 44%;
  }

  .franking .franking-form {
      position: relative;
      top: 7em;
      left: 22em;
  }

  .franking .next {
      // position: relative;
      // left: 33em;
      // bottom: 30em;
      // margin: 66.5% 44%;
  }

  .property .legal-form {
      position: relative;
      top: 7em;
      left: 22em;
  }

  .property .next {
      // position: relative;
      // left: 34em;
      // bottom: 30em;
      // margin: 67.5% 0;
  }

  .ondemand_flip_style .ondemand_txt {
      margin-top:7%;
      text-align: center;
  }

  .layer-question.layer {
      margin-bottom: 2em;
      height: 30px;
  }

  .ondemand_flip_style .ondemand_txt h4.text-center {
      position: absolute;
      margin: 9% 41%;
  }
}
@media only screen and (min-width: 1362px) and (max-height: 597px){
  .ondemand_flip_style .layer-question {
    height: 51px;
   } 
  .ondemand_flip_style .attestation-form {
    left: 0em!important;
    top:-1em!important;
    padding: 1.5em 2em 0em 3em!important;
  } 
  .ondemand_flip_style input.submit {
    top: 1.5em!important;
  }
  .ondemand_flip_style .notary-form {
    left: 0em!important;
    top:-1em!important;
    padding: 1.5em 2em 0em 3em!important;
  } 
  .ondemand_flip_style .estamp-form {
    left: 0em!important;
    top:-1em!important;
    padding: 1.5em 2em 0em 3em!important;
  } 
  .ondemand_flip_style .franking-form {
    left: 0em!important;
    top:-1em!important;
    padding: 1.5em 2em 0em 3em!important;
  } 
  .ondemand_flip_style .legal-form {
    left: 0em!important;
    top:-1em!important;
    padding: 1.5em 2em 0em 3em!important;
  } 
} 

 