.order_dashboard_inner_bg{
  background-image: image-url("new_images/dashboard_pattern.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  nav.navbar.navbar-default.side-top-nav {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: transparent;
    border-bottom: 1px solid #000;
    height: 20px;
  }
  ul.nav.navbar-nav.nav-stacked {
    width: 200px;
    position: absolute;
    left: 0;
    height: 100vh;
    // background:-webkit-linear-gradient(180deg, #fd8727, #fdbb33);
    // background: -o-linear-gradient(180deg, #fdbb33, #fd8727); /* For Opera 11.1 to 12.0 */
    // background: -moz-linear-gradient(180deg, red, #fd8727); /* For Firefox 3.6 to 15 */
    background: #ed1c24; /* Standard syntax (must be last) */
    display: block !important;
  }
  .nav-stacked li {
    width: 200px;
    height: 35px;
    text-align: left;
    position: relative;
    top: 16em;
  }
  a.navbar-brand {
    text-align: center !important;
    font-size: 25px;
    color: #fff !important;
    position: absolute;
    z-index: 999;
    left: 0;
    width: 200px;
    height: 49px;
    border-bottom: 1px solid #000;
  }
  .navbar-nav li a {
    height: 49px;
    padding: 8px 12px;
  }
  .form-group.search-bar {
    position: relative;
    top: -0.5em;
    color: black;
    background: transparent;
  }
  input.form-control.input-style {
    position: relative;
    top: 0em;
    color: white;
    background: transparent;
  }
  .login_wrapper {
    position: absolute;
    top: 6em;
    left: 2em;
  }
  .login_wrapper img {
    border-radius: 90px;
    border: 6px solid #fff;
    margin: 0 auto;
    position: relative;
    left: 1.5em;
  }
  li.act-style {
    background-color: rgba(21, 20, 20, 0.53);
    height: 20px;
  }
  .navbar-default .navbar-nav.nav-stacked>li>a {
    color: #FBFBFB;
    padding: 0.5em 3em;
    height: 35px;
  }
  .navbar-default .navbar-nav.nav-stacked>li>a:active {
    color: #FBFBFB;
    padding: 0.5em 3em;
    height: 35px;
  }
  .navbar-default .navbar-nav.nav-stacked>li>a:focus {
    color: #FBFBFB;
    padding: 0.5em 3em;
    height: 35px;
  }
  .dropdown img {
    border-radius: 40px;
  }
  .body-wrapper {
    float: right;
    top: 5em;
  }
  .order-bgclr {
    // background: #333;
    color: #000;
    position: fixed;
    width: 100%;
    left: 15.4em;
    top: 3.5em;
    padding: 0.5em;
  }
  /*  Tab Content CSS */
  .nav-tabs { 
    border-bottom: 2px solid #DDD; 
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { 
    border-width: 0; 
  }
  .nav-tabs > li > a { 
    border: none; 
    color: #000 !important; 
  }
  .nav-tabs > li.active > a, .nav-tabs > li > a:hover { 
    border: none; 
    color: #000 !important; 
    background: transparent; 
  }
  .nav-tabs > li > a::after { 
    content: ""; 
    background: #ED1C24; 
    height: 8px !important; 
    position: absolute; 
    width: 100%; 
    left: 0px; 
    bottom: -1px; 
    transition: all 250ms ease 0s; 
    transform: scale(0);
    color: #000 !important; 
    -webkit-transition: all 250ms ease 0s;
    -webkit-transform: scale(0); 
  }
  .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { 
    transform: scale(1); 
    -webkit-transform: scale(1);
  }
  .tab-nav > li > a::after { 
    background: #e66b32 none repeat scroll 0% 0%; 
    color: #000 !important; 
  }
  .tab-pane { 
    padding: 15px 0; 
  }
  .tab-content{
    padding:20px
  }
  .card {
    background: #FFF none repeat scroll 0% 0%; 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); 
    margin-bottom: 30px; 
  }
  ul.nav.nav-tabs.tablist {
    position: relative;
    top: 4em;
    background: transparent;
    border-bottom: 1px solid #000;
    display: inline-block;
    padding: 0.1em;
    cursor: pointer;
    width: 310px;
  }
  .tabcontent_card {
      position: relative;
      top: 5em;
  }
  .nav-tabs.tablist>li {
      color: #000;
      position: relative;
      left: 0.5em;
  }
  .reciept_wrapper {
    background: #00c295;
    color: #fff;
    width: 120px;
    padding: 0.5em;
    display: inline-block;
  }
  .soft_copy_wrapper {
    background: #616f7a;
    color: #fff;
    width: 120px;
    padding: 0.5em;
    display: inline-block;
  }
  .bg_order {
    background: #d1cdc2;
    padding: 1em;
    height: 80px;
  }
  .icons_wrapper {
    display: inline-block;
    position: absolute;
    left: -4em;
    top: 1em;
  }
  .order_body_bg {
    padding: 2em;
    background: rgba(242, 242, 237, 0.7);
    box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
    border: 1px solid rgba(14, 14, 14, 0.1);
  }
  .scroll_style {
      height: 400px;
      overflow-y: scroll;
      position: relative;
      top: 2em;
  }
  .soft_copy_wrapper a {
      color: #fff;
      text-decoration: none;
  }
  .payment_wrapper {
      background: #F9A21E;
      padding: 0.5em 0em;
      color: #fff;
      width: 100px;
      text-align: center;
      cursor: pointer;
      display: inline-block;
  }
  .delete_wrapper {
    background: red;
    padding: 0.5em;
    color: #fff;
    width: 100px;
    text-align: center;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
  }
  .track_wrapper {
      width: 100px;
      background: #E94343;
      text-align: center;
      color: #fff;
      padding: 0.5em;
      margin: 0 auto;
      cursor: pointer;
  }
  a{
    text-decoration: none !important;
  }

  .reciept_wrapper a {
      color: #fff;
      cursor: pointer;
  }

  .order-bgclr h3 {
      font-weight: bold;
  }

  .nav-tabs.tablist > li a {
      font-weight: bold;
  }

  .bg_order h5 {
      font-weight: bold;
  }
}   
.empty-order-page {
    width: 700px;
    margin: 11% 42%;
    .text_wrapper {
        width: 450px;
        margin-top: 9%;
    }
    h4.order_head {
        font-weight: 800;
        color: #6e6e6e;
        text-align: center;
    }
    h4.order_sub_head {
        color: #a8a7a5;
        text-align: center;
    }
}  
@media all and (min-width: 768px) and (max-width: 1024px) {
  .order_dashboard_inner_bg .bg_order {
      height: 100%;
  }

  .order_dashboard_inner_bg .payment_wrapper {
      position: relative;
      top: -12em;
      left: 13em;
  }

  .order_dashboard_inner_bg .reciept_wrapper {
      position: absolute;
      top: -12em;
      left: 21em;
  }

  .soft_copy_wrapper {
      position: absolute;
      top: -12em;
      left: 31em;
  }

  .order_dashboard_inner_bg .track_wrapper {
      position: absolute;
      top: -11em;
      right: 0;
  }

  .order_dashboard_inner_bg .nav-tabs > li.active > a, .order_dashboard_inner_bg .nav-tabs > li > a:hover {
      cursor: pointer;
  }

  
}   
@media only screen and (min-width: 1919px) and (max-width: 1921px) {
  .order_dashboard_inner_bg .tabcontent_card {
      width: 94% !important;
  }

  .order_dashboard_inner_bg .scroll_style {
      height: 700px !important;
  }
}