.partner_with_us{
  background-image: image-url('partner_banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed;
  height: 500px;
  position: relative;
  top: 5em;
  
}
.content_padd {
  text-align: center;
  padding: 8em 0em 0em;

  h1.partner_txt_head {
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: inline-block;
    padding: 1em;
    font-size: 50px;
  }

  .partner_content p {
    line-height: 23px;
    color: #000;
    font-weight: 700;
  }
  .partner_content {
    padding: 2em 10em 3em 10em;
    text-align: justify;
  }

  hr.hr_style {
    margin-top: 3em;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #060606;
  }
  span.upload {
      left: 2.1em;
      position: absolute;
      width: 90%;
      height: 50px;
  }
  .fileUpload {
      position: relative;
      overflow: hidden;
      margin: 10px;
  }
  .fileUpload input.upload {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
  }
  .fileUpload.btn.btn-primary {
      width: 100px;
      background: #27AE60;
      font-weight: bold;
      color: white;
      border: 0 none;
      border-radius: 1px;
      cursor: pointer;
      padding: 15px 5px;
      margin: 10px 5px;
      position: relative;
      top: -5em;
      left: 15.7em;
  }
  .thanks{
    text-align: center;
  }
  i.fa.fa-check {
      display: flex;
  }
  
  .red{
    color: red;
  }
  .partners-page-container .form-style-8 {
      font-family: 'Open Sans Condensed', arial, sans;
      width: 500px;
      padding: 30px;
      background: #FFFFFF;
      margin: 0;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
      -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
      -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  }
  
  /*form styles*/
  #msform {
    width: 600px;
    margin: 50px auto;
    text-align: center;
    position: relative;
  }
  #msform fieldset {
        background: white;
        border: 0 none;
        border-radius: 0;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
        position: relative;
  }
  /*Hide all except first fieldset*/
  #msform fieldset:not(:first-of-type) {
    display: none;
  }
  /*inputs*/
  #msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
  }
  
  .select_append {
      // padding: 10px;
      border: 1px solid #ccc;
      border-radius: 0;
      margin-bottom: 10px;
      width: 100%;
      box-sizing: border-box;
      font-family: montserrat;
      color: #2C3E50;
      font-size: 13px;
  }
  select.select_category {
    /* border: 0; */
    font-size: 13px;
    margin: 0% auto;
    padding: 10px;
    border: 0;
    border-radius: 0;
    /* margin-bottom: 10px; */
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
    height: 40px;
  }

  select {
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 0;
      margin-bottom: 10px;
      width: 100%;
      box-sizing: border-box;
      font-family: montserrat;
      color: #2C3E50;
      font-size: 13px;
      background-color: white;
  }
  /*buttons*/
  #msform .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
  }
  #msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
  }
  /*headings*/
  .fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
  }
  .fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
  }
  /*progressbar*/
  #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
  }
  #progressbar li {
    list-style-type: none;
    color: #03112a;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    border-radius: 0;
    position: relative;
  }
  #progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #FFF;
      background: #3E5792;
    border-radius: 0;
    margin: 0 auto 5px auto;
  }
  /*progressbar connectors*/
  #progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
  }
  #progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
  }
  /*marking active/completed steps green*/
  /*The number of the step and the connector before it = green*/
  #progressbar li.active:before,  #progressbar li.active:after{
    background: #27AE60;
    color: white;
  }

}

@media only screen and (min-width: 1919px) and (max-width: 1921px) {
  #msform .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 1em 6em !important;
    position: absolute;
    bottom: 0;
  }

  .partner_with_us {
      background-image: image-url('partner_banner.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 800px;
      position: relative;
      top: 5em;
  }
}

@media all and (min-width: 360px) and (max-width: 640px) {
  .partner_with_us{
    background-image: image-url('partner_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // background-attachment: fixed;
    height: 100vh;
    position: relative;
    top: 5em;
  }
  .content_padd h1.partner_txt_head {
    font-size: 28px!important;
  }
  #msform fieldset {
    background: #FFF none repeat scroll 0% 0%;
    border: 0px none;
    border-radius: 0px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    width: 100%;
    margin: 0px auto;
    position: relative;
    padding: 20px;
  }
  #msform {
      width: 345px !important;
      margin: 0px -11em !important;
      text-align: center;
      position: relative;
  }
  #msform input, #msform textarea {
    border: 1px solid #CCC;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 93%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
    height: 48px!important;
    padding: 6px;
  }
  .fileUpload.btn.btn-primary {
    padding: 13px 5px !important;
    margin: 13px 10px !important;
    position: relative;
    top: -5em;
    left: 6.7em !important;
  }
  span.upload {
    left: 2.1em;
    position: absolute;
    width: 82%!important;
    height: 50px;
  }
}
 @media all and (min-width: 641px) and (max-width: 991px) {
    .partner_with_us{
      background-image: image-url('partner_banner.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      // background-attachment: fixed;
      height: 100vh;
      position: relative;
      top: 5em;
    }
    .content_padd h1.partner_txt_head {
      font-size: 28px!important;
    }
    #msform fieldset {
      background: #FFF none repeat scroll 0% 0%;
      border: 0px none;
      border-radius: 0px;
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
      box-sizing: border-box;
      width: 100%;
      margin: 0px auto;
      position: relative;
      padding: 20px;
    }
    #msform {
        width: 345px !important;
        margin: 0px -11em !important;
        text-align: center;
        position: relative;
    }
    #msform input, #msform textarea {
      border: 1px solid #CCC;
      border-radius: 0px;
      margin-bottom: 10px;
      width: 93%;
      box-sizing: border-box;
      font-family: montserrat;
      color: #2C3E50;
      font-size: 13px;
      height: 48px!important;
      padding: 6px;
    }
    .fileUpload.btn.btn-primary {
      padding: 13px 5px !important;
      margin: 13px 10px !important;
      position: relative;
      top: -5em;
      left: 6.7em !important;
    }
    span.upload {
      left: 2.1em;
      position: absolute;
      width: 82%!important;
      height: 50px;
    }
    .content_padd .partner_content {
      padding: 2em 21em 3em;
      text-align: justify;
    }
  }