.privacy_policy{
    background-image: image-url("banner.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    position: relative;
    top: 5em;
    
    h4.style{

    }
    
    h1{
        font-size: 50px;
    }
    
    
    .content_style {
        /* position: absolute; */
        /* top: 13em; */
        padding: 6em 7em 4em 7em;
    }

    .tab-content {
        padding: 2em;
    }

    ul.nav.nav-tabs {
        width: 350px;
        position: relative;
        display: block;
        margin: 0 auto;
    }
}
.correspondence{
    padding: 0 20px;
    > h4 b{
        font-size: 15px;
    }
}
p.style_text{
  text-align: justify;
}
.text{
   position: relative;
   padding: 6em 6em 4em 6em;
}
h1.main-head{
  color: #fff;
  font-size: 50px;
  margin-left: 15px;
}
.content-wrapper1{
    position: relative;
    top: 22em;
    color: #fff;
    width: 200px;
    margin: 0 auto
}    
@media only screen and (min-width: 1919px) and (max-width: 1921px) {
h1.main-head{
  color: #fff;
  font-size: 60px;
}
.content-wrapper1{
    position: relative;
    top: 40em;
    color: #fff;
    width: 200px;
    margin: 0 auto
}    
}
@media all and (min-width: 360px) and (max-width: 640px) {
    .privacy_policy{
        background-position: center;
    // background-image: image-url("Banner.jpg");
    // background-repeat: no-repeat;
    // background-size: cover; 
    // height: 100vh;
    // position: relative;
    // top: 5em;
        p.style_text{
            width: 300px!important;
            margin-top: 0px !important;
            padding: 0px;
            margin-left: -67px!important;
        }
        h4.style{
            margin-top: 2em!important;

        }

    }
    .text {
        position: relative!important;
        padding: 1em !important;
        margin-top: 4em!important;
    }
}

// @media all and (max-width: 1024px) and (max-height: 640px) {
//     .text {
//         position: relative;
//         padding: 6em 1em 4em 3em;
//     }
// }