.profile_dashboard_inner_bg{
  background-image: image-url("new_images/dashboard_pattern.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  nav.navbar.navbar-default.side-top-nav {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: transparent;
    border-bottom: 1px solid #000;
    height: 20px;
  }

  ul.nav.navbar-nav.nav-stacked {
    width: 200px;
    position: absolute;
    left: 0;
    height: 100vh;
    // background:-webkit-linear-gradient(180deg, #fd8727, #fdbb33);
    // background: -o-linear-gradient(180deg, #fdbb33, #fd8727); /* For Opera 11.1 to 12.0 */
    // background: -moz-linear-gradient(180deg, red, #fd8727); /* For Firefox 3.6 to 15 */
    background: #ed1c24;
    display: block !important;
  }
  .nav-stacked li {
    width: 200px;
    height: 35px;
    text-align: left;
    position: relative;
    top: 16em;
  }
  a.navbar-brand {
    text-align: center !important;
    font-size: 25px;
    color: #fff !important;
    position: absolute;
    z-index: 999;
    left: 0;
    width: 200px;
    height: 49px;
    border-bottom: 1px solid #000;
  }
  .navbar-nav li a {
    height: 49px;
    padding: 17px 12px;
  }
  .form-group.search-bar {
    position: relative;
    top: -0.5em;
    color: black;
    background: transparent;
  }
  input.form-control.input-style {
    position: relative;
    top: 0em;
    color: white;
    background: transparent;
  }
  input.form-control.input-style:focus {
    position: relative;
    top: 0em;
    color: white;
    background: transparent;
    padding: 1em;
  }
  .login_wrapper {
    position: absolute;
    top: 6em;
    left: 2em;
  }
  .login_wrapper img {
    border-radius: 90px;
    border: 6px solid #fff;
    margin: 0 auto;
    position: relative;
    left: 1.5em;
  }
  li.act-style {
    background-color: rgba(21, 20, 20, 0.53);
    height: 20px;
  }
  .navbar-default .navbar-nav.nav-stacked>li>a {
    color: #FBFBFB;
    padding: 0.5em 3em;
    height: 35px;
  }
  .navbar-default .navbar-nav.nav-stacked>li>a:active {
    color: #FBFBFB;
    padding: 0.5em 3em;
    height: 35px;
  }
  .navbar-default .navbar-nav.nav-stacked>li>a:focus {
    color: #FBFBFB;
    padding: 0.5em 3em;
    height: 35px;
  }
  .dropdown img {
    border-radius: 40px;
  }
  .body-wrapper {
    float: right;
    top: 5em;
  }
  .card {
    display: inline-block;
    position: relative;
    width: 900px;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.84);
    background: #f5f5f0;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // height: 550px;
  }
  .profile-padd{
    position: absolute;
    left: 6em;
    top: 0.5em;
    height:600px;
  }
  img.profile-style {
    height: 120px;
    width: 120px;
    border-radius: 70px;
    border: 2px solid #09A9A1;
  }
  .profile_edit_wrapper {
    text-align: center;
    height: 500px;
    border-right: 1px solid #000;
    padding: 0;
  }
  form.profile_form_style {
    padding: 2em;
  }
  input.form-control.profile_input_style {
    border-radius: 0;
    background: #a1a1a1;
    width: 280px;
    color: #fff;
    margin-bottom: 1.5em;
  }
  input.form-control.profile_input_style:focus {
    border-radius: 0;
    background: #a1a1a1;
    width: 280px;
    color: #fff;
    margin-bottom: 1.5em;
    padding: 6px 12px;
  }
  .radio.radio-primary {
    display: inline-block;
    padding: 1em;
  }
  // label.radio-inline {
  //   position: relative;
  //   left: -1.5em;
  // }
  // .radio label .circle {
  //   border: 2px solid #A1A1A1;
  //   height: 30px;
  //   width: 30px;
  //   border-radius: 0;
  //   background: #FFFFFF;
  // }
  // .radio label .check {
  //   height: 50px;
  //   width: 50px;
  //   border-radius: 0;
  //   background-color: rgba(0, 0, 0, 0.84);
  //   -webkit-transform: scale3d(0, 0, 0);
  //   transform: scale3d(0, 0, 0);
  //   position: absolute;
  //   top: -0.5em;
  //   left: 0em;
  // }
  input.form-control.profile_input_style1 {
    border-radius: 0;
    background: #a1a1a1;
    height: 60px;
    color: #fff;
    margin-bottom: 1.5em;
  }
  button.btn.btn-default.submit-profile {
    background: #fab834;
    border-radius: 0;
    font-size: 20px;
    position: absolute;
    // right: 2em;
    // top: 24em;
    width: 100px;
    left: 50%;
    margin-top: 25%;
  }
  input#files {
    position: absolute;
    top: 4.5em;
    right: 3em;
    /* margin: 0; */
    /* border: solid transparent; */
    /* border-width: 0 0 100px 200px; */
    opacity: 0.0;
    filter: alpha(opacity=0);
    // -o-transform: translate(250px, -50px) scale(1);
    // -moz-transform: translate(-300px, 0) scale(4);
    /* direction: ltr; */
    /* cursor: pointer; */
    height: 140px;
    width: 120px;
    cursor: pointer;
  }
  .address {
      // margin: 1em;
      width: 220px;
      float: left;
      margin: 0px 4px 0;
  }
  
  .address-list {
      height: 190px;
      overflow-y: scroll;
      width: 600px;
  }

  .address_content {
      padding: 1em;
      background: #EFEEE8;
      position: relative;
      top: -1em;
  }

  .forgot_input_style {
      width: 300px;
      margin: 4em auto;
  }

  button.btn.btn-default.submit_btn {
      border-radius: 0;
      width: 300px;
      background: #9A9994;
  }

  h4.profile_head1 {
      background: #9A9994;
      padding: 0.5em 1em;
      color: #fff;
  }
  button.ui-datepicker-trigger {
    border-radius: 0;
    background: #a1a1a1;
    width: 30px;
    color: #fff;
    padding: 1em;
    height: 30px;
    position: absolute;
    top: 2em;
    right: 2em;
    border: 0;
  }
  h4.profile_head{
    background: #9A9994;
    padding: 0.5em 1em;
    color: #fff;
  }

  button.btn.btn-primary {
      border: 0;
      border-radius: 0;
      position: absolute;
      top: 1em;
      width: 150px;
      background: #9A9994 !important;
  }
  i.fa{
      cursor: pointer;
  }

  span.upload_txt_fa {
      font-weight: 800;
      cursor: pointer;
  }

  button.btn.btn-default.back_btn {
      background: #fab834;
      border-radius: 0;
      font-size: 20px;
      position: absolute;
      // margin-top: 39.5%;
      // margin-left: 58%;
      margin-top: 25%;
      width: 100px;
  }

  p.upload_pic_txt {
      position: absolute;
      top: 22%;
      left: 30%;
      font-weight: bold;
      display: none;
  }
  .circle {
      width: 15px;
      height: 15px;
      border-radius: 250px;
      color: #fff;
      line-height: 500px;
      text-align: center;
      background: #fff;
  }

  form.uploadid_form_style {
      width: 470px;
      margin: 0 auto;
  } 
}
.modal_styling{
  border-radius: 0;
  .styel_modal {
    padding: 4em !important;
  }
  .profile_input_styles {
    border-radius: 0;
    background: rgba(161, 161, 161, 0.64);
    height: 40px;
    color: #fff;
    margin-bottom: 1.5em;
  }
  .profile_input_styles:focus {
    border-radius: 0;
    background: rgba(161, 161, 161, 0.64) !important;
    height: 40px;
    color: #fff;
    margin-bottom: 1.5em !important;
    padding: 1em;
  }
  .thankyou {
    padding: 4em;
    text-align: center;
  }
}



#myModaledit{
  .input_styles{
    border-radius: 0;
    background: #a1a1a1;
    width: 280px;
    color: #fff;
    margin-bottom: 1.5em;
    padding: 1em;
  }
  .input_styles:focus{
    border-radius: 0;
    background: #a1a1a1;
    width: 280px;
    color: #fff;
    margin-bottom: 1.5em;
    padding: 1em;
  }
  button#save-address {
      background: #9A9994;
      border: 0;
      border-radius: 0;
      margin: 0 -8em;
  }
  form.address-update {
      width: 400px;
      margin: 0 2em;
  }
  .modal-content.modal_styles {
      background: #EFEEE8;
      width: 600px;
      border-radius: 0;
  }
  button.close {
      position: relative;
      z-index: 9999;
  }
}

#deleteConfirm{
  .radio.radio-primary.radio_btn_style {
        display: inline;
    }

    .radio_btn_wrapper {
        width: 140px;
        margin: 4% auto;
    }

    button.delete-confirmation {
        border: 0;
        border-radius: 0;
        width: 100px;
        padding: 10px;
        background: #9A9994;
        color: #fff;
        margin: 0 39%;
    }

    .modal-content.modal_confirmation {
        height: 240px;
        margin-top: 30%;
    }

    .circle {
        background: transparent;
    }

    .delete_wrapper {
        cursor: pointer;
    }

    .delete_wrapper {
        cursor: pointer;
        width: 125px;
        height: 27px;
        border: 1px solid #2b2c2c;
        padding: 0.2em;
        font-size:e 16px;
        text-align: center;
        position: absolute;
        left: 45.8em;
    }

    .delete_wrapper:hover {
        background: #000;
        color: #fff;
    }
    
    // button.close {
    //     position: relative;
    //     top: -20px;
    //     right: 1em;
    // }
}

.send_otp {
  width: 300px;
  margin: 0 auto;
  padding: 2em;
  border-radius: 0;
  .modal-content.content_styling {
    position: relative;
    top: 9em;
    border-radius: 0;
  }
  input {
      width: 300px;
      margin-bottom: 1em;
      height: 40px;
      padding: 0.5em;
  }

  button.submit_btn {
      border-radius: 0;
      width: 300px;
      background: #9A9994;
      border: 0;
      padding: 0.5em;
      color: #fff;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .profile_dashboard_inner_bg .profile-padd {
      position: absolute;
      left: -36em;
      top: 0.5em;
  }

  .profile_dashboard_inner_bg .profile_edit_wrapper {
      text-align: center;
      height: 200px;
      border-bottom: 1px solid #000;
      padding: 0;
      width: 500px;
  }

  .profile_dashboard_inner_bg .add_id_btn {
      background: #9A9994 !important;
      border: 0;
      border-radius: 0;
      width: 150px;
      margin: 0em 5em;
      color: #fff !important;
  }

  .id_proof_style .modal-content.modal_height_style {
      height: 300px;
      background: #f5f5f0;
      border-radius: 0;
      margin-left: -5%;
      width: 500px;
      margin-top: 35%;
  }

  .profile_dashboard_inner_bg .address-list {
      width: 500px;
  }

  .profile_dashboard_inner_bg button.btn.btn-primary {
      position: absolute;
      top: -15.5em;
      left: 26em;
  }

  #myModaledit .modal-content.modal_styles {
      background: #EFEEE8;
      width: 500px;
      border-radius: 0;
  }

  #myModaledit form.address-update {
      width: 400px;
      padding: 4em;
  }

  #myModaledit button#save-address {
      margin: 0 5em;
  }
}


@media only screen and (min-width: 1919px) and (max-width: 1921px) {
    .profile_dashboard_inner_bg .profile-padd {
        position: absolute;
        left: 21em !important;
        top: 8.5em !important;
    }
}
@media only screen and (min-width: 1361px) and (max-height: 597px){
  .profile_dashboard_inner_bg .profile_edit_wrapper {
      text-align: center;
      height: 420px;
      border-right: 1px solid #000;
      padding: 0;
  }
  .profile_dashboard_inner_bg button.btn.btn-default.back_btn {
    margin-top: 27%!important;
  }
  .profile_dashboard_inner_bg button.btn.btn-default.submit-profile {
    top: 20em!important;
    left: 50%;
  }
}  