.services_page{
  background-image: image-url('services/service_banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  top: 5em;
  
  .content_wrapper h1 {
    width: 300px; 
    margin: 0 auto;
    font-size: 50px;
    color: #CDA592;
    position: relative;
    top: 8.5em;
    left: 1em;
    text-align: center;
  }
  span.bold_style {
    font-weight: 600;
  }
}
.services_description{
  .tab_bar {
    padding: 5em;
    margin: 0 auto;
  }
  .nav-tabs.tablist li {
    width: 100px;
    text-align: center;
    background: rgb(64, 111, 146);
    margin: 0.5em;
  }
  .nav-tabs.tablist li:hover {
    width: 100px;
    text-align: center;
    background: #134C77 !important;
  }
  .nav-tabs.tablist li:active {
    width: 100px;
    text-align: center;
    background: #134C77 !important;
  }
  .nav-tabs.tablist li:focus {
    width: 100px;
    text-align: center;
    background: #134C77 !important;
  }
  ul.nav.nav-tabs.tablist {
    width: 350px;
    position: relative;
    margin: 0 auto;
    top: 3em;
    background: transparent;
    border: 0;
  }
}
.tab_description{
  #checklist{
    background-image: image-url('services/checklist_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // height: 100vh;
  }
  #dashboard{
    background-image: image-url('services/dashboard_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // height: 100vh;
  }
  #dvault{
    background-image: image-url('services/dvault_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // height: 100vh;
  }
  .section-padd {
    padding: 6em;
  }
  .wrapper_style {
    position: relative;
    top: 4em;
    animation-duration: 1s;
    animation-name: fadeInLeft;
  }
  .headin_wrapper {
    position: absolute;
    top: -1em;
    left: 7em;
  }
  p.para_style {
    position: absolute;
    text-align: justify;
    top: 7em;
  }
  img.checklist_img {
    animation-duration: 1s;
    animation-name: fadeInRight;
  }
  img.dvault_img {
    animation-duration: 1s;
    animation-name: fadeInRight;
  }
  img.dashboard_img {
    animation-duration: 1s;
    animation-name: fadeInRight;
  }
}
@media all and (min-width: 641px) and (max-width: 991px) {
  body{
    margin: 0;
    padding: 0;
  }
  // body {
  //   font-family: 'PFBeauSansPro';
  //   font-weight: thin !important;
  //   font-size: 14px;
  //   line-height: 1.42857143;
  //   color: #333;
  //   background-color: #fff;
  //   overflow-x: hidden!important;
  // }
  .services_page{
  background-image: image-url('services/service_banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center;
  height: 100vh;
  position: relative;
  top: 5em;
  nav.navbar.navbar-default.nav-home {
    background: #fff;
    width: 100%!important;
    height: 70px;
    position: fixed;
    left: 0;
    border: 0;
    border-radius: 0;
    z-index: 99999;
  }
  .content_wrapper h1 {
  left: 0em!important;
  top:9em !important;
  }
  }
  .services_description ul.nav.nav-tabs.tablist {
    width: 372px;
    position: relative;
    margin: 0px auto;
    top: 3em;
    background: transparent none repeat scroll 0% 0%;
    border: 0px none;
  }
  .services_description .nav-tabs.tablist li {
    width: 117px;
    text-align: center;
    background: #406F92 none repeat scroll 0% 0%;
    margin: 3px;
    right: 80px;
  }
  .tab_description .section-padd {
    padding: 3em !important;
    height: 660px!important;
  }
  .tab_description img.checklist_img {
    animation-duration: 1s;
    animation-name: fadeInRight;
    position: relative;
    top: 16em;
    width: 354px;
    right: -7em;
    background-position: center !important;
  }
  .tab_description img.dashboard_img {
    animation-duration: 1s;
    animation-name: fadeInRight;
    position: relative;
    top: 16em;
    width: 354px;
    right: -7em;
    background-position: center !important;
    }
    .tab_description img.dvault_img {
    animation-duration: 1s;
    animation-name: fadeInRight;
    position: relative;
    top: 16em;
    width: 354px;
    right: -7em;
    background-position: center !important;
      overflow-x: hidden; 
    }
  .tab_description {
    #checklist {
    background-image: image-url("services/checklist_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px !important; 
    }
     #dashboard{
    background-image: image-url('services/dashboard_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px !important;
    }
    #dvault{
      background-image: image-url('services/dvault_bg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 650px !important;
      
    }
  }
  }

@media all and (min-width: 768px) and (max-width: 1024px) {
  .content_wrapper {
      position: relative;
      top: 33em;
  }

  .tab_description .wrapper_style {
      position: relative;
      top: -3em;
  }

  .tab_description img.checklist_img {
      animation-duration: 1s;
      animation-name: fadeInRight;
      margin-top: 11em;
  }

  .tab_description img.dashboard_img {
      animation-duration: 1s;
      animation-name: fadeInRight;
      margin-top: 7em;
  }

  .tab_description img.dvault_img {
      animation-duration: 1s;
      animation-name: fadeInRight;
      margin-top: 10em;
  }
}

@media all and (min-width: 360px) and (max-width: 640px) {
  body{
    margin: 0;
    padding: 0;
  }
  // body {
  //   font-family: 'PFBeauSansPro';
  //   font-weight: thin !important;
  //   font-size: 14px;
  //   line-height: 1.42857143;
  //   color: #333;
  //   background-color: #fff;
  //   overflow-x: hidden!important;
  // }
  .services_page{
  background-image: image-url('services/service_banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center;
  height: 100vh;
  position: relative;
  top: 5em;
  nav.navbar.navbar-default.nav-home {
    background: #fff;
    width: 100%!important;
    height: 70px;
    position: fixed;
    left: 0;
    border: 0;
    border-radius: 0;
    z-index: 99999;
  }
  .content_wrapper h1 {
  left: 0em!important;
  top:6em !important;
  }
  }
  .services_description ul.nav.nav-tabs.tablist {
    width: 172px;
    position: relative;
    margin: 0px auto;
    top: 3em;
    background: transparent none repeat scroll 0% 0%;
    border: 0px none;
  }
  .services_description .nav-tabs.tablist li {
    width: 117px;
    text-align: center;
    background: #406F92 none repeat scroll 0% 0%;
    margin: 3px;
    right: 80px;
  }
  .tab_description .section-padd {
    padding: 1em !important;
    height: 660px!important;
  }
  .tab_description img.checklist_img {
    animation-duration: 1s;
    animation-name: fadeInRight;
    position: relative;
    top: 19em;
    // height: 555px;
    width: 319px;
    right: 0em;
    background-position: center !important;
  }
  .tab_description img.dashboard_img {
    animation-duration: 1s;
    animation-name: fadeInRight;
    position: relative;
    top: 19em;
    // height: 555px;
    width: 319px;
    right: 0em;
    background-position: center !important;
    }
    .tab_description img.dvault_img {
    animation-duration: 1s;
    animation-name: fadeInRight;
    position: relative;
    top: 21em;
    // height: 555px;
    width: 319px;
    right: 0em;
    background-position: center !important;
      overflow-x: hidden; 
    }
  .tab_description {
    #checklist {
    background-image: image-url("services/checklist_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px !important; 
    }
     #dashboard{
    background-image: image-url('services/dashboard_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px !important;
    }
    #dvault{
      background-image: image-url('services/dvault_bg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 650px !important;
      
    }
  }
}

@media all and (max-width: 1024px) and (max-height: 640px) {
  .content_wrapper {
      position: relative;
      top: 9em;
  }

  .tab_description img.checklist_img {
      animation-duration: 1s;
      animation-name: fadeInRight;
      margin-top: 3em;
  }

  .tab_description img.dashboard_img {
      animation-duration: 1s;
      animation-name: fadeInRight;
      margin-top: -4em;
  }

  .tab_description img.dvault_img {
      animation-duration: 1s;
      animation-name: fadeInRight;
      margin-top: 1em!important;
  }
}