.settings_dashboard_inner_bg{
  background-image: image-url("new_images/dashboard_pattern.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  nav.navbar.navbar-default.side-top-nav {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: transparent;
    border-bottom: 1px solid #000;
    height: 20px;
  }

  ul.nav.navbar-nav.nav-stacked {
    width: 200px;
    position: absolute;
    left: 0;
    height: 100vh;
    // background:-webkit-linear-gradient(180deg, #fd8727, #fdbb33);
    // background: -o-linear-gradient(180deg, #fdbb33, #fd8727); /* For Opera 11.1 to 12.0 */
    // background: -moz-linear-gradient(180deg, red, #fd8727); /* For Firefox 3.6 to 15 */
    background: #ed1c24;
    display: block !important;
  }

  .nav-stacked li {
    width: 200px;
    height: 35px;
    text-align: left;
    position: relative;
    top: 16em;
  }

  a.navbar-brand {
    text-align: center !important;
    font-size: 25px;
    color: #fff !important;
    position: absolute;
    z-index: 999;
    left: 0;
    width: 200px;
    height: 49px;
    border-bottom: 1px solid #000;
  }

  .navbar-nav li a {
    height: 49px;
    padding: 8px 12px;
  }

  .form-group.search-bar {
    position: relative;
    top: -0.5em;
    color: black;
    background: transparent;
  }

  input.form-control.input-style {
    position: relative;
    top: 0em;
    color: white;
    background: transparent;
  }

  .login_wrapper {
    position: absolute;
    top: 6em;
    left: 2em;
  }

  .login_wrapper img {
    border-radius: 90px;
    border: 6px solid #fff;
    margin: 0 auto;
    position: relative;
    left: 1.5em;
  }

  li.act-style {
    background-color: rgba(21, 20, 20, 0.53);
    height: 70px;
  }

  .navbar-default .navbar-nav.nav-stacked>li>a {
    color: #FBFBFB;
    padding: 0.5em 3em;
    height: 35px;
  }

  .navbar-default .navbar-nav.nav-stacked>li>a:active {
    color: #FBFBFB;
    padding: 0.5em 3em;
    height: 35px;

  }

  .navbar-default .navbar-nav.nav-stacked>li>a:focus {
    color: #FBFBFB;
    padding: 0.5em 3em;
    height: 35px;

  }

  .dropdown img {
    border-radius: 40px;
  }

  .body-wrapper {
    float: right;
    top: 5em;
  }
  button.btn.btn-default.logout {
    position: absolute;
    background: #fab834;
    border-radius: 0;
    font-size: 20px;
    position: absolute;
    right: 0em;
  }
  form.settings_form_style {
    margin: 0 auto;
    position: absolute;
    left: 12em;
  }

  input.form-control.settings_input_style {
    border-radius: 0;
    background: #a1a1a1;
    width: 400px;
    color: #fff;
    margin-bottom: 1.5em;
    height: 60px;
  }

  .card {
    display: inline-block;
    position: relative;
    width: 700px;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.84);
    background: #f5f5f0;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 480px;
    left: 11em;
  }

  .fa_style{
    position: absolute;
    top: 7.5em;
    font-size: 2em;
    right: 1em;
  }

  .fa_style1{
    position: absolute;
    top: 11.5em;
    font-size: 2em;
    right: 1em;
  }
}