
  .sticky-container{
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    position: fixed;
    right: -11em;
    top:16em;
    width: 200px;
    .sticky li{
    list-style-type: none;
    background-color: #EBEAE6;
    color: #000;
    height: 43px;
    padding: 0px;
    margin: 0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor: pointer;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 
    filter: gray; 
    -webkit-filter: grayscale(100%); 
    }
    .sticky li:hover{
    margin-left: -115px;
    color: #000;
    text-decoration: none;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
    }
    .sticky li img{
      float: left;
      margin: 5px 5px;
      margin-right: 10px;
    }
    .sticky li a p{
      padding: 0px;
      margin: 0px;
      text-transform: uppercase;
      line-height: 43px;
      color: #000;
      text-decoration: none;
    }
    .sticky li a p:hover{
      padding: 0px;
      margin: 0px;
      text-transform: uppercase;
      line-height: 43px;
      color: #000;
      text-decoration: none;
    }
    /** content **/
    .content{
      margin-top: 150px;
      margin-left: 100px;
      width: 700px;
    }
    h1, h2{
      
      color: #ecf0f1;
      padding: 0px;
      margin: 0px;
      font-weight: normal;
    }

    h1{
      font-weight: 900;
      font-size: 64px;
    }

    h2{
      font-size:26px;
    }

    p{
      color: #ecf0f1;
      
      line-height: 28px;
      font-size: 15px;
      padding-top: 50px;
    }

    p.credit{
      padding-top: 20px;
      font-size: 12px;
    }

    p a{
      color: #ecf0f1;
    }

    /** fork icon**/
    .fork{
      position: absolute;
      top:0px;
      left: 0px;
    }
} 

.sticky-container.dvault_sticky {
    margin-top: -3%;
}