.support_inbox{
	background: #f16224;
	height: 180px;
	position: relative;
	top: 5em;
	  .image_wrapper {
	    display: inline-flex;
	    padding: 3em;
	    margin: 0 auto;
	    position: relative;
	    left: 32em;
	    color: #fff;
	  }
	
	  h1.support_head {
	    position: absolute;
	    top: 3em;
	    left: 2.5em;
	    font-size: 45px;
	  }
	}

	.support_body{
	  background: #fff;
	  .section_padd {
	      padding: 10em 10em 2em 10em;
	  }

	  h1.customer_txt{
	    font-size: 50px;
	    border-bottom: 1px solid #000;
	    display: inline-block;
	    padding: 0.2em;
	  }

	  span.color_text {
	      color: #f16224 !important;
	      cursor: pointer;
	  }

	  span.color_text a{
	      color: #f16224 !important;
	      cursor: pointer;
	      text-decoration: none;
	  }

	  .list_wrapper li {
	    display: inline-flex;
	    padding: 0.4em;
	    font-size: 18px;
	  }

	  i.fa.fa-circle.fa-style {
	    color: #f16224;
	  }

	  label {
	    display: inline-block;
	    max-width: 100%;
	    margin-bottom: 5px;
	    font-weight: bold;
	    font-size: 25px;
	  }

	  .form-control.input_form{
	    display: block;
	    width: 800px;
	    height: 360px;
	    padding: 6px 12px;
	    font-size: 14px;
	    line-height: 1.42857143;
	    color: #555555;
	    background-color: #fff;
	    background-image: none;
	    border: 1px solid #ccc;
	    border-radius: 0;
	    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	    position: relative;
	    top: -4.8em;
	    left: 10em;
	  }

	  .section_padd1 {
	      padding: 1em 9em 11em 9em;
	  }

	  .form-wrapper {
	      width: 100%;
	      background: #bcb5b5;
	      padding-top: 3em;
	      padding-left: 1em;
	      height: 400px;
	  }

	  button.btn.btn-primary.submit_btn {
	    border: 0;
	    border-radius: 0;
	    font-size: 25px;
	    position: absolute;
	    right: 0.5em;
	    background: #f16224;
	    width: 150px;
	  }
	  
	  .form-wrapper1 {
	    width: 590px;
	    background: #bcb5b5;
	    position: relative;
	    left: 6em;
	    top: -5em;
	    height: 100px;
	  }

	  input.form-control.input-questions {
	    display: block;
	    width: 410px;
	    height: 70px;
	    padding: 6px 12px;
	    font-size: 14px;
	    line-height: 1.42857143;
	    color: #555555;
	    background-color: #fff;
	    background-image: none;
	    border: 1px solid #ccc;
	    border-radius: 0;
	    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	    position: absolute;
	    left: 12em;
	    top: 1em;
	  }  
	  h4.feedback_txt {
	    line-height: 30px;
	    text-align: justify;
	    font-size: 15px;
	  }

	  label.ask_txt {
	    position: absolute;
	    top: 1.2em;
	    left: 0.5em;
	  }
	h1.help_txt {
	    position: relative;
	    top: 0.5em;
	 }
	button.btn.btn-primary.submit_btn1 {
	    border: 0;
	    border-radius: 0;
	    font-size: 25px;
	    position: absolute;
	    left: 21.5em;
	    background: #f16224;
	    width: 150px;
	    top: 4.1em;
	 }
	.section_padd2 {
	    padding: 0em 9em 4em;
	 }
	 .para_padd {
	    height: 150px;
	 }
	.para_wrapper {
	    padding: 1em;
	    border-top: 1px solid #000;
	    border-bottom: 1px solid #000;
	 }
	.para_wrapper {
	    padding: 2em;
	}
}
@media only screen and (min-width: 1919px) and (max-width: 1921px) {
	.support_body .form-control.input_form {
		width: 90% !important;
	}
	.support_inbox .image_wrapper {
		left: 49em;
	}
}
@media all and (min-width: 360px) and (max-width: 640px) {
	.support_inbox .image_wrapper {
    display: inline-flex;
    padding: 0em;
    margin: 0px auto;
    position: relative;
    left: 0em;
    color: #FFF;
    top: 3em;
	}
	.support_body h1.customer_txt {
    font-size: 30px;
    border-bottom: 1px solid #000;
    display: inline-block;
	    h4.feedback_txt {
		    line-height: 30px;
		    text-align: justify;
		    font-size: 15px;
		}
		.form-wrapper {
		    width: 99%;
		    background: #BCB5B5 none repeat scroll 0% 0%;
		    padding-top: 3em;
		    height: 400px;
		    padding-left: 0em;
		}
		label {
		    display: inline-block;
		    max-width: 100%;
		    margin-bottom: 15px;
		    font-weight: bold;
		    font-size: 20px;
		    margin-left: 5px!important;
		}
		button.btn.btn-primary.submit_btn {
		    border: 0px none;
		    border-radius: 0px;
		    font-size: 25px;
		    position: absolute;
		    right: 0.5em;
		    background: #F16224 none repeat scroll 0% 0%;
		    width: 150px;
		}
	}	
	.support_body .para_padd {
	    height: 250px!important;
	}
	.support_body .para_wrapper {
	    padding: 1em;
	    margin-top: 7em;
	}
	.support_body .form-control.input_form {
	    display: block;
	    width: 170px!important;
	    height: 360px;
	    padding: 6px 12px;
	    font-size: 14px;
	    line-height: 1.42857;
	    color: #555;
	    background-color: #FFF;
	    background-image: none;
	    border: 1px solid #CCC;
	    border-radius: 0px;
	    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	    position: relative;
	    top: -4.8em;
	    left: 10em;
	}
	.support_body .section_padd {
	    padding: 1em!important;
	    margin-top: 4em!important;
	}
	 .support_body .section_padd1 {
	    padding: 0em!important;
	}
	 nav.navbar.navbar-default.nav-home {
    background: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    border: 0;
    border-radius: 0;
    z-index: 99999;
    color: #000!important;
    }
}

@media all and (min-width: 641px) and (max-width: 991px) {
	.support_inbox .image_wrapper {
    display: inline-flex;
    padding: 0em;
    margin: 0px auto;
    position: relative;
    left: 0em;
    color: #FFF;
    top: 3em;
	}
	.support_body h1.customer_txt {
    font-size: 30px;
    border-bottom: 1px solid #000;
    display: inline-block;
	    h4.feedback_txt {
		    line-height: 30px;
		    text-align: justify;
		    font-size: 15px;
		}
		.form-wrapper {
		    width: 99%;
		    background: #BCB5B5 none repeat scroll 0% 0%;
		    padding-top: 3em;
		    height: 400px;
		    padding-left: 0em;
		}
		label {
		    display: inline-block;
		    max-width: 100%;
		    margin-bottom: 15px;
		    font-weight: bold;
		    font-size: 20px;
		    margin-left: 5px!important;
		}
		button.btn.btn-primary.submit_btn {
		    border: 0px none;
		    border-radius: 0px;
		    font-size: 25px;
		    position: absolute;
		    right: 0.5em;
		    background: #F16224 none repeat scroll 0% 0%;
		    width: 150px;
		}
	}	
	.support_body .para_padd {
	    height: 250px!important;
	}
	.support_body .para_wrapper {
	    padding: 1em;
	    margin-top: 7em;
	}
	.support_body .form-control.input_form {
	    display: block;
	    width: 457px!important;
	    height: 360px;
	    padding: 6px 12px;
	    font-size: 14px;
	    line-height: 1.42857;
	    color: #555;
	    background-color: #FFF;
	    background-image: none;
	    border: 1px solid #CCC;
	    border-radius: 0px;
	    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	    position: relative;
	    top: -4.8em;
	    left: 10em;
	}
	.support_body .section_padd {
	    padding: 1em!important;
	    margin-top: 4em!important;
	}
	 .support_body .section_padd1 {
	    padding: 0em!important;
	}
	 nav.navbar.navbar-default.nav-home {
    background: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    border: 0;
    border-radius: 0;
    z-index: 99999;
    color: #000!important;
    }

}
@media all and (min-width: 768px) and (max-width: 1024px) {
	.support_inbox .image_wrapper {
	    position: relative;
	    left: 12em;
	}

	.support_body .form-control.input_form {
	    width: 300px;
	}
}

// @media all and (max-width: 1024px) and (max-height: 640px) {
// 	.support_body .form-control.input_form {
// 	    width: 550px;
// 	}
// }