.team-page-container{
    nav.navbar.navbar-default.nav-home {
    background: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    border: 0;
    border-radius: 0;
    z-index: 99999;
  }
  a.navbar-brand {
    position: absolute;
    top: -0.5em;
  }
  ul.nav.navbar-nav.nav-left {
    position: relative;
    top: 1em;
    font-size: 15px;
    border-left: 1px solid #858382;
    height: 50px;
    padding: 0;
    color: #858382;
    left: 6em;
  }
  .nav-left li {
    position: relative;
    top: -0.5em;
  }
  ul.nav.navbar-nav.navbar-right {
    position: absolute;
    right: 1em;
  }
    i.fa.fa-style {
        font-size: 2em;
        padding: 12px;
        margin: 0 auto;
    }

    h1.team {
        margin-top: -2em;
    }


    li { list-style: none; }

    .lb-album {
      /*width: 100px;*/
      /*margin: auto;*/
      /*padding: 20px;*/
    }
    i.fa-style {
        color: white;
        width: 15px;
        font-size: 25px;
    }

    .lb-overlay {
      width: 0px;
      height: 0px;
      position: fixed;
      overflow: hidden;
      left: 0px;
      top: 0px;
      padding: 0px;
      z-index: 99;
      text-align: center;
    }

    .lb-overlay:target {
      width: auto;
      height: auto;
      bottom: 0px;
      right: 0px;
      padding: 80px 100px 120px 100px;
      background: rgba(10, 10, 10, 0.87);
      color: white;
      font-size: 20px;
    }

    .lb-overlay:target img {
      -webkit-animation: fadeInScale 1.2s ease-in-out;
      -moz-animation: fadeInScale 1.2s ease-in-out;
      -o-animation: fadeInScale 1.2s ease-in-out;
      -ms-animation: fadeInScale 1.2s ease-in-out;
      animation: fadeInScale 1.2s ease-in-out;
      border: 10px solid #ECECEC;
      border-bottom-width: 20px;
      width: 400px;
    }

    .lb-overlay a.lb-close {
        background: #333;
        z-index: 1001;
        position: absolute;
        display: block;
        padding: 17px;
        top: 79px;
        left: 67.5%;
        font-size: 25px;
        line-height: 1px;
        text-align: center;
        width: 50px;
        height: 23px;
        overflow: hidden;
        margin-left: -25px;
          filter: alpha(opacity=0);
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
        -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
        box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
        -webkit-transition: opacity 0.3s linear 1.2s;
        -moz-transition: opacity 0.3s linear 1.2s;
        -o-transition: opacity 0.3s linear 1.2s;
        -ms-transition: opacity 0.3s linear 1.2s;
        transition: opacity 0.3s linear 1.2s;
    }

    .lb-overlay:target a.lb-close, .lb-overlay:target > div {
      opacity: 1;
      filter: alpha(opacity=99);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
    }
    .lb-overlay:target p{
        font-size: 20px;
    }
}

.team_wrapper {
    padding-top: 8%;
    padding-bottom: 8%;
}

li{
	list-style: none;

}