 .terms_condition_bg{
    background-image: image-url("terms_condition_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    .content_style {
        position: absolute;
        top: 10em;
        left: 8em;
    }

    h1.terms_head {
        font-size: 50px;
    }
}
.terms_condition_content{
  background-image: image-url('terms_condition_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .section_content_padd {
      margin: 6em 10em 6em 10em;
  }
  .content_list li {
      font-size: 18px;
      margin: 1em;
      text-align: justify;
  }
}  

.refund_policy_bg{
  background: #fff;
  .section_content_padd {
      margin: 6em 6em 3em 6em;
  }
  
  ul.content_list {
      margin: 6em;
      font-size: 15px;
  }

  .content_list li {
      font-size: 15px;
      margin: 1em;
      text-align: left;
  }
} 
@media all and (min-width: 360px) and (max-width: 640px) {
  .terms_condition_bg{
    background-image: image-url("terms_condition_banner.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    height: 100vh;
    nav.navbar.navbar-default.nav-home {
      background: #fff;
      width: 100%;
      height: 70px;
      position: fixed;
      left: 0;
      border: 0;
      border-radius: 0;
      z-index: 99999;
      color: #000!important;
    }
    .section_content_padd {
      margin: 0em!important;
    }
    .content_list li {
      font-size: 18px;
      margin: 1em;
      text-align: justify;
    }
  }  
  .terms_condition_content .section_content_padd {
    margin: 0em!important;
  }
  .refund_policy_bg{
    background: #fff;
    .section_content_padd {
        margin: 0em!important;
    }
    
    ul.content_list {
        margin: 0em!important;
        font-size: 15px;
    }

    .content_list li {
      font-size: 15px;
      margin: 1em;
      text-align: justify;
      word-wrap: break-word;
    }
  } 
  .terms_condition_bg h1.terms_head {
    font-size: 30px;
    margin-top: -1em;
  }
}
@media all and (min-width: 641px) and (max-width: 991px) {
   .terms_condition_bg{
    background-image: image-url("terms_condition_banner.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    height: 100vh;
     nav.navbar.navbar-default.nav-home {
    background: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    border: 0;
    border-radius: 0;
    z-index: 99999;
    color: #000!important;
    }
     .section_content_padd {
      margin: 0em!important;
  }
  .content_list li {
      font-size: 18px;
      margin: 1em;
      text-align: justify;
    }
  }  
  .terms_condition_content .section_content_padd {
    margin: 0em!important;
  }
  .refund_policy_bg{
    background: #fff;
    .section_content_padd {
        margin: 0em!important;
    }
    
    ul.content_list {
        margin: 0em!important;
        font-size: 15px;
    }

    .content_list li {
        font-size: 15px;
        margin: 1em;
        text-align: justify;
        word-wrap: break-word;
    }
  } 

  .terms_condition_bg h1.terms_head {
    font-size: 30px;
    margin-top: -1em;
  }
 }