.terms_of_use{
    .content_style {
        /* position: absolute; */
        /* top: 13em; */
        padding: 10em 7em 4em 7em;
    }
    
    p.style_text{
      text-align:justify;
    }
    .div_style{
    text-align:left;margin-left:50px;margin-right:50px;padding:20px;margin-top:20px;
    }

}
@media all and (min-width: 360px) and (max-width: 640px) {
    .terms_of_use 
     nav.navbar.navbar-default.nav-home {
    background: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    border: 0;
    border-radius: 0;
    z-index: 99999;
    color: #000!important;
    }
    
    h1, .h1 {
        font-size: 20px;
    }
    h4, .h4 {
        font-size: 15px;
    }
    .terms_of_use .div_style {
        margin-left: -84px;
        width: 300px;
        text-align: left;
        margin-right: 29px;
        margin-top: 0px;
        padding: 0px!important;
    }
}
@media all and (min-width: 641px) and (max-width: 991px) {
     .terms_of_use 
     nav.navbar.navbar-default.nav-home {
    background: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    border: 0;
    border-radius: 0;
    z-index: 99999;
    color: #000!important;
    }
    
    h1, .h1 {
        font-size: 20px;
    }
    h4, .h4 {
        font-size: 15px;
    }
    .terms_of_use .div_style {
        margin-left: -26px;
        width: 469px;
        text-align: left;
        margin-right: 29px;
        margin-top: 0px;
        padding: 0px!important;
    }
    }

// @media all and (max-width: 1024px) and (max-height: 640px) {
//     .terms_of_use .div_style {
//         text-align: left;
//         margin-left: 0;
//         margin-right: 0;
//         padding: 0px;
//         margin-top: 0;
//     }
// }
