.top_nav_bar{
  nav.navbar.navbar-default.nav-home {
    background: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    border: 0;
    border-radius: 0;
    z-index: 99999;
  }

  a.navbar-brand {
    position: absolute;
    top: -0.5em;
  }
  ul.nav.navbar-nav.nav-left {
    position: relative;
    top: 1em;
    font-size: 15px;
    border-left: 1px solid #858382;
    height: 50px;
    padding: 0;
    color: #858382;
    left: 6em;
  }
  
  .nav-left li {
    position: relative;
    top: -0.5em;
  }

  ul.nav.navbar-nav.navbar-right {
    position: absolute;
    right: 1em;
  }
}