.track_dashboard_inner_bg{
  // background-color: #69451f;
  background-image: image-url("new_images/dashboard_pattern.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
    body {
      font-family: 'PFBeauSansPro';
      font-weight: thin !important;
      font-size: 14px;
      line-height: 1.42857143;
      color: #333;
      background-color: #fff;
      overflow: visible;
    }
    nav.navbar.navbar-default.side-top-nav {
      position: absolute;
      width: 100%;
      left: 0;
      background-color: transparent;
      border-bottom: 1px solid #000 !important;
      height: 20px;
      border: 0;
    }

    ul.nav.navbar-nav.nav-stacked {
      width: 200px;
      position: fixed;
      left: 0;
      height: 100vh;
      // background:-webkit-linear-gradient(180deg, #fd8727, #fdbb33);
      // background: -o-linear-gradient(180deg, #fdbb33, #fd8727); /* For Opera 11.1 to 12.0 */
      // background: -moz-linear-gradient(180deg, red, #fd8727); /* For Firefox 3.6 to 15 */
      background: #ed1c24; 
      display: block !important;
    }

    .nav-stacked li {
        width: 200px;
        height: 35px;
        text-align: left;
        position: relative;
        top: 16em;
    }

    a.navbar-brand {
        text-align: center !important;
      font-size: 25px;
      color: #fff !important;
      position: absolute;
      z-index: 999;
      left: 0;
      width: 200px;
      height: 49px;
      border-bottom: 1px solid #000;
    }

    .navbar-nav li a {
        height: 49px;
        padding: 8px 12px;
    }

    .form-group.search-bar {
        position: relative;
        top: -0.5em;
        color: #fff;
        background: transparent;
    }

    input.form-control.input-style {
      position: relative;
      top: 0em;
      color: white;
      background: transparent;
      width: 220px;
      border: none;
      padding: 10px;
    }

    input.form-control.input-style:focus {
      position: relative;
      top: 0em;
      color: white;
      background: transparent;
      width: 220px;
      border: none;
      padding: 10px;
    }

    .login_wrapper {
        position: absolute;
        top: 6em;
        left: 2em;
    }

    .login_wrapper img {
        border-radius: 90px;
        border: 6px solid #fff;
        margin: 0 auto;
        position: relative;
        left: 1.5em;
    }

    li.act-style {
        background-color: rgba(21, 20, 20, 0.53);
        height: 20px;
    }

    .navbar-default .navbar-nav.nav-stacked>li>a {
        color: #FBFBFB;
        padding: 0.5em 3em;
        height: 35px;
    }

    .navbar-default .navbar-nav.nav-stacked>li>a:active {
        color: #FBFBFB;
        padding: 0.5em 3em;
        height: 35px;

    }

    .navbar-default .navbar-nav.nav-stacked>li>a:focus {
        color: #FBFBFB;
        padding: 0.5em 3em;
        height: 35px;

    }

    .dropdown img {
        border-radius: 40px;
    }

    .body-wrapper {
        float: right;
        top: 5em;
        overflow: visible;
    }

    input.form-control.orderis-style {
        width: 280px;
        border-radius: 0;
        background: #d1d4d7;
        color: #69451F;
        margin: 0 auto;
        display: inline-block;
        height: 42px;
    }

    input.form-control.orderis-style:focus {
        width: 280px;
        border-radius: 0;
        background: #d1d4d7;
        color: #69451F;
        margin: 0 auto;
        padding: 1em;
    }

    .track-padd{
      padding-left: 19em;
      padding-right: 19em;
      padding-top: 1em;
    }

    button.btn.btn-default.go-btn {
        border-radius: 0;
        color: #fff;
        background: #d74e4b;
        border: 1px solid #d74e4b;
        font-size: 20px;
        width: 90px;
        // margin: 0 auto;
        display: inline-block;
        // padding: 0.1em;
        // left: 5em;
        text-decoration: none;
        top: -4px;
    }

    .order_id_wrapper {
        display: inline-flex;
        top: -2em;
        position: absolute;
    }

    .status_style {
        color: #fff;
        background-image: image-url('status_doc.png');
        background-repeat: no-repeat;
        text-align: center;
        height: 40px;
        position: relative;
        top: 0.5em;
    }
    .status_style h4 {
        padding: 0.8em;
    }

    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 3px !important;
        line-height: 0;
        vertical-align: top;
        border-top: 0;
    }
    .table{
      width: 90%;
    }

    table.table.table-responsive.track-table {
        position: absolute;
        top: 5em;
    }

    .feedback_wrapper {
        position: absolute;
        bottom: -29em;
        display: inline-flex;
        width: 245px;
        left: -18em;
    }

    h4.feedback-heading {
        position: absolute;
        bottom: 0em;
        color: #fff;
    }

    textarea.form-control.feedback-style {
        width: 260px;
        font-size: 20px;
        border-radius: 0;
        background: #d1d4d7;
        color: #69451F;
        margin: 0 auto;
        padding: 10px;
        position: relative;
        top: 3em;
        height: 60px;
    }

    textarea.form-control.feedback-style:focus {
        width: 260px;
        font-size: 20px;
        border-radius: 0;
        background: #d1d4d7;
        color: #69451F;
        margin: 0 auto;
        padding: 10px;
        position: relative;
        top: 3em;
        height: 60px;
    }

    button.btn.btn-default.feedbck-btn {
        background: transparent;
        border: 0;
        position: absolute;
        top: 2.5em;
        right: -12em;
    }

    .submit_style{
      position: absolute;
      top: 38%;
      left: 26%;
      color:#fff;
      cursor: pointer;
    }

    h2.status_order {
        text-align: center;
        background: #9EACAD;
        padding: 0.2em;
        color: #fff;
        position: relative;
        top: 0.5em;
        width: 400px;
    }

    .result {
        position: relative;
        clear: both;
    }

}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .track_dashboard_inner_bg .order_id_wrapper {
      display: inline-flex;
      top: -1em;
      position: absolute;
      left: -9em;
  }

  .track_dashboard_inner_bg table.table.table-responsive.track-table {
      position: absolute;
      top: 9em;
      left: 9em;
  }
}

@media only screen and (min-width: 1919px) and (max-width: 1921px) {
  .track_dashboard_inner_bg .order_id_wrapper {
      display: inline-flex;
      top: 0;
      position: relative;
      left: 30%;
  }

  .track_dashboard_inner_bg table.table.table-responsive.track-table {
      position: absolute;
      top: 15em;
      left: 30%;
  }

  .track_dashboard_inner_bg .table {
      width: 40%;
  }

  .track_dashboard_inner_bg h2.status_order {
      text-align: center;
      background: #9EACAD;
      padding: 0.2em;
      color: #fff;
      position: relative;
      top: 2em;
      width: 400px;
      margin: 0 auto;
      left: -0.5em;
  }
}