<p id="notice"><%= notice %></p>

<h1>Listing Payments Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments_statuses.each do |payments_status| %>
      <tr>
        <td><%= payments_status.name %></td>
        <td><%= link_to 'Show', payments_status %></td>
        <td><%= link_to 'Edit', edit_payments_status_path(payments_status) %></td>
        <td><%= link_to 'Destroy', payments_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @payments_statuses %>
<%= link_to 'New Status', new_payments_status_path %>
