<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @payments_status.name %>
</p>

<%= link_to 'Edit', edit_payments_status_path(@payments_status) %> |
<%= link_to 'Back', payments_statuses_path %>
