<p id="notice"><%= notice %></p>

<h1>Listing Contact Requests</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Message</th>
      <th>Request Type</th>
      <th>Date</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_requests.each do |contact_request| %>
      <tr>
        <td><%= contact_request.name %></td>
        <td><%= contact_request.email %></td>
        <td><%= contact_request.phone %></td>
        <td><%= contact_request.message %></td>
        <td><%= contact_request.request_type %></td>
        <td><%= contact_request.created_at.strftime('%d/%m/%Y') %></td>
        <td><%= contact_request.note %></td>
        <td><%= link_to 'Show', "/admin/contact_requests/#{contact_request.id}" %></td>
        <td><%= link_to 'Edit', edit_contact_request_path(id: contact_request.id) %></td>
        <!-- <td><%#= link_to 'Destroy', contact_request, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @contact_requests %>
<%= link_to 'New Contact request', new_contact_request_path, class: 'new-cnt-rqst' %>
<%= link_to "Exporting", "/admin/contact_requests.xls", :class => 'btn btn-primary' %>
</p>
<style>
  a.new-cnt-rqst {
      background-color: #024448;
      padding: 10px;
      color: #fff;
  }

</style>