<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact_request.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact_request.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact_request.phone %>
</p>

<p>
  <strong>Message:</strong>
  <%= @contact_request.message %>
</p>

<p>
  <strong>Message:</strong>
  <%= @contact_request.note %>
</p>

<p>
  <strong>Type:</strong>
  <%= @contact_request.request_type %>
</p>

<%= link_to 'Edit', edit_contact_request_path(@contact_request) %> |
<%= link_to 'Back', '/admin/contact_requests' %>
