<%= simple_form_for(@device_registration) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :device_id %>
    <%= f.input :registration_key %>
    <%= f.input :user_id %>
    <%= f.input :platform %>
    <%= f.input :email %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
