<%= simple_form_for(@employee) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :city, class: 'select-city' %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :phone %>
    <%= f.hidden_field :profile_type, value: 'Employee'  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'create' %>
  </div>
<% end %>


<style>
  input.btn.create {
      background-color: #022E48;
      color: #fff;
      height: 37px;
      margin-top: 2em;
      margin-bottom: 2em;
      border-radius: 0;
      margin-left: 0;
  }

  select#user_city_id {
      width: 240px;
      margin-bottom: 5px;
  }

</style>
