<h1>Editing employee</h1>

<div id="errors">
  <%= @errors %>
</div>

<%  unless @employee.nil? %>
  <%= render 'form' %>
  <h2>Roles</h2>
  <ul>
    <%  #TODO : use render %>
    <% @employee.roles.each do |role| %>
      <li><%= role.name %></li>
    <% end %>
  </ul>

<%= link_to 'Show', @employee %> |
<%  end %>

<%= link_to 'Back', employees_path %>
