<h1>New employee</h1>
<div id="errors">
  <%= @errors %>
</div>
<%= render 'form' %>

<%= link_to 'Back', employees_path, class: 'back' %>

<style>
  a.back {
      background-color: #024448;
      padding: 10px;
      color: #fff;
  }

</style>