<p id="notice"><%= notice %></p>

<div id="errors">
  <%= @errors %>
</div>


<%  unless @employee.nil? %>
  <p>
    <b>Name:</b>
    <%= @employee.name %>
  </p>

  <p>
    <b>Email:</b>
    <%= @employee.email %>
  </p>

  <p>
    <b>Contact no:</b>
    <%= @employee.phone %>
  </p>

  <p>
    <b>Parent:</b>
    <%= Employee.find(@employee.parent_id).email rescue nil %>
  </p>


  <%= link_to 'Edit', edit_employee_path(@employee) %> |
<% end %>

<%= link_to 'Back', employees_path %>
