<%= form_for(@documents_question) do |f| %>
  <% if @documents_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@documents_question.errors.count, "error") %> prohibited this documents_question from being saved:</h2>

      <ul>
      <% @documents_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :response_type_id %><br>
    <%= f.number_field :response_type_id %>
  </div>
  <div class="field">
    <%= f.label :is_mandatory %><br>
    <%= f.check_box :is_mandatory %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :associated_text %><br>
    <%= f.text_area :associated_text %>
  </div>
  <div class="field">
    <%= f.label :placeholder %><br>
    <%= f.text_field :placeholder %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
