<p id="notice"><%= notice %></p>

<h1>Listing Documents Questions</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Document</th>
      <th>Response type</th>
      <th>Is mandatory</th>
      <th>Body</th>
      <th>Associated text</th>
      <th>Options</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @documents_questions.each do |documents_question| %>
      <tr>
        <td><%= documents_question.document.name %></td>
        <td><%= documents_question.response_type ? documents_question.response_type.name : '' %></td>
        <td><%= documents_question.is_mandatory %></td>
        <td><%= documents_question.body %></td>
        <td><%= documents_question.associated_text %></td>
        <td><%= documents_question.options ? documents_question.options.map{|option| option.name} : '' %></td>
        <td><%= link_to 'Show', documents_question %></td>
        <td><%= link_to 'Edit', edit_documents_question_path(documents_question) %></td>
        <td><%= link_to 'Destroy', documents_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= will_paginate @documents_questions %>
<%= link_to 'New Question', new_documents_question_path %>
