<p id="notice"><%= notice %></p>
<p>
  <strong>Placeholder:</strong>
  <%= @documents_question.placeholder %>
</p>

<p>
  <strong>Response type:</strong>
  <%= @documents_question.response_type_id %>
</p>

<p>
  <strong>Is mandatory:</strong>
  <%= @documents_question.is_mandatory %>
</p>

<p>
  <strong>Body:</strong>
  <%= @documents_question.body %>
</p>

<p>
  <strong>Associated text:</strong>
  <%= @documents_question.associated_text %>
</p>

<%= link_to 'Edit', edit_documents_question_path(@documents_question) %> |
<%= link_to 'Back', documents_questions_path %>
