<%= simple_form_for(@documents_questions_response_type) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :regex %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
