<p id="notice"><%= notice %></p>

<h1>Listing Documents Questions Response Types</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Regex</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents_questions_response_types.each do |documents_questions_response_type| %>
      <tr>
        <td><%= documents_questions_response_type.name %></td>
        <td><%= documents_questions_response_type.regex %></td>
        <td><%= link_to 'Show', documents_questions_response_type %></td>
        <td><%= link_to 'Edit', edit_documents_questions_response_type_path(documents_questions_response_type) %></td>
        <td><%= link_to 'Destroy', documents_questions_response_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @documents_questions_response_types %>

<%= link_to 'New Response type', new_documents_questions_response_type_path %>
