<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @documents_questions_response_type.name %>
</p>

<p>
  <strong>Regex:</strong>
  <%= @documents_questions_response_type.regex %>
</p>

<%= link_to 'Edit', edit_documents_questions_response_type_path(@documents_questions_response_type) %> |
<%= link_to 'Back', documents_questions_response_types_path %>
