<!DOCTYPE html>
<html>
	<head>
    	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  	</head>
  	<body>
		<div>Hi <%= @user.profile.first_name %>,</div>
		<p>
			Please follow this link to verify your email: 
		</p>
		<div>
			<a href="<%= @url %>"><div>Click Here</div></a>
		</div>
		<div>Or copy past this link</div>
		<%= @url %>
		<br>
		<br>
		<div>
			Regards,<br>
			Team Docket Tech <br>
			+91-81-0537 7103
			<!-- +91-80-4656 4656 -->
		</div>
	</body>
</html>
