<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<div>Hi <%= @user.profile.first_name %>,</div>

	<div>
		<p>Your Email has been verified.</p>
		<p>Get started with Docket.</p>
	</div>
	<br>
	<br>
	<div>
		Regards,<br>
		Team Docket Tech <br>	
		+91-81-0537 7103
		<!-- +91-80-4656 4656 -->
	</div>
</body>
</html>