<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>DVault Email</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style>
			body{
				font-family: 'PFBeauSansPro' !important;
			}
			@font-face {
			  font-family: 'PFBeauSansPro';
			  src: url("<%= @base_url %>/assets/PFBeauSansPro.ttf") format('truetype');
			  font-weight: thin;
			  font-style: normal;
			}

			@font-face {
			  font-family: 'PFBeauSansPro';
			  src: url("<%= @base_url %>/assets/PFBeauSansProa.ttf") format('truetype');
			  font-weight: thin;
			  font-style: normal;
			}
			table.table.table_style {
    			width: 592px;
    			margin: 2% auto;
			}

			.table>thead>tr>th {
			    vertical-align: bottom;
			    border-bottom: 0;
			    font-family: 'PFBeauSansPro' !important;
			    border-bottom-color: transparent;
			    padding: 10px;
			}

			.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
			    padding: 8px;
			    line-height: 1.42857143;
			    vertical-align: top;
			    border-top: 0;
			}

			.table>tbody+tbody {
			    border-top: 0;
			}
			
			a{
				text-decoration: none;
			}
			/*.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
			    padding: 0;
			    line-height: 1.42857143;
			    vertical-align: top;
			    border-top: 0;
			    border-top-color: transparent;
			}*/

			
			/*tr.thankyou_bg {
			    background-image: url("../assets/images/thank_you.jpg");
			    width: 592px;
			    height: 542px;
			    background-size: cover;
			    background-repeat: no-repeat;
			}*/
		</style>		
	</head>
	<body style="font-family:'PFBeauSansPro';width:592px;margin:0 auto; display:block;color:#000;">
		<table class="table" style="background-image: url('<%= @base_url %>/assets/new_images/dvault_email/bg.jpg'); width: 592px; margin: 0 auto;">
			<thead>
				<tr style="width: 520px;margin: 0 auto;display: block;height: 250px;padding-top: 10%;">
					<th style="width: 20%;"><%= image_tag "#{@base_url}/assets/new_images/dvault_email/dvault.png" %></th>
					<th style="width: 80%;"><h1 style="font-size: 100px;font-weight: bold;padding:0; margin:0;">DVAULT</h1> <span style="font-size:36px;">DOCUMENT STORAGE</span></th>
					<!-- <th><div style="font-size:100px;height: 200px;">DVAULT  <span style="font-size:35px;position: relative;bottom: 60px;">
  					DOCUMENT STORAGE</span></div></th> -->
				</tr>
			</thead>
			<tbody style="padding: 6%;">
				<tr>
					<td style="font-size: 50px;text-align: center;position: relative;bottom: 70px;">Welcome!</td>
				</tr>
				<tr>
					<td style="text-align: center;font-size: 40px;position: relative;bottom: 100px;"><%= @user.profile.first_name %></td>
				</tr>
				<tr>
					<td style="font-size: 40px;position: relative;bottom: 120px;text-align: center;">to Docket's DVault</td>
				</tr>
			</tbody>
			<tbody style="background:#fff; margin: 0 auto; display: block; width:500px;">
				<tr style="width: 500px;margin: 10% auto 0;display: block;background: #F3F0EB;position: relative;bottom: 70px;padding: 4%;box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.05),0 6px 47px 0 rgba(0,0,0,0.19); z-index:1;">
					<td><h2 style="width: 170%;text-align: center;border-bottom: 2px solid #000;line-height: 0.1em;font-size: 40px;font-weight: bold;margin: 0 auto;display: block;"><span style="background:#F3F0EB;padding:0 10px;text-align: center;">About DVault</span></h2></td>
				</tr>
				<tr style="width: 500px;margin: 0 auto;display: block;background: #FFF;position: relative;bottom: 70px;padding: 4%;text-align: justify;height: 90px;">
					<td style="font-size:12px;">
						This is a unique and one-of-a-kind service rendered by Docket, with a provision to safely store all your documents in a single source. The DVault assures you of complete and infallible security and flexibility when it comes to accessing your own documents, whenever required. Most importantly, this functions as a storage+ model, wherein you have the option not only of storage, but of additional "service" towards your documents, as required.
					</td>
				</tr>
			</tbody>
			<tbody style="box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 47px 0 rgba(0,0,0,0.19);background: #fff;width: 460px;margin: 10% auto 4%;display: block;position: relative;">
				<tr style="width: 461px;margin: 0 auto;display: block;text-align: center;border-bottom: 0;">
					<td style="display: block;font-size: 30px;text-align: center;background-color: #1ea8d3;color: #fff;font-weight: bold;position: relative;bottom: 0px;padding: 2%;height: 60px;">DVault Categories</td>
				</tr>
				<tr style="width: 460px;margin: 0 auto;display: block;text-align: center;position: relative;bottom:0px;border: 1px solid #ccc;height: 121px;border-bottom: 0;">
					<td style="float: left;width: 50%;border-right: 1px solid #ccc;height: 120px;">
						<%= image_tag "#{@base_url}/assets/new_images/dvault_email/categories/cards.png"%>
						<p>Cards</p>
					</td>
					<td style="width: 50%;">
						<%= image_tag "#{@base_url}/assets/new_images/dvault_email/categories/loan.png"%>
						<p>Loan</p>
					</td>
				</tr>
				<tr style="width: 460px;margin: 0 auto;display: block;text-align: center;position: relative;bottom:0px;border: 1px solid #ccc;height: 121px;border-bottom: 0;">
					<td style="float: left;width: 50%;border-right: 1px solid #ccc;height: 120px;">
						<%= image_tag "#{@base_url}/assets/new_images/dvault_email/categories/banking.png"%>
						<p>Banking</p>
					</td>
					<td style="width: 50%;">
						<%= image_tag "#{@base_url}/assets/new_images/dvault_email/categories/investmnet.png"%>
						<p>Investment</p>
					</td>
				</tr>
				<tr style="width: 460px;margin: 0 auto;display: block;text-align: center;position: relative;bottom:0px;border: 1px solid #ccc;height: 121px;border-bottom: 0;">
					<td style="float: left;width: 50%;border-right: 1px solid #ccc;height: 120px;">
						<%= image_tag "#{@base_url}/assets/new_images/dvault_email/categories/insurance.png"%>
						<p>Insurance</p>
					</td>
					<td style="width: 50%;">
						<%= image_tag "#{@base_url}/assets/new_images/dvault_email/categories/travel.png"%>
						<p>Travel</p>
					</td>
				</tr>
				<tr style="width: 460px;margin: 0 auto;display: block;text-align: center;position: relative;bottom:0px;border: 1px solid #ccc;height: 121px;border-bottom: 0;">
					<td style="float: left;width: 50%;border-right: 1px solid #ccc;height: 120px;">
						<%= image_tag "#{@base_url}/assets/new_images/dvault_email/categories/employment.png"%>
						<p>Employment</p>
					</td>
					<td style="width: 50%;">
						<%= image_tag "#{@base_url}/assets/new_images/dvault_email/categories/education.png"%>
						<p>Education</p>
					</td>
				</tr>
				<tr style="width: 460px;margin: 0 auto;display: block;text-align: center;position: relative;bottom:0px;border: 1px solid #ccc;height: 121px;">
					<td style="float: left;width: 50%;border-right: 1px solid #ccc;height: 120px;">
						<%= image_tag "#{@base_url}/assets/new_images/dvault_email/categories/medical.png"%>
						<p>Medical</p>
					</td>
					<td style="width: 50%;">
						<%= image_tag "#{@base_url}/assets/new_images/dvault_email/categories/property.png"%>
						<p>Property</p>
					</td>
				</tr>
			</tbody>
			<tbody>
				<tr style="height: 60px;border-top: 0;width: 100%;float: left;margin-bottom:4%;">
					<td style="border-top: 0; width:60%;">
                        <ul style="list-style: none;display: inline-block;margin: 0 -10%;font-weight: bold;">	
                        	<a href="about_us" title="" style="color: #000; text-decoration: none;"><li style="display: inline-block;">About</li></a>
							<a href="helpcenter" title="" style="color: #000; text-decoration: none;"><li style="display: inline-block;margin-left: 6px;">Help</li></a>
							<a href="contact_us" title="" style="color: #000; text-decoration: none;"><li style="display: inline-block;margin-left: 6px;">Contact</li></a>
							<a href="terms" title="" style="color: #000; text-decoration: none;"><li style="display: inline-block;margin-left: 6px;">Terms</li></a>
							<a href="privacy" title="" style="color: #000; text-decoration: none;"><li style="display: inline-block;margin-left: 6px;">Privacy</li></a>
                        </ul>
					</td>
					<td style="border-top: 0; width:40%;">
 						<ul  style="list-style: none;display: inline-block;margin: -3% auto;">
 							<li style="display: inline-block;"><%= image_tag "#{@base_url}/assets/social/facebook.png", :style => "border-radius: 100%;" %></li>
 							<li style="display: inline-block;margin-left: 4px;"><%= image_tag "#{@base_url}/assets/social/twitter.png", :style => "border-radius: 100%;" %></li>
 							<li style="display: inline-block;margin-left: 4px;"><%= image_tag "#{@base_url}/assets/social/googlef.png", :style => "border-radius: 100%;" %></li>
 						</ul>
					</td>
				</tr>
				<tr>
					<td style="font-size: 40px;color: #fff;text-align: center;background: #000;padding: 6%;">Thank you</td>
				</tr>
			</tbody>
		</table>

		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
 		<script src=""></script>
	</body>
</html>