<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
		@font-face {
		  font-family: 'PFBeauSansPro';
		  src: url("/assets/PFBeauSansPro.ttf") format('truetype');
		  font-weight: thin;
		  font-style: normal;
		}

		@font-face {
		  font-family: 'PFBeauSansPro';
		  src: url("/assets/PFBeauSansProa.ttf") format('truetype');
		  font-weight: thin;
		  font-style: normal;
		}
		
			font-family: 'PFBeauSansPro';
		}*/
		</style>
	</head>
	<body style="margin:0 auto;padding:0;max-width:595px;font-family: 'PFBeauSansPro' 'Tahoma';font-weight:thin;font-size: 14px;background-size: cover;ont-family: 'PFBeauSansPro';font-weight: thin !important;">
			<table style="width:100%;height:30%;">
				<tr>
					<td style="width:60%;">
					<div>	
						<%= image_tag "logohome.png", :style => "width: 40%; height: 40%;" %>
					</div>
					</td>
					<td style="width:40%;text-align:left;">
						<div class="pull-right">
							<p>
								Docket Tech Solutions Private Limited<br>
								<br>Mayur Tower, #10, <br>
		                    	1st Floor, 3rd Main Rd, <br>
		                    	Ashwini Layout, Ejipura, <br>
		                    	Bangalore - 560047, <br>
		                    	Karnataka, India <br>
								Tel : +91 81-0537 7103<br>
								<!-- Tel : +91 80 4656 4656<br> -->
								Email : support@dockettech.com<br>
								Web : www.dockettech.com

							</p>				
						</div>
					</td>
				</tr>

			</table>	
				<!--Header-->
		<table style="background-color: #d7e0e7;width: 630px; height: 1000px; position: absolute;">	
			<tbody style="background-color: #2d3a4b;width: 500px;height: 885px;position: absolute;left: 0;right: 0;
			margin: 0 auto; top: 5%;">	
				<tr>
					<h1 style="font-size: 52px;position: absolute;color: white;z-index: 999;width: 200px;margin: 9% auto;text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.38);left: 0;right: 0;">WELCOME</h1>
					<td style="width: 60%;background-color: rgba(95, 111, 124, 0.83);box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.21);position: absolute;padding: 20px; margin-top: 2%; left: 37%;color: #fff;top: 10%;">
						
						<h2><span>DVAULT</span></h2>
						<hr style="width:100%;">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</td>	
				</tr>	
				<table style="width:100%;height:330px;">    
					<tr>
						<td style="background-color: #f16224;position: relative;left: 7.5%;top: 38em !important;width: 100%;">
							
						</td>
						<td style="width: 23%;background-color: white;box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.21);position: absolute; height: 200px !important;padding: 20px;margin-top: 41%;left: 26.9%;">	
							<hr style="width:70%;">
							<h3 style="text-align:center">
								<u>DVAULT</u>
							</h3>
							<hr style="width:70%;">
							<h1 style="text-align:center">
								 <span style="color:#f16224">CATEGORIES</span>
							</h1>
							<hr style="width:70%;">
							<hr style="width:45%;">
							<P style="text-align:center;">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							</P>
						</td>
						<td style="">		
							<%= image_tag "DVault_Category.png", :style => "position: absolute;left: 53%;top: 97%;box-shadow: -8px 6px 15px 0px rgba(0, 0, 0, 0.34);" %>
						</td>
					</tr>
				</table>	
			</tbody>
			<h1 style="text-align:center;font-size:30px;position: absolute;bottom: -80%;right: 44%;">THANKS</h1>
		</table>
	</body>
</html>