<!DOCTYPE html>
<html>
	<head>
    	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  	</head>
  	<body>
		<div>Hi <%= @user.profile.first_name %>,</div>

		<p>
			To reset your password click the URL below.
		</p>
		<div>
			<a href="<%= @url %>">
				<div>
					Click Here
				</div>
			</a>
		</div>
		<div>
			If you did not request your password to be reset please ignore this email and your password will stay as it is.
		</div>
		<br>
		<br>
		<div>
			Regards,<br>
			Team Docket Tech <br>	
			+91-81-0537 7103
			<!-- +91-80-4656 4656 -->
		</div>
	</body>
</html>
