<!DOCTYPE html>
<html>
	<head>
    	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  	</head>
  	<body>
		<div>Hi <%= @user.profile.first_name %>,</div>
		<br>
		<p>
			Inorder to process your orders faster we need the following information.
		</p>
		<div>Please update your account info in your profile section with the following: </div>
		<ol>
			<li>Address Proof</li>
			<li>Id Proof</li>
		</ol>
		<br>
		<br>
		<div>
			Regards,<br>
			Team Docket Tech <br>	
			+91-81-0537 7103
			<!-- +91-80-4656 4656 -->
		</div>
	</body>
</html>
