<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Welcome Email</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style>
			@font-face {
			  font-family: 'PFBeauSansPro';
			  src: url("<%= @base_url %>/assets/PFBeauSansPro.ttf") format('truetype');
			  font-weight: thin;
			  font-style: normal;
			}

			@font-face {
			  font-family: 'PFBeauSansPro';
			  src: url("<%= @base_url %>/assets/PFBeauSansProa.ttf") format('truetype');
			  font-weight: thin;
			  font-style: normal;
			}

			table {
			    background-color: transparent;
			    border-color: transparent;
			    margin: 0;
			}

			.table>tbody+tbody {
			    border-top: 0;
			}
			
			a{
				text-decoration: none;
			}
			
		</style>
	</head>
	<body style="margin:0 auto;padding:0;max-width:640px;font-family:'PFBeauSansPro';font-size: 14px;background-size: cover;font-weight: thin !important;"> 
		<table style="width:640px;border-spacing: 0;"> 
	  		<thead>
			    <tr style="width: 640px;margin: 0 auto;display: block;">
				    <td style="float:left;">	
				      	<a href="<%= @base_url %>"> <%= image_tag "#{@base_url}/assets/new_images/email/headerlogo.png", :style => "height:80px;margin-top:20px;"%></a>
				     </td>
				     <td style="float:right;">
				      	<%= image_tag "#{@base_url}/assets/new_images/email/header1.png", :style => "height:80px;margin-top:20px;padding-right: 8%;"%>
				    </td>
			    </tr>
			</thead>
	  		<tbody style="background-image: url('<%= @base_url %>/assets/new_images/email/mainbg.jpg'); width: 640px; margin: 0 auto;">
	  			<tr>
	  				<td style="float: left;height: 370px;padding-top: 35px;padding-left: 35px;">
			  			<p style="width: 300px;font-size: 33px;color:#fff">Hello <%= @user.profile.first_name %>!</br>
			  			Welcome To Docket</p>
			  			<p style="width:300px;margin-bottom: 16%;font-size:16px;color:#c10a30; ">
			  				INDIA'S FIRST ONLINE PLATFORM FOR<br> 
			  				DOCUMENTATION AND REGISTRATION
			  			</p>
			  			<a href="<%= @url %>"><button type="button" style="background-color: #eada22;width: 70%;border-radius: 10px;height: 60px;margin-bottom: 91px;float: left;margin: -1% 0px;border: 0;"><span style="color:#000;font-size:30px">Activate</span></button></a>
	  				</td>
	  				<td style="float: right;height: 370px;">
						<%= image_tag "#{@base_url}/assets/new_images/email/mobile.png", :style =>"padding-top: 30%;padding-right: 28px;"%>
					</td>
	  			</tr>
	  			<tr  style="background-color:#c10a30;height: 170px;">
	  				<td>
	  					<div style="height: 94px;margin-bottom: 46px;margin-left: 42px;">
							<span style="color:#fff;font-size:18px;font-weight: bold;">Download our App</span><br>
							<a href="https://play.google.com/store/apps/details?id=com.docket" target="_blank"><%= image_tag "#{@base_url}/assets/new_images/email/android.png", :style => "float:left;" %></a>
							<a href="https://appsto.re/in/sSvqab.i" title="Docket iOS app" target="_blank"><%= image_tag "#{@base_url}/assets/new_images/email/appstore.png",:style => "float:left;" %></a>	
						
							<a href="http://www.dockettech.com"><span style="color:#fff;font-size:20px;font-weight: bold;float: right;padding-top: 10%;padding-right: 6%;">www.dockettech.com</span> </a>
	  					</div>
	  				</td>
	  			</tr>	
	  			<tr  style="background-color:#c10a30;" width="640px" height="150px" style="margin-top:-100px;">
	  				<td style="color:#fff">
						<h1 style="width: 45%;margin-left: 27%;text-align:center;margin-top:30px;border-bottom: 1px solid #fff; line-height:0.1em; "><span style=" background:#c10a30; padding:0 10px;">About us</span></h1>
						 <p style="text-align:justify;padding:20px;font-size:16px;margin-top: 25px;">Docket Tech Solution Pvt. Ltd. is a technological product startup company, headquartered in Bangalore, founded in November 2015. It is primarily focused on processing and delivering a comprehensive list of legal documentation, etc., via a fully automated protocol. 
	  				</td>
	  			</tr>
	  		</tbody>
	  		<tbody >
	  			<tr style="background-color:#f2f2f2;">
	  				<td style="color:#000">
						<h1 style="text-align:center">Our Services</h1>
						<div class="row">
						<div class="col-md-12">
							<ul style=" display: block;height: 100px;width: 640px; margin: 0% auto 0%;text-align: center;">
								<a href="<%= @base_url %>/in/agreement">
									<li style="display: inline-block;width: 24%;height: 75px;text-align: center;margin: 0 auto;"> 
										<%= image_tag "#{@base_url}/assets/new_images/email/agreement.png", :style=> "agreement_icon" %>
										<p style="text:center;color:#000;">Agreements</p>
									</li>
								</a>
								<a href="<%= @base_url %>/in/affidavit">
									<li style="display: inline-block;width: 24%;height: 75px;text-align: center;margin: 0 auto;">
										<%= image_tag "#{@base_url}/assets/new_images/email/affidavits.png", :style=> "affidavit_icon"%>
										<p style="text:center;color:#000;">Affidavits</p>
									</li>
								</a>
								<a href="<%= @base_url %>/in/bond">
									<li style="display: inline-block;width: 24%;height: 75px;text-align: center;margin: 0 auto;"> 	
										<%= image_tag "#{@base_url}/assets/new_images/email/bonds.png", :style=> "bonds_icon" %>
										<p style="text:center;color:#000;">Bonds</p>
									</li>
								</a>
								<a href="<%= @base_url %>/in/deed">
									<li style="display: inline-block;width: 24%;height: 75px;text-align: center;margin: 0 auto;"> 
										<%= image_tag "#{@base_url}/assets/new_images/email/deeds.png", :style=> "deeds_icon"%>
										<p style="text:center;color:#000;">Deeds</p>
									</li>
								</a>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<ul style=" display: block;height: 100px;width: 640px; margin: 0% auto 0%;text-align: center;">
								<a href="<%= @base_url %>/in/notary">
									<li style="display: inline-block;width: 24%;height: 75px;text-align: center;margin: 0 auto;"> 
										<%= image_tag "#{@base_url}/assets/new_images/email/notary.png", :style=> "notary_icon"%>
										<p style="text:center;color:#000;">Notary</p>
									</li>
								</a>
								<a href="<%= @base_url %>/in/e-stamp">
									<li style="display: inline-block;width: 24%;height: 75px;text-align: center;margin: 0 auto;"> 
										<%= image_tag "#{@base_url}/assets/new_images/email/e-stamp.png", :style=> "estamp_icon"%>
										<p style="text:center;color:#000;">E-Stamp</p>
									</li>
								</a>
								<a href="<%= @base_url %>/in/attestation">
									<li style="display: inline-block;width: 24%;height: 75px;text-align: center;margin: 0 auto;"> 
										<%= image_tag "#{@base_url}/assets/new_images/email/attestation.png", :style=> "attestation_icon"%>
										<p style="text:center;color:#000;">Attestation</p>
									</li>
								</a>
								<a href="<%= @base_url %>/in/franking">
									<li style="display: inline-block;width: 24%;height: 75px;text-align: center;margin: 0 auto;"> 
										<%= image_tag "#{@base_url}/assets/new_images/email/franking.png", :style=> "franking_icon"%>
										<p style="text:center;color:#000;">Franking</p>
									</li>
								</a>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<ul style=" display: block;height: 100px;width: 640px; margin: 0% auto 0%;text-align: center;">
								<a href="<%= @base_url %>/in/startup">
									<li style="display: inline-block;width: 24%;height: 75px;text-align: center;margin: 0 auto;"> 
										<%= image_tag "#{@base_url}/assets/new_images/email/startups.png", :style=> "startup_icon"%>
										<p style="text:center;color:#000;">Company Registrations</p>
									</li>
								</a>
								<a href="<%= @base_url %>/in/marketplace">
									<li style="display: inline-block;width: 24%;height: 75px;text-align: center;margin: 0 auto;"> 
										<%= image_tag "#{@base_url}/assets/new_images/email/marketplace.png", :style=> "marketplace_icon"%>
										<p style="text:center;color:#000;">Business Licenses</p>
									</li>
								</a>
								<a href="<%= @base_url %>/in/property">
									<li style="display: inline-block;width: 24%;height: 75px;text-align: center;margin: 0 auto;"> 
										<%= image_tag "#{@base_url}/assets/new_images/email/property.png", :style=> "property_icon"%>
										<p style="text:center;color:#000;">Property Documentation</p>
									</li>
								</a>
								<a href="<%= @base_url %>/in/paperwork`">
									<li style="display: inline-block;width: 24%;height: 75px;text-align: center;margin: 0 auto;"> 
										<%= image_tag "#{@base_url}/assets/new_images/email/paperwork.png", :style=> "paperwork_icon"%>
										<p style="text:center;color:#000;">Paperwork</p>
									</li>
								</a>
							</ul>
						</div>
					</div>
	  				</td>
	  			</tr>
	  		</tbody>
	  		<tbody style="width:640px;background: #e2e2e2;">
				<tr style="height: 60px;border-top: 0;width: 100%;float: left;padding-left: 4%;">
					<td style="border-top: 0;width:70%;">
                        <ul style="list-style: none;display: inline-block;margin: 0 -10%;font-weight: bold;">	
                        	<a href="<%= @base_url %>/about-us" title="" style="color: #000; text-decoration: none;"><li style="display: inline-block;">About</li></a>
							<a href="<%= @base_url %>/helpcenter" title="" style="color: #000; text-decoration: none;"><li style="display: inline-block;margin-left: 6px;">Help</li></a>
							<a href="<%= @base_url %>/contact-us" title="" style="color: #000; text-decoration: none;"><li style="display: inline-block;margin-left: 6px;">Contact</li></a>
							<a href="<%= @base_url %>/terms" title="" style="color: #000; text-decoration: none;"><li style="display: inline-block;margin-left: 6px;">Terms</li></a>
							<a href="<%= @base_url %>/privacy" title="" style="color: #000; text-decoration: none;"><li style="display: inline-block;margin-left: 6px;">Privacy</li></a>
                        </ul>
					</td>
					<td style="list-style: none;margin: -25% auto;">
 						<ul  style="list-style: none;display: inline-block;margin: -3% auto;">
 							<a href="https://www.facebook.com/pages/Docket-Tech-Solutions-Private-Limited/503043613211567"><li style="display: inline-block;"><%= image_tag "#{@base_url}/assets/social/facebook.png", :style => "border-radius: 100%;" %></li></a>
 							<a href="https://twitter.com/dockettech"><li style="display: inline-block;margin-left: 4px;"><%= image_tag "#{@base_url}/assets/social/twitter.png", :style => "border-radius: 100%;" %></li></a>
 							<a href="https://plus.google.com/u/0/104833829409330467550/posts"><li style="display: inline-block;margin-left: 4px;"><%= image_tag "#{@base_url}/assets/social/googlef.png", :style => "border-radius: 100%;" %></li>
 							</a>
 						</ul>
					</td>
				</tr>
				<tr>
					<td style="font-size: 40px;color: #fff;text-align: center;background: #000;padding: 6%;">Thank you</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
