<%= simple_form_for(@status) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'create' %>
  </div>
<% end %>

<style>
  input.btn.create {
      background-color: #022E48;
      color: #fff;
      height: 37px;
      margin-top: 2em;
      margin-bottom: 2em;
      border-radius: 0;
      margin-left: 0;
  }

</style>
