<p id="notice"><%= notice %></p>

<h1>Listing Statuses</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td><%= status.name %></td>
        <td><%= link_to 'Show', status %></td>
        <td><%= link_to 'Edit', edit_status_path(status) %></td>
        <td><%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @statuses %>
<%= link_to 'New Status', new_status_path, class: 'new-status' %>


<style>
  a.new-status {
      background-color: #024448;
      padding: 10px;
      color: #fff;
  }
</style>
