<%= simple_form_for(@payments_paytm) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :MID %>
    <%= f.input :ORDERID %>
    <%= f.input :TXNAMOUNT %>
    <%= f.input :CURRENCY %>
    <%= f.input :TXNID %>
    <%= f.input :BANKTXNID %>
    <%= f.input :STATUS %>
    <%= f.input :RESPCODE %>
    <%= f.input :RESPMSG %>
    <%= f.input :TXNDATE %>
    <%= f.input :GATEWAYNAME %>
    <%= f.input :BANKNAME %>
    <%= f.input :PAYMENTMODE %>
    <%= f.input :CHECKSUMHASH %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
