<p id="notice"><%= notice %></p>

<h1>Listing Payments Paytms</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Mid</th>
      <th>Orderid</th>
      <th>Txnamount</th>
      <!-- <th>Currency</th> -->
      <th>Txnid</th>
      <th>Banktxnid</th>
      <th>Status</th>
      <!-- <th>Respcode</th> -->
      <th>Respmsg</th>
      <th>Txndate</th>
      <th>Gatewayname</th>
      <th>Bankname</th>
      <th>Paymentmode</th>
      <!-- <th>Checksumhash</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments_paytms.each do |payments_paytm| %>
      <tr>
        <td><%= payments_paytm.MID %></td>
        <td><%= payments_paytm.ORDERID %></td>
        <td><%= payments_paytm.TXNAMOUNT %></td>
        <!-- <td><%#= payments_paytm.CURRENCY %></td> -->
        <td><%= payments_paytm.TXNID %></td>
        <td><%= payments_paytm.BANKTXNID %></td>
        <td><%= payments_paytm.STATUS %></td>
        <!-- <td><%#= payments_paytm.RESPCODE %></td> -->
        <td><%= payments_paytm.RESPMSG %></td>
        <td><%= payments_paytm.TXNDATE %></td>
        <td><%= payments_paytm.GATEWAYNAME %></td>
        <td><%= payments_paytm.BANKNAME %></td>
        <td><%= payments_paytm.PAYMENTMODE %></td>
        <!-- <td><%#= payments_paytm.CHECKSUMHASH %></td> -->
        <td><%= link_to 'Show', payments_paytm %></td>
        <td><%= link_to 'Edit', edit_payments_paytm_path(payments_paytm) %></td>
        <td><%= link_to 'Destroy', payments_paytm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @payments_paytms %>
<%= link_to 'New Paytm', new_payments_paytm_path %>
