<p id="notice"><%= notice %></p>

<p>
  <strong>Mid:</strong>
  <%= @payments_paytm.MID %>
</p>

<p>
  <strong>Orderid:</strong>
  <%= @payments_paytm.ORDERID %>
</p>

<p>
  <strong>Txnamount:</strong>
  <%= @payments_paytm.TXNAMOUNT %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @payments_paytm.CURRENCY %>
</p>

<p>
  <strong>Txnid:</strong>
  <%= @payments_paytm.TXNID %>
</p>

<p>
  <strong>Banktxnid:</strong>
  <%= @payments_paytm.BANKTXNID %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payments_paytm.STATUS %>
</p>

<p>
  <strong>Respcode:</strong>
  <%= @payments_paytm.RESPCODE %>
</p>

<p>
  <strong>Respmsg:</strong>
  <%= @payments_paytm.RESPMSG %>
</p>

<p>
  <strong>Txndate:</strong>
  <%= @payments_paytm.TXNDATE %>
</p>

<p>
  <strong>Gatewayname:</strong>
  <%= @payments_paytm.GATEWAYNAME %>
</p>

<p>
  <strong>Bankname:</strong>
  <%= @payments_paytm.BANKNAME %>
</p>

<p>
  <strong>Paymentmode:</strong>
  <%= @payments_paytm.PAYMENTMODE %>
</p>

<p>
  <strong>Checksumhash:</strong>
  <%= @payments_paytm.CHECKSUMHASH %>
</p>

<%= link_to 'Edit', edit_payments_paytm_path(@payments_paytm) %> |
<%= link_to 'Back', payments_paytms_path %>
