<%= form_for(@documents_section) do |f| %>
  <% if @documents_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@documents_section.errors.count, "error") %> prohibited this documents_section from being saved:</h2>

      <ul>
      <% @documents_section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :section_no %><br>
    <%= f.number_field :section_no %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
