<p id="notice"><%= notice %></p>

<h1>Listing Documents Sections</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Section no</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents_sections.each do |documents_section| %>
      <tr>
        <td><%= documents_section.name %></td>
        <td><%= documents_section.section_no %></td>
        <td><%= documents_section.description %></td>
        <td><%= link_to 'Show', documents_section %></td>
        <td><%= link_to 'Edit', edit_documents_section_path(documents_section) %></td>
        <td><%= link_to 'Destroy', documents_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @documents_sections %>

<%= link_to 'New Section', new_documents_section_path %>
