<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @documents_section.name %>
</p>

<p>
  <strong>Section no:</strong>
  <%= @documents_section.section_no %>
</p>

<p>
  <strong>Description:</strong>
  <%= @documents_section.description %>
</p>

<%= link_to 'Edit', edit_documents_section_path(@documents_section) %> |
<%= link_to 'Back', documents_sections_path %>
