<div class="metric-panel">
	<div class="db-counter">
		<label for="restaurants">Order Incomplete</label>
		<li class="metrics">
			<%= @incomplete_orders_count %>
		</li>
	</div>
	<div class="db-counter">
		<label for="loyalty-l">Order Inprogress</label>
		<li class="metrics">
			<%= @inprogress_orders_count %>
		</li>
	</div>
	<div class="db-counter">
		<label for="order_bills">Order Completed</label>
		<li class="metrics">
			<%= @completed_orders_count %>
		</li>
	</div>
	<div class="db-counter">
		<label for="rewards">Order Canceled</label>
		<li class="metrics">
			<%= @canceled_orders_count	 %>
		</li>
	</div>
	<hr>
	<div class="db-counter">
		<label for="cuisines">Locality</label>
		<li class="metrics">
			<%= @localities_count %>
		</li>
	</div>
	<hr>
	<div class="db-counter">
		<label for="dishes">Document</label>
		<li class="metrics">
			<%= @documents_count %>
		</li>
	</div>
	<div class="db-counter">
		<label for="dk_dishes">Attachment</label>
		<li class="metrics">
			<%= @attachments_count %>
		</li>
	</div>
	<hr>
	<div class="db-counter">
		<label for="user">Dvault</label>
		<li class="metrics">
			<%= @dvault_count %>
		</li>
	</div>
	<div class="db-counter">
		<label for="user">Dvaults Files</label>
		<li class="metrics">
			<%= @dvault_files_count	%>
		</li>
	</div>
	<hr>
	<div class="db-counter">
		<label for="reviews">Payment Success</label>
		<li class="metrics">
			<%= @successfull_payments_count	%>
		</li>
	</div>
	<div class="db-counter">
		<label for="checkin">Payment Failed</label>
		<li class="metrics">
			<%= @failed_payments_count %>
		</li>
	</div>
	<hr>
	<div class="db-counter">
		<label for="device">Employees</label>
		<li class="metrics">
			<%= @employees_count %>
		</li>
	</div>
	<div class="db-counter">
		<label for="contact-r">User</label>
		<li class="metrics">
			<%= @user_count %>
		</li>
	</div>
	<hr>
	<div class="db-counter">
		<label for="localities">ContactRequest</label>
		<li class="metrics">
			<%= @contact_request_count %>
		</li>
	</div>
	<div class="db-counter">
		<label for="contact-r">Partner Request</label>
		<li class="metrics">
			<%= @partner_request_count %>
		</li>
	</div>
	<hr>
	<div class="db-counter">
		<label for="listing-r">Android Registration</label>
		<li class="metrics">
			<%= @android_device_count %>
		</li>
	</div>
	<div class="db-counter">
		<label for="device">Ios Registration</label>
		<li class="metrics">
			<%= @ios_device_count %>
		</li>
	</div>
</div>	