
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<link href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />
<h1><center>Services Sales Comparison:</center></h1>
<% data = {} %>
<% @services.each do |serve| %>
	<% data[serve.name] = serve.orders.where(:status_id => [2,3]).count %> 
<% end %> 
<%= pie_chart(data) %>
<%= column_chart(data) %>
<br/>
<h1> <bold>List of orders made: </bold> </h1>
<table class="table table-bordered" id="docTable" data-order='[[ 3, "desc" ]]'>
	<thead>
		<tr>
			<th>Service</th>
			<th>Document</th>
			<th>Document ID</th>
			<th>Price</th>
			<th>Order Count</th>
		</tr>
	</thead>
	<tbody>
		<% @documents.each do |doc| %>
			<tr>
				<td><%= doc.service.name %></td>
				<td><%= doc.name %></td>
				<td><%= doc.id %></td>
				<td><%= doc.default_price %>
				<td><%= doc.orders.where(:status_id => [2,3]).count %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<script>
$(document).ready(function(){
    $('#docTable').DataTable();
});
</script>