<p id="notice"><%= notice %></p>

<h1>Listing Notifications Templates</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Msg</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications_templates.each do |notifications_template| %>
      <tr>
        <td><%= notifications_template.name %></td>
        <td><%= notifications_template.message %></td>
        <td><%= link_to 'Show', notifications_template %></td>
        <td><%= link_to 'Edit', edit_notifications_template_path(notifications_template) %></td>
        <td><%= link_to 'Destroy', notifications_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Template', new_notifications_template_path %>
