<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @notifications_template.name %>
</p>

<p>
  <strong>Msg:</strong>
  <%= @notifications_template.message %>
</p>

<%= link_to 'Edit', edit_notifications_template_path(@notifications_template) %> |
<%= link_to 'Back', notifications_templates_path %>
