<%= form_for(@documents_sections_question_group) do |f| %>
  <% if @documents_sections_question_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@documents_sections_question_group.errors.count, "error") %> prohibited this documents_sections_question_group from being saved:</h2>

      <ul>
      <% @documents_sections_question_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :section_id %><br>
    <%= f.number_field :section_id %>
  </div>
  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.number_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.number_field :priority %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
