<p id="notice"><%= notice %></p>

<h1>Listing Documents Sections Question Groups</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Section</th>
      <th>Question</th>
      <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents_sections_question_groups.each do |documents_sections_question_group| %>
      <tr>
        <td><%= documents_sections_question_group.section_id %></td>
        <td><%= documents_sections_question_group.question_id %></td>
        <td><%= documents_sections_question_group.priority %></td>
        <td><%= link_to 'Show', documents_sections_question_group %></td>
        <td><%= link_to 'Edit', edit_documents_sections_question_group_path(documents_sections_question_group) %></td>
        <td><%= link_to 'Destroy', documents_sections_question_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @documents_sections_question_groups %>

<%= link_to 'New Question group', new_documents_sections_question_group_path %>
