<p id="notice"><%= notice %></p>

<p>
  <strong>Section:</strong>
  <%= @documents_sections_question_group.section_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @documents_sections_question_group.question_id %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @documents_sections_question_group.priority %>
</p>

<%= link_to 'Edit', edit_documents_sections_question_group_path(@documents_sections_question_group) %> |
<%= link_to 'Back', documents_sections_question_groups_path %>
