.affidavit.container-fluid {
    margin: 0;
    padding: 0;
    h1.main_head {
        color: #f2ba10;
        font-weight: bold;
        margin: 0;
        font-size: 45px;
        position: relative;
        top: 2%;
        text-align: center;
    }
    h1.sub_head {
        color: #f2ba10;
        font-weight: normal;
        margin: 0;
        font-size: 45px;
        position: relative;
        text-align: center;
        padding-top: 12px;
    }
    h1.sub_head1 {
        color: #fff;
        font-weight: 100;
        margin: 0;
        font-size: 44px;
        position: relative;
        text-align: center;
        padding-top: 12px;
    }
    .main_bg {
        background: url("/assets/campaign_affidavit/banner.jpg");
        height: 100vh;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }
    h2.line_tag {
        width: 18%;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 10px 0 20px;
        margin: 0;
        position: absolute;
        margin-top: 2%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    button.btn.btn-default.btn_order {
        background: #F2E9C8;
        color: #C5310B;
        border: 1px solid #000;
        border-radius: 0;
        font-size: 30px;
        font-weight: bold;
        position: relative;
        top: 30px;
        height: 60px;
    }
    .center_align {
        height: 16em;
        position: relative;
    }
    #owl-demo .item {
        margin: 3px;
    }
    #owl-demo .item img {
        display: block;
        height: auto;
    }
    p.para_wrap {
        width: 50%;
        text-align: center;
        margin: 0 auto;
    }
    .testimonial_wrap {
        background: url("/assets/campaign_affidavit/testimonial_bg.jpg");
        background-size: cover;
        padding: 50px 0 150px;
        text-align: center;
        color: white !important;
    }
    .testimonial_wrap h4.rental_head span {
        background: transparent;
        padding: 2%;
        color: #fff;
    }
    .para_wrap span {
        font-size: 20px;
        font-weight: bold;
    }
    .media-icons .for-pad-left {
        padding-left: 60px;
    }
    .contact_wrap h4.rental_head span {
        background: #2D2B2B;
        padding: 2%;
        color: #fff;
        font-size: 18px !important;
    }
    form#question_form {
        margin: 0 auto;
    }
    span.rupee_icon {
        color: #fff;
        background: #000;
        position: absolute;
        font-size: 22px;
        height: 45px;
        width: 40px;
        line-height: 1.8;
        cursor: pointer;
        text-align: center;
    }
    p.hint_txt {
        font-size: 10px;
        width: 100%;
        margin: 4% auto;
    }
    .date_slide {
        height: 4.5em;
        background: #f2f2f2;
        margin-bottom: 6%;
        position: relative;
    }
    .section_one .for-form {
        padding-top: 20px;
    }
    .for-form .amount_wrap {
        padding-top: 10px;
    }
    div#date-slider {
        width: 100%;
        height: 3.9em;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        line-height: 1.2em;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        background: #f2f2f2;
    }
    ul.list_date {
        list-style: none;
        position: absolute;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    ul.list_date li {
        width: 14.28%;
        float: left;
        white-space: pre-wrap;
        margin-top: 4px;
        font-weight: normal;
        font-size: 16px;
        color: #757575;
    }
    #date-slider .handle {
        height: 5.2em;
        border-radius: 0px;
        cursor: pointer;
        position: absolute;
        top: -10%;
    }
    .date_slide .dragdealer .red-bar {
        width: 55px;
        height: 92px;
        background: #f2ba10;
        color: #000;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
    }
    #date-slider span.value {
        font-size: 16px;
        white-space: pre-wrap;
        line-height: 1.4em;
        display: block;
        margin: 6px 0px;
    }
    div#proRangeSlider {
        margin-bottom: 2%;
    }
    span.timing_txt {
        font-size: 16px;
        color: #000;
        font-weight: bold;
    }
    .time_slider {
        width: 75%;
        margin: 0 auto 5%;
        display: block;
        float: right;
        cursor: pointer;
    }
    ul.time_slot {
        list-style: none;
        display: inline-block;
        font-weight: bold;
        padding-left: 8%;
        position: relative;
        top: -11px;
        margin-left: 16%;
        font-size: 10px;
        width: 87%;
    }
    ul.time_slot li {
        display: inline-block;
        padding-left: 0;
        width: 24%;
        color: #757575;
    }
    #simple-slider {
        position: relative;
        height: 25px;
        background: #f2f2f2;
    }
    .time_slider .dragdealer .red-bar {
        width: 65px;
        height: 35px;
        background: #e47a58;
        color: #000;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        position: absolute;
        top: -16%;
        cursor: pointer;
    }
    button.btn.btn-default.proceed_btn {
        border: 0;
        border-radius: 0;
        width: 45%;
        font-size: 20px;
        color: #fff;
        position: relative;
        left: 0;
        right: 0;
        margin: -6% auto 6%;
        text-align: center;
        height: 45px;
        top: -22px;
        display: block;
        background: #f2ba10;
    }
    .copies_slot {
        position: relative;
        height: 40px;
        width: 100%;
        margin-bottom: 1%;
    }
    #just-a-slider {
        width: 327px;
        height: 2em;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        font-weight: bold;
        cursor: pointer;
        background: #f2f2f2;
    }
    #just-a-slider-1 {
        width: 327px;
        height: 2em;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        font-weight: bold;
        cursor: pointer;
        background: #f2f2f2;
    }
    ul.list_wrapper {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 14px;
    }
    ul.list_wrapper li {
        float: left;
        width: 9%;
        line-height: 2.4em;
        color: #757575;
        list-style: none;
    }
    #just-a-slider .handle {
        height: 40px;
        line-height: 3em;
        border-radius: 0px;
        cursor: pointer;
        position: absolute;
        top: -16%;
        font-weight: bold;
        width: 30px;
        background: #f2ba10;
    }
    #just-a-slider-1 .handle {
        height: 40px;
        line-height: 3em;
        border-radius: 0px;
        cursor: pointer;
        position: absolute;
        top: -16%;
        font-weight: bold;
        width: 30px;
        background: #f2ba10;
    }
    span.value {
        font-size: 16px;
        font-weight: bold;
    }
    .control-group {
        display: inline-block;
    }
    .control {
        display: inline-block;
        position: relative;
        padding-left: 55px;
        margin-bottom: 15px;
        cursor: pointer;
        font-size: 18px;
        margin: 20px 40px;
        line-height: 2.5;
    }
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    .control__indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 40px;
        width: 40px;
        background: #e6e6e6;
    }
    .control--radio .control__indicator {
        border-radius: 0%;
    }
    .control:hover input ~ .control__indicator,
    .control input:focus ~ .control__indicator {
        background: #ccc;
    }
    .control input:checked ~ .control__indicator {
        background: #eaa500;
    }
    .control:hover input:not([disabled]):checked ~ .control__indicator,
    .control input:checked:focus ~ .control__indicator {
        background: #C36445;
    }
    .control__indicator:after {
        content: '';
        position: absolute;
        display: none;
    }
    .control input:checked ~ .control__indicator:after {
        display: block;
    }
    .control--radio .control__indicator:after {
        left: 0;
        top: 0;
        height: 40px;
        width: 40px;
        border-radius: 0;
        background: #eaa500;
    }
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    .fileUpload.btn.btn-primary {
        border: 0;
        border-radius: 0;
        height: 40px;
        font-size: 15px;
        background: #eaa500;
    }
    input#uploadFile {
        height: 40px;
        padding: 6px 12px;
        border: 0;
        background: #E6E6E6;
    }
    .date_wrap {
        padding-right: 10%;
        padding-left: 10%;
    }
    .terms_wrap {
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.21);
        width: 40%;
        margin: 3% auto;
        padding: 0.5% 2%;
    }
    button.btn.btn-primary.pay_btn {
        background: #f2ba10;
        color: #000;
        font-size: 20px;
        margin: 0 auto;
        display: block;
        border-radius: 0;
        border: 0;
    }
    input.terms_condition {
        width: 20px;
        height: 20px;
    }
    span.chk_hint {
        line-height: 2;
    }
    #owl-demo .item img {
        display: block;
        height: auto;
    }
    .owl-theme .owl-controls .owl-page.active span {
        background-color: #f2ba10;
        opacity: 1;
    }
    .owl-theme .owl-controls .owl-page span {
        display: block;
        width: 12px;
        height: 12px;
        margin: 5px 7px;
        filter: Alpha(Opacity=50);
        opacity: 0.2;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        background: #f2ba10;
    }
    h4.main_head {
        color: #757575;
        font-size: 16px;
    }
    h4.sub_head {
        color: #000000;
    }
    .payment_details {
        padding: 3%;
        width: 80%;
        margin: 0% auto;
    }
    .payment_details p {
        padding: 4% 0% 1%;
        color: #0C0C0C;
        font-size: 16px;
        letter-spacing: 1px;
    }
    .input_name {
        height: 55px;
        width: 100%;
        padding: 6px 12px;
        border: 0;
        font-size: 14px;
        margin-bottom: 2%;
        background: #f2f2f2;
        color: #000;
    }
    span.price_hint {
        font-size: 18px;
        position: relative;
        bottom: 24px;
    }
    .hint_wrap h6 {
        margin-bottom: 4%;
    }
    hr.wow.zoomIn {
        width: 40%;
    }
    /***********************NEW DESIGN CSS *************************/
    
    .how_work_section {
        background-color: #f2f2f2;
        width: 100%;
        padding: 0% 20% 3% 27%;
    }
    .how_work_section span {
        color: #f2ba10;
        font-size: 18px;
        font-weight: normal;
    }
    .how_work_section h4 {
        font-size: 14px;
        font-weight: 600;
    }
    .how_work_section p {
        line-height: 27px;
        font-size: 12px;
        width: 60%;
    }
    .row_style {
        margin: 1% 0% 4% 0%;
    }
    .city_wrap.pull-right {
        position: relative;
        right: 40px;
        width: 22%;
        top: 35px;
    }
    .city_wrap h4 {
        display: inline-block;
        border: 1px solid #000;
        line-height: 2;
        padding: 3px 10px;
        text-align: center;
        font-weight: normal;
        font-size: 15px;
    }
    .enquiry {
        display: inline;
        position: relative;
        bottom: 2px;
    }
    button.btn.btn-default.enquiry_btn {
        background: #000;
        display: inline-block;
        color: #fff;
        border: 0;
        line-height: 2;
        padding: 1% 3%;
        text-align: center;
        font-weight: normal;
        border-radius: 0;
        font-size: 15px;
    }
    span.enquiry_icon {
        color: #fff;
        border-left: 1px solid #020202;
        background: #000;
        padding: 1%;
        display: inline-block;
        font-size: 21px;
        position: relative;
        right: 5px;
        top: 4px;
        width: 12%;
        text-align: center;
        cursor: pointer;
        margin-left: 2px;
    }
    .enquiry_form {
        background: #f2ba10;
        padding: 3% 6%;
    }
    form.contact_form {
        width: 100%;
        margin: 0 auto;
    }
    input.input_style {
        height: 45px;
        width: 100%;
        padding: 4px 5px 4px 44px;
        background: #E6E6E6;
        border: 0;
        font-size: 14px;
    }
    .section_four .option_wrap {
        width: 100%;
        text-align: center;
    }
    .section_four .process h4 {
        position: relative;
        top: 40px;
        font-size: 12px;
    }
    .section_four .file_upload {
        position: relative;
        top: 0;
    }
    input#uploadFile {
        height: 40px;
        padding: 6px 12px;
        border: 0;
        background: #E6E6E6;
    }
    .fileUpload.btn.btn-primary {
        border: 0;
        border-radius: 0;
        height: 40px;
        font-size: 15px;
        background: #eaa500;
    }
    input.input_style1 {
        width: 100%;
        background: transparent;
        border: 1px solid #000;
        height: 46px;
        padding: 6px 12px;
        color: #000;
    }
    textarea#message {
        border: 1px solid #000;
        background: transparent;
        color: #000;
        padding: 6px 12px;
    }
    button.send-btn {
        font-size: 24px;
        border: 1px solid #000;
        background: transparent;
        width: 40%;
        color: #000;
        padding: 2%;
    }
    h1.quick_txt {
        position: relative;
        left: 0px;
        margin-bottom: 3%;
        color: #000;
        font-weight: bold;
    }
    .pull-right.close_enquiry {
        cursor: pointer;
        color: white;
        font-size: 50px;
        position: absolute;
        z-index: 1;
        right: 2%;
    }
    .map {
        background: url("/assets/rental_agreement/map.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 3%;
        color: #fff;
        font-size: 18px;
        height: 100%;
    }
    h1.pull-right.close_enquiry {
        cursor: pointer;
    }
    h4.email_txt a {
        color: #f2ba10;
        text-decoration: none;
        cursor: pointer;
    }
    img.pull-left.logo {
        position: relative;
        left: 25px;
        top: 25px;
    }
    .search_section {
        top: 300px;
    }
    .search_item {
        width: 50%;
        margin: 2% auto 2%;
        position: relative;
        display: block;
        text-align: center;
        animation-duration: 0.5s;
        animation-name: slideInDown;
    }
    input.search_box {
        width: 100%;
        height: 60px;
        border: 1px solid #AAABAB;
        color: #5c5757;
        font-size: 15px;
        text-align: left;
        padding-left: 10px;
    }
    span.search_icon {
        border-left: 1px solid #000;
        margin-left: -3%;
        padding: 14px;
        cursor: pointer;
        font-size: 26px;
        display: inline-block;
    }
    span.twitter-typeahead {
        width: 100%;
    }
    .question_bg {
        background: url('/assets/rental_agreement/questions_bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 3%;
    }
    h1.order_no {
        color: grey;
        font-size: 40px;
        margin-bottom: 0;
        margin-top: 0;
    }
    h2.order_txt {
        margin-top: 0;
        border-top: 4px solid #000;
        display: inline-block;
        font-size: 25px;
    }
    h3.estamp_select {
        font-size: 20px;
    }
    h4.questions_heading {
        font-size: 16px;
        font-weight: normal;
    }
    .stamp_study {
        width: 51%;
        margin: 0 auto 3%;
    }
    .section_two {
        background: #fff;
        padding: 4%;
        text-align: center;
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.28);
        text-align: center;
        height: 400px;
    }
    .stamp_price {
        background: url(/assets/rental_agreement/stamping_icon.png);
        background-repeat: no-repeat;
        height: 300px;
        position: relative;
        width: 300px;
        margin: 0 auto;
    }
    span.stamp_icon {
        font-size: 30px;
        position: relative;
        top: 130px;
    }
    h2.text-center.doc_name {
        margin-bottom: 4%;
    }
    h2.text-center.for-default {
        margin-bottom: 4%;
    }
    .next_btn {
        background: #d41e69;
        border: 0;
        border-radius: 0;
        font-size: 30px;
        color: #fff;
        width: 25%;
        margin: 6% auto;
        display: block;
    }
    .arrow {
        width: 100%;
        position: relative;
        top: 270px;
    }
    .arrow_right.pull-right {
        font-size: 30px;
        border: 2px solid grey;
        border-radius: 100%;
        height: 50px;
        width: 50px;
        text-align: center;
        cursor: pointer;
    }
    .arrow_left.pull-left {
        font-size: 30px;
        border: 2px solid grey;
        border-radius: 100%;
        height: 50px;
        width: 50px;
        text-align: center;
        cursor: pointer;
    }
    .doc_price {
        background: url(/assets/rental_agreement/stamping_icon.png);
        background-repeat: no-repeat;
        height: 300px;
        position: relative;
        width: 300px;
        margin: 0 auto;
    }
    span.price_flow {
        font-size: 15px;
        position: relative;
        bottom: 64px;
        display: inline-block;
        width: 100%;
    }
    .horizontal1 {
        border: 0;
        border-top: 1px solid #000;
        width: 30px;
        display: inline-block;
        position: relative;
        top: 16px;
    }
    .option_wrap {
        width: 50%;
        margin: 4% auto;
    }
    .file_upload {
        position: relative;
        top: 154px;
    }
    .process h4 {
        position: relative;
        top: 160px;
    }
    .copies_wrap {
        width: 50%;
        margin: 3% auto;
        text-align: center;
    }
    span.price_hints {
        font-size: 18px;
        position: relative;
        bottom: 0;
    }
    .total {
        position: relative;
        top: 120px;
        font-size: 30px;
    }
    span.price_hints.sum_amount {
        position: relative;
        top: -40px;
    }
    .price_style {
        height: auto;
        margin: 0;
        padding: 10px;
    }
    span.price_hints_tag {
        font-size: 10px;
        position: relative;
        bottom: 0;
    }
    .section_three.summary_wrap {
        padding: 2%;
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.28);
        height: 310px;
        width: 60%;
        margin: 0 auto;
    }
    .row.order_head {
        width: 60%;
        margin: 0 auto;
    }
    .radio_three {
        position: relative;
        bottom: 8px;
    }
    .continue_btn {
        background: #f2ba10;
        border: 0;
        border-radius: 0;
        font-size: 20px;
        color: #000;
        width: 15%;
        margin: 6% auto;
        display: block;
        text-align: center;
        cursor: pointer;
        padding: 0.5%;
        font-weight: 600;
        text-transform: uppercase;
    }
    .summary_details {
        width: 65%;
        margin: 0 auto;
        display: block;
    }
    span.price_hints.sum_amount.txt_total {
        text-align: center !important;
        font-size: 14px;
        width: 100%;
        display: block;
    }
    .selection-box {
        width: 50%;
        margin: 0 auto;
    }
    span.twitter-typeahead {
        width: 100%;
    }
    .tt-menu {
        width: 100%;
    }
    .tt-suggestion.tt-selectable {
        background: #ebebeb;
        width: 100%;
        text-align: left;
        padding: 6px 10px;
        font-size: 15px;
        cursor: pointer;
        border: 1px solid rgba(216, 216, 216, 0.6);
    }
    .enquiry_form,
    .map,
    .cust_enquire {
        height: 338px;
    }
    .thanks {
        text-align: left;
        color: white;
        position: relative;
    }
    h4.email_txt {
        position: relative;
        bottom: 40px;
    }
    .row.bg_wrap.expert_enquire .close_enquiry {
        position: absolute;
        right: 7%;
    }
    button.btn.btn-default.intro_btn {
        background: #f2ba10;
        border-radius: 0;
        border: 0;
        color: #000;
        font-size: 20px;
        position: relative;
        top: 40px;
    }
    h2.intro_head {
        font-weight: 700;
    }
    .affidavit_intro {
        width: 70%;
        height: 130px;
        margin: 0 auto;
    }
    .affidavit_intro:before {
        width: 70%;
        margin: 0 auto;
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    .affidavit_intro .vertical {
        display: inline-block;
        vertical-align: middle;
        padding: 5px;
    }
    h5.intro_subhead {
        color: grey;
        text-align: justify;
    }
    .section_four {
        background: #fff;
        /* min-width: 465px; */
        padding: 2%;
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.28);
        width: 100%;
        margin: 0 auto 3%;
    }
    .affidavit_summary.section_one {
        position: relative;
        top: 160px;
        width: 80%;
        margin: 0 auto;
    }
    .summary_details {
        width: 80%;
        margin: 0 auto;
        display: block;
    }
    button.btn.btn-default.intro_btn.contnu_btn {
        margin: 0 auto;
        display: block;
    }
    .section_five {
        padding: 2%;
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.28);
        height: auto;
        width: 100%;
        margin: 0 auto;
    }
    .customer_info .section_five.summary_wrap .payment_details #message {
        border: 0 !important;
        background: #f2f2f2 !important;
    }
    .customer_info .terms_wrap {
        width: 71%;
    }
    .customer_info {
        width: 70%;
        margin: 0 auto;
    }
    .customer_info:before {
        width: 70%;
        margin: 0 auto;
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    .customer_info .vertical {
        display: inline-block;
        vertical-align: middle;
        padding: 5px;
        width: 100%;
    }
    div#order_two {
        background: #fff;
    }
    .section_six {
        padding: 2%;
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.28);
        height: auto;
        width: 80%;
        margin: 20% auto 0;
        position: relative;
    }
    .affidavit_summary .summary_details .terms_wrap {
        width: 71%;
    }
    div#enquire_btn {
        padding: 2%;
        width: 35%;
        font-size: 15px;
        font-weight: bold;
    }
    .sub_total.price_style.final_amount {
        font-size: 20px;
    }
    div#affi_quesbtn {
        padding: 2%;
        width: 35%;
        font-size: 15px;
        font-weight: bold;
    }
    .affidavit_ques {
        width: 70%;
        margin: 0 auto;
    }
    .affidavit_ques:before {
        width: 70%;
        margin: 0 auto;
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    .affidavit_ques .vertical {
        display: inline-block;
        vertical-align: middle;
        padding: 5px;
        width: 100%;
    }

    .section_four .option_wrap {
        width: 100%;
        /* margin: 4% auto; */
        text-align: center;
    }

    .section_four .process h4 {
        position: relative;
        top: 40px;
        font-size: 12px;
    }

    .section_four .file_upload {
        position: relative;
        top: 0;
    }

    .section_four .file_upload h4 {
        font-size: 12px;
    }

    button.btn.btn-default.home_btn {
        background: transparent;
        color: #F2BA10;
        border: 1px solid #F2BA10;
        border-radius: 0;
        font-size: 30px;
        font-weight: bold;
        position: relative;
        top: 30px;
        height: 60px;
        margin: 0 auto;
        display: block;
    }

    h4.services-bangalore.text-center {
        color: #F2BA10;
        text-align: center;
        position: relative;
        top: 50px;
    }
}
/***********************NEW DESIGN CSS END *************************/
/**************************** MEDIA QUERY STARTS **********************************/

@media screen and (max-width: 480px) and (min-width: 320px){
    .affidavit.container-fluid .main_bg{
        // background: url("/assets/rental_agreement/mobilebg.jpg");
        height: 100vh;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed; 
    }
    .media_wrap img{
        text-align: center;
    }
    .affidavit.container-fluid .city_wrap.pull-right {
        top: 29px;
        width: 35%;
    }
    .affidavit.container-fluid .city_wrap h4 {
        font-size: 10px!important;
    }
    .affidavit.container-fluid button.btn.btn-default.enquiry_btn {
        font-size: 10px;
    }
    .affidavit.container-fluid span.enquiry_icon {
        font-size: 12px;
        height: 22px;
        top: -1px;
        z-index: 10;
    }
    .affidavit.container-fluid .center_align {
        height: 16em;
        position: relative;
        top: 160px;
        text-align: center;
    }

    .affidavit.container-fluid h2.line_tag {
        margin-top: 0;
        border-bottom: 0;
    }
    .affidavit.container-fluid h1.quick_txt {
        // left: 74px;
        font-size: 24px;
    }
    .affidavit.container-fluid textarea#message {
        padding: 3px 3px;
        width: 100%;
    }
    .affidavit.container-fluid .pull-right.close_enquiry {
        z-index: 26;
        font-size: 20px;
        left: 72%;
    }
    .affidavit.container-fluid .cust_enquire {
        height: 338px;
        position: relative !important;
        z-index: 1 !important;
        text-align: center !important;
        font-size: 14px !important;
    }
    .affidavit.container-fluid .enquiry_form, .affidavit.container-fluid  .affidavit.container-fluid .cust_enquire {
        height: auto;
        z-index: 22;
    }
    .affidavit.container-fluid img.pull-left.logo {
        width: 80px!important;
        height: 80px!important;
    }
    .affidavit.container-fluid h1.main_head {
        font-size: 22px;
        display: inline-block;
    }
    .affidavit.container-fluid h1.sub_head1 {
        font-size: 20px;
    }
    .affidavit.container-fluid h1.sub_head {
        font-size: 22px;
    }
    .affidavit.container-fluid h4.sub_head2 {
        padding: 5px 6px 5px 4px !important;
        width: 100% !important;
    }
    .affidavit.container-fluid h4.tag_line {
        font-size: 14px;
    }
    .affidavit.container-fluid h2.line_tag {
        width: 58%;
    }
    .affidavit.container-fluid button.btn.btn-default.btn_order {
        font-size: 14px;
        height: 36px;
    }
    .text-center.wow.zoomIn {
        font-size: 18px!important;
    }
    .affidavit.container-fluid .how_work_section {
        width: 300px!important;
        margin: 0 auto!important;
        padding: 0px!important;

    }
    .affidavit.container-fluid .how_work_section p {
        width: 100%;
    }
    .affidavit.container-fluid .choose_affidavit h3{
        font-size: 18px;
    }
    .affidavit.container-fluid h4.overlay_wrap {
        top: 6px;
    }
    .text-center.doc_name {
        font-size: 18px;
    }
    .affidavit.container-fluid .section_one {
        height: auto!important;
        width: 100%!important;
        padding: 3%;
    }
    .affidavit.container-fluid .stamp_price {
        height: 100px;
        width: 100px;
    }
    .affidavit.container-fluid h1.order_no {
        font-size: 24px;
    }
    .affidavit.container-fluid h2.order_txt {
        font-size: 18px;
    }
    .affidavit.container-fluid h4.questions_heading {
        font-size: 12px;
    }
    .affidavit.container-fluid .stamp_study {
        width: 100%;
        margin: 0 auto 7%;
    }
    .affidavit.container-fluid .section_two {
        padding: 4%;
        height: 250px;
        margin-top: 10px!important;
    }
    .affidavit.container-fluid .section_two h3{
        font-size: 14px;
    }
   .affidavit.container-fluid span.stamp_icon {
        font-size: 18px;
        position: relative;
        top: 45px;
    }
    .affidavit.container-fluid span.price_hint {
        font-size: 18px;
        bottom: -48px;
    }
    .affidavit.container-fluid span.price_hints.sum_amount.txt_total1{
        top: -46px;
    }
    .affidavit.container-fluid .continue_btn {
        font-size: 24px;
        width: 50%;
    }
    .affidavit.container-fluid #notification.red {
        width: 300px;
        font-size: 12px;
    }
    .affidavit.container-fluid #notification {
        height: 40px;
    }
    .affidavit.container-fluid .radio-toolbars label {
        height: 53px;
        width: 89%;
        line-height: 3;
    }
    .affidavit.container-fluid .doc_price {
        background: url(/assets/rental_agreement/stamping_icon.png);
        background-repeat: no-repeat;
        height: auto;
        position: relative;
        width: 260px;
        margin: 0 auto;
    }
    .affidavit.container-fluid .file_upload {
        top: 44px;
    }
    .affidavit.container-fluid .process h4 {
        position: relative;
        top: 80px;
    }
    .affidavit.container-fluid .total {
        top: 30px;
        font-size: 24px;
    }
    .affidavit.container-fluid .section_three.summary_wrap {
        height: auto;
        width: 100%;
        margin: 0 auto;
    }
    .affidavit.container-fluid span.price_flow {
        font-size: 14px;
        bottom: -50px;
    }
    .affidavit.container-fluid span.price_hints.sum_amount {
        top: 74px;
    }
    .affidavit.container-fluid .terms_wrap {
        width: 100%;
        margin: 3% auto;
    }
    .affidavit.container-fluid h4.main_head {
        font-size: 12px;
    }
    .affidavit.container-fluid .stamp_price {
        height: auto;
        width: 100px;
    }
    .affidavit.container-fluid .section_two {
        padding: 4%;
        height: 250px;
        margin-top: 10px !important;
        width: 100%!important;
    }
    .affidavit.container-fluid .search_item {
        width: 100%;
        // margin: 10% auto 0%;
    }
    .affidavit.container-fluid .center_align {
        height: 16em;
        position: relative;
        top: 120px;
        text-align: center;
    }
    .affidavit.container-fluid .selection-box {
        width: 94%;
        margin: 0 auto;
    }
    .affidavit.container-fluid input.search_box {
        width: 100%;
        height: 40px;
        font-size: 15px;
        padding: 12px 10px 12px 5px;
    }
    // .affidavit.container-fluid span.search_icon {
    //     border-left: 1px solid #000;
    //     margin-left: -16%;
    //     padding: 14px;
    //     cursor: pointer;
    //     font-size: 21px;
    //     display: inline-block;
    //     line-height: 0px;
    // }
    // .affidavit.container-fluid span.search_icon {
    //     border-left: 1px solid #000;
    //     margin-left: -16%;
    //     padding: 15px;
    //     cursor: pointer;
    //     font-size: 18px;
    //     display: inline-block;
    //     line-height: 0px;
    // }

    .affidavit.container-fluid .affidavit_intro {
        width: 80%;
        top: 0;
        height: auto;
    }

    .affidavit.container-fluid button.btn.btn-default.intro_btn {
        top: 0;
        margin-bottom: 12%;
    }

    .affidavit.container-fluid .customer_info {
        top: 0;
        width: 90%;
    }

    .affidavit.container-fluid .section_five {
        width: 100%;
    }

    .affidavit.container-fluid .input_name {
        font-size: 12px;
    }

    .affidavit.container-fluid div#enquire_btn {
        width: 50%;
        font-size: 15px;
    }

    .affidavit.container-fluid .section_four {
        width: 90%;
    }

    .affidavit.container-fluid .copies_wrap {
        width: 100%;
    }

    .affidavit.container-fluid .summary_details {
        width: 94%;
    }

    .affidavit.container-fluid .affidavit_summary .summary_details .terms_wrap {
        width: 90%;
    }

    .affidavit.container-fluid div#affi_quesbtn {
        width: 50%;
        font-size: 12px;
    }

    .affidavit.container-fluid button.btn.btn-primary.pay_btn {
        margin-bottom: 4%;
    }

    .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .price_hints.sum_amount.txt_total {
        top: -67px !important;
    }
    
    .affidavit.container-fluid .affidavit_ques {
        width: 100%;
        margin: 0 auto;
    }

    .section_four .process h4 {
        top: 0px;
    }
}

@media screen and (max-width: 640px) and (min-width: 360px){
    .affidavit.container-fluid .center_align {
        top: 160px !important;
    }
    .affidavit.container-fluid h1.main_head {
        font-size: 25px;
    }
    .affidavit.container-fluid h1.sub_head {
        font-size: 22px;
    }
    .affidavit.container-fluid h1.sub_head1 {
        font-size: 24px;
    }
    .affidavit.container-fluid h4.sub_head2 {
        padding: 5px 6px 5px 4px !important;
        width: 100% !important;
    }
     .affidavit.container-fluid .search_item {
        width: 100%;
        // margin: 10% auto 0%;
    }
    .affidavit.container-fluid .center_align {
        height: 16em;
        position: relative;
        top: 120px;
        text-align: center;
    }
    .affidavit.container-fluid .selection-box {
        width: 94%;
        margin: 0 auto;
    }
    .affidavit.container-fluid input.search_box {
        width: 100%;
        height: 40px;
        font-size: 15px;
        padding: 12px 10px 12px 5px;
    }

    .section_four .process h4 {
        top: 0;
    }
}

@media all and (min-width: 1025px) and (max-width: 1480px) {
    .affidavit.container-fluid .enquiry_form {
        background: #f2ba10;
        padding: 36px !important;
    }
    .affidavit.container-fluid .cust_enquire {
        height: 338px;
    }
    .affidavit.container-fluid .map {
        padding: 35px !important;
    }
    .affidavit.container-fluid .search_section {
        top: 200px;
    }
    .affidavit.container-fluid input.search_box {
        width: 100%;
        // margin-right: 130px;
    }
    .affidavit.container-fluid .search_item {
        width: 100%;
        margin: 2% 0;
    }
    .container {
        width: 1050px!important;
    }
    .affidavit.container-fluid .stamp_study {
        width: 60%;
        margin: 0 auto 8%;
    }
    .campaign form#question_form {
        width: 100%;
        margin: 0 auto;
    }
     .campaign col-sm-9{
        width: 60%;
    }
    .affidavit.container-fluid .city_wrap.pull-right {
        width: 34%;
    }
    .affidavit.container-fluid h2.line_tag {
        width: 23%;
    }
    .affidavit.container-fluid .how_work_section {
        width: 100%;
        padding: 4% 10% 3% 19%;
    }
    .affidavit.container-fluid .radio-toolbars label {
        margin: 10px 6px;
        width: 31%;
        line-height: 14;
        font-size: 12px;
    }
    .affidavit.container-fluid .option_wrap {
        width: 55%;
    }

    .affidavit.container-fluid .affidavit_ques {
        width: 90%;
    }

    .affidavit.container-fluid .stamp_study {
        margin: 0 auto 0;
    }

    .affidavit.container-fluid .copies_wrap {
        margin: 2% auto;
    }

    .affidavit.container-fluid .control {
        display: inline-block;
        position: relative;
        padding-left: 55px;
        margin-bottom: 15px;
        cursor: pointer;
        font-size: 16px;
        margin: 0px 30px;
        line-height: 2.5;
    }

    .affidavit.container-fluid h2.text-center.for-default {
        margin-top: 0;
    }

    .affidavit.container-fluid .section_four {
        margin: 0 auto 1%;
        padding: 1%;
    }

    .affidavit.container-fluid input#uploadFile {
        width: 110px;
    }

    .affidavit.container-fluid .continue_btn {
        margin: 2% auto;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px){
    .affidavit.container-fluid .main_bg {
        // background: url("/assets/rental_agreement/tab_bg.jpg");
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    .affidavit.container-fluid .city_wrap.pull-right {
        width: 54%;
    }
    .affidavit.container-fluid span.enquiry_icon {
        z-index: 9999!important;
    }
    .affidavit.container-fluid form.contact_form {
        width: 100%;
        margin: 0 auto;
    }
    .affidavit.container-fluid h1.quick_txt {
        left: 170px;
    }
    .affidavit.container-fluid textarea#message {
        width: 100%;
    }
    .affidavit.container-fluid h1.main_head {
        top: 28%;
        display: inline-block;
    }
    .affidavit.container-fluid h1.sub_head {
        margin-top: 8%;
    }
    .affidavit.container-fluid h2.line_tag {
        margin-top: 10%;
        width: 46%;
    }
    .affidavit.container-fluid .row_style {
        margin: 1% 0% 7% 0%;
    }
    .affidavit.container-fluid .how_work_section p {
        width: 100%!important;
    }
    .campaign h4.work_head {
        width: 35%;
    }  
    .affidavit.container-fluid h4.questions_heading {
        font-size: 18px;
    } 
    .affidavit.container-fluid .hovereffect img {
        margin-left: 200px!important;
    } 
    .affidavit.container-fluid .hovereffect .overlay {
        width: 60%;
        margin-left: 150px!important;
    }
    .affidavit.container-fluid h4.overlay_wrap {
        top: 10px;
    }
    .affidavit.container-fluid .section_one {
        width: 100%!important;
        height: auto;
    }
        .affidavit.container-fluid .section_two {
        height: 400px!important;
        width: 100%;
        padding: 2%;
        margin-top: 33px;
    }
    .affidavit.container-fluid .continue_btn {
        width: 30%;
        margin: 6% auto;
    }
    .affidavit.container-fluid .radio-toolbars label {
        height: 60px;
        padding: 9px;
        width: 95%;
        line-height: 2;
    }
    .affidavit.container-fluid span.price_flow {
        font-size: 16px;
        bottom: 94px;
        width: 100%;
    }
    .affidavit.container-fluid span.price_hints.sum_amount {
        top: -70px;
    }
    .affidavit.container-fluid span.price_hints.sum_amount.txt_total {
        text-align: center;
    }
    .affidavit.container-fluid .section_three.summary_wrap {
        width: 76%;
    }
    .affidavit.container-fluid .terms_wrap {
        width: 60%;
    }
    .affidavit.container-fluid #notification.red {
        width: 100%;
        font-size: 12px;
    }
    .affidavit.container-fluid .selection-box {
        width: 66%;
        margin: 10px auto;
    }
    .affidavit.container-fluid .search_section {
        top: 360px;
    }
    .affidavit.container-fluid input.search_box {
        width: 100%;
        padding: 0 10px;
    }
    .affidavit.container-fluid .search_item {
        width: 100%;
    }

    .affidavit.container-fluid .affidavit_intro {
        top: 0;
        height: auto;
    }

    .affidavit.container-fluid button.btn.btn-default.intro_btn {
        top: 0;
        margin-bottom: 3%;
    }
    
    .affidavit.container-fluid .customer_info {
        top: 0;
        margin-bottom: 3%;
    }

    .affidavit.container-fluid .stamp_study {
        width: 80%;
    }

    .affidavit.container-fluid .copies_wrap {
        width: 80%;
    }

    .affidavit.container-fluid button.btn.btn-primary.pay_btn {
        margin-bottom: 3%;
    }

    .section_four .process h4 {
        top: 0;
    }
}

/**************************** MEDIA QUERY END **********************************/


.testimonial_wrap {
    background: url("/assets/campaign_affidavit/testimonial_bg.jpg");
    background-size: cover;
    text-align: left;
    color: white;
}
.testimonial_wrap .testimonial_head {
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    padding-top: 20px;
}
.testimonial_wrap .for-testimonial-icons {
    padding-top: 30px;
}
.testimonial_wrap .for-testimonial-icons-bottom {
    padding-bottom: 30px;
}
.testimonial_wrap h4.rental_head span {
    background: transparent;
    padding: 2%;
    color: #fff;
    text-align: center;
}
.testimonial_wrap h4 {
    color: #f2ba10;
}
@media all and (min-width: 320px) and (max-width: 980px) {
    .affidavit.container-fluid .fun_item_img {
        padding-left: 5px;
    }
}
@media all and (min-width: 320px) and (max-width: 640px) {
    .affidavit.container-fluid .for-heading {
        padding-top: 20px;
    }
}
@media all and (min-width: 320px) and (max-width: 1280px) {
    .foot_blk .foot_sub {
        padding-left: 0px;
    }
    .foot_wrapper .foot-wrapper-padding {
        padding-left: 0px;
    }
}
@media all and (min-width: 320px) and (max-width: 991px) {
    .media-wrap-affidavit .media-icons {
        padding-top: 0;
    }
    .media-wrap-affidavit .for-media-icons-top {
        padding-top: 30px;
    }
    .media-wrap-affidavit .media-icons img {
        display: block;
        margin: auto;
    }
}
