.company-registration.container-fluid{
	margin: 0;
	padding: 0;
	.main_bg{
        background: url("/assets/company_registration/main_banner.jpg");
        height: 100vh;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed; 
    }
    .city_wrap.pull-right {
        // position: relative;
        // right: 40px;
        // width: 22%;
        // bottom: 100px;
        position: relative;
        right: 40px;
        width: 22%;
        top: 35px;
    }

    .city_wrap h4 {
        display: inline-block;
        // border: 1px solid #000;
        line-height: 2;
        padding: 2%;
        text-align: center;
        font-weight: normal;
        font-size: 15px;
    }

    .enquiry {
        display: inline;
        position: relative;
        bottom: 2px;
    }
    button.btn.btn-default.enquiry_btn {
        display: inline-block;
        color: #fff;
        border: 0;
        line-height: 2;
        padding: 1% 3%;
        text-align: center;
        font-weight: normal;
        border-radius: 0;
        font-size: 15px;
        background: #000;
    }
    
    span.enquiry_icon {
        color: #fff;
        border-left: 1px solid #fff;
        background: #000;
        padding: 1%;
        display: inline-block;
        font-size: 21px;
        position: relative;
        right: 5px;
        top: 4px;
        width: 12%;
        text-align: center;
        cursor: pointer;
    }

    .enquiry_form {
        background: #823198;
        padding: 3% 6%;
    }

    form.contact_form {
        width: 100%;
        margin: 0 auto;
    }

    input.input_style1 {
        width: 100%;
        background: transparent;
        border: 1px solid #fff;
        height: 46px;
        padding: 6px 12px;
        color: #fff;
    }
    input.input_style2 {
        width: 100%;
        background: transparent;
        border: 1px solid #000;
        height: 46px;
        padding: 6px 12px;
        color: #000;
    }

    textarea#message {
        border: 1px solid #fff;
        background: transparent;
        color: #fff;
        padding: 6px 12px;
    }
    textarea#message1 {
        border: 1px solid #000;
        background: transparent;
        color: #000;
        padding: 6px 12px;
    }

    button.send-btn {
        font-size: 24px;
        border: 0;
        background: #fff;
        width: 40%;
        color: #C5310B;
        padding: 2%;
    }
    button.send-btn1 {
        font-size: 24px;
        border: 0;
        background: #000;
        width: 40%;
        color: #fff;
        padding: 2%;
    }

    h1.quick_txt {
        position: relative;
        left: 0;
        margin-bottom: 3%;
        color: #fff;
        font-weight: bold;
    }
     h4.quick_txt1 {
        position: relative;
        left: 0;
        margin-bottom: 3%;
        color: #000;
        font-weight: 600;
        font-size: 18px;
    }
    h2.quick_txt1 {
        position: relative;
        left: 0;
        margin-bottom: 3%;
        color: #000;
        font-weight: 800;
        font-size: 30px;
    }


    .map{
        background: url("/assets/rental_agreement/map.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 3%;
        color: #fff;
        font-size: 18px;
        height: 100%;
    }
    
    h1.pull-right.close_enquiry {
        cursor: pointer;
    }
    h1.pull-right.close_enquiry1 {
        cursor: pointer;
        position: relative;
        z-index: 45;
    }

    h4.email_txt a {
        color: #823198;
        text-decoration: none;
        cursor: pointer;
    }

    img.pull-left.logo {
        position: relative;
        left: 25px;
        top: 25px;
    }
    .for-bottom{
        height: 100px;
        background: #fff;
        margin-top: -100px;
    }
    .for-bottom h2{
        font-size: 16px;
        font-weight: 600;
    }
    .for-bottom .for-middle{
        padding-top: 25px;
    }

    .question_bg{
        background: url('/assets/rental_agreement/questions_bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 3%;
    }
    .center_align {
        // height: 900em;
        position: relative;
        padding-top: 150px;
    }
    
    h1.main_head {
        color: #000;
        font-weight: 800;
        margin: 0;
        /* position: absolute; */
        /* top: 125%; */
        /* left: 50%; */
        /* margin-right: -50%; */
        /* transform: translate(-50%, -50%); */
        font-size: 62px;
        position: relative;
        top: 1%;
        text-align: left;
        padding-left: 300px;
    }
    p.main_head {
        color: #000;
        font-weight: normal;
        margin: 0;
        /* position: absolute; */
        /* top: 125%; */
        /* left: 50%; */
        /* margin-right: -50%; */
        /* transform: translate(-50%, -50%); */
        font-size: 14px;
        position: relative;
        padding-top: 20px;
        text-align: left;
        padding-left: 300px;
    }
    div.main_head {
        
        margin: 0;
        /* position: absolute; */
        /* top: 125%; */
        /* left: 50%; */
        /* margin-right: -50%; */
        /* transform: translate(-50%, -50%); */
       
        position: relative;
        padding-top: 50px;
        text-align: left;
        padding-left: 400px;
    }
    button.btn.btn-default.btn_order {
        background: #823198;
        color: #fff;
        border-radius: 0;
        font-size: 26px;
        font-weight: normal;
        position: relative;
        height: 50px;
        text-transform: uppercase;
    }
    button.btn.btn-default.btn_learnmore {
        background: #cc51a5;
        color: #fff;
        border-radius: 0;
        font-size: 26px;
        font-weight: normal;
        position: relative;
        height: 50px;
        margin-left: 30px;
        text-transform: uppercase;
    }
   

    .section_padding {
        padding: 4%;
        padding-bottom: 0;
    }

    h4.head_bg{
        background-image: url(/assets/company_registration/head_bg.png);
        background-repeat: no-repeat;
        line-height: 5;
        /* height: 75px; */
        padding: 0px 28px;
        color: #fff;
        margin-top: 0;
        position: relative;
        bottom: 30px;
    }

    .bg_wrap {
        border: 1px solid rgba(0, 0, 0, 0.17);
        background: #fff;
        padding: 2%;
    }

    .media_subhead {
        margin: 0;
        font-weight: bold;
    }

    .media_txt {
        position: relative;
        /* margin-top: 6%; */
        top: 40px;
        color: grey;
        line-height: 2;
        width: 80%;
    }

    .media_icon {
        position: relative;
        /* top: 120px; */
        margin-top: 15%;
    }

    .company_subhead {
        background: #292a2b;
        margin-top: 0;
        line-height: 4;
        color: #fff;
        /* text-align: center; */
        position: relative;
        font-weight: bold;
        padding-left: 12%;
    }

    span.company_txt {
        font-size: 24px;
        position: relative;
        top: 32px;
    }

    .company_para {
        position: relative;
        /* margin-top: 6%; */
        top: 40px;
        color: grey;
        line-height: 2;
        width: 75%;
        margin: 0 auto 2%;
    }

    .about_register {
        color: #241266;
        background: #fff;
        padding: 2% 10%;
    }

    h6.bussiness_txt {
        position: relative;
        top: 0px;
        color: grey;
        line-height: 2;
        width: 75%;
    }

    h4.number_style {
        color: #820599;
        line-height: 2;
    }

    h5.price_bg {
        background: #8233CF;
        color: #FFF;
        padding: 2%;
    }

    .company_list {
        padding: 4%;
        background: #F2F2F2;
    }

    .table_bg{
        background-image: image-url('/assets/company_registration/start_business.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
    }

    table.table.table_list {
        margin-bottom: 0;
    }

    table.table.table_list td {
        border-right: 1px solid #fff;
        padding: 3%;
    }

    .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 0;
    }
    .for-para{
        color: grey;
    }
    .for-para-below{
        color: #000;
        padding-top: 10px;
        opacity: 0.7;
    }
    .licenses{
        background: #cc51a5;
        color: #fff;
        border-radius: 0;
        font-size: 16px;
        font-weight: normal;
        height: 40px;
        text-transform: uppercase;
    }
    .licenses-1{
        background: #fff;
        color: #cc51a5;
        border: 1px solid #cc51a5;
        border-radius: 0;
        font-size: 16px;
        font-weight: normal;
        height: 40px;
        text-transform: uppercase;
    }
    .startup{
        background: #fff;
        color: #cc51a5;
        border-radius: 0;
        border: 1px solid #cc51a5;
        font-size: 16px;
        font-weight: normal;
        height: 40px;
        text-transform: uppercase;
        margin-left: 15px;
    }
    .startup-1{
        background: #cc51a5;
        color: #fff;
        border-radius: 0;
        font-size: 16px;
        font-weight: normal;
        height: 40px;
        text-transform: uppercase;
        margin-left: 15px;
    }
    .order-now{
        background: #823198;
        color: #fff;
        border-radius: 0;
        font-size: 18px;
        font-weight: 600;
        height: 40px;
        text-transform: uppercase;
    }
    .order-now-1{
        background: #823198;
        color: #fff;
        border-radius: 0;
        font-size: 18px;
        font-weight: 600;
        height: 40px;
        text-transform: uppercase;
    }
    span.for-bold{
        font-weight: 800;
    }
    .license-buttons{
        padding-top: 10px;
    }
    .for-checkbox{
         padding-top: 10px;
    }
    .order-button{
        margin-top: -20px;
        position: relative;
        z-index: 30;
    }
    .order-button-1{
        margin-top: -20px;
        position: relative;
        z-index: 30;
        margin-right:15px;
    }
    table.table.table_list th {
        padding-top: 10%;
    }

    button.btn.btn-default.expert_btn {
        font-size: 18px;
        border: 0;
        border-radius: 0;
        background-color: #cc51a5;
        color: #fff;
        margin: 4.5% auto;
        display: block;
        font-weight: 600;
    }
    
    h4.start_txt.vertical-text {
        letter-spacing: 2px;
        margin: 0 auto;
        display: block;
        width: 220px;
        position: relative;
        right: 70px;
        top: 310px;
    }

    .vertical-text {
        transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        transform-origin: center;
        float: left;
    }

    .vertical_wrap{
        position: relative;
    }

    span.vertical_line {
        position: relative;
        top: 425px;
        font-size: 50px;
        font-weight: normal;
        left: 26px;
        color: #820599;
    }

    button.btn.btn-default.order_btn {
        border: 1px solid #fff;
        background: transparent;
        color: #fff;
        border-radius: 0;
        font-size: 25px;
        margin: 0 auto;
        display: block;
    }
    
    h2.questag_line {
        margin: 25% auto;
        display: block;
        width: 80%;
        font-weight: 7ce00;
    }

    span.purple_color {
        color: #cc51a5;
        font-weight: normal;
    }

    h4.business_txt.vertical-text {
        letter-spacing: 2px;
        margin: 0 auto;
        display: block;
        width: 280px;
        position: relative;
        right: 99px;
        top: 270px;
    }

    .box {
        cursor: pointer;
        height: 333px;
        position: relative;
        overflow: hidden;
        width: 100%;
        margin-bottom: 8%;
    }

    .box img {
        position: absolute;
        left: 0;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
        width: 100%;
    }

    .box .overbox {
        background-color: rgba(130, 5, 153, 0.75);
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        z-index: 100;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
        opacity: 0;
        width: 100%;
        height: 333px;
        padding: 130px 20px;
    }

    .box:hover .overbox { opacity: 1; }

    .box .overtext {
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
      transition: all 300ms ease-out;
      transform: translateY(40px);
      -webkit-transform: translateY(40px);
    }

    .box .title {
      font-size: 2.5em;
      text-transform: uppercase;
      opacity: 0;
      transition-delay: 0.1s;
      transition-duration: 0.2s;
    }

    .box:hover .title,
    .box:focus .title {
      opacity: 1;
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
    }

    .box .tagline {
      font-size: 0.8em;
      opacity: 0;
      transition-delay: 0.2s;
      transition-duration: 0.2s;
    }

    .box:hover .tagline,
    .box:focus .tagline {
      opacity: 1;
      transform: translateX(0px);
      -webkit-transform: translateX(0px);
    }

    .conatct_txt {
        padding: 25px 110px;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: 1px;
    }

    .contact_details {
        background-color: #f2f2f2;
        padding: 4%;
        height: 522px;
        position: relative;
    }

    .payment_details {
        width: 80%;
        margin: 5% auto;
        padding: 3%;
    }

    input.input_name {
        width: 100%;
        height: 65px;
        padding: 6px 12px;
        border: 0;
        background: #E6E6E6;
        margin-bottom: 2%;
        color: #000;
    }  

    .terms_wrap {
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.85);
        padding: 0.5% 2%;
    }  

    button.btn.btn-primary.pay_btn {
        background: #d41e69;
        color: #fff;
        font-size: 20px;
        width: 30%;
        margin: 5% auto;
        display: block;
        border-radius: 0;
        border: 0;
        clear: both;
    }

    h4.product_name {
        padding: 0% 12%;
        line-height: 1.5;
        font-weight: 700;
    }

    h4.product_name span {
        color: #cc51a5;
    }

    h6.private_txt {
        width: 75%;
        margin: 0 auto;
        color: grey;
        line-height: 2;
    }

    .registration_frm {
        background-color: #f2f2f2;
        padding: 4%;
        height: 545px;
        position: relative;
    }

    .registration_sec {
        width: 80%;
        margin: 5% auto;
    }

    input.input_style {
        width: 100%;
        height: 50px;
        padding: 6px 12px;
        background: #E6E6E6;
        color: #000;
        border: 0;
        margin-bottom: 4%;
        cursor: pointer;
    }

    #continue {
        font-size: 18px;
        border: 0;
        border-radius: 0;
        background-color: #cc51a5;
        color: #fff;
        margin: 4.5% auto;
        display: block;
        font-weight: 600;
        text-align: center;
        width: 30%;
        padding: 1%;
        cursor: pointer;
    }

    h4.product_name span.doc_name {
        color: #000 !important;
    }
    .for-spacing{
        padding-top: 70px;
    }
    .for-package ul{
        list-style: none;
        margin-left: -35px;
    }
    .for-package ul li{
        color: grey;
    }
    .rental_wrap {
        text-align: center;
        padding: 60px 0;
    }
    .fun_item_img{
        padding-left: 355px;
    }
    .fun_item{
        padding-left: 255px
    }
    .fun_item_img img {
        border: 1px solid #767d85;
        border-radius: 100%;
        padding: 30px;
        background: #000;
    }
    .for-carousel h4{
        color: #823198;
    }
    .for-carousel p{
        color: black;
    }
    .footer_wrap{
        background: #000;
        padding: 4%;
        height: 700px;
    }
    .foot_cont h3 > a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    outline: none; 
    text-decoration: none;
    }
    .foot_cont p {
        color: #fff;
        font-size: 14px;
        font-weight: normal;
        line-height: 24px;
        padding-top: 14px;
    }
    hr.contact_hr{
        width: 100%;
        opacity: 0.5;
    }
    .testimonial_wrap {
        background: #f2f2f2;
        color: #000 !important;
        padding: 6%;
        height: 700px;
    }
    img.friend_icon {
        background: #000;
        /* width: 100px; */
        /* height: 100px; */
        /* border-radius: 100%; */
        /* margin: 0 auto; */
        /* display: block; */
        position: absolute;
        right: 24%;
        top: 24%;
    }

    .friend_wrap{
        position: relative;
        z-index: 10;
        padding: 30px;
        background: #000;
        border: 2px solid #CC51A5;
        border-radius: 100%;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        display: block;
    }
    .friend_wrap:before{
        content:""; 
        display:block; 
        position:absolute; 
        z-index:-1; 
        top:2px; 
        left:2px; 
        right:2px; 
        bottom:2px; 
        border:2px solid #f2f2f2; 
        border-radius:100%;
    }

    h4.footer_txt {
        color: #fff;
        font-weight: 700;
    }

    address {
        color: #fff;
        font-size: 13px;
    }

    ul.services_wrap {
        list-style: none;
        float: left;
        font-size: 13px;
        color: #fff;
        width: 100%;
        padding-left: 0;
    }    
    
    ul.services_wrap li {
        display: inline-block;
        width: 20%;
    }

    h4.follow_text {
        color: #fff;
        font-weight: 700;
    }

    ul.social_list li {
        display: inline-block;
    }
    ul.social_list {
        list-style: none;
        float: left;
        width: 100%;
        padding-left: 0;
    }
     ul.social_list a li img {
        width: 30px!important;
    }

    ul.list_links {
        list-style: none;
        width: 100%;
        color: #fff;
    }

    ul.list_links li {
        width: 30%;
        display: inline-block;
        // text-align: right;
    }

    .owl-wrapper-outer {
        position: relative;
        top: 150px;
    }

    .owl-controls.clickable {
        position: relative;
        top: 200px;
    }

    .fixed-header {
        position: fixed;
        top:0; left:0;
        width: 100%; 
        z-index: 111;
    }
    // .for-corner{
    //     border-left: 1px solid #000;
    //     margin-left: 5px;
    //     margin-top: 0;
    //     padding-left: 15px;
    // }
    // .for-corner{
    //     border-bottom: 1px solid #000;
    //     margin-bottom: 5px;
    //     margin-top: 0;
    // }


    nav {
        width: 100%;
        height: 100px;
        background: #fff;
        position: relative;
        z-index: 10;
        color: #000;
    }

    nav ul { 
        list-style-type: none;
        margin: 0 auto;
        padding-left: 0;
        text-align: center;
        // width: 990px;
        width: 100%;
    }
    nav ul li { 
        display: inline-block;
        line-height: 140px;
        margin-left: 10px;
        width: 24%;
        text-align: center;
        margin-top: -20px;
        text-decoration: none;
        color: #000;
        font-size: 16px;
        cursor: pointer;
    }

    img.logotwo {
        position: relative;
        top: 32px;
    }

    ul.nav_list .enquiry span.enquiry_icon {
        line-height: 1.5;
    }

    .section_padding .footer {
        padding: 4%;
        padding-bottom: 0 !important;
    }

    .footer h5 {
        line-height: 3;
        text-align: center;
    }
    
    ul.services_wrap li a {
        color: #fff;
        text-decoration: none;
    }

    ul.list_links li a {
        color: #fff;
        text-decoration: none;
    }

    textarea#expert_message {
        border: 1px solid #fff;
        background: transparent;
        color: #fff;
        padding: 6px 12px;
        height: 158px;
    }

    // .enquiry_form.expert_wrap {
    //     height: 487px;
    // }

    .row.cust_enquire.documents_query .enquiry_form {
        padding-top: 2.8%;
    }

    h1.pull-right.documents_close {
        cursor: pointer;
    }

    .row.cust_enquire.procedure_query .enquiry_form {
        padding-top: 2.8%;
    }

    h1.pull-right.procedure_close {
        cursor: pointer;
    }

    .owl-controls .owl-page span {
        display: block;
        width: 12px;
        height: 12px;
        margin: 5px 7px;
        filter: Alpha(Opacity=50);
        opacity: 0.5;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        background: #8233CF;
    }

    .item {
        width: 70%;
        margin: 0 auto;
    }

    // span.enquiry_close_wrap {
    //     position: absolute;
    //     z-index: 30;
    //     right: 4%;
    //     color: #fff;
    //     top: 0;
    // }

    // span.enquiry_close_wrap.expert_close {
    //     position: absolute;
    //     right: 9%;
    //     color: #fff;
    //     top: 195%;
    // }
    
    .pull-right.close_enquiry {
        cursor: pointer;
        color: white;
        font-size: 50px;
        position: absolute;
        z-index: 1;
        right: 2%;
    }

    .for-top-corner:before {
        content: "";
        display: block;
        background: url("/assets/company_registration/for-corner-top.png");
        width: 43px;
        height: 55px;
        margin-left: 220px;
    }
    .for-bottom-corner:before {
        content: "";
        display: block;
        background: url("/assets/company_registration/for-corner-bottom.png");
        width: 42px;
        height: 44px;
        margin-left: 220px;
        margin-top: 70px;
    }
    p.main_head{
        top: -120px;
    }
    h1.main_head{
        top: -20px;
    }

    .enquiry_form, .map, .cust_enquire{
        height: 338px;
    }

    .thanks {
        text-align: left;
        color: white;
        position: relative;
    }

    h4.email_txt {
        position: relative;
        bottom: 40px;
    }

    .row.bg_wrap.expert_enquire .close_enquiry {
        position: absolute;
        right: 7%;
    }
    .thanks.licence-enq-thanks{
        color: black;
    }

    h4.services-bangalore.text-center {
        color: #823198;
        border-radius: 0;
        font-weight: normal;
        float: left;
        position: absolute;
    }
}
/*******************************MEDIA QUERY START**************************************/
@media screen and (max-width: 640px) and (min-width: 320px){
    .company-registration.container-fluid .main_bg{
        background: url("/assets/company_registration/main.jpg");
        height: 100vh;
        background-position: center;
        background-attachment: fixed; 
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header-banner nav{
        display: none;
    }
    .company-registration.container-fluid .enquiry_form, .company-registration.container-fluid .map, .company-registration.container-fluid .cust_enquire {
        height: 420px;
    }
    .company-registration.container-fluid .section_padding {
        padding: 2%;
        margin-top: 80px;
    }
    .company-registration.container-fluid .company_list {
        margin-top: 40px;
    }
    .company-registration.container-fluid img.pull-left.logo {
        position: relative;
        left: 10px;
        top: 25px;
        height: 80px;
        width: 80px;
    }
    .company-registration.container-fluid img.logotwo {
        margin-bottom: 20px;
        width: 50px;
        height: 50px;
    }
    .company-registration.container-fluid .fixed-header {
        height: 230px;
    }
    .company-registration.container-fluid .box .overbox {
        height: 113px;
    }
    .company-registration.container-fluid .city_wrap.pull-right {
        right: 0px;
        width: 46%;
        top: 6px;
    }
    .company-registration.container-fluid nav ul li {
        line-height: 90px;
    }
    .company-registration.container-fluid button.btn.btn-default.btn_order {
        font-size: 16px;
        height: 40px;
        margin-top: -320px;
    }
    .company-registration.container-fluid button.btn.btn-default.btn_learnmore {
        font-size: 16px;
        height: 40px;
        margin-top: -320px;
    }
    .company-registration.container-fluid h1.main_head {
        font-size: 16px;
        padding-left: 26px;
    }
    .company-registration.container-fluid p.main_head {
        padding: 17px !important;
        width: 100%;
        margin-bottom: 10px!important;
        top: -130px;
        left: 10px;
    }
    .company-registration.container-fluid .for-bottom .for-middle {
        padding-top: 170px;
    }
    .company-registration.container-fluid .company_subhead {
        padding-left: 0%;
    }
    .company-registration.container-fluid span.company_txt {
        font-size: 18px;
        top: 0;
    }
    .company-registration.container-fluid .company_para {
        width: 100%;
        top: 20px;
        padding: 20px!important;
    }
    .table-responsive {
        width: 320px;
        // max-width: 300px;
        font-size: 7px;
    }    
    .company-registration.container-fluid table.table.table_list {
        margin-bottom: 0;

    }

    .company-registration.container-fluid table.table.table_list td {
        border-right: 1px solid #fff;
        padding: 3%;
    }

    .company-registration.container-fluid .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 0;
    }
    .company-registration.container-fluid .proceed_btn.continue_btn {
        width: 50%!important;
    }
    .company-registration.container-fluid #continue {
        width: 50%;
    }
    .company-registration.container-fluid .conatct_txt {
        padding: 0% 11%;
        font-size: 14px;
    }
    .company-registration.container-fluid .payment_details {
        width: 100%;
        margin: 5% auto;
    }
    .company-registration.container-fluid .contact_details {
        height: 422px;
    }
    .company-registration.container-fluid .enquiry {
        z-index: 22;
    }
    .company-registration.container-fluid textarea#message {
        width: 100%!important;
    }
    .company-registration.container-fluid h1.quick_txt {
        left: 0px;
        font-size: 24px;
    }
    .company-registration.container-fluid h2.questag_line {
        margin: 25% auto;
        width: 80%;
        font-size: 18px;
    }
    .company-registration.container-fluid .cust_enquire {
        height: auto;
    }
    .company-registration.container-fluid .map {
        padding: 1% 12%;
        line-height: 1;
    }
    .company-registration.container-fluid .map h1 h4{
        font-size: 18px;
    }
    .company-registration.container-fluid .for-bottom {
        height: 190px;
    }
    .company-registration.container-fluid nav ul li {
        line-height: 60px;
        width: 100%;
    }
    .company-registration.container-fluid .footer_wrap {
        height: auto;
    }
    .company-registration.container-fluid .startup {
        margin-left: 0px;
    }
    .company-registration.container-fluid .for-top-corner:before {
        content: "";
        display: block;
        background: url("/assets/company_registration/for-corner-top.png");
        width: 43px;
        height: 45px;
        margin-left: 10px;
    }
    .company-registration.container-fluid .for-bottom-corner:before {
        content: "";
        display: block;
        background: url("/assets/company_registration/for-corner-bottom.png");
        width: 42px;
        height: 44px;
        margin-left: 10px;
        margin-top: 60px;
    }
    .company-registration.container-fluid div.main_head {
        padding-top: 50px;
        padding-left: 30px;
    }
}
// @media screen and (max-width: 640px) and (min-width: 360px){
//     .company-registration.container-fluid .main_bg{
//         background: url("/assets/company_registration/main.jpg");
//         height: 100vh;
//         background-position: center;
//         background-attachment: fixed; 
//         background-repeat: no-repeat;
//         background-size: cover;
//     }
//      .company-registration.container-fluid p.main_head {
//         padding: 17px !important;
//         width: 84%;
//     }
//     .company-registration.container-fluid img.pull-left.logo {
//         position: relative;
//         left: 10px;
//         top: 25px;
//         height: 80px;
//         width: 80px;
//     }
//     .company-registration.container-fluid .city_wrap.pull-right {
//         right: 0px;
//         width: 50%;
//         top: 6px;
//     }
//     .company-registration.container-fluid h1.main_head {
//         font-size: 19px;
//         padding-left: 26px;
//     }
//     .company-registration.container-fluid h4.head_bg {
//         padding: 0px 14px;
//         margin-top: 0;
//         bottom: 0px;
//     }
//     .company-registration.container-fluid .company_subhead {
//         padding-left: 6%;
//     }
//     .company-registration.container-fluid span.company_txt {
//         font-size: 18px;
//         top: 0;
//     }
//     .company-registration.container-fluid .for-bottom {
//         height: 230px!important;
//     }
//     .company-registration.container-fluid div.main_head {
//         padding-left: 0px;
//         padding-top: 0px!important;
//     }
//     .company-registration.container-fluid .for-bottom .for-middle {
//         padding-top: 85px!important;
//     }
// }
@media all and (min-width: 768px) and (max-width: 1024px){
    .company-registration.container-fluid .pull-right.close_enquiry {
        z-index: 26;
    }
    .company-registration.container-fluid .enquiry_form, .company-registration.container-fluid  .company-registration.container-fluid .cust_enquire {
        height: auto;
        z-index: 22 !important;
    }
    .affidavit.container-fluid .enquiry_form, .affidavit.container-fluid .map, .affidavit.container-fluid .cust_enquire {
        height: 338;
        z-index: 22 !important;
    }
    .company-registration.container-fluid .map, .company-registration.container-fluid .cust_enquire {
        height: 338px;
        z-index: 22;
    }
    .company-registration.container-fluid textarea#message {
        width: 100%;
    }
    .company-registration.container-fluid .city_wrap.pull-right {
        width: 43%;
        z-index: 22 !important;
    }
    .company-registration.container-fluid .center_align {
        padding-top: 200px;
    }
    .company-registration.container-fluid h1.main_head {
        padding-left: 240px;
        font-size: 40px;
    }

    .company-registration.container-fluid p.main_head {
        padding-left: 240px;
    }
    .company-registration.container-fluid div.main_head {
        padding-top: 20px;
        padding-left: 110px;
    }
    .company-registration.container-fluid .for-bottom {
        height: 200px;
    }
    .company-registration.container-fluid .footer_wrap {
        height: auto!important;
    }
    .company-registration.container-fluid .fixed-header {
        height: auto;
    }
    .company-registration.container-fluid nav ul li {
        line-height: 50px;
        width: 22%;
        text-align: center;
        margin-top: 30px;
    }
    .company-registration.container-fluid img.logotwo {
        position: relative;
        top: 10px;
    }
    .company-registration.container-fluid table.table.table_list td {
        border-right: 1px solid #fff;
        padding: 2% 1% 1% 1%;
    }
    .company-registration.container-fluid .box {
        height: 473px;
    }
    .company-registration.container-fluid .box .overbox {
        height: 473px;
    }
}
@media all and (min-width: 1025px) and (max-width: 1480px) {
    .company-registration.container-fluid .map {
        padding: 1.2%;
    }
    .company-registration.container-fluid .city_wrap.pull-right {
        width: 30%;
        top: 35px;
    }
    .company-registration.container-fluid nav ul li {
        line-height: 50px;
        width: 22%;
        height: 70px;
    }
    .company-registration.container-fluid .footer_wrap {
        height: auto;
    }
    .company-registration.container-fluid ul.social_list a li img {
        width: 24px !important;
        margin-top: 10px!important;
    }
    .company-registration.container-fluid .box .overbox {
        padding: 91px 20px!important;
        height: 250px;
    }
    .company-registration.container-fluid .company_para {
        width: 100%;
        margin: 0 auto 6%;
        line-height: 1.4;
        top: 12px;
    }
    .company-registration.container-fluid .company_subhead {
        line-height: 3;
    }
    .company-registration.container-fluid span.company_txt {
        top: 22px;
    }
    .company-registration.container-fluid .center_align {
        padding-top: 0;
        right: 140px;
        top: 50px;
    }
    .company-registration.container-fluid h6.bussiness_txt {
        width: 100%;
    }
    .company-registration.container-fluid ul.list_links {
        margin-top: 10px !important;
    }
    .company-registration.container-fluid .map {
        padding: 1%;
        height: 400px !important;
    }
    .company-registration.container-fluid .enquiry_form.expert_wrap {
        height: 400px !important;
    }
    .company-registration.container-fluid button.send-btn {
        width: 50%;
    }
    .company-registration.container-fluid span.enquiry_close_wrap.expert_close {
        top: 215%;
    }

    .company-registration.container-fluid div.main_head {
        padding-top: 0;
        bottom: 100px;
    }

    .company-registration.container-fluid .enquiry_form.expert_wrap {
        height: 300px !important;
    }
    .company-registration.container-fluid .enquiry_form, .company-registration.container-fluid .map, .company-registration.container-fluid .cust_enquire {
        height: 338px;
    }
    .company-registration.container-fluid .map h4{
        margin-bottom: -10px;
    }
    .company-registration.container-fluid .conatct_txt {
        padding: 0px 70px;
        font-size: 16px;
    }

    .company-registration.container-fluid input.input_name {
        height: 35px;
    }

    .company-registration.container-fluid .contact_details {
        padding: 1%;
        height: 394px;
        
    }

    .company-registration.container-fluid .box {
        height: 300px;
        margin-bottom: 16%;
    }
    .company-registration.container-fluid .for-package ul {
        margin-bottom: -50px!important;
    }
    .company-registration.container-fluid .for-package ul li {
        height: 20px!important;
        margin-left: 14px !important;
    }
    .company-registration.container-fluid .radio{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .company-registration.container-fluid .for-para-below {
        padding-top: 0px;
    }
    .company-registration.container-fluid .order-button-1 {
        margin-top: 50px;
    }
    .company-registration.container-fluid .checkbox {
        position: relative;
        display: block;
        margin-top: 0px;
        margin-bottom: 8px;
    }
}

/*******************************END MEDIA QUERY START**************************************/
