.e-stamp.container-fluid{
    margin: 0;
    padding: 0;
    #notification{
      display: none;
      z-index: 1111;
      color: white;
      height: 80px;
      position: fixed;
      text-align: center;
      margin: 0 2% 2%;
      width: 35%;
      padding: 25px;
      bottom: 0;
      font-size: 24px;
      z-index: 9999;
    }
    #notification.red{
      background-color: red;
    }
    #notification.green{
      background-color: #55A571;
    }

    h1.sub_head{
        color: #fff;
        font-weight: 800;
        margin: 0;
        font-size: 80px;
        position: relative;
        margin-top: -10px;
    } 
    h1.sub_head-estamp{
        color: #fff;
        font-weight: 800;
        font-size: 35px;
        position: relative;
        color: #fff;
        margin-top: -10px;
    }
    h3.service-karnataka{
        font-weight: 600;
        font-size: 14px;
        position: relative;
        color: #f2ba10;
        margin-top: 80px;
    }

    h1.main_head {
        color: #fff;
        font-weight: normal;
        margin: 0;
        font-size: 40px;
        position: relative;
        top: 2%;
    }
    .search_section .for-bold{
        color: #fff;
        font-weight: 600;
        margin: 0;
        font-size: 40px;
        padding-left: 10px;
    }

    h4.sub_head2{
        color: #ada8a8;
        font-weight: 100;
        font-size: 14px;
        position: relative;
        margin-top: 3%;
    }
    h4.sub_head3{
        color: #000;
        font-weight: 100;
        font-size: 14px;
        line-height: 25px;
    }
    .main_bg{
        background: url("/assets/campaign_estamp/banner.jpg");
        height: 100vh;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed; 
    }
   
    h2.line_tag {
        width: 18%;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 10px 0 20px;
        margin: 0;
        position: absolute;
        margin-top: 2%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    button.btn.btn-default.btn_order {
        background: #F2E9C8;
        color: #C5310B;
        border: 1px solid #000;
        border-radius: 0;
        font-size: 30px;
        font-weight: bold;
        position: relative;
        top: 30px;
        height: 60px;
    }   

    .center_align {
        height: 16em;
        position: relative;
    }

    h4.tag_line {
        margin: 0;
        position: relative;
        margin-top: 2%;
        /* left: 50%; */
        /* margin-right: -50%; */
        /* transform: translate(-50%, -50%); */
        font-size: 25px;
        text-align: center;
        color: #fff;
    }

    #owl-demo .item{
      margin: 3px;
    }
    #owl-demo .item img{
      display: block;
      // width: 100%;
      height: auto;
    }
            
    p.para_wrap {
        width: 50%;
        text-align: center;
        margin: 0 auto;
    }

    .testimonial_wrap{
        background: url("/assets/campaign_affidavit/testimonial_bg.jpg");
        background-size: cover;
        padding: 50px 0 150px;
        text-align: center;
        color: white !important;
    }

    .testimonial_wrap h4.rental_head span {
        background: transparent;
        padding: 2%;
        color: #fff;
    }
    .fun_item_img{
        padding-left: 255px;
    }
    .fun_item_img img {
        border: 1px solid #767d85;
        border-radius: 100%;
        padding: 30px;
    }
    .city_wrap.pull-right {
        position: relative;
        right: 40px;
        width: 22%;
        top: 35px;
    }
    .city_wrap h4 {
        display: inline-block;
        border: 1px solid #000;
        line-height: 2;
        padding: 3px 10px;
        text-align: center;
        font-weight: normal;
        font-size: 15px;
    }
    .enquiry {
        display: inline;
        position: relative;
        bottom: 2px;
    }

    button.btn.btn-default.enquiry_btn {
        background: #f2ba10;
        display: inline-block;
        color: #000;
        border: 0;
        line-height: 2;
        padding: 1% 3%;
        text-align: center;
        font-weight: normal;
        border-radius: 0;
        font-size: 15px;
    }

    span.enquiry_icon {
        color: #000;
        border-left: 1px solid #f2ba10;
        background: #f2ba10;
        padding: 1%;
        display: inline-block;
        font-size: 21px;
        position: relative;
        right: 5px;
        top: 4px;
        width: 12%;
        text-align: center;
        cursor: pointer;
        margin-left: 2px;
    }

    .enquiry_form, .map, .cust_enquire{
        height: 338px;
    }
    .map{
        background: url("/assets/rental_agreement/map.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 3%;
        color: #fff;
        font-size: 14px;
        height: 100%;
    }
    .map .for-india h4{
        font-size: 18px;
    }
    .row.bg_wrap.expert_enquire .close_enquiry {
        position: absolute;
        right: 7%;
    }
    .enquiry_form {
        background: red;
        padding: 1% 6%;
    }
    h1.quick_txt {
        position: relative;
        left: 0px;
        margin-bottom: 3%;
        color: #fff;
        font-weight: bold;
    }
    .pull-right.close_enquiry {
        cursor: pointer;
        color: white;
        font-size: 50px;
        position: absolute;
        z-index: 1;
        right: 2%;
    }
    .pull-right.order-close-enquiry {
        cursor: pointer;
        color: #000;
        font-size: 30px;
        position: relative;
        z-index: 1;
        right: 5%;
        top: -87px;
    }
    h1.pull-right.close_enquiry {
        cursor: pointer;
    }
    input.input_style1 {
        width: 100%;
        background: transparent;
        border: 1px solid #fff;
        height: 46px;
        padding: 6px 12px;
        color: #fff;
    }
    input.input-order-enquiry {
        width: 100%;
        background: #E6E6E6;
        border: 1px solid #333333;
        height: 46px;
        padding: 6px 12px;
        color: #333333;
    }
    textarea#message {
        border: 1px solid #fff;
        background: transparent;
        color: #fff;
        padding: 6px 12px;
        width: 350px;
        height: 97px;
    }
    button.send-btn {
        font-size: 24px;
        border: 1px solid red;
        background: #fff;
        width: 40%;
        color: red;
        padding: 2%;
    }
    .map .for-address address{
        padding-top: 5%;
    }

    button.order-send-btn{
        font-size: 24px;
        border: 1px solid #333333;
        background:  #E6E6E6;
        width: 40%;
        color: #333333;
        padding: 2%;
    }
    h4.email_txt a {
        color: red;
        text-decoration: none;
        cursor: pointer;
    }
    h4.email_txt {
        position: relative;
        // bottom: 40px;
    }
    .search_section{
        top: 300px;
    }
    .btn-order-estamp{
        background: red;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        position: relative;
        top: 60px;
        height: 60px;
    }
    .btn-order-estamp-bulk{
        background: #f2ba10;
        color: #000;
        font-size: 20px;
        font-weight: 600;
        position: relative;
        top: 80px;
        height: 60px;
    }
    .btn-estamp{
          display: inline-block;
          margin-bottom: 0;
          font-weight: normal;
          text-align: center;
          vertical-align: middle;
          touch-action: manipulation;
          cursor: pointer;
          background-image: none;
          border: 1px solid transparent;
          white-space: nowrap;
          padding: 6px 12px;
          // font-size: 14px;
          line-height: 1.42857143;
          // border-radius: 4px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
    }
    .empty-transparent{
        content: '';
        background: transparent;
        opacity: 1.5;
    }
    .for-estamp-content{
        background: #f2f2f2;
        padding: 30px 0px 30px 30px;
        margin-top: -20px;
    }
    .for-estamp-usage{
        background: #333333;
        padding: 118px 30px 140px 30px;
        margin-top: -100px;
        color: #fff;
    }
    .for-estamp-usage h2{
        padding-bottom: 30px;
    }
    .for-estamp-usage ol li{
        text-align: justify;
    }
    .list-usage{
        padding-right: 25px;
    }
    .for-estamp-usage ol li{
        margin: 10px 0;
    }
    .list-usage ol{
        padding-left:0px;
        list-style-position:inside;
    }
    .list-usage ol li{
        margin: 10px 0;
        font-weight: 100;
    }
    .estamp-content{
        background: #fff;
        height: 600px;
    }
    .question_bg{
        background: #fff;
    }
    h2.text-center.for-default {
        margin-bottom: 4%;
    }
    .for-questions{
        background: #f2f2f2;
    }
    .for-questions-party{
        background: #f2f2f2;
    }
    .section_one {
        background: #fff;
        padding: 2%;
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.28);
        height: 350px;
    }
    .section-one-contact {
        background: #fff;
        padding: 2%;
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.28);
        height: 350px;
    }
    h1.order_no {
        color: grey;
        font-size: 40px;
        margin-bottom: 0;
        margin-top: 0;
        margin-left: 23%;
    }
    h1.order-no-party {
        color: grey;
        font-size: 40px;
        margin-bottom: 0;
        margin-top: 0;
        margin-left: 50px;
    }
    h1.order-no-description {
        color: grey;
        font-size: 40px;
        margin-bottom: 0;
        margin-top: 0;
        margin-left: 50px;
    }
    h2.order_txt {
        margin-top: 0;
        border-top: 4px solid #000;
        display: inline-block;
        font-size: 25px;
        margin-left: 23%;
        font-weight: normal;
    }
    h2.order-txt-party {
        margin-top: 0;
        display: inline-block;
        font-size: 25px;
        margin-left: 50px;
        position: absolute;
        padding-top: 10px;
    }
    h2.order-txt-description {
        margin-top: 0;
        display: inline-block;
        font-size: 25px;
        margin-left: 50px;
        position: absolute;
        padding-top: 10px;
    }
    h2.order-txt-party:before{
        content : "";
        position: absolute;
        left    : 0;
        top  : 0;
        height  : 1px;
        width   : 30%;  /* or 100px */
        border-top:4px solid #000;
    }
    h2.order-txt-description:before{
        content : "";
        position: absolute;
        left    : 0;
        top  : 0;
        height  : 1px;
        width   : 70%;  /* or 100px */
        border-top:4px solid #000;
    }
    h3.estamp_select{
        font-size: 20px;
    }
    h4.questions_heading {
        font-size: 15px;
        font-weight: normal;
    }
    .stamp_study {
        width: 51%;
        margin: 6% auto 8%;
    }
    .for-form .amount_wrap{
        padding-top: 10px;

    }
    span.rupee_icon {
        color: #fff;
        background: #000;
        position: absolute;
        font-size: 22px;
        height: 45px;
        width: 40px;
        line-height: 1.8;
        cursor: pointer;
        text-align: center;
    }
    input.input_style {
        height: 45px;
        width: 100%;
        padding: 4px 5px 4px 44px;
        background: #E6E6E6;
        border: 0;
        font-size: 16px;
        font-weight: 100;
    }
    .for-second-party{
        padding-top: 7%;
    }
    
    p.hint_txt {
        font-size: 10px;
        width: 100%;
        margin: 4% auto;
    }
    .section_two {
        background: #fff;
        padding: 4%;
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.28);
        text-align: center;
        height: 350px;
    }
    h3.estamp_select{
        font-size: 20px;
    }
    .stamp_price {
        height: 200px;
        position: relative;
        width: 200px;
        margin: 0 auto;
        background: #f2f2f2;
        margin-top: 40px;
    }
    .stamp-price-party {
        height: 100px;
        position: relative;
        width: 100px;
        margin: 0 auto;
        background: transparent;
    }
    .stamp-price-party img{
        width: 100px;
        height:100px;
    }
    span.stamp_icon {
        font-size: 30px;
        position: absolute;
        top: 36%;
        right: 0;
        text-align: center;
        width: 100%;
    }
    .stamp-icon-party{
        font-size: 20px;
        position: absolute;
        top: 32px;
        right: 24px;
    }
    span.price_hint {
        font-size: 18px;
        position: relative;
        top: 15px;
    }
    span.price-hint-party {
        font-size: 14px;
        position: relative;
        top: -40px;
    }
    .continue_btn {
    background: red;
    border: 0;
    border-radius: 0;
    font-size: 20px;
    color: #fff;
    width: 74%;
    margin: 25% auto;
    display: block;
    text-align: center;
    cursor: pointer;
    padding: 4.5%;
    font-weight: 600;
    text-transform: uppercase;
    }
    .for-align-center{
        margin-left: 12%;
    }
    .for-form-party{
        padding-top: 80px;
        padding-left: 50px;
    }
    .for-form-description{
        padding-top: 70px;
        padding-left: 50px;
    }
    .input-style-party{
        height: 45px;
        width: 80%;
        padding: 4px 5px 4px 5px;
        background: #E6E6E6;
        border: 0;
        font-size: 16px;
    }
    .input_style2{
        width: 80%;
        padding: 4px 5px 4px 5px;
        background: #E6E6E6;
        border: 0;
        font-size: 16px;
    }
    .for-parties{
        padding-top: 50px;
    }
    .for-parties ol li{
        text-align: left;
        color: #8b8484;
    }
    .section_two .for-parties .parties p{
        text-align: left;
    }
    .arrow {
        width: 100%;
        position: relative;
        top: 270px;
    }
    .arrow_right.pull-right {
        font-size: 30px;
        border: 2px solid grey;
        border-radius: 100%;
        height: 50px;
        width: 50px;
        text-align: center;
        cursor: pointer;
        margin-right: 350px;
    }

    .arrow_left.pull-left {
        font-size: 30px;
        border: 2px solid grey;
        border-radius: 100%;
        height: 50px;
        width: 50px;
        text-align: center;
        cursor: pointer;
        margin-left: 350px;
    }
    
    .for-form-description p{
        padding-top: 10px;
    }
    .firstparty{
        background: red;
        color: #fff;
        border-radius: 0;
        font-size: 14px;
        font-weight: normal;
        height: 30px;
        text-transform: uppercase;
    }
    .singleorder{
        background: red;
        color: #fff;
        border-radius: 0;
        font-size: 20px;
        font-weight: normal;
        height: 50px;
        text-transform: uppercase;
    }
    .bulkorder{
        background: #fff;
        color: red;
        border-radius: 0;
        font-size: 20px;
        font-weight: normal;
        height: 50px;
        text-transform: uppercase;
    }
    .bulkorder:hover{
        background: red;
        color: #fff;
        border-radius: 0;
        font-size: 14px;
        font-weight: normal;
        height: 50px;
        text-transform: uppercase;
    }
    .firstparty-1{
        background: #fff;
        color: red;
        border-radius: 0;
        font-size: 14px;
        font-weight: normal;
        height: 30px;
        text-transform: uppercase;
    }
    .secondparty{
        background: #fff;
        color: red;
        border-radius: 0;
        font-size: 14px;
        font-weight: normal;
        height: 30px;
        text-transform: uppercase;
    }
    .secondparty-1{
        background: red;
        color: #fff;
        border-radius: 0;
        font-size: 14px;
        font-weight: normal;
        height: 30px;
        text-transform: uppercase;
    }
    .for-description ol{
        list-style-type: none;
    }
    .for-description ol li{
        list-style-type: none;
        color: #8b8484;
    }
    .for-description{
        text-align: left;
    }
    .description-shown{
        position: relative;
        word-wrap: break-word;
    }
    h4.questions-heading-estamp {
        font-size: 25px;
        font-weight: normal;
    }
    .price_style {
        height: auto;
        margin: 0;
        padding: 10px;
        background: none !important;
    }
    h4.sub_head {
        color: #000000;
    }
    .for-transparent-look{
        background: rgb(255, 255, 255) none repeat scroll 0% 0%;
        content: "";
        height: 593px;
        margin-top: 250px;
        opacity: 0.1;
        width: 48.8%;
    }
   .input_name {
        height: 55px;
        width: 80%;
        padding: 6px 12px;
        border: 0;
        font-size: 14px;
        margin-bottom: 2%;
        background: #f2f2f2;
        color: #000;
        margin-left: 10%;
    }
    .checkbox {
        position: relative;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    input.terms_condition {
        width: 20px;
        height: 20px;
    }
    .terms_wrap {
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.21);
        width: 60%;
        margin: 0 auto;
        padding: 0.5% 6%;
    }
    button.btn.btn-primary.pay_btn {
        background: red;
        color: #fff;
        font-size: 20px;
        width: 10% !important;
        margin: 10px auto;
        display: block;
        border-radius: 0;
        border: 0;
    }
    .for-questions{
        min-height: 625px;
    }
}
/**************************** footer links start **********************************/
.foot_wrapper-estamp {
        background: #000;
        color: #ada8a8;
        padding: 50px 0;
        font-size: 13px;
    }
.foot_cont-estamp h3 > a {
        color: #ada8a8;
        font-size: 16px;
        font-weight: normal;
        outline: none; 
        text-decoration: none;
    }
    .foot_cont-estamp p {
        color: #ada8a8;
        font-size: 13px;
        font-weight: normal;
        line-height: 24px;
        padding-top: 14px;
        text-align: justify;
    }
    .foot_blk .foot_sub-estamp{
        padding-left: 120px;
    }
    .foot_sub-estamp h3{
        color: #ada8a8;
        font-size: 16px;
        font-weight: normal;
        outline: none; 
    }
    .foot_sub-estamp address{
        padding-top: 14px;
    }
    .foot_links-estamp h3{
        color: #ada8a8;
        font-size: 16px;
        font-weight: normal;
        outline: none; 
    }
    .foot_blk .foot_links-estamp{
        padding-left:80px;
    }
    .footer_links{
        padding-top: 14px;
        
    }
    .footer_social{
        padding-top: 35px;
    }
    .footer_links-1{
        padding-top: 25px;
    }
    .foot_links-estamp a{
        color:#ada8a8;
    }
    .foot_links-estamp a:hover{
        text-decoration: none;
        color:#ada8a8;
    }
    .foot_wrapper-estamp .foot-wrapper-padding{
        padding-left: 12%;
    }
    .footer-links-header .footer-links-text{
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .footer-links .links{
            margin: 0;
            padding: 0;
            list-style: none;
            padding-top: 20px;
    }
    .footer-links .links li{
        padding-bottom: 10px;
    }
    .for-lower-footer{
        padding-top: 10px;
    }
    hr.contact_hr {
        width: 100%;
        opacity: 0.1;
    }

    hr.contact_hr-1{
        width: 100%;
        opacity: 1;
    }
    .section-title {
        font-size: 30px;
        margin: 30px 0 10px;
        text-align: center;
    }
    .for-carousel h4{
        color: #f2ba10;
    }
    
    .foot_wrapper .for-line p{
        font-size: 13px;
    } 
    .hr-line h6{
        text-align: center;
        font-size: 13px;
    } 
/**************************** footer links ends **********************************/

/**************************** Media Quiries Start **********************************/
@media all and (min-width: 320px) and (max-width: 1280px) {
        .foot_blk .foot_sub-estamp{
        padding-left: 0;
            }
           
        .for-transparent-look{
            display: none;
        }
}
@media all and (min-width: 448px) and (max-width: 640px) {
    .e-stamp.container-fluid .btn-order-estamp-bulk {
    top: 0 !important;
    }
    }
@media all and (min-width: 320px) and (max-width: 640px) {
    .e-stamp.container-fluid img.pull-left.logo {
        width: 80px !important;
        height: 80px !important;
    }
    .foot_wrapper-estamp .foot-wrapper-padding{
            padding-left: 0;
        }
    .e-stamp.container-fluid .city_wrap.pull-right {
    top: 12px;
    width: 41%;
    right: 0;
    }
    .e-stamp.container-fluid .city_wrap h4 {
        font-size: 10px!important;
    }
    .e-stamp.container-fluid button.btn.btn-default.enquiry_btn {
        font-size: 10px;
    }
    .e-stamp.container-fluid span.enquiry_icon {
    font-size: 14px;
    right: 0;
    top: 0;
    width: 12%;
    margin-right: -10px;
    position: absolute;
    }
    .e-stamp.container-fluid .search_section {
    text-align: center;
    }
    .e-stamp.container-fluid .center_align {
    position: absolute;
    }
    .e-stamp.container-fluid .search_section {
    top: 180px;
    }
    .e-stamp.container-fluid h1.main_head {
    font-size: 20px;
    }
    .e-stamp.container-fluid h1.sub_head {
    font-size: 40px;
    margin-top: 0;
    }
    .e-stamp.container-fluid .search_section .for-bold {
        font-size: 20px;
    }
    
    .e-stamp.container-fluid h1.sub_head-estamp {
        font-size: 20px;
        margin-top: 0;
    }
    .e-stamp.container-fluid h3.service-karnataka {
    font-size: 12px;
    margin-top: 20px;
    }
    .e-stamp.container-fluid h4.sub_head2 {
    font-size: 10px;

    }
    .e-stamp.container-fluid .sub_head2 br{
    display: none;
    }
    .e-stamp.container-fluid .pull-right.order-close-enquiry {
    font-size: 22px;
    right: 8%;
    top: -58px;
    }
    .e-stamp.container-fluid input.input-order-enquiry {
    height: 30px;
    font-size: 12px;
    width: 80%;
    margin-left: 10%;
    }
    
    .e-stamp.container-fluid .btn-order-estamp {
    font-size: 14px;
    top:0;
    height: 30px;
    }
    .e-stamp.container-fluid .btn-order-estamp-bulk {
    font-size: 14px;
    top: 20px;
    height: 30px;
    }
    .e-stamp.container-fluid .for-estamp-content {
    padding: 0 0 15px 17px;
    }
    .e-stamp.container-fluid .for-estamp-content h2{
    font-size: 20px
    }
    .e-stamp.container-fluid .for-estamp-content h4{
    font-size: 12px
    }
    .e-stamp.container-fluid .for-estamp-usage {
    padding: 5px 30px 45px 30px;
    margin-top: 0;
    }
    .e-stamp.container-fluid .for-estamp-usage h2 {
    padding-bottom: 0px;
    font-size: 20px;
    }
    .e-stamp.container-fluid .list-usage ol li{
        font-size: 10px;
    }
    .e-stamp.container-fluid h2.text-center.for-default{
        font-size: 20px;
    }
    .e-stamp.container-fluid .for-align-center {
        margin-left: 0;
    }
    .e-stamp.container-fluid .section_one {
    height: 200px;
    }
    .e-stamp.container-fluid .section-one-contact {
    height: 300px;
    }
    .e-stamp.container-fluid h1.order_no {
    font-size: 25px;
    margin-left: 24%;
    }
    .e-stamp.container-fluid h2.order_txt {
    font-size: 15px;
    margin-left: 24%;
    margin-bottom: 5%;
    }
    .e-stamp.container-fluid h4.questions_heading {
    font-size: 12px;
    }
    .e-stamp.container-fluid span.rupee_icon {
    font-size: 20px;
    height: 32px;
    width: 32px;
    }
    .e-stamp.container-fluid input.input_style {
    height: 32px;
    font-size: 12px;
    }
    .e-stamp.container-fluid p.hint_txt {
    font-size: 9px;
    }
    .e-stamp.container-fluid .stamp_study {
    width: 51%;
    margin: -7% auto 8%;
    }
    .e-stamp.container-fluid .section_two {
    height: 200px;
    padding: 2%;
    }
    .e-stamp.container-fluid .stamp_price {
    height: 100px;
    width: 100px;
    margin-top: 0;
    }
    .e-stamp.container-fluid .stamp_price img{
    width: 100px;
    }
    .e-stamp.container-fluid span.stamp_icon {
    font-size: 20px;
    }
    .e-stamp.container-fluid span.price_hint {
    font-size: 15px;
    }
    .e-stamp.container-fluid h3.estamp_select {
    margin-top: 0;
    }
    .e-stamp.container-fluid .for-questions {
    min-height: 515px;
    }
    .e-stamp.container-fluid .continue_btn {
    font-size: 15px;
    width: 30%;
    margin: 3% auto;
    padding: 2.5%;
    }
    .e-stamp.container-fluid h1.order-no-party {
    font-size: 20px;
    margin-left: 20%;
    }
    .e-stamp.container-fluid h2.order-txt-party {
    margin-top: 0;
    font-size: 15px;
    margin-left: 17%;
    }
    .e-stamp.container-fluid .for-form-party {
    padding-top: 35px;
    padding-left: 19%;
    }
    .e-stamp.container-fluid .for-form-party p{
    margin: 0;
    font-size: 12px;
    }
    .e-stamp.container-fluid .input-style-party {
    height: 30px;
    width: 60%;
    font-size: 12px;
    }
    .e-stamp.container-fluid .stamp-price-party {
    height: 80px;
    width: 80px;
    }
    .e-stamp.container-fluid .stamp-price-party img {
    width: 80px;
    height: 80px;
    }
    .e-stamp.container-fluid .stamp-icon-party {
    font-size: 12px;
    }
    .e-stamp.container-fluid span.price-hint-party {
    font-size: 12px;
    top: -30px;
    }
    .e-stamp.container-fluid .for-second-party{
    padding-top: 3%;
    }
    .e-stamp.container-fluid .for-parties {
    padding-top: 0;
    padding-left: 12%;
    }
    .e-stamp.container-fluid .for-parties ol li {
    font-size: 12px;
    } 
    .e-stamp.container-fluid .for-parties p{
    font-size: 12px;
    }
    .e-stamp.container-fluid #notification {
    height: 50px;
    width: 70%;
    padding: 18px;
    font-size: 12px;
    }
    .e-stamp.container-fluid h1.order-no-description {
    font-size: 20px;
    margin-left: 20%;
    }
    .e-stamp.container-fluid h2.order-txt-description {
    font-size: 15px;
    margin-left: 17%;
    }
    .e-stamp.container-fluid .for-form-description {
    padding-top: 20px;
    padding-left: 20%;
    }
    .e-stamp.container-fluid .input_style2 {
    width: 70%;
    font-size: 10px;
    }
    .e-stamp.container-fluid .for-form-description p {
    font-size: 12px;
    }
    .e-stamp.container-fluid .firstparty {
    font-size: 12px;
    height: 25px;
    }
    .e-stamp.container-fluid .secondparty {
    font-size: 12px;
    height: 25px;
    }
    .e-stamp.container-fluid .firstparty-1 {
    font-size: 12px;
    height: 25px;
    }
    .e-stamp.container-fluid .secondparty-1 {
    font-size: 12px;
    height: 25px;
    }
    .e-stamp.container-fluid .for-description {
    padding-left: 10%;
    }
    .e-stamp.container-fluid .for-description ol li{
    font-size: 12px;
    }
    .e-stamp.container-fluid .for-description p{
    font-size: 10px;
    }
    .e-stamp.container-fluid h4.questions-heading-estamp {
    font-size: 15px;
    }
    .e-stamp.container-fluid .price_style {
    height: 0;
    width: 0;
    }
    .e-stamp.container-fluid .price_style span i {
    font-size: 12px;
    }
    .e-stamp.container-fluid .for-form-description h4.main_head{
    font-size: 12px;
    }
    .e-stamp.container-fluid .input_name {
    height: 30px;
    font-size: 12px;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-top: 4%;
    }
    .e-stamp.container-fluid .checkbox span{
    font-size: 12px;
    }
    .e-stamp.container-fluid .terms_wrap {
    width: 95%;
    }
    .e-stamp.container-fluid button.btn.btn-primary.pay_btn {
    font-size: 15px;
    width: 30% !important;
    margin: 3% auto;
    padding: 2.5%;
    font-weight: 600;
    }
    .e-stamp.container-fluid h1.quick_txt {
    font-size: 20px;
    }
    .e-stamp.container-fluid .pull-right.close_enquiry {
    font-size: 20px;
    right: 5%;
    }
    .e-stamp.container-fluid input.input_style1 {
    height: 30px;
    font-size: 12px;
    }
    .e-stamp.container-fluid textarea#message {
    font-size: 12px;
    width: 80%;
    height: 50px;
    margin-left: 10%;
    }
    .e-stamp.container-fluid button.order-send-btn {
    font-size: 15px;
    width: 30%;
    padding: 1%;
    margin-left: 28%;
    }
    .e-stamp.container-fluid button.send-btn {
    font-size: 14px;
    }
    .e-stamp.container-fluid .for-address-bulkorder br{
    display: none;
    }
    .e-stamp.container-fluid .for-address-bulkorder p{
    font-size: 12px;
    }
    .e-stamp.container-fluid .for-address-bulkorder h1{
    font-size: 30px;
    }
    .e-stamp.container-fluid .for-address-bulkorder h4{
    font-size: 16px;
    }
    .e-stamp.container-fluid .map {
    display: none;
    }
    .e-stamp.container-fluid .estamp-content {
    height: auto;
    }
}
@media all and (min-width: 1024px) and (max-width: 1280px){
    .e-stamp.container-fluid .enquiry_form, .e-stamp.container-fluid .map, .e-stamp.container-fluid .cust_enquire {
    height: 250px;
    }
    .foot_wrapper-estamp .foot-wrapper-padding{
            padding-left: 8%;
        }
    .e-stamp.container-fluid input.input_style1 {
    height: 40px;
    }
    .e-stamp.container-fluid textarea#message {
    width: 300px;
    height: 70px;
    }
    .e-stamp.container-fluid button.send-btn {
    font-size: 20px;
    width: 35%;
    padding: 1%;
    }
    .e-stamp.container-fluid .map {
    font-size: 14px;
    padding: 2% 2%;
    }
    .e-stamp.container-fluid .map .phonenumber{
    font-size: 22px;
    }
    .e-stamp.container-fluid .city_wrap.pull-right {
    width: 30%;
    }
    .e-stamp.container-fluid .search_section {
    top: 200px;
    }
    .e-stamp.container-fluid .search_section .for-bold {
    font-size: 30px;
    }
    .e-stamp.container-fluid h1.main_head {
    font-size: 30px;
    }
    .e-stamp.container-fluid h1.sub_head {
    font-size: 60px;
    }
    .e-stamp.container-fluid .map .for-address address {
    padding-top: 0;
    }
    .e-stamp.container-fluid h1.sub_head-estamp {
    font-size: 25px;
    }
    .e-stamp.container-fluid h4.sub_head2 {
    font-size: 12px;
    }
    .e-stamp.container-fluid .map .for-india h4 {
    font-size: 16px;
    }
    .e-stamp.container-fluid .btn-estamp {
    font-size: 14px;
    }
    .e-stamp.container-fluid .btn-order-estamp {
    top: 10px;
    height: 40px;
    }
    .e-stamp.container-fluid .btn-order-estamp-bulk {
    top: 10px;
    height: 40px;
    }
    .e-stamp.container-fluid .cust_enquire {
    height: 250px;
    }
    .e-stamp.container-fluid .pull-right.close_enquiry {
    font-size: 30px;
    }  
    .e-stamp.container-fluid h1.quick_txt {
    font-size: 30px;
    }
    .foot_blk .foot_sub-estamp{
    padding-left: 60px;
    }
    .e-stamp.container-fluid .arrow_left.pull-left {
    margin-left: 150px;
    }
    .e-stamp.container-fluid .arrow_right.pull-right {
    margin-right: 150px;
    }
    .e-stamp.container-fluid .for-estamp-usage {
    padding: 118px 30px 125px 30px;
    }
}
@media all and (min-width: 992px) and (max-width: 1023px){
    .e-stamp.container-fluid h1.main_head {
    font-size: 28px;
    }
    .e-stamp.container-fluid .search_section .for-bold {
    font-size: 28px;
    }
    .e-stamp.container-fluid h1.sub_head {
    font-size: 60px;
    }
    .e-stamp.container-fluid h1.sub_head-estamp {
    font-size: 30px;
    }
    .e-stamp.container-fluid h4.sub_head2 {
    font-size: 12px;
    }
    .e-stamp.container-fluid .btn-order-estamp {
    font-size: 14px;
    height: 40px;
    }
    .e-stamp.container-fluid .btn-order-estamp-bulk {
    font-size: 14px;
    height: 40px;
    }
    .foot_wrapper-estamp .foot-wrapper-padding{
    padding-left: 5%;
    }
    .e-stamp.container-fluid .search_section {
    top: 200px;
    }
    .e-stamp.container-fluid h1.quick_txt {
    font-size: 30px;
    }
    .e-stamp.container-fluid input.input_style1 {
    height: 30px;
    font-size: 12px;
    }
    .e-stamp.container-fluid textarea#message {
    width: 200px;
    height: 70px;
    font-size: 12px;
    }
    .e-stamp.container-fluid button.send-btn {
    font-size: 14px;
    width: 40%;
    padding: 2%;
    }
    .e-stamp.container-fluid .enquiry_form, .e-stamp.container-fluid .map, .e-stamp.container-fluid .cust_enquire {
    height: 206px;
    }
    .e-stamp.container-fluid .map {
    font-size: 12px;
    }
    .e-stamp.container-fluid .map .for-address address {
    padding-top: 0;
    }
    .e-stamp.container-fluid .map h1{
    font-size: 20px;
    margin-top: -12px;
    }
    .e-stamp.container-fluid .map .for-india h4 {
    font-size: 16px;
    }
    .e-stamp.container-fluid h4.email_txt {
    bottom: 12px;
    font-size: 16px;
    }
    .e-stamp.container-fluid .pull-right.close_enquiry {
    font-size: 30px;
    }
    .e-stamp.container-fluid .for-estamp-content {
    margin-top: 0;
    }
    .e-stamp.container-fluid .for-estamp-content h2{
    font-size: 25px;
    }
    .e-stamp.container-fluid h4.sub_head3 {
    font-size: 12px;
    line-height: 20px;
    }
    .e-stamp.container-fluid .for-estamp-content img{
    width: 80px;
    }
    .e-stamp.container-fluid .list-usage ol li{
    font-size: 12px;
    }
    .e-stamp.container-fluid .for-estamp-usage {
    margin-top: 0;
    }
    .e-stamp.container-fluid .for-estamp-usage h2{
    font-size: 25px;
    }
    .e-stamp.container-fluid .for-estamp-usage {
    padding: 80px 30px 56px 30px;
    }
    // .e-stamp.container-fluid .for-align-center {
    // margin-left: 0;
    // }
    .e-stamp.container-fluid .for-questions h2 {
    font-size: 25px;
    }
    .e-stamp.container-fluid h1.order_no {
    font-size: 30px;
    }
    .e-stamp.container-fluid .for-questions h2 {
    font-size: 20px;
    }
    .e-stamp.container-fluid h4.questions_heading {
    font-size: 12px;
    }
    .e-stamp.container-fluid span.rupee_icon {
    font-size: 20px;
    height: 35px;
    width: 35px;
    }
    .e-stamp.container-fluid input.input_style {
    height: 35px;
    font-size: 14px;
    }
    .e-stamp.container-fluid p.hint_txt {
    font-size: 9px;
    }
    .e-stamp.container-fluid .section_one {
    height: 250px;
    }
    .e-stamp.container-fluid .section_two {
    height: 250px;
    }
    .e-stamp.container-fluid .stamp_price {
    height: 130px;
    width: 130px;
    margin-top: 0;
    }
    .e-stamp.container-fluid .section_two img{
        width:120px
    }
    .e-stamp.container-fluid span.stamp_icon {
    font-size: 25px;
    }
    .e-stamp.container-fluid span.price_hint {
    font-size: 14px;
    top: 8px;
    }
    .e-stamp.container-fluid .continue_btn {
    font-size: 18px;
    }
    .e-stamp.container-fluid .arrow {
    top: 180px;
    }
    .e-stamp.container-fluid .arrow_right.pull-right {
    margin-right: 70px;
    }
    .e-stamp.container-fluid #notification {
    height: 60px;
    text-align: center;
    width: 30%;
    padding: 18px;
    font-size: 20px;
    }
    .e-stamp.container-fluid .arrow_left.pull-left {
    margin-left: 70px;
    }
    .e-stamp.container-fluid .for-questions-party h2{
    font-size: 20px;
    }
    .e-stamp.container-fluid .for-questions-party h1{
    font-size: 30px;
    }
    .e-stamp.container-fluid .for-form-party {
    padding-top: 42px;
    }
    .e-stamp.container-fluid .for-form-party p {
    font-size: 12px;
    }
    .e-stamp.container-fluid .input-style-party {
    height: 35px;
    width: 80%;
    font-size: 14px;
    }
    .e-stamp.container-fluid .section_two img {
    width: 100px;
    }
    .e-stamp.container-fluid .for-parties ol li{
    font-size: 12px;
    }
    .e-stamp.container-fluid .for-parties p{
    font-size: 12px;
    }
    .e-stamp.container-fluid .for-parties {
    padding-top: 20px;
    }
    .e-stamp.container-fluid .for-form-description {
    padding-top: 30px;
    }
    .e-stamp.container-fluid .for-form-description p{
    font-size: 12px;
    }
    .e-stamp.container-fluid .input_style2 {
    font-size: 12px;
    }
    .e-stamp.container-fluid h4.questions-heading-estamp {
    font-size: 20px;
    }
    .e-stamp.container-fluid h4.main_head {
    font-size: 16px;
    }
    .e-stamp.container-fluid .price_style{
    height: auto;
    }
    .e-stamp.container-fluid .input_name {
    height: 50px;
    width: 80%;
    font-size: 12px;
    }
    .e-stamp.container-fluid span.stamp_icon {
    font-size: 20px;
    }
    .e-stamp.container-fluid span.stamp_icon {
    top: 30%;
    }
}
@media all and (min-width: 768px) and (max-width: 991px){
    .e-stamp.container-fluid h1.main_head {
    font-size: 28px;
    }
    .e-stamp.container-fluid .search_section .for-bold {
    font-size: 28px;
    }
    .e-stamp.container-fluid h1.sub_head {
    font-size: 60px;
    }
    .e-stamp.container-fluid h1.sub_head-estamp {
    font-size: 30px;
    }
    .e-stamp.container-fluid h4.sub_head2 {
    font-size: 12px;
    }
    .e-stamp.container-fluid .sub_head2 br{
        display: none;
    }
    .foot_wrapper-estamp .foot-wrapper-padding{
    padding-left: 3%;
    }
    
    .e-stamp.container-fluid .map .for-india h4 {
    font-size: 14px;
    }
    .e-stamp.container-fluid .map .for-address address {
    padding-top: 0;
    }
    .e-stamp.container-fluid .map {
    font-size: 10px;
    }
    .e-stamp.container-fluid .btn-order-estamp {
    font-size: 14px;
    height: 40px;
    }
    .e-stamp.container-fluid .btn-order-estamp-bulk {
    font-size: 14px;
    height: 40px;
    }
    .e-stamp.container-fluid h1.quick_txt {
    font-size: 30px;
    }
    .e-stamp.container-fluid input.input_style1 {
    height: 30px;
    font-size: 12px;
    }
    .e-stamp.container-fluid textarea#message {
    width: 200px;
    height: 70px;
    font-size: 12px;
    }
    .e-stamp.container-fluid button.send-btn {
    font-size: 14px;
    width: 40%;
    padding: 2%;
    }
    .e-stamp.container-fluid .enquiry_form, .e-stamp.container-fluid .map, .e-stamp.container-fluid .cust_enquire {
    height: 206px;
    }
    .e-stamp.container-fluid .map h1{
    font-size: 20px;
    margin-top: -12px;
    }
    .e-stamp.container-fluid h4.email_txt {
    bottom: 12px;
    font-size: 16px;
    }
    .e-stamp.container-fluid .pull-right.close_enquiry {
    font-size: 30px;
    }
    .e-stamp.container-fluid .for-estamp-content {
    margin-top: 0;
    }
    .e-stamp.container-fluid .for-estamp-content h2{
    font-size: 25px;
    }
    .e-stamp.container-fluid h4.sub_head3 {
    font-size: 12px;
    line-height: 20px;
    }
    .e-stamp.container-fluid .for-estamp-content img{
    width: 80px;
    }
    .e-stamp.container-fluid .list-usage ol li{
    font-size: 12px;
    }
    .e-stamp.container-fluid .for-estamp-usage {
    margin-top: 0;
    }
    .e-stamp.container-fluid .for-estamp-usage h2{
    font-size: 25px;
    }
    .e-stamp.container-fluid .for-estamp-usage {
    padding: 80px 30px 56px 30px;
    }
    .e-stamp.container-fluid .for-questions h2{
    font-size: 20px;
    }
    .e-stamp.container-fluid .for-align-center {
    margin-left: 0;
    }
    .e-stamp.container-fluid button.btn.btn-primary.pay_btn {
    font-size: 18px;
    width: 14%;
    }
   .e-stamp.container-fluid .estamp-content {
    height: 635px;
    }
    .e-stamp.container-fluid .for-estamp-usage {
    padding: 80px 30px 80px 30px;
    }
    .e-stamp.container-fluid #notification {
    height: 60px;
    margin: 0 2% 17%;
    width: 42%;
    padding: 20px;
    font-size: 20px;
    }
    .e-stamp.container-fluid .for-questions-party h2{
    font-size: 20px;
    }
    .e-stamp.container-fluid .continue_btn {
    width: 20%;
    padding: 1%;
    margin: 2% auto;
    }
    .e-stamp.container-fluid .pull-right.order-close-enquiry {
    font-size: 25px;
    top: -58px;
    } 
    .e-stamp.container-fluid button.order-send-btn {
    font-size: 20px;
    width: 35%;
    }
    .e-stamp.container-fluid .for-address-bulkorder h1{
        font-size: 30px;
    }
    .e-stamp.container-fluid .for-estamp-content {
    padding: 30px 0px 65px 30px;
    }
    .e-stamp.container-fluid .city_wrap.pull-right {
    right: 50px;
    }
    .e-stamp.container-fluid span.enquiry_icon {
    position: absolute;
    right: 0px;
    top: -6px;
    margin-right: -16px;
    }

}