body{
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}
.gpa_spa.container-fluid{
    margin: 0;
    padding: 0;
    #notification{
      display: none;
      z-index: 1111;
      color: white;
      height: 80px;
      position: fixed;
      text-align: center;
      margin: 0 2% 2%;
      width: 35%;
      padding: 25px;
      bottom: 0;
      font-size: 24px;
      z-index: 9999;
    }
    #notification.red{
      background-color: red;
    }
    #notification.green{
      background-color: #55A571;
    }
    .center_align {
        padding: 0%;
    }
    h1.sub_head {
        color: #000;
        font-weight: 600;
        margin: 0;
        font-size: 40px;
        position: relative;
        text-align: center;
    } 

    h1.main_head {
        color: #000;
        font-weight: 600;
        margin: 0;
        font-size: 40px;
        position: relative;
        top: 1%;
        text-align: center;
    }
    .main_bg{
        background: url("/assets/campaign_poa/banner.jpg");
        height: 100vh;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed; 
    }
   
    h2.line_tag {
        width: 18%;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 10px 0 20px;
        margin: 0;
        position: absolute;
        margin-top: 2%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    button.btn.btn-default.btn_order {
        background: red;
        color: #fff;
        font-size: 25px;
        font-weight: bold;
        border-radius: 0;
        border: 1px solid red;
        position: relative;
        top: 30px;
        height: 50px;
        left: 45%;
    }
    button.btn.btn-default.btn-poa {
        background: red;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        border-radius: 0;
        border: 1px solid red;
        height: 42px;
        margin-top: 5%;
    }
    p.for-select-para{
        text-align: justify;
    }
    .for-spa-content{
        margin-top: 8%;
    }
    .for-heading-section{
        top:14%;
    }
    h4.services-bangalore {
    font-weight: 600;
    font-size: 14px;
    position: relative;
    color: red;
    margin-top: 50px;
    }   
    p.tag_line {
        margin: 0;
        position: relative;
        margin-top: 2%;
        font-size: 14px;
        text-align: center;
        color: #524e43;
    }
    .for-content{
        padding: 5%;
    }

    
    #owl-demo .item{
      margin: 3px;
    }
    #owl-demo .item img{
      display: block;
      height: auto;
    }

    p.para_wrap {
        width: 50%;
        text-align: center;
        margin: 0 auto;
    }

    .testimonial_wrap{
        background: url("/assets/rental_agreement/testimonial_bg.jpg");
        background-size: cover;
        padding: 50px 0 150px;
        text-align: center;
        color: white !important;
    }

    .testimonial_wrap h4.rental_head span {
        background: transparent;
        padding: 2%;
        color: #fff;
    }
    .fun_item_img{
        padding-left: 255px;
    }
    .fun_item_img img {
    border: 1px solid #767d85;
    border-radius: 100%;
    padding: 30px;
}

    .para_wrap span {
        font-size: 20px;
        font-weight: bold;
    }
    .row_style p{
        text-align: justify;
    }

    .media_wrap {
        background: url("/assets/rental_agreement/media _bg.jpg");
        background-size: cover;
        padding: 50px 0 150px;
    }
    h4.for-definition{
        font-size:20px;
        font-weight: 600;
    }


    .media_wrap h4.rental_head {
        width: 9%;
        text-align: center;
        line-height: 0.1em;
        margin: 0 auto 5%;
        position: relative;
        top: 35px;
    }
    .media_wrap .media-icons1{
        padding-top: 40px;
    }
    .media_wrap .media-icons2{
        padding-top: 40px;
    }
    .media_wrap h4.rental_head span {
        
        padding: 8%;
        font-weight: bold;
        color: #2d2b2b;
    }
    .media-icons2 .for-pad{
        padding-top: 20px;
    }
    .media-icons .for-pad-left{
        padding-left: 60px;
    }
    

    .contact_wrap h4.rental_head span {
        background: #2D2B2B;
        padding: 2%;
        color: #fff;
        font-size: 18px !important;
    }

    .contact_wrap h4.rental_head {
        width: 10%;
        text-align: center;
        border-bottom: 1px solid #fff;
        line-height: 0.1em;
        margin: 0 auto 5%;
        position: relative;
        top: 35px;
    }


    .registration_wrap {
        background: #DFE1D4;
        padding: 2%;
    }

    .section_one {
        background: #fff;
        padding: 2%;
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.28);
        height: 350px;
    }
    h4.summary
    {
        font-size: 30px;
    }
    form#question_form {
        margin: 0 auto;
    }

    input.input_style {
        height: 35px;
        width: 100%;
        padding: 4px 5px 4px 44px;
        background: #E6E6E6;
        border: 0;
        font-size: 16px;
    }

    span.rupee_icon {
        color: #fff;
        background: #000;
        position: absolute;
        font-size: 18px;
        height: 35px;
        width: 35px;
        line-height: 1.8;
        cursor: pointer;
        text-align: center;
    }

    p.hint_txt {
        font-size: 10px;
        width: 100%;
        margin: 4% auto;
    }

    .date_slide {
        height: 4.5em;
        background: #f2f2f2;
        margin-bottom: 6%;
        position: relative;
    }

    div#date-slider {
        width: 100%;
        height: 3.9em;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        line-height: 1.2em;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        background: #f2f2f2;
    }
    
    ul.list_date {
        list-style: none;
        position: absolute;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    ul.list_date li {
        width: 14.28%;
        float: left;
        white-space: pre-wrap;
        margin-top: 4px;
        font-weight: normal;
        font-size: 16px;
        color: #757575;
    }

    #date-slider .handle {
        height: 5.2em;
        border-radius: 0px;
        cursor: pointer;
        position: absolute;
        top: -10%;
    }
    .date_slide .dragdealer .red-bar {
        width: 55px;
        height: 92px;
        background: #e47a58;
        color: #000;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
    }

    #date-slider span.value {
        font-size: 16px;
        white-space: pre-wrap;
        line-height: 1.4em;
        display: block;
        margin: 6px 0px;
    }

    div#proRangeSlider {
        margin-bottom: 2%;
    }

    span.timing_txt {
        font-size: 16px;
        color: #000;
        font-weight: bold;
    }

    .time_slider {
        width: 75%;
        margin: 0 auto 5%;
        display: block;
        float: right;
        cursor: pointer;
    }

    ul.time_slot {
        list-style: none;
        display: inline-block;
        font-weight: bold;
        padding-left: 8%;
        position: relative;
        top: -11px;
        margin-left: 16%;
        font-size: 10px;
        width: 87%;
    }

    ul.time_slot li {
        display: inline-block;
        padding-left: 0;
        width: 24%;
        color: #757575;
    }

    #simple-slider {
        position: relative;
        height: 25px;
        background: #f2f2f2;
    }

    .time_slider .dragdealer .red-bar {
        width: 65px;
        height: 35px;
        background: #e47a58;
        color: #000;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        position: absolute;
        top: -16%;
        cursor: pointer;
    }

    button.btn.btn-default.proceed_btn {
        border: 0;
        border-radius: 0;
        width: 45%;
        font-size: 20px;
        color: #fff;
        position: relative;
        left: 0;
        right: 0;
        margin: -6% auto 6%;
        text-align: center;
        height: 45px;
        top: -22px;
        display: block;
        background: #d41e69;
    }

    .copies_slot {
        position: relative;
        height: 40px;
        width: 100%;
        margin-bottom: 1%;
    }

    #just-a-slider {
        width: 327px;
        height: 2em;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        font-weight: bold;
        cursor: pointer;
        background: #f2f2f2;
    }
    
    ul.list_wrapper {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 14px;
    }

    ul.list_wrapper li {
        float: left;
        width: 9%;
        line-height: 2.4em;
        color: #757575;
        list-style: none;
    }

    #just-a-slider .handle {
        height: 40px;
        line-height: 3em;
        border-radius: 0px;
        cursor: pointer;
        position: absolute;
        top: -16%;
        font-weight: bold;
        width: 30px;
        background: #e47a58;
    }

    span.value {
        font-size: 16px;
        font-weight: bold;
    }

    .radio-toolbars input[type="radio"]:checked + label { 
        background-color: #eaa500;
        cursor: pointer;
        padding: 7px;
        color: #000;
    }
    
    .radio-toolbars label {
        height: 175px;
        padding: 7px;
        background: #E6E6E6;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .radio-toolbars p {
        margin: 72px 0 0px;
    }

    .radio-toolbars {
        margin: 0 auto 3%;
        min-height: 40px;
        width: 70%;
    }

    .radio-toolbars input[type="radio"] {
        display:none; 
    }

    .control-group {
      display: inline-block;
    }
    .control {
        display: inline-block;
        position: relative;
        padding-left: 55px;
        margin-bottom: 15px;
        cursor: pointer;
        font-size: 15px;
        margin: 20px 40px;
        line-height: 2.5;
    }
    .control input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    .control__indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 40px;
        width: 40px;
        background: #e6e6e6;
    }
    .control--radio .control__indicator {
      border-radius: 0%;
    }
    .control:hover input ~ .control__indicator,
    .control input:focus ~ .control__indicator {
      background: #ccc;
    }
    .control input:checked ~ .control__indicator {
      background: #eaa500;
    }
    .control:hover input:not([disabled]):checked ~ .control__indicator,
    .control input:checked:focus ~ .control__indicator {
      background: #C36445;
    }
    .control__indicator:after {
      content: '';
      position: absolute;
      display: none;
    }
    .control input:checked ~ .control__indicator:after {
      display: block;
    }

    .control--radio .control__indicator:after {
        left: 0;
        top: 0; 
        height: 40px;
        width: 40px;
        border-radius: 0;
        background: #eaa500;
    }
    
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .fileUpload.btn.btn-primary {
        border: 0;
        border-radius: 0;
        height: 35px;
        font-size: 15px;
        background: #eaa500;
    }

    input#uploadFile {
        height: 35px;
        padding: 5px 5px;
        border: 0;
        background: #E6E6E6;
    }

    .date_wrap {
        padding-right: 10%;
        padding-left: 10%;
    }

    .terms_wrap {
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.21);
        width: 45%;
        margin: 3% auto;
        padding: 0.5% 2%;
    }

    button.btn.btn-primary.pay_btn {
        background: #d41e69;
        color: #fff;
        font-size: 20px;
        margin: 0 auto 5%;
        display: block;
        border-radius: 0;
        border: 0;
    }
             
    input.terms_condition {
        width: 20px;
        height: 20px;
    }

    span.chk_hint {
        line-height: 2;
    }

    .registration_wrap h4.rental_head span {
        background: #DFE1D4;
        padding: 2%;
        font-weight: bold;
        color: #2d2b2b;
    }

    .registration_wrap h4.rental_head {
        width: 40%;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 0 auto 4%;
        position: relative;
        top: 20px;
    }
    h1.for-select-order{
        font-size: 36px;
        font-weight: 800;
    }

    #owl-demo .item img{
        display: block;
        height: auto;
    }
    
    .owl-theme .owl-controls .owl-page.active span {
    background-color: #26c3ba;
    opacity: 1;
    }
    .owl-theme .owl-controls .owl-page span {
        display: block;
        width: 12px;
        height: 12px;
        margin: 5px 7px;
        filter: Alpha(Opacity=50);
        opacity: 0.2;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        background: #26c3ba;
    }

    h4.main_head {
        color: #757575;
        font-size: 14px;
    }

    h4.sub_head {
        color: #000000;
    }

    hr.summary_hr {
        border: 0;
        border-top: 1px solid rgba(77,77,77,0.5);
        margin: 0;
    }

    hr.price_hr {
        margin: 0;
        border: 0;
        border-top: 1px solid rgba(77,77,77,0.5);
    }

    .order_hr {
        margin-top: 1%;
        margin-bottom: 1%;
        border: 0;
        border-top: 1px solid rgba(77,77,77,0.5);
        margin-left: 0%;
    }

    .voucher_wrap {
        position: relative;
        background: #fff;
        margin-top: 3%;
        margin-bottom: 3%;
        padding: 4%;
        box-shadow: 0 1px 6px 0 rgba(0,0,0,0.12),0 1px 6px 0 rgba(0,0,0,0.12);
        border: 2px dashed #000;
        background-size: cover;
        background-repeat: no-repeat;
    }

    p.discount_wrap {
        color: #ed1c24;
        font-size: 16px;
    }

    input.input_discount {
        border: 0;
        background: #f2f2f2;
        width: 100%;
        font-size: 14px;
        height: 35px;
        padding: 6px 12px;
    }

    button.btn.apply_btn.btn-default {
        background: #F9A21E;
        color: #fff;
        font-size: 16px;
        top: -9px;
        border-radius: 0;
        border: 0;
    }

    .discount-cancel {
        background: #F9A21E;
        color: #fff;
        font-size: 16px;
        top: -9px;
        border-radius: 0;
        border: 0;
        padding: 5px;
        width: 80px;
        cursor: pointer;
    }  
    .payment_details {
        padding: 3%;
        width: 80%;
        margin: 0% auto;
    }

    .payment_details p {
        padding: 4% 0% 1%;
        color: #0C0C0C;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .input_name {
        height: 55px;
        width: 100%;
        padding: 6px 12px;
        border: 0;
        font-size: 14px;
        margin-bottom: 2%;
        background: #fff;
        color: #000;
    }

    span.price_hint {
        font-size: 18px;
        position: absolute;
        bottom: 24px;
        right: 25%;
    }

    .hint_wrap h6 {
        margin-bottom: 4%;
    }

    hr.wow.zoomIn {
        width: 40%;
    }

    marquee {
        margin-bottom: 3%;
    }

    /***********************NEW DESIGN CSS *************************/
    .how_work_section
    {
        background-color: #f2f2f2;
        width: 100%;
        padding: 6% 20% 3% 27%;
    }
    .how_work_section span{
        color: #d71c6c;
        font-size: 18px;
        font-weight:  bold;
    }  
    .how_work_section h4 {
        font-size: 14px;
        font-weight: bold;
    }
    .how_work_section p{
        line-height: 27px;
        font-size: 12px;
        width: 60%;
    }
    .row_style{
        margin: 1% 0% 1% 0%;
    }
    
    .city_wrap.pull-right {
        position: relative;
        right: 0;
        width: 22%;
        top: 35px;
    }

    .city_wrap h4 {
        display: inline-block;
        border: 1px solid #000;
        line-height: 1;
        padding: 2%;
        text-align: center;
        font-weight: bold;
    }

    .enquiry {
        display: inline;
        position: relative;
        bottom: 2px;
    }

    button.btn.btn-default.enquiry_btn {
        background: #000;
        display: inline-block;
        color: #fff;
        border: 0;
        line-height: 2;
        padding: 1% 3%;
        text-align: center;
        font-weight: normal;
        border-radius: 0;
        font-size: 15px;
    }
    
    span.enquiry_icon {
        color: #fff;
        border-left: 1px solid #000;
        padding: 1%;
        display: inline-block;
        font-size: 21px;
        position: relative;
        right: 5px;
        top: 4px;
        width: 12%;
        text-align: center;
        cursor: pointer;
        background: #000;
        margin-left: 2px;
    }

    .enquiry_form {
        background: red;
        padding: 3% 6%;
    }

    form.contact_form {
        width: 100%;
        margin: 0 auto;
    }

    input.input_style1 {
        width: 100%;
        background: transparent;
        border: 1px solid #fff;
        height: 46px;
        padding: 6px 12px;
        color: #fff;
    }

    textarea#message {
        border: 1px solid #fff;
        background: transparent;
        color: #fff;
        padding: 6px 12px;
    }

    button.send-btn {
        font-size: 24px;
        border: 0;
        background: #fff;
        width: 40%;
        color: #C5310B;
        padding: 2%;
    }

    h1.quick_txt {
        position: relative;
        color: #fff;
        font-weight: bold;
    }
    .enquiry_form, .map, .cust_enquire{
        height: 338px;
    }
    .cust_enquire .thanks{
        text-align: left;
        color: white;
        position: relative;
    }
    .map{
        background: url("/assets/rental_agreement/map.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 3%;
        color: #fff;
        font-size: 18px;
        height: 100%;
        p{
            font-size: 14px;
        }
    }
    
    .pull-right.close_enquiry {
        cursor: pointer;
        color: white;
        font-size: 50px;
        position: absolute;
        z-index: 1;
        right: 2%;
    }

    h4.email_txt a {
        color: #C5310B;
        text-decoration: none;
        cursor: pointer;
    }

    img.pull-left.logo {
        position: relative;
        left: 25px;
        top: 25px;
    }
    .hovereffect {
        width:100%;
        height:100%;
        float:left;
        overflow:hidden;
        position:relative;
        text-align:center;
        cursor:default;
    }

    .hovereffect .overlay {
        width:100%;
        height:100%;
        position:absolute;
        overflow:hidden;
        top:0;
        left:0;
        opacity:0;
        background-color:rgba(234, 165, 0, 0.85);
        -webkit-transition:all .4s ease-in-out;
        transition:all .4s ease-in-out
    }

    .hovereffect img {
        display:block;
        position:relative;
        -webkit-transition:all .4s linear;
        transition:all .4s linear;
        height: 300px;
        margin: 0 auto;
    }

    .hovereffect h2 {
        text-transform:uppercase;
        color:#fff;
        text-align:center;
        position:relative;
        font-size:17px;
        background:rgba(0,0,0,0.6);
        -webkit-transform:translatey(-100px);
        -ms-transform:translatey(-100px);
        transform:translatey(-100px);
        -webkit-transition:all .2s ease-in-out;
        transition:all .2s ease-in-out;
        padding:10px;
    }

    .hovereffect .info {
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        border: 1px solid #fff;
        background-color: transparent;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        margin: 120px 0 0;
        padding: 7px 14px;
        font-size: 30px;
        cursor: pointer;
    }

    .hovereffect .info:hover {
        box-shadow:0 0 5px #fff;
    }

    .hovereffect:hover img {
        -ms-transform:scale(1.2);
        -webkit-transform:scale(1.2);
        transform:scale(1.2);
    }

    .hovereffect:hover .overlay {
        opacity:1;
        filter:alpha(opacity=100);
    }

    .hovereffect:hover h2,.hovereffect:hover .info {
        opacity:1;
        filter:alpha(opacity=100);
        -ms-transform:translatey(0);
        -webkit-transform:translatey(0);
        transform:translatey(0);
    }

    .hovereffect:hover .info {
        -webkit-transition-delay:.2s;
        transition-delay:.2s;
    }
    
    h3.rental_txt.text-center {
        margin-bottom: 4%;
    }

    h4.overlay_wrap {
        text-align: center;
        position: relative;
        top: 22px;
    }

    .choose_agreement {
        .choose-type img{
            border: 1px solid #d4d4d4;
            -webkit-box-shadow: 0 2px 64px 0 rgba(197,197,197,.5);
            box-shadow: 0 2px 64px 0 rgba(197,197,197,.5);
        }
    }

    .order_no {
        color: grey;
        font-size: 40px;
        margin-bottom: 0;
        margin-top: 0;
    }

    h2.order_txt {
        margin-top: 0;
        border-top: 4px solid #000;
        display: inline-block;
        font-size: 30px;
    }

    h4.questions_heading {
        font-size: 15px;
        font-weight: bold;
    }

    .stamp_study {
        width: 51%;
        margin: 0 auto 8%;
    }

    .section_two {
        background: #fff;
        padding: 4%;
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.28);
        text-align: center;
        height: 350px;
    }

    .stamp_price {
        background: url(/assets/rental_agreement/stamping_icon.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 250px;
        position: relative;
        width: 250px;
        margin: 0 auto;
        top: -20px;
        display: block;
        text-align: center;
    }
    .for-centering-form{
        margin-top: 15%;
    }

    span.stamp_icon {
        font-size: 25px;
        position: relative;
        top: 110px;
    }

    h2.text-center.doc_name {
        margin-bottom: 4%;
    }

    .next_btn {
        background: #d41e69;
        border: 0;
        border-radius: 0;
        font-size: 30px;
        color: #fff;
        width: 25%;
        margin: 6% auto;
        display: block;
    }

    .arrow {
        width: 100%;
        position: relative;
        top: 240px;
    }
    h4.process_descp{
        font-size: 14px;
    }

    .arrow_right.pull-right {
        font-size: 25px;
        border: 2px solid grey;
        border-radius: 100%;
        height: 40px;
        width: 40px;
        text-align: center;
        cursor: pointer;
        margin-right: 3%;
    }
    h3.estamp_select{
        font-size: 18px;
    }

    .arrow_left.pull-left {
        font-size: 25px;
        border: 2px solid grey;
        border-radius: 100%;
        height: 40px;
        width: 40px;
        text-align: center;
        cursor: pointer;
        margin-left: 3%;
    }
    
    .doc_price {
        background: url(/assets/rental_agreement/stamping_icon.png);
        background-repeat: no-repeat;
        height: 300px;
        position: relative;
        width: 300px;
        margin: -40px auto;
    }
    span.price_flow {
        right: 0;
        font-size: 12px;
        position: relative;
        bottom: 20px;
        display: inline-block;
        width: 100%;
    }

    .horizontal1 {
        border: 0;
        border-top: 1px solid #000;
        width: 10px;
        display: inline-block;
        position: relative;
        top: 16px;
    }

    .option_wrap {
        width: 70%;
        margin: 4% auto;
    }

    .file_upload {
        position: relative;
        top: 75px;
    }
    .file_upload h4{
        font-size: 15px;
    }

    .process h4 {
        position: relative;
        top: 100px;
        font-size: 15px;
    }

    .copies_wrap {
        width: 50%;
        margin: 9% auto;
        text-align: center;
    }

    span.price_hints {
        font-size: 18px;
        position: relative;
        bottom: 0;
    }

    .total {
        position: relative;
        top: 120px;
        font-size: 30px;
    }

    span.price_hints.sum_amount {
        position: relative;
        top: -40px;
    }

    .price_style {
        height: auto;
        margin: 0;
        padding: 10px;
    }

    span.price_hints_tag {
        font-size: 10px;
        position: relative;
        bottom: 0;
    }

    .section_three.summary_wrap {
        padding: 2%;
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.28);
        height: 310px;
        width: 75%;
        margin: 0 auto;
    }

    .row.order_head {
        width: 60%;
        margin: 0 auto;
    }

    .radio_three {
        position: relative;
        bottom: 8px;
    }

    .continue_btn {
        background: #d41e69;
        border: 0;
        border-radius: 0;
        font-size: 30px;
        color: #fff;
        width: 25%;
        margin: 6% auto;
        display: block;
        text-align: center;
        cursor: pointer;
        padding: 0.5%;
    }

    .summary_details {
        width: 80%;
        margin: 0 auto;
        display: block;
    }

    span.price_hints.sum_amount.txt_total {
        text-align: center !important;
        font-size: 14px;
        width: 100%;
        display: block;
    }
    
    .radio_oneimg {
        position: relative;
        float: left;
        width: 50%;
        padding-left: 10px;
        cursor: pointer;
    }

    .radio_oneimg img {
        width: 30%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 7% auto;
    }
    
    h4.sub_head.stamp_price.price_style {
        background: none;
        width: auto;
        float: left;
        height: auto;
        top: 0;
    }

}
/***********************NEW DESIGN CSS END *************************/
/**************************** MEDIA QUERY STARTS **********************************/
@media only screen and (max-width: 640px) and (min-width: 320px){
   .gpa_spa.container-fluid img.pull-left.logo {
    position: relative;
    left: 20px;
    top: 20px;
    width: 20%;
    }
    .gpa_spa.container-fluid .city_wrap.pull-right {
    width: 46%;
    }
    .gpa_spa.container-fluid button.btn.btn-default.enquiry_btn {
    font-size: 10px;
    }
    .gpa_spa.container-fluid span.enquiry_icon {
    font-size: 14px;
    top: 1px;
    }
    .gpa_spa.container-fluid .for-heading-section {
    top: 30%;
    }
    .gpa_spa.container-fluid h1.main_head {
    font-size: 20px;
    }
    .gpa_spa.container-fluid h1.sub_head {
    font-size: 20px;
    }
    .gpa_spa.container-fluid .center_align {
    position: absolute;
    }
    .gpa_spa.container-fluid p.tag_line {
    font-size: 10px;
    }
    .gpa_spa.container-fluid button.btn.btn-default.btn_order {
    font-size: 15px;
    position: absolute;
    top: 110px;
    height: 35px;
    left: 30%;
    }
    .gpa_spa.container-fluid h4.services-bangalore {
    left: 4%;
    margin-top: 80px;
    }
    .gpa_spa.container-fluid .map {
    display: none;
    }
    .gpa_spa.container-fluid h1.quick_txt {
    font-size: 20px;
    }
    .gpa_spa.container-fluid input.input_style1 {
    height: 30px;
    font-size: 12px;
    }
    .gpa_spa.container-fluid .stamp_study {
        width: 80%;
        margin: 0 auto 8%;
    }
    .gpa_spa.container-fluid span.price_hint {
        font-size: 18px;
        right: 0%;
        bottom: 5px;
    }
    .gpa_spa.container-fluid textarea#message {
    padding: 1px 8px;
    font-size: 12px;
    }
    .gpa_spa.container-fluid button.send-btn {
    font-size: 18px;
    }
    .gpa_spa.container-fluid .pull-right.close_enquiry {
    font-size: 30px;
    }
    .gpa_spa.container-fluid .how_work_section {
    width: 300px !important;
    margin: 0 auto !important;
    padding: 0px !important;
    }
    .gpa_spa.container-fluid .how_work_section p {
    width: 100%;
    }
    .gpa_spa.container-fluid .for-bigscreen-look{
        display: none;
    }
    .gpa_spa.container-fluid p.for-select-para {
    width: 100%;
    font-size: 12px;
    }
    .gpa_spa.container-fluid h1.for-select-order {
    font-size: 20px;
    }
    .gpa_spa.container-fluid h4.for-definition {
    font-size: 18px;
    }
    .gpa_spa.container-fluid button.btn.btn-default.btn-poa {
    font-size: 15px;
    height: 35px;
    margin-left: 25%;
    }
    .gpa_spa.container-fluid .for-spa-content {
    margin-top: 0;
    }
    .gpa_spa.container-fluid .order_no {
    font-size: 18px;
    }
    .gpa_spa.container-fluid h2.order_txt {
    font-size: 18px;
    }
    .gpa_spa.container-fluid .for-centering-form {
    margin-top: 0;
    }
    .gpa_spa.container-fluid .section_one {
    height: 250px;
    }
    .gpa_spa.container-fluid h4.questions_heading {
    font-size: 12px;
    }
    .gpa_spa.container-fluid span.rupee_icon {
    font-size: 14px;
    height: 30px;
    width: 30px;
    }
    .gpa_spa.container-fluid input.input_style {
    height: 30px;
    font-size: 12px;
    }
    .gpa_spa.container-fluid p.hint_txt {
    font-size: 9px;
    }
    .gpa_spa.container-fluid .section_two {
    height: 250px;
    }
    .gpa_spa.container-fluid .continue_btn {
    font-size: 18px;
    }
    .gpa_spa.container-fluid .stamp_price {
    background-size: 150px 150px;
    height: 150px;
    width: 150px;
    }
    .gpa_spa.container-fluid span.stamp_icon {
    font-size: 20px;
    top: 60px;
    }
    .gpa_spa.container-fluid span.price_hint {
    font-size: 18px;
    right: 20%;
    bottom: 5px;
    }
    .gpa_spa.container-fluid #notification {
    height: 50px;
    width: 80%;
    padding: 14px;
    font-size: 18px;
    }
    .gpa_spa.container-fluid .control {
    margin: 7px 40px;
    }
    .gpa_spa.container-fluid .doc_price {
    background-size: 150px 150px;
    height: 150px;
    width: 150px;
    top: -10%;
    }
    .gpa_spa.container-fluid .total {
    font-size: 18px;
    top: 68px;
    }
    .gpa_spa.container-fluid span.price_hints.sum_amount {
    top: 0px;
    }
    .gpa_spa.container-fluid h4.for-copies{
        font-size: 15px;
    }
    .gpa_spa.container-fluid .price_hints.sum_amount.txt_total {
    top: -23px !important;
    right:0;
    }
    .gpa_spa.container-fluid .price_style{
        background-size: 0;
        height: 0;
        top:0;
        padding:0;
    }
    .gpa_spa.container-fluid h4.main_head {
    font-size: 10px;
    }
    .gpa_spa.container-fluid h4.sub_head {
    font-size: 10px;
    }
    .gpa_spa.container-fluid .section_three.summary_wrap {
    height: 245px;
    width: 90%;
    }
    .gpa_spa.container-fluid .input_name {
    font-size: 12px;
    }
    .gpa_spa.container-fluid .terms_wrap {
    width: 90%;
    }
    .gpa_spa.container-fluid span.chk_hint {
    font-size: 12px;
    }
    .gpa_spa.container-fluid button.btn.btn-primary.pay_btn {
    font-size: 18px;
    width: 25% !important;
    }
    .gpa_spa.container-fluid .summary_details {
    margin-top: -10px;
    }


}
@media all and (min-width: 768px) and (max-width: 1024px){
    .gpa_spa.container-fluid .for-heading-section {
        top: 30%;
    }
    .gpa_spa.container-fluid .for-content {
        padding: 5%;
    }
    .gpa_spa.container-fluid .row_style p {
        width: 100%;
    }
    .gpa_spa.container-fluid .center_align {
        padding: 5%;
    }
    .gpa_spa.container-fluid button.btn.btn-default.btn_order {
        top: 12px;
        left: 40%;
    }
    .gpa_spa.container-fluid #notification.red {
        background-color: red;
        width: 50%;
    }
    .gpa_spa.container-fluid .price_style {
        height: auto;
        margin: 0;
        padding: 0px;
    }
    .gpa_spa.container-fluid .order_no {
        color: grey;
        font-size: 20px;
    }
    .gpa_spa.container-fluid h2.order_txt {
        font-size: 20px;
    }
    .gpa_spa.container-fluid #notification.red {
        background-color: red;
        width: 50%;
        bottom: 5%;
    }
}

/**************************** MEDIA QUERY END **********************************/
    
/**************************** MEDIA QUERY END **********************************/
.foot_wrapper {
    background: #000;
    color: #fff;
    padding: 50px 0;
}
    .foot_cont h3 > a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    outline: none; 
    text-decoration: none;
    }
    .foot_cont p {
        color: #fff;
        font-size: 14px;
        font-weight: normal;
        line-height: 24px;
        padding-top: 14px;
    }
    .foot_sub h3{
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        outline: none; 
    }
    .foot_sub address{
        padding-top: 14px;
    }
    .foot_links h3{
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        outline: none; 
    }
    .foot_blk .foot_links{
        padding-left:80px;
    }
    .footer_links{
        padding-top: 14px;
        
    }
    .footer_social{
        padding-top: 35px;
    }
    .footer_links-1{
        padding-top: 25px;
    }
    .foot_links a{
        color:#fff;
    }
    .foot_links a:hover{
        text-decoration: none;
        color:#fff;
    }
    .foot_wrapper h6{
        text-align: center;
    }
    .footer-links-header .footer-links-text{
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .footer-links .links{
            margin: 0;
            padding: 0;
            list-style: none;
            padding-top: 20px;
    }
    .footer-links .links li{
        padding-bottom: 10px;
    }
    .for-lower-footer{
        padding-top: 10px;
    }
    hr.contact_hr {
        width: 90%;
        opacity: 0.1;
    }

    hr.contact_hr-1{
        width: 90%;
        opacity: 1;
    }
    .section-title {
        font-size: 30px;
        margin: 30px 0 10px;
        text-align: center;
    }
    .for-carousel h4{
        color: #26c3ba;
    }
    .for-line{
        border-bottom: 1px solid #fff;
        margin-bottom: 5px;
        margin-top: 0;
    }
    .for-line{
        border-left: 1px solid #fff;
        margin-left: 5px;
        margin-top: 0;
        padding-left: 15px;
    }
    .for-footer-content{
        margin-left: 8%;

    }
    .for-lower-footer-content{
        margin-left: 8%;
         margin-right: 5%;
    }
    .section-title h2{
        color: #000000;
        display: block;
        margin: 0;
        padding: 0 0 0.4em;
        position: relative;

    }
    .clients-list { margin: 0 }
    .clients-list li {
        position: relative;
    }
    .clients-list li img.color-img {
        top: 0;
        left: 0;
        display: none;
        position: absolute;
    }
    .clients-list li img.client_img {
        width:130px;
        height:50px;
        padding:5px;
        border-radius:3px;
        
        -webkit-filter: grayscale(100%);
           -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
             -o-filter: grayscale(100%);
                filter: grayscale(100%);
                filter: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogPGZpbHRlciBpZD0iZ3JheXNjYWxlIj4KICA8ZmVDb2xvck1hdHJpeCB0eXBlPSJtYXRyaXgiIHZhbHVlcz0iMC4zMzMzIDAuMzMzMyAwLjMzMzMgMCAwIDAuMzMzMyAwLjMzMzMgMC4zMzMzIDAgMCAwLjMzMzMgMC4zMzMzIDAuMzMzMyAwIDAgMCAwIDAgMSAwIj48L2ZlQ29sb3JNYXRyaXg+CiA8L2ZpbHRlcj4KPC9zdmc+#grayscale");
                filter: gray;
    }

    .clients-list li img.client_img:hover 
    {
    -webkit-filter: none;
           -moz-filter: none;
            -ms-filter: none;
             -o-filter: none;
                filter: none;
    }
    .clients-list li:hover img.color-img { display: block }
    .media-wrap{
        background: url("/assets/rental_agreement/media _bg.jpg") no-repeat;
        background-size: cover;
        padding: 50px 0 468px;
    }
    .media-wrap h4.rental_head {
            width: 40%;
            text-align: center;
            // border-bottom: 1px solid #000;
            line-height: 0.1em;
            margin: 0 auto 5%;
            position: relative;
            top: 35px;
        }
        .media-wrap h4.rental_head span {
            
            padding: 8%;
            font-weight: bold;
            color: #2d2b2b;
        }
        .media-icons{
            padding-top: 50px;
    }
    .media-wrap-rental{
        background: url("/assets/rental_agreement/media _bg.jpg") no-repeat;
        background-size: cover;
        // padding: 50px 0 420px;
    }
    // .media-wrap h4.rental_head {
    //         text-align: center;
    //         // border-bottom: 1px solid #000;
    //         line-height: 0.1em;
    //         // margin: 0 auto 5%;
    //         position: relative;
    //         top: 35px;
    //     }
        .media-wrap-rental h4.media_head {
            text-align: center;
            // border-bottom: 1px solid #000;
            line-height: 0.1em;
            // margin: 0 auto 5%;
            position: relative;
            top: 35px;
            font-size: 18px;
            font-weight: 600;
        }
        .media-wrap-rental h4.rental_head span {
            
            padding: 8%;
            font-weight: bold;
            color: #2d2b2b;
        }
        .media-wrap-rental .media-icons{
            padding-top: 120px;
        }
        .media-wrap-rental .for-media-icons-bottom{
            padding-bottom: 120px;
        }

        .testimonial-wrap-rental{
        background: url("/assets/rental_agreement/testimonial_bg.jpg");
        background-size: cover;
        // padding: 50px 0 150px;
        text-align: left;
        color: white;
        }
        .testimonial-wrap-rental .testimonial_head{
            color: #fff;
            text-align: center;
            font-weight: 600;
            font-size: 18px;
        }
        .testimonial-wrap-rental .for-testimonial-icons{
            padding-top: 30px;
        }
        .testimonial-wrap-rental .for-testimonial-icons-bottom{
            padding-bottom: 30px;
        }

        .testimonial-wrap-rental h4.rental_head span {
            background: transparent;
            padding: 2%;
            color: #fff;
            text-align: center;
        } 
        .testimonial-wrap-rental h4{
            color: #26c3ba;
        }
 
    @media all and (min-width: 320px) and (max-width: 980px) {
        .gpa_spa.container-fluid .fun_item_img{
            padding-left: 5px;
        }
    }
    @media all and (min-width: 320px) and (max-width: 640px) {
        .gpa_spa.container-fluid .for-heading{
            padding-top: 20px;
        }
    }
    @media all and (min-width: 320px) and (max-width: 991px) {
        .media-wrap-rental .media-icons{
            padding-top: 0;
        }
        .media-wrap-rental .for-media-icons-top{
            padding-top: 30px;
        }
        .media-wrap-rental .media-icons img{
            display: block;
            margin: auto;
        }
        // .media-wrap-affidavit .media-icons img{
        //     width: 75%;
        // }
    }
