<div class="sitemap" >
<a id="sitemap"></a>
<hr/>
<h4>SITE MAP</h4>
<% city_id = @city.id rescue params[:city_id] || 1 %>
  <div class="layer">
    <div class="layer-head">Employees ::</div>
    <div class="layer-body">
      <li><%= link_to "Employee", employees_path %> </li>
      <li><%= link_to "Roles", roles_path %> </li>
      <li><%= link_to "Status", statuses_path %> </li>
    </div>
  </div>
  <div class="layer">
    <div class="layer-head">User ::</div>
    <div class="layer-body">
      <li><%= link_to "Users", users_path %> </li>
    </div>
  </div>
  <div class="layer">
    <div class="layer-head">Order ::</div>
    <div class="layer-body">
      <li><%= link_to "Orders", "/admin/orders" %> </li>
      <li><%= link_to "Payments", payments_path %> </li>
      <li><%= link_to "Tracking", orders_tracks_path %> </li>
      <li><%= link_to "Answers", services_orders_answers_path %> </li>
      <li><%= link_to "Delivery Status", orders_delivery_statuses_path %> </li>
      <li><%= link_to "Order Status", orders_statuses_path %> </li>
    </div>
  </div>
  <div class="layer">
    <div class="layer-head">Service ::</div>
    <div class="layer-body">
      <li><%= link_to "Services", services_path %> </li>
      <li><%= link_to "Coupons", coupons_path %> </li>
      <li><%= link_to "Partner Request", "/admin/partner_requests" %> </li>
    </div>
  </div>
  <div class="layer">
    <div class="layer-head">Panels ::</div>
    <div class="layer-body">
      <li><%= link_to "Documents", documents_path %> </li>
      <li><%= link_to "Verification", user_verification_path %> </li>
      <li><%= link_to "Document Search", documents_search_path %> </li>
      <li><%= link_to "Order Search", orders_search_path %> </li>
      <li><%= link_to "User Search", users_search_path %></li>
      <li><%= link_to "Sales Dashboard", dbmetrics_service_order_count_path %>
      <li><%#= link_to "State requirements", state_requirements_path %> </li>
    </div>
  </div>
  <div class="layer">
    <div class="layer-head">Address Fields ::</div>
    <div class="layer-body">
      <li><%= link_to "Countries", countries_path(:city_id => city_id) %></li>
      <li><%= link_to "States", states_path(:city_id => city_id) %></li>
      <li><%= link_to "Cities", cities_path(:city_id => city_id) %></li>
      <li><%= link_to "Localities", localities_path(:city_id => city_id) %></li>
    </div>
  </div>  
  <div class="layer">
    <div class="layer-head">Questions ::</div>
    <div class="layer-body">
      <li><%= link_to "Questions", services_questions_path %></li>
      <li><%#= link_to "Options", documents_questions_options_path %></li>
      <li><%= link_to "Response Type", documents_questions_response_types_path %></li>
      <li><%= link_to "Answers", services_orders_answers_path %> </li>

    </div>
  </div>
  <div class="layer">
    <div class="layer-head">Others ::</div>
    <div class="layer-body">
      <li><%= link_to "Contact Us", '/admin/contact_requests' %> </li>
      <li><%#= link_to "Subscribers", '/admin/subscribers' %></li>
    </div>
  </div>
</div>