<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @verification.code %>
</p>

<p>
  <strong>Type:</strong>
  <%= @verification.type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @verification.status_id %>
</p>

<p>
  <strong>Valid till:</strong>
  <%= @verification.valid_till %>
</p>

<p>
  <strong>User:</strong>
  <%= @verification.user_id %>
</p>

<%= link_to 'Edit', edit_verification_path(@verification) %> |
<%= link_to 'Back', verifications_path %>
