<p id="notice"><%= notice %></p>

<h1>Listing Dvaults Profiles</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Dvault</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dvaults_profiles.each do |dvaults_profile| %>
      <tr>
        <td><%= dvaults_profile.name %></td>
        <td><%= dvaults_profile.dvault_id %></td>
        <td><%= link_to 'Show', dvaults_profile %></td>
        <td><%= link_to 'Edit', edit_dvaults_profile_path(dvaults_profile) %></td>
        <td><%= link_to 'Destroy', dvaults_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @dvaults_profiles %>

<%= link_to 'New Profile', new_dvaults_profile_path %>
