<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dvaults_profile.name %>
</p>

<p>
  <strong>Dvault:</strong>
  <%= @dvaults_profile.dvault_id %>
</p>

<%= link_to 'Edit', edit_dvaults_profile_path(@dvaults_profile) %> |
<%= link_to 'Back', dvaults_profiles_path %>
