<%= simple_form_for(@notification) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :template %>
    <%#= f.input :read %>
    <%= f.label :notice_type %>
    <%= f.select :notice_type, %w[info warning error offer]  %>
    <%= f.input :user_id %>
    <%= f.input :order_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
