<p id="notice"><%= notice %></p>

<h1>Listing Notifications</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Msg</th>
      <th>Read</th>
      <th>Type</th>
      <th>User</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.template_id %></td>
        <td><%= notification.read %></td>
        <td><%= notification.notice_type %></td>
        <td><%= notification.user_id %></td>
        <td><%= notification.order_id %></td>
        <td><%= link_to 'Show', notification %></td>
        <td><%= link_to 'Edit', edit_notification_path(notification) %></td>
        <td><%= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notification', new_notification_path %>
