<p id="notice"><%= notice %></p>

<p>
  <strong>Msg:</strong>
  <%= @notification.template.message %>
</p>

<p>
  <strong>Read:</strong>
  <%= @notification.read %>
</p>

<p>
  <strong>Type:</strong>
  <%= @notification.notice_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @notification.user_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @notification.order_id %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
