<p id="notice"><%= notice %></p>

<h1>Listing Orders Feedbacks</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Order</th>
      <th>Message</th>
      <th>Status</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders_feedbacks.each do |orders_feedback| %>
      <tr>
        <td><%= orders_feedback.order_id %></td>
        <td><%= orders_feedback.message %></td>
        <td><%= orders_feedback.status_id %></td>
        <td><%= orders_feedback.note %></td>
        <td><%= link_to 'Show', orders_feedback %></td>
        <td><%= link_to 'Edit', edit_orders_feedback_path(orders_feedback) %></td>
        <td><%= link_to 'Destroy', orders_feedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feedback', new_orders_feedback_path %>
