<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @orders_feedback.order_id %>
</p>

<p>
  <strong>Message:</strong>
  <%= @orders_feedback.message %>
</p>

<p>
  <strong>Status:</strong>
  <%= @orders_feedback.status_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @orders_feedback.note %>
</p>

<%= link_to 'Edit', edit_orders_feedback_path(@orders_feedback) %> |
<%= link_to 'Back', orders_feedbacks_path %>
