<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table id='myUsersTable' class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <!-- <th>Password</th> -->
      <th>City</th>
      <th>Profile type</th>
      <th>Profile</th>
      <th>Status</th>
      <th>Parent</th>
      <th>Phone</th>
      <th>Profile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <!-- <td><%#= user.password %></td> -->
        <td><%= user.city_id %></td>
        <td><%= user.profile_type %></td>
        <td><%= user.profile_id %></td>
        <td><%= user.status_id %></td>
        <td><%= user.parent_id %></td> 
        <td><%= user.phone %></td>
        <td><%= link_to 'Profile', (user.profile_type == 'Users::Profile') ? users_profile_path(id: user.profile_id) : '#' %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @users %>
<%= link_to 'New User', new_user_path, class: 'user' %>
<%= link_to 'Download User', "/admin/users.xls", :class => 'btn btn-primary' %>

<style>
  a.user {
      background-color: #024448;
      padding: 10px;
      color: #fff;
  }
</style>
<script>
    $(function(){
      $("#myUsersTable").tablesorter();
    });
</script>
