<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city_id %>
</p>

<p>
  <strong>Profile type:</strong>
  <%= @user.profile_type %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @user.profile_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status_id %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @user.parent_id %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
