<%= form_for(@state) do |f| %>
  <% if @state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@state.errors.count, "error") %> prohibited this state from being saved:</h2>

      <ul>
      <% @state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url_name %><br>
    <%= f.text_field :url_name %>
  </div>
  <div class="field">
    <%= f.label :country_id %><br>
    <%= f.association :country %>
  </div>
  <div class="field">
    <%= f.label :status_id %><br>
    <%= f.association :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
