<p id="notice"><%= notice %></p>

<h1>Listing States</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url name</th>
      <th>Country</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @states.each do |state| %>
      <tr>
        <td><%= state.name %></td>
        <td><%= state.url_name %></td>
        <td><%= state.country_id %></td>
        <td><%= state.status_id %></td>
        <td><%= link_to 'Show', state %></td>
        <td><%= link_to 'Edit', edit_state_path(state) %></td>
        <td><%= link_to 'Destroy', state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @states %>
<%= link_to 'New State', new_state_path, class: 'new-state' %>

<style>
  a.new-state {
      background-color: #024448;
      padding: 10px;
      color: #fff;
  }
</style>
