<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @state.name %>
</p>

<p>
  <strong>Url name:</strong>
  <%= @state.url_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @state.country_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @state.status_id %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
