<%= simple_form_for(@coupon) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :code %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.label :coupon_type %>
    <%= select("coupon", "coupon_type", %w[fixed percentage], {include_blank: 'None'}) %>
    <%#= f.input :coupon_type %>
    <%= f.input :value %>
    <%= f.input :limit %>
    <%= f.input :count %>
    <%= f.input :active %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
