<p id="notice"><%= notice %></p>

<h1>Listing Coupons</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Code</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Coupon type</th>
      <th>Value</th>
      <th>Limit</th>
      <th>Count</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coupons.each do |coupon| %>
      <tr>
        <td><%= coupon.code %></td>
        <td><%= coupon.start_date %></td>
        <td><%= coupon.end_date %></td>
        <td><%= coupon.coupon_type %></td>
        <td><%= coupon.value %></td>
        <td><%= coupon.limit %></td>
        <td><%= coupon.count %></td>
        <td><%= coupon.active %></td>
        <td><%= link_to 'Show', coupon %></td>
        <td><%= link_to 'Edit', edit_coupon_path(coupon) %></td>
        <td><%= link_to 'Destroy', coupon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @coupons %>
<%= link_to 'New Coupon', new_coupon_path %>
