<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @coupon.code %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @coupon.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @coupon.end_date %>
</p>

<p>
  <strong>Coupon type:</strong>
  <%= @coupon.coupon_type %>
</p>

<p>
  <strong>Value:</strong>
  <%= @coupon.value %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @coupon.limit %>
</p>

<p>
  <strong>Count:</strong>
  <%= @coupon.count %>
</p>

<p>
  <strong>Active:</strong>
  <%= @coupon.active %>
</p>

<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
