<%= simple_form_for(@orders_track) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :drafted %>
  </div>
  <div class="form-inputs">
    <%= f.input :printed %>
  </div>
  <div class="form-inputs">
    <%= f.input :verified %>
  </div>
  <div class="form-inputs">
    <%= f.input :signed %>
  </div>
  <div class="form-inputs">
    <%= f.input :notary %>
  </div>
  <div class="form-inputs">
    <%= f.input :delivered %>
  </div>
  <div class="form-inputs">
    <%= f.input :user_status %>
  </div>
  <!-- <div class="form-inputs">
    <%#= f.input :verified_at %>
  </div>
  <div class="form-inputs">
    <%#= f.input :printed_at %>
  </div>
  <div class="form-inputs">
    <%#= f.input :drafted_at %>
  </div>
  <div class="form-inputs">
    <%#= f.input :delivered_at %>
  </div>
  <div class="form-inputs">
    <%#= f.input :signed_at %>
  </div>
  <div class="form-inputs">
    <%#= f.input :notary_at %>
  </div> -->
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
