<p id="notice"><%= notice %></p>

<h1>Listing Orders Tracks</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Order</th>
      <th>TXNID</th>
      <th>drafted</th>
      <th>User Status</th>
      <th>verified</th>
      <th>notary</th>
      <th>signed</th>
      <th>printed</th>
      <th>delivered</th>
      <th colspan='3'></th>
    </tr>
  </thead>

  <tbody>
    <% @orders_tracks.each do |orders_track| %>
      <tr>
        <td><%= orders_track.order_id %></td>
        <td><%= orders_track.order.txnid %></td>
        <td><%= orders_track.drafted %></td>
        <td><%= orders_track.user_status %></td>
        <td><%= orders_track.verified %></td>
        <td><%= orders_track.notary %></td>
        <td><%= orders_track.signed %></td>
        <td><%= orders_track.printed %></td>
        <td><%= orders_track.delivered %></td>
        <td><%= link_to 'Show', orders_track %></td>
        <td><%= link_to 'Edit', edit_orders_track_path(orders_track) %></td>
        <td><%= link_to 'Destroy', orders_track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @orders_tracks %>
<%= link_to 'New Track', new_orders_track_path %>
