<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 Bad Request Error (404)</title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <div class="container-fluid">
      <div class="row clearfix bg">
        <div class="col-md-offset-6 col-md-6">
          <a href="/"><button class="btn btn-style">Docket Tech</button></a>
        </div>
      </div>
    </div>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
<style>
  .bg{
    background-image: url('/404.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

button.btn.btn-style {
  width: 200px;
    background-color: #00afef;
    border: 1px solid #32112a;
    color: #32112a;
    position: absolute;
    top: 23em;
    left: 8em;
}
</style>

