<div>
	<p>Hi Team,</p>

<p>We have a new <%= @request.request_type.capitalize %> request from <%= @request.name %></p>
	<ul>
		<li>
			<b>Email:</b> <%= @request.email %>
		</li>
		<br>
		<li>
			<b>Phone:</b> <%= @request.phone %>
		</li>
		<br>
		<li>
			<b>Message:</b> <%= @request.message %>
		</li>
	</ul>
<br>
Please Look into this at the earliest.

<div class="footer">
	Thanks,
	<br>
	Tech Team
</div>
</div>