<%= simple_form_for(@attachment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :s3_url %>
    <%= f.input :file_id %>
    <%= f.input :file_type %>
    <%= f.input :tag %>
    <%= f.input :name %>
    <%= f.input :is_processed %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
