<p id="notice"><%= notice %></p>

<h1>Listing Attachments</h1>

<table>
  <thead>
    <tr>
      <th>S3 url</th>
      <th>File</th>
      <th>File type</th>
      <th>Tag</th>
      <th>Name</th>
      <th>Is processed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attachments.each do |attachment| %>
      <tr>
        <td><%= attachment.s3_url %></td>
        <td><%= attachment.file_id %></td>
        <td><%= attachment.file_type %></td>
        <td><%= attachment.tag %></td>
        <td><%= attachment.name %></td>
        <td><%= attachment.is_processed %></td>
        <td><%= link_to 'Show', attachment %></td>
        <td><%= link_to 'Edit', edit_attachment_path(attachment) %></td>
        <td><%= link_to 'Destroy', attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @attachments %>
<%= link_to 'New Attachment', new_attachment_path %>
