<p id="notice"><%= notice %></p>

<p>
  <strong>S3 url:</strong>
  <%= @attachment.s3_url %>
</p>

<p>
  <strong>File:</strong>
  <%= @attachment.file_id %>
</p>

<p>
  <strong>File type:</strong>
  <%= @attachment.file_type %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @attachment.tag %>
</p>

<p>
  <strong>Name:</strong>
  <%= @attachment.name %>
</p>

<p>
  <strong>Is processed:</strong>
  <%= @attachment.is_processed %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
