<% address = @address %>
<% if @shipping %>
	<div class="address"> 
		<div class="radio radio-primary radio_styling">
          <label>
            <input type="radio" name="address_id" id="optionsRadios1" value="<%= address.id %>">
          </label>
        </div>
		<h4 class="profile_head1"><%= address.tag %></h4> 
		<div class="address_content">
			<div class="address_details">
				<%= address.address1 + ', ' + address.locality.name %> <br>
				<%= address.city.name + ', ' + address.pincode %>
			</div>
		</div>
	</div>
<% else %>
	<div class="address address-<%= address.id %>" data-atr="<%= address.id %>">
		<h4 class="profile_head1"><%= address.tag %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
			<i class="fa fa-pencil-square-o address-edit"></i> &nbsp;&nbsp; 
			<i class="fa fa-trash-o pull-right deleteConfirm" data-toggle="modal" data-target="#deleteConfirm" ></i>
		</h4> 
		<div class="address_content">
			<%= address.address1 + ', ' + address.locality.name %> <br>
			<%= address.city.name + ', ' + address.pincode %>
		</div>
	</div>
<% end %>