<div class="modal_styling">
	<div id='addressModal' class="modal fade" role="dialog" tabindex='-1'>
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="form_style">
					<%= form_tag('/add_address', remote: true, type: :post, class: 'address-add  styel_modal', :onSubmit => 'formHide()') do |f| %>
						<%= hidden_field_tag 'user_id',nil, value:"#{current_user}" %>
						<%= hidden_field_tag 'shipping',nil, value: (@shipping ? true : false) %>
						<legend class="pull-left text-white">&nbsp; &nbsp;Add Address</legend>
						<div class="row clearfix">
							<div class="col-md-4">
								<div class="form-group">
									<label for="" class="pull-left">Address Tag(unique)</label>
								</div>
							</div>
							<div class="col-md-8">
								<div class="form-group">
									<input type="text" class="form-control profile_input_styles keyup-fake keyup-characters" name="tag" placeholder="Eg: Home, Office" required/>
								</div>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-md-4">
								<div class="form-group">
									<label class="pull-left" class="pull-left">Address Line 1</label>
								</div>
							</div>
							<div class="col-md-8">
								<div class="form-group">
									<input type="text" class="form-control profile_input_styles keyup-fake keyup-characters" name='address1' placeholder="Enter Address Line 1" required/>
								</div>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-md-4">
								<div class="form-group">
									<label for="" class="pull-left">Address Line 2</label>
								</div>
							</div>
							<div class="col-md-8">
								<div class="form-group">
									<input type="text" class="form-control profile_input_styles keyup-fake keyup-characters" name='address2' id="" placeholder="Enter Address Line 2" required>
								</div>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-md-4">
								<div class="form-group">
									<label for="" class="pull-left">Landmark</label>
								</div>
							</div>
							<div class="col-md-8">
								<div class="form-group">
									<input type="text" class="form-control profile_input_styles keyup-fake keyup-characters" name="landmark" placeholder="Enter Landmark" required>
								</div>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-md-4">
								<div class="form-group">
									<label for="" class="pull-left">Locality</label>
								</div>
							</div>
							<div class="col-md-8">
								<div class="form-group">
									<input type="text" list="localities" maxlength="20" class="form-control profile_input_styles keyup-characters" name="locality" placeholder="Enter Locality" required>
									<datalist id="localities">
										  <% @localities.each do |locality| %>
											<option value="<%= locality.name %>"><%= locality.name + ', ' + locality.city.name %></option>
										  <% end %>
									</datalist>
								</div>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-md-4">
								<div class="form-group">
									<label for="" class="pull-left">City</label>
								</div>
							</div>
							<div class="col-md-8">
								<div class="form-group">
									<input type="text" list='cities' name='city' class="form-control profile_input_styles keyup-fake keyup-characters" placeholder="Enter City" required>
									<datalist id="cities">
										  <% @cities.each do |city| %>
											<option value="<%= city.name %>"><%= city.name %></option>
										  <% end %>
									</datalist>
								</div>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-md-4">
								<div class="form-group">
									<label for="" class="pull-left">State</label>
								</div>
							</div>
							<div class="col-md-8">
								<div class="form-group">
									<input type="text" list='states' name='state' class="form-control profile_input_styles keyup-fake keyup-characters" placeholder="Enter State" required>
									<datalist id="states">
										  <% @states.each do |state| %>
											<option value="<%= state.name %>"><%= state.name %></option>
										  <% end %>
									</datalist>
								</div>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-md-4">
								<div class="form-group">
									<label for="" class="pull-left">Country</label>
								</div>
							</div>
							<div class="col-md-8">
								<div class="form-group">
									<input type="text" list='countries' name='country' class="form-control profile_input_styles keyup-fake keyup-characters" placeholder="Enter Country" required>
									<datalist id="countries">
										  <% @countries.each do |country| %>
											<option value="<%= country.name %>"><%= country.name %></option>
										  <% end %>
									</datalist>
								</div>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-md-4">
								<div class="form-group">
									<label for="" class="pull-left">Pincode</label>
								</div>
							</div>
							<div class="col-md-8">
								<div class="form-group">
									<input type="text" class="form-control profile_input_styles keyup-numeric" name="pincode" placeholder="Enter Pincode" maxlength="6" minlength="6" required>
								</div>
							</div>
						</div>
						<div class="row clearfix center-block">
							<div class="col-md-12 button-top">
								<button type="submit" class="btn btn-primary submit-address pull-right" id='save-address'>Save Address</button>
							</div>
						</div>
					<%end%>
				</div>
				<div class="thankyou" style="display:none;">
					<div class="row">
						<div class="col-md-12">
							<h1>Your address is Added successfully</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$('.submit-address').bind('click',function (e){
	    e.preventDefault();
	    if ($('.address-add')[0].checkValidity()){
		    $.ajax({
		      type: "POST",
		      url : '/add_address',					
		      data: $('.address-add').serialize()
		    }).fail(function (data, textStatus, jqXHR){
		          console.log("Error occurred when retrieving job executions");
		    }).success(function (data, textStatus, jqXHR){
		        // $('#addressEdit .result').html(data);
		        $('#addressModal').modal('toggle');
				$('.address-details').append(data);
				$.material.init();
				editAddress();
				$('.address-add').find('input:text').val('');
				setNotification('success', 'New Address Added');
		    })
		}
		else{
			setNotification('error', 'Enter all fields');
		}
	}); 
	function editAddress(){
		$('.address-edit').bind('click',function (e){
		    e.preventDefault();
		    var address_id = $(this).parent().parent().data('atr');
		    $.ajax({
		      type: "GET",
		      url : '/edit_address',					
		      data: 'address_id='+address_id+'&user_id='+"<%= current_user %>"
		    }).fail(function (data, textStatus, jqXHR){
		          console.log("Error occurred when retrieving job executions");
		    }).success(function (data, textStatus, jqXHR){
		        $('#addressEdit .result').html(data);
		        $('#addressEdit').modal('toggle');
		    })
		}); 
	}
			// $('.address-add').hide('fast');
		// $('.thankyou').show('slow');
	// }
	$('.keyup-fake').keyup(function() {
		$('span.error-keyup-6').remove();
		var inputVal = $(this).val();
		var fakeReg = /(.)\1{2,}/;
		if(fakeReg.test(inputVal)) {
			$(this).after('<span class="error error-keyup-6">Invalid text.</span>');
		}
	});
	// $('.keyup-email').keyup(function() {
	// 	$('span.error-keyup-7').remove();
	// 	var inputVal = $(this).val();
	// 	var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
	// 	if(!emailReg.test(inputVal)) {
	// 		$(this).after('<span class="error error-keyup-7">Invalid Email Format.</span>');
	// 	}
	// });
	$('.keyup-numeric').keyup(function() {
		$('span.error-keyup-1').hide();
		var inputVal = $(this).val();
		var numericReg = /^\d*[0-9](|.\d*[0-9]|,\d*[0-9])?$/;
		if(!numericReg.test(inputVal)) {
			$(this).after('<span class="error error-keyup-1">Numeric characters only.</span>');
		}
	});
	$('.keyup-email').keyup(function() {
		$('span.error-keyup-7').remove();
		var inputVal = $(this).val();
		var emailReg = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
		if(!emailReg.test(inputVal)) {
			$(this).after('<span class="error error-keyup-7">Invalid Email Format.</span>');
		}
	});
	$('.keyup-characters').keyup(function() {
		$('span.error-keyup-2').remove();
		var inputVal = $(this).val();
		var characterReg = /^\s*[a-zA-Z0-9,\s]+\s*$/;
		if(!characterReg.test(inputVal)) {
			$(this).after('<span class="error error-keyup-2">No special characters allowed.</span>');
		}
	});
	$('.keyup-phone').keyup(function() {
		$('span.error-keyup-4').remove();
		var inputVal = $(this).val();
		var characterReg = /[0-9 -()+]+$/;
		if(!characterReg.test(inputVal)) {
			$(this).after('<span class="error error-keyup-4">Format xxx-xxx-xxxx</span>');
		}
	});
	$('#addressModal').appendTo("body").modal('hide');
	$(document).keypress(function(e) { 
	    if (e.keyCode == 27) { 
	        $("#addressModal").fadeOut(500);
	        //or
	        window.close();
	    } 
	});
</script>

<style>
	button.close {
	    position: relative;
	    top: 0.5em !important;
	    right: 2em !important;
	}
</style>