<div class="description">
	<h1 class="attesttation-head">ATTESTATION</h1>
	<button class="start">GO</button>
</div>				
<%= form_tag('/neworder', type: :post, :class => 'attestation-form', :style => "display:none;", multipart: true) do |f| %>
	<%= hidden_field_tag 'user_id',nil, value: current_user %>
	<%= hidden_field_tag 'service_id',nil, value: @service.id %>
	<%= hidden_field_tag 'product',nil, value: 'Attestation' %>
	<div class="modal-header">
        <button type="button" class="close close_style" data-dismiss="modal">&times;</button>
    </div>
	<div class="layer-question layer num-val">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					ENTER THE NUMBER OF DOCUMENTS:
				</div>
			</div>
			<div class="col-md-4">
				<div class="answer">
					<span class="errmsg"></span>
					<input type="text" class="input_styling" name="answer[15]" required id='attest-copies' maxlength="5" placeholder='Enter no. of copies (Rs. 60 per copy)' required>
				</div>
			</div>
			<div class="col-md-2">
				<div class="price no-copies">Rs. <span id='attest-total-copy'>0</span></div>
				<div class="doc-hint">
					<span><p class="para-text">(Flat Rate Per Document)</p></span>
				</div>
			</div>
		</div>
	</div>
	<div class="layer-question layer">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					PRINT TYPE:
				</div>
			</div>
			<div class="col-md-4">
				<div class="answer print-type">
					<div class="radio radio-primary">
					    <label class="radio-inline">
					        <input type="radio" class="radio_style" name="answer[38]" value="black" checked=true required>
					    </label><p style="position:relative;left: -0.5em;display: inline-block;">Black & White</p>
					</div> &nbsp;
					<div class="radio radio_fix radio-primary">
					    <label class="radio-inline">
					        <input type="radio" class="radio_style" name="answer[38]" value="color" required>
					    </label><p style="position:relative;left: -0.5em;display: inline-block;">Colour</p>
					</div>
				</div>
			</div>
			<div class="col-md-2 print-hint" style='display:none'>
				<div class="price">Rs. <span id='print-type-price'>0</span></div>
				<div class="doc-hint">
					<span><p class="para-text">(Rs. 20 per document for colour print)</p></span>
				</div>
			</div>
		</div>
	</div>
	<div class="layer-question layer">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					USAGE OF DOCUMENTS 
				</div>
			</div>
			<div class="col-md-4">
				<div class="answer attest-select-country">
					<div class="radio radio-primary">
					    <label class="radio-inline">
					        <input type="radio" class="radio_style" name="answer[16]" value="Domestic" required>
					    </label><p style="position:relative;left: -0.5em;display: inline-block;">Domestic</p>
					</div> &nbsp;
					<div class="radio radio_fix radio-primary">
					    <label class="radio-inline">
					        <input type="radio" class="radio_style" name="answer[16]" value="International" required>
					    </label><p style="position:relative;left: -0.5em;display: inline-block;">International</p>
					</div>
					<!-- <input type="radio" name="answer[20]" value="Domestic" required>Domestic
					<input type="radio" name="answer[20]" value="International" required>International -->
				</div>
			</div>
			<div class="col-md-2">
				<div class="price">Rs. <span id='attest-country-price'>0</span></div>
				<div class="doc-hint">
					<span><p class="para-text">(Service Charge)</p></span>
				</div>
			</div>
		</div>
	</div>
	<div class="layer-question layer">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					 SELECT A TIME SLOT TO COLLECT YOUR DOCUMENTS
				</div>
			</div>
			<div class="col-md-4">
				<div class="answer">
					<div id="" class="input-append">
						<select name="answer[17]" id="" class="select_option" required>
							<option value="">Select A Time Slot</option>
					    	<% @slots.each_with_index do |(key,value),index| %>
					    	<option value="<%= value + ' ' + key %>" data-atr="<%= value %>"><%= key %></option>
					    	<% end %>
					    </select>
					    <!-- <input name='answer[23]' class="calendar input_styling" data-format="MM/dd/yyyy" placeholder="Enter the date" type="text" required></input>
					    <span class="add-on"> -->
					      <!-- <i data-time-icon="fa fa-clock-o" data-date-icon="fa fa-calendar">
					      </i> -->
					      <!-- <i data-date-icon="fa fa-calendar">
					      </i>
					    </span> -->
					    <span><p class="para-text2">(Assured visit within 24 - 36 Business Hours)</p></span>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="price">Rs. <span id='attest-pickup-price'>99</span>
					<input type="hidden" name='pickup_amount' value='99'>
					<div><p>(Convenience Fee)</p></div>
				</div>
			</div>
		</div>
	</div>
	<div class="layer-question layer">
		<h4>
			RECOMMENDED SEALS
		</h4>
		<div class="row">
			<div class="col-md-6">
				<div class="question">Seal of Authentication (Gold Foil)</div>
			</div>
			<div class="col-md-4">
				<div class="answer attest-sticker-select">
					<div class="radio radio-primary">
					    <label class="radio-inline">
					        <input type="radio" class="radio_style" name="answer[18]" value="yes" required>
					    </label><p style="position:relative;left: -0.5em;display: inline-block;">Yes</p>
					</div>&nbsp;&nbsp;
					<div class="radio radio-primary">
					    <label class="radio-inline">
					        <input type="radio" class="radio_style" name="answer[18]" value="no" required>
					    </label><p style="position:relative;left: -0.5em;display: inline-block;">No</p>
					</div>
					<!-- <input type="radio" name="answer[21]" value="yes">Yes
					<input type="radio" name="answer[21]" value="no">No -->
				</div>
			</div>
			<div class="col-md-2">
				<div class="price">Rs. <span id='attest-sticker-price'>0</span>
					<div><p>(Flat Rate)</p></div>
				</div>
			</div>
		</div>
	</div>
	<div class="layer-question layer">
		<div class="row">
			<div class="col-md-6">
				<div class="question">Commission Expiry Seal</div>
			</div>
			<div class="col-md-4">
				<div class="answer attest-comission-select">
					<div class="radio radio-primary">
					    <label class="radio-inline">
					        <input type="radio" class="radio_style" name="answer[19]" value="yes" required>
					    </label><p style="position:relative;left: -0.5em;display: inline-block;">Yes</p>
					</div>&nbsp;&nbsp;
					<div class="radio radio-primary">
					    <label class="radio-inline">
					        <input type="radio" class="radio_style" name="answer[19]" value="no" required>
					    </label><p style="position:relative;left: -0.5em;display: inline-block;">No</p>
					</div>
					<!-- <input type="radio" name="answer[22]" value="yes" required>Yes
					<input type="radio" name="answer[22]" value="no" required>No -->
				</div>
			</div>
			<div class="col-md-2">
				<div class="price">Rs. <span id='attest-commission-price'>0</span>
					<div><p>(Flat Rate)</p></div>
				</div>
			</div>
		</div>		
	</div>
	<div class="layer-question layer">
		<div class="row">
			<div class="col-md-6">
				<div class="question">Address & Date Seal</div>
			</div>
			<div class="col-md-4">
				<div class="answer attest-date-select">
					<div class="radio radio-primary">
					    <label class="radio-inline">
					        <input type="radio" class="radio_style" name="answer[20]" value="yes" required>
					    </label><p style="position:relative;left: -0.5em;display: inline-block;">Yes</p>
					</div>&nbsp;&nbsp;
					<div class="radio radio-primary radio-no-styles">
					    <label class="radio-inline">
					        <input type="radio" class="radio_style" name="answer[20]" value="no" required>
					    </label><p style="position:relative;left: -0.5em;display: inline-block;">No</p>
					</div>
					<!-- <input type="radio" name="answer[23]" value="yes" required>Yes
					<input type="radio" name="answer[23]" value="no" required>No -->
				</div>
			</div>
			<div class="col-md-2">
				<div class="price">Rs. <span id='attest-date-price'>0</span>
					<div><p>(Flat Rate)</p></div>
				</div>
			</div>
		</div>
		<br>
	</div>
	<div class="layer-question layer">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					 WHEN SHALL WE DELIVER YOUR DOCUMENT
				</div>
			</div>
			<div class="col-md-4">
				<div class="answer">
					<div id="datetimepicker3" class="input-append">
					    <input name='answer[21]' class="calendar input_styling" data-format="MM/dd/yyyy" placeholder="Enter delivery date" type="text" required></input>
					    <span class="add-on">
					      <!-- <i data-time-icon="fa fa-clock-o" data-date-icon="fa fa-calendar">
					      </i> -->
					      <i data-date-icon="fa fa-calendar">
					      </i>
					    </span>
					    <span><p class="para-text2">24-48 Hours Delivery after document collection)</p></span>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="price">Rs. <span id='attest-deliver-price'>99 </span>
					<input type="hidden" name='deliver_amount' value='99'>
					<div><p>(Conveyance Charge)</p></div>
				</div>
			</div>
		</div>
	</div>
	<div class="layer-question total-sum layer">
		<!-- <hr> -->
		<div class="row">
			<div class="col-md-6">
				<div class="question">Total Price</div>
			</div>
			<div class="col-md-4">
				<div class="answer"></div>
			</div>
			<div class="col-md-2">
				<input type="hidden" name='total_amount'>
				<div class="price" id='total-price'>Rs. <span>0</span></div>
				<div class="submit-btn">
					<input type="submit" class="submit" value='Next'>
				</div>
			</div>
		</div>
	</div>
	<div class="next pull-right">
        Next
    </div>
<% end %>
