<div class="container for-lower-footer">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="foot_blk">
						<div class="col-sm-4 col-md-4 col-lg-4 foot_cont">
							<h3>
								<a href="/">About Us</a>
							</h3>
							<div class="for-line">
							<p>
								Docket is India’s first online platform for documentation and registrations for individuals and businesses.<br> 
								Docket has served a wide range of documentation and registration services to an ever-growing number of customers since it’s inception in the year 2015. It has quickly become India’s favorite platform for delivering Documentations like Agreements, Affidavits, Bonds and Deeds at customers doorstep with it's core competency in facilitating services like Estamp, Franking, Notary and Attestations. Docket also has an expanded network of experts for Company/Firm, Business Licenses, Property and Legal Paperwork registrations across Bangalore.</p>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3 foot_sub">
							<h3>CONTACT</h3>
							<address>
								DOCKET TECH SOLUTIONS PRIVATE LIMITED<br>
								Mayur Tower, #10, <br>
								1st Floor, 3rd Main Rd, <br>
								Ashwini Layout, Ejipura, <br>
								Bangalore - 560047 <br><br>
								<i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&plus;91-81-0537 7103<br><br>
								<!-- <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&plus;91-80-4656 4656<br><br> -->
								<a href="mailto:support@dockettech.com" style='color:white'><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;support@dockettech.com</a>
							</address>
						</div>
						<div class="col-sm-5 col-md-5 col-lg-5 foot_links">
							<h3>OUR SERVICES</h3>
							<div class="row footer_links">
								<div class="col-md-3">
									<a href="/in/agreement">Agreements</a>
								</div>
								<div class="col-md-3">
									<a href="/in/affidavit">Affidavits</a>
								</div>
								<div class="col-md-3">
									<a href="/in/bond">Bonds</a>
								</div>
								<div class="col-md-3">
									<a href="/in/deed">Deeds</a>
								</div>
							</div>
							<div class="row footer_links">
								<div class="col-md-3">
									<a href="/in/notary">Notary</a>
								</div>
								<div class="col-md-3">
									<a href="/in/e-stamp">E-stamp</a>
								</div>
								<div class="col-md-3">
									<a href="/in/attestation">Attestation</a>
								</div>
								<div class="col-md-3">
									<a href="/in/franking">Franking</a>
								</div>
							</div>
							<div class="row footer_links">
								<div class="col-md-3">
									<a href="/in/startup">Registration</a>
								</div>
								<div class="col-md-3">
									<a href="/in/marketplace">Licenses</a>
								</div>
								<div class="col-md-3">
									<a href="/in/property">Property</a>
								</div>
								<div class="col-md-3">
									<a href="/in/paperwork">Paperwork</a>
								</div>
							</div>
							<div class="row footer_social">
								<div class="col-md-4"><h3>FOLLOW US</h3></div>
								<div class="col-md-8">
									<ul  style="list-style: none;padding-top:20px;display: inline-block;margin: -3% auto;">
										<a href="https://www.facebook.com/pages/Docket-Tech-Solutions-Private-	Limited/503043613211567">
											<li style="display: inline-block;"><%= image_tag "#{@base_url}/assets/social/facebook.png", :style => "border-radius: 100%;", :alt => "facebook" %></li>
										</a>
										<a href="https://twitter.com/dockettech">
											<li style="display: inline-block;margin-left: 4px;">
												<%= image_tag "#{@base_url}/assets/social/twitter.png", :style => "border-radius: 100%;", :alt => "twitter" %>
											</li>
										</a>
										<a href="https://plus.google.com/u/1/b/115856146323341081179/+DocketTechSolutionsPrivateLimitedBengaluru">
											<li style="display: inline-block;margin-left: 4px;">
												<%= image_tag "#{@base_url}/assets/social/googlef.png", :style => "border-radius: 100%;", :alt => "googleplus" %>
											</li>
										</a>
									</ul>
								</div>
							</div>
							<div class="row footer_links-1">
								<div class="col-md-3">
									<a href="/team">Team</a>
								</div>
								<div class="col-md-3">
									<a href="http://www.dockettech.com/privacy">Privacy</a>
								</div>
								<div class="col-md-3">
									<a href="http://www.dockettech.com/terms">Terms</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hr-line col-sm-12 col-md-12 col-lg-12">
					<hr class="contact_hr">      
					<h6>DOCKET TECH SOLUTIONS PVT. LTD. 2015. All rights reserved</h6>
				</div>
			</div>
</div>