<div class="media-wrap-affidavit" style="padding-top:0px;">
	<div class="container ">
		<div class="section-title">
			<h4 class="media_head">MEDIA MENTIONS</h4>
		</div>
		<br>
		<div class="row media-icons for-media-icons-top">
			<div class="col-md-4">
				<a href="http://www.iamwire.com/2016/02/fundingwire-healthkumbh-getvee-notary-mama-timemytask/132422" target="_blank"><img src="/assets/rental_agreement/media/iam_wire.png" alt="iamwire"></a>
			</div>
			<div class="col-md-4">
				<a href="https://inc42.com/flash-feed/notary-mama-funding/" target="_blank"><img src="/assets/rental_agreement/media/inc42.png" alt="inc42"></a>
			</div>
			<div class="col-md-4">
				<a href="http://www.newindianexpress.com/prcorner/?doc=201605060255PR_NEWS_EURO_ND__enIN201605052972_indiapublic&dir=25" target="_blank"><img src="/assets/rental_agreement/media/indian_express.png" alt="indianexpress"></a>
			</div>
		</div>
		<div class="row media-icons">
			<div class="col-md-4">
				<a href="http://www.telegraphindia.com/pressrelease/prnw/enin201605052972_indiapublic.html#.V59NN7h9600" target="_blank"><img src="/assets/rental_agreement/media/the_telegraph.png" alt="telegraph"></a>
			</div>
			<div class="col-md-4">
				<a href="https://yourstory.com/2014/08/notary-mama/" target="_blank"><img src="/assets/rental_agreement/media/your_story.png" alt="yourstory"></a>
			</div>
			<div class="col-md-4">
				<a href="http://www.bangaloremirror.com/columns/work/Documents-at-your-doorstep/articleshow/27922969.cms?" target="_blank"><img src="/assets/rental_agreement/media/bangalore_mirror.png" alt="bangaloremirror"></a>
			</div>
		</div>
		<div class="row media-icons for-media-icons-bottom">
			<div class="col-md-4">
				<a href="http://www.vccircle.com/releases?doc=201605060255PR_NEWS_EURO_ND__enIN201605052972_indiapublic&dir=25" target="_blank"><img src="/assets/rental_agreement/media/vccircle.png" alt="vccircle"></a>
			</div>
			<div class="col-md-4">
				<a href="http://therodinhoods.com/forum/topics/documents-at-your-doorstep" target="_blank"><img src="/assets/rental_agreement/media/rodinhoods.png" alt="robinhoods"></a>
			</div>
			<div class="col-md-4">
				<a href="http://bangalore.techstartup.in/news/docket-tech-launches-dreamstartups-a-first-of-its-kind-event-to-help-startups-register-their-company-for-free/" target="_blank"><img src="/assets/rental_agreement/media/techstartups.png" alt="techstartups"></a>
			</div>
		</div>
	</div>
</div>