<div id="cuponModal" class="modal fade"  role="dialog" tabindex='-1'>
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content cuppon_height">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body coupon-form">
        <%= form_tag('/apply_coupon', type: :post, remote: true) do |f| %>
          <%= hidden_field_tag 'user_id',nil, value: current_user %>
          <%= hidden_field_tag 'order_id',nil, value: @order.id %>
          <div class="cuppon_wrapper">
            <h1 class="text-center">Apply Coupon Code</h1>
            <input type="text" class="form-control input_styles" name="coupon" placeholder="Enter The Code" value='' required/>
            <button type="submit" class="btn btn-default cuppon_btn">Apply</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  $('#cuponModal').appendTo("body")
</script>