<div id="deleteConfirm" class="modal fade" role="dialog" tabindex='-1'>
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content modal_confirmation">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="text-center">Are you sure you want to delete?</h4>
        <div class="radio_btn_wrapper">
          <div class="radio radio-primary radio_btn_style">
            <label>
              <input type="radio" name="delete" id="optionsRadios1" value="yes">
              &nbsp;&nbsp;&nbsp;&nbsp;Yes
            </label>
          </div>
          <div class="radio radio-primary radio_btn_style">
            <label>
              <input type="radio" name="delete" id="optionsRadios2" value="no">
              &nbsp;&nbsp;&nbsp;&nbsp;No
            </label>
          </div>
        </div>
        <button type="submit" class="delete-confirmation">Submit</button>  
      </div>
    </div>
  </div>
</div>

<style>
  button.close {
     position: relative; 
     top: -31px; 
     right: 0em; 
  }
</style>