<div class="row">
	<div class="col-md-2-offset col-md-10 body-wrapper">
		<div class="row documents_flip">
			<div class="col-md-12">
				<div class="description-<%= @service.name.downcase%>">
					<button class="start" id="go" style="display: none">GO</button>
					<h4 class="text-center affidavit_txt"><%= @service.name.pluralize.upcase %></h4>
					<div class="selection-box">
	 					<div class="title-box">
							<input type="text" class=" pull-left" name='query' id='query' placeholder='Search for document'>
						</div>
					</div>
				</div>
				<div class="questionaire form-question" style="display: none">
					
					<%= form_tag('/neworder', type: :post,:name=> 'd-form', multipart: true, :class => 'document-form', :style => "display:none;") do |f| %>
						<%= hidden_field_tag 'user_id',nil, value: current_user %>
						<%= hidden_field_tag 'service_id',nil, value: @service.id %>
						<%= hidden_field_tag 'document_id' %>
						<%= hidden_field_tag 'product' %>
						<div class="modal-header">
					        <button type="button" class="close close_style" data-dismiss="modal">&times;</button>
					    </div>
						<div class="layer-question">
							<div class="row clearfix">
								<div class="col-md-6">
									<div class="question">
										THE TITLE OF THE DOCUMENT IS:
									</div>
								</div>
								<div class="col-md-4">
									<div class="answer">
										<input type="text" class="input_styling" name='answer[1]' placeholder="Enter Document Name" id='form-query' readonly="readonly" required>
										<span><p class="para_style">(Guaranteed delivery: 24 - 48 business hours)</p></span>
									</div>
								</div>
								<div class="col-md-2">
									<div class="price" id='doc-price'>
										Rs. <span id='document-price'></span>
										<div><p class="para_style">(Flat Rate)</p></div>
									</div>
								</div>
							</div>
						</div>
						<div class="layer-question layer num-val" id='stamp-required'>
							<div class="row">
								<div class="col-md-6">
									<div class="question">
										ENTER THE E-STAMP DUTY AMOUNT
									</div>
								</div>
								<div class="col-md-4">
									<div class="answer stamp">
										<input type="text" class="input_styling" name='answer[2]' maxlength="5" placeholder="Stamp Duty Amount (min Rs 20)" required>
										<input type="hidden" name='stamp_amount' pattern="[0-9]" required>
										<span><p class="para_style">(Service charges: Stamp duty amt. Rs. 1 to 100 = Rs. 10/- ,<br> Rs. 101 to 5000 = Rs. 15/-, &nbsp;above  Rs. 5000 = Nil)</p></span>
									</div>
								</div>
								<div class="col-md-2">
									<div class="price stamp-value">Rs. <span id='stamp-price'>0</span>
										<div><p class="para_style">(Stamp Paper)</p></div>
									</div>
								</div>	
							</div>
						</div>
						<div class="layer-question format layer">
							<div class="row">
								<div class="col-md-6">
									<div class="question">
										DO YOU HAVE YOUR OWN FORMAT?
									</div>
								</div>
								<div class="col-md-4">
									<div class="answer" id='upload-doc'>
										<div class="radio radio-primary">
										    <label class="radio-inline">
										        <input type="radio" id="radio1" class="rdb radio_style" name="answer[3]" value="yes" required=""><span class="circle"></span><span class="check"></span>
										    </label><p style="position:relative;left: 1em;display: inline-block;">Yes</p>
										</div>
										<div class="radio radio-primary">
										    <label class="radio-inline">
										        <input type="radio" id="radio2" class="rdb radio_style" name="answer[3]" value="no" required=""><span class="circle"></span><span class="check"></span>
										    </label><p style="position:relative;left: 1em;display: inline-block;">No</p>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="price">Rs. <span id='format-no'>0</span>
										<div><p class='para_style'>(Counter Fee)</p></div>
									</div>
								</div>
							</div>
							<div id='format' style='display:none'>
								<div class="row">
									<div class="col-md-6">
										<div class="question">
											Upload the format
										</div>
									</div>
									<div class="col-md-4">
										<div class="answer">
											<input type="file" name="attachment[file]" accept=".doc,.docx,.pdf" id="subfile">
											<!-- <input type="hidden" class="input_styling" name="attachment[name]" id="subfile" accept=".doc,.docx,.pdf" value='document_format' required="true"> -->
											<span><p class='para_style'>(Please upload your document or mail to help@dockettech.com)</p></span>
										</div>
									</div>
									<!-- <div class="col-md-2">
										<div class="price">Rs. <span id='format-yes'>0</span></div>
									</div> -->
								</div>
							</div>
							<div id="hint" style='display:none'><span><p class='para_style'>(Your document will be available in Dashboard)</p></span></div>
						</div>
						<div class="layer-question layer">
							<div class="row">
								<div class="col-md-6">
									<div class="question">
										WHEN SHALL WE VISIT YOU FOR SIGNATURES?
									</div>
								</div>
								<div class="col-md-4">
									<div class="answer">
										<div id="" class="input-append">
										    <select name="answer[4]" id="" class="select_option" required>
										    	<option value="">Select A Time Slot</option>
										    	<% @slots.each_with_index do |(key,value),index| %>
										    	<option value="<%= value + ' ' + key %>" data-atr="<%= value %>"><%= key %></option>
										    	<% end %>
										    </select>
										    <span><p class="para_style">((Assured visit within 24 - 36 business hours))</p></span>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="price" id='pickup-price'>Rs. <span >49</span>
										<input type="hidden" name='pickup_amount' value='49'>
										<div><p class="para_style">(Conveyance Fee)</p></div>
									</div>
								</div>
							</div>
						</div>
						<div class="layer-question layer"  id="padd_style">
							<div class="row">
								<div class="col-md-6">
									<div class="question">
										WHEN SHALL WE DELIVER YOUR COMPLETED DOCUMENT?
									</div>
								</div>
								<div class="col-md-4">
									<div class="answer">
										<div id="" class="input-append">
										    <input name='answer[5]' id='answer[5]' class="calendar input_styling" data-format="dd/mm/yyyy" type="text" required></input>
										    <span class="add-on">
										      <i data-date-icon="fa fa-calendar">
										      </i>
										    </span>
										    <span><p class="para_style">(See you at your doorstep)</p></span>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="price" id='deliver-price'>Rs. <span >99</span>
										<input type="hidden" name='delivery_amount' value='99'>
										<div><p class="para_style">(Conveyance charge)</p></div>
									</div>
								</div>
							</div>
						</div>
						<div class="layer-question layer">
							<!-- <hr> -->
							<div class="row">
								<div class="col-md-6">
									<div class="question">DO YOU NEED ADDITIONAL COPIES?</div>
								</div>
								<div class="col-md-4">
									<div class="answer">
										<div id="" class="input-append">
											<select name="answer[37]" id="no-of-copies" class="select_option" required>
												<option value="0">0</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="price price-style" id='copies-price'>Rs. <span>0</span></div>
								</div>
							</div>
						</div>
						<div class="layer-question total-sum layer">
							<!-- <hr> -->
							<div class="row">
								<div class="col-md-6">
									<div class="question">TOTAL PRICE</div>
								</div>
								<div class="col-md-4">
									<div class="answer"></div>
								</div>
								<div class="col-md-2">
									<input type="hidden" name='total_amount'>
										<div class="price price-style" id='total-price'>Rs. <span>0</span></div>
									</div>
									<div class="submit-btn calculate">
										<input type="submit" class="submit" value='Next'>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text-right">
									<div class="next pull-right">
									    Next
									</div>
								</div>
							</div>
						</div>
					<% end %>
				</div>
				<%= render 'sticky_sidebar' %>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('.questionaire form').submit(function() {
			calculateSum()
    	});
		function calculateSum(){
			a = parseInt($('#document-price').html()) || 0;
			b = parseInt($('.stamp-value span').html());
			c = parseInt($('#format .price span').html()) || 0;
			d = parseInt($('.format .price span').html()) || 0;
			e = parseInt($('#deliver-price span').html());
			f = parseInt($('#pickup-price span').html());
			g = parseInt($('#copies-price span').html());
			total_amount = a+b+c+d+e+f+g;
			$('.total-sum input[name=total_amount]').val(total_amount);
			$('#total-price span').html(total_amount);
		}
		var price ,questions ;
		var document_search = new Bloodhound({
			datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
			queryTokenizer: Bloodhound.tokenizers.whitespace,
			prefetch: localSearch,
			remote: {
				url: '/search/document/',
				replace: function(url, uriEncodedQuery) {
					query = $('#query').val();
					url = url + '?q=' + encodeURIComponent(query) + "&service_id=" + "<%= @service.id %>"
					return url;
				}
			}
		});
		var localSearch = function(e){
		};
		document_search.initialize();
		$('#query').typeahead(null,{
			name: 'Location',
			displayKey: 'name',
			minLength: 0,
			source: document_search.ttAdapter()
		}).on('typeahead:selected', function(event, data){            
			setValue(data);
		}).on('typeahead:autocompleted',function(event,data){
			setValue(data);
		});
		$('.calendar').datepicker({
		    minDate: 2,
		    changeMonth: true,
		    changeYear: false,
		    stepMonths: 1,
		    maxDate: 8,
		    dateFormat: "dd/mm/yy",
		    hideIfNoPrevNext: true,
		    showAnim: 'slideDown',
		    showOn: "both",  
		    showOtherMonths: true,
		    showStatus: true,
		    beforeShow: function(text, inst){        
		        var next_day = new Date(
		            inst.selectedYear,
		            inst.selectedMonth,
		            inst.selectedDay
		        );        
		        next_day.setDate(next_day.getDate()+1);
		        if(inst.selectedMonth != next_day.getMonth())
		            return {numberOfMonths: 2};
		        else
		            return {numberOfMonths: 1};
		    }
		});
		function setValue(data) {
			$('.questionaire').show();
			$('#form-query').val(data.name);
			$('#doc-price span').html(data.price || '99');
			$('#product').val(data.name);
			$('#document_id').val(data.id);
			$('.start').show();
			calculateSum();
		}
		$('#upload-doc input:radio').on('change',function(){
			category = $('#service_id').val();
			switch(category){
				case '5':
					format_yes = 99;
					format_no = 999;
					break;
				default:
					format_yes = 49;
					format_no = 99;
					break;
			}
			if ($('#upload-doc input:checked').val() === 'yes'){
				$('.format .price span').html(format_yes);
				$('#format .price span').html('');
				$('#hint').hide();
				$('#format').show();
			}
			if ($('#upload-doc input:checked').val() === 'no'){
				$('.format .price span').html(format_no);
				$('#hint').show();
				$('#format').hide();
				$('#format .price').html('');
			}
			calculateSum();
		})
		$('.stamp :input').change(function(){
			var stamp_duty;
			stamp_value = parseInt($('.stamp :input').val());
			if (stamp_value < 0 || stamp_value < 20){
				setNotification('error', 'Min stamp amount Rs 20');
				$(".stamp input[name='answer[2]']").val('');
				$('.stamp input[name=stamp_amount]').val('');
				$('.stamp-value').html('Rs. <span>' + 0 + '</span>');
				stamp_duty = 0;
				return;
			}
			if (stamp_value >= 20 && stamp_value <= 100){
				stamp_duty = 10;
			}
			if (stamp_value > 101 && stamp_value < 5000){
				stamp_duty = 15;
			}
			if (stamp_value >= 5000){
				stamp_duty = 0;
			}
			totalSum = stamp_duty + stamp_value
			$('.stamp-value').html('Rs. <span>' + totalSum + '</span>');
			$('.stamp input[name=stamp_amount]').val(stamp_value);
			calculateSum();
		})
		var n = 0;
		$('.start').click(function(){
			$('.description-agreement, .description-affidavit, .description-bond, .description-deed').hide('slow');
			$('.document-form').show('slow');
			nextQuestion(n);
		    $('.next').show();
		    $('.start').hide();
		    $('.submit').hide();

		})
		function nextQuestion(n){
		    if (inputValidate()) {
			$('form').children('.layer').eq(n).show().addClass('active');
		    }
		}

		function inputValidate() {
		    if($('form').children('.layer').eq(n-1).find('input').val() === ''){
				error = 'NOVAL';
				return false;
			} else {
				if(n==3){
					if($('input[type=radio]:checked').length==0){
						error = 'NOVAL';
						return false;
					}
					if($('#upload-doc input:checked').val() === 'yes'){
                         if ($('#subfile').val()===''){
                          error = 'NOVAL';
						return false;
						}
					}
				}
				n += 1; 
				return true;
			}
		}
		$('.next').on('click', function(){
			calculateSum();
			if (n > ($('.layer').length - 2)){
		   		$('.layer').show();
		   		$('.next').hide();
		   		$('.submit').show()
			}
		    else{
		        nextQuestion(n);
		    }
		});
		$(".num-val").keypress(function (e) {
	    	if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
	        	$("#errmsg").html("Digits Only").show().fadeOut("slow");
	        	return false;
	    	}
		});
		$('.close_style').on('click', function(){
			n = 0;
			$('.document-form').hide();
			$('.description-agreement, .description-affidavit, .description-bond, .description-deed').show();
			$('#query').val('');
			$('.document-form').find('input:text').val(''); 
    		$('input:radio').removeAttr('checked');
		});
		$('#no-of-copies').bind('change', function(){
			value = $('#no-of-copies').val();
			if (value == 0){
				$('#copies-price span').html('0');
			}
			else{
				doc_price = parseInt($('#document-price').html());
				stamp_price = parseInt($('.stamp-value span').html());
				total_value = (value) * (doc_price + stamp_price)
				$('#copies-price span').html(total_value);
			}
			calculateSum();
		})
		window.onload=function() {
		  document.forms[0].reset();
		  placeFocus();
		}       
		function placeFocus() {
		  document.forms[0].elements[0].focus(); // assuming the first element
		}
	});
</script>