<%= form_tag('/update_address', remote: true, type: :post, class: 'address-update', :onSubmit => 'editHide()') do |f| %>
  <%= hidden_field_tag 'user_id',nil, value: current_user %>
  <%= hidden_field_tag 'address_id',nil, value: @address.id %>
  <legend class="pull-left text-white">&nbsp; &nbsp;Update Address</legend>
    <div class="row clearfix">
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="pull-left">Address Tag</label>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <input type="text" class="form-control profile_input_styles keyup-fake keyup-characters" name="tag" placeholder="Eg: Home, Office" value='<%= @address.tag %>' required/>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-4">
        <div class="form-group">
          <label class="pull-left" class="pull-left">Address Line 1</label>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <input type="text" class="form-control profile_input_styles keyup-fake keyup-characters" name='address1' placeholder="Enter Address Line 1" value='<%= @address.address1 %>' required/>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="pull-left">Address Line 2</label>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <input type="text" class="form-control profile_input_styles keyup-fake keyup-characters" name='address2' id="" placeholder="Enter Address Line 2" value='<%= @address.address2 %>' required>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="pull-left">Landmark</label>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <input type="text" class="form-control profile_input_styles keyup-fake keyup-characters" name="landmark" placeholder="Enter Landmark" value='<%= @address.landmark %>' required>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="pull-left">Locality</label>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <input type="text" list="localities" maxlength="20" class="form-control profile_input_styles keyup-characters" name="locality" placeholder="Enter Locality" value='<%= @address.locality.name %>' required>
          <datalist id="localities">
              <% @localities.each do |locality| %>
              <option value="<%= locality.name %>"><%= locality.name + ', ' + locality.city.name %></option>
              <% end %>
          </datalist>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="pull-left">City</label>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <input type="text" list='cities' name='city' class="form-control profile_input_styles keyup-fake keyup-characters" placeholder="Enter City" value="<%= @address.city.name %>" required>
          <datalist id="cities">
              <% @cities.each do |city| %>
              <option value="<%= city.name %>"><%= city.name %></option>
              <% end %>
          </datalist>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="pull-left">State</label>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <input type="text" list='states' name='state' class="form-control profile_input_styles keyup-fake keyup-characters" placeholder="Enter State" value='<%= @address.city.state.name %>' required>
          <datalist id="states">
              <% @states.each do |state| %>
              <option value="<%= state.name %>"><%= state.name %></option>
              <% end %>
          </datalist>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="pull-left">Country</label>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <input type="text" list='countries' name='country' class="form-control profile_input_styles keyup-fake keyup-characters" placeholder="Enter Country" value='<%= @address.city.state.country.name %>' required>
          <datalist id="countries">
              <% @countries.each do |country| %>
              <option value="<%= country.name %>"><%= country.name %></option>
              <% end %>
          </datalist>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="pull-left">Pincode</label>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <input type="text" class="form-control profile_input_styles keyup-numeric" name="pincode" maxlength="6" minlength="6" placeholder="Enter Pincode" value="<%= @address.pincode %>" required>
        </div>
      </div>
    </div>
    <div class="row clearfix center-block">
      <div class="col-md-12 button-top">
        <button type="submit" class="btn btn-primary submit-address pull-right" id='save-address'>Update Address</button>
      </div>
    </div>
<%end%>

<style>
  button.close {
    position: relative;
    top: 0;
    right: 0em;
}
</style>  