<div id="emailConfirm" class="modal fade" role="dialog" tabindex='-1'>
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content modal_confirmation">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="text-center">Enter your email id to share your document</h4>
        <input type="email" class="modal_input_style" placeholder="Enter Your Email ID" id="file_email">
        <button type="submit" class="email-confirmation">Send</button>  
      </div>
    </div>
  </div>
</div>