<div class="description_estamp">
	<h1 class="attesttation-head">E-STAMP</h1>
	<button class="start">GO</button>
</div>
<%= form_tag('/neworder', type: :post, :class => 'estamp-form', :style => "display:none;", multipart: true) do |f| %>
	<%= hidden_field_tag 'user_id',nil, value: current_user %>
	<%= hidden_field_tag 'service_id',nil, value: @service.id %>
	<%= hidden_field_tag 'product',nil, value: 'E-stamp' %>
	<div class="modal-header">
        <button type="button" class="close close_style" data-dismiss="modal">&times;</button>
    </div>
	<div class="layer-question layer num-val">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					Enter the stamp duty amount
				</div>
			</div>
			<div class="col-md-4">
				<div class="answer stamp-amount">
					<span class="errmsg"></span> 
					<input type="hidden" name='stamp_amount'>
					<input name="answer[23]" class="input_styling" maxlength="5" type="text" required placeholder='Min Rs. 20'>
				</div>
			</div>
			<div class="col-md-2">
				<div class="price">Rs. <span id='estamp-price'>0 </span></div>
			</div>
		</div>	
	</div>
	<div class="layer-question layer txtName">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					Enter First Party Name(s)
				</div>
			</div>
			<div class="col-md-4">
				<div class="answer">
						<span class="errmsgtxt"></span>
						<input name="answer[24]" class="input_styling" maxlength="100" type="text" required placeholder='First Party Name'>
				</div> 
			</div>
			<div class="col-md-2">
				<div class="price"></div>
			</div>
		</div>
	</div>
	<div class="layer-question layer">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					Enter Second Party Name(s)
				</div>
			</div>
			<div class="col-md-4">
				<div class="answer">
						<!-- <span class="errmsgtxt"></span> -->
						<input name="answer[25]" class="input_styling" type="text" maxlength="100" required placeholder='Second Party Name'>
				</div> 
			</div>
			<div class="col-md-2">
				<div class="price"></div>
			</div>
		</div>
	</div>
	<div class="layer-question layer txtName">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					Description of the E-stamp:
				</div>
			</div>
			<div class="col-md-4">
				<div class="answer">
					<span class="errmsgtxt"></span>
					<input name="answer[26]" class="input_styling" type="text" maxlength="100" required placeholder='Description'>
					<span><p>(Affidavit, Agreement, Bond, Deed etc.,)</p></span>
				</div> 
			</div>
			<div class="col-md-2">
				<div class="price"></div>
			</div>
		</div>
	</div>
	<div class="layer-question layer">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					Stamp Duty Purchased By:
				</div>
			</div>
			<div class="col-md-4">
				<div class="answer">
					<div class="radio radio-primary">
					    <label class="radio-inline">
					        <input type="radio" class="radio_style" name="answer[27]" value="first_party" required>
					    </label><p style="position:relative;left: -0.5em;display: inline-block;">First Party</p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</div>
				    <div class="radio radio-primary second_party_styles">
					    <label class="radio-inline">
					        <input type="radio" class="radio_style" name="answer[27]" value="second_party" required>
					    </label><p style="position:relative;left: -0.5em;display: inline-block;">Second Party</p>
					</div>
				</div> 
			</div>
			<div class="col-md-2">
				<div class="price"></div>
			</div>
		</div>
	</div>
	<div class="layer-question layer">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					Choose a date to deliver your E-Stamp
				</div>
			</div>
			<div class="col-md-4">
				<div class="answer">
					<div id="datetimepicker5" class="input-append">
					    <input name='answer[21]' class="calendar input_styling" data-format="MM/dd/yyyy" placeholder="Selct delivery date" type="text" required></input>
					    <span class="add-on">
					      <i data-date-icon="fa fa-calendar">
					      </i>
					    </span>
					    <span><p class="text-hint">(Guaranteed Delivery: 24 - 48 Business Hours)</p></span>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="price">Rs. <span id='estamp-drop-price'>99</span></div>
				<input name='delivery_amount' type="hidden" value='99'></input>
			</div>
		</div>
	</div>
	<div class="layer-question total-sum layer">
		<!-- <hr> -->
		<div class="row">
			<div class="col-md-6">
				<div class="question">Total Price</div>
			</div>
			<div class="col-md-4">
				<div class="answer">
					<input type="hidden" name='total_amount'>
				</div>
			</div>
			<div class="col-md-2">
				<div class="price price-style">Rs. <span id='total-price'></span></div>
				<div class="submit-btn calculate">
					<input type="submit" class="submit" value='Next'>
				</div>
			</div>
		</div>
	</div>
	<div class="next pull-right">
	    Next
	</div>
<%end%>
