<div id="forgotPin" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content forgot_modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="forgot_wrapper">
          <div class="send_otp">
            <h4 class="forgot_text text-center">Send OTP Number </h4>
            <%= form_tag('/pin_request', type: :post) do |f| %>
              <%= hidden_field_tag 'user_id',nil, value: current_user %>
              <input type="text" value='<%= @current_user.phone %>' disabled>
              <button type='submit' class="submit_btn">Submit</button>
            <% end %>
          </div>
          <div class="verify-otp">
            <h4 class="forgot_text text-center">Verify OTP Number </h4>
            <%= form_tag('/dvault_pin_otp', type: :post, :class => "forgot_form") do |f| %>
              <div class="forgot_input_style">
                <%= hidden_field_tag 'user_id',nil, value: current_user %>
                <input type="text" name="otp" id="otp_number" class="input_style" required="required" title="" placeholder="Enter The OTP Number">
                <button type="submit" class="btn btn-default submit_btn">Submit</button>
              </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.forgot_wrapper .verify-otp').hide()
    $('#forgotPin .send_otp form').on('submit', function(e) {
      e.preventDefault();
      e.stopPropagation();
      $.ajax({
        type: 'post',
        url: '/pin_request',
        data: $('.send_otp form').serialize()
      }).done(function (data, textStatus, jqXHR) {
        $('.forgot_wrapper .send_otp').hide();
        $('.forgot_wrapper .verify-otp').show();
        setNotification('success', 'Otp Sent to your Mobile');
      }).fail(function (jqXHR, textStatus, errorThrown) {
        setNotification('error', 'Unknown Error. Try Again');
      });
    });
    $('#forgotPin .verify-otp form').on('submit', function(e) {
      e.preventDefault();
      e.stopPropagation();
      $.ajax({
        type: 'post',
        url: '/dvault_pin_otp',
        data: $('.forgot_wrapper .verify-otp form').serialize()
      }).done(function (data, textStatus, jqXHR) {
        $('#forgotPin .modal-body').html(data)
        // $('.verify-mobile').hide();
        setNotification('success', 'OTP Verified');
        $('#myModal4').modal('hide');
      }).fail(function (jqXHR, textStatus, errorThrown) {
        setNotification('error', 'Unknown Error. Try Again');
      });
    });
  })
</script>
