<div class="description_franking">
	<h1 class="attesttation-head">FRANKING</h1>
	<button class="start">GO</button>
</div>
<%= form_tag('/neworder', type: :post, :class => 'franking-form', :style => "display:none;", multipart: true) do |f| %>
	<%= hidden_field_tag 'user_id',nil, value: current_user %>
	<%= hidden_field_tag 'service_id',nil, value: @service.id %>
	<%= hidden_field_tag 'product',nil, value: 'Franking' %>
	<div class="modal-header">
        <button type="button" class="close close_style" data-dismiss="modal">&times;</button>
    </div>
	<div class="layer-question layer num-val">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					Enter the Franking amount
				</div>
			</div>
			<div class="col-md-4">
				<div class="answer stamp-amount">
					<span class="errmsg"></span>
					<input name="answer[28]" class="input_styling" type="text" maxlength="5" id='franking-amount' required placeholder='Min Rs. 100 '>
				</div> 
			</div>
			<div class="col-md-2">
				<input type="hidden" name='stamp_amount'>
				<div class="price">Rs. <span id='franking-price'>0</span>
					<div><p>Flat price</p></div>
				</div>
			</div>
		</div>
	</div>
	<div class="layer-question layer txtName">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					Description of the Franking Document
				</div>
			</div>
			<div class="col-md-4">
				<div class="answer">
					<span class="errmsgtxt"></span>
					<input name="answer[29]" class="input_styling" maxlength="100" type="text" required placeholder='Description'>
				</div>
			</div>
			<div class="col-md-4">
				<div class="price"></div>
			</div>
		</div>
	</div>
	<div class="layer-question layer txtName">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					Franking amount purchaser information
				</div>
			</div>
			<div class="col-md-4">
				<div class="answer">
						<span class="errmsgtxt"></span>
						<input name="answer[30]" class="input_styling" maxlength="50" type="text" required placeholder='Name'>
				</div>
			</div>
			<div class="col-md-2">
				<div class="price"></div> 
			</div>
		</div>
	</div>
	<div class="layer-question layer">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					Select a date to collect your documents
				</div> 
			</div>
			<div class="col-md-4">
				<div class="answer">
					<div id="" class="input-append">
						<select name="answer[17]" id="" class="select_option" required>
							<option value="">Select A Time Slot</option>
					    	<% @slots.each_with_index do |(key,value),index| %>
					    	<option value="<%= value + ' ' + key %>" data-atr="<%= value %>"><%= key %></option>
					    	<% end %>
					    </select>
					    <!-- <input name='answer[5]' class="calendar input_styling" data-format="MM/dd/yyyy" type="text" placeholder='Date'  required></input>
					    <span class="add-on">
					      <i data-date-icon="fa fa-calendar">
					      </i>
					    </span>
					    <span> -->
					    <p>(Assured visit within 24 - 36 Business Hours)</p></span>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="price">Rs. <span id='franking-pickup-price'>299</span>
					<input type="hidden" name='pickup_amount' value='299'>
					<div><p>(Convenience Fee)</p></div> 
				</div>
			</div>
		</div>
	</div>
	<div class="layer-question layer">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					Choose a delivery date
				</div> 
			</div>
			<div class="col-md-4">
				<div class="answer">
					<div id="datetimepicker3" class="input-append">
					    <input name='answer[21]' class="calendar input_styling" data-format="MM/dd/yyyy" type="text" placeholder='Date' required></input>
					    <input type="hidden" name='delivery_amount' value='199'>
					    <span class="add-on">
					      <i data-date-icon="fa fa-calendar">
					      </i>
					    </span>
					    <span><p>(Guaranteed Delivery: 24 - 48 Business Hours)</p></span>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="price">Rs. <span id='franking-drop-price'>199</span>
					<input type="hidden" name='delivery_amount' value='199'>
					<div><p>(Conveyance Fee)</p></div> 
				</div>
			</div>
		</div>
	</div>
	<div class="layer-question total-sum layer">
		<!-- <hr> -->
		<div class="row">
			<div class="col-md-6">
				<div class="question">Total Price</div>
			</div>
			<div class="col-md-4">
				<div class="answer"></div>
			</div>
			<div class="col-md-2">
				<input type="hidden" name='total_amount'>
				<div class="price" id='total-price'>Rs. <span>0</span></div>
				<div class="submit-btn calculate">
					<input type="submit" class="submit" value='Next'>
				</div>
			</div>
		</div>
	</div>
	<div class="next pull-right">
        Next
    </div>
<%end%>
