<% if @include_analytics %>
  <!-- Google analytics code -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-79446628-1', 'auto');
    ga('send', 'pageview');
  </script>
  <% if (@site_state == 'thankyou') %>
    <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 877910973;
      var google_conversion_language = "en";
      var google_conversion_format = "3";
      var google_conversion_color = "ffffff";
      var google_conversion_label = "eIgKCL_07GgQvbfPogM";
      var google_remarketing_only = false;
      /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
      <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/877910973/?label=eIgKCL_07GgQvbfPogM&amp;guid=ON&amp;script=0"/>
      </div>
    </noscript>
    <!-- remarketing ends here -->
    <script>
      // conversion code
      ga('require', 'ecommerce');
      ga('ecommerce:addTransaction', {
        'id': '<%= @order.txnid %>',                          // Transaction ID. Required.
        'revenue': '<%= @order.total_amount %>',              // Grand Total.
        'shipping': '<%= @order.delivery_amount %>',          // Shipping.
        'tax': '0',                                           // Tax.
      });
      ga('ecommerce:addItem', {
        'id': '<%= @order.txnid %>',                          // Transaction ID. Required.
        'name': '<%= @order.product %>',                   // Affiliation or store name.
        'category': '<%= @order.service.name %>',             // Category or variation.
        'price': '<%= @order.document.default_price %>',      // Unit price.
        'quantity': '<%= @order.quantity.to_i + 1 %>'         // Quantity.
      });
      ga('ecommerce:send');
    </script>
  <% end %>
  <!-- Google ad campaign code -->
  <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 877910973;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/877910973/?value=0&amp;guid=ON&amp;script=0"/>
  </div>
  </noscript>
  <!-- Google code campaign ends here -->
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1605294689768501');
    fbq('track', "PageView");
  </script>
  <noscript>
    <img height="1" width="1" style="display:none" 
    src="https://www.facebook.com/tr?id=1605294689768501&ev=PageView&noscript=1" />\
  </noscript>
  <!-- End Facebook Pixel Code -->
  <!-- Career Code -->
  <script type="text/javascript" charset="utf-8" async defer>
    if (typeof console !== 'undefined' && typeof console.log === 'function' && !window.test) {
    console.log('\r\n%c                     *      .--.\r\n%c                           \/ \/  `\r\n%c          +               | |\r\n%c                 \'         \\ \\__,\r\n%c             *          +   \'--\'  *\r\n%c                 +   \/\\\r\n%c    +              .\'  \'.   *\r\n%c           *      \/======\\      +\r\n%c                 ;:.  _   ;\r\n%c                 |:. (_)  |\r\n%c                 |:.  _   |\r\n%c       +         |:. (_)  |          *\r\n%c                 ;:.      ;\r\n%c               .\' \\:.    \/ `.\r\n%c              \/ .-\'\':._.\'`-. \\\r\n%c              |\/    \/||\\    \\|\r\n%c            _..--\"\"\"````\"\"\"--.._\r\n%c      _.-\'``                    ``\'-._\r\n%c    -\'         %cHello, explorer%c        \'-\r\n%c' +
    '\n       Curious? http://dockettech.com/careers',
    'color:#D0E3F1','color:#D0E3F1','color:#C0DAEC','color:#C0DAEC','color:#B0D1E8','color:#B0D1E8','color:#A1C7E3','color:#A1C7E3','color:#91BEDE','color:#91BEDE','color:#81B5D9','color:#81B5D9','color:#72ABD5','color:#72ABD5','color:#62A2D0','color:#62A2D0','color:#5299CB','color:#5299CB','color:#4390C7','color:#4390C7', 'color:#4390C7', 'color: #000000');
    }
  </script>
  <!-- Career code ends -->
  <script>
  window.addEventListener('load',function(){
    jQuery('button:contains("Pay"),button:contains("PA")').click(function(){
      ga('send','event','pay-button','submit',window.location.pathname)
    })
    jQuery('.search_wrap,.search_icon').click(function(){
      ga('send','event','button','click','search')
    })
  });
  var xm = 0;
  var myVar = setInterval(function() {
    if (document.querySelector(' .container-fluid .row .col-md-8 div.thanks') != null) {
      var selop = document.querySelector(' .container-fluid .row .col-md-8 div.thanks');
      if (selop.innerText.indexOf('Thank You for contacting us. W') != -1 && (selop.style.opacity == '' || selop.style.opacity > 0) && (selop.style.visibility == '' || selop.style.visibility != 'hidden') && (selop.style.display == '' || selop.style.display != 'none') && (selop.parentNode.style.display == '' || selop.parentNode.style.display != 'none')) {
        if (xm == 0) {
          ga('send', 'event', 'form', 'submit', 'enquiry');
          xm = 1;
        }
        clearInterval(myVar);
      }
    }
  }, 1000)
  </script>
<% end %>