<div class="description_legal">
	<h1 class="attesttation-head">LEGAL OPINION</h1>
	<button class="start">GO</button>
</div>
<%= form_tag('/neworder', type: :post, :class => 'legal-form', :style => "display:none;", multipart: true) do |f| %>
	<%= hidden_field_tag 'user_id',nil, value: current_user %>
	<%= hidden_field_tag 'service_id',nil, value: @service.id %>
	<%= hidden_field_tag 'product',nil, value: 'Property' %>
	<div class="modal-header">
        <button type="button" class="close close_style" data-dismiss="modal">&times;</button>
    </div>
	<div class="layer-question layer">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					Select the type of Property
				</div>
			</div>
			<div class="col-md-4">
				<div class="answer">
					<div id="" class="input-append">
						<select name="answer[31]" id="property-type" style="width: 100%;" required>
							<option value="">Select property type</option>
							<option value="Independent House">Independent House</option>
							<option value="Villa">Villa</option>
							<option value="Flat">Individual Flat</option>
							<option value="Land">Plot or Land</option>
							<!-- <option value="Plot">Plot</option>} -->
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="price">Rs. <span id='legal-property-price'>999</span>
					<div><p>(Counter Fee)</p></div> 
				</div>
			</div>
		</div>
	</div>
	<div class="layer-question  layer">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					Choose the available property documents
				</div> 
			</div>
			<div class="col-md-4">
				<div class="answer" style="width:300px;">
					<input class="rdb radio_style" data-atr='6' type="radio" title="Fantastic" name="answer[32]" value="mother deed" required>Master Document
					<input class="rdb radio_style" data-atr='6' type="radio" title="Fantastic" name="answer[32]" value="title deed" required>Title Document
					<!-- <div id="blk-6" class="toHide" style="display:none">
					    <div class="layer-question">
							<div class="answer" style="display: initial;">
								<span><p>Fantastic</p></span>
							</div> 
						</div>
					</div> -->
				</div>
			</div>
			<div class="col-md-2">
				<div class="price"></div>
			</div>
		</div>
	</div>
	<div class="layer-question layer">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					Choose the available supporting documents
				</div>
			</div>
			<div class="col-md-4">
				<div class="answer" style="width:300px;">
					<input class="rdb radio_style" data-atr='7' type="radio" name="answer[33]" title="Awesome" value="sanctioned plan" required>Sanctioned Building Plan
					<input class="rdb radio_style" data-atr='7' type="radio" name="answer[33]" title="Awesome" value="blueprint" required>Blue Print
					<!-- <div id="blk-7" class="toHide" style="display:none">
					    <div class="layer-question">
							<div class="answer" style="display: initial;">
								<span><p>Awesome</p></span>
							</div> 
						</div>
					</div> -->
				</div>
			</div>
			<div class="col-md-2">
				<div class="price"></div>
			</div>
		</div>
	</div>
	<div class="layer-question layer">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					Choose a form of Opinion Report
				</div>
			</div>
			<div class="col-md-4">
				<div class="answer legal-type-form" style="width:300px;">
					<input type="radio" class="radio_style" name="answer[34]" value="oral" required>Verbal
					<input type="radio" class="radio_style" name="answer[34]" value="written" required>Written
					<input type="radio" class="radio_style" name="answer[34]" value="certifiedcopy" required>Certified Copy
				</div>
			</div>
			<div class="col-md-2">
				<div class="price">Rs. <span id="legal-advice-price">0</span>
					<div><p>(Convenience Fee)</p></div>
				</div>
			</div>
		</div>
	</div>
	<div class="layer-question layer">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					Select a Time slot to collect your documents
				</div>
			</div>
			<div class="col-md-4">
				<div class="answer">
					<div id="datetimepicker4" class="input-append">
					    <select name="answer[17]" id="" class="select_option" required>
							<option value="">Select A Time Slot</option>
					    	<% @slots.each_with_index do |(key,value),index| %>
					    	<option value="<%= value + ' ' + key %>" data-atr="<%= value %>"><%= key %></option>
					    	<% end %>
					    </select>
					    <!-- <input name='answer[17]' class="calendar input_styling" data-format="MM/dd/yyyy" type="text" required></input>
					    <span class="add-on">
					      <i data-date-icon="fa fa-calendar">
					      </i>
					    </span> -->
					    <span><p>(Assured visit within 24 - 36 Business Hours)</p></span>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="price">Rs. <span id="legal-pick-price">99</span>
					<input type="hidden" name='pickup_amount' value='99'>
					<div><p>(Conveyance Charge)</p></div>
				</div>
			</div>
		</div>
	</div>
	<div class="layer-question total-sum layer">
		<!-- <hr> -->
		<div class="row">
			<div class="col-md-6">
				<div class="question">Total Price</div>
			</div>
			<div class="col-md-4">
				<div class="answer">
					<input type="hidden" name='total_amount'>
				</div>
			</div>
			<div class="col-md-2">
				<div class="price" id='total-price'>Rs. <span id="legal-final-price">0</span></div>
				<div class="submit-btn calculate">
					<input type="submit" class="submit" value='Next'>
				</div>
			</div>
		</div>
	</div>
	<div class="next pull-right">
        Next
    </div>
<% end %>
