<h2>Order Summary</h2>
<div class="summary_details">
	<div class="order-summary">
		<div class="row clearfix section-padd">
			<div class="col-md-4">
				<div class="product">Product: 
				</div>
			</div>
			<div class="col-md-8">
				<div class="name"><%= truncate(@order.product, length: 35) %></div> 
			</div>
		</div>
		<% if @order.document %>
			<div class="row clearfix section-padd">
				<div class="col-md-4">
					<div class="stamp">Drafting Charges: 
					</div>
				</div>
				<div class="col-md-8">
					<div class="name"><i class='fa fa-inr'>&nbsp;&nbsp;</i><%= @order.document.default_price || '99'  %></div> 
				</div>
			</div>
			<div class="row clearfix section-padd">
				<div class="col-md-4">
					<div class="stamp">Printing Charges: 
					</div>
				</div>
				<div class="col-md-8">
					<div class="name"><i class='fa fa-inr'>&nbsp;&nbsp;</i><%= @order.draft_required ? '99' : '49'%></div> 
				</div>
			</div>
		<% else %>
			<div class="row clearfix section-padd">
				<div class="col-md-4">
					<div class="stamp">Price: 
					</div>
				</div>
				<div class="col-md-8">
					<div class="name"><i class='fa fa-inr'>&nbsp;&nbsp;</i><%= (@order.total_amount.to_i - @order.delivery_amount.to_i - @order.pickup_amount.to_i)  %></div> 
				</div>
			</div>
		<% end %>
		<% if @order.stamp_amount %>
			<div class="row clearfix section-padd">
				<div class="col-md-4">
					<div class="stamp">Stamp Amount: 
					</div>
				</div>
				<div class="col-md-8">
					<% if @order.stamp_amount.to_i <= 100 %>
					<% service_charge = 10 %>
					<% elsif @order.stamp_amount.to_i < 5000 %>
						<% service_charge = 15 %>
					<% elsif @order.stamp_amount.to_i >= 5000 %>
						<% service_charge = 0 %>
					<% end %>
					<div class="name"><i class='fa fa-inr'>&nbsp;&nbsp;</i><%= (@order.stamp_amount.to_i + service_charge) %></div>
				</div>
			</div>
		<% end %>
		<% if @order.pickup_amount %>
			<div class="row clearfix section-padd">
				<div class="col-md-4">
					<div class="pickup">Pickup Changes: 
					</div>
				</div>
				<div class="col-md-8">
					<div class="name"><i class='fa fa-inr'>&nbsp;&nbsp;</i><%= @order.pickup_amount %></div> 
				</div>
			</div>
		<% end %>
		<% if @order.delivery_amount %>
			<div class="row clearfix section-padd">
				<div class="col-md-4">
					<div class="delivery">Delivery Charges:
					</div>
				</div>
				<div class="col-md-8">
					<div class="name"><i class='fa fa-inr'>&nbsp;&nbsp;</i><%= @order.delivery_amount %></div>
				</div>
			</div>
		<% end %>
		<% if @order.coupon %>
			<div class="row clearfix section-padd">
				<div class="col-md-4">
					<div class="delivery">Discount:
					</div>
				</div>
				<div class="col-md-8">
					<div class="name"><i class='fa fa-inr'>&nbsp;&nbsp;</i><%= @order.discount %></div>
					<div class="discount-cancel">x</div>
				</div>
			</div>
		<% end %>
		<hr>
		<div class="row clearfix section-padd">
			<div class="col-md-4">
				<div class="total_amount">Total Amount:
				</div>
			</div>
			<div class="col-md-8">
				<%# if @order.coupon %>
					<!-- <div class="name"><%#= (@order.total_amount.to_f - @order.discount.to_f) %></div> -->
				<%# else %>
					<div class="name"><i class='fa fa-inr'>&nbsp;&nbsp;</i><%= (@order.total_amount.to_f - @order.discount.to_f) %></div> 
				<%# end %>
			</div>
		</div>
		<% if !@order.coupon %>
			<button type="submit" class="cupon_button" data-toggle="modal" data-target="#cuponModal">Apply Coupon</button>
		<% end %>
	</div>
</div>
<%= form_tag(@url,:type => :post, class: 'payumoney' ) do |f| %>
    <% @options.each do |field, value| %>
        <%= hidden_field_tag(field, value) %>
    <% end %>
<% end %>