<div class="forgot_wrapper" id="newPin">
  <h4 class="forgot_text text-center">Create New Pin </h4>
  <div class="send_otp">
    <%= form_tag('/newpin_request', type: "post", :class => "forgot_pin_form") do %>
      <%= hidden_field_tag 'user_id',nil, value:"#{current_user}" %>
        <input type="password" name="password" id="new_pin" class="input_style" required="required" title="" placeholder="Enter New Pin">
        <input type="password" name="confirm_password" id="confirm_pin" class="input_style" required="required" title="" placeholder="Confirm Pin">
        <button type='submit' class="submit_btn">Submit</button>
    <% end %>
  </div>
</div>