<% if (['Notary', 'Attestation', 'Franking'].include? @order.service.name) %>
	<% copies = JSON.parse(@order.summary)['notary-copies'].to_i %>
<% elsif (['Agreement', 'Affidavit', 'Deed', 'Bond'].include? @order.service.name) %>
	<% copies = JSON.parse(@order.summary)['no-of-copies'].to_i %>
<% end %>
<div class="row">
	<div class="col-md-5">
		<h4 class="main_head">Order Summary</h4>
	</div>
	<div class="col-md-7">
		<h4 class="sub_head"><%= truncate(@order.product, length: 35) %></h4>
	</div>
</div>
<hr class="summary_hr">
<% if !(['Notary', 'E-Stamp', 'Attestation', 'Franking'].include? @order.service.name) %>
	<div class="row">
		<div class="col-md-5">
			<h4 class="main_head">Price</h4>
		</div>
		<div class="col-md-7">
			<h4 class="sub_head">
				<span><i class="fa fa-inr" aria-hidden="true"></i> </span><%= @order.document.default_price.to_i || '99'%> <br>
				<!-- <span class="price_hint">Inclusive of Service Tax</span> -->
			</h4>
		</div>
	</div>
	<hr class="summary_hr">
<% end %>
<% if (['Notary', 'Attestation'].include? @order.service.name) %>
	<div class="row">
		<div class="col-md-5">
			<h4 class="main_head">No. of Documents</h4>
		</div>
		<div class="col-md-7">
			<h4 class="sub_head">
				<span><i class="fa fa-inr" aria-hidden="true"></i> </span><%= (@order.total_amount.to_i - 99 - 99) %> <br>
				<span class="price_hint"><%= copies %> Copy </span>
			</h4>
		</div>
	</div>
	<hr class="price_hr">
<% end %>

<% if (['Franking'].include? @order.service.name) %>
	<div class="row">
		<div class="col-md-5">
			<h4 class="main_head">Franking Amount</h4>
		</div>
		<div class="col-md-7">
			<h4 class="sub_head">
				<span><i class="fa fa-inr" aria-hidden="true"></i> </span><%= @order.stamp_amount %> <br>
				<span class="price_hint"><%= copies %> Copy </span>
			</h4>
		</div>
	</div>
	<hr class="price_hr">
	<div class="row">
		<div class="col-md-5">
			<h4 class="main_head">No. of Documents</h4>
		</div>
		<div class="col-md-7">
			<h4 class="sub_head">
				<%= copies %>
			</h4>
		</div>
	</div>
	<hr class="price_hr">
<% end %>

<%if (['Agreement', 'E-Stamp', 'Affidavit', 'Deed', 'Bond'].include? @order.service.name) %>
	<div class="row">
		<div class="col-md-5">
			<h4 class="main_head">Stamp Duty</h4>
		</div>
		<div class="col-md-7">
			<h4 class="sub_head">
				<% if @order.stamp_amount.to_i <= 100 %>
				<% service_charge = 10 %>
				<% elsif @order.stamp_amount.to_i < 5000 %>
					<% service_charge = 15 %>
				<% elsif @order.stamp_amount.to_i >= 5000 %>
					<% service_charge = 0 %>
				<% end %>
				<span><i class="fa fa-inr" aria-hidden="true"></i> </span><%= (@order.stamp_amount.to_i + service_charge) %> <br>
				<span class="price_hint">Government Charge Included</span>
			</h4>
		</div>
	</div>
	<hr class="price_hr">
<% end %>

<% if (['Agreement', 'Affidavit', 'Deed', 'Bond'].include? @order.service.name) %>
	<div class="row">
		<div class="col-md-5">
			<h4 class="main_head">Additional Copies</h4>
		</div>
		<div class="col-md-7">
			<h4 class="sub_head">
				<span><i class="fa fa-inr" aria-hidden="true"></i> </span> <%= (@order.document.default_price.to_i) * copies %> + <i class="fa fa-inr" aria-hidden="true"></i> </span><%= (@order.stamp_amount.to_i + service_charge.to_i) * copies %><br>
				<span class="price_hint"><%= copies %> Copy + <%= copies %> EStamp</span>
			</h4>
		</div>
	</div>
	<hr class="price_hr">
<% end %>
<% if !(['Marketplace', 'Startup'].include? @order.service.name) %>
	<div class="row">
		<div class="col-md-5">
			<h4 class="main_head">Delivery Charges</h4>
		</div>
		<div class="col-md-7">
			<h4 class="sub_head">
				<span><i class="fa fa-inr" aria-hidden="true"></i> </span><%= @order.service.delivery_charges %><br>
				<span class="price_hint">24-48 Hours Delivery</span>
			</h4>
		</div>
	</div>
	<hr class="price_hr">
<% end %>
<% if !(['Marketplace', 'Startup', 'E-Stamp'].include? @order.service.name) %>
	<div class="row">
		<div class="col-md-5">
			<h4 class="main_head">Professional Charges</h4>
		</div>
		<div class="col-md-7">
			<h4 class="sub_head">
				<span><i class="fa fa-inr" aria-hidden="true"></i> </span> 99<br>
			</h4>
		</div>
	</div>
	<hr class="price_hr">
<% end %>

<div class="row">
	<div class="col-md-5">
		<h4 class="main_head">Net Price</h4>
	</div>
	<div class="col-md-7">
		<h4 class="sub_head">
			<span><i class="fa fa-inr" aria-hidden="true"></i></span> <%= @order.total_amount %> <br>
			
		</h4>
	</div>
</div>
<hr class="order_hr">
<% if @order.discount %>
	<div class="row">
		<div class="col-md-5">
			<h4 class="main_head">Discount</h4>
		</div>
		<div class="col-md-7">
			<h4 class="sub_head">
				<span><i class="fa fa-inr" aria-hidden="true"></i> </span><%= @order.discount.to_f %><br>
				<span class="price_hint">Discount Code Applied</span>
			</h4>
		</div>
	</div>
	<hr class="price_hr">
<% end %>
<div class="row">
	<div class="col-md-5">
		<h4 class="main_head">Total</h4>
	</div>
	<div class="col-md-7">
		<h4 class="sub_total">
			<span><i class="fa fa-inr" aria-hidden="true"></i> </span><%= (@order.total_amount.to_f - @order.discount.to_f) %><br>
		</h4>
	</div>
</div>
<hr class="price_hr">
<% if !(['E-Stamp', 'E-stamp'].include? @order.service.name) %>
	<div class="row">
		<div class="col-md-5">
			<h4 class="main_head" style="color: #ED1C24;">Document Collection</h4>
		</div>
		<div class="col-md-7">
			<h4 class="sub_head" style="color: #ED1C24;">
				<%= JSON.parse(@order.summary)['date_slot'] %>
				<span class="price_hint"></span>
			</h4>
		</div>
	</div>
	<hr class="price_hr">
<% end %>