<div class="description_notary">
	<h1 class="attesttation-head">NOTARY</h1>
	<button class="start">GO</button>
</div>
<%= form_tag('/neworder', type: :post, :class => 'notary-form', :style => "display:none;", multipart: true) do |f| %>
	<%= hidden_field_tag 'user_id',nil, value: current_user %>
	<%= hidden_field_tag 'service_id',nil, value: @service.id %>
	<%= hidden_field_tag 'product',nil, value: 'Notary' %>
	<div class="modal-header">
        <button type="button" class="close close_style" data-dismiss="modal">&times;</button>
    </div>
	<div class="layer-question layer num-val">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					ENTER THE NUMBER OF DOCUMENTS:
				</div>
			</div>
			<div class="col-md-4">
				<div class="answer">
					<span class="errmsg"></span>
					<input type="text" class="input_styling" name="answer[15]"  required id='notary-copies' maxlength="5" placeholder='Enter no. of copies (Rs. 99 per copy)'  required>
					<span><p> (Multiply with Quantity)</p></span>
				</div>
			</div>
			<div class="col-md-2">
				<div class="price">Rs. <span id='notary-total-copy'>0</span>
					<div><p>(Flat Rate Per Document)</p></div>
				</div>
			</div>
		</div>
	</div>
	<div class="layer-question layer">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					USAGE OF DOCUMENTS:
				</div>
			</div>
			<div class="col-md-4">
				<div class="answer notary-select-country">
					<div class="radio radio-primary">
					    <label class="radio-inline">
					        <input type="radio" class="radio_style" name="answer[16]" value="Domestic" required>
					    </label><p style="position:relative;left: -0.5em;display: inline-block;">Domestic</p>
					</div> &nbsp;
					<div class="radio radio_fix radio-primary">
					    <label class="radio-inline">
					        <input type="radio" class="radio_style" name="answer[16]" value="International" required>
					    </label><p style="position:relative;left: -0.5em;display: inline-block;">International</p>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="price">Rs. <span id='notary-country-price'>0</span>
					<div><p>(Service Charge)</p></div>
				</div>
			</div>
		</div>
	</div>
	<div class="layer-question layer">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					WHEN SHALL WE VISIT FOR SIGNATURES
				</div>
			</div>
			<div class="col-md-4">
				<div class="answer">
					<div id="" class="input-append">
						<select name="answer[22]" id="" class="select_option" required>
							<option value="">Select A Time Slot</option>
					    	<% @slots.each_with_index do |(key,value),index| %>
					    	<option value="<%= value + ' ' + key %>" data-atr="<%= value %>"><%= key %></option>
					    	<% end %>
					    </select>
					    <!-- <input name='answer[22]' class="calendar input_styling" data-format="MM/dd/yyyy" type="text" placeholder='Enter Visit Date'  required></input>
					    <span class="add-on">
					      <i data-date-icon="fa fa-calendar">
					      </i>
					    </span> -->
					    <span><p class="hint-text">(Assured visit within 24 - 36 Business Hours)</p></span>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="price">Rs. <span id='notary-pickup-price'>99</span>
					<input type="hidden" name='pickup_amount' value='99'>
					<div><p>(Convenience Fee)</p></div>
				</div>
			</div>
		</div>
	</div>
	<div class="layer-question layer">
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					WHEN SHALL WE DELIVER YOUR DOCUMENT
				</div>
			</div>
			<div class="col-md-4">
				<div class="answer">
					<div id="datetimepicker1" class="input-append">
					    <input name='answer[21]' class="calendar input_styling" data-format="MM/dd/yyyy" type="text" placeholder='Enter Delivery date'  required></input>
					    <span class="add-on">
					      <i data-date-icon="fa fa-calendar">
					      </i>
					    </span>
					    <span><p class="hint-text">24-48 Hours Delivery after Signatures)</p></span>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="price">Rs. <span id='notary-delivery-price'>99</span>
					<input type="hidden" name='delivery_amount' value='99'>
					<div><p>(Conveyance Charge)</p></div>
				</div>
			</div>
		</div>
	</div>
	<div class="layer-question layer">
		<h4>
			RECOMMENDED SEALS
		</h4>
		<div class="row">
			<div class="col-md-6">
				<div class="question">Seal of Authentication (Gold Foil)</div>
			</div>
			<div class="col-md-4">
				<div class="answer notary-sticker-select">
					<div class="radio radio-primary">
					    <label class="radio-inline">
					        <input type="radio" class="radio_style" name="answer[18]" value="yes" required>
					    </label><p style="position:relative;left: -0.5em;display: inline-block;">Yes</p>
					</div>&nbsp;&nbsp;
					<div class="radio radio-primary">
					    <label class="radio-inline">
					        <input type="radio" class="radio_style" name="answer[18]" value="no" required>
					    </label><p style="position:relative;left: -0.5em;display: inline-block;">No</p>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="price">Rs. <span id='notary-sticker-price1'>0</span>
					<div><p>(Flat Rate)</p></div>
				</div>
			</div>
		</div>
	</div>
	<div class="layer-question layer">
		<div class="row">
			<div class="col-md-6">
				<div class="question">Commission Expiry Seal</div>
			</div>
			<div class="col-md-4">
				<div class="answer notary-commission-select">
					<div class="radio radio-primary">
					    <label class="radio-inline">
					        <input type="radio" class="radio_style" name="answer[19]" value="yes" required>
					    </label><p style="position:relative;left: -0.5em;display: inline-block;">Yes</p>
					</div>&nbsp;&nbsp;
					<div class="radio radio-primary">
					    <label class="radio-inline">
					        <input type="radio" class="radio_style" name="answer[19]" value="no" required>
					    </label><p style="position:relative;left: -0.5em;display: inline-block;">No</p>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="price">Rs. <span id='notary-sticker-price2'>0</span>
					<div><p>(Flat Rate)</p></div>
				</div>
			</div>
		</div>
		<br>
	</div>
	<div class="layer-question layer">
		<div class="row">
			<div class="col-md-6">
				<div class="question">Address & Date Seal</div>
			</div>
			<div class="col-md-4">
				<div class="answer notary-date-select">
					<div class="radio radio-primary">
					    <label class="radio-inline">
					        <input type="radio" class="radio_style" name="answer[20]" value="yes" required>
					    </label><p style="position:relative;left: -0.5em;display: inline-block;">Yes</p>
					</div>&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="radio radio-primary radio-no-style1">
					    <label class="radio-inline">
					        <input type="radio" class="radio_style" name="answer[20]" value="no" required>
					    </label><p style="position:relative;left: -0.5em;display: inline-block;">No</p>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="price">Rs. <span id='notary-sticker-price3'>0</span>
					<div><p>(Flat Rate)</p></div>
				</div>
			</div>
		</div>
		<br>
	</div>
	<div class="layer-question total-sum layer">
		<!-- <hr> -->
		<div class="row">
			<div class="col-md-6">
				<div class="question">
					Total Price
				</div>
			</div>
			<div class="col-md-4">
				<div class="answer">
					<input type="hidden" name='total_amount'>
				</div>
			</div>
			<div class="col-md-2">
				<div class="price price-style">Rs. <span id='total-price'>0</span></div>
				<div class="submit-btn calculate">
					<input type="submit" class="submit" value='Next'>
				</div>
			</div>
		</div>
	</div>
	<div class="next pull-right">
        Next
    </div>
<% end %>
