<div class="sticky-container dvault_sticky">
	<ul class="sticky">
		<li>
			<a href="/dvault/education"><%= image_tag "dvault_sticky/education.png" , :class => "width:32;" "height:32;"  %>
			<p>Education</p></a>
		</li>
		<li>
			<a href="/dvault/cards"><%= image_tag "dvault_sticky/cards.png" , :class => "width:32;" "height:32;"  %>
			<p>Cards</p></a>
		</li>
		<li>
			<a href="/dvault/banking"><%= image_tag "dvault_sticky/banking.png" , :class => "width:32;" "height:32;"  %>
			<p>Banking</p></a>
		</li>
		<li>
			<a href="/dvault/loan"><%= image_tag "dvault_sticky/loan.png" , :class => "width:32;" "height:32;"  %>
			<p>Loan</p></a>
		</li>
		<li>
			<a href="/dvault/employment"><%= image_tag "dvault_sticky/employment.png" , :class => "width:32;" "height:32;"  %>
			<p>Employment</p></a>
		</li>
		<li>
			<a href="/dvault/medical"><%= image_tag "dvault_sticky/medical.png" , :class => "width:32;" "height:32;"  %>
			<p>Medical</p></a>
		</li>
		<li>
			<a href="/dvault/travel"><%= image_tag "dvault_sticky/travel.png" , :class => "width:32;" "height:32;"  %>
			<p>Travel</p></a>
		</li>
		<li>
			<a href="/dvault/investments"><%= image_tag "dvault_sticky/investment.png" , :class => "width:32;" "height:32;"  %>
			<p>Investments</p></a>
		</li>
		<li>
			<a href="/dvault/insurance"><%= image_tag "dvault_sticky/insurance.png" , :class => "width:32;" "height:32;"  %>
			<p>Insurance</p></a>
		</li>
		<li>
			<a href="/dvault/property"><%= image_tag "dvault_sticky/property.png" , :class => "width:32;" "height:32;"  %>
			<p>Property</p></a>
		</li>
	</ul>
</div>