<div class="sticky-container">
	<ul class="sticky">
		<li>
			<a href="/in/agreement"><%= image_tag "Agreement1.png" , :class => "width:32;" "height:32;"  %>
			<p>Agreements</p></a>
		</li>
		<li>
			<a href="/in/affidavit"><%= image_tag "Affidavits1.png" , :class => "width:32;" "height:32;"  %>
			<p>Affidavits</p></a>
		</li>
		<li>
			<a href="/in/bond"><%= image_tag "Bonds1.png" , :class => "width:32;" "height:32;"  %>
			<p>Bonds</p></a>
		</li>
		<li>
			<a href="/in/deed"><%= image_tag "Deeds1.png" , :class => "width:32;" "height:32;"  %>
			<p>Deeds</p></a>
		</li>
		<li>
			<a href="/in/startup"><%= image_tag "Startups1.png" , :class => "width:32;" "height:32;"  %>
			<p>Startups</p></a>
		</li>
		<li>
			<a href="/in/marketplace"><%= image_tag "Marketplace1.png" , :class => "width:32;" "height:32;"  %>
			<p>Marketplace</p></a>
		</li>
		<li>
			<a href="/in/on-demand"><%= image_tag "On-Demand1.png" , :class => "width:32;" "height:32;"  %>
			<p>On Demand</p></a>
		</li>
	</ul>
</div>