<div id="uploadFile" class="modal fade" role="dialog" tabindex='-1'>
  <div class="modal-dialog">
    <div class="modal-content uload_content_style">
      <div class="modal-header">
      </div>
      <div class="modal-body">
      	<button type="button" class="close" data-dismiss="modal">x</button>
        <%= form_tag('/upload_doc', type: :post, multipart: true, :class => "profile_form_style") do |f| %>
			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			<%= hidden_field_tag :user_id, current_user %>
			<%= hidden_field_tag :category, @category.name %>
			<div class="row clearfix">
				<div class="col-md-5">
					<div id="upload" src="#">
						<div class="upload_doc_style">
							<%= image_tag  '', :id => "blah", :style => "width: 100%; height: 100%; border: 0;" %>
							<input type="file" name="file" id="files" placeholder="" accept=".png,.jpeg, .jpg,.doc,.docx,.pdf" onchange="readURL(this);" required/><div class="upload_wrapper"><i class="fa fa-upload"> <p class="doc_dvault_txt">Click To Upload Document</p></i></div>
						</div>
					</div>
				</div>
				<div class="col-md-7">
						<div class="form-group">
							<div class="input_append">
								<%= select_tag "sub_category_id", options_from_collection_for_select(@sub_categories, "id", "name"), include_blank: "Select Category", class: 'select_style' %>
							</div>
						</div>
					
						<div class="form-group">
							<input type="text" class="input-style" name="filename" placeholder="Document Name" required/>
						</div>
						<div class="form-group">
							<input type="text" class="input-style" name="tag" placeholder="#tags" required/>
						</div>
					<button class="submit_btn">Submit</button>
				</div>
			</div>
		<% end %>
      </div>
    </div>
  </div>
</div>

<script>
	function readURL(input) {
		var fileExtension = ['jpeg', 'jpg', 'png'];
		var ext = $(input).val().split('.').pop();
        if (input.files && input.files[0] && ($.inArray(ext, fileExtension) >= 0))  {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
            };
            reader.readAsDataURL(input.files[0]);
        }

        else if (input.files && input.files[0]){
        	var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah')
                    .attr('src', '/assets/file/'+ext.toLowerCase()+'2x.png')
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>