<div id="myModal4" class="modal fade" role="dialog" tabindex='-1'>
  <div class="modal-dialog">
    <div class="modal-content content_styling">
      <div class="modal-body">
        <button type="button" class="close btn_modal_close" data-dismiss="modal">&times;</button>
        <div class="row">
          <div class="col-md-12">
            <div class="main_wrapper1">
                <h4 class="forgot_text">Verify Mobile Number </h4>
                <div class="forgot_wrapper">
                  <div class="send_otp">
                    <%= form_tag('/verify_mobile', type: :post) do |f| %>
                      <%= hidden_field_tag 'user_id',nil, value: current_user %>
                      <input type="text" value='<%= @current_user.phone %>' disabled>
                      <button type='submit' class="submit_btn">Submit</button>
                    <% end %>
                  </div>
                  <div class="verify-otp">
                    <%= form_tag('/verify_otp', type: :post, :class => "forgot_form") do |f| %>
                      <div class="forgot_input_style">
                        <%= hidden_field_tag 'user_id',nil, value: current_user %>
                        <input type="text" name="otp" id="otp_number" class="input_style" required="required" title="" placeholder="Enter The OTP Number">
                        <button type="submit" class="btn btn-default submit_btn">Submit</button>
                      </div>
                    <% end %>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('.forgot_wrapper .verify-otp').hide()
    $('.send_otp form').on('submit', function(e) {
      e.preventDefault();
      e.stopPropagation();
      $.ajax({
        type: 'post',
        url: '/verify_mobile',
        data: $('.send_otp form').serialize()
      }).done(function (data, textStatus, jqXHR) {
        $('.forgot_wrapper .send_otp').hide();
        $('.forgot_wrapper .verify-otp').show();
        setNotification('success', 'Otp Sent to your Mobile');
      }).fail(function (jqXHR, textStatus, errorThrown) {
        setNotification('error', 'Unknown Error. Try Again');
      });
    });
    $('.verify-otp form').on('submit', function(e) {
      e.preventDefault();
      e.stopPropagation();
      $.ajax({
        type: 'post',
        url: '/verify_otp',
        data: $('.forgot_wrapper form').serialize()
      }).done(function (data, textStatus, jqXHR) {
        $('.verify-mobile').hide();
        setNotification('success', 'Mobile Number Verified');
        $('#myModal4').modal('hide');
      }).fail(function (jqXHR, textStatus, errorThrown) {
        setNotification('error', 'Unknown Error. Try Again');
      });
    });
  })
</script>
