<div class="container-fluid section_padd order_summary box_wrap notary">
	<div class="row details_wrap">
		<div class="col-md-6">
			<div class="product_description">
				<div class="row product_wrap">
					<div class="col-md-3">
						<h4 class="product_head">Product</h4>
					</div>
					<div class="col-md-9">
						<h1 class="product_subhead"><%= @document.name %></h1>                           
					</div>
				</div>
				<hr class="product_hr">
				<div class="row price_sum">
					<div class="col-md-3">
						<h4 class="product_head">Description</h4>
					</div>
					<div class="col-md-9">
						<h4 class="product_subhead">
							Attestation is the procedure to verify or certify a document to the appropriate required level so that the person receiving the document will be satisfied that it is a genuine document. 
						</h4>                           
					</div>
				</div>
				<hr class="price_hr">
				<div class="row price_sum">
					<div class="col-md-3">
						<h4 class="product_head">Price</h4>
					</div>
					<div class="col-md-9">
						<h4 class="product_subhead">
							<span><i class="fa fa-inr" aria-hidden="true"></i></span> <%= @document.default_price || '99'%> <br>
							<span class="price_hint">GST Applicable</span>
						</h4>                           
					</div>
				</div>
				<hr class="checklist_hr">
				<div class="row">
					<div class="col-md-3">
						<h4 class="product_head">Procedure</h4>
					</div>
					<div class="col-md-9">
						<ul class="procedure_wrap">
							<li>
								<%= image_tag 'new_images/procedure_icon/documentcollection.png', :class => "agreement_icon" %>
								<p>Document Collection</p>
							</li>
							<li>
								<%= image_tag 'new_images/procedure_icon/verification.png', :class => "agreement_icon" %>
								<p>Attestation Process</p>
							</li>
							<li>
								<%= image_tag 'new_images/procedure_icon/delivery.png', :class => "agreement_icon" %>
								<p>Delivery</p>
							</li>
						</ul>                           
					</div>
				</div>
				<hr class="procedure_hr">
			</div>
			<div class="product_summary" style="display:none;">
				<div class="row">
					<div class="col-md-5">
						<h4 class="main_head">Order Summary</h4>
					</div>
					<div class="col-md-7">
						<h4 class="sub_head"><%= @document.name %></h4>
					</div>
				</div>
				<hr class="summary_hr">
				<div class="row">
					<div class="col-md-5">
						<h4 class="main_head">Price</h4>
					</div>
					<div class="col-md-7">
						<h4 class="sub_head doc_price price_style">
							<span><i class="fa fa-inr" aria-hidden="true">
								<%= @document.default_price || 80 %> 
							</i> each</span>
						</h4>
					</div>
				</div>
				<hr class="summary_hr">
                <div class="row">
					<div class="col-md-5">
						<h4 class="main_head">No. of Documents</h4>
					</div>
					<div class="col-md-7">
						<h4 class="sub_head" id="copy">
							<!-- <span><i class="fa fa-inr" aria-hidden="true"></i> </span><br> -->
							<span class="price_hint"> 1 Copy </span>
						</h4>
					</div>
				</div><hr class="summary_hr">
				<div class="row">
					<div class="col-md-5">
						<h4 class="main_head">Delivery Charges</h4>
					</div>
					<div class="col-md-7">
						<h4 class="sub_head">
							<span><i class="fa fa-inr" aria-hidden="true"></i> </span><%= @document.service.delivery_charges %><br>
							<span class="price_hint">24-48 Hours Delivery</span>
						</h4>
					</div>
				</div>
				<hr class="summary_hr">
				<div class="row">
					<div class="col-md-5">
						<h4 class="main_head">Professional Charges</h4>
					</div>
					<div class="col-md-7">
						<h4 class="sub_head">
							<span><i class="fa fa-inr" aria-hidden="true"></i> </span> 99<br>
						</h4>
					</div>
				</div>
				<hr class="summary_hr">
                <div class="row">
                    <div class="col-md-5">
                        <h4 class="main_head">CGST @ 9%</h4>
                    </div>
                    <div class="col-md-7">
                        <h4 class="sub_head price_style gst">
                            <span><i class="fa fa-inr" aria-hidden="true"></i></span><br>
                        </h4>
                    </div>
                </div>
                <hr class="summary_hr">
                <div class="row">
                    <div class="col-md-5">
                        <h4 class="main_head">SGST @ 9%</h4>
                    </div>
                    <div class="col-md-7">
                        <h4 class="sub_head price_style gst">
                            <span><i class="fa fa-inr" aria-hidden="true"></i></span><br>
                        </h4>
                    </div>
                </div>
				<hr class="summary_hr">
				<div class="row">
					<div class="col-md-5">
						<h4 class="main_head">Total</h4>
					</div>
					<div class="col-md-7">
						<h4 class="sub_head sub_total final_amount stamp_price">
							<span class="stamp_icon">
								<span><i class="fa fa-inr" aria-hidden="true"></i></span><br> 
							</span>
						</h4>
					</div>
				</div>
				<hr class="summary_hr">
				<div class="row">
					<div class="col-md-5">
						<h4 class="main_head" style="color: #ED1C24;">Document Collection</h4>
					</div>
					<div class="col-md-7">
						<h4 class="sub_head date-slot" style="color: #ED1C24;">
							<%#= JSON.parse(@order.summary)['date_slot'] %>
							<span class="price_hint"></span>
						</h4>
					</div>
				</div>
				<hr class="summary_hr">
				<button type="button" class="btn btn-default back_btn pull-right" style="display:none;">Back</button>
			</div>
		</div>
		<div class="col-md-6">
			<div class="answer_wrap">
				<%= form_tag('/campaign_order',:name => 'd-form', :class => 'document-form', :id => "question_form") do |f| %>
					<%= hidden_field_tag 'user_id',nil, value: current_user %>
					<%= hidden_field_tag 'service_id',nil, value: @document.service.id %>
					<%= hidden_field_tag 'document_id',nil, value: @document.id %>
					<%= hidden_field_tag 'product',nil, value: @document.name  %>
					<div class="question_section">
						<div class="form-group section_one ">
							<h4 class="questions_heading">1) ENTER THE NUMBER OF DOCUMENTS:</h4>
							<div class="copies_slot">
								<div id="notary-slider" class="dragdealer_notary">
									<ul class="list_wrapper">
										<li>1</li>
										<li>2</li>
										<li>3</li>
										<li>4</li>
										<li>5</li>
										<li>6</li>
										<li>7</li>
										<li>8</li>
										<li>9</li>
										<li>10</li>
									</ul>
									<input type="hidden" name="answer[15]" id="notary-copies" required>
									 <input type="hidden" name="quantity" id="quantity" value='1' required>
									<div class="handle red-bar">
										<span class="value"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group section_one" >
							 <h4 class="questions_heading">2)USAGE OF DOCUMENTS:</h4>
							 <div class="radio-toolbar notary-select-country">
								<input type="radio" id="radio0" name="answer[16]" value="Domestic" checked>
								<label for="radio0">Domestic</label>

								<input type="radio" id="radio1" name="answer[16]" value="International">
								<label for="radio1">International</label>
							</div>
						</div>
						<div class="form-group section_three">
							<h4 class="questions_heading">3) When shall we visit you for signature</h4>
							<div class="date_slide">
								<div id="date-slider" class="dragdealer">
									<ul class="list_date" id="date"> 
										<li id="date1">
										   
										</li>
										<li id="date2">
											
										</li>
										<li id="date3">
											
										</li>
										<li id="date4">
											
										</li>
										<li id="date5">
										   
										</li>
										<li id="date6">
											
										</li>
										<li id="date7">
											
										</li>
									</ul>
									<div class="handle red-bar">
										<span class="value"></span>
									</div>
									<input type="hidden" name='answer[17]' id="date_slot" required>
								</div>
							</div>  
							<div id="proRangeSlider">
								<div>
									<span class="timing_txt">TIMINGS</span>
									<div class="time_slider">
										<div id="simple-slider" class="dragdealer">
											<div class="handle red-bar"></div>
										</div>
									</div>
									<ul class="time_slot">
										<li>10AM TO 12PM</li>
										<li>12PM TO 3PM</li>
										<li>3PM TO 6PM</li>
										<li>6PM TO 8PM</li>
									</ul>
								</div>
								<input type="hidden" name='summary' id='summary'>
								<input type="hidden" name='total_amount' id='total_amount'>
							</div>
							<button type="button" class="btn btn-default proceed_btn">Proceed &nbsp;&nbsp;
								<span class="proceed_caret">
									<i class="fa fa-caret-right" aria-hidden="true"></i>
								</span>
							</button>
						</div>
					</div>
					<div class="contact_section" style="display:none;">
						<div class="contact_details">
							<div class="payment_details">
								<p>SHARE YOUR CONTACT DETAILS</p>
								<div class="form-group">
									<input type="text" class="input_name" id="fullName" pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" title="Type only characters" name="name"  placeholder="FULL NAME" required/>
								</div>
								<div class="form-group">
									<input type="email" class="input_name" id="email" title="Eg: some@mail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" placeholder="EMAIL ADDRESS" required/>
								</div>
								<div class="form-group">
									<input type="text" class="input_name" id="mobileNumber" maxlength="10" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" title="Enter 10 digit Valid Mobile Number" name="mobile" placeholder="MOBILE NUMBER" required/>
								</div>
							</div>
						</div>  
						<div class="terms_wrap">
							<div class="checkbox">
								<label>
									<input type="checkbox" class="terms_condition" name="terms_condition" value="">
									&nbsp;&nbsp; <span class="chk_hint">I agree to the <a href="/terms"><em>Terms & Conditions</em></a> of Docket Tech</span>
								</label>
							</div>
						</div>  
					</div>
					<div class="button_wrap">
						<button type="submit" class="btn btn-primary pay_btn" style="display:none;">PAY &nbsp;&nbsp;&nbsp;<span class="pay_caret"><i class="fa fa-caret-right" aria-hidden="true"></i></span></button>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<script>
	var final_date, final_time;
	$('#stamp_amount').on('change', function(e){
		$('#stamp_value').val(e.target.value);
	})

	$('.proceed_btn').bind('click',function(e){
		// e.preventDefault();
		// e.stopPropagation();
		var summary = {};
		$('.document-form input').each(function(){
			var elem = $(this);
			var id = elem.attr('id');
			if ((id != undefined) && !(id.includes('id')) && !(id == 'undefined') && !(id == 'stamp_value') && !(id == 'summary')){
				var value = elem.val();
				summary[id] = value;
			}
		})        
		$('.contact_section').show();
		$('.product_summary').show();
		$('.back_btn').show();
		$('.question_section').hide();
		$('.product_description').hide();
		$('#summary').val(JSON.stringify(summary));
		calculateSum();
		// $('.document-form').submit();
	})
	function calculateSum(){
		var usage;
		var net_amount;
			if ($('.notary-select-country input:checked').val() == 'International'){
				usage = 0;
			}
			if ($('.notary-select-country input:checked').val() == 'Domestic'){
				usage = 1;
			}
		copies = parseInt($('#notary-copies').val());
		$('#copy span').html($("#notary-copies").val() + ' Copy');
		delivery_charge = <%= @document.service.delivery_charges %>;
		document_charge = <%= @document.default_price %>
		pickup_charge = 99;
		if (usage == 0){
			net_amount = (copies * 80)+ 199 + delivery_charge + pickup_charge;
			$('#copy span').html($("#notary-copies").val() + ' Copy, Rs. 199 International cahrges');
		}
		if (usage == 1) {
			net_amount = (copies * 80) + delivery_charge + pickup_charge;
		}
		gst = (net_amount * 0.09).toFixed(2);
        final_amount = (net_amount + gst*2);
		$('#total_amount').val(net_amount);
		$('.final_amount span i').html(final_amount);
		$('.gst span i').html(gst);
	}

	$('.back_btn').bind('click', function(){
		$('.question_section').show();
		$('.product_description').show();
		$('.contact_section').hide();
		$('.product_summary').hide();
		$('.pay_btn').hide();
	})
	/************** Number Of Copies Slider JS Starts ********************/
	$(function() {
	  new Dragdealer('just-a-slider', {
		speed: 1,
		loose: true,
		steps: 11,
		animationCallback: function(x, y) {
		  $('#just-a-slider .value').text(Math.round(x * 10));
		  $("#no-of-copies").val(Math.round(x * 10));
		  $('#quantity').val(Math.round(x * 10));
		}
	  });
	})

	/************* Number of Copies Slider JS Ends *********************/

	/************* Time Slot Slider JS Ends *********************/

	$(function() {
	  new Dragdealer('simple-slider', {
		speed: 1,
		loose: true,
		steps: 4,
		animationCallback: function(x, y) {
			var time_slot1 = "10AM TO 12PM";
			var time_slot2 = "12PM TO 3PM";
			var time_slot3 = "3PM TO 6PM";
			var time_slot4 = "6PM TO 8PM";
			var decimalValue = x;
			// console.log(" decimalValue = " +decimalValue);
			var stepValue = Math.round(x * 3);
			// console.log(" stepValue = " +stepValue);
			$('#simple-slider .value').text();
			// $('date_slot').val()
			if(stepValue == 0){
				final_time = time_slot1;
			}
			if(stepValue == 1){
				final_time = time_slot2;
			}
			if(stepValue == 2){
				final_time = time_slot3;
			}
			if(stepValue == 3){
				final_time = time_slot4;
			}
			$("#date_slot").val(final_date + " " + final_time);
		}
	  });
	})

	/************* Time Slot Slider JS Ends *********************/

		/************** Date Slider JS Starts ********************/
	$(function() {    
	  new Dragdealer('date-slider', {
		speed: 1,
		loose: true,
		steps: 7,
		animationCallback: function(x, y) {
			var decimalValue = x;
			// console.log(" decimalValue = " +decimalValue);
			var stepValue = Math.round(x * 6);
			// console.log(" stepValue = " +stepValue);
			$('#date-slider .value').text(tot_days[stepValue]);
			final_date = tot_days[stepValue].replace(/(\r\n|\n|\r)/gm," "); 
			$("#date_slot").val(final_date + " " + final_time);
			$('.date-slot span').html(final_date + " " + final_time);
		}
	  });
	})

	/************* Date Slider JS Ends *********************/

	/********************* DATE SLOT JS STARTS **********************/



	var current_date = new Date();
	var next_date = new Date();
	var j=0;


	var date = current_date.getDate();

	var tot_days = new Array(7);
	var dd, mm;
	for(j=0; j<7; j++){
		next_date.setDate(next_date.getDate() + 1);
		dd = next_date.getDay();

		mm = next_date.getMonth();
		if(mm==0){
			mm="JAN";
		} else if(mm==1){
			mm="FEB";
		} else if(mm==2){
			mm="MAR";
		} else if(mm==3){
			mm="APR";
		} else if(mm==4){
			mm="MAY";
		} else if(mm==5){
			mm="JUN";
		} else if(mm==6){
			mm="JUL";
		} else if(mm==7){
			mm="AUG";
		} else if(mm==8){
			mm="SEP";
		} else if(mm==9){
			mm="OCT";
		} else if(mm==10){
			mm="NOV";
		} else if(mm==11){
			mm="DEC";
		}  

		if(dd==0) {
			dd="SUN";
		} else if(dd==1){
			dd="MON";
		} else if(dd==2){
			dd="TUE";
		} else if(dd==3){
			dd="WED";
		} else if(dd==4){
			dd="THU";
		} else if(dd==5){
			dd="FRI";
		} else if(dd==6){
			dd="SAT";
		}
		tot_days[j] = dd + "\n" + next_date.getDate() + "\n" + mm;
		var temp = (j + 1);
		document.getElementById("date" + (j + 1)).innerHTML = tot_days[j];
	}

	/********************* DATE SLOT JS ENDS **********************/
</script>
