<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>E-Stamp | Docket Tech</title>
		<%= stylesheet_link_tag 'campaign', media: 'all' %>
		<meta name="description" content="Docket helps get your E-Stamp at your doorstep. It's simple and easy-It's only takes a few minutes! Fast Online Process ·Transparent Pricing.">
		<meta name="keywords" content="e-stamp paper in bangalore, stamp paper in bangalore, stamp paper bangalore, e-stamping in bangalore, stamp paper availability in bangalore, e-stamp paper availability in bangalore, e-stamp bangalore, where to get stamp paper in bangalore, where to buy stamp paper in bangalore, e-stamp in bangalore, e-stamp paper vendors in bangalore, stamp paper vendors in bangalore, where to get e-stamp paper in bangalore, stamp papers in bangalore, e-stamping centers in bangalore, where can i get stamp paper in bangalore, where to buy e-stamp paper in bangalore, where can i get e-stamp paper in bangalore, buy stamp paper online bangalore, where can i buy stamp paper in bangalore, stamp paper online bangalore, buy stamp paper in bangalore, e-stamp papers in bangalore, online stamp paper bangalore, stamp paper bangalore online, e-stamp paper in electronic city bangalore">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
		<%= favicon_link_tag 'favicon.ico' %>
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
	<div class="container-fluid e-stamp">
		<div id="notification"></div>
		<a href="/"><img src="assets/new_images/logo.png" class="pull-left logo" alt="logo"></a>
		<div class="city_wrap pull-right">	
			<!-- <h4 class="bangalore">BANGALORE</h4> -->
			<div class="enquiry">
				<button type="button" class="btn btn-default enquiry_btn">FOR BULK ORDERS</button> <span class="enquiry_icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
			</div>
		</div>
		<div class="row cust_enquire" style="display:none;">
			<div class="pull-right close_enquiry">X</div>
			<div class="col-sm-8 col-md-8 col-lg-8 enquiry_form" style="">
				<h1 class="quick_txt">QUICK ENQUIRY</h1>
				<%= form_tag('/contact_requests', remote: true, type: :post, :onSubmit => 'formHide()',:class=> 'contact_form') do |f| %>
					<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<input type="hidden" name="contact_request[request_type]" placeholder="Name" value="Campaign-Bulk-EStamp">
					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-6">
							<div class="form-group">
								<input type="text" class="input_style1" pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" title="Type only characters"  name="contact_request[name]"   id="name" placeholder="Name" required>
							</div>
							<div class="form-group">
								<input type="email" title="Eg: some@mail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="contact_request[email]"  class="input_style1" id="email" placeholder="Email" required>
							</div>  
							<div class="form-group">
								<input type="mobile" maxlength="10" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" title="Enter 10 digit Valid Mobile Number" name="contact_request[phone]" class="input_style1" id="mobile" placeholder="Mobile" required>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<div class="form-group">
								<textarea class="text_style1" name="contact_request[message]" id="message" placeholder="What are you looking for?" required></textarea>
							</div>
							<button type="submit" class="send-btn">Send</button>
						</div>
					</div>
				<% end %>
				<div class='thanks' style="display:none"> 
				  Thank You for contacting us. We will get back to you shortly.
				</div>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4 map">
				<div class="for-india"><h4>India</h4></div>
				<div class="for-address">
					<address>
						DOCKET TECH SOLUTIONS PRIVATE LIMITED<br>
						Mayur Tower, #10, <br>
                    	1st Floor, 3rd Main Rd, <br>
                   		Ashwini Layout, Ejipura, <br>
                   		Bangalore - 560047, <br>
					</address>
				</div>
				<h4 class="phonenumber">+91-81-0537 7103</h4>
				<!-- <h4 class="phonenumber">+91-80-4656 4656</h4> -->
				<h4 class="email_txt"><a href="mailto:support@dockettech.com">support@dockettech.com</a></h4>
			</div>
		</div>
		<div class="row main_bg">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-6 for-content-estamp">
						<div class="center_align search_section">
							<h1 class="main_head">ONE STOP FOR<span class="for-bold">ALL YOUR</span></h1>
							<h1 class="sub_head">E-STAMP</h1>
							<h1 class="sub_head-estamp">REQUIREMENTS</h1>
							<h4 class="sub_head2">E-stamp is a computer based application and a safe way of paying<br> non-judicial stamp duty to the government</h4>
							<a id="place-order">
								<button type="button" class="btn-estamp btn-order-estamp" id="order_now">PLACE YOUR ORDER NOW</button>
								<!-- <button type="button" class="btn-estamp btn-order-estamp-bulk" id="order_bulk">PLACE YOUR BULK ORDER HERE</button> -->
							</a>
							<h3 class="service-karnataka">Currently our services are available only in Karnataka</h3>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-6 for-transparent-look">
					</div>
				</div>
			</div>
		</div>
		<div class="row estamp-content">
			<div class="container">
				<div class="col-sm-6 col-md-6 col-lg-6 for-estamp-content">
					<div class="row">
						<div class="col-sm-8 col-md-8 col-lg-8">
							<h2>E-STAMPING</h2>
							<h4 class="sub_head3">E-stamping was launched by the state government in 2008. The aim is to prevent paper and process related fraudulent practices, leakage of government revenues, store information in electronic form and build a central data bank to facilitate easy verification.</h4>
						</div>
						<div class="col-sm-4 col-md-4 col-lg-4">
							<img src="/assets/campaign_estamp/e-stamp-logo.png">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12">
							<h2>HOW IT WORKS</h2>
							<div class="list-usage">
								<ol>
									<li>E-stamp certificate has three security features – 2-dimensional barcode, watermark and micro-digiting</li>
									<li>Once certificate is issued, security systems are such that document cannot be copied</li>
									<li>Rent Agreement stamp paper This hundred rupees stamp paper can be used for execution a rental agreement</li>
									<li>2-D barcode captures all data and anyone trying to fudge original certificate will only get copies of it which shows on the certificate that is ‘a copy’.</li>
									<li>Vendors who have tied up with Stock Holding Corporation of India can transact e-stamp certificates. </li>
								</ol>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-6 for-estamp-usage">
					<h2>USAGE / BENIFITS</h2>
					<div class="list-usage">
						<ol>
							<li>Bank guarantee and some indemnities require Rs 50 stamp paper to provide their agreements on</li>
							<li>Affidavit of support can be done on 50 Rs. Stamp Paper</li>
							<li>Rental Agreement stamp paper This hundred rupees stamp paper can be used for execution a rental agreement</li>
							<li>Joint Venture Agreements can be written and executed on this document</li>
							<li>Property Registration Agreement can be done on a stamp paper.</li>
							<li>E-Stamp Certificate can be generated within minutes and is tamper proof</li>
							<li>E-Stamp Certificate generated has a Unique Identification Number (UIN).</li>
							<li>Authenticity of the e-Stamp certificate can be checked through the inquiry module.</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="row question_bg" id="order">
			<div class="col-md-12">
				<%= form_tag('/campaign_order',:name => 'd-form', multipart: true, :class => 'document-form', :id => "question_form") do |f| %>
					<%= hidden_field_tag 'user_id',nil, value: current_user %>
					<%= hidden_field_tag 'service_id',nil, value: @service.id %>
					<%= hidden_field_tag 'document_id',nil, value: @document.id %>
					<%= hidden_field_tag 'product',nil, value: 'E-stamp'  %>
					<%= hidden_field_tag 'total_amount',nil, value: nil  %>
					<%= hidden_field_tag 'answer[44]',nil, value: 'Campaign'  %>
					<div class="estamp_wrap">
						<!-- <div class="arrow hidden-sm hidden-xs">
							<div class="arrow_right estamp-amt-right pull-right">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</div>
						</div> -->
						<div class="container for-questions">
							<h2 class="text-center for-default">PLACE YOUR ORDER HERE</h2>
							<div class="row">
								<div class="col-md-6 col-md-offset-1 for-align-center">
									<div class="section_one">
										<h1 class="order_no">01</h1>
										<h2 class="order_txt">E-Stamp</h2>
										<div class="form-group for-form">
										<div class="stamp_study">
											<h4 class="questions_heading">Please enter your Stamp Duty Amount</h4>
											<div class="amount_wrap">
												<span class="rupee_icon"><i class="fa fa-inr"></i></span>
												<input type="text" class="input_style" maxlength="5" id="stamp_amount" name="answer[23]" title="Please type digits other than 0 as first digit" placeholder="Minimum Rs. 50" required/>
											</div>
											<input id='stamp_value' type="hidden" name='stamp_amount'>
											<p class="hint_txt">(SERVICE CHARGE: STAMP DUTY AMT. RS. 1 TO 100 = RS. 35, RS. 101 to 1000 = 55, RS. 1001 to 2000 = 75, RS. 2001 to 5000 = 250, Above 5000 = 5%)</p>
										</div>
									</div>
								</div>
								</div>
								<div class="col-md-3 col-md-offset-right-2">
									<div class="section_two">
										<h3 class="estamp_select">YOU HAVE SELECTED</h3>
										<div class="sub_head stamp_price">
											<img src="/assets/campaign_estamp/e-stamp-logo-2.png">
											<span class="stamp_icon">
												<i class="fa fa-inr stamp_rupee" aria-hidden="true">&nbsp0</i>	 <%#= (@order.stamp_amount.to_i + service_charge) %> 
											</span>
										</div>
										<span class="price_hint">Stamp Paper</span>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-offset-8 col-md-2 col-md-offset-2">
									<div class="estamp_right choose-type continue_btn" >
										proceed
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="select-party" style="display:none">
						<div class="arrow hidden-sm hidden-xs">
							<div class="arrow_left party-left pull-left">
								<i class="fa fa-angle-left" aria-hidden="true"></i>
							</div>
							<div class="arrow_right party-right pull-right">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</div>
						</div>
						<div class="container for-questions-party">
							<h2 class="text-center for-default">FIRST PARTY & SECOND PARTY DETAILS</h2>
							<div class="row">
								<div class="col-md-6 col-md-offset-1 for-align-center">
									<div class="section_one">
										<h1 class="order-no-party">02</h1>
										<h2 class="order-txt-party">FIRST PARTY & SECOND PARTY</h2>
										<div class="form-group-party for-form-party">
											<p>Enter First Party Name</p>
											<input type='text' name="answer[24]" class='input-style-party' id='firstinput'>
											<p class="for-second-party">Enter Second Party Name</p>
											<input type='text' name="answer[25]" class='input-style-party' id='secondinput'>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-md-offset-right-2">
									<div class="section_two">
										<div class="sub_head stamp-price-party" >
											<!-- <img src="/assets/campaign_estamp/e-stamp-logo-2.png"> -->
											<span class="stamp-icon-party" >
												<i class="fa fa-inr stamp_rupee" id="stamp-icon-party" aria-hidden="true"></i>	 <%#= (@order.stamp_amount.to_i + service_charge) %> 
											</span>
										</div>
										<span class="price-hint-party">E-STAMPING</span>
										<div class="for-parties">
											<ol>
												<li>First Party Name</li><p class="parties" id='firstname' style="text-align:left;"></p>
												<li>Second Party Name</li><p class="parties" id='secondname' style="text-align:left;"></p>
											</ol>
										</div>
									</div>
									
								</div>
							</div>
							<div class="row">
								<div class="col-md-offset-8 col-md-2 col-md-offset-2 hidden-md hidden-lg">
									<div class="party-left continue_btn" >
										Back
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-offset-8 col-md-2 col-md-offset-2">
									<div class="party-btn  continue_btn">
										proceed
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="select-description" style="display:none" >
						<div class="arrow hidden-sm hidden-xs">
							<div class="arrow_left description-left pull-left">
								<i class="fa fa-angle-left" aria-hidden="true"></i>
							</div>
							<div class="arrow_right description-right pull-right">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</div>
						</div>
						<div class="container for-questions-party">
							<h2 class="text-center for-default">E-STAMP DESCRIPTION DETAILS</h2>
							<div class="row">
								<div class="col-md-6 col-md-offset-1 for-align-center">
									<div class="section_one">
										<h1 class="order-no-description">03</h1>
										<h2 class="order-txt-description">DESCRIPTION</h2>
										<div class="form-group-party for-form-description">
										<p>Please Mention the description of E-stamp</p>
										<textarea maxlength="90" class="input_style2" name="answer[26]" id="description-estamp" placeholder="Affidavit or Rental Agreement or Indemnity Bond" rows="2" cols="40"></textarea>
										<p>Stamp Duty Purchased by:</p>
										<div class="radio-toolbar">
                            				<input type="radio" id="radio0" name="answer[27]" value="first_party" checked>
                            				<label for="radio0">First Party</label>
                            				<input type="radio" id="radio1" name="answer[27]" value="second_party">
                            				<label for="radio1">Second Party</label>
                        				</div>
									</div>
								</div>
								</div>
								<div class="col-md-3 col-md-offset-right-2">
									<div class="section_two">
										<div class="sub_head stamp-price-party" >
											<!-- <img src="/assets/campaign_estamp/e-stamp-logo-2.png"> -->
											<span class="stamp-icon-party" >
												<i class="fa fa-inr stamp_rupee" id="stamp-icon-desc" aria-hidden="true"></i>	 <%#= (@order.stamp_amount.to_i + service_charge) %> 
											</span>
										</div>
										<span class="price-hint-party">E-Stamp</span>
										<div class="for-description">
											<ol>
												<li>E-stamp Description</li><p class="description-shown" id='description-shown' style="text-align:left;"></p>
											</ol>
										</div>
									</div>
									
								</div>
							</div>
							<div class="row">
								<div class="col-md-offset-8 col-md-2 col-md-offset-2 hidden-md hidden-lg">
									<div class="description-left continue_btn" >
										Back
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-offset-8 col-md-2 col-md-offset-2">
									<div class="desc-btn  continue_btn">
										proceed
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="estamp-payment-summary" style="display:none">
						<div class="arrow hidden-sm hidden-xs">
							<div class="arrow_left payment-estamp-left pull-left">
								<i class="fa fa-angle-left" aria-hidden="true"></i>
							</div>
							<div class="arrow_right payment-estamp-right pull-right">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</div>
						</div>
						<div class="container for-questions-party">
							<h2 class="text-center for-default">E-STAMP ORDER SUMMARY  <%#= @document.name %></h2>
							<div class="row">
								<div class="col-md-6 col-md-offset-1 for-align-center">
									<div class="section_one">
										<div class="form-group-party for-form-description">
										<h4 class="questions-heading-estamp">YOUR FINAL ORDER SUMMARY</h4>
										<div class="row">
											<div class="col-md-6">
												<h4 class="main_head">Stamp Duty Amount</h4>
											</div>
											<div class="col-md-6 pull-left">
												<h4 class="sub_head stamp_price price_style">
													<span><i class="fa fa-inr" aria-hidden="true"></i> </span><%#= (@order.stamp_amount.to_i + service_charge) %> <br>
												</h4>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<h4 class="main_head">Delivery Charges</h4>
											</div>
											<div class="col-md-6">
												<h4 class="sub_head price_style">
													<span><i class="fa fa-inr" aria-hidden="true">99</i></span><%#= @document.service.delivery_charges %><br>
												</h4>
											</div>
										</div>
									</div>
								</div>
								</div>
								<div class="col-md-3 col-md-offset-right-2">
									<div class="section_two">
										<h3 class="estamp_select">Total Amount</h3>
										<div class="sub_total final_amount stamp_price">
											<img src="/assets/campaign_estamp/e-stamp-logo-2.png">
											<span class="stamp_icon">
												<span><i class="fa fa-inr" aria-hidden="true"></i></span><br> 
											</span>
										</div>
										<span class="price_hint">24-48 Hours Delivery</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-offset-8 col-md-2 col-md-offset-2 hidden-md hidden-lg">
									<div class="payment-estamp-left continue_btn" >
										Back
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-offset-8 col-md-2 col-md-offset-2">
									<div class="payment-btn  continue_btn">
										proceed
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="estamp-cust-info" style="display:none">
						<div class="arrow hidden-sm hidden-xs">
							<div class="arrow_left cust-estamp-left pull-left">
								<i class="fa fa-angle-left" aria-hidden="true"></i>
							</div>
						</div>
						<div class="container for-questions-party">
							<h2 class="text-center for-default">PLEASE FILL YOUR CONTACT DETAILS</h2>
							<div class="row">
								<div class="col-md-offset-2 col-md-8 col-md-offset-2">
									<div class="section-one-contact summary_wrap">
										<div class="contact_details">
											<div class="payment_details">
												<!-- <p>SHARE YOUR CONTACT DETAILS</p> -->
												<div class="form-group">
													<input type="text" class="input_name" id="fullName" pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" title="Type only characters" name="name"  placeholder="YOUR FULL NAME" required/>
												</div>
												<div class="form-group">
													<input type="email" class="input_name" id="email" title="Eg: some@mail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" placeholder="YOUR EMAIL ADDRESS" required/>
												</div>
												<div class="form-group">
													<input type="text" class="input_name" id="mobileNumber" maxlength="10" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" title="Enter 10 digit Valid Mobile Number" name="mobile" placeholder="YOUR MOBILE NUMBER" required/>
												</div>
											</div>
										</div>
										<div class="terms_wrap">
											<div class="checkbox">
												<label>
													<input type="checkbox" class="terms_condition">
													&nbsp;&nbsp; <span class="chk_hint">I agree to the<a href="/terms"><em>Terms & Conditions</em></a> of Docket Tech</span>
												</label>
											</div>
										</div>  
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-offset-8 col-md-2 col-md-offset-2 hidden-md hidden-lg">
									<div class="cust-estamp-left continue_btn" >
										Back
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<button type="submit" class="btn btn-primary pay_btn" style="display: none;">PAY &nbsp;&nbsp;&nbsp;<span class="pay_caret"><i class="fa fa-caret-right" aria-hidden="true"></i></span></button>
								</div>
							</div>
						</div>
					</div>
				<% end %> 
			</div>
			<!-- <div class="col-md-12">
				<div class="bulk-order-enquiry" style="display:none">
					<div class="container for-questions">
						<h2 class="text-center for-default">BULK ORDER ENQUIRY</h2>
						<div class="row">
							<div class="pull-right order-close-enquiry">X</div>
							<div class="col-md-offset-2 col-md-8 col-md-offset-2">
								<%= form_tag('/contact_requests', remote: true, type: :post, :onSubmit => 'formHide()',:class=> 'contact_form') do |f| %>
									<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
									<input type="hidden" name="contact_request[request_type]" placeholder="Name" value="Campaign-Bulk-Estamp">
									<div class="row">
										<div class="col-sm-6 col-md-6 col-lg-6">
											<div class="form-group">
												<input type="text" class="input-order-enquiry" pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" title="Type only characters"  name="contact_request[name]"   id="name" placeholder="Name" required>
											</div>
											<div class="form-group">
												<input type="email" title="Eg: some@mail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="contact_request[email]"  class="input-order-enquiry" id="email" placeholder="Email" required>
											</div>  
											<div class="form-group">
												<input type="mobile" maxlength="10" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" title="Enter 10 digit Valid Mobile Number" name="contact_request[phone]" class="input-order-enquiry" id="mobile" placeholder="Mobile" required>
											</div>
										</div>
										<div class="col-sm-6 col-md-6 col-lg-6">
											<div class="form-group">
												<textarea class="input-order-enquiry" name="contact_request[message]" id="message" placeholder="What are you looking for?" rows="4" cols="40" required></textarea>
											</div>
											<button type="submit" class="order-send-btn">Send</button>
										</div>
									</div>
								<% end %>
								<div class='thanks' style="display:none"> 
								  Thank You for contacting us. We will get back to you shortly.
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-offset-2 col-md-8 col-md-offset-2 for-address-bulkorder">
								<div class="for-india-bulkorder">India</div><br>
								<div>
									<p>Docket Tech Solutions Private Limited</p>
								</div>
								<div>
									<p>#601, 12th Main,
									<br>HAL 2nd Stage,Indiranagar
									<br>Bangalore - 560008, India</p>
								</div>
								<h1>+91-80-4656 4656</h1><br>
								<h4 class="email_txt"><a href="mailto:sales@dockettech.com">sales@dockettech.com</a></h4>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
	<footer class="foot_wrapper-estamp container-fluid">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12 foot-wrapper-padding">
					<div class="foot_blk">
						<div class="col-sm-4 col-md-4 col-lg-4 foot_cont-estamp">
							<h3>
								<a href="/">ABOUT US</a>
							</h3>
							<div>
							<p>
								Docket is India’s first online platform for documentation and registrations for individuals and businesses.<br> 
								Docket has served a wide range of documentation and registration services to an ever-growing number of customers since it’s inception in the year 2015. It has quickly become India’s favorite platform for delivering Documentations like Agreements, Affidavits, Bonds and Deeds at customers doorstep with it's core competency in facilitating services like Estamp, Franking, Notary and Attestations. Docket also has an expanded network of experts for Company/Firm, Business Licenses, Property and Legal Paperwork registrations across Bangalore.</p>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3 foot_sub-estamp">
							<h3>CONTACT</h3>
							<address>
								DOCKET TECH SOLUTIONS PRIVATE LIMITED<br>
								Mayur Tower, #10, <br>
			                    1st Floor, 3rd Main Rd, <br>
			                    Ashwini Layout, Ejipura, <br>
			                    Bangalore - 560047, <br>
			                    Karnataka, India <br><br>
								<span style="color:#fff;"><i class="fa fa-phone" aria-hidden="true">
									
								</i>&nbsp;&plus;+91-81-0537 7103<br><br></span>
								<!-- </i>&nbsp;&plus;+91-80-4656 4656<br><br></span> -->
								<span style="color:#fff;"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;support@dockettech.com</span>
							</address>
						</div>
						<div class="col-sm-5 col-md-5 col-lg-5 foot_links-estamp">
							<h3>OUR SERVICES</h3>
							<div class="row footer_links">
								<div class="col-md-2">
									<a href="/in/agreement">Agreements</a>
								</div>
								<div class="col-md-2">
									<a href="/in/affidavit">Affidavits</a>
								</div>
								<div class="col-md-2">
									<a href="/in/bond">Bonds</a>
								</div>
								<div class="col-md-2">
									<a href="/in/deed">Deeds</a>
								</div>
							</div>
							<div class="row footer_links">
								<div class="col-md-2">
									<a href="/in/notary">Notary</a>
								</div>
								<div class="col-md-2">
									<a href="/in/e-stamp">E-stamp</a>
								</div>
								<div class="col-md-2">
									<a href="/in/attestation">Attestation</a>
								</div>
								<div class="col-md-2">
									<a href="/in/franking">Franking</a>
								</div>
							</div>
							<div class="row footer_links">
								<div class="col-md-2">
									<a href="/in/startup">Registration</a>
								</div>
								<div class="col-md-2">
									<a href="/in/marketplace">Licenses</a>
								</div>
								<div class="col-md-2">
									<a href="/in/property">Property</a>
								</div>
								<div class="col-md-2">
									<a href="/in/paperwork">Paperwork</a>
								</div>
							</div>
							<div class="row footer_social">
								<div class="col-md-4"><h3>FOLLOW US</h3></div>
								<div class="col-md-8">
									<ul  style="list-style: none;padding-top:20px;display: inline-block;margin: -3% auto;">
										<a href="https://www.facebook.com/dockettech" target="_blank">
											<li style="display: inline-block;"><%= image_tag "#{@base_url}/assets/social/facebook.png", :style => "border-radius: 100%;", :alt => "facebook" %></li>
										</a>
										<a href="https://twitter.com/dockettech" target="_blank">
											<li style="display: inline-block;margin-left: 4px;">
												<%= image_tag "#{@base_url}/assets/social/twitter.png", :style => "border-radius: 100%;", :alt => "twitter" %>
											</li>
										</a>
										<a href="https://plus.google.com/u/0/104833829409330467550/posts" target="_blank">
											<li style="display: inline-block;margin-left: 4px;">
												<%= image_tag "#{@base_url}/assets/social/googlef.png", :style => "border-radius: 100%;", :alt => "googleplus" %>
											</li>
										</a>
									</ul>
								</div>
							</div>
							<div class="row footer_links-1">
								<div class="col-md-3">
									<a href="/team">Team</a>
								</div>
								<div class="col-md-3">
									<a href="http://www.dockettech.com/privacy">Privacy</a>
								</div>
								<div class="col-md-3">
									<a href="http://www.dockettech.com/terms">Terms</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hr-line col-md-offset-1 col-md-10 col-md-offset-1">
					<hr class="contact_hr">      
					<h6>DOCKET TECH SOLUTIONS PVT. LTD. 2015. All rights reserved</h6>
				</div>
			</div>
	</footer>
	<%= render partial: 'home/google_code' %>
	<%= javascript_include_tag 'campaign' %>
	<script>
		
		/****************** div color chage jquery ******************/
		$(document).ready(function () {
			var document_search = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				prefetch: localSearch,
				remote: {
					url: '/search/document/',
					replace: function(url, uriEncodedQuery) {
						query = $('#query').val();
						url = url + '?q=' + encodeURIComponent(query)  
						return url;
					}
				}
			});
			var localSearch = function(e){
			};
			document_search.initialize();
			$('#query').typeahead(null,{
				name: 'Location',
				displayKey: 'name',
				minLength: 0,
				source: document_search.ttAdapter()
			}).on('typeahead:selected', function(event, data){            
				setValue(data);
			}).on('typeahead:autocompleted',function(event,data){
				setValue(data);
			});

			

			

			$('#stamp_amount').on('change', function(e){
				// $('#stamp_value').val(e.target.value);
				stamp_value = parseInt($('#stamp_amount').val()) || 0;
				if (stamp_value <= 0 || stamp_value < 50){
					setNotification('error', 'Min stamp amount Rs 50');
					$('#stamp_amount').val('');
				}
				$('#stamp_value').val(stamp_value);
				calculateSum()
			})

			$('.pay_btn').bind('click',function(e){
				// e.preventDefault();
				// e.stopPropagation();
				var summary = {};
				$('.document-form input').each(function(){
					var elem = $(this);
					var id = elem.attr('id');
					if ((id == 'no-of-copies') || (id == 'date-slot') || (id == 'total_amount') || (id == 'product')){
						var value = elem.val();
						summary[id] = value;
					}
				}) 
			})
			function calculateSum(){
				stamp_value = parseInt($('#stamp_value').val()) || 0;
				var stamp_duty=0;
				if (stamp_value >= 20 && stamp_value <= 100){
					stamp_duty = 35;
				}
				if (stamp_value >= 101 && stamp_value <= 1000){
					stamp_duty = 55;
				}
				if (stamp_value >= 1001 && stamp_value <= 2000){
					stamp_duty = 75;
				}
				if (stamp_value >= 2001 && stamp_value <= 5000){
					stamp_duty = 250;
				}
				if (stamp_value > 5000){
					stamp_duty = Math.round(stamp_value * 0.05) ;
				}
				delivery_charge = <%= @document.service.delivery_charges %>;
				total_stamp_amount = (stamp_value + stamp_duty);
				net_amount = (stamp_value + stamp_duty) + delivery_charge;
				$('#total_amount').val(net_amount);
				$('.stamp_price span i').html(total_stamp_amount || 0);
				$('.final_amount span i').html(net_amount);
			}
			
			

			$(".terms_condition").on("change", function(){
				var isChecked = $(this).prop("checked"); 
				if(isChecked){
					$(".pay_btn").show(); 
				} else {
					$(".pay_btn").hide(); 
				}
			}); 

			

			$("#stamp_amount").keypress(function (e) {
				$(this).val($(this).val().replace(/^0+|[^0-9.]+/, ''));
				if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
					$(e.target.parentElement).find(".errmsg").html("Digits Only").show().fadeOut("slow");
					return false;
				}
			});
			
			function formHide(){
				$('.contact_form').hide('fast');
				$('.thanks').show('slow');
				setNotification('success', "We will get back to you shortly!")
			};

			$('.enquiry').bind('click', function(){
				$('.logo').hide();
				$('.city_wrap').hide();
				$('.cust_enquire').show().slideDown();
				
			})

			$('.close_enquiry').bind('click', function(){
				$('.cust_enquire').hide();
				$('.logo').show();
				$('.city_wrap').show();
			})

			
			$('.party-left').bind('click', function(event){
				event.preventDefault();
				$('.estamp_wrap').show();
				$('.select-party').hide();
				$('.select-description').hide();
				$('.estamp-payment-summary').hide();
				$('.estamp-cust-info').hide();
				$('.order-quantity').hide();
				$('.bulk-order-enquiry').hide();

				// $('.copies_doc').hide();

				// // $('.select_doc').hide();
				// // $('.format_doc').hide();
				// $('.cust_info').hide();
			})
			$('.singleorder').bind('click', function(event){
				event.preventDefault();
				$('.estamp_wrap').show();
				$('.select-party').hide();
				$('.select-description').hide();
				$('.estamp-payment-summary').hide();
				$('.estamp-cust-info').hide();
				$('.order-quantity').hide();
				$('.bulk-order-enquiry').hide();
				// $('.copies_doc').hide();

				// // $('.select_doc').hide();
				// // $('.format_doc').hide();
				// $('.cust_info').hide();
			})
			$('.order-close-enquiry').bind('click', function(event){
				event.preventDefault();
				// $('.order-quantity').show();
				$('.estamp_wrap').show();
				$('.select-party').hide();
				$('.select-description').hide();
				$('.estamp-payment-summary').hide();
				$('.estamp-cust-info').hide();
				$('.bulk-order-enquiry').hide();
				// $('.copies_doc').hide();

				// // $('.select_doc').hide();
				// // $('.format_doc').hide();
				// $('.cust_info').hide();
			})
			$('.description-left').bind('click', function(event){
				event.preventDefault();
				$('.select-party').show();
				$('.select-description').hide();
				$('.estamp_wrap').hide();
				$('.estamp-payment-summary').hide();
				$('.estamp-cust-info').hide();
				$('.order-quantity').hide();
				$('.bulk-order-enquiry').hide();
				// $('.copies_doc').hide();
				// // $('.select_doc').hide();
				// // $('.format_doc').hide();
				// $('.cust_info').hide();
			})
			$('.payment-estamp-left').bind('click', function(event){
				event.preventDefault();
				$('.select-description').show();
				$('.select-party').hide();
				$('.estamp_wrap').hide();
				$('.estamp-payment-summary').hide();
				$('.estamp-cust-info').hide();
				$('.order-quantity').hide();
				$('.bulk-order-enquiry').hide();
				// $('.copies_doc').hide();
				// // $('.select_doc').hide();
				// // $('.format_doc').hide();
				// $('.cust_info').hide();
			})
			$('.payment-estamp-right, .payment-btn').bind('click', function(event){
				event.preventDefault();
				$('.estamp-cust-info').show();
				$('.select-party').hide();
				$('.estamp_wrap').hide();
				$('.estamp-payment-summary').hide();
				$('.select-description').hide();
				$('.order-quantity').hide();
				$('.bulk-order-enquiry').hide();
				// $('.copies_doc').hide();
				// // $('.select_doc').hide();
				// // $('.format_doc').hide();
				// $('.cust_info').hide();
			})
			$('.cust-estamp-left').bind('click', function(event){
				event.preventDefault();
				$('.estamp-payment-summary').show();
				$('.select-party').hide();
				$('.estamp_wrap').hide();
				$('.estamp-cust-info').hide();
				$('.select-description').hide();
				$('.order-quantity').hide();
				$('.bulk-order-enquiry').hide();
				// $('.copies_doc').hide();
				// // $('.select_doc').hide();
				// // $('.format_doc').hide();
				// $('.cust_info').hide();
			})
			
			$('.estamp-amt-left').bind('click', function(event){
				event.preventDefault();
				$('.order-quantity').show();
				$('.select-party').hide();
				$('.estamp-payment-summary').hide();
				$('.estamp_wrap').hide();
				$('.estamp-cust-info').hide();
				$('.select-description').hide();
				$('.bulk-order-enquiry').hide();
				// $('.copies_doc').hide();
				// // $('.select_doc').hide();
				// // $('.format_doc').hide();
				// $('.cust_info').hide();
			})
			$('.btn-order-estamp-bulk').bind('click', function(event){
				event.preventDefault();
				$('.bulk-order-enquiry').show();
				$('.select-party').hide();
				$('.estamp-payment-summary').hide();
				$('.estamp_wrap').hide();
				$('.estamp-cust-info').hide();
				$('.select-description').hide();
				$('.order-quantity').hide();
				// $('.copies_doc').hide();
				// // $('.select_doc').hide();
				// // $('.format_doc').hide();
				// $('.cust_info').hide();
			})
			

			$('.estamp_right, .estamp-amt-right').bind('click', function(){
				$(window).unbind('scroll');
				if($('.amount_wrap input:text').val().length == 0){
					setNotification('error', "Min stamp amount Rs 20");
				}
				else{
					$('.select-party').show();
					$('.estamp_wrap').hide();
					$('.select-description').hide();
					$('.estamp-payment-summary').hide();
					$('.estamp-payment-summary').hide();
					$('.order-quantity').hide();
					$('.bulk-order-enquiry').hide();
				}
			})

			$('.party-btn , .party-right').bind('click', function(e){
			if ($('#firstinput').val().length==0 || $('#secondinput').val().length==0) {
			     setNotification('error', "Please select First Party & Second Party!");
			  }
			else{
			  $('.select-description').show();
			  $('.select-party').hide();
			  $('.estamp_wrap').hide();
			  $('.estamp-payment-summary').hide();
			  $('.estamp-cust-info').hide();
			  $('.order-quantity').hide();
			  $('.bulk-order-enquiry').hide();
			  }
			});
			$('.desc-btn , .description-right').bind('click', function(e){
			if ($('#description-estamp').val().length==0) {
			     setNotification('error', "Please Enter E-Stamp Description");
			  }
			else{
			  $('.estamp-payment-summary').show();
			  $('.select-description').hide();
			  $('.select-party').hide();
			  $('.estamp_wrap').hide();
			  $('.estamp-cust-info').hide();
			  $('.order-quantity').hide();
			  $('.bulk-order-enquiry').hide();
			  }
			});

			// $('.choose-type').on('click', function(e){ 
			// 	$('.doc_name').html($(this).attr( "data-attr" ));
			// 	$('#product').val($(this).attr( "data-attr" ));
			// });

			$("#place-order").click(function() {
					$('html, body').animate({
						scrollTop: $("#order").offset().top
					}, 2000);
			});
			$("#order-close-enquiry").click(function() {
					$('html, body').animate({
						scrollTop: $("#place-order").offset().top
					}, 2000);
			});
			$('.secondparty').on('click', function(){
				$(this).removeClass('secondparty').addClass('secondparty-1');
				$('.firstparty').removeClass('firstparty').addClass('firstparty-1');
			});
				$('.firstparty').on('click', function(){
				$(this).removeClass('firstparty-1').addClass('firstparty');
				$('.secondparty-1').removeClass('secondparty-1').addClass('secondparty');
			});
				$("#stamp_amount").keyup(function(){
	        	var textinput = $('#stamp_amount').val();
	        	$("#stamp-icon-party").text(textinput);
	        	$("#stamp-icon-desc").text(textinput);
		    });
				$(document).on('change', 'input', function() {
					var firstnameinput = $('#firstinput').val();
  				$("#firstname").text(firstnameinput);
			});
				$(document).on('change', 'input', function() {
					var secondnameinput = $('#secondinput').val();
  				$("#secondname").text(secondnameinput);
			});

		});
		var inputBox1 = document.getElementById('firstinput');
		var inputBox2 = document.getElementById('secondinput');
		var inputBox4 = document.getElementById('description-estamp');

		inputBox1.onkeyup = function(){
		    document.getElementById('firstname').innerHTML = inputBox1.value;
		}
		inputBox2.onkeyup = function(){
		    document.getElementById('secondname').innerHTML = inputBox2.value;
		}
		inputBox4.onkeyup = function(){
		    document.getElementById('description-shown').innerHTML = inputBox4.value;
		}
	</script>
	<%= render partial: 'home/chat_client' %>
</body>
</html>

