<!DOCTYPE html>
<html lang="">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Order Indemnity Bond Online| Docket Tech</title>
      <%= stylesheet_link_tag 'campaign', media: 'all' %>
      <meta name="description" content="  Docket helps you create Indemnity Bond online. It's simple and easy-It only takes a few minutes! Fast Online Process ·Transparent Pricing.">
      <meta name="keywords" content="What is Idemnity, Idemnity bond, bond of Indemnity form canada, Indemnity bond form g,form g Indemnity bond, Indemnity bond for loss of c form, form of Indemnity bond, bond of Indemnity form, Indemnity bond form">
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
      <%= favicon_link_tag 'favicon.ico' %>
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <div class="container-fluid bond">
         <div id="notification"></div>
         <a href="/"><img src="assets/new_images/logo.png" class="pull-left logo" alt="logo"></a>
         <div class="city_wrap pull-right">
            <!-- <h4 class="bangalore">BANGALORE</h4> -->
            <div class="enquiry">
               <button type="button" class="btn btn-default enquiry_btn">QUICK ENQUIRY </button> <span class="enquiry_icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
            </div>
         </div>
         <div class="row cust_enquire" style="display:none;">
            <div class="pull-right close_enquiry">X</div>
            <div class="col-md-8 enquiry_form" style="">
               <h1 class="quick_txt">QUICK ENQUIRY</h1>
               <%= form_tag('/contact_requests', remote: true, type: :post, :onSubmit => 'formHide()',:class=> 'contact_form') do |f| %>
               <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
               <input type="hidden" name="contact_request[request_type]" placeholder="Name" value="Campaign-Bond">
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <input type="text" class="input_style1" pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" title="Type only characters"  name="contact_request[name]"   id="name" placeholder="Name" required>
                     </div>
                     <div class="form-group">
                        <input type="email" title="Eg: some@mail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="contact_request[email]"  class="input_style1" id="email" placeholder="Email" required>
                     </div>
                     <div class="form-group">
                        <input type="mobile" maxlength="10" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" title="Enter 10 digit Valid Mobile Number" name="contact_request[phone]" class="input_style1" id="mobile" placeholder="Mobile" required>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <textarea class="input_style1" name="contact_request[message]" id="message" placeholder="What are you looking for?" rows="4" cols="40" required></textarea>
                     </div>
                     <button type="submit" class="send-btn">Send</button>
                  </div>
               </div>
               <% end %>
               <div class='thanks' style="display:none"> 
                  Thank You for contacting us. We will get back to you shortly.
               </div>
            </div>
            <div class="col-md-4 map">
               <div>India</div>
               <br>
               <div>
                  <p>Docket Tech Solutions Private Limited<br><br>
                     Mayur Tower, #10, <br>
                     1st Floor, 3rd Main Rd, <br>
                     Ashwini Layout, Ejipura, <br>
                     Bangalore - 560047, <br>
                     Karnataka, India
                  </p>
               </div>
               <h4>+91-81-0537 7103</h4><br>
               <!-- <h4>+91-80-4656 4656</h4><br> -->
               <h4 class="email_txt"><a href="mailto:support@dockettech.com">support@dockettech.com</a></h4>
               <br>
            </div>
         </div>
         <div class="row main_bg">
            <div class="col-md-12">
               <div class="center_align search_section">
                  <h1 class="main_head">ORDER INDEMNITY BOND ONLINE</h1>
                  <h1 class="sub_head">FASTER THAN EVER</h1>
                  <h1 class="sub_head1">At Just Rs. 999*</h1>
                  <!-- <h4 class="sub_head2"></h4> -->
                  <div class="selection-box">
                     <div class="title-box">
                        <div class="search_item">
                           <input type="text" name="query" id="query" class="search_box" value="" placeholder="SEARCH FOR YOUR BOND" title="">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row" style="background-color:#f2f2f2;padding: 2%;">
            <div class="col-md-12">
               <h2 class="text-center wow zoomIn" data-wow-duration="1s">CREATE INDEMNITY BOND ONLINE, FROM ANYWHERE.
               </h2>
            </div>
         </div>
         <div class="row how_work_section">
            <div class="col-md-12">
               <div class="col-md-8 row_style">
                  <span>01</span>
                  <h4>WE CREATE THE INDEMNITY BOND FOR YOU</h4>
                  <P>All you need to do is provide your identity and address proofs along with details of your Indemnity Bond requirement. We draft the indemnity bond and come for your signatures. </P>
               </div>
               <div class="col-md-4 row_style">
                  <img src="/assets/campaign_affidavit/affidavits.png" alt="">
               </div>
               <div class="col-md-8 row_style">
                  <span>02</span>
                  <h4>WE DO THE NOTARY</h4>
                  <P>Notary is a must for any indemnity bond. We get your Indemnity Bond notarised for you.</P>
               </div>
               <div class="col-md-4 row_style">
                  <img src="/assets/campaign_affidavit/notary.png" alt="">
               </div>
               <div class="col-md-8 row_style">
                  <span>03</span>
                  <h4>WE DELIVER TO YOUR DOORSTEP</h4>
                  <P>We also deliver the Indemnity Bond to your doorstep to ensure you a hassle free experience.</P>
               </div>
               <div class="col-md-4 row_style">
                  <img src="/assets/campaign_affidavit/delivery.png" alt="">
               </div>
            </div>
         </div>
         <div class="row question_bg" id="order" style="display:none;">
            <div class="col-md-12">
               <%= form_tag('/campaign_order',:name => 'd-form', multipart: true, :class => 'document-form', :id => "question_form") do |f| %>
                  <%= hidden_field_tag 'user_id',nil, value: current_user %>
                  <%= hidden_field_tag 'service_id',nil, value: @document.service.id %>
                  <%= hidden_field_tag 'document_id',nil, value: @document.id %>
                  <%= hidden_field_tag 'product',nil, value: @document.name  %>
                  <div class="estamp_wrap">
                     <div class="container">
                        <h2 class="text-center doc_name for-default">INDEMNITY BOND  <%#= @document.name %></h2>
                        <div class="row">
                           <div class="col-md-8">
                              <div class="section_one">
                                 <h1 class="order_no">01</h1>
                                 <h2 class="order_txt">E-Stamp</h2>
                                 <div class="form-group for-form">
                                 <div class="stamp_study">
                                    <h4 class="questions_heading">Please enter your Stamp Duty Amount</h4>
                                    <div class="amount_wrap">
                                       <span class="rupee_icon"><i class="fa fa-inr"></i></span>
                                       <input type="text" class="input_style" maxlength="5" id="stamp_amount" name='answer[2]' title="Please type digits other than 0 as first digit" placeholder="Minimum Rs. 100 <%#= @document.service.min_stamp %>" required/>
                                    </div>
                                    <input id='stamp_value' type="hidden" name='stamp_amount'>
                                    <p class="hint_txt">(SERVICE CHARGE: STAMP DUTY AMT. RS. 1 TO 100 = RS. 35, RS. 101 to 1000 = 55, RS. 1001 to 2000 = 75, RS. 2001 to 5000 = 250, Above 5000 = 5%)</p>
                                 </div>
                              </div>
                           </div>
                           </div>
                           <div class="col-md-4">
                              <div class="section_two">
                                 <h3 class="estamp_select">YOU HAVE SELECTED</h3>
                                 <div class="sub_head stamp_price">
                                    <span class="stamp_icon">
                                       <i class="fa fa-inr stamp_rupee" aria-hidden="true"></i>  <%#= (@order.stamp_amount.to_i + service_charge) %> 
                                    </span>
                                 </div>
                                 <span class="price_hint">Stamp Paper</span>
                              </div>
                           </div>
                        </div>
                        <div class="estamp_right choose-type continue_btn" data-attr="AFFIDAVIT">
                           Continue
                        </div>
                     </div>
                  </div>
                  <div class="copies_doc" style="display:none;">
                     <div class="arrow hidden-sm hidden-xs">
                        <div class="arrow_left copies_left pull-left">
                           <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </div>
                        <div class="arrow_right copies_right pull-right">
                           <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                     </div>
                     <div class="container">
                        <h2 class="text-center doc_name"> <%#= @document.name %></h2>
                        <div class="row">
                           <div class="col-md-8">
                              <div class="section_one">
                                 <h1 class="order_no">02</h1>
                                 <h2 class="order_txt">Additional Copy</h2>
                                 <div class="copies_wrap">
                                    <h4 class="questions_heading"> Do you need additional copies ?</h4>
                                    <div class="copies_slot">
                                       <div id="just-a-slider" class="dragdealer just-a-slider">
                                          <ul class="list_wrapper">
                                             <li>0</li>
                                             <li>1</li>
                                             <li>2</li>
                                             <li>3</li>
                                             <li>4</li>
                                             <li>5</li>
                                             <li>6</li>
                                             <li>7</li>
                                             <li>8</li>
                                             <li>9</li>
                                             <li>10</li>
                                          </ul>
                                          <div class="handle red-bar">
                                             <span class="value"></span>
                                          </div>
                                          <input type="hidden" name="answer[37]" id="no-of-copies" required>
                                          <input type="hidden" name='summary' id='summary'>
                                          <input type="hidden" name='total_amount' class='total_amount' id='total_amount'>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="section_two">
                                 <h3 class="estamp_select">YOU HAVE SELECTED</h3>
                                 <h4><span class="price_hints no-copy">0</span> Copy</h4>
                                 <h4 class="sub_head doc_price">
                                    <div class="total">
                                       <span class='tot_doc_price'><i class="fa fa-inr" aria-hidden="true"></i></span>
                                       <span class="tot_stamp_price">
                                        + <i class="fa fa-inr" aria-hidden="true">0</i>
                                       </span>
                                    </div>
                                 </h4>
                                 <span class="price_hints sum_amount"><span class="price_hints no-copy">0</span> Copy + <span class='price_hints no-copy'>0 </span> EStamp</span>
                              </div>
                           </div>
                        </div>
                        <div class="copies_left continue_btn hidden-md hidden-lg">
                           Back
                        </div>
                        <div class=" copies_btn continue_btn">
                           Continue
                        </div>
                     </div>
                  </div>
                  <div class="format_doc" style="display:none;">
                     <div class="arrow hidden-sm hidden-xs">
                        <div class="arrow_left format_left pull-left">
                           <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </div>
                        <div class="arrow_right format_right pull-right">
                           <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                     </div>
                     <div class="container">
                        <h2 class="text-center doc_name"><%#= @document.name %></h2>
                        <div class="row">
                           <div class="col-md-8">
                              <div class="section_one">
                                 <h1 class="order_no">03</h1>
                                 <h2 class="order_txt">Format</h2>
                                 <div class="option_wrap">
                                    <h4 class="questions_heading"> Do you have your own format ?</h4>
                                    <div class="control-group ">
                                       <label class="control control--radio">YES
                                          <input type="radio" id="yes_radio" name="answer[3]" value='yes' required/>
                                          <div class="control__indicator"></div>
                                       </label>
                                       <label class="control control--radio ">NO
                                          <input type="radio" id="no_radio" name="answer[3]" value='no' required/>
                                          <div class="control__indicator"></div>
                                       </label>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="section_two">
                                 <div class="file_upload" style="display:none;">
                                    <h4>Please upload your document</h4>
                                    <input id="uploadFile" name='attachment' placeholder="Choose File" />
                                    <div class="fileUpload btn btn-primary">
                                       <span>Upload</span>
                                       <input id="uploadBtn" name='attachment' type="file" class="upload" />
                                    </div>
                                 </div>
                                 <div class="process" style="display:none;">
                                    <h4 class="text-center">Our support team will contact you for further process</h4>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="format_left continue_btn hidden-md hidden-lg">
                           Back
                        </div>
                        <div class=" format_btn continue_btn">
                           Continue
                        </div>
                        <!-- <button type="button" class="btn btn-default format_btn next_btn">Continue</button> -->
                     </div>
                  </div>
                  <div class="payment_summary" style="display:none;">
                     <div class="arrow hidden-sm hidden-xs">
                        <div class="arrow_left payment_left pull-left">
                           <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </div>
                        <div class="arrow_right payment_right pull-right">
                           <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                     </div>
                     <div class="container">
                        <h2 class="text-center doc_name"> <%#= @document.name %></h2>
                        <div class="row">
                           <div class="col-md-8">
                              <div class="section_one">
                                 <h1 class="order_no">04</h1>
                                 <h2 class="order_txt">Summary</h2>
                                 <div class="summary_details">
                                    <h4 class="questions_heading">Your final order summary </h4>
                                    <div class="row">
                                       <div class="col-md-6">
                                          <h4 class="main_head doc_name affidavit_txt"></h4>
                                       </div>
                                       <div class="col-md-6 pull-left">
                                          <h4 class="sub_head  doc_price price_style">
                                             <span><i class="fa fa-inr" aria-hidden="true"><%#= @document.default_price %></i> </span>
                                             <br>
                                          </h4>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-md-6">
                                          <h4 class="main_head">Stamp Duty Amount</h4>
                                       </div>
                                       <div class="col-md-6 pull-left">
                                          <h4 class="sub_head stamp_price price_style">
                                             <span><i class="fa fa-inr" aria-hidden="true"></i> </span><%#= (@order.stamp_amount.to_i + service_charge) %> <br>
                                             <!-- <span class="price_hints_tag">Government Charge Included</span> -->
                                          </h4>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-md-6">
                                          <h4 class="main_head">Additional Copies</h4>
                                       </div>
                                       <div class="col-md-6">
                                          <h4 class="sub_head price_style">
                                             <span class='tot_doc_price'><i class="fa fa-inr" aria-hidden="true"></i></span>
                                             <span class="tot_stamp_price">
                                              + <i class="fa fa-inr" aria-hidden="true">0</i>
                                             </span>
                                             <br>
                                          </h4>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-md-6">
                                          <h4 class="main_head">Delivery Charges</h4>
                                       </div>
                                       <div class="col-md-6">
                                          <h4 class="sub_head price_style">
                                             <span><i class="fa fa-inr" aria-hidden="true"></i>99</span><br>
                                          </h4>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="section_two">
                                 <h3 class="estamp_select">Total Amount</h3>
                                 <div class="sub_total final_amount stamp_price">
                                    <span class="stamp_icon">
                                       <span><i class="fa fa-inr" aria-hidden="true"></i></span><br> 
                                    </span>
                                 </div>
                              </div>
                              <span class="price_hints sum_amount txt_total">24-48 Hours Delivery</span> 
                           </div>
                        </div>
                        <div class="payment_left continue_btn hidden-md hidden-lg">
                           Back
                        </div>
                        <div class="proceed_btn continue_btn">
                           Continue
                        </div>
                     </div>
                  </div>
                  <div class="cust_info" style="display:none;">
                     <div class="arrow hidden-sm hidden-xs">
                        <div class="arrow_left contact_left pull-left">
                           <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </div>
                     </div>
                     <div class="container">
                        <h4 class="text-center"> PLEASE FILL YOUR CONTACT DETAILS</h4>
                        <div class="row">
                           <div class="col-md-12">
                              <div class="section_three summary_wrap">
                                 <div class="contact_details">
                                    <div class="payment_details">
                                       <!-- <p>SHARE YOUR CONTACT DETAILS</p> -->
                                       <div class="form-group">
                                          <input type="text" class="input_name" id="fullName" pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" title="Type only characters" name="name"  placeholder="FULL NAME" required/>
                                       </div>
                                       <div class="form-group">
                                          <input type="email" class="input_name" id="email" title="Eg: some@mail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" placeholder="EMAIL ADDRESS" required/>
                                       </div>
                                       <div class="form-group">
                                          <input type="text" class="input_name" id="mobileNumber" maxlength="10" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" title="Enter 10 digit Valid Mobile Number" name="mobile" placeholder="MOBILE NUMBER" required/>
                                       </div>
                                    </div>
                                 </div>  
                              </div>
                              <div class="terms_wrap">
                                 <div class="checkbox">
                                    <label>
                                       <input type="checkbox" class="terms_condition">
                                       &nbsp;&nbsp; <span class="chk_hint">I agree to the<a href="/terms"><em>Terms & Conditions</em></a> of Docket Tech</span>
                                    </label>
                                 </div>
                              </div> 
                           </div>
                        </div>
                        <div class="contact_left continue_btn hidden-md hidden-lg">
                           Back
                        </div>
                        <button type="submit" class="btn btn-primary pay_btn" style="display:none;">PAY &nbsp;&nbsp;&nbsp;<span class="pay_caret"><i class="fa fa-caret-right" aria-hidden="true"></i></span></button>
                     </div>
                  </div>
               <% end %> 
            </div>
         </div>
         <div class="row" id="order_two">
            <div class="row">
               <div class="col-md-6">
                  <img src="/assets/campaign_affidavit/affidavit_question.jpg" width='100%' alt="">
               </div>
               <div class="col-md-6">
                  <%= form_tag('/campaign_order',:name => 'd-form', multipart: true, :class => 'document-form', :id => "question_form") do |f| %>
                     <%= hidden_field_tag 'user_id',nil, value: current_user %>
                     <%= hidden_field_tag 'service_id',nil, value: @document.service.id %>
                     <%= hidden_field_tag 'document_id',nil, value: @document.id %>
                     <%= hidden_field_tag 'total_amount',nil, value: nil  %>
                     <%= hidden_field_tag 'answer[44]',nil, value: 'Campaign' %>
                     <div class="affidavit_intro">
                        <div class="vertical">
                           <h2 class="intro_head">WHAT IS INDEMNITY BOND</h2> 
                           <h5 class="intro_subhead">An indemnity bond is a bond that is intended to reimburse the holder for any actual or claimed loss caused by the issuer's conduct or another person's conduct.</h5>
                           <button type="button" class="btn btn-default intro_btn" id="affi_order">ORDER NOW</button>         
                        </div>
                     </div>
                     <div class="customer_info" style="display:none;">
                        <div class="vertical">
                           <h4 class="text-center"> GET INDEMNITY BOND ONLINE, FROM ANYWHERE</h4>
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="section_five summary_wrap">
                                    <div class="contact_details">
                                       <div class="payment_details" id="cust_contact">
                                          <!-- <p>SHARE YOUR CONTACT DETAILS</p> -->
                                          <div class="form-group">
                                             <input type="text" class="input_name" pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" title="Type only characters" id="affidavit_name" name="product" id="message" placeholder="WHAT TYPE OF BOND YOU ARE LOOKING FOR?" rows="4" cols="40" required>
                                          </div>
                                          <div class="form-group">
                                             <input type="text" class="input_name" id="fullName" pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" title="Type only characters" name="name"  placeholder="FULL NAME" required/>
                                          </div>
                                          <div class="form-group">
                                             <input type="email" class="input_name" id="email" title="Eg: some@mail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" placeholder="EMAIL ADDRESS" required/>
                                          </div>
                                          <div class="form-group">
                                             <input type="text" class="input_name" id="mobileNumber" maxlength="10" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" title="Enter 10 digit Valid Mobile Number" name="mobile" placeholder="MOBILE NUMBER" required/>
                                          </div>
                                       </div>
                                       <div class="choose-type continue_btn ques_btn" id="enquire_btn" data-attr="AFFIDAVIT">
                                          Continue
                                       </div>
                                    </div>  
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="affidavit_ques" style="display:none;">
                        <div class="vertical">
                           <div class="estamp_wrap">
                              <h2 class="text-center doc_name for-default">INDEMNITY BOND  <%#= @document.name %></h2>
                              <div class="section_four">
                                 <div class="form-group for-form">
                                    <div class="stamp_study">
                                       <h4 class="questions_heading">Please enter your Stamp Duty Amount</h4>
                                       <div class="amount_wrap">
                                          <span class="rupee_icon"><i class="fa fa-inr"></i></span>
                                          <input type="text" class="input_style" maxlength="5" id="stamp_amount_2" name='answer[2]' title="Please type digits other than 0 as first digit" placeholder="Minimum Rs. 100 <%#= @document.service.min_stamp %>" required/>
                                       </div>
                                       <input id='stamp_value_2' type="hidden" name='stamp_amount'>
                                       <p class="hint_txt">(SERVICE CHARGES:STAMP DUTY AMT. RS. 1 TO 100 = RS. 10/-, RS. 101 TO 4999 = RS. 15/-, ABOVE RS. 5000 & above = NIL)</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="section_four">
                              <div class="copies_wrap">
                                 <h4 class="questions_heading"> Do you need additional copies ?</h4>
                                 <div class="copies_slot">
                                    <div id="just-a-slider-1" class="dragdealer">
                                       <ul class="list_wrapper">
                                          <li>0</li>
                                          <li>1</li>
                                          <li>2</li>
                                          <li>3</li>
                                          <li>4</li>
                                          <li>5</li>
                                          <li>6</li>
                                          <li>7</li>
                                          <li>8</li>
                                          <li>9</li>
                                          <li>10</li>
                                       </ul>
                                       <div class="handle red-bar">
                                          <span class="value"></span>
                                       </div>
                                       <input type="hidden" name="answer[37]" id="no-of-copy" required>
                                       <input type="hidden" name='summary' id='summary'>
                                       <input type="hidden" name='total_amount' class='total_amount' id='total_amount'>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="section_four">
                              <div class="row">
                                 <div class="col-md-7">
                                    <div class="option_wrap">
                                       <h4 class="questions_heading"> Do you have your own format ?</h4>
                                       <div class="control-group ">
                                          <label class="control control--radio">YES
                                             <input type="radio" id="yes" name="answer[3]" value='yes' required/>
                                             <div class="control__indicator"></div>
                                          </label>
                                          <label class="control control--radio ">NO
                                             <input type="radio" id="no" name="answer[3]" value='no' required/>
                                             <div class="control__indicator"></div>
                                          </label>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-5">
                                    <div class="file_upload" style="display:none;">
                                       <h4>Please upload your document</h4>
                                       <input id="uploadFile_1" name='attachment' placeholder="Choose File" />
                                       <div class="fileUpload btn btn-primary">
                                          <span>Upload</span>
                                          <input id="uploadBtn_1" name='attachment' type="file" class="upload" />
                                       </div>
                                    </div>
                                    <div class="process" style="display:none;">
                                       <h4 class="text-center">Our support team will contact you for further process</h4>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="choose-type continue_btn ques_btn" id="affi_quesbtn" data-attr="AFFIDAVIT">
                              Continue
                           </div>
                        </div>
                     </div>
                     <div class="affidavit_summary " id="affi_summary" style="display:none;">
                        <div class="summary_details"> 
                           <div class="section_six">
                              <!-- <h2 class="order_txt">Summary</h2> -->
                              <h4 class="questions_heading">Your final order summary </h4>
                              <div class="row">
                                 <div class="col-md-6">
                                    <h4 class="main_head doc_name affidavit_detail"></h4>
                                 </div>
                                 <div class="col-md-6 pull-left">
                                    <h4 class="sub_head  doc_price price_style">
                                       <span><i class="fa fa-inr" aria-hidden="true">999</i> </span>
                                       <br>
                                    </h4>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-md-6">
                                    <h4 class="main_head">Stamp Duty Amount</h4>
                                 </div>
                                 <div class="col-md-6 pull-left">
                                    <h4 class="sub_head stamp_price_2 price_style">
                                       <span><i class="fa fa-inr" aria-hidden="true"></i> </span><%#= (@order.stamp_amount.to_i + service_charge) %> <br>
                                       <!-- <span class="price_hints_tag">Government Charge Included</span> -->
                                    </h4>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-md-6">
                                    <h4 class="main_head">Additional Copies</h4>
                                 </div>
                                 <div class="col-md-6">
                                    <h4 class="sub_head price_style">
                                       <span class='tot_doc_price'><i class="fa fa-inr" aria-hidden="true"></i></span>
                                       <span class="tot_stamp_price">
                                        + <i class="fa fa-inr" aria-hidden="true">0</i>
                                       </span>
                                       <br>
                                    </h4>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-md-6">
                                    <h4 class="main_head">Delivery Charges</h4>
                                 </div>
                                 <div class="col-md-6">
                                    <h4 class="sub_head price_style">
                                       <span><i class="fa fa-inr" aria-hidden="true"></i>99</span><br>
                                    </h4>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-md-6">
                                    <h4 class="main_head">Total Amount</h4>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="sub_head price_style sub_total final_amount">
                                       <span><i class="fa fa-inr" aria-hidden="true"></i></span><br> 
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="terms_wrap">
                              <div class="checkbox">
                                 <label>
                                    <input type="checkbox" class="terms_condition">
                                    &nbsp;&nbsp; <span class="chk_hint">I agree to the<a href="/terms"><em>Terms & Conditions</em></a> of Docket Tech</span>
                                 </label>
                              </div>
                           </div> 
                        </div>
                        <button type="submit" class="btn btn-primary pay_btn" style="display:none;">PAY &nbsp;&nbsp;&nbsp;<span class="pay_caret"><i class="fa fa-caret-right" aria-hidden="true"></i></span></button>
                     </div>
                  <% end %> 
               </div>
            </div>
         </div>
      </div>
      <div class="testimonial_wrap">
         <div class="container">
            <h4 class="testimonial_head">TESTIMONIALS</h4>
            <div class="row for-testimonial-icons">
               <div class="col-md-6">
                  <h4>Paul Art</h4>
                  </br>
                  <p class="para_wrap">
                     I am a home owner in Bangalore who was at my wit&#39;s end when I discovered Docket Tech.
                     They helped me enormously to print my lease agreement on stamp paper, get it to the tenant, get it signed and notarized and then send it to me here in America. Previously I used to beg a lawyer to do this and it normally took about 15 phone calls and emails. Great job Docket!
                  </p>
               </div>
               <div class="col-md-6">
                  <h4>Khan Imran</h4>
                  </br>
                  <p class="para_wrap">
                     An excellent platform to get all professional documents delivered at your door step!!! Thus making Corporate life easier.. Kudos to the founder & his team.
                  </p>
               </div>
            </div>
            <div class="row for-testimonial-icons">
               <div class="col-md-6">
                  <h4>Yaseen M</h4>
                  </br>
                  <p class="para_wrap">
                     Thank you very much for processing my documents in time. In fact it was super quick!
                     Professional response and work quality. Thanks again!
                  </p>
               </div>
               <div class="col-md-6">
                  <h4>Monish. N</h4>
                  </br>
                  <p class="para_wrap">
                     Docket team is very well organized. They helped in all the aspects of our Queries. Wish them all
                     success.
                  </p>
               </div>
            </div>
            <div class="row for-testimonial-icons for-testimonial-icons-bottom">
               <div class="col-md-offset-3 col-md-6 col-md-offset-3">
                  <h4>Sriram V Iyer</h4>
                  </br>
                  <p class="para_wrap">
                     Wow. That was fast.<br>
                     want to congratulate DOCKET on buliding a fantastic and responsive team.
                  </p>
               </div>
            </div>
         </div>
      </div>
      <%= render partial:'campaign_media' %>
      <footer class="foot_wrapper container-fluid">
         <div class="container">
            <div class="row">
               <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="footer-links">
                     <div class="col-sm-3 col-md-3 col-lg-3">
                        <ul class="links">
                           <li>indemnity bond for income tax</li>
                           <li>indemnity bond for lrs</li>
                           <li>indemnity bond with surety</li>
                           <li>indemnity bond on stamp paper</li>
                           <li>indemnity bond for pf withdrawal</li>
                           <li>indemnity bond for property transfer</li>
                           <li>indemnity bond for income tax department</li>
                           <li>indemnity bond for loss of demand draft</li>
                           <li>indemnity bond for lost instruments form</li>
                           <li>indemnity bond for tds challan correction</li>
                           <li>indemnity bond for duplicate share certificate</li>
                           <li>indemnity bond for loss of fixed deposit receipt</li>
                           <li>indemnity bond for issue of duplicate share certificate</li>
                        </ul>
                     </div>
                     <div class="col-sm-3 col-md-3 col-lg-3">
                        <ul class="links">
                           <li>indemnity bond for property</li>
                           <li>indemnity bond for bank</li>
                           <li>indemnity bond for tan correction</li>
                           <li>indemnity bond for death claim</li>
                           <li>indemnity bond for advance payment</li>
                           <li>indemnity bond for amity</li>
                           <li>indemnity bond for adventure sports</li>
                           <li>indemnity bond for bank guarantee
                           <li>indemnity bond for bescom</li>
                           <li>indemnity bond for cheque lost</li>
                           <li>indemnity bond for change of name</li>
                           <li>indemnity bond for customs</li>
                           <li>indemnity bond for closure of company</li>
                        </ul>
                     </div>
                     <div class="col-sm-3 col-md-3 col-lg-3">
                        <ul class="links">
                           <li>indemnity bond for electricity connection</li>
                           <li>indemnity bond for employee</li>
                           <li>indemnity bond for eb name transfer</li>
                           <li>indemnity bond for electricity transfer</li>
                           <li>indemnity bond for fast track exit scheme</li>
                           <li>indemnity bond for family pension</li>
                           <li>indemnity bond for home loan</li>
                           <li>indemnity bond for issue of duplicate demand draft</li>
                           <li>indemnity bond for income tax demand</li>
                           <li>indemnity bond for insurance claim</li>
                           <li>indemnity bond for issue of duplicate nsc certificate</li>
                           <li>indemnity bond for income tax refund by legal heir</li>
                           <li>indemnity bond for issue of duplicate cheque</li>
                        </ul>
                     </div>
                     <div class="col-sm-3 col-md-3 col-lg-3">
                        <ul class="links">
                           <li>indemnity bond for payment</li>
                           <li>indemnity bond for pf withdrawal form</li>
                           <li>indemnity bond for payment not received</li>
                           <li>indemnity bond for partnership</li>
                           <li>indemnity bond for post office</li>
                           <li>indemnity bond for release of vehicle</li>
                           <li>indemnity bond for railway</li>
                           <li>indemnity bond for return of property</li>
                           <li>indemnity bond for release of payment</li>
                           <li>indemnity bond for release of bank guarantee</li>
                           <li>indemnity bond for railway employee</li>
                           <li>indemnity bond for refund of income tax</li>
                           <li>indemnity bond for repayment of loan</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="hr-line col-sm-12 col-md-12 col-lg-12">
                  <hr class="contact_hr-1">      
               </div>
            </div>
         </div>
         <%= render partial:'campaign_footer' %>
      </footer>
      <%= render partial: 'home/google_code' %>
      <%= javascript_include_tag 'campaign' %>
      <script>
         var doc_price, copies;
         /****************** div color chage jquery ******************/
         $(document).ready(function () {
            var document_search = new Bloodhound({
               datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
               queryTokenizer: Bloodhound.tokenizers.whitespace,
               prefetch: localSearch,
               remote: {
                  url: '/search/document/',
                  replace: function(url, uriEncodedQuery) {
                     query = $('#query').val();
                     url = url + '?q=' + encodeURIComponent(query) + '&service_id=' + <%= @service.id %>
                     return url;
                  }
               }
            });
            var localSearch = function(e){
            };
            document_search.initialize();
            $('#query').typeahead(null,{
               name: 'Location',
               displayKey: 'name',
               minLength: 0,
               source: document_search.ttAdapter()
            }).on('typeahead:selected', function(event, data){            
               setValue(data);
            }).on('typeahead:autocompleted',function(event,data){
               setValue(data);
            });

            function setValue(data){   
               $('#order').show();
               $('#order_two').hide();
               $('html, body').animate({
                  scrollTop: $("#order").offset().top
               }, 2000);               
               // window.location.href = '/product/' + data.India + '-' + data.name.split(' ').join('-');
               doc_price = data.default_price;
               $('.doc_price span i').html(999);
               $('#product').val(data.name);
               $('.affidavit_txt').html(data.name);
            }
            /************** Number Of Copies Slider JS Starts ********************/
            $(function() {
               numberSlider = function(e){
                  new Dragdealer('just-a-slider', {
                     speed: 1,
                     loose: true,
                     steps: 11,
                     animationCallback: function(x, y) {
                        $('#just-a-slider .value').text(Math.round(x * 10));
                        $("#no-of-copies").val(Math.round(x * 10));
                        copies = Math.round(x * 10);
                        calculateSum(e);
                     }
                  });
               }
            })

            $(function() {
               copiesSlider = function(e){
                  new Dragdealer('just-a-slider-1', {
                     speed: 1,
                     loose: true,
                     steps: 11,
                     animationCallback: function(x, y) {
                        $('#just-a-slider-1 .value').text(Math.round(x * 10));
                        $("#no-of-copy").val(Math.round(x * 10));
                        copies = Math.round(x * 10);
                        calculateSum(e);
                     }
                  });
               }
            })
            /************* Number of Copies Slider JS Ends *********************/

            $(".divhover").hover(function () {
               $(this).css("background", "#dde8db");
            },
            function () {
               $(this).css("background", "#dfe1d4");
            });
            function setNotification(type, notif_txt){
               switch(type){
                  case 'success':
                     $('#notification').removeClass('red').addClass('green');
                     break;
                  case 'error':
                     $('#notification').addClass('red').removeClass('green');
                     break;
               }
               $('#notification').html(notif_txt);
               $('#notification').slideDown('slow').delay(4000).slideUp('slow');
            }

            $('#stamp_amount').on('change', function(e){
               stamp_value = parseInt($('#stamp_amount').val()) || 0;
               if (stamp_value <= 0 || stamp_value < 100){
                  setNotification('error', 'Min stamp amount Rs 100');
                  $('#stamp_amount').val('');
               }
               $('#stamp_value').val(stamp_value);
               $('.total_amount').val('');
               calculateSum(e);
               $('#stamp_value_2').val('');
            })

            $('#stamp_amount_2').on('change', function(e){
               stamp_value = parseInt($('#stamp_amount_2').val()) || 0;
               if (stamp_value <= 0 || stamp_value < 100){
                  setNotification('error', 'Min stamp amount Rs 100');
                  $('#stamp_amount_2').val('');
               }
               $('#stamp_value_2').val(stamp_value);
               $('.total_amount').val('');
               calculateSum(e);
               $('#stamp_value').val('');

            })

            // $('.pay_btn').bind('click',function(e){
            //    var summary = {};
            //    $('.document-form input').each(function(){
            //       var elem = $(this);
            //       var id = elem.attr('id');
            //       if ((id == 'no-of-copies') || (id == 'no-of-copy')  (id == 'date-slot') || (id == 'total_amount') || (id == 'product')){
            //          var value = elem.val();
            //          summary[id] = value;
            //       }
            //    }) 
            // })
            function calculateSum(e){
               stamp_value = parseInt($('#stamp_value').val()) || 0;
               if(stamp_value == 0){
                  stamp_value = parseInt($('#stamp_value_2').val()) || 0;
               }
               var stamp_duty=0;
               if (stamp_value >= 20 && stamp_value <= 100){
                  stamp_duty = 35;
               }
               if (stamp_value >= 101 && stamp_value <= 1000){
                  stamp_duty = 55;
               }
               if (stamp_value >= 1001 && stamp_value <= 2000){
                  stamp_duty = 75;
               }
               if (stamp_value >= 2001 && stamp_value <= 5000){
                  stamp_duty = 250;
               }
               if (stamp_value > 5000){
                  stamp_duty = Math.round(stamp_value * 0.05) ;
               }
               // copies = parseInt($('#no-of-copies, #no-of-copy').val());
               copies = parseInt(copies);
               $('.no-copy').html(copies);
               delivery_charge = <%= @document.service.delivery_charges %>;
               document_charge = 999;
               total_stamp_amount = (stamp_value + stamp_duty);
               // total_doc_price = document_charge;
               $('.tot_doc_price i').html(document_charge*copies);
               $('.tot_stamp_price i').html(total_stamp_amount*copies);
               net_amount = ((document_charge + stamp_value + stamp_duty) * (copies + 1)) + delivery_charge;
               $('.total_amount').val(net_amount);
               $('.stamp_price span i, .stamp_price_2 span i').html(total_stamp_amount || 0);
               $('.final_amount span i').html(net_amount);
            }
            
            /************* Time Slot Slider JS Ends *********************/
            $(function() {
               new Dragdealer('simple-slider', {
                  speed: 1,
                  loose: true,
                  steps: 4,
                  animationCallback: function(x, y) {
                     var time_slot1 = "10AM TO 12PM";
                     var time_slot2 = "12PM TO 3PM";
                     var time_slot3 = "3PM TO 6PM";
                     var time_slot4 = "6PM TO 8PM";
                     var decimalValue = x;
                     var stepValue = Math.round(x * 3);
                     $('#simple-slider .value').text();
                     if(stepValue == 0){
                        final_time = time_slot1;
                     }
                     if(stepValue == 1){
                        final_time = time_slot2;
                     }
                     if(stepValue == 2){
                        final_time = time_slot3;
                     }
                     if(stepValue == 3){
                        final_time = time_slot4;
                     }
                     $("#date_slot").val(final_date + " " + final_time);
                  }
               });
            })

            /************* Time Slot Slider JS Ends *********************/
            $('.tab-menu a').hover(function (e) {
               e.preventDefault()
               $(this).tab('show')
            })
            /************** Date Slider JS Starts ********************/
            $(function() { 
               new Dragdealer('date-slider', {
                  speed: 1,
                  loose: true,
                  steps: 7,
                  animationCallback: function(x, y) {
                     var decimalValue = x;
                     // console.log(" decimalValue = " +decimalValue);
                     var stepValue = Math.round(x * 6);
                     // console.log(" stepValue = " +stepValue);
                     $('#date-slider .value').text(tot_days[stepValue]);
                     final_date = tot_days[stepValue].replace(/(\r\n|\n|\r)/gm," "); 
                     $("#date_slot").val(final_date + " " + final_time);
                  }
               });
            })

            /************* Date Slider JS Ends *********************/

            $('.bxslider1').bxSlider({
               minSlides: 5,
               maxSlides: 8,
               slideWidth: 360,
               slideMargin: 12,
               moveSlides: 1,
               responsive: true
            });

        
            /********************* DATE SLOT JS STARTS **********************/
            var current_date = new Date();
            var next_date = new Date();
            var j=0;
            var date = current_date.getDate();
            var tot_days = new Array(7);
            var dd, mm;

            for(j=0; j<7; j++){
               next_date.setDate(next_date.getDate() + 1);
               dd = next_date.getDay();

               mm = next_date.getMonth();
               if(mm==0){
                  mm="JAN";
               } else if(mm==1){
                  mm="FEB";
               } else if(mm==2){
                  mm="MAR";
               } else if(mm==3){
                  mm="APR";
               } else if(mm==4){
                  mm="MAY";
               } else if(mm==5){
                  mm="JUN";
               } else if(mm==6){
                  mm="JUL";
               } else if(mm==7){
                  mm="AUG";
               } else if(mm==8){
                  mm="SEP";
               } else if(mm==9){
                  mm="OCT";
               } else if(mm==10){
                  mm="NOV";
               } else if(mm==11){
                  mm="DEC";
               }  

               if(dd==0) {
                  dd="SUN";
               } else if(dd==1){
                  dd="MON";
               } else if(dd==2){
                  dd="TUE";
               } else if(dd==3){
                  dd="WED";
               } else if(dd==4){
                  dd="THU";
               } else if(dd==5){
                  dd="FRI";
               } else if(dd==6){
                  dd="SAT";
               }
               // console.log(j);
               // console.log(next_date);
               tot_days[j] = dd + "\n" + next_date.getDate() + "\n" + mm;
               var temp = (j + 1);
               // console.log(document.getElementById("date" + temp));
               // console.log(document.getElementById("date" + (j + 1)).innerHTML);
               // document.getElementById("date" + (j + 1)).innerHTML = tot_days[j];
            }
            final_date = tot_days[0].replace(/(\r\n|\n|\r)/gm," ");
            final_time = "9AM TO 12PM";

            /********************* DATE SLOT JS ENDS **********************/


            $(".terms_condition").on("change", function(){
               var isChecked = $(this).prop("checked"); 
               if(isChecked){
                  $(".pay_btn").show(); 
               } else {
                  $(".pay_btn").hide(); 
               }
            }); 

            

            $("#stamp_amount").keypress(function (e) {
               $(this).val($(this).val().replace(/^0+|[^0-9.]+/, ''));
               if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                  $(e.target.parentElement).find(".errmsg").html("Digits Only").show().fadeOut("slow");
                  return false;
               }
            });
            $("#owl-demo").owlCarousel({
               navigation : false,
               slideSpeed : 600,
               paginationSpeed : 800,
               autoPlay : 3000,
               autoplayHoverPause: true,
               singleItem:true
            });

            $('a .btn_order').on('click', function(){
               $('html, body').animate({
                  scrollTop: $( $.attr(this, 'href') ).offset().top
               }, 5000);
               return false;
            })
            
           
            new WOW().init();
            
            setTimeout(function(){
               $('#radio1').trigger('click');
            },2000)

            function formHide(){
               $('.contact_form').hide('fast');
               $('.thanks').show('slow');
               setNotification('success', "We will get back to you shortly!")
            };

            $('.enquiry').bind('click', function(){
               $('.logo').hide();
               $('.city_wrap').hide();
               $('.cust_enquire').show().slideDown();
            })

            $('.close_enquiry').bind('click', function(){
               $('.cust_enquire').hide();
               $('.logo').show();
               $('.city_wrap').show();
            })

            $('.overlay').bind('click', function(){
               $('.estamp_wrap').show();
               $('.choose_affidavit').hide();
            })

            // $('.estamp_left').bind('click', function(event){
            //    event.preventDefault();
            //    // $('.choose_agreement').show();
            //    $('.estamp_wrap').hide();
            //    $('.copies_doc').hide();
            //    // $('.select_doc').hide();
            //    // $('.format_doc').hide();
            //    $('.cust_info').hide();
            // })

            $('.estamp_right').bind('click', function(){
               $(window).unbind('scroll');
               if($('.amount_wrap input:text').val().length == 0){
                  setNotification('error', "Min stamp amount Rs 100");
               }
               else{
                  $('.copies_doc').show();
                  $('.estamp_wrap').hide();
               }
                  numberSlider();
            })

            
            $('.copies_left').on('click', function(){
               // $('.format_doc').show();
               $('.copies_doc').hide();
               $('.select_doc').hide();
               $('.estamp_wrap').show();
               $('.payment_summary').hide();
               $('.cust_info').hide();
            })

            $('.copies_btn , .copies_right').bind('click', function(){
               $('.format_doc').show();
               $('.payment_summary').hide();
               $('.copies_doc').hide();
               $('.select_doc').hide();
               $('.estamp_wrap').hide();
               $('.cust_info').hide();
            })

            $('.format_left').bind('click', function(){
               $('.copies_doc').show();
               $('.payment_summary').hide();
               $('.select_doc').hide();
               $('.format_doc').hide();
               $('.estamp_wrap').hide();
               $('.cust_info').hide();
            })
            $('.format_btn , .format_right').bind('click', function(e){
               if ($('.option_wrap input[name="answer[3]"]:checked').length<=0) {
                  setNotification('error', "Please select atleast one option!");
               }
               else{
                  $('.payment_summary').show();
                  $('.copies_doc').hide();
                  $('.select_doc').hide();
                  $('.format_doc').hide();
                  $('.estamp_wrap').hide();
               }
            })

            $('.payment_left').on('click', function(){
               $('.format_doc').show();
               $('.copies_doc').hide();
               $('.select_doc').hide();
               $('.estamp_wrap').hide();
               $('.payment_summary').hide();
               $('.cust_info').hide();
            })

            $('.proceed_btn , .payment_right').bind('click', function(){
               $('.cust_info').show();
               $('.payment_summary').hide();
               // $('.format_doc').hide();
               $('.copies_doc').hide();
               $('.select_doc').hide();
               $('.estamp_wrap').hide();
            })
            
            $('.contact_left').on('click', function(){
               $('.payment_summary').show();
               $('.cust_info').hide();
               $('.copies_doc').hide();
               // $('.format_doc').hide();
               $('.select_doc').hide();
               $('.estamp_wrap').hide();
            })

            $('#affi_order').bind('click', function(){
               $('.customer_info').show();
               $('.affidavit_intro').hide();
            })

            $('#enquire_btn').bind('click', function(){
               var continue_next = true;
               $('#cust_contact input').each(function(){
                  if($(this).val().length == 0){
                     setNotification('error', "Please fill all the details.");
                     // break;
                     continue_next = false;
                     return false;
                  }
               })
               if (continue_next){
                  $('.affidavit_ques').show();
                  $('.customer_info').hide();
                  copiesSlider();
               }
            })

            $('#affi_quesbtn').bind('click', function(){
               if($(this.parentNode).find('.amount_wrap input:text').val().length == 0){
                  setNotification('error', "Min stamp amount Rs 100");
               }
               else{
                  $('#affi_summary').show();
                  $('.affidavit_ques').hide();
               }
            })

            // $('#summ_btn').bind('click', function(){
            //    $('.customer_info').show();
            //    $('#affi_summary').hide();
            // })

            $('#affidavit_name').on('change', function(e){ 
               $('.affidavit_detail').html(this.value);
            });

            $('#yes_radio').on('click', function(){
               $('.file_upload').show();
               $('.process').hide();
            })
            $('#no_radio').on('click', function(){
               $('.process').show();
               $('.file_upload').hide();
            })

            $('#yes').on('click', function(){   
               $('.file_upload').show();
               $('.process').hide();
            })
            $('#no').on('click', function(){
               $('.process').show();
               $('.file_upload').hide();
            })
            document.getElementById("uploadBtn").onchange = function () {
               document.getElementById("uploadFile").value = this.value;
            };
            document.getElementById("uploadBtn_1").onchange = function () {
               document.getElementById("uploadFile_1").value = this.value;
            };
         });
      </script>
      <%= render partial: 'home/chat_client' %>
   </body>
</html>