<div class="row dashboard_page">
	<div class="col-sm-offset-4 col-sm-8 col-md-offset-2 col-md-10">
		<div class="row">
			<div class="content-wrapper">
				<div class="col-md-6">
					<div class="check-list-wrap">
					<div class="check-list-head text-center">
					<%= image_tag 'dashboard_icon/Checklist2_Icon.png', :class =>"doc-icon" %> 
					<h1>Checklist</h1>
					<h4 class="">PLACE YOUR ORDER</h4>
					</div>
					<p class="txt">This is one of Docket's premium services that ensures all the necessary documents are in place at any moment. This service gives you the leverage of understanding all the details required in the case of delivery timings, payments, offers and to apply for documents like bonds, agreements, registrations, deeds and affidavits.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="book-shelf-wrap">
					<a href="/in/agreement"><%= image_tag 'dashboard_icon/agreementicon.png', :class =>"ag" %></a>
					<a href="/in/affidavit"><%= image_tag 'dashboard_icon/affidaviticon.png', :class =>"af" %></a>
					<a href="/in/bond"><%= image_tag 'dashboard_icon/bondsicon.png', :class =>"b" %></a>
					<a href="/in/deed"><%= image_tag 'dashboard_icon/deedsicon.png', :class =>"d" %></a>
					<a href="/in/startup"><%= image_tag 'dashboard_icon/startupsicon.png', :class =>"s" %></a>
					<a href="/in/marketplace"><%= image_tag 'dashboard_icon/marketplaceicon.png', :class =>"m" %></a>
					<a href="/in/on-demand"><%= image_tag 'dashboard_icon/ondemandicon.png', :class =>"o" %></a>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
