<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Company Registration | Docket Tech</title>
		<%= stylesheet_link_tag 'campaign', media: 'all' %>
		<meta name="description" content="Get your company registered today It's simple and easy-It only takes a few minutes! Fast Online Process ·Transparent Pricing.">
		<meta name="keywords" content="Private limited company registration process in india,
					limited company registration in india, How to register a Private limited company registration in india, Procedure for registering Private limited company, New Private limited company Registration,
					Private limited company registration documents, Private limited company registration details, LLP registration, Starting up a Limited Company, PROPRIETORSHIP FIRM REGISTRATION, PARTNERSHIP FIRM REGISTRATION, ONE PERSON COMPANY REGISTRATION">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,800,700' rel='stylesheet' type='text/css'>
		<%= favicon_link_tag 'favicon.ico' %>
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container-fluid company-registration">
			<a href="/"><img src="assets/new_images/logo.png" class="pull-left logo" alt="logo"></a>
			<div class="city_wrap pull-right">	
				<h4 class="bangalore">BANGALORE</h4>
				<div class="enquiry">
					<button type="button" class="btn btn-default enquiry_btn">QUICK ENQUIRY </button> <span class="enquiry_icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
				</div>
			</div>
			<div class="row cust_enquire" style="display:none;">
				<span class="enquiry_close_wrap">	
					<h1 class="pull-right close_enquiry">X</h1>
				</span>	
				<div class="col-md-8 enquiry_form" style="">
					<h1 class="quick_txt">QUICK ENQUIRY</h1>
					<!-- <h6>We will get back to you.</h6> -->
					<%= form_tag('/contact_requests', remote: true, type: :post, :onSubmit => 'formHide()',:class=> 'contact_form') do |f| %>
						<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
						<input type="hidden" name="contact_request[request_type]" placeholder="Name" value="Campaign-Registration">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="input_style1" pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" title="Type only characters"  name="contact_request[name]"   id="name" placeholder="Name" required>
								</div>
								<div class="form-group">
									<input type="email" title="Eg: some@mail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="contact_request[email]"  class="input_style1" id="email" placeholder="Email" required>
								</div>  
								<div class="form-group">
									<input type="mobile" maxlength="10" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" title="Enter 10 digit Valid Mobile Number" name="contact_request[phone]" class="input_style1" id="mobile" placeholder="Mobile" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<textarea class="input_style1" name="contact_request[message]" id="message" placeholder="What are you looking for?" rows="4" cols="40" required></textarea>
								</div>
								<button type="submit" class="send-btn">Send</button>
							</div>
						</div>
					<% end %>
					<div class='thanks' style="display:none"> 
					  Thank You for contacting us. We will get back to you shortly.
					</div>
				</div>
				<div class="col-md-4 map">
					<div>India</div><br>
					<div>
						<p>Docket Tech Solutions Private Limited<br>
							<br>
							Mayur Tower, #10, <br>
	                    	1st Floor, 3rd Main Rd, <br>
	                    	Ashwini Layout, Ejipura, <br>
	                    	Bangalore - 560047, <br>
	                    	Karnataka, India
                 		</p>
					</div>
					<h4>+91-81-0537 7103</h4><br>
					<!-- <h4>+91-80-4656 4656</h4><br> -->
					<br>
					<h4 class="email_txt"><a href="mailto:support@dockettech.com">support@dockettech.com</a></h4>
				</div>
			</div>
			<div class="row main_bg">
				<div class="col-md-12">
					<div class="center_align">
						<div class="for-top-corner">
							<h1 class="main_head">Company</h1>
							<h1 class="main_head">Registration</h1>
							<h1 class="main_head">in just 5 days<sup>*</sup>.</h1>
						</div>
						<div class="for-bottom-corner">
							<p class="main_head">Docket Tech Solutions brings to you Fast Track Registration Process.<br>
							   Documents pick up and signatures taken at your doorstep. Contact us for<br>
							   free consultation now.	
							</p>
						</div>	
						<div class="main_head">
						<a href="#order">
							<button type="button" class="btn btn-default btn_order" id="order_now">Order Now</button>
							<button type="button" class="btn btn-default btn_learnmore" id="learn">Learn More</button>
						</a>
						<!-- <h4 class="services-bangalore text-center">Currently our service available only in Karnataka</h4> -->
						</div>
					</div>
				</div>
			</div>
			<div class="header-banner">
				<nav>
					<ul class="nav_list">
					  <li><a href=""><img src="assets/new_images/logo2.png" style="display:none;" class="logotwo pull-left" alt="logo"></a></li>
					  <li id="register_nowfrm">REGISTER NOW</li>
					  <li id="bsns_start">START A BUSINESS</li>
					  <li id="pacakage_license">BUSINESS LICENSES</li>
					<ul>
				</nav>
			</div>
			<div class="section_padding company_regis">
				<h4 class="head_bg">WHY COMPANY REGISTRATION ?</h4>
				<div class="row bg_wrap">
					<div class="col-md-6">
						<img src="/assets/company_registration/why.jpg" style="width:99%" class="camera" alt="">
					</div>
					<div class="col-md-6">
						<div class="company_subhead"><span class="company_txt">COMPANY REGISTRATION</span></div>
						<h5 class="company_para">If you are running a business, then registering the same is very important. Having a registered business name makes a difference when you approach clients and partners. It promises customers that you are not here as a fly-by sales man but are going to stick around like a professional. Part of being a professional is to have your customers pay your company for the services and not make the payment to your personal bank account. Now to have a bank account in your company name, you will require your business to be registered as an entity. Doing so helps you keep your professional life separate from your personal life. Also, in the event that your business fails, you do not have to lose any of your personal savings to repay the investors. You would also need employees at one point of time. Unless you are looking for freelancers, it is not possible to legally hire employees without being a registered business entity. Seeking loans or finding investors is the most important reason why you should have a registered business name. You need to prove to the bank or the investor that you actually own a business. Leaving the business registration process till the last minute makes you liable to these risks.</h5>
						
					</div>
				</div>
			</div>
			<div class="section_padding start_business" id="start_bsns">
				<div class="row bg_wrap start_expert">
					<div class="col-md-1">
						<div class="vertical_wrap hidden-xs hidden-sm">
							<h4 class="start_txt vertical-text">START BUSINESS</h4>
							<span class="vertical_line">|</span>
						</div>
					</div>
					<div class="col-md-5" style="padding:0;margin:0">
						<div class="company_list">
							<div class="row">
								<div class="col-md-1">
									<h4 class="number_style">01</h4>
								</div>
								<div class="col-md-11">
									<h5 class="price_bg">PRIVATE LIMITED COMPANY REGISTRATION<span class="pull-right">Rs. 6999/-</span></h5>
									<h6 class="bussiness_txt">A default option for startups and scalable businesses.  If your company is growing and are looking to raise funds from investors, then this is your best foot forward. 
									</h6>
								</div>
							</div>
							<div class="row">
								<div class="col-md-1">
									<h4 class="number_style">02</h4>
								</div>
								<div class="col-md-11">
									<h5 class="price_bg">LIMITED LIABILITY PARTNERSHIP REGISTRATION<span class="pull-right">Rs. 5999/-</span></h5>
									<h6 class="bussiness_txt">As the name suggests, LLP allows the scope to have limited liability. In an LLP, one partner is not responsible or liable for another partner's misconduct or negligence. Forms the perfect structure for Professional services, ad agencies, marketers, and other skill based services.</h6>
								</div>
							</div>
							<div class="row">
								<div class="col-md-1">
									<h4 class="number_style">03</h4>
								</div>
								<div class="col-md-11">
									<h5 class="price_bg">ONE PERSON COMPANY REGISTRATION<span class="pull-right">Rs. 5999/-</span></h5>
									<h6 class="bussiness_txt">OPC is classified as a Private Company for all the legal purposes with only one member. All the provisions related to the private company are applicable to an OPC, unless otherwise expressly excluded. OPC enables entrepreneurs with sole ownership enter into a Corporate Framework.</h6>
								</div>
							</div>
							<div class="row">
								<div class="col-md-1">
									<h4 class="number_style">04</h4>
								</div>
								<div class="col-md-11">
									<h5 class="price_bg">PARTNERSHIP FIRM REGISTRATION<span class="pull-right">Rs. 4999/-</span></h5>
									<h6 class="bussiness_txt">The relation between two or more people who have agreed to share the profits of a business run by all or any one of them acting for all. Most sensible option for home and small businesses due to the ease of setting up and minimal compliance requirements involved.</h6>
								</div>
							</div>
							<div class="row">
								<div class="col-md-1">
									<h4 class="number_style">05</h4>
								</div>
								<div class="col-md-11">
									<h5 class="price_bg">PROPRIETORSHIP FIRM REGISTRATION<span class="pull-right">Rs. 2999/-</span></h5>
									<h6 class="bussiness_txt">Owned and run by one natural person and the owner is in direct control of all elements and is legally accountable for the finances of such business and this may include debts, loans, loss etc. Traders, small manufacturers small businesses that typically need GST registration.</h6>
								</div>
							</div>
						</div>
						<button type="button" class="btn btn-default expert_btn">ASK AN EXPERT</button>
					</div>
					<div class="col-md-6" style="padding: 0;margin: 0;">
						<h3 class="about_register">ALL YOU NEED TO KNOW <br> ABOUT YOUR COMPANY BEFORE REGISTERING</h3>
						<!-- <img src="/assets/company_registration/start_business.jpg" style="width:100%" class="camera" alt=""> -->
						<div class="table-responsive table_bg">
							<table class="table table_list">
								<thead>
									<tr>
										<th></th>
										<th>Private Limited Company</th>
										<th>Limited Liability Company</th>
										<th>One Person Company</th>
										<th>Partnership Firm</th>
										<th>Proprietorship</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Directors</td>
										<td>Minimum 2 Director</td>
										<td>Minimum 2 designated Partners</td>
										<td>1 Director</td>
										<td>Minimum 2 Partners</td>
										<td>Individual</td>
									</tr>
									<tr>
										<td>Funding</td>
										<td>Very easy to accomodate</td>
										<td>Possible but highly Unlikely</td>
										<td>Possible but highly Unlikely</td>
										<td>Almost impossible</td>
										<td>Unlikely</td>
									</tr>
									<tr>
										<td>Liability</td>
										<td>Limited</td>
										<td>Limited</td>
										<td>Limited</td>
										<td>Unlimited</td>
										<td>Unlimited</td>
									</tr>
									<tr>
										<td>Tax benefits</td>
										<td>Few</td>
										<td>Most</td>
										<td>Few</td>
										<td>Minimal</td>
										<td>Minimal</td>
									</tr>
									<tr>
										<td>Perpetual Existence</td>
										<td>Yes</td>
										<td>Yes</td>
										<td>Yes</td>
										<td>No</td>
										<td>No</td>
									</tr>
									<tr>
										<td>Statutory Compliances</td>
										<td>High</td>
										<td>Low</td>
										<td>Medium</td>
										<td>Minimal</td>
										<td>Minimal</td>
									</tr>
									<tr>
										<td>Recommended For</td>
										<td>Startups and growing companies</td>
										<td>Professional services firms</td>
										<td>Sole promoters</td>
										<td>Family friends business</td>
										<td>Sole proprietors</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="section_padding register_business" id="business_frm">
				<div class="row bg_wrap">
					<div class="col-md-1">
						<div class="vertical_wrap hidden-xs hidden-sm">
							<h4 class="business_txt vertical-text">REGISTER YOUR BUSINESS</h4>
							<span class="vertical_line">|</span>
						</div>
					</div>
					<div class="col-md-11">
						<div class="static_question">
							<div class="row">
								<div class="col-md-4">
									<h2 class="questag_line">SELECT YOUR <br> BUSINESS & <br> <span class="purple_color">REGISTER NOW</span></h2>
								</div>
								<div class="col-md-4 choose-type" data-attr="3">
									<div class="box"> <img src="/assets/company_registration/register/opc.jpg">
									  <div class="overbox">
										<div class="title overtext"> <button type="button" class="btn btn-default order_btn opc_btn">Order Now</button></div>
									  </div>
									</div>
								</div>
								<div class="col-md-4 choose-type" data-attr="2">
									<div class="box"> <img src="/assets/company_registration/register/llp.jpg">
									  <div class="overbox">
										<div class="title overtext"> <button type="button" class="btn btn-default order_btn limited_btn">Order Now</button></div>
									  </div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 choose-type" data-attr="1">
									<div class="box"> <img src="/assets/company_registration/register/pvt_ltd.jpg">
									  <div class="overbox">
										<div class="title overtext" id="private" > <button type="button" class="btn btn-default order_btn private_btn">Order Now</button></div>
									  </div>
									</div>
								</div>
								
								<div class="col-md-4 choose-type" data-attr="4">
									<div class="box"> <img src="/assets/company_registration/register/partnership.jpg">
									  <div class="overbox">
										<div class="title overtext"> <button type="button" class="btn btn-default order_btn partnership_btn">Order Now</button></div>
									  </div>
									</div>
								</div>
								<div class="col-md-4 choose-type" data-attr="5">
									<div class="box"> <img src="/assets/company_registration/register/sole_proprietorship.jpg">
									  <div class="overbox">
										<div class="title overtext"> <button type="button" class="btn btn-default order_btn sole_btn">Order Now</button></div>
									  </div>
									</div>
								</div>
							</div>
						</div>
						<%= form_tag('/campaign_order',:name => 'd-form', multipart: true, :class => 'document-form', :id => "question_form") do |f| %>
							<%= hidden_field_tag 'user_id',nil, value: current_user %>
							<%= hidden_field_tag 'service_id',nil, value: @service.id %>
							<%= hidden_field_tag 'document_id',nil, value: @document.id %>
							<%= hidden_field_tag 'product',nil, value: @document.name  %>
							<%= hidden_field_tag 'total_amount',nil, value: nil  %>
							<%= hidden_field_tag 'answer[44]',nil, value: 'Campaign'  %>
							
							<div class="row" id="private_ltd" style="display:none;">
								<div class="col-md-6" style="padding:0;margin:0">
									<img src="/assets/company_registration/register/pvt_bg.jpg" id="doc_image" style="width:100%;" alt="">
								</div>
								<div class="col-md-6" style="padding:0;margin:0">
									<div class="company_frm">
										<h4 class="product_name"><span class="doc_name"></span><br> REGISTRATION <span class="pull-right">Rs. <span class="doc_price"></span> /-(Incl. GST)</span></h4>
										<h6 class="private_txt doc_decp"></h6>
										<div class="registration_frm">
											<div class="registration_sec">
												<h4 class="questions_heading">1) Enter the name of your Startup</h4>
												<div class="amount_wrap">
													<input type="text" name="answer[6]" class="input_style" maxlength="50" min="20" placeholder="" required/>
												</div>
												<h4 class="questions_heading">2) Number of founders/partners/directors ?</h4>
												<input type="number" name="answer[8]" class="input_style" maxlength="10" min="2" required>
												<div class="proceed_btn pull-right" id="continue">
													Continue
												</div>
											</div>
										</div>
									</div>
									<div class="contact_frm" style="display:none;">
										<h3 class="conatct_txt">PLEASE FILL YOUR CONTACT DETAILS <br> OUR TEAM WILL CONTACT YOU</h3>
										<div class="contact_details">
											<div class="payment_details">
												<div class="form-group">
													<input type="text" class="input_name" id="fullName" pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" title="Type only characters" name="name"  placeholder="FULL NAME" required/>
												</div>
												<div class="form-group">
													<input type="email" class="input_name" id="email" title="Eg: some@mail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" placeholder="EMAIL ADDRESS" required/>
												</div>
												<div class="form-group">
													<input type="text" class="input_name" id="mobileNumber" maxlength="10" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" title="Enter 10 digit Valid Mobile Number" name="mobile" placeholder="MOBILE NUMBER" required/>
												</div>
												<div class="terms_wrap pull-right">
													<div class="checkbox">
														<label>
															<input type="checkbox" name="terms_condition" class="terms_condition">
															&nbsp;&nbsp; <span class="chk_hint">I agree to the<a href="/terms"><em>Terms & Conditions</em></a> of Docket Tech</span>
														</label>
													</div>
												</div>
												<button type="submit" class="btn btn-primary pay_btn pull-right" style="display:none;">PAY &nbsp;&nbsp;&nbsp;<span class="pay_caret"><i class="fa fa-caret-right" aria-hidden="true"></i></span></button>
											</div>
										</div>
									</div> 
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="section_padding licenses_wrap" id="license_package">
				<h4 class="head_bg">BUSINESS LICENSES</h4>
				<div class="row bg_wrap">
					<div class="col-md-6">
						<img src="/assets/company_registration/license.jpg" style="width:99%" class="camera" alt="license">
					</div>
					<div class="col-md-6">
						<div class="for-info">
							<p class="for-para">Post incorporation you would need to register necessary licenses that are required for your business or company. </p>
							<div class="license-buttons tab-menu">
								<a href="#license" class="active" data-toggle="tab">
								<button type="button" class="btn btn-default licenses">Licenses</button>
								</a>
								<a href="#startup" data-toggle="tab">
								<button type="button" class="btn btn-default startup">Startup Packages</button>
								</a>
							</div>
							<div class="row for-checkbox tab-content" style="margin: 0 auto;">
								<div class="col-md-12 tab-pane active" id="license" style="padding: 0;">
									<div class="row">
										<div class="col-md-1" data-attr="Company PAN">
											<div class="checkbox">
												<label>
													<input id="chk_1" type="checkbox" name='contact_request[message][]' onclick="selCheckBox(1)" value="Company PAN" />
												</label>
											</div>
										</div>
										<div class="col-md-11">
											<div class="checkbox">
												<label>Company PAN&nbsp;<br><span class="for-bold">Rs.299/-</span>
												</label>
											</div>
										</div>
										<div class="col-md-1" data-attr="TAN">
											<div class="checkbox">
												<label>
													<input id="chk_2" onclick="selCheckBox(2)" type="checkbox" name='contact_request[message][]' value="TAN" />
												</label>
											</div>
										</div>
										<div class="col-md-11">
											<div class="checkbox">
												<label>TAN&nbsp;<br><span class="for-bold">Rs.299/-</span>
												</label>
											</div>
										</div>
										<!-- <div class="col-md-1" data-attr="Goods and Service Tax Registration">
											<div class="checkbox">
												<label>
													<input type="checkbox" name='contact_request[message][]' id="chk_3" onclick="selCheckBox(3)" value="Goods and Service Tax Registration" />
												</label>
											</div>
										</div>
										<div class="col-md-11">
											<div class="checkbox">
												<label>Goods and Service Tax Registration&nbsp;<br><span class="for-bold">Rs.1399/-</span>
												</label>
											</div>
										</div> -->
										<div class="col-md-1" data-attr="Professional Tax Enrolment">
											<div class="checkbox">
												<label>
													<input type="checkbox" name='contact_request[message][]'  id="chk_4" onclick="selCheckBox(4)" value="Professional Tax Enrolment" />
												</label>
											</div>
										</div>
										<div class="col-md-11">
											<div class="checkbox">
												<label>Professional Tax Enrolment&nbsp;<br><span class="for-bold">Rs.1999/-</span>
												</label>
											</div>
										</div>
										<div class="col-md-1" data-attr="Shop & Establishment">
											<div class="checkbox">
												<label>
													<input type="checkbox" name='contact_request[message][]'  id="chk_5" onclick="selCheckBox(5)" value="Shop & Establishment" />
												</label>
											</div>
										</div>
										<div class="col-md-11">
											<div class="checkbox">
												<label>Shop & Establishment&nbsp;<br><span class="for-bold">Rs.2999/-</span>
												</label>
											</div>
										</div>
										<div class="col-md-1" data-attr="GST Registration">
											<div class="checkbox">
												<label>
													<input type="checkbox" name='contact_request[message][]'  id="chk_6" onclick="selCheckBox(6)" value="GST Registration" />
												</label>
											</div>
										</div>
										<div class="col-md-11">
											<div class="checkbox">
												<label>GST Registration&nbsp;<br><span class="for-bold">Rs.1399/-</span>
												</label>
											</div>
										</div>
										<div class="col-md-1" data-attr="Trade License Registration">
											<div class="checkbox">
												<label>
													<input type="checkbox" name='contact_request[message][]'  id="chk_7" onclick="selCheckBox(7)" value="Trade License Registration" />
												</label>
											</div>
										</div>
										<div class="col-md-11">
											<div class="checkbox">
												<label>Trade License Registration&nbsp;<br><span class="for-bold">Rs.5999/-</span>
												</label>
											</div>
										</div>
										<div class="col-md-1" data-attr="FSSAI License Registration">
											<div class="checkbox">
												<label>
													<input type="checkbox" name='contact_request[message][]'  id="chk_8" onclick="selCheckBox(8)" value="FSSAI License Registration" / />
												</label>
											</div>
										</div>
										<div class="col-md-11">
											<div class="checkbox">
												<label>FSSAI License Registration&nbsp;<br><span class="for-bold">Rs.3999/-</span>
												</label>
											</div>
										</div>
										<div class="col-md-1" data-attr="Import Export Code (IEC)">
											<div class="checkbox">
												<label>
													<input type="checkbox" name='contact_request[message][]' id="chk_9" onclick="selCheckBox(9)" value="Import Export Code (IEC)" />
												</label>
											</div>
										</div>
										<div class="col-md-11">
											<div class="checkbox">
												<label>Import Export Code (IEC)&nbsp;<br><span class="for-bold">Rs.3999/-</span>
												</label>
											</div>
										</div>
										<div class="col-md-12">
											<div class="order-button pull-right">
												<a>
													<button type="button" class="btn btn-default order-now">Proceed</button>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12 tab-pane" id="startup" style="padding: 0;">
									<div class="row">
										<div class="col-md-6">
											<div class="row">
												<div class="col-md-1">
													<div class="radio">
														<label>
															<input type="radio" id="chk_10" data-attr="6499" onclick="selCheckBox1(10)" name="package" value="package-1" />
														</label>
													</div>
												</div>
												<div class="col-md-11">
													<div class="radio">
														<label>Package 1&nbsp;<br><span class="for-bold">Rs.6499/-</span>
														</label>
													</div>
												</div>
											</div>
											<div class="row for-package">
												<div class="col-md-12">
													<ol>
														<li>PAN</li>
														<li>TAN</li>
														<li>GST Registration</li>
														<li>Professional Tax Enrolment</li>
														<li>Shop & Establishment</li>
													</ol>
												</div>
											</div>    
										</div>
										<div class="col-md-6">
											<div class="row">
												<div class="col-md-1">
													<div class="radio">
														<label>
															<input type="radio" id="chk_11" data-attr="12499" onclick="selCheckBox1(11)" name="package"  value="package-2" />
														</label>
													</div>
												</div>
												<div class="col-md-11">
													<div class="radio">
														<label>Package 2 &nbsp;<br><span class="for-bold">Rs.12499/-</span>
														</label>
													</div>
												</div>
											</div>
											<div class="row for-package">
												<div class="col-md-12">
													<ol>
														<li>PAN</li>
														<li>TAN</li>
														<li>GST Registration</li>
														<li>Professional Tax Enrolment</li>
														<li>Shop & Establishment</li>
														<li>Trade License</li>
													</ol>
												</div>
											</div>    
										</div>
									</div>
									<div class="row for-spacing">
										<div class="col-md-6">
											<div class="row">
												<div class="col-md-1">
													<div class="radio">
														<label>
															<input type="radio" id="chk_12" data-attr="9999" onclick="selCheckBox1(12)" name="package" value="package-3" />
														</label>
													</div>
												</div>
												<div class="col-md-11">
													<div class="radio">
														<label>Package 3 &nbsp;<br><span class="for-bold">Rs.9999/-</span>
														</label>
													</div>
												</div>
											</div>
											<div class="row for-package">
												<div class="col-md-12">
													<ol>
														<li>PAN</li>
														<li>TAN</li>
														<li>GST Registration</li>
														<li>Professional Tax Enrolment</li>
														<li>Shop & Establishment</li>
														<li>FSSAI</li>
													</ol>
												</div>
											</div>    
										</div>
										<div class="col-md-6">
											<div class="row">
												<div class="col-md-1">
													<div class="radio">
														<label>
															<input type="radio" id="chk_13" data-attr='12999' onclick="selCheckBox1(13)" name="package" value="package-4" />
														</label>
													</div>
												</div>
												<div class="col-md-11">
													<div class="radio">
														<label>Package 4&nbsp;<br><span class="for-bold">Rs.12999/-</span>
														</label>
													</div>
												</div>
											</div>
											<div class="row for-package">
												<div class="col-md-12">
													<ol>
														<li>PAN</li>
														<li>TAN</li>
														<li>GST Registration</li>
														<li>Professional Tax Enrolment</li>
														<li>Shop & Establishment</li>
														<li>Import Export Code</li>
													</ol>
												</div>
											</div>    
										</div>
									</div>
									<div class="row">
										<div class="order-button-1 pull-right">
											<a>
												<button type="button" class="btn btn-default order-now-1">Proceed</button>
											</a>
										</div>
									</div>
								</div>	
							</div>
							
							<p class="for-para-below"><sup>*</sup>Government Fees and stamp duty amount additional</p>
						</div>	
					</div>
					<div class="col-md-6 for-enquiry" style="display:none;">
						<h1 id="close" class="pull-right close_enquiry1" style="margin-top:0; margin-bottom:0;">X</h1>
						<div>
							<h2 class="quick_txt1">You have selected</h2>
						</div>
						<div class="for-selected" style="display:block;">
							<ol id="for-remove">
								
							</ol>
						</div>
						<h4 class="quick_txt1">Please provide your contact details</h4>
						<%= form_tag('/contact_requests', remote: true, type: :post, :onSubmit => 'formHide()',:class=> 'contact_form license-quote') do |f| %>
							<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
							<input type="hidden" name="contact_request[request_type]" value="Campaign-Registration">
							<div class="row">
								<div class="col-md-6">
									<!-- <div class="form-group">
										<div class="for-selected" style="display:block;">
											<ol id="for-remove">
											</ol>
										</div>
									</div> -->
									<div class="form-group">
										<input type="text" class="input_style2" pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" title="Type only characters"  name="contact_request[name]" id="name" placeholder="Name" required>
									</div>
									<div class="form-group">
										<input type="email" title="Eg: some@mail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="contact_request[email]"  class="input_style2" id="email" placeholder="Email" required>
									</div>  
									<div class="form-group">
										<input type="mobile" maxlength="10" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" title="Enter 10 digit Valid Mobile Number" name="contact_request[phone]" class="input_style2" id="mobile" placeholder="Mobile" required>
									</div>
									<input type="hidden" name='contact_request[message]' id='license-quote-msg' >
									<button type="submit" class="send-btn1 licence-enq-btn">Send</button>
								</div>
							</div>
						<% end %>
						<div class='thanks licence-enq-thanks' style="display:none"> 
							Thank You for contacting us. We will get back to you shortly.
						</div>
					</div>
					<div class="col-md-6 for-enquiry-1" style="display:none;">
						<h1 id="close" class="pull-right close_enquiry1" style="margin-top:0; margin-bottom:0;">X</h1>
						<div>
							<h2 class="quick_txt1">You have selected</h2>
						</div>
						
						<h4 class="quick_txt1">Please provide your contact details</h4>
						<%= form_tag('/campaign_order',:name => 'd-form', multipart: true, :class => 'document-form', :id => "question_form") do |f| %>
							<%= hidden_field_tag 'user_id',nil, value: current_user %>
							<%= hidden_field_tag 'service_id',nil, value: @service.id %>
							<%= hidden_field_tag 'document_id',nil, value: @document.id %>
							<%= hidden_field_tag 'product',nil, value: nil  %>
							<%= hidden_field_tag 'total_amount',nil, value: nil  %>
							<%= hidden_field_tag 'answer[44]',nil, value: 'Campaign'  %>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<div class="for-selected-1" style="display:block;">
											<ol id="for-remove">
											</ol>
										</div>
									</div>
									<div class="form-group">
										<input type="text" class="input_style2" pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" title="Type only characters"  name="name" id="name" placeholder="Name" required>
									</div>
									<div class="form-group">
										<input type="email" title="Eg: some@mail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email"  class="input_style2" id="email" placeholder="Email" required>
									</div>  
									<div class="form-group">
										<input type="mobile" maxlength="10" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" title="Enter 10 digit Valid Mobile Number" name="mobile" class="input_style2" id="mobile" placeholder="Mobile" required>
									</div>
									<button type="submit" class="send-btn1">Pay</button>
								</div>
								<!-- <div class="col-md-6">
									<div class="form-group">
										<textarea class="input_style2" name="contact_request[message]" id="message1" placeholder="What are you looking for?" rows="4" cols="40" required></textarea>
									</div>
									<button type="submit" class="send-btn1">Send</button>
								</div> -->
							</div>
						<% end %>
					</div>
				</div>	
			</div>
			<div class="section_padding media_sec">
				<h4 class="head_bg">MEDIA</h4>
				<div class="row bg_wrap">
					<div class="col-md-6">
						<h3 class="media_subhead">MEDIA</h3>
						<h5 class="media_txt">Learn everything about Docket Tech and our team behind its success since its inception through latest mentions on various online media channels.</h5>
						<div class="media_icon">
							<div class="row">
								<div class="col-md-4">
									<img src="/assets/company_registration/media/inc42.png" style="width:90%;min-width:50%;margin-bottom:10%;" class="pull-left" alt="">
								</div>
								<div class="col-md-4">
									<img src="/assets/company_registration/media/iamwire.png" style="width:90%;min-width:50%;margin-bottom:10%;" class="pull-left" alt="">
								</div>
								<div class="col-md-4">
									<img src="/assets/company_registration/media/vccircle.png" style="width:90%;min-width:50%;margin-bottom:10%;" class="pull-left" alt="">
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<img src="/assets/company_registration/media/indaianexprss.png" style="width:90%;min-width:50%;margin-bottom:10%;" class="pull-left" alt="">
								</div>
								<div class="col-md-6">
									<img src="/assets/company_registration/media/telegraph.png" style="width:90%;min-width:50%;margin-bottom:10%;" class="pull-left" alt="">
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<img src="/assets/company_registration/media/yourstory.png" style="width:90%;min-width:50%;margin-bottom:10%;" class="pull-left" alt="">
								</div>
								<div class="col-md-4">
									<img src="/assets/company_registration/media/bangaloremirror.png" style="width:90%;min-width:50%;margin-bottom:10%;" class="pull-left" alt="">
								</div>
								<div class="col-md-4">
									<img src="/assets/company_registration/media/techstartup.png" style="width:90%;min-width:50%;margin-bottom:10%;" class="pull-left" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<img src="/assets/company_registration/camera.jpg" style="width:99%" class="camera" alt="">
					</div>
				</div>
			</div>
			<div class="section_padding footer">
				<div class="row bg_wrap">
					<div class="col-md-6">
						<div class="row testimonial_wrap">
							<h3 class="media_subhead">TESTIMONIAL</h3>
							<div class="col-md-12 for-carousel">
								<div id="owl-demo" class="owl-carousel owl-theme">
									<div class="item">
										<!-- <img src="/assets/company_registration/testimonial_icon.png" class="test_icon" alt="testimonial-icon"> -->
										<div class="friend_wrap">
											<img src="/assets/company_registration/friends.png" class="friend_icon" alt="friends">
										</div>
										<h4>Paul Art</h4></br>
										<p class="para_wrap">
											I am a home owner in Bangalore who was at my wit&#39;s end when I discovered Docket Tech.
											They helped me enormously to print my lease agreement on stamp paper, get it to the tenant, get it signed and notarized and then send it to me here in America. Previously I used to beg a lawyer to do this and it normally took about 15 phone calls and emails. Great job Docket!
										</p>
									</div>
									<div class="item">
										<!-- <img src="/assets/company_registration/testimonial_icon.png" class="test_icon" alt="testimonial-icon"> -->
										<div class="friend_wrap">
											<img src="/assets/company_registration/friends.png" class="friend_icon" alt="friends">
										</div>
										<h4>Khan Imran</h4></br>
										<p class="para_wrap">
											An excellent platform to get all professional documents delivered at your door step!!! Thus making Corporate life easier.. Kudos to the founder & his team.
										</p>
									</div>
									<div class="item">
										<!-- <img src="/assets/company_registration/testimonial_icon.png" class="test_icon" alt="testimonial-icon"> -->
										<div class="friend_wrap">
											<img src="/assets/company_registration/friends.png" class="friend_icon" alt="friends">
										</div>
										<h4>Yaseen M</h4></br>
										<p class="para_wrap">
											Thank you very much for processing my documents in time. In fact it was super quick!
											Professional response and work quality. Thanks again!
										</p>
									</div>
									<div class="item">
										<!-- <img src="/assets/company_registration/testimonial_icon.png" class="test_icon" alt="testimonial-icon"> -->
										<div class="friend_wrap">
											<img src="/assets/company_registration/friends.png" class="friend_icon" alt="friends">
										</div>
										<h4>Monish. N</h4></br>
										<p class="para_wrap">
											Docket team is very well organized. They helped in all the aspects of our Queries. Wish them all
											success.
										</p>
									</div>
									<div class="item">
										<!-- <img src="/assets/company_registration/testimonial_icon.png" class="test_icon" alt="testimonial-icon"> -->
										<div class="friend_wrap">
											<img src="/assets/company_registration/friends.png" class="friend_icon" alt="friends">
										</div>
										<h4>Sriram V Iyer</h4></br>
										<p class="para_wrap">
											Wow. That was fast.<br>
											want to congratulate DOCKET on buliding a fantastic and responsive team.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row footer_wrap">
							<div class="col-sm-12 col-md-12 col-lg-12 foot_cont">
								<h3><a href="http://www.dockettech.com/">DOCKET TECH SOLUTIONS PRIVATE LIMITED</a></h3>
								<p>
									Founded in 2015 by Managing Director Nandish Domlur, Amit Sandill as CEO and Co-founded by Aditya Pratap and Prashanth Narayanaswamy, Docket has grown organically and now comprises of a strong team of
									Developers, Professionals and Operations' personnel.<br><br>
									We're a close-knit group of experts who pride ourselves in doing great work and providing great service at a fair price.
									What do you really need to know about us? We're friendly, approachable experts, with lots of experience in
									documentation and we strive hard to make it better for you. Please do give us a call. We'd consider it a pleasure to talk
									you about how we could be of your service.
								</p>
							</div>
							<div class="hr-line col-sm-12 col-md-12 col-lg-12">
								<hr class="contact_hr"> 
								<div class="row">
									<div class="col-md-4">
										<h4 class="footer_txt">CONTACT</h4><br>
										<address>
											DOCKET TECH SOLUTIONS PRIVATE LIMITED<br>
											Mayur Tower, #10, <br>
					                    	1st Floor, 3rd Main Rd, <br>
					                    	Ashwini Layout, Ejipura, <br>
					                    	Bangalore - 560047, <br>
					                    	Karnataka, India
                    						<br>
											<i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&plus;91-81-0537 7103<br><br>
											<!-- <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&plus;91-80-4656 4656<br><br> -->
											<i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;sales@dockettech.com
										</address>
									</div>
									<div class="col-md-8">
										<h4 class="footer_txt">SERVICES</h4><br>
										<ul class="services_wrap">
											<li><a href="/in/agreement">Agreements</a></li>
											<li><a href="/in/affidavit">Affidavits</a></li>
											<li><a href="/in/bond">Bonds</a></li>
											<li><a href="/in/deed">Deeds</a></li>
										</ul>
										<ul class="services_wrap">
											<li><a href="/in/notary">Notary</a></li>
											<li><a href="/in/e-stamp">E-stamp</a></li>
											<li><a href="/in/attestation">Attestation</a></li>
											<li><a href="/in/franking">Franking</a></li>
										</ul>
										<ul class="services_wrap">
											<li><a href="/in/startup">Registration</a></li>
											<li><a href="/in/marketplace">Licenses</a></li>
											<li><a href="/in/property">Property</a></li>
											<li><a href="/in/paperwork">Paperwork</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-12">
								<hr class="contact_hr">
								<div class="row">
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-7">
												<h4 class="follow_text">FOLLOW US</h4>
											</div>
											<div class="col-md-5">
												<ul class="social_list">
													<a href="https://www.facebook.com/pages/Docket-Tech-Solutions-Private-	Limited/503043613211567">
														<li><%= image_tag "#{@base_url}/assets/social/facebook.png", :style => "border-radius: 100%;", :alt => "facebook" %></li>
													</a>
													<a href="https://twitter.com/dockettech">
														<li>
															<%= image_tag "#{@base_url}/assets/social/twitter.png", :style => "border-radius: 100%;", :alt => "twitter" %>
														</li>
													</a>
													<a href="https://plus.google.com/u/0/104833829409330467550/posts">
														<li>
															<%= image_tag "#{@base_url}/assets/social/googlef.png", :style => "border-radius: 100%;", :alt => "googleplus" %>
														</li>
													</a>
												</ul>													
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<ul class="list_links pull-right">
											<li><a href="http://www.dockettech.com/privacy">Privacy</a></li>
											<li><a href="http://www.dockettech.com/terms">Terms</a></li>
											<li><a href="http://www.dockettech.com/disclaimer">Disclaimer</a></li>
											<li><a href="http://www.dockettech.com/contact-us">Contact</a></li>
										</ul>
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>
				<h5>DOCKET TECH SOLUTIONS PVT. LTD. 2015. All rights reserved</h5>	
			</div>
		</div>
		<%= render partial: 'home/google_code' %>
		<%= javascript_include_tag 'campaign' %>
		<script>
			$(document).ready(function (){
				$('.company-registration .enquiry').bind('click', function(e){
					$('.logo').hide();
					$('.city_wrap').hide();
					$('.cust_enquire').show().slideDown();
				})
				$('.order-now').bind('click', function(){
					$('.for-info').hide();
					$('.for-enquiry').show();
					$('.for-selected').show();
				})
				$('.order-now-1').bind('click', function(){
					$('.for-info').hide();
					$('.for-enquiry').hide();
					$('.for-enquiry-1').show();
					$('.for-selected').show();
				})
				$('.close_enquiry1').bind('click', function(){
					$('.for-enquiry').hide();
					$('.for-enquiry-1').hide();
					$('.for-info').show();
					$('#for-remove').html("");
					$('#license input:checkbox').attr('checked',false);
					$('#startup input:radio').attr('checked',false);
				})
				$('.close_enquiry').bind('click', function(){
					$('.cust_enquire').hide();
					$('.logo').show();
					$('.city_wrap').show();
				})
				// $(".startup").mouseover(function(){
			 //        $(".licenses").css("background-color", "#fff");
			 //        $(".licenses").css("color", "#cc51a5");
			 //        $(this).css("background-color", "#cc51a5");
			 //        $(this).css("color","#fff");
			 //    });
			 //    $(".startup").mouseout(function(){
			 //        $(".licenses").css("background-color", "#cc51a5");
			 //        $(".licenses").css("color", "#fff");
			 //        $(this).css("background-color", "#fff");
			 //        $(this).css("color","#cc51a5");
			 //    });
				$("#owl-demo").owlCarousel({
					navigation : false,
					slideSpeed : 600,
					paginationSpeed : 800,
					autoPlay : 5000,
					singleItem:true
				});
				// $('.tab-menu a').hover(function (e) {
				// e.preventDefault()
				// $(this).tab('show')
				// })
				 $("input[name='terms_condition']").on("change", function(){
					var isChecked = $(this).prop("checked"); 
					if(isChecked){
						$(".pay_btn").show(); 
					} else {
						$(".pay_btn").hide(); 
					}
				}); 
				$('#continue').bind('click', function(){
					if($('.input_style').val().length == 0){
						setNotification('error', "Min stamp amount Rs 100");
					}
					else{
						$('.contact_frm').show();
						$('.company_frm').hide();
					}
				})
				$(window).scroll(function(){
					if ($(window).scrollTop() >= 600) {
					   $('nav').addClass('fixed-header');
					   $('.logotwo').show();
					   
					}
					else {
					   $('nav').removeClass('fixed-header');
					   $('.logotwo').hide();
					   
					}
				});
				registration = {
					'1' : {
						name: 'PRIVATE LIMITED COMPANY',
						price: '6999',
						description: 'A default option for startups and scalable businesses. Requires minimum two directors and can have a maximum of 50 shareholders. Turn around time of 7 business days or less.',
						image_url: '<%= @base_url %>/assets/company_registration/register/pvt_bg.jpg'
					},
					'2' : {
						name: 'LIMITED LIABILITY PARTNERSHIP',
						price: '5999',
						description: 'As the name suggests, LLP allows the scope to have limited liability. Minimum 2 directors required. Turn around time of 7 business days for incorporation.',
						image_url: '<%= @base_url %>/assets/company_registration/register/llp_bg.jpg'
					},
					'3' : {
						name: 'ONE PERSON COMPANY',
						price: '5999',
						description: 'Requires only 1 Director, a solo entrepreneur. Turn around time of 7 business days or less.',
						image_url: '<%= @base_url %>/assets/company_registration/register/opc_bg.jpg'
					},
					'4' :{
						name: 'PARTNERSHIP FIRM',
						price: '4999',
						description: 'Partners (owners) share with each other the profits or losses of the business undertaking in which all have invested. Turn around time of 8-10 business days.',
						image_url: '<%= @base_url %>/assets/company_registration/register/partnership_bg.jpg'
					},
					'5' : {
						name: 'PROPRIETORSHIP FIRM',
						price: '2999',
						description: 'Partners (owners) share with each other the profits or losses of the business undertaking in which all have invested. Turn around time of 8-10 business days.',
						image_url: '<%= @base_url %>/assets/company_registration/register/sole_bg.jpg'
					}
				}
				$('.choose-type').bind('click', function(e){ 
					type = $(this).attr( "data-attr" );
					total_amount = parseInt(registration[type]['price'])
					gst = parseInt(registration[type]['price']) * 0.09 ;
					final_amount = (total_amount + gst*2);
					$('.doc_name').html(registration[type]['name']);
					$('#product').val(registration[type]['name']);
					$('.doc_decp').html(registration[type]['description']);
					$('.doc_price').html(final_amount);
					$('#total_amount').val(registration[type]['price']);
					$('#doc_image').attr('src',registration[type]['image_url']);
					$('#private_ltd').show();
					$('.static_question').hide();
				})
				$("#order_now, #register_nowfrm").click(function() {
					$('html, body').animate({
						scrollTop: $("#business_frm").offset().top
					}, 2000);
				});
				$("#learn, #bsns_start").click(function() {
					$('html, body').animate({
						scrollTop: $("#start_bsns").offset().top
					}, 2000);
				});
				$("#pacakage_license").click(function() {
					$('html, body').animate({
						scrollTop: $("#license_package").offset().top
					}, 2000);
				});
				$('.expert_btn').bind('click', function(){
					$('html, body').animate({
						scrollTop: 0
					}, 2000);
					$('.enquiry').trigger('click');
					// $('.start_expert').hide();
					// $('.expert_enquire').show();
				})
				$('.expert_close').bind('click', function(){
					$('.start_expert').show();
					$('.expert_enquire').hide();
				})
				$('#document_required').bind('click', function(){
					$('nav').hide();
					$('.documents_query').show();
				})
				$('.documents_close').bind('click', function(){
					$('nav').show();
					$('.documents_query').hide();
				})
				// $('#nav_procedure').bind('click', function(){
				// 	$('nav').hide();
				// 	$('.procedure_query').show();
				// })
				// $('.procedure_close').bind('click', function(){
				// 	$('nav').show();
				// 	$('.procedure_query').hide();
				// })
				$('.startup').on('click', function(){
				$(this).removeClass('startup').addClass('startup-1');
				$('.licenses').removeClass('licenses').addClass('licenses-1');
				});
				$('.licenses').on('click', function(){
				$(this).removeClass('licenses-1').addClass('licenses');
				$('.startup-1').removeClass('startup-1').addClass('startup');
				});
			})
			function selCheckBox(id) {
				if($("#chk_"+id).is(":checked")){
					var val = $("#chk_"+id).parent().parent().parent().next().children().children().text();
					total_amount = parseInt(val);
					gst = total_amount * 0.09;
					$(".for-selected ol").append("<li>"+val+"</li>");
				}
				var str = '';
				$(".tab-pane input:checked").each(function(){
					str += this.value + ',';
				})
				$('.license-quote #license-quote-msg').val(str);
			}
			function selCheckBox1(id) {
				if($("#chk_"+id).is(":checked")){
					var val = $("#chk_"+id).parent().parent().parent().next().children().children().text();
					$(".for-selected-1 ol").html("<li>"+val+"</li>");
				}
				$('.for-enquiry-1 form #product').val($("#chk_"+id).val());
				$('.for-enquiry-1 form #total_amount').val($("#chk_"+id).attr('data-attr'));
			}
			$('.licence-enq-btn').on('click', function(){
				$('.licence-enq-thanks').show();
			})
		</script>
		<%= render partial: 'home/chat_client' %>
	</body>
</html>
