<div class="container-fluid section_padd contact_us">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center style">Contact Us</h1>
        <hr class="contact_hr">
          <%= form_tag('/contact_requests', remote: true, type: :post, :onSubmit => 'formHide()',:class=> 'contact_form') do |f| %>
            <input type="hidden" name="contact_request[request_type]" placeholder="Name" value="contact">
              <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label" for="name">Your Full Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="input_style"  name="contact_request[name]"   id="name" placeholder="" required>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                          <label class="control-label" for="email">Email</label>
                    </div>
                    <div class="col-md-8">
                        <input type="email" name="contact_request[email]"  class="input_style" id="email" placeholder="" required>
                    </div>
                </div>
              </div>  
              <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label" name="contact_request[phone]" for="mobile">Mobile</label>
                    </div>
                    <div class="col-md-8">
                        <input type="mobile" name="contact_request[phone]" class="input_style" id="mobile" placeholder="" required>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label" for="message">Message</label>
                    </div>
                    <div class="col-md-8">
                        <textarea class="input_style" name="contact_request[message]" id="message" placeholder="Message" rows="4" cols="40" required></textarea>
                    </div>
                </div>
              </div>
              <button type="submit" class="send-btn">Send</button>
          <% end %> 
      </div>
    </div>
    
    <div class="row clearfix border_style">
        <div class="col-md-6" >
          <div  class="style_div"><!-- <span>Business Devlopment </span> --><br>
            <!-- <span class="color_text"><a href="mailto:sales@dockettech.com"> sales@dockettech.com</a></span><br><br> -->
              For Queries<br>
            <span class="color_text"><a href="mailto:support@dockettech.com"> support@dockettech.com</a></span>
          </div>
        </div>
        <div class="col-md-6" >
          <div  class="style_div"><!-- <span>Queries</span> --><br>
            <!-- <span class="color_text"><a href="mailto:press@dockettech.com"> support@dockettech.com</a></span><br><br> -->
              Billing, and Tech Support<br>
            <span class="color_text"><a href="mailto:support@dockettech.com"> support@dockettech.com</a></span>
          </div>
        </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-6 style_div1 ">
        <h4><b>Docket Tech Solutions Private Limited<b></h4>
        Mayur Tower, #10, <br>
        1st Floor, 3rd Main Rd, <br>
        Ashwini Layout, Ejipura, <br>
        Bangalore - 560047, <br>
                      
      </div>  
      <div class="col-md-6 style_div1">
        <br><br>
        Tel: +91-81-0537 7103<br>
        <!-- Tel: +91-80-4656 4656<br> -->
        Email: <span class="color_text"><a href="mailto:support@dockettech.com">sales@dockettech.com</a></span>
      </div>  
    </div>
    <div class='thanks' style="display:none"> 
      Thank You for contacting us. We will get back to you shortly.
    </div>
</div>

<script>
  function formHide(){
    $('.contact_form').hide('fast');
    $('.thanks').show('slow');
    setNotification('success', "We will get back to you shortly!")
  };
</script>
</div>