<div class="container-fluid section_padd disclaimer">
    <h1 class="text-center style"><b> DISCLAIMER </b></h1>
    <hr class="privacy_hr">
    <p>
      DOCKET IS NOT A LAW FIRM AND/OR A CHARTERED ACCOUNTANCY AND/OR A COMPANY SECRETARY FIRM OR RUN BY ANY ADVOCATE OR CHARTERED ACCOUNTANT OR COMPANY SECRETARY AND DOES NOT PROVIDE ANY LEGAL ADVICE/SERVICE/ACCOUNTING AND AUDITING SERVICE AND USERS OF THIS WEB SITE SHOULD CONSULT WITH THEIR OWN ADVOCATE/LAWYER/CHARTERED ACCOUNTANT/COMPANY SECRETARY FOR ADVICE.
    </p>
    <p>
      This web site (the “Site”) is a general service that provides legal information and drafts over the Internet. The users of the services provided in this Site herein, are agreeing to comply with and be bound by the terms and conditions relating to its use. We are not an Advocate/s or a law firm or a chartered accountancy firm and our employees are not acting as your advocate/attorney/accountant/company secretary. The information contained in the Site is general legal information and should not be construed as legal advice to be applied to any specific factual situation. If you are unsure whether your particular situation requires that a document be changed, you should consult a lawyer. Any use of the Site DOES NOT create or constitute a solicitor-client relationship between DOCKET or any employee of or other person associated with DOCKET and a user of the Site. As the law differs in each legal jurisdiction and may be interpreted or applied differently depending on your location or situation, the information or use of documents on the Site is not a substitute for the advice of a lawyer.
    </p>
    <p>
      DOCKET does not endorse or recommend any attorney nor does it make any warranty as to the qualifications or competency of any attorney. Any guarantee on the Site is subject to our Terms and Conditions. For the most part, our Terms of Use specify that there is no guarantee or warranty and that we are not responsible for any loss, injury, claim, liability, or damage (“damages”) related to your use of the Site, whether from errors or omissions in the content of the Site or any other linked sites. We are not responsible for any damages from the Site being inaccessible to the user and use of the Site is at your own risk. While we have worked to make our Site and all the features on our Site compatible with the most commonly used browsers, we cannot represent or guarantee that every feature will work with your browser.
    </p>
    <p>
      DOCKET does not endorse any content/service/advise provided by any linked sites, nor does it assume any responsibility for the interpretation or application of any information originating from such content. In addition, DOCKET does not endorse any content contained in any advertising on the Site, nor does it assume any responsibility for the quality or integrity of such work. Use of our Site is governed by our Terms of Use; refer to this document for more information.

    </p>
</div>


    