<div class="row">
	<div class="col-md-2-offset col-md-10 body-wrapper">
		<div class="row clearfix">
			<div class="col-md-12">
				<ul class="sort-wrapper">
					<li>
						<a href="/dvault"><button class="back_btn">Go Back</button></a>
					</li>
					<li>
						<div class="buttons">
							<button class="grid" title="Grid View"><%= image_tag  'thumb.png' %></button>
							<button class="list active" title="List View"><i class="fa fa-bars"></i></button>
						</div>
					</li>
					<!-- <li class="dropdown list-sort">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag  'rename.png' %>&nbsp;&nbsp;<i class="fa icon-fa fa-angle-down drop-angle"></i></a>
						<ul class="dropdown-menu">
							<li><a href="#">Name</a></li>
							<li><a href="#">File Size</a></li>
							<li><a href="#">Date Added</a></li>
						</ul>
					</li> -->
					<li>
						<h2 class="text-center category-head">
							<%= @category.name %> Documents
							<span class="border_style"></span>
						</h2>
					</li>
					<li>
						<div class="btn"></div>
						<div class="icon-bg">
							<div class="icon"></div>
							<div class="upload_doc_wrapper text-center"  data-toggle="modal" data-target="#uploadFile">
								<%= image_tag 'upload-doc.png', :class => "image_upload" %> <p class="upload_txt">Upload Document</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="row clearfix"> 
			<div class="col-md-12">
				<div class="tab-content card">
					<div role="tabpanel" class="tab-pane active" id="home">
						<div class="container-wrapper scroll-style">
							<% if @files.length > 0 %>
								<ul class="list dvault-files">
									<% @files.each do |file| %>
										<li class='file-<%= file.id %>'>
											<div class="checkbox">
												<label class="checkbox_style">
													<input type="checkbox" class="checkboxes" data-atr="<%= file.id %>" value=""> &nbsp;&nbsp;&nbsp;
												</label>
												<div class="option_wrapper">
													<!-- <div class="edit">
														<i class="fa fa-pencil-square-o fa_styling"></i>
														<input type="hidden" name='user_id' value='<%= current_user %>'>
														<input type="hidden" name='file_id' value='<%= file.id %>'>
														<input type="hidden" name='category_id' value='<%= @category.id %>'>
													</div>
													<div class="delete">
														<i class="fa fa-trash-o fa_styling"></i>
														<input type="hidden" name='user_id' value='<%= current_user %>'>
														<input type="hidden" name='file_id' value='<%= file.id %>'>
														<input type="hidden" name='category_id' value='<%= @category.id %>'>
													</div> -->
												</div>
												<div class="doc_wrapper">
													<div class="<%= file.mime_type %>"></div>
													<div style="width:100px;"><%= file.filename %></div>
													<div style="width:100px;"><%= file.size %> Bytes</div>
													<div style="width:100px;"><%= file.created_at.strftime('%d-%m-%Y') %></div>
														
													<a target="blank" href="<%= file.vault_uid %>">
														<div class="print-wrapper">
															<i class="fa fa-download fa-1x"> &nbsp;&nbsp;Download</i>
														</div>
													</a>
												</div>
											</div>
										</li>
									<% end %>
								</ul>
							<% else %>
								<div class="dvault_blank center-block">
									<%= image_tag 'dvault_blank_page.png' %>
									<h4>Now store all your documents, images and other relevant files securely online. </h4>
									<h5 class="text-center"> Retrieve your documents anytime anywhere.</h5 class="text-center">
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row clearfix">
			<div class="col-md-12">
				<div class="dvault footer-layout">
					<div class="checkbox chk-box">
						<label>
							<input id="select_all" type="checkbox" value="">
							Select all documents
						</label>
					</div>
					<!-- <div class="zip-doc">
						Export as Zip	<i class="fa fa-caret-down"></i>
					</div> -->
					<div class="mail_wrapper" data-toggle="modal" data-target="#emailConfirm">
						Send &nbsp;&nbsp;<i class="fa fa-envelope-o"></i>
					</div>
					<div class="delete_wrapper" data-toggle="modal" data-target="#deleteConfirm">
						Delete File &nbsp;&nbsp;<i class="fa fa-trash-o"></i>
					</div>
				</div>
			</div>
		</div>
		<%= render 'sticky_dvault' %>
	</div>
</div>
<%= render 'delete_confirm' %>
<%= render 'email_popup' %>
<div id="delete-confirm"></div>
<%= render 'home/upload_doc' %>
<script>
	$(document).ready(function() {
		$('.dvault.footer-layout').hide();
		$("#uploadBtn").on('change',function () {
			document.getElementById("uploadFile").value = this.value;
		});
		$('button').on('click',function(e) {
			if ($(this).hasClass('grid')) {
				$('.container-wrapper ul').removeClass('list').addClass('grid');
				$('.grid').addClass('active');
				$('.list').removeClass('active');
			}
			else if($(this).hasClass('list')) {
				$('.container-wrapper ul').removeClass('grid').addClass('list')
				$('.list').addClass('active');
				$('.grid').removeClass('active');
			}
		});
		$(".button").click(function(){
		  $(".button-overlay").toggleClass("active");
		});

		$(".iconmelon").click(function(){
		  $(".box-upload-ing").toggleClass("active");
		  $(".iconmelon-loaded").toggleClass("active");
		});

		$(".private").click(function(){
		  $(".private-overlay").addClass("active");
		  $(".private-overlay-wave").addClass("active");
		});
		$('.dvault-files .edit').on('click', function(e) {
			$.ajax({
				type: 'post',
				url: '/file_edit',
				data: $(this).find('input').serialize()
			}).done(function (data, textStatus, jqXHR) {
				console.log('here');
			}).fail(function (jqXHR, textStatus, errorThrown) {
				setNotification('error', 'Unknown Error. Try Again');
			});
		});
		// $('.dvault-files .delete').on('click', function(e) {
		// 	confirmDelete(e)
		// });
		$('#select_all').bind('click',function(e){
 	        if(this.checked){
	            $('.checkboxes').each(function(){
	                this.checked = true;
	            });
	        }else{
	             $('.checkboxes').each(function(){
	                this.checked = false;
	            });
	            $('.dvault.footer-layout').hide()
	        }
	    });
	    $('.checkboxes').bind('click',function(){
	        if($('.checkboxes:checked').length > 0){
	        	$('.dvault.footer-layout').show()
	        }
	        else{
	        	$('.dvault.footer-layout').hide()
	        }
	        if($('.checkboxes:checked').length == $('.checkboxes').length){
	            $('#select_all').prop('checked',true);
	        }else{
	            $('#select_all').prop('checked',false);
	        }
	    });
	    function checkboxArray(){
	    	var attr = []
			$('.dvault-files input.checkboxes:checked').each(function(n,m){
				attr.push(m.dataset['atr']);
			})
			return attr;
	    }
	    $('.delete-confirmation').on('click', function(e) {
			if ($("#deleteConfirm input[type='radio']:checked").val() == 'yes'){
				attr = checkboxArray();
				$.ajax({
					type: 'post',
					url: '/file_delete',
					data: 'file_ids='+attr+'&user_id='+"<%= current_user%>"
				}).success(function (data, textStatus, jqXHR) {
					$(attr).each(function(a,n){
						$('.file-'+n).remove()
					})
					setNotification('success', 'File Has Been Deleted Permanently');
				}).fail(function (jqXHR, textStatus, errorThrown) {
					setNotification('error', 'Server Error. Try Again');
				});
			}
			$('#deleteConfirm').modal('toggle');
		});
		$('.email-confirmation').on('click', function(e) {
			attr = checkboxArray();
			$.ajax({
				type: 'post',
				url: '/file_email',
				data: 'file_ids='+attr+'&user_id='+"<%= current_user%>"+"&email="+$('#file_email').val()
			}).success(function (data, textStatus, jqXHR) {
				setNotification('success', 'File Emailed to the recipient');
			}).fail(function (jqXHR, textStatus, errorThrown) {
				setNotification('error', 'Server Error. Try Again');
			});
			$('#emailConfirm').modal('toggle');
		});
		$('.zip-doc').on('click', function(e) {
			attr = checkboxArray();
			$.ajax({
				type: 'post',
				url: '/file_zip',
				data: 'file_ids='+attr+'&user_id='+"<%= current_user%>"
			}).success(function (data, textStatus, jqXHR) {
				setNotification('success', 'File Has Been Deleted Permanently');
			}).fail(function (jqXHR, textStatus, errorThrown) {
				setNotification('error', 'Server Error. Try Again');
			});
		});
	});
</script>