<div class="row">
	<div class="col-md-2-offset col-md-10 body-wrapper">
		<div class="row clearfix">
			<div class="col-md-12">
				<div class='circle-container'>
					<% n = 0 %>
					<% @categories.each do |category| %>
						<a href='/dvault/<%= category.name.downcase %>' class='deg<%= n*45 %>'>
							<%= image_tag  "vault/#{category.name.downcase}.png" %> 
							<p><%= category.name %></p>
							<% n += 1 %>
						</a>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
