<% if current_user && @current_user.dvault %>
	<div class="row dvault-login-check">
		<div class="col-md-2-offset col-md-10 body-wrapper">
			<div class="row clearfix">
			<!-- <div class="col-md-6">
				<div class="content_style">
					<%#= image_tag 'dvault_icon_bg.png' %>
					<h1 class="sub-headclr">D-Vault</h1>
					<h4 class="tag-content">YOUR DOCUMENTS ARE SECURED</h4>
				</div>
					<p class="vault_txt">This is a unique and one-of-a-kind service rendered by Docket, with a provision to safely store all your documents in a single source. The D-Vault assures you of complete and infallible security and flexibility when it comes to accessing your own documents, whenever required. Most importantly, this functions as a storage+ model, wherein you have the option not only of storage, but of additional "service" towards your documents, as required. </p>
			</div> -->
			<div class="col-md-12 center-block div_style1">
				<%= form_tag('/dvault_login', type: "post", :class => "dvault-login-form") do %>
					<%= hidden_field_tag 'user_id',nil, value:"#{current_user}" %>
					<input type="password" name="password" class="form-control input-pin-style1" minlength="4" maxlength="4" required="required" placeholder="Enter the 4 digit pin">
					<button type="submit" class="btn btn-default next-btn">Submit</button>
					<span class="forgot_txt" data-toggle="modal" data-target="#forgotPin">Forgot Pin?</span>
				<% end %>
			</div>
		</div>
	</div>
<% else %>
	<div class="col-md-2-offset col-md-10 body-wrapper">
		<div class="row dvault-create-user">
			<div class="col-md-6">
    			<div class="wrapper_style">
    				<%= image_tag 'services/dvault_icon.png' %>
    				<div class="headin_wrapper">
    					<h2>DVault</h2>
    					<h4>YOUR DOCUMENTS ARE SECURED</h4>
    				</div>
    				<p class="para_style">
    					This is a unique and one-of-a-kind service rendered by Docket, with a provision to safely store all your documents in a single source. The DVault assures you of complete and infallible security and flexibility when it comes to accessing your own documents, whenever required. Most importantly, this functions as a storage+ model, wherein you have the option not only of storage, but of additional "service" towards your documents, as required.
    				</p>
    			</div>
    		</div>
    		<div class="col-md-6">
    			<div class="pin_form_style">
	    			<h2 class="log-color register-text">CREATE PIN</h2>
		        	<%= form_tag('/create_dvault', type: "post", :class => "dvault-create-form") do %>
		        		<%= hidden_field_tag 'user_id',nil, value:"#{current_user}" %>
		        		<input type="password" name="password" id="pin" class="form-control input-pin-style" minlength="4" maxlength="4" placeholder="4 Digit Pin" required/>
		        		<input type="password" name="confirm_password" id="confirm-pin" class="form-control input-pin-style" minlength="4" maxlength="4" placeholder="Confirm Pin" required/>
		        		<button type="submit" class="btn btn-default next-btn1">Create</button>
					<% end %>
				</div>
    		</div>
    	</div>
    </div>
<% end %>
<%= render 'forgot_pin' %>

<script>
	$(".next-btn1").click(function () {
        var password = $("#pin").val();
        var confirmPassword = $("#confirm-pin").val();
        if (password != confirmPassword) {
            setNotification('error', 'Passwords do not match');
            return false;
        }
        return true;
    });
</script>

<style>
	/*.dvault-login-check .body-wrapper button.btn.btn-default.next-btn, .dvault-create-user .body-wrapper button.btn.btn-default.next-btn{
		margin-top: 10px;
		left: 0;
		position: relative;
	}  */  	
	.dvault-login-check .body-wrapper input.input-pin-style, .dvault-create-user .body-wrapper input.input-pin-style{
		margin: 10px auto;
	}
</style>
