<div class="container-fluid section_padd order_summary box_wrap e-stamp">
	<div class="row details_wrap">
		<div class="col-md-6">
			<div class="product_description">
				<div class="row product_wrap">
					<div class="col-md-3">
						<h4 class="product_head">Product</h4>
					</div>
					<div class="col-md-9">
						<h1 class="product_subhead"><%= @document.name %></h1>                           
					</div>
				</div>
				<hr class="product_hr">
				<div class="row price_sum">
					<div class="col-md-3">
						<h4 class="product_head">Description</h4>
					</div>
					<div class="col-md-9">
						<h4 class="product_subhead">
							<%= (@document.description || @document.service.description).html_safe %>
							<br>
							<br>
							Affidavit: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rs 50 (min value) <br>
							Agreement: Rs 100 (min value) <br>
							Bonds: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rs 200 (min value) <br>
							Deeds: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rs 200 (min value) <br>
						</h4>                           
					</div>
				</div>
				<hr class="price_hr">
				<div class="row price_sum">
					<div class="col-md-3">
						<h4 class="product_head">Price</h4>
					</div>
					<div class="col-md-9">
						<h4 class="product_subhead">
							<span class='price'><i class="fa fa-inr" aria-hidden="true">50 (Min value)</i></span>  <br>
						</h4>                           
					</div>
				</div>
				<hr class="checklist_hr">
				<div class="row">
					<div class="col-md-3">
						<h4 class="product_head">Procedure</h4>
					</div>
					<div class="col-md-9">
						<ul class="procedure_wrap">
							<li>
								<%= image_tag 'new_images/procedure_icon/drafting.png', :class => "agreement_icon" %>
								<p>Drafting</p>
							</li>
							<li>
								<%= image_tag 'new_images/procedure_icon/printing.png', :class => "agreement_icon" %>
								<p>Printing</p>
							</li>
							<li>
								<%= image_tag 'new_images/procedure_icon/delivery.png', :class => "agreement_icon" %>
								<p>Delivery</p>
							</li>
							
						</ul>                           
					</div>
				</div>
				<hr class="procedure_hr">
			</div>
			<div class="product_summary" style="display:none;">
				<div class="row">
					<div class="col-md-5">
						<h4 class="main_head">Order Summary</h4>
					</div>
					<div class="col-md-7">
						<h4 class="sub_head"><%= @document.name %></h4>
					</div>
				</div>
				<hr class="summary_hr">
				<div class="row">
					<div class="col-md-5">
						<h4 class="main_head">Price</h4>
					</div>
					<div class="col-md-7">
						<h4 class="sub_head doc_price price_style">
							<span class='price'><i class="fa fa-inr" aria-hidden="true">
								<%#= @document.default_price || 999 %>
							</i> </span>
							<span class="price_hint">Exclusive of GST</span>
						</h4>
					</div>
				</div>
				<hr class="summary_hr">
				<div class="row">
					<div class="col-md-5">
						<h4 class="main_head">Delivery Charges</h4>
					</div>
					<div class="col-md-7">
						<h4 class="sub_head">
							<span><i class="fa fa-inr" aria-hidden="true"></i> </span><%= @document.service.delivery_charges %><br>
							<span class="price_hint">24-48 Hours Delivery</span>
						</h4>
					</div>
				</div>
				<hr class="summary_hr">
                <div class="row">
                    <div class="col-md-5">
                        <h4 class="main_head">CGST @ 9%</h4>
                    </div>
                    <div class="col-md-7">
                        <h4 class="sub_head price_style gst">
                            <span><i class="fa fa-inr" aria-hidden="true"></i></span><br>
                        </h4>
                    </div>
                </div>
                <hr class="summary_hr">
                <div class="row">
                    <div class="col-md-5">
                        <h4 class="main_head">SGST @ 9%</h4>
                    </div>
                    <div class="col-md-7">
                        <h4 class="sub_head price_style gst">
                            <span><i class="fa fa-inr" aria-hidden="true"></i></span><br>
                        </h4>
                    </div>
                </div>
				<hr class="summary_hr">
				<div class="row">
					<div class="col-md-5">
						<h4 class="main_head">Total</h4>
					</div>
					<div class="col-md-7">
						<h4 class="sub_head sub_total final_amount stamp_price">
							<span class="stamp_icon">
								<span><i class="fa fa-inr" aria-hidden="true"></i></span><br> 
							</span>
						</h4>
					</div>
				</div>
				<hr class="summary_hr">
				<button type="button" class="btn btn-default back_btn pull-right" style="display:none;">Back</button>
			</div>
		</div>
		<div class="col-md-6">
			<div class="answer_wrap">
				<%= form_tag('/campaign_order',:name => 'd-form', :class => 'document-form', :id => "question_form") do |f| %>
					<%= hidden_field_tag 'user_id',nil, value: current_user %>
					<%= hidden_field_tag 'service_id',nil, value: @document.service.id %>
					<%= hidden_field_tag 'document_id',nil, value: @document.id %>
					<%= hidden_field_tag 'product',nil, value: @document.name  %>
					<div class="question_section">
						<div class="form-group section_one">
							<div class="stamp_study">
								<h4 class="questions_heading">1) Please enter your Stamp Duty Amount</h4>
								<div class="amount_wrap">
									<span class="rupee_icon"><i class="fa fa-inr"></i></span><input type="text" class="input_style" maxlength="6" min="20" id="stamp_amount" name="answer[23]" placeholder="Minimum Rs. <%= @service.min_stamp %>" required/>
									<input type="hidden" name='stamp_amount' id='stamp_value'>
								</div>
								<p class="hint_txt">(SERVICE CHARGE: STAMP DUTY AMT. RS. 1 TO 100 = RS. 35, RS. 101 to 1000 = 55, RS. 1001 to 2000 = 75, RS. 2001 to 5000 = 250, Above 5000 = 5%)</p>
								<!-- <label id="dis" style="width:250px;"></label> -->
							</div>
						</div>
						<div class="form-group section_one">
							<h4 class="questions_heading">2) Enter First Party Name(s)</h4>
							<div class="">
								<input  class="estamp" type="text" name="answer[24]" id="" required>
							</div>
						</div>
						<div class="form-group section_one">
							<h4 class="questions_heading">3)Enter Second Party Name(s)</h4>
							<div id="" class="">
								<input  class="estamp" type="text" name="answer[25]" id="" required>
							</div>
						</div>
						<div class="form-group section_one">
							<h4 class="questions_heading">4)Description of the E-stamp:</h4>
							<div id="" class="">
								<input class="estamp" type="text" name="answer[26]" id="" required>
							</div>
						</div>
						<div class="form-group section_one" >
							<h4 class="questions_heading">5)Stamp Duty Purchased By:</h4>
							<div class="radio-toolbar">
								<input type="radio" id="radio0" name="answer[27]" value="first_party" checked>
								<label for="radio0">First Party</label>

								<input type="radio" id="radio1" name="answer[27]" value="second_party">
								<label for="radio1">Second Party</label>
							</div>
							<input type="hidden" name='summary' id='summary'>
							<input type="hidden" name='total_amount' id='total_amount'>
							<button type="button" class="btn btn-default proceed_btn">Proceed &nbsp;&nbsp;
								<span class="proceed_caret">
									<i class="fa fa-caret-right" aria-hidden="true"></i>
								</span>
							</button>
						</div>
					</div>
					<div class="contact_section" style="display:none;">
						<div class="contact_details">
							<div class="payment_details">
								<p>SHARE YOUR CONTACT DETAILS</p>
								<div class="form-group">
									<input type="text" class="input_name" id="fullName" pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" title="Type only characters" name="name"  placeholder="FULL NAME" required/>
								</div>
								<div class="form-group">
									<input type="email" class="input_name" id="email" title="Eg: some@mail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" placeholder="EMAIL ADDRESS" required/>
								</div>
								<div class="form-group">
									<input type="text" class="input_name" id="mobileNumber" maxlength="10" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" title="Enter 10 digit Valid Mobile Number" name="mobile" placeholder="MOBILE NUMBER" required/>
								</div>
							</div>
						</div>  
						<div class="terms_wrap">
							<div class="checkbox">
								<label>
									<input type="checkbox" class="terms_condition" name="terms_condition" value="">
									&nbsp;&nbsp; <span class="chk_hint">I agree to the <a href="/terms"><em>Terms & Conditions</em></a> of Docket Tech</span>
								</label>
							</div>
						</div>  
					</div>
					<div class="button_wrap">
						<button type="submit" class="btn btn-primary pay_btn" style="display:none;">PAY &nbsp;&nbsp;&nbsp;<span class="pay_caret"><i class="fa fa-caret-right" aria-hidden="true"></i></span></button>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<script>
	$('#stamp_amount').on('change', function(e){
		$('#stamp_value').val(e.target.value);
		stamp_value = parseInt($('#stamp_value').val());
		if (stamp_value < 0 || stamp_value < <%= @document.service.min_stamp %>){
			setNotification('error', 'Min stamp amount Rs <%= @document.service.min_stamp %>');
			$('#stamp_amount').val('');
		}
	})
	$('.proceed_btn').bind('click',function(e){
		// console.log('clicked');
		// e.preventDefault();
		// e.stopPropagation();
		var summary = {};
		$('.document-form input').each(function(){
			var elem = $(this);
			var id = elem.attr('id');
			if ((id != undefined) && !(id.includes('id')) && !(id == 'undefined') && !(id == 'stamp_value') && !(id == 'summary')){
				var value = elem.val();
				summary[id] = value;
			}
		})        
		$('.contact_section').show();
		$('.product_summary').show();
		$('.back_btn').show();
		$('.question_section').hide();
		$('.product_description').hide();
		$('#summary').val(JSON.stringify(summary));
		calculateSum();
		// $('.document-form').submit();
	})
	function calculateSum(){
		stamp_value = parseInt($('#stamp_value').val());
		if (stamp_value >= 20 && stamp_value <= 100){
			stamp_duty = 35;
		}
		if (stamp_value >= 101 && stamp_value <= 1000){
			stamp_duty = 55;
		}
		if (stamp_value >= 1001 && stamp_value <= 2000){
			stamp_duty = 75;
		}
		if (stamp_value >= 2001 && stamp_value <= 5000){
			stamp_duty = 250;
		}
		if (stamp_value > 5000){
			stamp_duty = Math.round(stamp_value * 0.05) ;
		}
		$('.price i').html(stamp_value+stamp_duty);
		delivery_charge = <%= @document.service.delivery_charges %>;
		net_amount = stamp_value + stamp_duty + delivery_charge;
		gst = (net_amount * 0.09).toFixed(2);
        final_amount = (net_amount + gst*2);
        $('#total_amount').val(net_amount);
		$('.final_amount span i').html(final_amount);
        $('.gst span i').html(gst);
	}
	$('.back_btn').bind('click', function(){
		$('.question_section').show();
		$('.product_description').show();
		$('.contact_section').hide();
		$('.product_summary').hide();
		$('.pay_btn').hide();
	})
</script>