<div class="row">
	<div class="col-md-2-offset col-md-10 body-wrapper">
		<div class="row clearfix profile-padd card">
			<%= form_tag('/update_profile', type: :post, multipart: true, :class => "profile_form_style") do |f| %>
			<%= hidden_field_tag 'user_id',nil, value: current_user %>
			<div class="col-md-3">
				<div class="profile_edit_wrapper">
					<h2>Profile</h2>
					<%= image_tag  "#{@current_user.profile.profile_img ? @current_user.profile.profile_img : 'profile.png'}", :class => "profile-style", :id => "blah" %> <p class="upload_pic_txt">Upload Photo</p>
					<input type='file' name='attachment' id="files" accept="image/png,image/gif,image/jpeg, image/jpg" onchange="readURL(this);">
				</input></label> <i class="fa fa-camera"> <span class="upload_txt_fa">Update Profile Picture</span></i>
			</div>
		</div>
		<div class="col-md-9">
			<div class="row clearfix">
				<div class="col-md-6">
					<label for="">First Name</label>
					<input type="text" name="first_name" class="form-control profile_input_style" value="<%= @current_user.profile.first_name %>" required="required">
				</div>
				<div class="col-md-6">
					<label for="">Last Name</label>
					<input type="text" name="last_name" class="form-control profile_input_style" value="<%= @current_user.profile.last_name %>" required="required">
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-6">
					<label for="">Date of Birth</label>
					<input type="text" name="birthday" class="form-control profile_input_style calendar" value="<%= @current_user.profile.birthday.strftime('%d-%m-%Y') if @current_user.profile.birthday %>" required="required">
				</div>
				<div class="col-md-6">
					<div class="radio radio-primary">
						<label class="radio-inline">
							<% if @current_user.profile.gender && @current_user.profile.gender == 'male'  %>
							<input type="radio" name="gender" id="optionsRadios1" value="male" checked>
							<% else %>
							<input type="radio" name="gender" id="optionsRadios1" value="male">
							<% end %>
						</label><p style="position:relative;left: 1em;display: inline;">Male</p>
					</div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="radio radio-primary">
						<label class="radio-inline">
							<% if @current_user.profile.gender && @current_user.profile.gender == 'female'  %>
							<input type="radio" name="gender" id="optionsRadios1" value="female" checked>
							<% else %>
							<input type="radio" name="gender" id="optionsRadios1" value="female">
							<% end %>
						</label><p style="position:relative;left: 1em;display: inline;">Female</p>
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-6">
					<label for="">Mobile</label>
					<input type="text" name="phone" class="form-control profile_input_style" value="<%= @current_user.phone %>" required="required" disabled>
				</div>
				<div class="col-md-6">
					<label for="">Email</label>
					<input type="text" name="email" id="email" class="form-control profile_input_style" value="<%= @current_user.email %>" required="required" disabled>
				</div>
			</div>
		</div>
			<div class="col-md-6">
				<div class="address-list">
					<div class="address-details">
						<h4 class="profile_head">MY ADDRESS</h4>
						<% @current_user.addresses.each do |address| %>
						<div class="address address-<%= address.id %>" data-atr="<%= address.id %>">
							<h4 class="profile_head1"><%= address.tag %>  
								<i class="fa fa-pencil-square-o address-edit"></i>
								<i class="fa fa-trash-o pull-right deleteConfirm" data-toggle="modal" data-target="#deleteConfirm" ></i>
							</h4> 
							<div class="address_content">
								<%= address.address1 + ', ' + address.locality.name %> <br>
								<%= address.city.name + ', ' + address.pincode %>
							</div>
						</div>
						<% end %>
					</div>					
				</div>
			</div>
			<div class="col-md-6">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addressModal">Add Address</button>
			</div>

		<div class="col-md-9">
			<div class="row clearfix">
				<div class="col-md-6">

				</div>
				<div class="col-md-6">
					<a href="/profile"><button type="submit" class="btn btn-default back_btn">Back</button></a>
					<div>
						<button type="submit" class="btn btn-default submit-profile">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% end %>
</div>
</div>
</div>
<%= render 'home/address' %>
<%#= render 'home/edit_address' %>
<%= render 'delete_confirm' %>
<div id="addressEdit" class="modal fade" role="dialog" tabindex='-1'>
	<div class="modal-dialog">
		<div class="modal-content modal_styles">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="form_style result">

				</div>
				<div class="thankyou" style="display:none;">
					<div class="row">
						<div class="col-md-12">
							<h1>Your address has been updated.</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
	var fileInput = document.getElementById('files');
    fileInput.onclick = function () {
        this.value = null;
    }
    fileInput.onchange = function (){
        readURL(this);
    }
	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function (e) {
				$('#blah')
				.attr('src', e.target.result)
			};
			reader.readAsDataURL(input.files[0]);
		}
	}
	$('.calendar').datepicker({
		dateFormat: "dd/mm/yy",
		yearRange: "1905:2000",
		maxDate: '-5840',
		changeMonth: true,
		changeYear: true,
	});
	var delete_address_id;
	$('.deleteConfirm').bind('click', function(){
		delete_address_id = $(this).parent().parent().data('atr');
	})
	$('.delete-confirmation').bind('click', function(e) {
		if ($("#deleteConfirm input[type='radio']:checked").val() == 'yes'){
			$.ajax({
				type: 'post',
				url: '/delete_address',
				data: 'address_id='+delete_address_id+'&user_id='+"<%= current_user %>"
			}).success(function (data, textStatus, jqXHR) {
				$('.address-' +delete_address_id).remove();
				setNotification('success', 'Address has been deleted');
			}).fail(function (jqXHR, textStatus, errorThrown) {
				setNotification('error', 'Server Error. Try Again');
			});
		}
		$('#deleteConfirm').modal('toggle');
	});

	$('.address-edit').bind('click',function (e){
		e.preventDefault();
		var address_id = $(this).parent().parent().data('atr');
		$.ajax({
			type: "GET",
			url : '/edit_address',					
			data: 'address_id='+address_id+'&user_id='+"<%= current_user %>"
		}).fail(function (data, textStatus, jqXHR){
			console.log("Error occurred when retrieving job executions");
		}).success(function (data, textStatus, jqXHR){
			$('#addressEdit .result').html(data);
			$('#addressEdit').modal('toggle');
		})
	}); 
});
function editHide(){
	$('form.address-update').hide('fast');
	$('#addressEdit .thankyou').show('slow');
	setNotification('success', 'Address Updated');
	location.reload(true);
}
</script>