<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> EXPERT</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-theme.css">
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="assets/css/material.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/expert.css">
		<link rel="stylesheet" type="text/css" href="assets/css/ripples.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div id="header"></div>
		<div class="container-fluid section_padd bg_color expert">
			<h1 class="text-center"><u>Expert Registration Form</u></h1>
		   	<script type="text/javascript">var submitted=false;</script>
    		<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='http://www.google.com';}"></iframe>
			<form name="expert" autocomplete="off" action="https://docs.google.com/a/notarymama.com/forms/d/1hWGkiNrXy_90C_n3aACV8cUVCrA4xSKGlY7dGhyTn_o/formResponse" method="POST" role="form " target="hidden_iframe" onsubmit="submitted=true;" id="expert-form" >
				<div class="card step_one">
					<h3><u><b>1) Professional Details:</b></u></h3>
					<div class="form-group">
			        	&nbsp;&nbsp;<h4><b>A. Name</b></h4>
		   			 	<p>(Name shall be entered as per Photo ID Proof)</p>
			        	<select name="entry.1490069144" id="mySelect" class="form-control" required="required">
			        		<option value="">Title</option>
			        		<option value="Mr.">Mr.</option>
			        		<option value="Ms.">Ms.</option>
			        		<option value="Dr.">Dr.</option>
			        	</select>
					</div>
					<h4>First Name*</h4>
					<div class="form-group">
						<input type="text" name="entry.953970316" class="form-control" placeholder="First Name*" required>
					</div>
					<h4> Middle Name</h4>
					<div class="form-group">
						<input type="text" name="entry.1414703908" class="form-control" placeholder="Middle Name">
					</div>
					<h4> Last Name*</h4>
					<div class="form-group">
						<input type="text" name="entry.476637433" class="form-control" placeholder="Last Name*" required>
					</div>
					<h4>B. E-mail address*:</h4>
					<div class="form-group">
						<input type="email" name="entry.1739129676" class="form-control" placeholder="E-mail*" required>
					</div>
					<h4>C. Contact Number*:</h4>
					<div class="form-group">
						<input type="text" name="entry.748574939" class="form-control quantity" title="Digit Only" maxlength="10" placeholder="Landline" value="">
					</div>	
					<div class="form-group">
						<input type="text" name="entry.256534662" class="form-control quantity" title="Digit Only" maxlength="10" placeholder="Mobile*" value="" required>
					</div>
					<h4><b>D. Permanent Address:</b></h4>
					<h4> House Name*</h4>
					<div class="form-group">
						<input type="text" name="entry.1121994363" class="form-control" placeholder="House Name*" value="" required>
					</div>
					<h4> House Name/Flat floor*</h4>
					<div class="form-group">
						<input type="text" name="entry.697324345"class="form-control" placeholder="House Name/Flat floor*" value="" required>
					</div>
					<h4> Housing Complex/Buliding*</h4>
					<div class="form-group">		
						<input type="text" name="entry.1791613171" class="form-control" placeholder="Housing Complex/Buliding*" value="" required>
					</div>	
					<h4> Street/Road Name*</h4>
					<div class="form-group">
						<input type="text" name="entry.1083085440" class="form-control" placeholder="Street/Road Name*" value="" required>
					</div>
					<h4> City*</h4>
					<div class="form-group">
						<input type="text" name="entry.1645837237" class="form-control" placeholder="City*" value="" required>
					</div>	
					<h4> State*</h4>
					<div class="form-group">	
						<input type="text" name="entry.35407345" class="form-control " placeholder="State*" value="" required>
					</div>
					<h4> Pin Code*</h4>
					<div class="form-group">	
						<input type="text" name="entry.675555542" class="form-control quantity" title="Digit Only" placeholder="Pin code*" value="" maxlength="6" required>
					</div>
					<h4><b>E. Profession:</b></h4>
					<div class="row">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<div class="checkbox">
						                <label>a. Notary Public
						                </label>
						            </div>
								</div>
								<div class="col-md-6">
									<div class="checkbox">
						                <label>
						                  <input name="entry.1771961882" id="ch1" type="checkbox" value="Notary Public" ><span class="checkbox-material"><span class="check"></span></span>
						                </label>
						            </div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="checkbox">
						                <label>d. Junior Lawyer
						                </label>
						            </div> 
								</div>
								<div class="col-md-6">
									<div class="checkbox">
						                <label>
						                  <input name="entry.1771961882" id="ch2" type="checkbox" value="Junior Lawyer"><span class="checkbox-material"><span class="check"></span></span>
						                </label>
						            </div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="checkbox">
						                <label>g. Company Secretary
						                </label>
						            </div> 
								</div>
								<div class="col-md-6">
									<div class="checkbox">
						                <label>
						                  <input name="entry.1771961882" id="ch3" type="checkbox" value="Company Secretary"><span class="checkbox-material"><span class="check"></span></span>
						                </label>
						            </div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="checkbox">
						                <label>j. IPR Attorney
						                </label>
						            </div> 
								</div>
								<div class="col-md-6">
									<div class="checkbox">
						                <label>
						                  <input name="entry.1771961882" id="ch4" type="checkbox" value="IPR Attorney"><span class="checkbox-material"><span class="check"></span></span>
						                </label>
						            </div> 
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<div class="checkbox">
						                <label>b. Legal Counsel
						                </label>
						            </div> 
								</div>
								<div class="col-md-6">
									<div class="checkbox">
						                <label>
						                  <input name="entry.1771961882" id="ch5" type="checkbox" value="Legal Counsel" ><span class="checkbox-material"><span class="check"></span></span>
						                </label>
						            </div> 
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="checkbox">
						                <label>e. Property Consultant
						                </label>
						            </div> 
								</div>
								<div class="col-md-6">
									<div class="checkbox">
						                <label>
						                  <input name="entry.1771961882" id="ch6" type="checkbox" value="Property Consultant"><span class="checkbox-material"><span class="check"></span></span>
						                </label>
						            </div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="checkbox">
						                <label>h. Sales Tax Practitioner
						                </label>
						            </div> 
								</div>
								<div class="col-md-6">
									<div class="checkbox">
						                <label>
						                  <input name="entry.1771961882" id="ch7" type="checkbox" value="Sales Tax Practitioner" ><span class="checkbox-material"><span class="check"></span></span>
						                </label>
						            </div> 
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="checkbox">
						                <label>k. Doucument Consultant
						                </label>
						            </div> 
								</div>
								<div class="col-md-6">
									<div class="checkbox">
						                <label>
						                  <input name="entry.1771961882" id="ch8" type="checkbox" value="Doucument Consultant"><span class="checkbox-material"><span class="check"></span></span>
						                </label>
						            </div> 
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<div class="checkbox">
						                <label>c. Senior Advocate
						                </label>
						            </div>
								</div>
								<div class="col-md-6">
									<div class="checkbox">
						                <label>
						                  <input  name="entry.1771961882" id="ch9" type="checkbox" value="Senior Advocate" ><span class="checkbox-material"><span class="check"></span></span>
						                </label>
						            </div> 
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="checkbox">
						                <label>f. Chartered Accountant
						                </label>
						            </div>
								</div>
								<div class="col-md-6">
									<div class="checkbox">
						                <label>
						                  <input name="entry.1771961882" id="ch10" type="checkbox" value="Chartered Accountant"><span class="checkbox-material"><span class="check"></span></span>
						                </label>
						            </div> 
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="checkbox">
						                <label>i. Cost Accountatnt
						                </label>
						            </div> 
								</div>
								<div class="col-md-6">
									<div class="checkbox">
						                <label>
						                  <input name="entry.1771961882" id="ch11" type="checkbox" value="Cost Accountatnt"><span class="checkbox-material"><span class="check"></span></span>
						                </label>
						            </div> 
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="checkbox">
						                <label>l. Other______
						                </label>
						            </div> 
								</div>
								<div class="col-md-6">
									<div class="checkbox">
						                <label>
						                  <input name="entry.1771961882" id="ch12" type="checkbox" value="__other_option__" ><span class="checkbox-material"><span class="check"></span></span>
						                </label>
						            </div> 
								</div>
							</div>
						</div>
					</div>
					<div>
						<button type="button" class="btn btn-primary next_form input" onclick="check_checkboxes();">NEXT</button>
					</div>
				</div>
				<div class="card step_two" style="display:none;">
					<h3><u><b>2) Company Details:</b></u></h3>
		        	<h4>A. Company Name*</h4>
					<div class="form-group">
						<input name="entry.803706408" type="text" class="form-control" placeholder="company Name*" required>
					</div>
					<h4>B. Company Registration Number*:</h4>
					<div class="form-group">
						<input name="entry.1721338223" type="text" class="form-control" placeholder="company registration Name*" required>
					</div>
					<h4>C. PAN Number *:</h4>
					<div class="form-group">
						<input name="entry.334391961" type="text" class="form-control" placeholder="pan number*" required>
					</div>
					<h4>D. TAN Number*:</h4>
					<div class="form-group">
						<input name="entry.786863210" type="text" class="form-control" placeholder="Tan Number*" required>
					</div>
					<h4>E. Service Tax Number*:</h4>
					<div class="form-group">
						<input name="entry.1242943968" type="text" class="form-control" placeholder="Service Tax Number*" required>
					</div>
					<h4>F. Permanent Address:</h4>
					<h4> Company Name*</h4>
					<div class="form-group">
						<input name="entry.1991510498" type="text" class="form-control" placeholder="Company Name*" value="" required>
					</div>
					<h4>Buliding*</h4>
					<div class="form-group">		
						<input name="entry.1435823551" type="text" class="form-control" placeholder="Buliding*" value="" required>
					</div>	
					<h4>Street/Road Name*</h4>
					<div class="form-group">
						<input name="entry.1892935758" type="text" class="form-control" placeholder="Street/Road Name*" value="" required>
					</div>
					<h4>City*</h4>
					<div class="form-group">
						<input name="entry.1732943074" type="text" class="form-control" placeholder="City*" value="" required>
					</div>	
					<h4>State*</h4>
					<div class="form-group">	
						<input name="entry.475748504" type="text" class="form-control" placeholder="State*" value="" required>
					</div>
					<h4>Pin Code*</h4>
					<div class="form-group">	
						<input name="entry.680513025" type="text" class="form-control quantity"  title="Digit Only" placeholder="Pin code*" value="" maxlength="6" required>
					</div>
					<div class="btn_block">
						<button type="button" class="btn btn-primary previous_btn">Previous</button>
						<button type="submit" class="btn btn-primary next_btn ">Next</button>
					</div>
				</div>	     
				<div class="card step_three" style="display:none;">
					<h3><u><b>3) Bank Details:</b></u></h3>
		        	<h4>A. Account Holder Name </h4>
					<div class="form-group">
						<input name="entry.501138960" type="text" class="form-control" placeholder="Account Holder Name*" required>
					</div>
					<h4>B. Bank Account Number*:</h4>
					<div class="form-group">
						<input name="entry.957375835" type="text" class="form-control" placeholder="Bank Account Number*" required>
					</div>
					<h4>C. IFSC Code*:</h4>
					<div class="form-group">
						<input name="entry.30181189" type="text" class="form-control" placeholder="IFSC Code*" required>
					</div>
					<h4>D. Bank Name*:</h4>
					<div class="form-group">
						<input name="entry.539966305" type="text" class="form-control" placeholder="Bank Name*" required>
					</div>
					<h4>E. Branch Name*:</h4>
					<div class="form-group">
						<input name="entry.2094266606" type="text" class="form-control" placeholder="Branch Name*" required>
					</div>
					<h4>F. Bank Address*:</h4>
					<div class="form-group">
						<input name="entry.1949302228" type="text" class="form-control" placeholder="Bank Address*" required>
					</div>
					<h4>G. City*:</h4>
					<div class="form-group">
						<input name="entry.1967626651" type="text" class="form-control" placeholder="City*" required>
					</div>
					<h4>H. State*:</h4>
					<div class="form-group">
						<input name="entry.285464872" type="text" class="form-control " placeholder="State*" required>
					</div>
					<h4>I. Pin Code*:</h4>
					<div class="form-group">
						<input name="entry.469769149" type="text" class="form-control quantity" title="Digit Only" placeholder="Pin Code*" required maxlength="6">
					</div>
					<h4>Declaration:</h4>
					<div class="checkbox">
		                <label>
		                  <input name="" id="ch12" type="checkbox" value="__other_option__" required ><span class="checkbox-material"><span class="check"></span></span>
							I hereby declare that the information provided by me on the above from is true and correct to the best of my knowledage
							and belivef. I also confirm that in the event of any information provided by me is not true/is incomplete, I shall be solely responsible for the same. I further declare to submit the following documents: ID Proof, Address Proof, Certificate of Incorporation, Business Registration and shop Establishment Proof, NDA, MOU and Cancelled Cheque as applicable. 
		                </label>
		            </div> 
					<div class="btn_block">
						<button type="button" class="btn btn-primary previous_frm">Previous</button>
						<button type="submit" onclick="this.form.submit(); this.disable=true; this.value='Submitting...';" class="btn btn-primary submit_btn">Submit</button>
					</div>
				</div>	
			</form>
		</div>
		<div id="footer"></div>
		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		 <script type = "text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
     	 <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
 		<script src="assets/js/bootstrap.js"></script>
 		<script src="assets/js/material.min.js"></script>
 		<script src="assets/js/ripples.js"></script>
 		<script src="assets/js/form.js"></script>
	</body>
</html>

