<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>GPA - SPA | Docket Tech</title>
		<%= stylesheet_link_tag 'campaign', media: 'all' %>
		<%= javascript_include_tag 'campaign' %>
		<meta name="description" content="Docket helps you get general & specific power of attorney at your doorstep.It's simple and easy-It only takes a few minutes! Fast Online Process ·Transparent Pricing.">
		<meta name="keywords" content="power of attorney for property, power of attorney for a child, special power of attorney to sell, general power of attorney registration, special power of attorney for court case, power of attorney for nri to buy property in india, power of attorney,general power of attorney,specific power of attorney,GPA,SPA,POA">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
		<%= favicon_link_tag 'favicon.ico' %>
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
	<div class="container-fluid gpa_spa">
		<div id="notification"></div>
		<a href="/"><img src="assets/new_images/logo.png" class="pull-left logo" alt="logo"></a>
		<div class="city_wrap pull-right">	
			<div class="enquiry">
				<button type="button" class="btn btn-default enquiry_btn">QUICK ENQUIRY </button> <span class="enquiry_icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
			</div>
		</div>
		<div class="row cust_enquire" style="display:none;">
			<div class="pull-right close_enquiry">X</div>
			<div class="col-md-8 enquiry_form" style="">
				<h1 class="quick_txt">QUICK ENQUIRY</h1>
				<%= form_tag('/contact_requests', remote: true, type: :post, :onSubmit => 'formHide()',:class=> 'contact_form') do |f| %>
					<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<input type="hidden" name="contact_request[request_type]" placeholder="Name" value="Campaign-POA">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="input_style1" pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" title="Type only characters"  name="contact_request[name]" id="name" placeholder="Name" required>
							</div>
							<div class="form-group">
								<input type="email" title="Eg: some@mail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="contact_request[email]" class="input_style1" id="email" placeholder="Email" required>
							</div>  
							<div class="form-group">
								<input type="mobile" maxlength="10" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" title="Enter 10 digit Valid Mobile Number" name="contact_request[phone]" class="input_style1" id="mobile" placeholder="Mobile" required>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<textarea class="input_style1" name="contact_request[message]" id="message" placeholder="What are you looking for?" rows="4" cols="40" required></textarea>
							</div>
							<button type="submit" class="send-btn">Send</button>
						</div>
					</div>
				<% end %>
				<div class='thanks' style="display:none"> 
				  Thank You for contacting us. We will get back to you shortly.
				</div>
			</div>
			<div class="col-md-4 map">
				<div>India</div><br>
				<div>
					<p>Docket Tech Solutions Private Limited<br>
					Mayur Tower, #10, <br>
                	1st Floor, 3rd Main Rd, <br>
                	Ashwini Layout, Ejipura, <br>
                	Bangalore - 560047, <br>
                	Karnataka, India</p></div>
				<h4>+91-81-0537 7103</h4><br>
				<!-- <h4>+91-80-4656 4656</h4><br> -->
				<h4 class="email_txt"><a href="mailto:support@dockettech.com">support@dockettech.com</a></h4>
			</div>
		</div>
		<div class="row main_bg">
			<div class="col-md-12 for-heading-section">
				<div class="center_align">
					<h1 class="main_head text-center">Power of Attorney</h1>
					<h1 class="sub_head text-center">At Your Doorstep</h1>
					<p class="tag_line text-center">Guaranteed 24-48 Hours Delviery<br>Turn Around time less than 24 Hrs<br>General Power of Attorney to Specific Power of Attorney</p>
					<h2 class="line_tag_poa">
						<a href="#order"><button type="button" class="btn btn-default btn_order">ORDER NOW</button></a>
					</h2>
					<h4 class="services-bangalore text-center">Currently our service available only in Karnataka</h4>
				</div>
		  </div>
		</div>
		<div class="row" style="background-color:#f2f2f2;">
			<div class="col-md-12">
				<h2 class="text-center wow zoomIn" data-wow-duration="1s">ORDER POWER OF ATTORNEY ONLINE, FROM ANYWHERE.
				</h2>
			</div>
		</div>	
		<div class="row how_work_section">
			<div class="col-md-12">
				<div class="col-md-8 row_style">
					<span>01</span>
					<h4>WE DRAFT THE POWER OF ATTORNEY FOR YOU</h4>
					<P>Select the type of Power of Attorney you want and provide simple details like stamp duty amount, number of additional copies, name, email address and make the payment using various payment methods. Our experts will reach out to you and customize the Power of Attorney Draft as per your requirement. </P>
				</div>
				<div class="col-md-4 row_style">
					<img src="/assets/rental_agreement/agreement.png" alt="agreement">
				</div>	
				<div class="col-md-8 row_style">
					<span>02</span>
					<h4>WE DO THE NOTARY</h4>
					<P>After drafting the Power of Attorney, we print it on the stamp paper with the stamp duty amount provided by you. Further, we reach to you with an appointment, get your signatures and we get the document Notarised from inhouse experts.</P>
				</div>
				<div class="col-md-4 row_style">
					<img src="/assets/rental_agreement/paperwork.png" alt="paperwork">
				</div>	
				<div class="col-md-8 row_style">
					<span>03</span>
					<h4>WE DELIVER IT TO YOUR DOORSTEP</h4>
					<P>Let us know where you want the Power of Attorney to be delivered. Our service is very fast and reliable. We promise 24-48 Hours delivery. Alternatively, you can also avail the soft copy of the Power of Attorney.</P>
				</div>
				<div class="col-md-4 row_style">
					<img src="/assets/rental_agreement/delivery_img.png" alt="delivery">
				</div>	
			</div>	
		</div>
		<div class="row question_bg" id="order">
			<div class="col-md-12">
				<%= form_tag('/campaign_order',:name => 'd-form', multipart: true, :class => 'document-form', :id => "question_form") do |f| %>
					<%= hidden_field_tag 'user_id',nil, value: current_user %>
					<%= hidden_field_tag 'service_id',nil, value: @service.id %>
					<%= hidden_field_tag 'document_id',nil, value: @document.id %>
					<%= hidden_field_tag 'product',nil, value: @document.name  %>
					<%= hidden_field_tag 'answer[44]',nil, value: 'Campaign'  %>
					<div class="choose_agreement">
						<div class="row">
							<div class="col-md-6 for-bigscreen-look">
								<img src="/assets/campaign_poa/form-image.jpg" style="width: 100%;">
							</div>
							<div class="col-md-6 for-content">
								<div class="row ">
									<div class="col-md-12 choose-type" data-type="1" data-doc='0' data-attr="General Power of Attorney">
										<h1 class="for-select-order">GPA</h1>
										<h4 class="for-definition">GENERAL POWER OF ATTORNEY</h4>
										<p class="for-select-para">A Genral Power of attorney is a legal document giving one person (called an "agent" or "attorney-in-fact") the power to act for another person (the principal). The agent can have broad legal authority or limited authority to make legal decisions about the principal's property and finance.</p>
										<div class="overlay">
											<button type="button" class="btn btn-default btn-poa">ORDER NOW</button>
										</div>
									</div>
								</div>
								<div class="row for-spa-content">	
									<div class="col-md-12 choose-type" data-type="2" data-doc='1' data-attr="Special Power of Attorney">
										<h1 class="for-select-order">SPA</h1>
										<h4 class="for-definition">SPECIFIC POWER OF ATTORNEY</h4>
										<p class="for-select-para">A Specific power of attorney, also called a limited power of attorney, grants an agent (also called an attorney-in-fact) the authority to act on behalf of the principal (the person granting this authority) under certain, specified circumstances.</p>
										<div class="overlay">
											<button type="button" class="btn btn-default btn-poa">ORDER NOW</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="estamp_wrap" style="display:none;">
						<div class="arrow hidden-sm hidden-xs">
							<div class="arrow_left estamp_left pull-left">
								<i class="fa fa-angle-left" aria-hidden="true"></i>
							</div>
							<div class="arrow_right estamp_right pull-right">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</div>
						</div>
						<div class="container">
							<h2 class="text-center doc_name">  <%#= @document.name %></h2>
							<div class="row">
								<div class="col-md-8">
									<div class="section_one">
										<div class="order_no">01</div>
										<h2 class="order_txt">E-Stamp</h2>
										<div class="form-group">
										<div class="stamp_study">
											<h4 class="questions_heading">Please enter your Stamp Duty Amount</h4>
											<div class="amount_wrap">
												<span class="rupee_icon"><i class="fa fa-inr"></i></span>
												<input type="text" class="input_style" maxlength="5" id="stamp_amount" name='answer[2]' title="Please type digits other than 0 as first digit" placeholder="Minimum Rs. 100 <%#= @document.service.min_stamp %>" required/>
											</div>
											<input id='stamp_value' type="hidden" name='stamp_amount'>
											<p class="hint_txt">(SERVICE CHARGE: STAMP DUTY AMT. RS. 1 TO 100 = RS. 35, RS. 101 to 1000 = 55, RS. 1001 to 2000 = 75, RS. 2001 to 5000 = 250, Above 5000 = 5%)</p>
										</div>
									</div>
								</div>
								</div>
								<div class="col-md-4">
									<div class="section_two">
										<h3 class="estamp_select">YOU HAVE SELECTED</h3>
										<div class="sub_head stamp_price">
											<span class="stamp_icon">
												<i class="fa fa-inr stamp_rupee" aria-hidden="true"></i>	 <%#= (@order.stamp_amount.to_i + service_charge) %> 
											</span>
											<span class="price_hint">Stamp Paper</span>
										</div>
									</div>
								</div>
							</div>
							<div class="estamp_left continue_btn hidden-md hidden-lg">
								Back
							</div>
							<div class="estamp_right continue_btn">
								Continue
							</div>
						</div>
					</div>
					<div class="select_doc" style="display:none;">
						<div class="arrow hidden-sm hidden-xs">
							<div class="arrow_left doc_left pull-left">
								<i class="fa fa-angle-left" aria-hidden="true"></i>
							</div>
							<div class="arrow_right doc_right pull-right">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</div>
						</div>
						<div class="container">
							<h2 class="text-center doc_name"></h2>
							<div class="row">
								<div class="col-md-8">
									<div class="section_one">
										<div class="order_no">02</div>
										<h2 class="order_txt">Documents</h2>
										<div class="form-group">
										<div class="radio-toolbars time-slot">
											<div class="radio_oneimg" data-attr="1" data-delivery='two' data-desc='Notarized Power of Attorney'>
												<img src="/assets/rental_agreement/notarized_rental.png" alt="">
												<input type="radio"  id="radio2" name="answer[43]" value='Print + Notary + Delivery' checked="checked" required/>
												<label for="radio2"><p>Notarized</p><span><span class="doc_print"></span> Power of Attorney<span></label>
											</div>
											<div class="radio_oneimg" data-attr="2" data-delivery='three' data-desc='Registered Power of Attorney'>
												<img src="/assets/rental_agreement/registered_rental.png" alt="">
												<input type="radio"  id="radio3" name="answer[43]" value='Print + Registration + Delivery' required/>
												<label for="radio3"><p>Registered</p><span><span class="doc_print"></span> Power of Attorney<span></label> 
											</div>
										</div>
									</div>
								</div>
								</div>
								<div class="col-md-4">
									<div class="section_two">
										<h3 class="estamp_select">YOU HAVE SELECTED</h3>
										<h4 class="process_descp"></h4>
										<div class="sub_head doc_price">
											<span class="stamp_icon"><i class="fa fa-inr" aria-hidden="true">999<%#= @document.default_price %></i> </span>
										<br>
										</div>
										<div class="radio_two">
											<span class="price_flow">Drafting <hr class="horizontal1"> Printing <hr class="horizontal1"> Notary <hr class="horizontal1"> Delivery </span>
										</div>
										<div class="radio_three" style="display:none;">
											<span class="price_flow">Drafting <hr class="horizontal1"> Printing <hr class="horizontal1"> Registration <hr class="horizontal1"> Delivery </span>
										</div>
									</div>
								</div>
							</div>
							<div class="doc_left continue_btn hidden-md hidden-lg">
								Back
							</div>
							<div class=" doc_btn continue_btn">
								Continue
							</div>
						</div>
					</div>
					<div class="format_doc" style="display:none;">
						<div class="arrow hidden-sm hidden-xs">
							<div class="arrow_left format_left pull-left">
								<i class="fa fa-angle-left" aria-hidden="true"></i>
							</div>
							<div class="arrow_right format_right pull-right">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</div>
						</div>
						<div class="container">
							<h2 class="text-center doc_name"><%#= @document.name %></h2>
							<div class="row">
								<div class="col-md-8">
									<div class="section_one">
										<div class="order_no">03</div>
										<h2 class="order_txt">Format</h2>
										<div class="option_wrap">
											<h4 class="questions_heading"> Do you have your own format ?</h4>
											<div class="control-group ">
												<label class="control control--radio">YES
													<input type="radio" id="yes_radio" name="answer[3]" value='yes' required/>
													<div class="control__indicator"></div>
												</label>
												<label class="control control--radio ">NO
													<input type="radio" id="no_radio" name="answer[3]" value='no' required/>
													<div class="control__indicator"></div>
												</label>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="section_two">
										<div class="file_upload" style="display:none;">
											<h4>Please upload your document</h4>
											<input id="uploadFile" name='attachment' placeholder="Choose File" disabled/>
											<div class="fileUpload btn btn-primary">
												<span>Upload</span>
												<input id="uploadBtn" name='attachment' type="file" class="upload" />
											</div>
										</div>
										<div class="process" style="display:none;">
											<h4 class="text-center">Our support team will contact you for further process</h4>
										</div>
									</div>
								</div>
							</div>
							<div class="format_left continue_btn hidden-md hidden-lg">
								Back
							</div>
							<div class=" format_btn continue_btn">
								Continue
							</div>
						</div>
					</div>
					<div class="copies_doc" style="display:none;">
						<div class="arrow hidden-sm hidden-xs">
							<div class="arrow_left copies_left pull-left">
								<i class="fa fa-angle-left" aria-hidden="true"></i>
							</div>
							<div class="arrow_right copies_right pull-right">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</div>
						</div>
						<div class="container">
							<h2 class="text-center doc_name"> <%#= @document.name %></h2>
							<div class="row">
								<div class="col-md-8">
									<div class="section_one">
										<div class="order_no">04</div>
										<h2 class="order_txt">Additional Copy</h2>
										<div class="copies_wrap">
											<h4 class="questions_heading"> Do you need additional copies ?</h4>
											<div class="copies_slot">
												<div id="just-a-slider" class="dragdealer">
													<ul class="list_wrapper">
														<li>0</li>
														<li>1</li>
														<li>2</li>
														<li>3</li>
														<li>4</li>
														<li>5</li>
														<li>6</li>
														<li>7</li>
														<li>8</li>
														<li>9</li>
														<li>10</li>
													</ul>
													<div class="handle red-bar">
														<span class="value"></span>
													</div>
													<input type="hidden" name="answer[37]" id="no-of-copies" required>
													<input type="hidden" name='summary' id='summary'>
													<input type="hidden" name='total_amount' id='total_amount'>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="section_two">
										<h3 class="estamp_select">YOU HAVE SELECTED</h3>
										<h4><span class="price_hints no-copy">0</span> Copy</h4>
										<h4 class="sub_head doc_price">
											<div class="total">
												<span class='tot_doc_price'><i class="fa fa-inr" aria-hidden="true"></i></span>
												<span class="tot_stamp_price">
												 + <i class="fa fa-inr" aria-hidden="true">0</i>
												</span>
											</div>
										</h4>
										<span class="price_hints sum_amount"><span class="price_hints no-copy">0</span> Copy + <span class='price_hints no-copy'>0 </span> EStamp</span>
									</div>
								</div>
							</div>
							<div class="copies_left continue_btn hidden-md hidden-lg">
								Back
							</div>
							<div class=" copies_btn continue_btn">
								Continue
							</div>
						</div>
					</div>
					<div class="payment_summary" style="display:none;">
						<div class="arrow hidden-sm hidden-xs">
							<div class="arrow_left payment_left pull-left">
								<i class="fa fa-angle-left" aria-hidden="true"></i>
							</div>
							<div class="arrow_right payment_right pull-right">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</div>
						</div>
						<div class="container">
							<h2 class="text-center doc_name"> <%#= @document.name %></h2>
							<div class="row">
								<div class="col-md-8">
									<div class="section_one">
										<div class="order_no">05</div>
										<h2 class="order_txt">Summary</h2>
										<div class="summary_details">
											<h4 class="questions_heading">Your final order summary </h4>
											<div class="row">
												<div class="col-md-6">
													<h4 class="main_head doc_name"></h4>
												</div>
												<div class="col-md-6 pull-left">
													<h4 class="sub_head doc_price price_style">
														<span><i class="fa fa-inr" aria-hidden="true"><%#= @document.default_price %></i> </span>
														<br>
													</h4>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<h4 class="main_head">Stamp Duty Amount</h4>
												</div>
												<div class="col-md-6 pull-left">
													<h4 class="sub_head stamp_price price_style">
														<span><i class="fa fa-inr" aria-hidden="true"></i> </span><%#= (@order.stamp_amount.to_i + service_charge) %> <br>
													</h4>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<h4 class="main_head">Additional Copies</h4>
												</div>
												<div class="col-md-6">
													<h4 class="sub_head price_style">
														<span class='tot_doc_price'><i class="fa fa-inr" aria-hidden="true"></i></span>
														<span class="tot_stamp_price">
														 + <i class="fa fa-inr" aria-hidden="true">0</i>
														</span>
														<br>
													</h4>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<h4 class="main_head">Delivery Charges</h4>
												</div>
												<div class="col-md-6">
													<h4 class="sub_head price_style">
														<span><i class="fa fa-inr" aria-hidden="true"></i>99</span><%#= @document.service.delivery_charges %><br>
													</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="section_two">
										<h3 class="estamp_select">Total Amount</h3>
										<div class="sub_total final_amount stamp_price">
											<span class="stamp_icon">
												<span><i class="fa fa-inr" aria-hidden="true"></i></span><br> 
											</span>
										</div>
									</div>
									<span class="price_hints sum_amount txt_total">24-48 Hours Delivery</span> 
								</div>
							</div>
							<div class="payment_left continue_btn hidden-md hidden-lg">
								Back
							</div>
							<div class="proceed_btn continue_btn">
								Continue
							</div>
						</div>
					</div>
					
					<div class="cust_info" style="display:none;">
						<div class="arrow hidden-sm hidden-xs">
							<div class="arrow_left contact_left pull-left">
								<i class="fa fa-angle-left" aria-hidden="true"></i>
							</div>
						</div>
						<div class="container">
							<h4 class="text-center"> PLEASE FILL YOUR CONTACT DETAILS</h4>
							<div class="row">
								<div class="col-md-12">
									<div class="section_three summary_wrap">
										<div class="contact_details">
											<div class="payment_details">
												<!-- <p>SHARE YOUR CONTACT DETAILS</p> -->
												<div class="form-group">
													<input type="text" class="input_name" id="fullName" pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" title="Type only characters" name="name"  placeholder="FULL NAME" required/>
												</div>
												<div class="form-group">
													<input type="email" class="input_name" id="email" title="Eg: some@mail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" placeholder="EMAIL ADDRESS" required/>
												</div>
												<div class="form-group">
													<input type="text" class="input_name" id="mobileNumber" maxlength="10" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" title="Enter 10 digit Valid Mobile Number" name="mobile" placeholder="MOBILE NUMBER" required/>
												</div>
											</div>
										</div>  
									</div>
									<div class="terms_wrap">
										<div class="checkbox">
											<label>
												<input type="checkbox" class="terms_condition">
												&nbsp;&nbsp; <span class="chk_hint">I agree to the<a href="/terms"><em>Terms & Conditions</em></a> of Docket Tech</span>
											</label>
										</div>
									</div> 
								</div>
							</div>
							<div class="contact_left continue_btn hidden-md hidden-lg">
								Back
							</div>
							<button type="submit" class="btn btn-primary pay_btn" style="display:none;">PAY &nbsp;&nbsp;&nbsp;<span class="pay_caret"><i class="fa fa-caret-right" aria-hidden="true"></i></span></button>
						</div>
					</div>
				<% end %> 
			</div>
			
		</div>
	</div>
	
	<footer class="foot_wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="for-footer-content">
					<div class="footer-links">
						<div class="col-sm-4 col-md-4 col-lg-4">
							<ul class="links">
								<li>Power of attorney for property</li>
								<li>Power of attorney for a child</li>
								<li>Special power of attorney to sell</li>
								<li>General power of attorney registration</li>
								<li>Special power of attorney for court case</li>
								<li>Power of attorney for deceased</li>
								<li>Power of attorney for income tax</li>
								<li>General power of attorney for sale of property</li>
								<li>Power of attorney for a motor vehicle</li>
								<li>Special power of attorney for bank transactions</li>
								<li>Power of attorney for nri to buy property in india</li>
								<li>Special power of attorney to get documents</li>
								<li>Enduring power of attorney</li>
								<li>Durable power of attorney</li>
								<li>Lasting power of attorney </li>
								<li>Special power of attorney for registration</li>
							</ul>
						</div>
						<div class="col-sm-4 col-md-4 col-lg-4">
							<ul class="links">
								<li>General power of attorney for business affairs</li>
								<li>General power of attorney for care and custody of child</li>
								<li>General power of attorney format for sales tax</li>
								<li>Special power of attorney for housing loan</li>
								<li>General power of attorney for land</li>
								<li>General Power of attorney for property</li>
								<li>General power of attorney for bank loan</li>
								<li>Limited power of attorney for banking</li>
								<li>General power of attorney for partnership firm</li>
								<li>General power of attorney for health care</li>
								<li>General power of attorney for a company</li>
								<li>General power of attorney for all purposes</li>
								<li>General power of attorney for automobile transactions</li>
								<li>General power of attorney for a business</li>
								<li>General power of attorney for agricultural land</li>
								<li>General power of attorney format for buying property in india</li>
							</ul>
						</div>
						<div class="col-sm-4 col-md-4 col-lg-4">
							<ul class="links">
								<li>Special power of attorney for bank loan</li>
								<li>Special power of attorney for buying property</li>
								<li>Special power of attorney for bank accounts</li>
								<li>Special power of attorney for back pay</li>
								<li>Special power of attorney for bidding</li>
								<li>Special power of attorney for house</li>
								<li>Special power of attorney for claiming checks</li>
								<li>Special power of attorney for deed of sale</li>
								<li>Special power of attorney for extrajudicial settlement</li>
								<li>Special power of attorney for real estate sale</li>
								<li>Special power of attorney for joint venture</li>
								<li>Special power of attorney for land title</li>
								<li>Special power of attorney letter for authorization</li>
								<li>Special power of attorney for car loan</li>
								<li>Special power of attorney for mortgage of property</li>
								<li>Power of attorney for quit claim deed</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="hr-line col-sm-12 col-md-12 col-lg-12">
					<hr class="contact_hr-1">      
				</div>
			</div>
		</div>
		<div class="container-fluid for-lower-footer">
			<div class="row">
				<div class="col-md-12 for-lower-footer-content">
					<div class="foot_blk">
						<div class="col-md-4 foot_cont">
							<h3>
								<a href="/">About Us</a>
							</h3>
							<div class="for-line">
							<p>
								Docket is India’s first online platform for documentation and registrations for individuals and businesses.<br> 
								Docket has served a wide range of documentation and registration services to an ever-growing number of customers since it's inception in the year 
								2015. It has quickly become India’s favorite platform for delivering Documentations like Agreements, Affidavits, Bonds and Deeds at customers doorstep with it's core competency in facilitating services like Estamp, Franking, Notary and Attestations. Docket also has an expanded network of experts for Company/Firm, Business Licenses, Property and Legal Paperwork registrations across Bangalore.
							</p>
							</div>
						</div>
						<div class="col-md-3 foot_sub">
							<h3>CONTACT</h3>
							<address>
								DOCKET TECH SOLUTIONS PRIVATE LIMITED<br>
								Mayur Tower, #10, <br>
		                    	1st Floor, 3rd Main Rd, <br>
		                    	Ashwini Layout, Ejipura, <br>
		                    	Bangalore - 560047, <br>
		                    	Karnataka, India<br>
								<i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&plus;91-81-0537 7103<br><br>
								<!-- <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&plus;91-80-4656 4656<br><br> -->
								<i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;sales@dockettech.com
							</address>
						</div>
						<div class="col-md-3 col-md-offset-right-2 foot_links">
							<h3>OUR SERVICES</h3>
							<div class="row footer_links">
								<div class="col-md-3">
									<a href="/in/agreement">Agreements</a>
								</div>
								<div class="col-md-3">
									<a href="/in/affidavit">Affidavits</a>
								</div>
								<div class="col-md-3">
									<a href="/in/bond">Bonds</a>
								</div>
								<div class="col-md-3">
									<a href="/in/deed">Deeds</a>
								</div>
							</div>
							<div class="row footer_links">
								<div class="col-md-3">
									<a href="/in/notary">Notary</a>
								</div>
								<div class="col-md-3">
									<a href="/in/e-stamp">E-stamp</a>
								</div>
								<div class="col-md-3">
									<a href="/in/attestation">Attestation</a>
								</div>
								<div class="col-md-3">
									<a href="/in/franking">Franking</a>
								</div>
							</div>
							<div class="row footer_links">
								<div class="col-md-3">
									<a href="/in/startup">Registration</a>
								</div>
								<div class="col-md-3">
									<a href="/in/marketplace">Licenses</a>
								</div>
								<div class="col-md-3">
									<a href="/in/property">Property</a>
								</div>
								<div class="col-md-3">
									<a href="/in/paperwork">Paperwork</a>
								</div>
							</div>
							<div class="row footer_social">
								<div class="col-md-4"><h3>FOLLOW US</h3></div>
								<div class="col-md-8">
									<ul  style="list-style: none;padding-top:20px;display: inline-block;margin: -3% auto;">
										<a href="https://www.facebook.com/pages/Docket-Tech-Solutions-Private-	Limited/503043613211567">
											<li style="display: inline-block;"><%= image_tag "#{@base_url}/assets/social/facebook.png", :style => "border-radius: 100%;", :alt => "facebook" %></li>
										</a>
										<a href="https://twitter.com/dockettech">
											<li style="display: inline-block;margin-left: 4px;">
												<%= image_tag "#{@base_url}/assets/social/twitter.png", :style => "border-radius: 100%;", :alt => "twitter" %>
											</li>
										</a>
										<a href="https://plus.google.com/u/0/104833829409330467550/posts">
											<li style="display: inline-block;margin-left: 4px;">
												<%= image_tag "#{@base_url}/assets/social/googlef.png", :style => "border-radius: 100%;", :alt => "googleplus" %>
											</li>
										</a>
									</ul>
								</div>
							</div>
							<div class="row footer_links-1">
								<div class="col-md-3">
									<a href="/team">Team</a>
								</div>
								<div class="col-md-3">
									<a href="http://www.dockettech.com/privacy">Privacy</a>
								</div>
								<div class="col-md-3">
									<a href="http://www.dockettech.com/terms">Terms</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hr-line col-sm-12 col-md-12 col-lg-12">
					<hr class="contact_hr">      
					<h6>DOCKET TECH SOLUTIONS PVT. LTD. 2015. All rights reserved</h6>
				</div>
			</div>
		</div>
	</footer>	
	<%= render partial: 'home/google_code' %>
	<script>
		var gpa_spa=1;
		/****************** div color chage jquery ******************/
		$(document).ready(function () {
			/************** Number Of Copies Slider JS Starts ********************/
			$(function() {
				numberSlider = function(){
					new Dragdealer('just-a-slider', {
						speed: 1,
						loose: true,
						steps: 11,
						animationCallback: function(x, y) {
							$('#just-a-slider .value').text(Math.round(x * 10));
							$("#no-of-copies").val(Math.round(x * 10));
							calculateSum();
						}
					});
				}
			})
			/************* Number of Copies Slider JS Ends *********************/
			$(".divhover").hover(function () {
				$(this).css("background", "#dde8db");
			},
			function () {
				$(this).css("background", "#dfe1d4");
			});
			$('#stamp_amount').on('change', function(e){
				stamp_value = parseInt($('#stamp_amount').val()) || 0;
				if (stamp_value <= 0 || stamp_value < 100){
					setNotification('error', 'Min stamp amount Rs 100');
					$('#stamp_amount').val('');
				}
				$('#stamp_value').val(stamp_value);
				calculateSum()
			})
			$('.pay_btn').bind('click',function(e){
				// e.preventDefault();
				// e.stopPropagation();
				var summary = {};
				$('.document-form input').each(function(){
					var elem = $(this);
					var id = elem.attr('id');
					if ((id == 'no-of-copies') || (id == 'date-slot') || (id == 'total_amount') || (id == 'product')){
						var value = elem.val();
						summary[id] = value;
					}
				}) 
			})
			function calculateSum(){
				stamp_value = parseInt($('#stamp_value').val()) || 0;
				var stamp_duty=0;
				if (stamp_value >= 20 && stamp_value <= 100){
					  stamp_duty = 35;
				}
				if (stamp_value >= 101 && stamp_value <= 1000){
					  stamp_duty = 55;
				}
				if (stamp_value >= 1001 && stamp_value <= 2000){
					  stamp_duty = 75;
				}
				if (stamp_value >= 2001 && stamp_value <= 5000){
					  stamp_duty = 250;
				}
				if (stamp_value > 5000){
					  stamp_duty = Math.round(stamp_value * 0.05) ;
				}
				copies = parseInt($('#no-of-copies').val());
				$('.no-copy').html(copies);
				delivery_charge = <%= @document.service.delivery_charges %>;
				document_charge = parseInt($('.doc_price span i').html());
				total_stamp_amount = (stamp_value + stamp_duty);
				total_doc_price = document_charge;
				$('.tot_doc_price i').html(document_charge*copies);
				$('.tot_stamp_price i').html(total_stamp_amount*copies);
				net_amount = ((document_charge + stamp_value + stamp_duty) * (copies + 1)) + delivery_charge;
				$('#total_amount').val(net_amount);
				$('.stamp_price span i').html(total_stamp_amount || 0);
				$('.final_amount span i').html(net_amount);
			}
			
			/************* Time Slot Slider JS Ends *********************/
			$(function() {
				new Dragdealer('simple-slider', {
					speed: 1,
					loose: true,
					steps: 4,
					animationCallback: function(x, y) {
						var time_slot1 = "10AM TO 12PM";
						var time_slot2 = "12PM TO 3PM";
						var time_slot3 = "3PM TO 6PM";
						var time_slot4 = "6PM TO 8PM";
						var decimalValue = x;
						var stepValue = Math.round(x * 3);
						$('#simple-slider .value').text();
						if(stepValue == 0){
							final_time = time_slot1;
						}
						if(stepValue == 1){
							final_time = time_slot2;
						}
						if(stepValue == 2){
							final_time = time_slot3;
						}
						if(stepValue == 3){
							final_time = time_slot4;
						}
						$("#date_slot").val(final_date + " " + final_time);
					}
				});
			})
			/************* Time Slot Slider JS Ends *********************/
			$('.tab-menu a').hover(function (e) {
				e.preventDefault()
				$(this).tab('show')
			})
			/************** Date Slider JS Starts ********************/
			$(function() {	
				new Dragdealer('date-slider', {
					speed: 1,
					loose: true,
					steps: 7,
					animationCallback: function(x, y) {
						var decimalValue = x;
						var stepValue = Math.round(x * 6);
						$('#date-slider .value').text(tot_days[stepValue]);
						final_date = tot_days[stepValue].replace(/(\r\n|\n|\r)/gm," "); 
						$("#date_slot").val(final_date + " " + final_time);
					}
				});
			})
			/************* Date Slider JS Ends *********************/
			$('.bxslider1').bxSlider({
				minSlides: 5,
				maxSlides: 8,
				slideWidth: 360,
				slideMargin: 12,
				moveSlides: 1,
				responsive: true
			});
	  
			/********************* DATE SLOT JS STARTS **********************/
			var current_date = new Date();
			var next_date = new Date();
			var j=0;
			var date = current_date.getDate();
			var tot_days = new Array(7);
			var dd, mm;
			for(j=0; j<7; j++){
				next_date.setDate(next_date.getDate() + 1);
				dd = next_date.getDay();
				mm = next_date.getMonth();
				if(mm==0){
					mm="JAN";
				} else if(mm==1){
					mm="FEB";
				} else if(mm==2){
					mm="MAR";
				} else if(mm==3){
					mm="APR";
				} else if(mm==4){
					mm="MAY";
				} else if(mm==5){
					mm="JUN";
				} else if(mm==6){
					mm="JUL";
				} else if(mm==7){
					mm="AUG";
				} else if(mm==8){
					mm="SEP";
				} else if(mm==9){
					mm="OCT";
				} else if(mm==10){
					mm="NOV";
				} else if(mm==11){
					mm="DEC";
				}	
				if(dd==0) {
					dd="SUN";
				} else if(dd==1){
					dd="MON";
				} else if(dd==2){
					dd="TUE";
				} else if(dd==3){
					dd="WED";
				} else if(dd==4){
					dd="THU";
				} else if(dd==5){
					dd="FRI";
				} else if(dd==6){
					dd="SAT";
				}
				tot_days[j] = dd + "\n" + next_date.getDate() + "\n" + mm;
				var temp = (j + 1);
			}
			final_date = tot_days[0].replace(/(\r\n|\n|\r)/gm," ");
			final_time = "9AM TO 12PM";
			/********************* DATE SLOT JS ENDS **********************/
			document.getElementById("uploadBtn").onchange = function () {
				document.getElementById("uploadFile").value = this.value;
			};
			$(".terms_condition").on("change", function(){
				var isChecked = $(this).prop("checked"); 
				if(isChecked){
					$(".pay_btn").show(); 
				} else {
					$(".pay_btn").hide(); 
				}
			}); 
			$('.radio_oneimg').bind('click', function(e){
				// price = $(this).attr('data-price');
				desc = $(this).attr('data-desc');
				delivery_type = $(this).attr('data-delivery');
				$('.hint_wrap').show();
				$('.date_wrap').hide();
				$('.radio_one, .radio_two, .radio_three').hide();
				$('.radio_'  + delivery_type).show();
				$('.process_descp').html(desc);
				if (gpa_spa == 1){
					 var val = ($(this).attr('data-attr') == '1' )? 999 : 2999;
				}
				if (gpa_spa == 2){
					 var val = ($(this).attr('data-attr') == '1') ? 799 : 2499;
				}
				$('.doc_price span i').html(val);
				$(this).find('input').prop('checked', true)
				calculateSum();
			})

			$('#yes_radio').on('click', function(){
				$('.file_upload').show();
				$('.process').hide();
			})
			$('#no_radio').on('click', function(){
				$('.process').show();
				$('.file_upload').hide();
			})
			$("#stamp_amount").keypress(function (e) {
				$(this).val($(this).val().replace(/^0+|[^0-9.]+/, ''));
				if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
					$(e.target.parentElement).find(".errmsg").html("Digits Only").show().fadeOut("slow");
					return false;
				}
			});
			$("#owl-demo").owlCarousel({
				navigation : false,
				slideSpeed : 600,
				paginationSpeed : 800,
				autoPlay : 3000,
				singleItem:true
			});
			$('.line_tag_poa a').on('click', function(){
				$('html, body').animate({
					scrollTop: $( $.attr(this, 'href') ).offset().top
				}, 3000);
				return false;
			})
		  
			new WOW().init();
			setTimeout(function(){
				$('#radio1').trigger('click');
			},2000);
			$('.enquiry').bind('click', function(e){
				$('.logo').hide();
				$('.city_wrap').hide();
				$('.cust_enquire').show().slideDown();
			})
			$('.close_enquiry').bind('click', function(e){
				$('.cust_enquire').hide();
				$('.logo').show();
				$('.city_wrap').show();
			})
			$('.overlay').bind('click', function(){
				$('.estamp_wrap').show();
				$('.choose_agreement').hide();
			})
			$('.estamp_left').bind('click', function(event){
				event.preventDefault();
				$('.choose_agreement').show();
				$('.estamp_wrap').hide();
				$('.copies_doc').hide();
				$('.select_doc').hide();
				$('.format_doc').hide();
				$('.cust_info').hide();
			})
			$('.estamp_right').bind('click', function(){
				if($('.amount_wrap input:text').val().length == 0){
					setNotification('error', "Min stamp amount Rs 100");
				}
				else{
					$('.select_doc').show();
					$('.estamp_wrap').hide();
				}
			})
			$('.doc_left').bind('click', function(){
				$('.estamp_wrap').show();
				$('.copies_doc').hide();
				$('.select_doc').hide();
			})
			$('.doc_btn , .doc_right').bind('click', function(e){
				e.preventDefault()
				if ($('.time-slot input[name="answer[43]"]:checked').length<=0) {
				   setNotification('error', "Please select atleast one option!");
				}
				else{
					$('.format_doc').show();
					$('.select_doc').hide();
				}
			})
			$('.format_left').bind('click', function(){
				$('.select_doc').show();
				$('.copies_doc').hide();
				$('.format_doc').hide();
				$('.estamp_wrap').hide();
				$('.payment_summary').hide();
				$('.cust_info').hide();
			})
			$('.format_btn , .format_right').bind('click', function(e){
				if ($('.option_wrap input[name="answer[3]"]:checked').length<=0) {
				   setNotification('error', "Please select atleast one option!");
				}
				else{
					$('.copies_doc').show();
					$('.select_doc').hide();
					$('.format_doc').hide();
					$('.estamp_wrap').hide();
				}
				numberSlider();
			})
			$('.copies_left').on('click', function(){
				$('.format_doc').show();
				$('.copies_doc').hide();
				$('.select_doc').hide();
				$('.estamp_wrap').hide();
				$('.payment_summary').hide();
				$('.cust_info').hide();
			})
			$('.copies_btn , .copies_right').bind('click', function(){
				$('.payment_summary').show();
				$('.format_doc').hide();
				$('.copies_doc').hide();
				$('.select_doc').hide();
				$('.estamp_wrap').hide();
				$('.cust_info').hide();
			})
			$('.payment_left').on('click', function(){
				$('.copies_doc').show();
				$('.format_doc').hide();
				$('.select_doc').hide();
				$('.estamp_wrap').hide();
				$('.payment_summary').hide();
				$('.cust_info').hide();
			})
			$('.proceed_btn , .payment_right').bind('click', function(){
				$('.cust_info').show();
				$('.payment_summary').hide();
				$('.format_doc').hide();
				$('.copies_doc').hide();
				$('.select_doc').hide();
				$('.estamp_wrap').hide();
			})
			
			$('.contact_left').on('click', function(){
				$('.payment_summary').show();
				$('.cust_info').hide();
				$('.copies_doc').hide();
				$('.format_doc').hide();
				$('.select_doc').hide();
				$('.estamp_wrap').hide();
			})
			doc_type = {
				'1' :  'General',
				'2' : 'Special'
			}
			$('.choose-type').on('click', function(e){ 
				$('.doc_name').html($(this).attr( "data-attr" ));
				$('#product').val($(this).attr( "data-attr" ));
				type = parseInt($(this).attr("data-type"));
				$('.doc_print').html(doc_type[type]);
				gpa_spa = type;
				price = (gpa_spa == 1) ? 999 : 799;
				$('.doc_price span i').html(price);
				
			});
		});
	</script>
	<%= render partial: 'home/chat_client' %>
</body>
</html>
