<div class="container-fluid section_padd helpcenter box_wrap">
  <section id="breadcrumb-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1">
          <ul class="breadcrumb breadcrumb-bg" id="dynamicBread">
            <li><a href="/helpcenter">Desktop Help</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div class="main clearfix">
    <div class="column nav nav-tabs" id="myTab">
      <div id="dl-menu" class="dl-menuwrapper">
        <ul class="dl-menu dl-menuopen" id="docLeftMenu">
          <li>
            <a href="#">Documents</a>
            <ul class="dl-submenu">
              <li>
                <a href="#">Agreements</a>
                <ul class="dl-submenu tabs">
                  <li class="tab-link" data-tab="tab-1"><a href="#">Definition</a></li>
                  <li class="tab-link" data-tab="tab-2"><a href="#">Purpose</a></li>
                  <li class="tab-link" data-tab="tab-3"><a href="#">Uses</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Affidavits</a>
                <ul class="dl-submenu tabs">
                  <li class="tab-link" data-tab="tab-4"><a href="#">Definition</a></li>
                  <li class="tab-link" data-tab="tab-5"><a href="#">Purpose</a></li>
                  <li class="tab-link" data-tab="tab-6"><a href="#">Uses</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Bonds</a>
                <ul class="dl-submenu tabs">
                  <li class="tab-link" data-tab="tab-7"><a href="#">Definition</a></li>
                  <li class="tab-link" data-tab="tab-8"><a href="#">Purpose</a></li>
                  <li class="tab-link" data-tab="tab-9"><a href="#">Uses</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Deeds</a>
                <ul class="dl-submenu tabs">
                  <li class="tab-link" data-tab="tab-10"><a href="#">Definition</a></li>
                  <li class="tab-link" data-tab="tab-11"><a href="#">Purpose</a></li>
                  <li class="tab-link" data-tab="tab-12"><a href="#">Uses</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Attestation</a>
            <ul class="dl-submenu">
              <li>
                <a href="#">Attestation</a>
                <ul class="dl-submenu tabs">
                  <li class="tab-link" data-tab="tab-13"><a href="#">Definition</a></li>
                  <li class="tab-link" data-tab="tab-14"><a href="#">Purpose</a></li>
                  <li class="tab-link" data-tab="tab-15"><a href="#">Uses</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">E-Stamp</a>
            <ul class="dl-submenu">
              <li>
                <a href="#">E-stamp</a>
                <ul class="dl-submenu tabs">
                  <li class="tab-link" data-tab="tab-16"><a href="#">Definition</a></li>
                  <li class="tab-link" data-tab="tab-17"><a href="#">Purpose</a></li>
                  <li class="tab-link" data-tab="tab-18"><a href="#">Uses</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Franking</a>
            <ul class="dl-submenu">
              <li>
                <a href="#">Franking</a>
                <ul class="dl-submenu tabs">
                  <li class="tab-link" data-tab="tab-19"><a href="#">Definition</a></li>
                  <li class="tab-link" data-tab="tab-20"><a href="#">Purpose</a></li>
                  <li class="tab-link" data-tab="tab-21"><a href="#">Uses</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Legal Opinion</a>
            <ul class="dl-submenu">
              <li>
                <a href="#">Legal Opinion</a>
                <ul class="dl-submenu tabs">
                  <li class="tab-link" data-tab="tab-22"><a href="#">Definition</a></li>
                  <li class="tab-link" data-tab="tab-23"><a href="#">Purpose</a></li>
                  <li class="tab-link" data-tab="tab-24"><a href="#">Uses</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Notary</a>
            <ul class="dl-submenu">
              <li>
                <a href="#">Notary</a>
                <ul class="dl-submenu tabs">
                  <li class="tab-link" data-tab="tab-25"><a href="#">Definition</a></li>
                  <li class="tab-link" data-tab="tab-26"><a href="#">Purpose</a></li>
                  <li class="tab-link" data-tab="tab-27"><a href="#">Uses</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Market Place</a>
            <ul class="dl-submenu">
              <li>
                <a href="#">PAN</a>
                <ul class="dl-submenu tabs">
                  <li class="tab-link" data-tab="tab-28"><a href="#">Definition</a></li>
                  <li class="tab-link" data-tab="tab-29"><a href="#">Purpose</a></li>
                  <li class="tab-link" data-tab="tab-30"><a href="#">Uses</a></li>
                </ul>
              </li>
              <li>
                <a href="#">TAN</a>
                <ul class="dl-submenu tabs">
                   <li class="tab-link" data-tab="tab-31"><a href="#">Definition</a></li>
                  <li class="tab-link" data-tab="tab-32"><a href="#">Purpose</a></li>
                  <li class="tab-link" data-tab="tab-33"><a href="#">Uses</a></li>
                </ul>
              </li>
              <li>
                <a href="#">IE Code</a>
                <ul class="dl-submenu tabs">
                  <li class="tab-link" data-tab="tab-34"><a href="#">Definition</a></li>
                  <li class="tab-link" data-tab="tab-35"><a href="#">Purpose</a></li>
                  <li class="tab-link" data-tab="tab-36"><a href="#">Uses</a></li>
                </ul>
              </li>
              <li>
                <a href="#">TINVATCST</a>
                <ul class="dl-submenu tabs">
                 <li class="tab-link" data-tab="tab-37"><a href="#">Definition</a></li>
                  <li class="tab-link" data-tab="tab-38"><a href="#">Purpose</a></li>
                  <li class="tab-link" data-tab="tab-39"><a href="#">Uses</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Professional Tax</a>
                <ul class="dl-submenu tabs">
                  <li class="tab-link" data-tab="tab-40"><a href="#">Definition</a></li>
                  <li class="tab-link" data-tab="tab-41"><a href="#">Purpose</a></li>
                  <li class="tab-link" data-tab="tab-42"><a href="#">Uses</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Trade License</a>
                <ul class="dl-submenu tabs">
                 <li class="tab-link" data-tab="tab-43"><a href="#">Definition</a></li>
                  <li class="tab-link" data-tab="tab-44"><a href="#">Purpose</a></li>
                  <li class="tab-link" data-tab="tab-45"><a href="#">Uses</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Shop Trade License</a>
                <ul class="dl-submenu tabs">
                  <li class="tab-link" data-tab="tab-46"><a href="#">Definition</a></li>
                  <li class="tab-link" data-tab="tab-47"><a href="#">Purpose</a></li>
                  <li class="tab-link" data-tab="tab-48"><a href="#">Uses</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Service Tax</a>
                <ul class="dl-submenu tabs">
                  <li class="tab-link" data-tab="tab-49"><a href="#">Definition</a></li>
                  <li class="tab-link" data-tab="tab-50"><a href="#">Purpose</a></li>
                  <li class="tab-link" data-tab="tab-51"><a href="#">Uses</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Company Registration</a>
            <ul class="dl-submenu">
              <li>
                <a href="#">Private Limited Company</a>
                <ul class="dl-submenu tabs">
                  <li class="tab-link" data-tab="tab-52"><a href="#">Definition</a></li>
                  <li class="tab-link" data-tab="tab-53"><a href="#">Purpose</a></li>
                  <li class="tab-link" data-tab="tab-54"><a href="#">Uses</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Patnership Firm</a>
                <ul class="dl-submenu tabs">
                  <li class="tab-link" data-tab="tab-55"><a href="#">Definition</a></li>
                  <li class="tab-link" data-tab="tab-56"><a href="#">Purpose</a></li>
                  <li class="tab-link" data-tab="tab-57"><a href="#">Uses</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Public Limited</a>
                <ul class="dl-submenu tabs">
                  <li class="tab-link" data-tab="tab-58"><a href="#">Definition</a></li>
                  <li class="tab-link" data-tab="tab-59"><a href="#">Purpose</a></li>
                  <li class="tab-link" data-tab="tab-60"><a href="#">Uses</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Proprietorship</a>
                <ul class="dl-submenu tabs">
                  <li class="tab-link" data-tab="tab-61"><a href="#">Definition</a></li>
                  <li class="tab-link" data-tab="tab-62"><a href="#">Purpose</a></li>
                  <li class="tab-link" data-tab="tab-63"><a href="#">Uses</a></li>
                </ul>
              </li>
              <li>
                <a href="#">One Person Company</a>
                <ul class="dl-submenu tabs">
                  <li class="tab-link" data-tab="tab-64"><a href="#">Definition</a></li>
                  <li class="tab-link" data-tab="tab-65"><a href="#">Purpose</a></li>
                  <li class="tab-link" data-tab="tab-66"><a href="#">Uses</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Limited Liability Partnership</a>
                <ul class="dl-submenu tabs">
                 <li class="tab-link" data-tab="tab-67"><a href="#">Definition</a></li>
                  <li class="tab-link" data-tab="tab-68"><a href="#">Purpose</a></li>
                  <li class="tab-link" data-tab="tab-69"><a href="#">Uses</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div><!-- /dl-menuwrapper -->
      <!-- content start --> 
      <div style="margin-left:30%" class="for-content">
        <div id="tab-0" class="tab-content current">
          <h2>Helpdesk Overview</h2>
          <p>Docket Helpdesk provides you an overview of the products and services. Each Section of this Helpdesk also gives you the definitions purpose and usage of the products with a prompt information.</p>
        </div>
        <div id="tab-1" class="tab-content">
           An Agreement is an act of coming to a mutual decision, position or arrangement with the awareness and confirmation of corresponding legal rights and duties for a specific work and responsibility between the two parties.
        </div>
        <div id="tab-2" class="tab-content">
           Agreement is a written document describing a cooperative relationship between two parties wishing to work together on a project or to meet an agreed upon objective. This serves as a legal document and describes the terms and details of the partnership agreement. This is more formal than a verbal agreement, but less formal than a contract. Organizations can use this to establish and outline collaborative agreements, including service partnerships or agreements to provide technical assistance and training.
        </div>
        <div id="tab-3" class="tab-content">
          Businesses or individuals that are comfortable with each other will rely on verbal agreements when doing business or making transactions. While in many cases this may not be sufficient, it will leave both parties in a serious bind if the relationship goes sour. Often, when agreements are made verbally, there is room for ambiguity. If both parties are not on the same page, disputes will almost inevitably arise in the future.
          Therefore the agreements serve as a proof to establish and outline business partnerships or contracts to make the relevant work done.
        </div>
        <div id="tab-4" class="tab-content">
          An Affidavit is a written statement made by the person under oath, in front of notary public or authorized officer.
        </div>
        <div id="tab-5" class="tab-content">
          Many formal proceedings and applications require you to swear an affidavit under oath as part of the documentation. Some examples of this are: obtaining a passport, proving service of legal documents, getting a mortgage or other type of loan, changing a title deed after a name change following marriage or divorce, and selling assets.
        </div>
        <div id="tab-6" class="tab-content">
          Affidavits can also be defined as documentation which will be used along with witness statements to prove the truthfulness of a certain statement in court. The most common times which an individual will be required to use an affidavit in the court is in the following circumstances:
          <ol>
            <li>Divorce proceedings</li>
            <li>Property disputes</li>
            <li>Debt cases</li>
          </ol>
          Essentially an affidavit can be a required piece of documentation in any dispute before a court.
        </div>
        <div id="tab-7" class="tab-content">
         A Bond is a legal document where two parties sign the contract and one of them has to satisfy the particular requirement stated in the contract. In other words, you can say a bond is a written and signed document where the person fulfills a specified condition.
        </div>
        <div id="tab-8" class="tab-content">
          The main purpose of Bonds is to serve as a contractual agreement between a project owner and business guaranteeing that the project will be completed or business regulations will be followed. The purposes vary from different bonds. Some of the bonds are Administration Bond, Acknowledgment to Save Limitation, Bond to Keep the Peace, Construction Bond, Investment Bond etc. Bonds provide reassurance that compensation will be available if the agreed terms are not fulfilled.
        </div>
        <div id="tab-9" class="tab-content">
          Uses of Bonds related to Contractors assures that a contractor (such as a plumber, electrician, or general contractor) complies with laws relating to his field. 
          Customs bonds, including importer entry bonds, which assure compliance with all relevant laws, as well as payment of import duties and taxes. 
          Tax bonds, which assure that a business owner will comply with laws relating to the remittance of sales or other taxes.
        </div>
        <div id="tab-10" class="tab-content">
          Deeds are written documents that are signed, sealed, attested and delivered between parties affirming and confirming the interest or right of a company or individual for/against a property, followed by binding the parties into a legal commitment. A deed can also be the document that transfers ownership of real estate. It contains the names of the old and new owners and a legal description of the property, and is signed by the person transferring the property.
        </div>
        <div id="tab-11" class="tab-content">
          There are too many purposes based on different deals. A warranty deed transfers ownership and provides additional promises, including that the transferring party has good title (in other words, the property is free of liens and claims of ownership). A grant deed transfers ownership and traditionally promises that the property hasn't already been transferred to someone else. A quitclaim deed transfers whatever ownership rights that the transferring party may have on the property. Quitclaim deeds are useful for transferring rights when it's unclear exactly what those rights are.
        </div>
        <div id="tab-12" class="tab-content">
          Deeds are often used for residential real estate sales, commercial property transactions, sales of court-seized properties. The Bargain and Sale Deed is used to transfers ownership of a property from the seller to the buyer. Also used to transfer interest in a property from the seller to the buyer in exchange for an agreed-upon price.
        </div>
        <div id="tab-13" class="tab-content">
          Attestation is the procedure to verify or certify a document to the appropriate required level so that the person receiving the document will be satisfied that it is a genuine document.
        </div>
        <div id="tab-14" class="tab-content">
          All the documents intended to be used in India requires legalization which is generally known as attestation or authentication. A long list of attested and certified documents have become standard in all sorts of international transactions. The purposes of Attestation are numerous. Whether you are an individual or corporate, Attestation is required in context of business agreement or transactions, property dealing, admission to educational institutes, child adoption, establishing residency, and more, in or with foreign countries.<br>
          All original documents requiring attestation should first be authenticated by the designated authorities of the State/Union Territory from where the document has been issued.
        </div>
        <div id="tab-15" class="tab-content">
          Educational Documents
          <ol>
            <li>To obtain an employment visa / Labor card in foreign countries</li>
            <li>For Higher education</li>
            <li>To write MOH and DOH Exam by Doctors, Nurses etc.</li>
            <li>To get equivalent certificates.</li>
          </ol>
          Non-Educational Documents
          <ol>
            <li>To Obtain Residence Visa</li>
            <li> For the admission of children in school</li>
            <li>To get the Experience Certificates</li>
            <li>For VISA Extension</li>
          </ol>
        </div>
        <div id="tab-16" class="tab-content">
          E-stamp is a computer based application and a safe way of paying non-judicial stamp duty to the Government. 
        </div>
        <div id="tab-17" class="tab-content">
          Paying stamp duty is an essential part of almost any transaction you do in India, from buying or selling a house to setting up a business agreement or even registering your many insurance policies. The law requires you to pay stamp duty to the central or state government when certain transactions take place, such as buying, selling or leasing property, business agreements, making deeds, etc., that has a financial aspect to it. This payment is done through the purchase of stamp paper and is proof that the government has been paid its share, for future reference.
        </div>
        <div id="tab-18" class="tab-content">
          <ol>
            <li>E-Stamp certificate can be produced within a few minutes.</li>
            <li>The E-Stamp certificate produced is tamper proof and no one can make unauthorized alterations.</li>
            <li>Legitimacy of the E-Stamp certificate possesses a special identification number, which proves its authenticity.</li>
            <li>A specific value is not required.</li>
            <li>E-Stamp certificate can be verified by any person using the suggested website.</li>
          </ol>
        </div>
        <div id="tab-19" class="tab-content">
          Franking is to stamp a mark to show that an amount is paid.  It is another mode of specifying the remission of stamp duty.
        </div>
        <div id="tab-20" class="tab-content">
          Franking is required for HR , Administration , Procurement Department, New Joiners, any new agreement, Renewal of old agreement, Legal contracts with Suppliers , Employees going abroad and for many other such instances. Franking makes this process simpler. Here the stamping is done on the paper on which you want to prepare agreements. The person can ease his authentication of documents by paying requisite fees also by avoiding long standing queues at stamp vendor/Govt. stamping office.
        </div>
        <div id="tab-21" class="tab-content">
          Franking is used for Loan agreements, legal documents and several financial documents.
        </div>
        <div id="tab-22" class="tab-content">
          Legal opinion is a written statement by a judge or group of judges that follows an order or ruling in case. Legal opinions are used in relation with bond issues where issuer’s lawyer may make a demand to provide legal opinion to the manager of the bond issue to ensure that the terms and conditions given in the bond do not violate or breach any law.
        </div>
        <div id="tab-23" class="tab-content">
          Non-Educational Documents
          <ol>
            <li>To inform the addressee of the legal effect of a transaction or matter.</li>
            <li>To identify legal risks that the addressee should consider further and evaluate.</li>
          </ol>
        </div>
        <div id="tab-24" class="tab-content">
          Legal opinions are extensively used when one is planning to purchase or sell an immovable property like flat or a vacant land, resolve commercial or property disputes, handle debt recovery, contract claims etc. to ensure that the title report is done in accordance to the law.<br>
          The report given by the lawyer in the form of the Legal Opinion will definitely help you to decide whether the property is clear and can be purchased without any encumbrance or property related issues. Even property owners who might have purchased the property years back, would benefit by obtaining a legal opinion for the property owned by him.
        </div>   
        <div id="tab-25" class="tab-content">
          A Notary Public is a lawyer or a person in legal practice, who is authorized by the government to implement acts in legal proceedings, specifically in witnessing signatures on documents.
        </div>
        <div id="tab-26" class="tab-content">
          A document that has been notarized is one that’s been marked with a stamp or seal, which indicates that the signature on the document is legitimate. The main purpose of Notarization is to notify the government or bank that you really signed the document and it wasn’t somebody else posing as you. There are also many key purposes of Notary & we have discussed here in brief. To administer oaths and affirmations, statutory declarations, witness and authenticate the execution of certain classes of documents. Also to take acknowledgments of deeds. To attest wills or other testamentary documents, conveyances of real and personal property and powers of attorney.
        </div>
        <div id="tab-27" class="tab-content">
          <ol>
            <li>To verify, authenticate, certify or attest the execution of documents.</li>
            <li>To administer oath to, or take affidavit from any person.</li>
            <li>To translate and verify the translation, of any document from one language into another.</li>
            <li>To act as commissioner, to record evidence in any civil or criminal trial if so directed by the court or authority.</li>
            <li>To act as arbitrator, mediator, or councilor if so required.</li>
          </ol>
        </div>
        <div id="tab-28" class="tab-content">
          Permanent Account Number is given by the Income Tax Department to an individual, company or entity who is an income tax assesse. PAN, or permanent account number, is a unique 10-digit alphanumeric identity allotted to each taxpayer by the Income Tax Department under the supervision of the Central Board of Direct Taxes.
        </div>
        <div id="tab-29" class="tab-content">
          There are many purposes associated with PAN. The primary purpose of PAN to track financial transactions that might have a taxable component to prevent tax evasion with the help of this universal identification key. It serves as an identity proof. PAN is mandatory for all the financial transactions such as receiving taxable salary or professional fees, sale or purchase of assets above specified limits, to buy mutual funds and more.
        </div>
        <div id="tab-30" class="tab-content">
          A PAN card is also required to open an account in any type of bank.  This can be a private, public or co-operative bank. A PAN card is also used for applying for a debit or credit card, for insurance payments, purchasing of a new vehicle or in buying and selling of property, etc. PAN is now required in India for entering into many basic transaction like obtaining a telephone connection or paying more than Rs.25000/- to hotels or restaurants. PAN is also required while making a bank deposit of Rs.50000/- or more.
        </div>
        <div id="tab-31" class="tab-content">
          TAN is a 10 digit alphanumeric number used as a short term measure for Tax Deduction and Collection Account Number. Each and every assesse who is liable for TDS needs to apply for a TAN number and should quote the same number in all TDS returns.
        </div>
        <div id="tab-32" class="tab-content">
          TAN is very important for businesses deducting tax at source and is required to be quoted in TDS or TCS return. The main purpose to have TAN is to pay income tax to government which generate regular source of revenue for Government. Whenever a person earns income, he is supposed to give income tax to government and the best way to track this will be to deduct tax at the source, which is the reason it’s important for you (who is giving income/salary to any person) to have TAN.
        </div>
        <div id="tab-33" class="tab-content">
          TAN is required to be quoted in all TDS/TCS returns, all TDS/TCS payment challans and all TDS/TCS certificates to be issued. TDS/TCS returns will not be received if TAN is not quoted and challans for TDS/TCS payments will not be accepted by banks.
        </div>
        <div id="tab-34" class="tab-content">
          IEC (Importer Exporter Code) number is a 10 digit code number given to an exporter or importer by the regional office of the Director General of Foreign Trade (DGFT), Department of Commerce, Government of India.
        </div>
        <div id="tab-35" class="tab-content">
          All importers must mention their IE Code while clearing customs when their goods arrive in India. All exporters must mention their IE Code while exporting their goods from India. Additionally, now RBI requests person importing or exporting services to also mention IE Code in foreign remittances in bank account. Therefore, IE Code is required for anyone involved in import or export in India.
        </div>
        <div id="tab-36" class="tab-content">
          IE Codes are extensively used by importers & exporters for clearing customs and exporting shipments/services respectively. IE Codes when issued can be used by the entity throughout its existence and doesn't require any renewal or filing. Therefore, it is recommended for most organizations to obtain IE Code, irrespective of if they need it at the moment.
        </div>
        <div id="tab-37" class="tab-content">
          VAT is a value added tax, a tax levied on the sale of goods in India. VAT is generally paid by the end user. Every time the user purchases a product, he has to pay VAT for that particular product.<br>
          <storng>TIN</storng> is a Tax-Payer Identification Number is a type of registration which is similar to VAT registration. TIN number consists of an 11 digit number which is unique.<br>
          CST is Central Sales Tax Registration. VAT Registration is now used as the CST Registration also. Therefore, once the manufacturer or dealers obtains VAT Registration, it can also be used as CST Registration.
        </div>
        <div id="tab-38" class="tab-content">
          VAT Registration is a State level registration for paying VAT, which is mandatory for manufactures and traders having an annual turnover of more than Rs.5 lakhs in most states (Rs.10 lakhs in some states).<br>
          TIN Registration provides the manufacturer or trader with a unique 11 digit number that is the same as VAT Registration Number. Therefore, VAT Registration, TIN Registration and CST Registration are one and the same.
        </div>
        <div id="tab-39" class="tab-content">
          VAT is used to impose indirect tax only on goods sold within a particular state, which essentially means that the buyer and the seller needs to be in the same state. Only when tangible goods and products are sold, VAT can be imposed. CST is used to impose indirect tax only on goods sold from one state to another state, which particularly takes into account that the buyer and the seller needs to be in two different states.
        </div>
        <div id="tab-40" class="tab-content">
          Professional Tax is a tax levied on professions and trades in India. It is a state-level tax and has to be compulsorily paid by every member of staff employed in private companies.
        </div>
        <div id="tab-41" class="tab-content">
          The main purpose of using professional tax certificate by professional tax payers is to collect the professional tax. It is the duty of every employer to collect the professional tax from his employee and deposit the total amount with the municipal corporation. The employer deducts it from the salary of the employee every month. Professional tax registration must be applied to the State’s tax department within 30 days of employing staff in a business.
        </div>
        <div id="tab-42" class="tab-content">
          To collect the professional tax from the salary of the employee every month. This helps to deduct the professional tax paid from your gross salary for income tax calculation. 
        </div>
        <div id="tab-43" class="tab-content">
          The trade license is a means to ensure that the manner in which the business is being carried on is according to the relevant rules, standards and safety guidelines. 
        </div>
        <div id="tab-44" class="tab-content">
          The main purpose of having Trade License certificate/document is, it grants you permission to carry on the particular trade or business for which it is issued based on rules, standards and guidelines. Trade license also ensures that the trade which takes place within the city limits won’t adversely affect the citizen’s health hazard and nuisance by improper practices of Trade. 
        </div>
        <div id="tab-45" class="tab-content">
          Apart from permissions from government Trade licenses also help in acquiring more customers.<br>
          Gains you credibility – This credibility can help to build trust with your customers.  There are other ways to gain credibility, but this is a big one.<br>
          Higher earning potential – Having a license allows you to tackle larger and more profitable jobs.  Plus, many customers are more inclined to pay higher rates to trade licensed contractors opposed to unlicensed handymen.
        </div>
        <div id="tab-46" class="tab-content">
          Shop & Trade license is an important labour state level compliance requirement. This license provides for the regulation of conditions of work and employment in shops and commercial establishments. 
        </div>
        <div id="tab-47" class="tab-content">
          The Shop and Establishment license manages factors such as working hours, break time given for snacks and lunch, business hours, national or religion-based holidays etc. License also regulates the working of commercial establishments, it also regulates societies, printing establishments and educational institutions. 
        </div>
        <div id="tab-48" class="tab-content">
          This license helps to regulate working hours per day and week, guidelines for spread-over, rest interval, opening and closing hours, closed days, national and religious holidays, overtime work, annual leave, maternity leave, sickness and casual leave, employment and termination of service, obligations of employers as well as employees etc. 
        </div>
        <div id="tab-49" class="tab-content">
          Service tax is a tax levied by the government on service providers on certain service transactions. Service tax is to be paid by the receiver of the service. However, service tax is a form of indirect taxation. Service tax is imposed by the Government of India under the Finance Act, 1994, under which various kinds of services provided by businesses are covered. 
        </div>
        <div id="tab-50" class="tab-content">
          The person who provides the taxable service on receipt of service charges along with the service tax is responsible for paying the service tax portion to the Government. It is required by law to register your business, whether it is for an individual, Private or Public Limited, LLP, partnership or a sole proprietorship, for Service Tax once the turnover crosses Rs.9 lakhs. So the main purpose of Service Tax registration is to pay the service tax portion to the Government of India. 
        </div>
        <div id="tab-51" class="tab-content">
          The primary use of this registration is to pay the tax portion to the government. In case you don’t have this registration done & couldn’t collect this amount from customers then you will be required to pay Service Tax from your own pocket. The service provider pays the tax and recovers it from the customer.  
        </div>
        <div id="tab-52" class="tab-content">
          A Private Limited Company is usually a smaller or medium size company. This type of company limits the owner’s/Director’s liability to their shares, as well as limits the shareholder from publicly selling their shares. These companies are closely held businesses usually by family, friends and relatives.  
        </div>
        <div id="tab-53" class="tab-content">
          Private limited company keeps its share into the family member or close friends. By doing so they remain in the control of the business and therefore, would not lose the management advantages and power. Their shares do not trade on public exchanges and are not issued through an initial public offering.  
        </div>
        <div id="tab-54" class="tab-content">
         There are lot of advantages and uses: To name a few
         <ol>
           <li>If the company experience financial distress because of normal business activity, the personal assets of shareholders will not be at risk of being seized by creditors.</li>
           <li>Minimum number of shareholders need to start the business are only2.</li>
           <li>Scope of expansion is higher because easy to raise capital from financial institutions and the advantage of limited liability.</li>
           <li>It is easy to sell business for a company than any other business form. As business Corporation value will be based on the business, not the owner, therefore making it easy to sell the Company.</li>
         </ol>  
        </div>
        <div id="tab-55" class="tab-content">
          Partnership firms are formed by a minimum of two people, called partners, who agree to start a business together by sharing the profit (or loss) equally. A minimum of two Persons are required to start a Partnership firm. A maximum number of 20 Partners are allowed in a Partnership firm.  
        </div>
        <div id="tab-56" class="tab-content">
          The main purpose of registering a Partnership firm is to carry out the business with partners. A proprietor finds him unable to fulfill these requirements. To make the business successful additional persons are required who come together with different edges. For example, a person who lacks managerial skills but may have capital. Another person who is a good manager but may not have capital. When these persons come together, pool their capital and skills and organize a business, it is called partnership.  
        </div>
        <div id="tab-57" class="tab-content">
          There is an agreement among the partners to share the profits earned and losses incurred in partnership business. No partner can transfer his share to any outside person without seeking the consent of all other partners. The partnership firm may be carried on by all partners or any of them acting for all. While dealing with firm’s transactions, each partner is entitled to represent the firm and other partners. In this way, a partner is an agent of the firm and of the other partners.  
        </div>
        <div id="tab-58" class="tab-content">
          A Public Limited Company is a company whose shares can be bought or sold by anyone.  
        </div>
        <div id="tab-59" class="tab-content">
          The main purpose of registering Public Limited Company is that they can raise very large amount of capital for their business. Another main purpose is, you can start a Limited Company with any amount of capital. However, fee must be paid to the Government for issuing a minimum of shares worth Rs.5 lakhs during the incorporation of the Company. There is no requirement to show proof of capital invested during the incorporation process.  
        </div>
        <div id="tab-60" class="tab-content">
          <ol>
            <li>There is limited liability for the shareholders.</li>
            <li>The business has separate legal entity. There is continuity even if any of the shareholders die.</li>
            <li>These businesses can raise large capital sum as there is no limit to the number of shareholders.</li>
            <li>The shares of the business are freely transferable providing more liquidity to its shareholders.</li>
          </ol>  
        </div>
        <div id="tab-61" class="tab-content">
          Proprietorship is a type of business entity in which a person who owns the business is personally responsible for payment of taxes as well as liabilities. This business legally has no separate existence from its owner.  
        </div>
        <div id="tab-62" class="tab-content">
          The main purpose is, this type of company registration will help many entrepreneurs to start their dream company with less capital. There is no limit on the minimum capital for starting a Proprietorship. Therefore, a Proprietorship can be started with any amount of minimum capital. Proprietorship is the best option for you because of its very simple business formation technique for small entrepreneurs who wants to test their ideas or start with small capital with low cost of formation. Sole proprietorship has tax benefits and can easily hire employees procuring full authority over the business.  
        </div>
        <div id="tab-63" class="tab-content">
          <ol>
            <li>Starting a proprietorship is much less complicated than starting a formal corporation, and also much cheaper.</li>
            <li>The owner of a sole proprietorship is not required to file a separate business tax report. Instead, they will list business information and figures within their individual tax return. This can save additional costs on accounting and tax filing.</li>
            <li>Sole proprietorship can hire employees. This can lead to many of the benefits associated with job creation, such as tax breaks. Also, spouses of the business owner can be employed without having to be formally declared as an employee.</li>
            <li>Married couples can also start a sole proprietorship, though liability can only assumed by one individual.</li>
            <li>Control over all business decisions remains in the hands of the owner.</li>
          </ol>  
        </div>
        <div id="tab-64" class="tab-content">
          One Person Company is a company where only 1 person is required to start the business and the owner can be shareholder and director.  
        </div>
        <div id="tab-65" class="tab-content">
          The purpose of One Person Company is, it supports entrepreneurs who on their own are capable of starting a venture by allowing them to create a single person economic entity. A person can incorporate up to five One Person Companies. For small to mid-level entrepreneurs, OPC is the scope for them to grow and to get recognition globally even for their single person entity. Comparatively in OPC there will be less paper work. OPC allows a single person to run a company with limited liability.  
        </div>
        <div id="tab-66" class="tab-content">
          For a One Person Private Limited Company, the shareholder liability is limited to his shareholding. One person company enjoys the corporate status which helps the entrepreneur to attract quality workforce and helps to retain them by giving corporate designations, like directorship. OPC form of company is very easy to manage. The Director of the OPC can be remunerated and contracts can be entered with it shareholders and its directors. Directors’ remuneration, rent and interest are deductible expenses which leads to tax savings.   
        </div>
        <div id="tab-67" class="tab-content">
          Limited Liability Partnership or LLP is defined as a company which merges the features of both, a Company and a Partnership, in a single form of firm.  In a Limited Liability Partnership, one partner will not be held responsible for another partner’s mistake or crime or wrongdoing regarding the business.  
        </div>
        <div id="tab-68" class="tab-content">
          The main purpose of starting LLP is, you can start a Limited Liability Partnership with any amount of capital. There is no requirement to show proof of capital invested during the incorporation process. Partner's contribution may consist of both tangible and/or intangible property and any other benefit to the LLP.  
        </div>
        <div id="tab-69" class="tab-content">
          There is no limit on the amount of owners that can be involved with the business. Limited liability partnerships limit your liability. Since there are multiple owners involved in the business all of the risks of the business are spread out and made much smaller than if a single person was responsible for the business on their own. The partnership itself doesn’t have to file taxes as a business, which provides great breaks for the company. Each partner in the business has the ability to decide how much they want to contribute and how much of a partner they truly want to be in the business.   
        </div>
      </div>
    </div>
  </div>
</div>
  