<div class="pattern">
	<div class="container-fluid section_padd1 home bg_color">
		<div class="row">
			<div class="col-md-12">
				<div class="selection-box">
					<div class="title-box">
						<div class="search_item">
							<input type="text" name="query" id="query" class="search_box" value="" placeholder="SEARCH FOR YOUR DOCUMENT" title=""><span class="search_icon" onclick=""><i class="fa fa-search"></i></span>
						</div>
					</div>
				</div>
				<div class="categories_list" id="images">
					<div class="image">
						<a href="/in/agreement">
							<%= image_tag 'new_images/categories_icons/agreements.png', :class => "agreement_icon", :style => "max-width:40%" %>
							<h2 class="text-center">Agreements</h2>
						</a>
					</div>
					<div class="image">
						<a href="/in/affidavit">
							<%= image_tag 'new_images/categories_icons/affidavits.png', :class => "affidavit_icon", :style => "max-width:40%" %>
							<h2 class="text-center">Affidavits</h2>
						</a>
					</div>
					<div class="image"> 
						<a href="/in/bond">
							<%= image_tag 'new_images/categories_icons/bonds.png', :class => "bonds_icon", :style => "max-width:40%" %>
							<h2 class="text-center">Bonds</h2>
						</a>
					</div>
					<div class="image">
						<a href="/in/deed">
							<%= image_tag 'new_images/categories_icons/deeds.png', :class => "deeds_icon", :style => "max-width:40%" %>
							<h2 class="text-center">Deeds</h2>
						</a>
					</div>
				</div>
				<div class="categories_list" id="images">
					<div class="image">
						<a href="/in/notary">
							<%= image_tag 'new_images/categories_icons/notary.png', :class => "agreement_icon", :style => "max-width:40%" %>
							<h2 class="text-center">Notary</h2>
						</a>
					</div>
					<div class="image">
						<a href="/in/e-stamp">
							<%= image_tag 'new_images/categories_icons/e-stamp.png', :class => "affidavit_icon", :style => "max-width:40%" %>
							<h2 class="text-center">E-Stamp</h2>
						</a>
					</div>
					<div class="image">
						<a href="/in/attestation">
							<%= image_tag 'new_images/categories_icons/attestation.png', :class => "bonds_icon", :style => "max-width:40%" %>
							<h2 class="text-center">Attestation</h2>
						</a>
					</div>
					<div class="image">
						<a href="/in/franking">
							<%= image_tag 'new_images/categories_icons/franking.png', :class => "deeds_icon", :style => "max-width:40%" %>
							<h2 class="text-center">Franking</h2>
						</a>
					</div>
				</div>
				<div class="categories_list" id="images">
					<div class="image">
						<a href="/in/startup">
							<%= image_tag 'new_images/categories_icons/startups.png', :class => "agreement_icon", :style => "max-width:40%" %>
							<h2 class="text-center">Registrations</h2>
						</a>
					</div>
					<div class="image">
						<a href="/in/marketplace">
							<%= image_tag 'new_images/categories_icons/marketplace.png', :class => "affidavit_icon", :style => "max-width:40%" %>
							<h2 class="text-center">Licenses</h2>
						</a>
					</div>
					<div class="image">
							<a href="/in/property">
								<%= image_tag 'new_images/categories_icons/property.png', :class => "bonds_icon", :style => "max-width:40%" %>
								<h2 class="text-center">Property</h2>
							</a>
					</div>
					<div class="image">
						<a href="/in/paperwork">
							<%= image_tag 'new_images/categories_icons/paperwork.png', :class => "deeds_icon", :style => "max-width:40%" %>
							<h2 class="text-center">Paperwork</h2>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="phone_wrap">
	<%= image_tag 'new_images/offerpage.png', :class => "phone_lap" %>
	<div class="phonelap_wrap">
		<span class="download_app">
			<h4>Download our app</h4>
	        <span class="icon_wrap">
	            <a href="https://play.google.com/store/apps/details?id=com.docket" target="_blank"><%= image_tag 'new_images/googleplay.png', :class => "googleplay",  :style => "width: 6%;animation-duration: 1.5s;
	        animation-name: slideInLeft;" %></a> 
	            <a href="https://appsto.re/in/sSvqab.i" title="Docket iOS app" target="_blank"><%= image_tag 'new_images/appstore.png', :class => "appstore",  :style => "width: 6%;animation-duration: 1.5s;
	        animation-name: slideInLeft;" %></a>
	        </span>
	        <a href="know_more"><button type="button" class="btn btn-default know_more">KNOW MORE</button></a>
	        <span class="tagline_wrap">
				<h1 class="main_head">INDIA’S FIRST ONLINE</br> PLATFORM FOR </br>
				DOCUMENTATION </br>AND REGISTRATIONS  </h1>
			</span>
		</span>
	</div>
</div>
<script>
	$(document).ready(function() {
		var document_search = new Bloodhound({
			datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
			queryTokenizer: Bloodhound.tokenizers.whitespace,
			prefetch: localSearch,
			remote: {
				url: '/search/document/',
				replace: function(url, uriEncodedQuery) {
					query = $('#query').val();
					url = url + '?q=' + encodeURIComponent(query)  
					return url;
				}
			}
		});
		var localSearch = function(e){
		};
		document_search.initialize();
		$('#query').typeahead(null,{
			name: 'Location',
			displayKey: 'name',
			minLength: 0,
			source: document_search.ttAdapter()
		}).on('typeahead:selected', function(event, data){            
			setValue(data);
		}).on('typeahead:autocompleted',function(event,data){
			setValue(data);
		});
		function setValue(data){
			window.location.href = '/product/' + data.id + '-' + data.name.split(' ').join('-');
		}
	})
</script>