<div class="row clearfix tagline-padd">
	<div class="col-md-12">
		<h2 class="tag_line">makes your document even better</h3>
		<h1 class="sub_tag_line">THE DOCUMENT EXPERT</h1>
	</div>
</div>
<div class="row clearfix">
	<div class="col-md-12">
		<ul class="list_wrapper">
			<li>
				<a href="/in/agreement"><div class="agreement_icon"> </div></a>
				<p class="text-center">Agreements</p>
			</li>
			<li>
				<a href="/in/affidavit"><div class="affidavit_icon"> </div></a>
				<p class="text-center">Affidavits</p>
			</li>
			<li>
				<a href="/in/bond"><div class="bond_icon"> </div></a>
				<p class="text-center">Bonds</p>
			</li>
			<li>
				<a href="/in/deed"><div class="deed_icon"> </div></a>
				<p class="text-center">Deeds</p>
			</li>
			<li>
				<a href="/in/startup"><div class="startup_icon"> </div></a>
				<p class="text-center">Startups</p>
			</li>
			<li>
				<a href="/in/marketplace"><div class="marketplace_icon"> </div></a>
				<p class="text-center">Marketplace</p>
			</li>
			<li>
				<a href="/in/on-demand"><div class="on_demand_icon"> </div></a>
				<p class="text-center">On-Demand</p>
			</li>
		</ul>
		<!-- <span class="circle_arrow smooth wow " style="animation-duration: 2s;animation-name:zoomIn"><i class="fa fa-angle-down"></i></span> -->
		<a href="#toBottom" class="toBottom">
		</a>
		<a name="toBottom"></a>
	</div>
</div>


<script>
	$('.toTop ').click(function(){
	  $("html, body").animate({ scrollTop: 0 }, 600);
	  return false;
	});
	$('.toBottom').click(function(){
	  $('html,body').animate({scrollTop: $(document).height()}, 600);
	  return false;
	});

	// $(".circle_arrow").click(function() {
	//     $('html, body').animate({
	//         scrollTop: $("#documents").offset().top
	//     }, 500);
	// });
</script>
