<div class="pattern" id="know_more">
	<div class="container-fluid contaer_wrap section_padd offer bg_color">
		<div class="row">
			<div class="col-md-12">
				<%= image_tag 'new_images/detail_page.jpg', :class => "detail_page", :style => "width: 100%; height:auto;position:relative;top:10px"%>
			</div>
		</div>
		<div class="row containt">
			<div class="col-md-3">
	            <ul class="offer_ul nav" >
	               <!--  <li ><a data-toggle="tab" href="/">Back</a></li> -->
	                <li class="active"><a data-toggle="tab" href="#offer">Offer <span>></span></a></li>
	                <li id=""><a data-toggle="tab"  href="#eligibility">Offer Eligibility <span>></span> </a></li>
	                <li id=""><a data-toggle="tab" href="#criteria">Offer Eligibility Criteria <span>></span> </a></li>
	                <li id=""><a data-toggle="tab" href="#term">Terms & Conditions <span>></span> </a></li>
	            </ul>
			</div>
			<div class="col-md-9 tab-content">
				<div class="row tab-pane in active" id="offer">
					<div class="col-md-12 col-xs-12">
						<h4 ><b>Alliance with docket tech solution private limited</b></h4>
						<p class="style_para">The Alliance Partner shall offer discounts/benefits/offer/gift vouchers etc of a
							particular sum or percentage on purchase of its products/services to the Customer/s
							during the Offer Period. The discount shall be Flat 15% off excluding stamp duty &
							Government charges on purchase of the Alliance Partner’s products/services. The discount
							shall be available on the MRP 1 (inclusive of all taxes) and shall be calculated on the total
							value of the transaction. <b>The discount shall be available on the following
							products/services of the Alliance Partner 2:</b>
						</p>
						<div class="categories_list" id="images">
							<div class="image bg">
								<a href="/in/agreement">
									<%= image_tag 'new_images/categories_icons/agreements.png', :class => "agreement_icon", :style => "max-width:40%;position:relative;top: 10px" %>
									<h2 class="text-center">Agreements</h2>
								</a>
							</div>
							<div class="image bg">
								<a href="/in/affidavit">
									<%= image_tag 'new_images/categories_icons/affidavits.png', :class => "affidavit_icon", :style => "max-width:40%;position:relative;top: 10px;" %>
									<h2 class="text-center">Affidavits</h2>
								</a>
							</div>
							<div class="image bg"> 
								<a href="/in/bond">
									<%= image_tag 'new_images/categories_icons/bonds.png', :class => "bonds_icon", :style => "max-width:40%;position:relative;top: 10px;" %>
									<h2 class="text-center">Bonds</h2>
								</a>
							</div>
							<div class="image bg">
								<a href="/in/deed">
									<%= image_tag 'new_images/categories_icons/deeds.png', :class => "deeds_icon", :style => "max-width:40%;position:relative;top: 10px;" %>
									<h2 class="text-center">Deeds</h2>
								</a>
							</div>
						</div>
						<div class="categories_list" id="images">
							<div class="image1 bg1">
								<a href="/in/startup">
									<%= image_tag 'new_images/categories_icons/startups.png', :class => "agreement_icon", :style => "max-width:20%;position:relative;top: 10px" %>
									<h2 class="text-center">Company Registrations</h2>
								</a>
							</div>
							<div class="image bg">
								<a href="/in/marketplace">
									<%= image_tag 'new_images/categories_icons/marketplace.png', :class => "affidavit_icon", :style => "max-width:40%;position:relative;top: 10px" %>
									<h2 class="text-center">Licenses</h2>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row tab-pane " id="eligibility">
					<div class="col-md-12 col-xs-12">
						<h4 ><b>Customer who shall be eligible to the Offer:</b></h4>
						<p class="style_para">
							<ul>
								<li>ICICI Bank Debit cardholder/s</li>
								<li>ICICI Bank Credit cardholder/s</li>
								<li>ICICI Bank Net banking user/s</li>
								<li>ICICI Bank Gift/Prepaid cardholder/s</li>
								<li>Pockets by ICICI Bank</li>
							</ul>
							In order to avail the Offer the Customer shall be required to transact online on the
							Alliance Partner’s Website <a href="www.dockettech.com">www.dockettech.com</a> and enter the promo code ”ICICI20”
							during the Offer Period and shall be required to make payment through the account/cards
							held by the Customer with ICICI Bank.</b>
						</p>
					</div>
				</div>	
				<div class="row tab-pane " id="criteria">
					<div class="col-md-12 col-xs-12">
						<h4 ><b>The availability of the offer is based on the following criteria:</b></h4>
						<p class="style_para">
							To avail benefits under the Offer the ICICI Bank Net Banking User/Cardholder shall be
							required to make a transaction/purchase on the Website using ICICI Bank Net Banking
							Service(s) during the Offer Period from 1 st September 2016 to 30 th September 2017 both days
							inclusive.<br>
							The Offer is valid only for select set of ICICI Bank Net Banking User(s)/Cardholder(s)
							selected at the sole discretion of ICICI Bank and who have received communication about
							the Offer from ICICI Bank, during the Offer Period.<br>
							Participation in the Offer by the ICICI Bank Net Banking User/s/Cardholder(s) is on a
							voluntary basis.<br>
							The ICICI Bank Net Banking User/s /Cardholder(s) may avail the Offer during the Offer
							<b>1)</b> BG to confirm
							<b>2)</b> BG to fill the name of the products/services of alliance partner on which the discount shall be made available.<br>
							Period or until the stock lasts, whichever is earlier.<br>
							This Offer cannot be clubbed with any other Offer that may be made available to the ICICIBank Net Banking User/s/Cardholder(s) by the Alliance Partner.<br>
							The Offer is non-transferable, non-binding and non-encashable.<br>
							The Offer is not valid for Void Transactions.
						</p>
					</div>
				</div>
				<div class="row tab-pane " id="term" >
					<div class="col-md-12 col-xs-12" >
						<h4 ><b>Terms and Conditions for Alliance partner's Offer</b></h4>
						<p class="style_para" id="target" style="overflow: scroll; width: 100%; height: 400px;"><b>I)DEFINITIONS</b><br>
							<b>“Alliance partner”</b> shall mean Docket Tech Solutions (P) Limited, who has entered into an
							alliance agreement with ICICI Bank for purpose of providing the Offer.<br>
							<b>“Customer/s”</b> for the purpose of this Offer shall mean a person who is using ICICI bank
							Netbanking services or holds a valid ICICI Bank VISA/MASTER Debit card/Prepaid card or
							holds a valid VISA/MASTER Credit Card issued by ICICI Bank and who has received
							communication from ICICI Bank with respect to the Offer.<br>
							<b>“ICICI Bank Net Banking User”</b> shall mean a person who holds an ICICI Bank savings
							account, loan / facility account(s), depository account(s) and/or any other type of
							account(s), so maintained with ICICI Bank or its Affiliate which are eligible account(s) for
							purposes of ICICI Bank Net Banking Service(s) and who has received communication from
							ICICI Bank with respect to the Offer.<br>
							<b>“Cardholder”</b> shall mean a customer to whom the Facility has been granted by virtue of
							such customer holding a Card.<br>
							<b>"Card"</b> shall mean Debit card/Credit card /Prepaid card /Gift Card/Pockets shopping card,
							which has been issued by ICICI Bank and is valid and subsisting during the Program Period.<br>
							<b>"Pockets"</b> shall mean the Pockets by ICICI Bank Digital banking mobile application on
							which both existing ICICI bank customers and non ICICI bank customers can get on-
							boarded. For existing ICICI Bank savings account customer/s, on-boarding can be done
							through their ICICI Bank internet banking user ID and password whereas for non ICICI Bank
							users, on-boarding can be done by entering minimum details such as mobile number, name
							and address along with pin code, and a new ICICI Bank user ID and password can be
							created.<br>
							<b>“Pockets Wallet”</b> It refers to ICICI Bank virtual semi closed prepaid instrument having a
							monthly transaction limit of Rs, 10000/-.<br>
							<b>“Application”</b>refers to Pockets mobile application of ICICI Bank which can be
							downloaded from iOS App Store and Google Play store for Android mobile operating
							systems to avail products and services offered by ICICI Bank through this mobile
							application.<br>
							<b>“Offer”</b> shall mean instant discount/benefit provided by the "Alliance partner" on
							purchase of Products/Services using ICICI Bank Debit/Credit/Prepaid/Gift Card or Net
							Banking services.<br>
							<!-- “Offer Period” shall mean the period commencing from 1 st September 2016 to 31 st March
							2017, both days inclusive. -->
							<b>"Website"</b> shall mean the following "website" URL: <a href="www.dockettech.com">www.dockettech.com</a> of the "Alliance partner"<br>
							<b>"Void Transactions"</b> shall mean wherein the transaction has taken place but has been
							rejected /cancelled/ been unsuccessful at the ""website"" of the "Alliance partner".<br>
							"Primary Terms and Conditions" shall mean the terms and conditions applicable to ICICI Bank’s Internet banking facility/service.<br>
							<b>“Products/Services”</b> shall mean the goods/benefits/facilities offered by the Alliance
							Partner.<br>
							All capitalized terms used but not defined herein shall have the respective meanings
							prescribed to them in the Primary Terms and Conditions. These terms (“Terms”) shall be
							in addition to and not in derogation of the Primary Terms and Conditions. To the extent of
							any inconsistency between these Terms and Primary Terms and Conditions, these Terms
							shall prevail.<br>
							<b>III)</b> Steps To Avail The Offer<br>
							1. Log on to <a href="www.dockettech.com">www.dockettech.com</a><br>
							2. Select products / services of choice<br>
							3. Enter your coupon code at the time of booking to be eligible for the discount during
							checkout before making payment.<br>
							4. Make your Payment through ICICI Bank Net Banking, ICICI Bank Credit Card or ICICI Bank
							Debit Card/Prepaid/Gift card.<br>
							<b>IV)</b> Terms and Conditions Prescribed by Alliance Partner
							The offer is brought to you by the Alliance partner. ICICI Bank is only communicating the
							offer on behalf of the Alliance Partner
							The offer is valid on purchase of all products displayed on the website
							Alliance partner to include the relevant TnC of the offer
							All disputes, if any, arising out of or in connection with or as a result of above offers or
							otherwise relating hereto shall be subject to the exclusive jurisdiction of the competent
							courts / tribunals in Mumbai only, irrespective of whether courts / tribunals in other areas
							have concurrent or similar jurisdiction.<br>
							<b>V)</b> Terms and conditions prescribed by ICICI Bank<br>
							a) Terms and conditions prescribed for ICICI Bank Netbanking Users<br>
							The offer is brought to you by the Alliance partner. ICICI Bank is only communicating the
							offer on behalf of the Alliance Partner<br>
							The Offer is valid only for select set of ICICI Bank Net Banking User(s) selected at the sole
							discretion of ICICI Bank and who have received communication about the Offer from ICICI
							Bank, during the Offer Period.<br>
							Participation in the Offer by the ICICI Bank Net Banking User/s is on a voluntary basis.
							The ICICI Bank Net Banking User/s may avail the Offer during the Offer Period or until the
							stock lasts, whichever is earlier.<br>
							This Offer cannot be clubbed with any other Offer that may be made available to the ICICI
							Bank Net Banking User/s by the Alliance Partner.<br>
							The Offer is non-transferable, non-binding and non-encashable.<br>
							The Offer is not valid for Void Transactions<br>
							ICICI Bank does not guarantee and make any representation about the usefulness,
							worthiness and/or character of the discount / benefit or of the Products/Services under
							the Offer provided by the Alliance Partner.<br>
							Any tax or other liabilities or charges payable to the government or any other statutory
							authority/body or any participating establishment, which may arise or accrue to the ICICI
							Bank Net Banking User/s due to provision of the Offer, shall be to the sole account of the
							ICICI Bank Net Banking User/s. Tax deducted at source, if any, on the monetary value of
							the Offer shall be payable by the ICICI Bank Net Banking User/s.<br>
							All issues / queries / complaints / grievances relating to the Offer, if any, shall be
							addressed to Alliance Partner directly at without any reference to ICICI Bank. The same
							shall be addressed by the "Alliance partner", only up to a period of 2 days after the date of
							transaction/purchase.<br>
							The existence of a dispute, if any, regarding the Offer shall not constitute a claim against
							ICICI Bank and shall be addressed directly by the "Alliance partner".<br>
							The existence of a dispute, if any, regarding the Offer shall not constitute a claim against
							ICICI Bank and shall be addressed directly by the "Alliance partner"<br>
							The Offer is not available wherever prohibited and / or on products / services for which
							such offers cannot be made available for any reason whatsoever.<br>
							ICICI Bank/Alliance Partner reserve the right to modify/ change all or any of the terms
							applicable to the Offer without assigning any reasons or without any prior intimation
							whatsoever. ICICI Bank also reserves the right to discontinue the Offer without assigning
							any reasons or without any prior intimation whatsoever.<br>
							If the ICICI Bank Net Banking User ceases to be an ICICI Bank Net Banking User at any time
							during the currency of the Offer Period, all the benefits under the Offer shall lapse and
							shall not be available to the ICICI Bank Net Banking User.<br>
							b) Terms and conditions prescribed ICICI bank Credit & Debit Card Holders<br>
							ICICI Bank holds out no warranty or makes no representation about the quality, delivery or
							otherwise of the goods and services offered by the alliance partner. Any dispute or claim
							regarding the goods, services and assured gifts / prizes must be resolved by the Card
							Holder/s with the alliance partner directly without any reference to ICICI Bank.
							ICICI Bank shall not be liable in any manner whatsoever for any loss/ damage/ claim that
							may arise out of use or otherwise of any goods/ services / offer availed by the Card
							Holder/s under the alliance offered by the alliance partner.<br>
							ICICI Bank reserves the right to disqualify the alliance Partner/s or Card Holder/s from the
							benefits of the alliance if any fraudulent activity is identified as being carried out for the
							purpose of availing the benefits under the alliance or otherwise by use of the Card.
							The Offer is sponsored by the alliance Partner and the Card Holder/s shall be bound by the
							terms and conditions stipulated by the alliance Partner in this regard.<br>
							ICICI Bank shall not be held liable for any delay or loss that may be caused in delivery of
							the goods and services.<br>
							The Offer is not available wherever prohibited and / or on merchandise / products /
							services for which such alliances cannot be offered for any reason whatsoever.<br>
							<b>Communication of the Offer:</b> The Offer shall be communicated to the Customer/s in such
							manner as ICICI Bank may deem fit in this regard.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="offer_wrap">
	<%#= image_tag 'new_images/phone_lap.png', :class => "phone_lap" %>
	<div class="phonelap_wrap">
		<span class="download_app">
			<h4>Download our app</h4>
	        <span class="icon_wrap">
	            <a href="https://play.google.com/store/apps/details?id=com.docket" target="_blank"><%= image_tag 'new_images/googleplay.png', :class => "googleplay",  :style => "width: 6%;animation-duration: 1.5s;
	        animation-name: slideInLeft;" %></a> 
	            <a href="https://appsto.re/in/sSvqab.i" title="Docket iOS app" target="_blank"><%= image_tag 'new_images/appstore.png', :class => "appstore",  :style => "width: 6%;animation-duration: 1.5s;
	        animation-name: slideInLeft;" %></a>
	        </span>
	        <span class="tagline_wrap">
				<h1 class="main_head">INDIA’S FIRST ONLINE</br> PLATFORM FOR </br>
				DOCUMENTATION </br>AND REGISTRATIONS  </h1>
			</span>
		</span>
	</div>
</div>
<script>
	$(document).ready(function() {
		var document_search = new Bloodhound({
			datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
			queryTokenizer: Bloodhound.tokenizers.whitespace,
			prefetch: localSearch,
			remote: {
				url: '/search/document/',
				replace: function(url, uriEncodedQuery) {
					query = $('#query').val();
					url = url + '?q=' + encodeURIComponent(query)  
					return url;
				}
			}
		});
		var localSearch = function(e){
		};
		document_search.initialize();
		$('#query').typeahead(null,{
			name: 'Location',
			displayKey: 'name',
			minLength: 0,
			source: document_search.ttAdapter()
		}).on('typeahead:selected', function(event, data){            
			setValue(data);
		}).on('typeahead:autocompleted',function(event,data){
			setValue(data);
		});
		function setValue(data){
			window.location.href = '/product/' + data.id + '-' + data.name.split(' ').join('-');
		}
	})

	// $( "#target" ).scroll(function(){

	// })
</script>