<div class="row">
	<div class="col-md-2-offset col-md-10 body-wrapper">
		<div class="row marketplace_flip">
			<div class="col-md-12">
				<div class="description">
					<h1 class="text-center" style="color:#fff;position: relative;top: 1em;">MARKETPLACE</h1>
					<div class="form_wrapper">
						<div class="question">
							<h4>Select your choice of Sales</h4>
						</div>
						<div class="answer">
							<input  class="rdb radio_style" data-atr='3' type="radio" name="answer[11]" value="Online" required>Online
							<input  class="rdb radio_style" data-atr='4' type="radio" name="answer[11]" value="Offline"  required>Offline
							<div id="blk-3" class="toHide" style="display:none">
								<span><p>Our platform will connect you to Marketplace Ecosystem</p></span>
							</div>
							<div id="blk-4" class="toHide" style="display:none">
							    <span><p>It's the right time to go online. Contact our Sales Team.</p></span>
							</div>
						</div>
					</div>
					<button class="start">GO</button>
					<!-- <div class="btn">Register</div> -->
				</div>
				<div class="questionaire form-question">
				<%= form_tag('/neworder', type: :post, :class => 'marketplace-form', :style => "display:none;", multipart: true) do |f| %>
						<%= hidden_field_tag 'user_id',nil, value: current_user %>
						<%= hidden_field_tag 'service_id',nil, value: @service.id %>
						<%= hidden_field_tag 'product',nil, value: 'Marketplace Registeration' %>
						<%= hidden_field_tag 'answer[11]',nil, value: '' %>
					<div class="modal-header">
				        <button type="button" class="close close_style" data-dismiss="modal">&times;</button>
				    </div>
						<div class="layer-question layer txtName">
							<div class="row">
								<div class="col-md-6">
									<div class="question">
										Tell us more about your Product/s
									</div> 
								</div>
							
								<div class="col-md-4">
									<div class="answer">
										<!-- <span id="errmsgtxt"></span> -->
										<input type="text" class="input_styling" name='answer[12]' maxlength="50" placeholder="About your product" id='form-query' required>
									</div>
								</div>
								<div class="col-md-2">
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="layer-question layer">
							<div class="row">
								<div class="col-md-6">
									<div class="question">
										Do you have a Current Account?
									</div>
								</div>
								<div class="col-md-4">
									<div class="answer">
										<input  class="rdb radio_style" data-atr='1' type="radio" name="answer[13]" value="yes" title="Awesome" required>Yes
										<input  class="rdb radio_style" data-atr='2' type="radio" name="answer[13]" value="no" title="Our Banking partner will assist you for Current Account" required>No
										<!-- <div id="blk-1" class="toHide" style="display:none">
											<span><p>Awesome</p></span>
										</div>
										<div id="blk-2" class="toHide" style="display:none">
										    <span><p>Our Banking partner will assist you for Current Account</p></span>
										</div> -->
									</div>
								</div>
								<div class="col-md-2">
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="layer-question layer">
							<div class="row">
								<div class="col-md-6">
									<div class="question license-ques">
										Select the list of Services you need
									</div>
								</div>
								<div class="col-md-6">
									<div class="answer">
										<span><p>Min 2 licenses are required to start selling</p></span>
										<input name="answer[14][]" class="radio_style" value="pan" type="checkbox">PAN
										<input name="answer[14][]" class="radio_style" value="TAN" type="checkbox">TAN
										<input name="answer[14][]" class="radio_style" value="IEC CODE" type="checkbox">IE CODE
										<input name="answer[14][]" class="radio_style" value="TIN - VAT/CST" type="checkbox">TIN - VAT/CST
										<br>
										<input name="answer[14][]" class="radio_style" value="PROFESSIONAL TAX" type="checkbox">PROFESSIONAL TAX 
										<input name="answer[14][]" class="radio_style" value="SMALL SCALE INDUSTRY" type="checkbox"> TRADE LICENSE 
										<br>
										<input name="answer[14][]" class="radio_style" value="SHOP & ESTABLISHMENT LICENSE" type="checkbox">SHOP & ESTABLISHMENT LICENSE
										<input name="answer[14][]"  class="radio_style"value="SERVICE TAX " type="checkbox">SERVICE TAX 
										<br>
										<input name="answer[14][]" class="radio_style" value="OTHERS" type="checkbox">OTHERS
										<span><p>Not sure about the selection ?<br>No Worries ! Our Customer Support Team will get in touch with you</p></span>
									</div>
								</div>
							</div>
						</div>
						<div class="layer-question total-sum layer">
							<div class="row">
								<div class="col-md-6">
									<!-- <div class="question">Get your License in 3 EMI's
										<span><p>We shall refund 87% of booking amount, if you are not happy with our service.</p></span>
									</div> -->
								</div>
								<div class="col-md-4">
									<div class="answer">
										<input type="hidden" name='total_amount' value='4999'>
									</div>
								</div>
								<div class="col-md-2">
									<div class="price" id='total-price'>Rs. <span>4999</span>
										<div><p>(Booking Amount)</p></div>
									</div>
									<div class="submit-btn">
										<input type="submit" class="submit" value='Next'>
									</div>
								</div>
							</div>
						</div>
						<div class="next pull-right">
						    Next
						</div>
					<%end%>
				</div>
				<%= render 'sticky_sidebar' %>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
	    $('.start').hide();
	    $(".rdb").click(function(e){
	        $('.toHide').hide();
	        $("#blk-"+ e.target.dataset['atr']).show('slow');
	    });
		$('.calendar').datepicker({
		    minDate: 0,
		    changeMonth: true,
		    dateFormat: "dd/mm/yy",
		    firstDay: 1,
		    changeYear: false,
		    stepMonths: 1,
		    hideIfNoPrevNext: true,
		    showAnim: 'slideDown',
		    showOn: "both",  
		    showOtherMonths: true,
		    showStatus: true,
		    beforeShow: function(text, inst){        
		        var next_day = new Date(
		            inst.selectedYear,
		            inst.selectedMonth,
		            inst.selectedDay
		        );        
		        next_day.setDate(next_day.getDate()+1);
		        if(inst.selectedMonth != next_day.getMonth())
		            return {numberOfMonths: 2};
		        else
		            return {numberOfMonths: 1};
		    }
		});
		var n = 0;
		$('.start').click(function(){
			$('.description').hide('slow');
			$('.marketplace-form').show('slow');
			$('.questionaire').show();
			nextQuestion(n);
		    $('.next').show();
		    $('.start').hide();
		    $('.submit').hide();
		})
		function nextQuestion(n){
		    if (inputValidate()) {
			$('form').children('.layer').eq(n).show().addClass('active');
		    }
		}
		function inputValidate() {
		    if($('form').children('.layer').eq(n-1).find('input').val() === ''){
                error = 'NOVAL';
		    	return false;
		    }
            else {
			    n += 1; 
				return true;
            }
		}
		$('.next').on('click', function(){
			if (n > ($('.layer').length - 2)){
		   		$('form').children('.layer').show();
		   		$('.next').hide();
		   		$('.submit').show();
			}
		    else{
		        nextQuestion(n);
		    }
		});
		$(".txtName").on("click", function () {
	        var regex = /^[a-zA-Z ]*$/;
	        if (regex.test($(".txtName").val())) {
	            return true;
	        } else {
	            e.preventDefault();
	        }
	    });
		$('.close_style').on('click', function(){
			$('.marketplace-form').hide();
			$('.description').show();
			$('.marketplace-form').find('input:text').val(''); 
    		$('input:radio').removeAttr('checked');
    		$('input:checkbox').removeAttr('checked');
		});
		$('.description input:radio').on('change', function(){
			$('.start').show();
			$('#answer_11').val($(this).val())
		})

		window.onload=function() {
		  document.forms[0].reset();
		  placeFocus();
		}       
		function placeFocus() {
		  document.forms[0].elements[0].focus(); // assuming the first element
		}

		// $('.submit').click(function() {
		// 	debugger
	 //      	var requiredCheckboxes = $(':checkbox[required]');
		//     requiredCheckboxes.change(function(){
		//         if(requiredCheckboxes.is(':checked')) {
		//             requiredCheckboxes.removeAttr('required');
		//         } else {
		//             requiredCheckboxes.attr('required', 'required');
		//         }
		//     });
	 //    });

		var verifyCheckBoxRequired = function () {
            var chk_arr =  document.getElementsByName("answer[14][]");
            var chklength = chk_arr.length;             
            var noCheckRequired = false;

            for(k=0;k< chklength;k++)
            {
                if(chk_arr[k].checked)
                {
                    noCheckRequired = true;
                }

            } 
            if(noCheckRequired)
            {
                $(':checkbox[required]:not(:checked)').removeAttr('required');    
            }

        }

        $('.submit').click(verifyCheckBoxRequired);
	})
</script>



