<div class="container download-app">
    <div class="row for-down">
        <div class="col-md-6 sendlink_wrap">
          <div class="sendlink_section">
            <div class="row">
              <div class="col-md-12">
                <h1 class="sendlink-txt style"><b>Lorem Ipsum is simply dummy text</b></h1>
                <p class="sendlink-txt">Lorem Ipsum has been the industry's standard dummy text</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 for-tabs">
                <nav class="site-nav">
                <ul class="tabs">
                  <li class="active"><a href="#tab1"> <i class='fa fa-android'></i> Android</a></li>
                  <li><a href="#tab2"><i class='fa fa-apple'></i> Iphone</a></li>
                </ul>
                </nav>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <form> 
                  <span class="block"> 
                  
                   <input type="hidden" name='type' class="sendapp-input quantity mobile_type" id="tab1" value='android'>
                   <input type="text" placeholder="Enter your Mobile Number" name='iphone' class="sendapp-input quantity" required maxlength="10"> 
                   
                 </span>
                  <button type="submit" class="sendapp-btn">Send App Link</button>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 tab-link">
                <span class="icon_wrap">
                  <a href="https://play.google.com/store/apps/details?id=com.docket" target="_blank"><%= image_tag 'new_images/googleplay-big.png' %></a> 
                  <a href="https://appsto.re/in/sSvqab.i" title="Docket iOS app" target="_blank"><%= image_tag 'new_images/appstore-big.png' %></a>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mobile-img">
          <%= image_tag 'new_images/download-mobile.png', :class => "img-responsive" %>
        </div>
    </div>
</div>
<script type="text/javascript">
  $(".quantity").keypress(function (e) {
     //if the letter is not digit then display error and don't type anything
     if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        //display error message
        
               return false;
    }
   });
  $(function(){
  // $('ul.tabs li:first').addClass('active');
  // $('.block input').hide();
  // $('.block input:first').show();
  $('ul.tabs li').on('click',function(e){
    $('ul.tabs li').removeClass('active');
    $(this).addClass('active');
    // $('.block input').hide();
    var activeTab = $(this).find('a').attr('href');
    if (activeTab == '#tab1') {
      $('.mobile_type').val('android');
    }
      else{
      $('.mobile_type').val('iphone');

      }// $(activeTab).show();
    return false;
  });
})
</script>