<div class="row clearfix body_wrapper">
	<div class="col-md-6">
		<div class="address_wrapper">
			<h2>Please Select The Address To Make Payment</h2>
			<div class="address-list">
				<div class="address-details">
					<% @current_user.addresses.each do |address| %>
						<div class="address"> 
							<div class="radio radio-primary radio_styling">
					          <label>
					            <input type="radio" name="address_id" id="optionsRadios1" value="<%= address.id %>">
					          </label>
					        </div>
							<h4 class="profile_head1"><%= address.tag %></h4> 
							<div class="address_content">
								<div class="address_details">
									<%= address.address1 + ', ' + address.locality.name %> <br>
									<%= address.city.name + ', ' + address.pincode %>
								</div>
							</div>
						</div>
					<% end %>
					<%= hidden_field_tag 'order_id',nil, value: @order.id %>
					<%= hidden_field_tag 'user_id',nil, value: current_user %>
				</div>
				<div class="modal_wrapper">
					<button type="button" class="btn btn-info btn-lg modal_style" data-toggle="modal" data-target="#addressModal">Add <%= (@current_user.addresses.length > 0) ? 'Multiple' : '' %> Address</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="summary_wrapper">
			<%= render 'home/new_payu_url' %>
		</div>
	</div>
</div>
<div class="shipping_wrapper">
	<!-- Trigger the modal with a button -->
	<div class="payment btn_style">
		<label>
		    <input class='accept_terms' type="checkbox"> I accept the <a href="/terms">Terms & Conditions</a> and <a href="/terms_of_use"> Disclaimer Policy</a> of Docket.
		</label>
		<%= form_tag('/cancel_order',:type => :post, class: 'cancel-order' ) do |f| %>
			<input type="hidden" name='order_id' value='<%= @order.id %>'>
			<input type="hidden" name='redirect' value='true'>
			<input type='submit' value="Cancel" class='cancel' />
		<% end %>
		<button type="submit" class='pay-btn' >Payment</button type="submit">
	</div>
</div>
<%= render 'home/coupon' %>
<%= render 'home/address' %>
<script>
	$(document).ready(function(){
		$('.pay-btn').on('click', function(e){
			e.stopPropagation();
			e.preventDefault();
			if ($('.address-details input[name=address_id]:checked').val() == undefined){
				setNotification('error', "Select a Shipping Address");
				return
			}
			if ($('.accept_terms:checked').val() == undefined){
				setNotification('error', "Agree to Terms to proceed");
				return
			}
			if (($('.address-details input[name=address_id]:checked').val() != undefined) && ($('.accept_terms:checked').val() != undefined)){
				$.ajax({
					type: 'post',
					url: '/delivery',
					data: $('.address-details input').serialize()
				}).complete(function (data, textStatus, jqXHR) {
					if (data.responseJSON.status === 'OK'){
						setNotification('success', 'Updated Shipping Address!');
						setNotification('success', 'Proceeding To Payment!');
						$('.payumoney').submit();
					}
					else{
						setNotification('error', 'Fill details');
					}
				})
			}
		})
		$('.keyup-fake').keyup(function() {
			$('span.error-keyup-6').remove();
			var inputVal = $(this).val();
			var fakeReg = /(.)\1{2,}/;
			if(fakeReg.test(inputVal)) {
				$(this).after('<span class="error error-keyup-6">Invalid text.</span>');
			}
		});
		$('.keyup-email').keyup(function() {
			$('span.error-keyup-7').remove();
			var inputVal = $(this).val();
			var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
			if(!emailReg.test(inputVal)) {
				$(this).after('<span class="error error-keyup-7">Invalid Email Format.</span>');
			}
		});
		$('.keyup-numeric').keyup(function() {
			$('span.error-keyup-1').hide();
			var inputVal = $(this).val();
			var numericReg = /^\d*[0-9](|.\d*[0-9]|,\d*[0-9])?$/;
			if(!numericReg.test(inputVal)) {
				$(this).after('<span class="error error-keyup-1">Numeric characters only.</span>');
			}
		});
		$('.keyup-email').keyup(function() {
			$('span.error-keyup-7').remove();
			var inputVal = $(this).val();
			var emailReg = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
			if(!emailReg.test(inputVal)) {
				$(this).after('<span class="error error-keyup-7">Invalid Email Format.</span>');
			}
		});
		$('.keyup-characters').keyup(function() {
			$('span.error-keyup-2').remove();
			var inputVal = $(this).val();
			var characterReg = /^\s*[a-zA-Z0-9,\s]+\s*$/;
			if(!characterReg.test(inputVal)) {
				$(this).after('<span class="error error-keyup-2">No special characters allowed.</span>');
			}
		});
		$('.keyup-phone').keyup(function() {
			$('span.error-keyup-4').remove();
			var inputVal = $(this).val();
			var characterReg = /[0-9 -()+]+$/;
			if(!characterReg.test(inputVal)) {
				$(this).after('<span class="error error-keyup-4">Format xxx-xxx-xxxx</span>');
			}
		});
		$(".address-details input:radio").change(function () {
			$(".pay-btn").prop("disabled", false);
		});

		$('.coupon-form form').on('submit', function(e) {
			e.preventDefault();
			e.stopPropagation();
			$.ajax({
				type: 'post',
				url: '/apply_coupon',
				data: $('.coupon-form form').serialize()
			}).done(function (data, textStatus, jqXHR) {
				$('.summary_wrapper').html(data);
				$('#cuponModal').modal('toggle');
				setNotification('success', 'Coupon Code Applied Successfully');
				bindCancelCoupon();
				// remove coupon code here
			}).fail(function (jqXHR, textStatus, errorThrown) {
				setNotification('error', 'COUPON CODE INVALID. TRY AGAIN');
			});
		});
		bindCancelCoupon();
		function bindCancelCoupon(){
			$('.discount-cancel').bind('click', function(e) {
				e.preventDefault();
				e.stopPropagation();
				$.ajax({
					type: 'post',
					url: '/remove_coupon',
					data: $('.coupon-form form').serialize()
				}).done(function (data, textStatus, jqXHR) {
					$('.summary_wrapper').html(data);
					setNotification('success', 'Coupon Code removed');
				}).fail(function (jqXHR, textStatus, errorThrown) {
					setNotification('error', 'Server Error! TRY AGAIN');
				});
			});
		}
	})
</script>
<style>
	h2{
		font-size: 18px;
	}
	.cancel-order,.pay-btn{
		display: inline-block;
	}
	.payment{
		margin-bottom: 100px;
		text-align: center;
	}
	.cancel{
		padding: 10px;
		background-color: red;
		border: 0;
		color: white;
		text-align: center;
		display: inline-block;
	}
	.pay-btn{
		padding: 10px 20px;
		background-color: green;
		width: 100px;
		color: white;
		display: inline-block;
		cursor: pointer;
	}


	/************ Tooltip CSS ***************/
	
	/************Tooltip CSS Ends **********/
	@media all and (max-width: 640px) and (min-width: 320px){
		header .nav-left {
			width: 30%;
			display: inline-block;
			margin-left: -6em;
		}
		header .nav-right .phone {
			position: relative;
			right: -2px;
			top: -6em;
		}
		header .nav-right {
			position: absolute;
			margin-top: 4em;
			margin-left: 7em;
		}
		.delivery-info input {
			width: 250px;
			margin: 5px;
			color: black;
		}
		.answer.price-text {
			position: relative;
			top: -1.5em;
		}
	}
</style>