<div class="row">
	<div class="col-md-2-offset col-md-10 body-wrapper">
		<div class="ondemand_flip_style">
			<div class="ondemand-wrapper">
				<div class="on-demand">
					<div class="services">
						<li data-atr='attestation' class="attest">ATTESTATION</li>
						<li data-atr='notary' class="notary_tab">NOTARY</li>
						<li data-atr='estamp' class="estamp_tab">E-STAMP</li>
						<li data-atr='franking' class="franking_tab">FRANKING</li>
						<li data-atr='property' class="legal_tab">LEGAL OPINION</li>
					</div>
				</div>
			</div>
			<div class="wrapper-bg-question on-demand">
				<div class="ondemand_txt">
					<!-- <h1 class="text-center">On Demand</h1> -->
					<h4 class="text-center">Please select the On-Demand Services</h4>
				</div>
				<div class="attestation tab-item questionaire">
					<%= render 'home/attestation_on_demand' %>
				</div>
				<div class="notary tab-item questionaire">
					<%= render 'home/notary_on_demand' %>
				</div>
				<div class="estamp tab-item questionaire" >
					<%= render 'home/estamp_on_demand' %>
				</div>
				<div class="franking tab-item questionaire">
					<%= render 'home/franking_on_demand' %>
				</div>
				<div class="property tab-item questionaire">
					<%= render 'home/legal_on_demand' %>
				</div>
			</div>
		</div>
		<%= render 'sticky_sidebar' %>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		var val,n,x;
		$('.questionaire').hide();
		$('.services li').bind('click', function(e){
			val = e.target.dataset['atr'];
			$('.services li').removeClass('active');
			$(e.target).addClass('active');
			$('.questionaire').hide();
			$('.'+val).show();
			$('.ondemand_txt').hide();
			$('.layer').hide().removeClass('active');
			n = 0;
			$('.'+val +' .start').show();
			$('.'+val +' .next').hide();
			$('.'+val +' .submit').hide();
			$('.' + val + ' .close_style').trigger('click');
		});
		// $($('.services li')[0]).click();
		$(".rdb").click(function(e){
			$('.toHide').hide();
			$("#blk-"+ e.target.dataset['atr']).show();
		});
		$('.calendar').datepicker({
			minDate: 1,
		    changeMonth: true,
		    changeYear: false,
		    stepMonths: 1,
		    maxDate: 2,
		    dateFormat: "dd/mm/yy",
		    hideIfNoPrevNext: true,
		    showAnim: 'slideDown',
		    showOn: "both",  
		    showOtherMonths: true,
		    showStatus: true,
			beforeShow: function(text, inst){        
				var next_day = new Date(
					inst.selectedYear,
					inst.selectedMonth,
					inst.selectedDay
				);        
				next_day.setDate(next_day.getDate()+1);
				if(inst.selectedMonth != next_day.getMonth())
					return {numberOfMonths: 2};
				else
					return {numberOfMonths: 1};
			}
		});
		function calculateSum(type){
			switch(type){
				case 'attestation':
					a = parseInt($('#attest-total-copy').html()) || 0;
					b = parseInt($('#attest-country-price').html());
					c = parseInt($('#attest-pickup-price').html()) || 0;
					d = parseInt($('#attest-sticker-price').html()) || 0;
					e = parseInt($('#attest-commission-price').html()) || 0;
					f = parseInt($('#attest-date-price').html()) || 0;
					g = parseInt($('#attest-deliver-price').html()) || 0;
					h = parseInt($('#print-type-price').html()) || 0;
					total_amount = a+b+c+d+e+f+g+h;
					$('.attestation .total-sum input[name=total_amount]').val(total_amount);
					$('.attestation #total-price span').html(total_amount);
					break;
				case 'notary':
					a = parseInt($('#notary-total-copy').html()) || 0;
					b = parseInt($('#notary-country-price').html()) || 0;
					c = parseInt($('#notary-pickup-price').html()) || 0;
					d = parseInt($('#notary-delivery-price').html()) || 0;
					e = parseInt($('#notary-sticker-price1').html()) || 0;
					f = parseInt($('#notary-sticker-price2').html()) || 0;
					g = parseInt($('#notary-sticker-price3').html()) || 0;
					total_amount = a+b+c+d+e+f+g;
					$('.notary .total-sum input[name=total_amount]').val(total_amount);
					$('.notary #total-price').html(total_amount);
					break;
				case 'franking':
					a = parseInt($('#franking-price').html()) || 0;
					b = parseInt($('#franking-pickup-price').html()) || 0;
					c = parseInt($('#franking-drop-price').html()) || 0;
					total_amount = a+b+c;
					$('.franking .total-sum input[name=total_amount]').val(total_amount);
					$('.franking #total-price span').html(total_amount);
					break;
				case 'estamp':
					a = parseInt($('#estamp-price').html()) || 0;
					b = parseInt($('#estamp-drop-price').html()) || 0;
					total_amount = a+b;
					$('.estamp .total-sum input[name=total_amount]').val(total_amount);
					$('.estamp #total-price').html(total_amount);
					break;
				case 'property':
					a = parseInt($('#legal-property-price').html()) || 0;
					b = parseInt($('#legal-type-price').html()) || 0;
					c = parseInt($('#legal-advice-price').html()) || 0;
					d = parseInt($('#legal-pick-price').html()) || 0;
					total_amount = a+b+c+d;
					$('.property .total-sum input[name=total_amount]').val(total_amount);
					$('.property #total-price').html(total_amount);
					break;
			}
		}
		$('.start').click(function(){
			$('.description').hide('slow');
			$('.attestation-form').show('slow');
			$('.description_notary').hide('slow');
			$('.notary-form').show('slow');	
			$('.description_estamp').hide('slow');
			$('.estamp-form').show('slow');
			$('.description_franking').hide('slow');
			$('.franking-form').show('slow');
			$('.description_legal').hide('slow');
			$('.legal-form').show('slow');
			nextQuestion(n);
			$('.'+val+ ' .next').show();
			$('.'+val+ ' .start').hide();
			$('.'+val+ ' .submit').hide();
			$('.'+ val + ' .next').bind('click', function(){
				nextFunction(val);
			});
			$('.' + val + ' .close_style').bind('click', function(){
				$('.legal-form').hide();
				$('.description_legal').show();
				$('.start').show();
				$('.legal-form').find('input:text').val('');
	    		$('input:radio').removeAttr('checked');
	    		$('input:checkbox').removeAttr('checked');
			});
			$('.' + val + ' .close_style').bind('click', function(){
				$('.attestation-form').hide();
				$('.description').show();
				$('.start').show();
				$('.attestation-form').find('input:text').val('');
				$('input:radio').removeAttr('checked');
	    		$('input:checkbox').removeAttr('checked');
			});
			$('.' + val + ' .close_style').bind('click', function(){
				$('.notary-form').hide();
				$('.description_notary').show();
				$('.start').show();
				$('.notary-form').find('input:text').val('');
				$('input:radio').removeAttr('checked');
	    		$('input:checkbox').removeAttr('checked');
			});
			$('.' + val + ' .close_style').bind('click', function(){
				$('.franking-form').hide();
				$('.description_franking').show();
				$('.start').show();
				$('.franking-form').find('input:text').val('');
				$('input:radio').removeAttr('checked');
	    		$('input:checkbox').removeAttr('checked'); 
			});
			$('.' + val + ' .close_style').bind('click', function(){
				$('.estamp-form').hide();
				$('.description_estamp').show();
				$('.start').show();
				$('.estamp-form').find('input:text').val('');
				$('input:radio').removeAttr('checked');
	    		$('input:checkbox').removeAttr('checked');
			});
		})
		function nextQuestion(n){
			if (inputValidate()) {
				$('.'+val +' form').children('.layer').eq(n).show().addClass('active');
			}
		}
		function inputValidate() {
			if($('.'+val +'form').children('.layer').eq(n-1).find('input').val() == ''){
				error = 'NOVAL';
				return false;
			} 
			else{
				n += 1; 
				return true;
			}
		}
		function nextFunction(val){
			if (n >= ($('.'+val +' form').children('.layer').length - 1)){
				calculateSum(val);
				$('.'+val +' form').children('.layer').show();
				$('.'+val +' .next').hide();
				$('.'+val +' .submit').show();
			}
			else{
				nextQuestion(n);
			}
		};
		$('.attestation form').submit(function() {
			calculateSum(val);
		});
		$('.estamp form').submit(function() {
			calculateSum(val);
		});
		$('.franking form').submit(function() {
			calculateSum(val);
	    });
	    $('.property form').submit(function() {
			calculateSum(val);
	    });
		$('.notary form').submit(function() {
			calculateSum(val);
		});
		$('.print-type input').bind('change', function(){
			value = $('.print-type input:checked').val()
			if (value == 'black'){
				$('.print-hint').hide();
				$('#print-type-price').html(0);
			}
			else if (value == 'color'){
				no_of_copy = parseInt($('#attest-copies').val());
				print_price = (no_of_copy * 20)
				$('#print-type-price').html(print_price);
				$('.print-hint').show();
			}
			calculateSum(val);
		})
		$(".num-val").keypress(function (e) {
			if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
				$(e.target.parentElement).find(".errmsg").html("Digits Only").show().fadeOut("slow");
				return false;
			}
		});
		$(".txtName").on("click", function () {
	        var regex = /^[a-zA-Z ]*$/;
	        if (regex.test($(".txtName").val())) {
	            return true;
	        } else {
	            e.preventDefault();
	        }
	    });
		$('.estamp .stamp-amount :input').change(function(){
			stamp_value = parseInt($(this).val());
			if (stamp_value < 0 || stamp_value < 20){
				setNotification('error', 'Min e-stamp amount Rs 20');
				$(".estamp input[name='answer[25]']").val('');
				$('#estamp-price').html(0);
				$('.estamp input[name=stamp_amount]').val(0);
				stamp_duty = 0;
				return;
			}
			if (stamp_value >= 20 && stamp_value <= 100){
				stamp_duty = 10;
			}
			if (stamp_value > 101 && stamp_value < 5000){
				stamp_duty = 15;
			}
			if (stamp_value >= 5000){
				stamp_duty = 0;
			}
			totalSum = stamp_duty + stamp_value
			$('#estamp-price').html(totalSum);
			$('.estamp input[name=stamp_amount]').val(stamp_value);
			calculateSum(val);
		})
		
		$('.estamp_tab').click(function(){
			$('.description_estamp').show('slow');
			$('.estamp-form').hide();
		})
		
		$('.legal-type-form input:radio').on('change',function(){
			if ($(this).val() == 'oral'){
				$('#legal-advice-price').html('2999');
			}
			if ($(this).val() == 'written'){
				$('#legal-advice-price').html('6999');
			}
			if ($(this).val() === 'certifiedcopy'){
				$('#legal-advice-price').html('12999');
			}
			calculateSum(val);
		})	
	    $('.legal_tab').click(function(){
			$('.description_legal').show('slow');
			$('.legal-form').hide();
		})
		$('.attest-select-country input[type=radio]').on('change',function(){
			if ($(this).val() == 'International'){
				$('.attestation #attest-country-price').html('499');
			}
			if ($(this).val() == 'Domestic'){
				$('.attestation #attest-country-price').html('49');
			}
			calculateSum(val);
		})
		$('.attest-sticker-select input:radio').on('change',function(){
			if ($(this).val() == 'yes'){
				$('.attestation #attest-sticker-price').html('49');
			}
			if ($(this).val() == 'no'){
				$('.attestation #attest-sticker-price').html('0');
			}
			calculateSum(val);
		})
		$('.attest-comission-select input:radio').on('change',function(){
			if ($(this).val() == 'yes'){
				$('.attestation #attest-commission-price').html('49');
			}
			if ($(this).val() == 'no'){
				$('.attestation #attest-commission-price').html('0');
			}
			calculateSum(val);
		})
		$('.attest-date-select input:radio').on('change',function(){
			if ($(this).val() == 'yes'){
				$('.attestation #attest-date-price').html('49');
			}
			if ($(this).val() == 'no'){
				$('.attestation #attest-date-price').html('0');
			}
			calculateSum(val);
		})
		$('#attest-copies').on('change', function(){
			value = parseInt($('#attest-copies').val());
			$('#attest-total-copy').html(value*60);
		});
		$('.attest').click(function(){
			$('.description').show('slow');
			$('.attestation-form').hide();
		})
		$('.franking .stamp-amount :input').change(function(){
			stamp_value = parseInt($(this).val());
			if (stamp_value < 0 || stamp_value < 100){
				setNotification('error', 'Min franking amount Rs 100');
				$(".franking input[name='answer[30]']").val('');
				$('#franking-price').html(0);
				$('.franking input[name=stamp_amount]').val(0);
				stamp_duty = 0;
				return;
			}
			if (stamp_value >= 100 && stamp_value <= 5000){
				stamp_duty = 0;
			}
			if (stamp_value > 5000){
				stamp_duty = 0;
			}
			totalSum = stamp_duty + stamp_value
			$('.franking #franking-price').html(totalSum);
			$('.franking input[name=stamp_amount]').val(stamp_value);
		})
		
	    $('.franking_tab').click(function(){
			$('.description_franking').show('slow');
			$('.franking-form').hide();
		})
		
		$('.notary-select-country input:radio ').on('change',function(){
			if ($(this).val() == 'International'){
				$('.notary #notary-country-price').html('999');
			}
			if ($(this).val() == 'Domestic'){
				$('.notary #notary-country-price').html('99');
			}
		})
		$('.notary-sticker-select input:radio').on('change',function(){
			if ($(this).val() == 'yes'){
				$('.notary #notary-sticker-price1').html('49');
			}
			if ($(this).val() == 'no'){
				$('.notary #notary-sticker-price1').html('0');
			}
		})
		$('.notary-commission-select input:radio').on('change',function(){
			if ($(this).val() == 'yes'){
				$('.notary #notary-sticker-price2').html('49');
			}
			if ($(this).val() == 'no'){
				$('.notary #notary-sticker-price2').html('0');
			}
		})
		$('.notary-date-select input:radio').on('change',function(){
			if ($(this).val() == 'yes'){
				$('.notary #notary-sticker-price3').html('49');
			}
			if ($(this).val() == 'no'){
				$('.notary #notary-sticker-price3').html('0');
			}
		})
		$('#notary-copies').on('change', function(){
			value = parseInt($('#notary-copies').val());
			$('#notary-total-copy').html(value*99);
		});
		$('.notary_tab').click(function(){
			$('.description_notary').show('slow');
			$('.notary-form').hide();
		})
		// $('.noatry_tab').click(function(){
		// 	$('.description_notary').show('slow');
		// 	$('.notary-form').hide();
		// })

		window.onload=function() {
		  document.forms[0].reset();
		  placeFocus();
		}       
		function placeFocus() {
		  document.forms[0].elements[0].focus(); // assuming the first element
		}
	})
</script>