<div class="container-fluid section_padd order_summary box_wrap">
    <div class="row details_wrap">
        <div class="col-md-6">
            <div class="product_description">
                <div class="row product_wrap">
                    <div class="col-md-3">
                        <h4 class="product_head">Product</h4>
                    </div>
                    <div class="col-md-9">
                        <h1 class="product_subhead"><%= @document.name %></h1>
                    </div>
                </div>
                <hr class="product_hr">
                <div class="row price_sum">
                    <div class="col-md-3">
                        <h4 class="product_head">Description</h4>
                    </div>
                    <div class="col-md-9">
                        <h4 class="product_subhead">
                            <%= (@document.description || @document.service.description).html_safe %>
                        </h4>                           
                    </div>
                </div>
                <hr class="price_hr">
                <div class="row price_sum">
                    <div class="col-md-3">
                        <h4 class="product_head">Price</h4>
                    </div>
                    <div class="col-md-9">
                        <h4 class="product_subhead doc_price">
                            <span>
                                <i class="fa fa-inr" aria-hidden="true">
                                    <%= @document.service.print_price %>
                                    <%# if (['Agreement', 'Affidavit'].include? @document.service.name) %>
                                        <!-- 199  -->
                                    <%# elsif (['Bond'].include? @document.service.name) %>
                                        <!-- 999 -->
                                    <%# elsif (['Deed'].include? @document.service.name) %>  
                                        <!-- 2999 -->
                                    <%# end %>
                                </i> 
                            </span><%#= @document.default_price || '99'%> <br>
                            <span class="price_hint">GST Applicable</span>
                        </h4>                           
                    </div>
                </div>
                <!-- <hr class="price_hr">
                <div class="row price_sum">
                    <div class="col-md-3">
                        <h4 class="product_head">Checklist</h4>
                    </div>
                    <div class="col-md-9">
                        <ul class="checklist_wrap">
                            <li>ID Proof</li>
                            <li>Address Proof</li>
                            <li>PAN Card</li>
                            <li>Photo</li>
                            <li>PAN Card</li>
                            <li>Address Proof</li>
                        </ul>                           
                    </div>
                </div> -->
                <hr class="checklist_hr">
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="product_head">Procedure</h4>
                    </div>
                    <div class="col-md-9">
                        <ul class="procedure_wrap">
                            <li>
                                <%= image_tag 'new_images/procedure_icon/drafting.png', :class => "agreement_icon" %>
                                <p>Drafting</p>
                            </li>
                            <li>
                                <%= image_tag 'new_images/procedure_icon/printing.png', :class => "agreement_icon" %>
                                <p>Printing</p>
                            </li>
                            <li>
                                <%= image_tag 'new_images/procedure_icon/verification.png', :class => "agreement_icon" %>
                                <p>Verification</p>
                            </li>
                            <li>
                                <%= image_tag 'new_images/procedure_icon/signature.png', :class => "agreement_icon" %>
                                <p>Signature</p>
                            </li>
                            <li>
                                <%= image_tag 'new_images/procedure_icon/notary.png', :class => "agreement_icon" %>
                                <p>Notary</p>
                            </li>
                            <li>
                                <%= image_tag 'new_images/procedure_icon/delivery.png', :class => "agreement_icon" %>
                                <p>Delivery</p>
                            </li>
                        </ul>                           
                    </div>
                </div>
                <hr class="procedure_hr">
                <!-- <div class="row price_sum">
                    <div class="col-md-4">
                        <h4 class="product_head">Offers</h4>
                    </div>
                    <div class="col-md-8">
                        <h4 class="product_subhead">
                            BLRT00 <br>
                            <span class="price_hint">Get <span><i class="fa fa-inr" aria-hidden="true"></i></span>100/- off on your document
                        </h4>                           
                    </div>
                </div>
                <hr class="offers_hr"> -->
            </div>
            <div class="product_summary" style="display:none;">
                <div class="row">
                    <div class="col-md-5">
                        <h4 class="main_head">Order Summary</h4>
                    </div>
                    <div class="col-md-7">
                        <h4 class="sub_head"><%= @document.name %></h4>
                    </div>
                </div>
                <hr class="summary_hr">
                <div class="row">
                    <div class="col-md-5">
                        <h4 class="main_head">Price</h4>
                    </div>
                    <div class="col-md-7">
                        <h4 class="sub_head doc_price price_style">
                            <span><i class="fa fa-inr" aria-hidden="true">
                                <%= @document.service.print_price %>
                                <%# if (['Agreement', 'Affidavit'].include? @document.service.name) %>
                                    <!-- 199  -->
                                <%# elsif (['Bond'].include? @document.service.name) %>
                                    <!-- 999 -->
                                <%# elsif (['Deed'].include? @document.service.name) %>  
                                    <!-- 2999 -->
                                <%# end %>
                            </i> </span>
                        </h4>
                    </div>
                </div>
                <hr class="summary_hr">
                <div class="row">
                    <div class="col-md-5">
                        <h4 class="main_head">Stamp Duty</h4>
                    </div>
                    <div class="col-md-7">
                        <h4 class="sub_head stamp_price price_style">
                            <span><i class="fa fa-inr" aria-hidden="true"></i> </span><%#= (@order.stamp_amount.to_i + service_charge) %> <br>
                            <span class="price_hint">Government Charge Included</span>
                        </h4>
                    </div>
                </div>
                <hr class="summary_hr">
                <div class="row">
                    <div class="col-md-5">
                        <h4 class="main_head">Additional Copies</h4>
                    </div>
                    <div class="col-md-7">
                        <h4 class="sub_head price_style">
                            <span class='tot_doc_price'><i class="fa fa-inr" aria-hidden="true"></i></span>
                            <span class="tot_stamp_price">
                             + <i class="fa fa-inr" aria-hidden="true">0</i>
                            </span>
                            <br>
                            <span class="price_hint"><span class="price_hints_tag no-copy">0</span> Copy + <span class='price_hints_tag no-copy'>0 </span> EStamp</span>
                        </h4>
                    </div>
                </div>
                <hr class="summary_hr">
                <div class="row">
                    <div class="col-md-5">
                        <h4 class="main_head">Delivery Charges</h4>
                    </div>
                    <div class="col-md-7">
                        <h4 class="sub_head price_style">
                            <span><i class="fa fa-inr" aria-hidden="true"></i>99</span><br>
                             <span class="price_hint">24-48 Hours Delivery</span>
                        </h4>
                    </div>
                </div>
                <hr class="summary_hr">
                <div class="row">
                    <div class="col-md-5">
                        <h4 class="main_head">Discount</h4>
                    </div>
                    <div class="col-md-7">
                        <h4 class="sub_head price_style discount">
                            <span><i class="fa fa-inr" aria-hidden="true">0</i></span><br>
                        </h4>
                    </div>
                </div>
                <hr class="summary_hr">
                <div class="row">
                    <div class="col-md-5">
                        <h4 class="main_head">CGST @ 9%</h4>
                    </div>
                    <div class="col-md-7">
                        <h4 class="sub_head price_style gst">
                            <span><i class="fa fa-inr" aria-hidden="true"></i></span><br>
                        </h4>
                    </div>
                </div>
                <hr class="summary_hr">
                <div class="row">
                    <div class="col-md-5">
                        <h4 class="main_head">SGST @ 9%</h4>
                    </div>
                    <div class="col-md-7">
                        <h4 class="sub_head price_style gst">
                            <span><i class="fa fa-inr" aria-hidden="true"></i></span><br>
                        </h4>
                    </div>
                </div>
                <hr class="summary_hr">
                <div class="row">
                    <div class="col-md-5">
                        <h4 class="main_head">Total</h4>
                    </div>
                    <div class="col-md-7">
                        <h4 class="sub_head sub_total final_amount stamp_price">
                            <span class="stamp_icon">
                                <span><i class="fa fa-inr" aria-hidden="true"></i></span><br> 
                            </span>
                        </h4>
                    </div>
                </div>
                <hr class="summary_hr">
                <button type="button" class="btn btn-default back_btn pull-right" style="display:none;">Back</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="answer_wrap">
                <%= form_tag('/campaign_order',:name => 'd-form', multipart: true, :class => 'document-form', :id => "question_form") do |f| %>
                    <%= hidden_field_tag 'user_id',nil, value: current_user %>
                    <%= hidden_field_tag 'service_id',nil, value: @document.service.id %>
                    <%= hidden_field_tag 'document_id',nil, value: @document.id %>
                    <%= hidden_field_tag 'product',nil, value: @document.name  %>
                    <%= hidden_field_tag 'discount',nil, value: nil  %>
                    <%= hidden_field_tag 'net_amount',nil, value: nil  %>
                    <div class="question_section">
                        <div class="form-group section_one ">
                            <div class="stamp_study">
                                <h4 class="questions_heading">1) Please enter your Stamp Duty Amount</h4>
                                <div class="amount_wrap">
                                    <span class="rupee_icon"><i class="fa fa-inr"></i></span>
                                    <input type="text" class="input_style" maxlength="5" id="stamp_amount" name='answer[2]' title="Please type digits other than 0 as first digit" placeholder="Minimum Rs. <%= @document.service.min_stamp %>" required/>
                                </div>
                                <input id='stamp_value' type="hidden" name='stamp_amount'>
                                <p class="hint_txt">(SERVICE CHARGE: STAMP DUTY AMT. RS. 1 TO 100 = RS. 35, RS. 101 to 1000 = 55, RS. 1001 to 2000 = 75, RS. 2001 to 5000 = 250, Above 5000 = 5%)</p>
                            </div>
                        </div>
                        <div class="form-group section_three">
                            <!-- <h4 class="questions_heading">2) When shall we visit you for signature</h4>
                            <div class="date_slide">
                                <div id="date-slider" class="dragdealer">
                                    <ul class="list_date" id="date"> 
                                        <li id="date1">
                                           
                                        </li>
                                        <li id="date2">
                                            
                                        </li>
                                        <li id="date3">
                                            
                                        </li>
                                        <li id="date4">
                                            
                                        </li>
                                        <li id="date5">
                                           
                                        </li>
                                        <li id="date6">
                                            
                                        </li>
                                        <li id="date7">
                                            
                                        </li>
                                    </ul>
                                    <div class="handle red-bar">
                                        <span class="value"></span>
                                    </div>
                                    <input type="hidden" name='answer[4]' id="date_slot" required>
                                </div>
                            </div>  
                            <div id="proRangeSlider">
                                <div>
                                    <span class="timing_txt">TIMINGS</span>
                                    <div class="time_slider">
                                        <div id="simple-slider" class="dragdealer">
                                            <div class="handle red-bar"></div>
                                        </div>
                                    </div>
                                    <ul class="time_slot">
                                        <li>10AM TO 12PM</li>
                                        <li>12PM TO 3PM</li>
                                        <li>3PM TO 6PM</li>
                                        <li>6PM TO 8PM</li>
                                    </ul>
                                </div>
                            </div> -->
                            <h4 class="questions_heading">2) How do you want your document to be processed?</h4>
                            <% if (['Agreement'].include? @document.service.name) %>
                                <div class="radio-toolbars time-slot">
                                    <div class="radio_oneimg" data-delivery='one' data-price='<%= @document.service.print_price %>' data-desc='1'>
                                        <img src="/assets/rental_agreement/printed_rental.png" alt="" checked/>
                                        <input type="radio" data-attr="0" id="radio1" name="answer[43]" value='Print + Delivery' checked="checked" required/>
                                        <label for="radio1"><p>Printed</p><span> <span class="doc_print"><!-- </span> Agreement<span> --></label>
                                    </div>
                                    <div class="radio_oneimg" data-delivery='two' data-price='<%= @document.service.notary_price %>' data-desc='2'>
                                        <img src="/assets/rental_agreement/notarized_rental.png" alt="">
                                        <input type="radio" data-attr="1" id="radio2" name="answer[43]" value='Print + Notary + Delivery' required/>
                                        <label for="radio2"><p>Notarized</p><span><span class="doc_print"><!-- </span> Agreement<span> --></label>
                                    </div>
                                    <div class="radio_oneimg" data-delivery='three' data-price='<%= @document.service.registration_price %>' data-desc='3'>
                                        <img src="/assets/rental_agreement/registered_rental.png" alt="">
                                        <input type="radio" data-attr="2" id="radio3" name="answer[43]" value='Print + Registration + Delivery' required/>
                                        <label for="radio3"><p>Registered</p><span><span class="doc_print"><!-- </span> Agreement<span> --></label> 
                                    </div>
                                </div>
                            <% elsif (['Deed'].include? @document.service.name) %>  
                                <div class="radio-toolbars time-slot">
                                    <div class="radio_oneimg" data-delivery='one' data-price='<%= @document.service.print_price %>' data-desc='1'>
                                        <img src="/assets/rental_agreement/printed_rental.png" alt="">
                                        <input type="radio" data-attr="0" id="radio1" name="answer[43]" value='Print + Delivery' checked="checked" required/>
                                        <label for="radio1"><p>Printed</p><span> <span class="doc_print"><!-- </span> Agreement<span> --></label>
                                    </div>
                                    <div class="radio_oneimg" data-delivery='two' data-price='<%= @document.service.notary_price %>' data-desc='2'>
                                        <img src="/assets/rental_agreement/notarized_rental.png" alt="">
                                        <input type="radio" data-attr="1" id="radio2" name="answer[43]" value='Print + Notary + Delivery' required/>
                                        <label for="radio2"><p>Notarized</p><span><span class="doc_print"><!-- </span> Agreement<span> --></label>
                                    </div>
                                    <div class="radio_oneimg" data-delivery='three' data-price='<%= @document.service.registration_price %>' data-desc='3'>
                                        <img src="/assets/rental_agreement/registered_rental.png" alt="">
                                        <input type="radio" data-attr="2" id="radio3" name="answer[43]" value='Print + Registration + Delivery' required/>
                                        <label for="radio3"><p>Registered</p><span><span class="doc_print"><!-- </span> Agreement<span> --></label> 
                                    </div>
                                </div>
                            <% elsif (['Affidavit'].include? @document.service.name) %>
                                <div class="radio-toolbars time-slot custom_toolbar">
                                    <div class="radio_oneimg" data-delivery='one' data-price='<%= @document.service.print_price %>' data-desc='1'>
                                        <img src="/assets/rental_agreement/printed_rental.png" alt="">
                                        <input type="radio" data-attr="0" id="radio1" name="answer[43]" value='Print + Delivery' checked="checked" required/>
                                        <label for="radio1"><p>Printed</p><span> <span class="doc_print"><!-- </span> Agreement<span> --></label>
                                    </div>
                                    <div class="radio_oneimg" data-delivery='two' data-price='<%= @document.service.notary_price %>' data-desc='2'>
                                        <img src="/assets/rental_agreement/notarized_rental.png" alt="">
                                        <input type="radio" data-attr="1" id="radio2" name="answer[43]" value='Print + Notary + Delivery' required/>
                                        <label for="radio2"><p>Notarized</p><span><span class="doc_print"><!-- </span> Agreement<span> --></label>
                                    </div>
                                </div>    
                            <% elsif (['Bond'].include? @document.service.name) %>
                                <div class="radio-toolbars time-slot custom_toolbar">
                                    <div class="radio_oneimg" data-delivery='one' data-price='<%= @document.service.print_price %>' data-desc='1'>
                                        <img src="/assets/rental_agreement/printed_rental.png" alt="">
                                        <input type="radio" data-attr="0" id="radio1" name="answer[43]" value='Print + Delivery' checked="checked" required/>
                                        <label for="radio1"><p>Printed</p><span> <span class="doc_print"><!-- </span> Agreement<span> --></label>
                                    </div>
                                    <div class="radio_oneimg" data-delivery='two' data-price='<%= @document.service.notary_price %>' data-desc='2'>
                                        <img src="/assets/rental_agreement/notarized_rental.png" alt="">
                                        <input type="radio" data-attr="1" id="radio2" name="answer[43]" value='Print + Notary + Delivery' required/>
                                        <label for="radio2"><p>Notarized</p><span><span class="doc_print"><!-- </span> Agreement<span> --></label>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                        <div class="form-group section_one ">
                            <!-- <div class="option_wrap">
                                <h4 class="questions_heading">3) Do you have your own format ?</h4>
                                <div class="control-group ">
                                    <label class="control control--radio">YES
                                        <input type="radio" id="yes_radio" name="answer[3]" value='yes' required/>
                                        <div class="control__indicator"></div>
                                    </label>
                                    <label class="control control--radio ">NO
                                        <input type="radio" id="no_radio" name="answer[3]" value='no' required/>
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>
                            </div> -->
                            <div class="file_upload">
                                <h4 class="questions_heading">3) Please upload your own format (Optional)</h4>
                                <input id="uploadFile" name='attachment' placeholder="Choose File" disabled/>
                                <div class="fileUpload btn btn-primary">
                                    <span>Upload</span>
                                    <input id="uploadBtn" name='attachment' type="file" class="upload" />
                                </div>
                                <p class="file_txt">If not. Our legal team will send you an automated draft.</p>
                            </div>
                            <div class="process" style="display:none;">
                                <h4 class="text-center"><span class="back_arrow"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>&nbsp;&nbsp;Our support team will contact you for further process</h4>
                            </div>
                        </div>
                        <div class="form-group section_one">
                            <h4 class="questions_heading">4) Do you need additional copies ?</h4>
                            <div class="copies_slot">
                                <div id="just-a-slider" class="dragdealer">
                                    <ul class="list_wrapper">
                                        <li>0</li>
                                        <li>1</li>
                                        <li>2</li>
                                        <li>3</li>
                                        <li>4</li>
                                        <li>5</li>
                                        <li>6</li>
                                        <li>7</li>
                                        <li>8</li>
                                        <li>9</li>
                                        <li>10</li>
                                    </ul>
                                    <div class="handle red-bar">
                                        <span class="value"></span>
                                    </div>
                                     <input type="hidden" name="answer[37]" id="no-of-copies" required>
                                     <input type="hidden" name="quantity" id="quantity" value='0' required>
                                     <input type="hidden" name='summary' id='summary'>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default proceed_btn">Proceed &nbsp;&nbsp;
                            <span class="proceed_caret">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="contact_section" style="display:none;">
                        <div class="voucher_wrap">
                            <p class="discount_wrap">AVAIL OFFERS & DISCOUNT</p>
                            <div class="row">
                                <div class="col-md-9">
                                    <input type="text" class="input_discount" value="" name="coupon" id="discountCode" placeholder="ENTER YOUR DISCOUNTED CODE">          
                                    <input type="hidden" name='total_amount' id='total_amount'>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn apply_btn btn-default" id="changeType"/>APPLY</button>
                                    <div class="discount-cancel" style="display:none;">REMOVE</div>
                                </div>
                            </div>  
                        </div>
                        <div class="contact_details">
                            <div class="payment_details">
                                <p>SHARE YOUR CONTACT DETAILS</p>
                                <div class="form-group">
                                    <input type="text" class="input_name" id="fullName" pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" title="Type only characters" name="name"  placeholder="FULL NAME" required/>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="input_name" id="email" title="Eg: some@mail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" placeholder="EMAIL ADDRESS" required/>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="input_name" id="mobileNumber" maxlength="10" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" title="Enter 10 digit Valid Mobile Number" name="mobile" placeholder="MOBILE NUMBER" required/>
                                </div>
                            </div>
                        </div>  
                        <div class="terms_wrap">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="terms_condition" name="terms_condition" value="">
                                    &nbsp;&nbsp; <span class="chk_hint">I agree to the <a href="/terms"><em>Terms & Conditions</em></a> of Docket Tech</span>
                                </label>
                            </div>
                        </div>  
                    </div>
                    <div class="button_wrap">
                        <button type="submit" class="btn btn-primary pay_btn" style="display:none;">PAY &nbsp;&nbsp;&nbsp;<span class="pay_caret"><i class="fa fa-caret-right" aria-hidden="true"></i></span></button>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>  
<script>
    var final_date, final_time;
    var discount = 0;
    $('#stamp_amount').on('change', function(e){
        $('#stamp_value').val(e.target.value);
        stamp_value = parseInt($('#stamp_value').val());
        if (stamp_value < 0 || stamp_value < <%= @document.service.min_stamp %>){
            setNotification('error', 'Min stamp amount Rs <%= @document.service.min_stamp %>');
            $('#stamp_amount').val('');
        }
    })
    $('.proceed_btn').bind('click',function(e){
        // e.preventDefault();
        // e.stopPropagation();
        if($('.amount_wrap input:text').val().length == 0){
            setNotification('error', "Min stamp amount Rs <%= @document.service.min_stamp %>");
        }
        else if ($('.time-slot input[name="answer[43]"]:checked').length<=0) {
           setNotification('error', "Please select atleast one option!");
        }
        else{
            var summary = {};
            $('.document-form input').each(function(){
                var elem = $(this);
                var id = elem.attr('id');
                if ((id != undefined) && !(id.includes('id')) && !(id == 'undefined') && !(id == 'stamp_value') && !(id == 'summary')){
                    var value = elem.val();
                    summary[id] = value;
                }
            })   
            $('.contact_section').show();
            $('.product_summary').show();
            $('.back_btn').show();
            $('.question_section').hide();
            $('.product_description').hide();
            $('#summary').val(JSON.stringify(summary));
            calculateSum();
            // $('.document-form').submit();
        }
    })
    function calculateSum(){
        stamp_value = parseInt($('#stamp_value').val()) || 0;
        var stamp_duty=0;
        if (stamp_value >= 20 && stamp_value <= 100){
            stamp_duty = 35;
        }
        if (stamp_value >= 101 && stamp_value <= 1000){
            stamp_duty = 55;
        }
        if (stamp_value >= 1001 && stamp_value <= 2000){
            stamp_duty = 75;
        }
        if (stamp_value >= 2001 && stamp_value <= 5000){
            stamp_duty = 250;
        }
        if (stamp_value > 5000){
            stamp_duty = Math.round(stamp_value * 0.05) ;
        }
        copies = parseInt($('#no-of-copies').val());
        $('.no-copy').html(copies);
        delivery_charge = <%= @document.service.delivery_charges %>;
        document_charge = parseInt($('.doc_price span i').html());
        total_stamp_amount = (stamp_value + stamp_duty);
        total_doc_price = document_charge;
        $('.tot_doc_price i').html(document_charge*copies);
        $('.tot_stamp_price i').html(total_stamp_amount*copies);
        net_amount = ((document_charge + stamp_value + stamp_duty) * (copies + 1)) + delivery_charge;
        total_amount = ((document_charge + stamp_value + stamp_duty) * (copies + 1)) + delivery_charge - discount;
        gst = (total_amount * 0.09).toFixed(2);
        final_amount = (total_amount + gst*2);
        $('#total_amount').val(net_amount);
        $('#net_amount').val(net_amount);
        $('.stamp_price span i').html(total_stamp_amount || 0);
        $('.final_amount span i').html(final_amount);
        $('.gst span i').html(gst);
        // copies = parseInt($('#no-of-copies').val());
        // delivery_charge = <%= @document.service.delivery_charges %>;
        // pickup_charge = 99;
        // document_charge = <%= @document.default_price %>
        // net_amount = ((document_charge + stamp_value + stamp_duty) * (copies + 1)) + delivery_charge + pickup_charge;
        // $('#total_amount').val(net_amount);
    }
    /************** Number Of Copies Slider JS Starts ********************/
    $(function() {
      new Dragdealer('just-a-slider', {
        speed: 1,
        loose: true,
        steps: 11,
        animationCallback: function(x, y) {
          $('#just-a-slider .value').text(Math.round(x * 10));
          $("#no-of-copies").val(Math.round(x * 10));
          $('#quantity').val(Math.round(x * 10));
        }
      });
    })
    /************* Number of Copies Slider JS Ends *********************/

    /************* Time Slot Slider JS Ends *********************/

    // $(function() {
    //   new Dragdealer('simple-slider', {
    //     speed: 1,
    //     loose: true,
    //     steps: 4,
    //     animationCallback: function(x, y) {
    //         var time_slot1 = "10AM TO 12PM";
    //         var time_slot2 = "12PM TO 3PM";
    //         var time_slot3 = "3PM TO 6PM";
    //         var time_slot4 = "6PM TO 8PM";
    //         var decimalValue = x;
    //         // console.log(" decimalValue = " +decimalValue);
    //         var stepValue = Math.round(x * 3);
    //         // console.log(" stepValue = " +stepValue);
    //         $('#simple-slider .value').text();
    //         // $('date_slot').val()
    //         if(stepValue == 0){
    //             final_time = time_slot1;
    //         }
    //         if(stepValue == 1){
    //             final_time = time_slot2;
    //         }
    //         if(stepValue == 2){
    //             final_time = time_slot3;
    //         }
    //         if(stepValue == 3){
    //             final_time = time_slot4;
    //         }
    //         $("#date_slot").val(final_date + " " + final_time);
    //     }
    //   });
    // })

    /************* Time Slot Slider JS Ends *********************/

    /************** Date Slider JS Starts ********************/
    // $(function() {    
    //   new Dragdealer('date-slider', {
    //     speed: 1,
    //     loose: true,
    //     steps: 7,
    //     animationCallback: function(x, y) {
    //         var decimalValue = x;
    //         // console.log(" decimalValue = " +decimalValue);
    //         var stepValue = Math.round(x * 6);
    //         // console.log(" stepValue = " +stepValue);
    //         $('#date-slider .value').text(tot_days[stepValue]);
    //         final_date = tot_days[stepValue].replace(/(\r\n|\n|\r)/gm," "); 
    //         $("#date_slot").val(final_date + " " + final_time);
    //     }
    //   });
    // })

    /************* Date Slider JS Ends *********************/

    /********************* DATE SLOT JS STARTS **********************/



    // var current_date = new Date();
    // var next_date = new Date();
    // var j=0;


    // var date = current_date.getDate();

    // var tot_days = new Array(7);
    // var dd, mm;
    // for(j=0; j<7; j++){
    //     next_date.setDate(next_date.getDate() + 1);
    //     dd = next_date.getDay();

    //     mm = next_date.getMonth();
    //     if(mm==0){
    //         mm="JAN";
    //     } else if(mm==1){
    //         mm="FEB";
    //     } else if(mm==2){
    //         mm="MAR";
    //     } else if(mm==3){
    //         mm="APR";
    //     } else if(mm==4){
    //         mm="MAY";
    //     } else if(mm==5){
    //         mm="JUN";
    //     } else if(mm==6){
    //         mm="JUL";
    //     } else if(mm==7){
    //         mm="AUG";
    //     } else if(mm==8){
    //         mm="SEP";
    //     } else if(mm==9){
    //         mm="OCT";
    //     } else if(mm==10){
    //         mm="NOV";
    //     } else if(mm==11){
    //         mm="DEC";
    //     }  

    //     if(dd==0) {
    //         dd="SUN";
    //     } else if(dd==1){
    //         dd="MON";
    //     } else if(dd==2){
    //         dd="TUE";
    //     } else if(dd==3){
    //         dd="WED";
    //     } else if(dd==4){
    //         dd="THU";
    //     } else if(dd==5){
    //         dd="FRI";
    //     } else if(dd==6){
    //         dd="SAT";
    //     }
    //     // console.log(j);
    //     // console.log(next_date);
    //     tot_days[j] = dd + "\n" + next_date.getDate() + "\n" + mm;
    //     var temp = (j + 1);
    //     // console.log(document.getElementById("date" + temp));
    //     // console.log(document.getElementById("date" + (j + 1)).innerHTML);
    //     document.getElementById("date" + (j + 1)).innerHTML = tot_days[j];
    // }
    // final_date = tot_days[0].replace(/(\r\n|\n|\r)/gm," ");
    // final_time = "9AM TO 12PM";

    /********************* DATE SLOT JS ENDS **********************/

    $('.discount-cancel').on('click', function(e){
        $('.input_discount').val('');
        $('.discount-cancel').hide();
        $('#changeType').show();
    })

    $('.document-form').on('ajax:success', function (data, textStatus, jqXHR) {
        console.log(data);
        // if (data.status === 200 ){
            $('.result').html(textStatus);
            $('.payumoney').submit();
            setNotification('success', 'Proceeding To Payment!');
        // }
    }).on('ajax:error',function(e, xhr, status, error){
      setNotification('error', 'Fill all details');
    });
    // coupon Apply button
    $('#changeType').on('click', function(e) {
        e.preventDefault();
        e.stopPropagation();
        $.ajax({
            type: 'post',
            url: '/apply_coupon',
            data: $('.voucher_wrap input').serialize()
        }).done(function (data, textStatus, jqXHR) {
            $('.summary_wrap').html(data);
            discount = Math.round(data.discount);
            calculateSum();
            $('.discount span i').html(discount);
            $('#discount').val(discount);
            // $('#cuponModal').modal('toggle');
            setNotification('success', 'Coupon Code Applied Successfully');
            bindCancelCoupon();
            $('.discount-cancel').show();
            $('#changeType').hide();
            // remove coupon code here
        }).fail(function (jqXHR, textStatus, errorThrown) {
            setNotification('error', 'COUPON CODE INVALID. TRY AGAIN');
        });
    });
    bindCancelCoupon();
    function bindCancelCoupon(){
        $('.discount-cancel').bind('click', function(e) {
            discount = 0;
            calculateSum();
            $('.discount-cancel').hide();
            $('#changeType').show();
            $('.discount span i').html(discount);
            $('#discount').val(discount);
            // e.preventDefault();
            // e.stopPropagation();
            // $.ajax({
            //     type: 'post',
            //     url: '/remove_coupon',
            //     data: $('.coupon-form').serialize()
            // }).done(function (data, textStatus, jqXHR) {
            //     $('.summary_wrap').html(data);
            //     setNotification('success', 'Coupon Code removed');
            // }).fail(function (jqXHR, textStatus, errorThrown) {
            //     setNotification('error', 'Server Error! TRY AGAIN');
            // });
        });
    }

    $('.radio_oneimg').bind('click', function(e){
        price = $(this).attr('data-price');
        // desc = $(this).attr('data-desc');
        delivery_type = $(this).attr('data-delivery');
        $('.hint_wrap').show();
        $('.date_wrap').hide();
        $('.radio_one, .radio_two, .radio_three').hide();
        $('.radio_'  + delivery_type).show();
        // $('.process_descp').html(desc);
        $('.process_descp').html($(this).find('label').html());
        $('.doc_price span i').html(price);
        $(this).find('input').prop('checked', true)
        $('.discount-cancel').trigger('click');
        calculateSum();
    })

    $('.back_btn').bind('click', function(){
        $('.question_section').show();
        $('.product_description').show();
        $('.contact_section').hide();
        $('.product_summary').hide();
        $('.pay_btn').hide();
    })

    $('#yes_radio').on('click', function(){
        $('.file_upload').show();
        $('.process').hide();
        $('.option_wrap').hide();
    })
    $('#no_radio').on('click', function(){
        $('.process').show();
        $('.file_upload').hide();
        $('.option_wrap').hide();
    })
    $('.back_arrow').on('click', function(){
        $('.option_wrap').show();
        $('.process').hide();
        $('.file_upload').hide();
    })
    document.getElementById("uploadBtn").onchange = function () {
        document.getElementById("uploadFile").value = this.value;
    };

</script>
