<div class="automation-questions">
	<%= form_tag('/auto_answer', type: :post, :name => 'formname', multipart: true) do |f| %>
	<%= hidden_field_tag 'document_id', @document.id %>
	<%= hidden_field_tag 'order_id', @order ? @order.id : Random.rand(1..1000) %>
	<%= hidden_field_tag 'user_id', current_user %>
	<h1 class="doc_name"><%= truncate(@document.name, length: 35) %></h1>
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<% i = 0 %>
	<% @document.sections.each do |sect| %>
	<% i +=1 %>
	<!-- section no	 -->
	<!--  -->
	<div class="section"> 
		<%#= sect.section_no %>
		<h2 class="setion_name_style"><%= sect.name.split(/(?=[A-Z])/).join(' ') %></h2>
		<span class="page_wrap">Page <%= i%> / <%= @document.sections.count %></span>
		<% sect.questions.each do |quest| %>
		<div class="layer-question">
			<div class="row">
				<div class="col-md-6">
					<div class="question">
						<%= quest.body %>
					</div> 
				</div>
				<div class="col-md-6">
					<div class="answer">
						<% if (quest.response_type.name.capitalize == 'Text') || (quest.response_type.name.capitalize == 'Number') %>
						<input name='answer[<%= quest.id %>][body]' type="<%= quest.response_type.name.downcase %>" placeholder='<%= quest.associated_text %>' required="<%= quest.is_mandatory%>">
						<input type="hidden" name="answer[<%= quest.id %>][section_id]" value="<%= sect.id %>">
						<% end %>
						<% if (quest.response_type.name.capitalize == 'Boolean') %>
						<input type="radio" name="answer[<%= quest.id %>][body]" value="1">Yes
						<input type="radio" name="answer[<%= quest.id %>][body]" value="0">No
						<input type="hidden" name="answer[<%= quest.id %>][section_id]" value="<%= sect.id %>">
						<% end %>
						<% if quest.response_type.name.capitalize == 'Checkbox' %>
						<% quest.options.each do |opt| %>
						<div class="checkbox">
							<input name='answer[body]' value='<%= opt.id %>' type="<%= quest.response_type.name.downcase %>" placeholder='<%= quest.associated_text %>' required="<%= quest.is_mandatory%>"><%= opt.name %>
							<input type="hidden" name="answer[<%= quest.id %>][section_id]" value="<%= sect.id %>">

						</div>
						<% end %>
						<% end %>
						<% if quest.response_type.name.capitalize == 'Radio'  %>
						<% quest.options.each do |opt| %>
						<input type="radio" class="automation-radio" name="answer[<%= quest.id %>][body]" 
						value="<%= opt.name %>" required="<%= quest.is_mandatory%>"><%= opt.name %>
						<% end %>
						<input type="hidden" name="answer[<%= quest.id %>][section_id]" value="<%= sect.id %>">
						<% end %>
						<% if quest.response_type.name.capitalize == 'Option'  %>
						<select name="answer[<%= quest.id %>][body]" id="" placeholder='<%= quest.associated_text %>' required="<%= quest.is_mandatory%>">
							<% quest.options.each do |opt| %>
							<option value="<%= opt.name %>"><%= opt.name %></option>}
							<% end %>
						</select>
						<input type="hidden" name="answer[<%= quest.id %>][section_id]" value="<%= sect.id %>">
						<% end %>
						<% if quest.response_type.name.capitalize == 'Date' %>
						<input name='answer[<%= quest.id %>][body]' type="text<%#= quest.response_type.name.downcase %>" placeholder='<%= quest.associated_text %>' class="calendar" required="<%= quest.is_mandatory%>">
						<input type="hidden" name="answer[<%= quest.id %>][section_id]" value="<%= sect.id %>">
						<% end %>
						<% if quest.response_type.name.capitalize == 'Time' %>
						<input name='answer[<%= quest.id %>][body]' type="<%= quest.response_type.name.downcase %>" placeholder='<%= quest.associated_text %>' required="<%= quest.is_mandatory%>">
						<input type="hidden" name="answer[<%= quest.id %>][section_id]" value="<%= sect.id %>">
						<% end %>
						<% if quest.response_type.name.capitalize == 'Datetime' %>
						<input name='answer[<%= quest.id %>][body]' type="<%= quest.response_type.name.downcase %>" placeholder='<%= quest.associated_text %>' required="<%= quest.is_mandatory%>">
						<input type="hidden" name="answer[<%= quest.id %>][section_id]" value="<%= sect.id %>">
						<% end %>
						<% if (quest.response_type.name.capitalize == 'Image') || (quest.response_type.name.capitalize == 'Jpeg') %>
						<input type="file" name="attachment[file]" accept=".jpg,.jpeg,.png" id="subfile">
						<input type="hidden" name="attachment[question_id]" id="subfile" value='<%= quest.id %>' required="true">
						<input type="hidden" name="attachment[section_id]" id="subfile" value='<%= sect.id %>' required="true">
						<% end %>
					</div> 
				</div>
			</div>						
		</div>
		<% end %>
		<div class="layer-question">
			<div class="row">
				<div class="col-md-6">
					<div class="question">
						<div>
						<button class='back'>Previous</button>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="answer">
						<div style="float: right;">
						<button class='next'>Next</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<% end %>
	<div class="layer-questions">
		<input type="submit" value='Submit' class='submit'>
	</div>
	<% end %>
</div>

<style>
	.section,.submit{
		display: none;
	}
	.automation-questions{
		/*width: 70%;*/
		/*margin-left: 20%;*/
		margin-left: 18%; 
		margin-top: 5%;
		overflow: hidden;
	}
	.automation-questions form{
		overflow-y: scroll;
	}
	h1{
		font-size: 18px;
		font-weight: bold;
	}
	h2{
		text-align: center;
		font-size: 16px;
		font-weight: bold;
	}
	.question{
		width: 100%;
		display: inline-block;
		padding: 0em 5em;
	}
	.answer{
		width: 100%;
		display: inline-block;
		padding: 0.5em 5em;
	}
	/*input{
	width: 300px;
	height: 30px;
	padding: 5px;
	margin-bottom: 5px
	}*/
	input {
		width: 100%;
		padding: 0.3em;
		color: #fff;
		background: #888585;
		border: 0;
		font-size: 15px;
	}
	input[type='radio']{
		width: 20px;
	}
	input:focus{
		outline: none;
	}
	.section{
		background: url('/assets/book.png');
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
		min-height: 500px;
		height: auto;
		padding-bottom: 50px;
	}
	h1.doc_name {
		font-size: 16px;
		text-align: left;
		margin-bottom: 1em;
	}

	h2.setion_name_style {
		text-align: center;
		position: relative;
		top: -2em;
		font-size: 20px;
	}

	button.back {
		width: 100px;
		font-size: 20px;
		border: 0;
		background: #22B3A4;
		color: #fff;
		position: relative;
		left: 3.5em;
	}

	button.next {
		width: 100px;
		font-size: 20px;
		border: 0;
		background: #22B3A4;
		color: #fff;
		position: relative;
	}

	input.submit {
		background: #f16224;
		width: 100px;
		font-size: 20px;
		border: 0;
		color: #fff;
		height: 100px;
		position: absolute;
		right: 1em;
		float: right;
		border-radius: 50px;
		bottom: 1%;
	}
	input:focus{
		border: 1px solid #f16224!important;
		background-color: gray !important;
	}​
	button.ui-datepicker-trigger {
		width: 30px;
		padding: 0;
		background: #716D6D;
		border: 0;
		position: absolute;
		top: 0.5em;
		right: 2em;
		border-radius: 0;
		height: 30px;
	}

	select {
		width: 300px;
		padding: 0.3em;
		background: #888585;
		border: 0;
		height: 30px;
	}
	
	span.page_wrap {
	    font-size: 16px;
	    font-weight: bold;
	    position: absolute;
	    top: 10.7%;
	    right: 1%;
	    color: #000;
	    padding: 1%;
	}

	@media only screen and (min-width: 1919px) and (max-width: 1921px) {
		.section {
			background: url('/assets/book.png');
			background-repeat: no-repeat;
			background-size: 100%;
			width: 1000px;
			height: 800px !important; 
			height: auto;
			padding-bottom: 50px;
			margin-left: 10%;
		}

		button.next {
			width: 100px;
			font-size: 20px;
			border: 0;
			background: #22B3A4;
			color: #fff;
			margin: 0% 11%;
			float: right;
			position: relative;
			left: 0;
			bottom: 0;
		}

		h1.doc_name {
			position: relative;
			margin-left: 10em;
		}

		button.back {
			padding: 0.3em;
		}

		input.submit {
			background: #f16224;
			width: 100px;
			font-size: 20px;
			border: 0;
			color: #fff;
			height: 100px;
			position: absolute;
			right: 18em;
			float: right;
			border-radius: 50px;
			bottom: 20%;
		}
	}
</style>
<script>
$(document).ready(function(){
	n = 0
	$('.back').hide();
	function nextQuestion(n){
		$('form').children('.section').eq(n-1).hide().addClass('active');
		$('form').children('.section').eq(n).show().addClass('active');
	}
	$('.next').on('click', function(e){
		e.preventDefault();
		e.stopPropagation();
		if((formcheck(e,n)) && (n >= ($('.section').length - 1))){
			$('.next').hide();
			$('.submit').show()
		}
		else if(formcheck(e,n)){
			n += 1;
			nextQuestion(n);
		}
		previousCheck();
	});
	function previousCheck(){
		if (n == 0){
			$('.back').hide();
		}
		else{
			$('.back').show();
		}
	}  
	$('.back').on('click', function(e){
		e.preventDefault();
		e.stopPropagation();

		$('form').children('.section').eq(n-1).show().addClass('active');
		$('form').children('.section').eq(n).hide().removeClass('active');
		if (n > 0){
			n -= 1
		}
		previousCheck();
	});
	$($('.section')[0]).show();
	function formcheck(e,n) {
		var fields = $('form').children('.section').eq(n)
		.find("input[type!='hidden']").serializeArray();
		var solution = false
		$.each(fields, function(i, field) {
			if (field.value == ''){
				$('input[name="' + field.name + '"]').focus();
				solution = false;
				return false;
			}
			else{
				solution = true;
				return true;
			}
		}); 
		return solution;
	}
})

$('.calendar').datepicker({
    // minDate: 0,
    changeMonth: true,
    dateFormat: "dd/mm/yy",
    // firstDay: 1,
    changeYear: true,
    stepMonths: 1,
    hideIfNoPrevNext: true,
    // showAnim: 'slideDown',
    // showOn: "both",  
    // showOtherMonths: true,
    // showStatus: true,
    // //maxDate: '-1d'
    // beforeShow: function(text, inst){        
    //     var next_day = new Date(
    //         inst.selectedYear,
    //         inst.selectedMonth,
    //         inst.selectedDay
    //     );        
    //     next_day.setDate(next_day.getDate()+1);
    //     if(inst.selectedMonth != next_day.getMonth())
    //         return {numberOfMonths: 2};
    //     else
    //         return {numberOfMonths: 1};
    // }
});
</script>



