<% if @orders.length > 0 %>
	<div class="row">
		<div class="col-md-2-offset col-md-10 body-wrapper">
			<div class="row clearfix order-bgclr">
				<div class="col-md-12">
					<h3>ORDERS</h3>
				</div>
			</div>
			<div class="row clearfix">
	            <div class="col-md-12">
	                <!-- Nav tabs -->
	                <ul class="nav nav-tabs tablist" role="tablist">
							<!-- <li role="presentation"><a id="incomplete" aria-controls="" role="tab" data-toggle="tab">Incomplete</a></li> -->
							<li role="presentation"><a id="inprogress" aria-controls="" role="tab" data-toggle="tab">In progress</a></li>
							<li role="presentation"><a id="completed" aria-controls="" role="tab" data-toggle="tab">Completed</a></li>
	                </ul>
					<div class=" tabcontent_card">
	                    <!-- Tab panes -->
		                <div class="tab-content scroll_style">
	                    	<% @orders.each do |order| %>
		                        <div role="tabpanel" class="tab-pane <%= order.status.name.downcase %>">
		                        	<div class="row clearfix">
		                        		<div class="col-md-12">
		                        			<div class="row clearfix bg_order">
			                            		<div class="col-md-2">
			                            			<h5>Date of Order</h5>
			                            			<h5><%=order.created_at.strftime("%d/%m/%Y") %></h5>
			                            		</div>
			                            		<div class="col-md-4">
			                            			<h5>Order Id</h5>
			                            			<h5><%= order.txnid %></h5>
			                            		</div>
			                            		<div class="col-md-2">
			                            			<h5>Amount</h5>
			                            			<h5><i class="fa fa-inr"></i> <%= order.total_amount %></h5>
			                            		</div>
			                            		<div class="col-md-4">
			                            			<div class="icons_wrapper">
			                            				<% if !order.payment && (order.status.name == 'INCOMPLETE') %>
			                            					<a href="/shipping/<%= order.txnid %>">
			                            						<div class="payment_wrapper">
																	Make Payment
																</div>
															</a>
														<% end %>
														<% if !order.payment && (order.status.name == 'INCOMPLETE') %>
		                            						<div class="delete_wrapper delete" data-atr='<% order.id %>'>
																Delete
																<input type="hidden" name='user_id' value="<%= current_user %>">
																<input type="hidden" name='order_id' value="<%= order.id %>">
															</div>
														<% end %>
														<% if !(order.automated_answers.length > 0) && order.payment && order.draft_required && !order.draft_created && !order.draft_url %>
			                            					<a href="/draft/<%= order.id %>?">
			                            						<div class="payment_wrapper">
																	Make Draft
																</div>
															</a>
														<% end %>
			                            				<% if order.invoice_url %>
			                            					<a href="<%= order.invoice_url %>" target='_blank'><div class="reciept_wrapper">
																<%= image_tag  'reciept_icon.png', :style => "height: 20px" %>&nbsp;&nbsp;&nbsp; Receipt
															</div></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
														<% end %>
														<% if order.soft_copy_url %>
															<div class="soft_copy_wrapper">
																<a href="<%= order.soft_copy_url %>" target='_blank' title=""><%= image_tag  'softcopy_icon.png', :style => "height: 20px" %>&nbsp;&nbsp;&nbsp; Soft Copy</a>
															</div>
														<% end %>
														<% if !order.soft_copy_url && order.draft_url %>
															<div class="soft_copy_wrapper">
																<a href="<%= order.draft_url %>" target='_blank' title=""><%= image_tag  'softcopy_icon.png', :style => "height: 20px" %>&nbsp;&nbsp;Draft&nbsp; <i class="fa fa-download fa-1x"></i></a>
															</div>&nbsp;&nbsp;
														<% end %>
														<% if !order.soft_copy_url && order.draft_url && !order.draft_confirmed %>
															<div class="reciept_wrapper">
																<a href="<%= confirm_draft_url(txnid: order.txnid, hash: 'adnlksanklcnsl' ) %>" title=""><%= image_tag  'softcopy_icon.png', :style => "height:20px;color:white" %>Confirm Draft</a>
															</div>
														<% end %>
			                            			</div>
			                            		</div>
			                            	</div>
			                            	<div class="row clearfix order_body_bg">
			                            		<div class="col-md-2">
			                            			<%= image_tag "order/#{order.service.name.downcase + '.png'}", :style => "width: 40px; height:40px;" %>
			                            		</div>
			                            		<div class="col-md-4">
			                            			<p><%= order.product %></p>
			                            			<p>Address: </p>
			                            			<p style='font-weight:bold:'>
			                            				<% if order.address %>
			                            					<%= order.address.tag %>
			                            				<% else %>
			                            					<%= link_to "Add Shipping Address", thankyou_path(txnid: order.txnid) %>
			                            				<% end %>
			                            			</p>
			                            		</div>
			                            		<% if order.payment && (order.payment.status) && (order.payment.status.name == 'SUCCESS') %>
				                            		<div class="col-md-2">
				                            			<p>Tracking No</p>
				                            			<p><%= order.delivery_tracking_no %></p>
				                            			<p style="color: #f55953;"><%= order.delivery_partner ? order.delivery_partner.name : 'Fedex' %></p>
				                            		</div>
				                            		<div class="col-md-4">
				                            			<a href="/track/<%= order.txnid %>">
				                            				<div class="track_wrapper">
				                            					Track
				                            				</div>
				                            			</a>
				                            		</div>
				                            	<% end %>
			                            	</div>
		                        		</div>
		                        	</div>
		                        </div>
		                	<% end %>
		                </div>
					</div>
	            </div>
			</div>
		</div>
	</div>
<% else %>
	<div class="empty-order-page">
		<%= image_tag "order_blank.png" %>
		<div class="text_wrapper">
			<b><h4 class="order_head">Your order history is empty</h4></b>
			<h4 class="order_sub_head">Looks like you haven't orderderd anything on Docket</h4>
		</div>
	</div>
<% end %>
<script>
	$(document).ready(function(){
		$('.tablist li').on('click', function(e){
			id = e.target.getAttribute('id');
			$('.tab-content > div').hide();
			$('.tab-content .' + id).show();
		})
		$($('.tablist li a')[0]).click();
		$('.delete_wrapper').on('click', function(e) {
			$.ajax({
				type: 'post',
				url: '/cancel_order',
				data: $(this).find('input').serialize()
			}).done(function (data, textStatus, jqXHR) {
				setNotification('success', 'Order Has Been Deleted');
				location.reload();
			}).fail(function (jqXHR, textStatus, errorThrown) {
				setNotification('error', 'Unknown Error. Try Again');
			});
		});
	})
</script>
