<div class="container-fluid section_padd partners">
	<h1 class="partner_txt">Partner with us!</h1>
	
	<script type="text/javascript">var submitted=false;</script>
	<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='<%= @base_url %>';}"></iframe>
	<form name="expert" autocomplete="off" action="https://docs.google.com/a/dockettech.com/forms/d/1qHHW3KL1h7M1ANqzbMhCCQOrH6JAOlYEcLAcf7Ec9q4/formResponse" method="POST" role="form " target="hidden_iframe" onsubmit="submitted=true;" id="expert-form" >
		<div class="card step_one">
			<h3><u><b>1) Professional Details:</b></u></h3>
			<div class="form-group">
	        	&nbsp;&nbsp;<h4><b>A. Name</b></h4>
   			 	<p>(Name as per Photo ID Proof)</p>
   			 	<span class="select_wrap">
		        	<select name="entry.1490069144" id="mySelect" class="input_control" required="required">
		        		<option value="">Title</option>
		        		<option value="Mr.">Mr.</option>
		        		<option value="Ms.">Ms.</option>
		        		<option value="Dr.">Dr.</option>
		        	</select>
		        </span>
			</div>
			<h4>First Name*</h4>
			<div class="form-group">
				<input type="text" name="entry.953970316" class="input_control" placeholder="First Name*" required>
			</div>
			<h4> Middle Name</h4>
			<div class="form-group">
				<input type="text" name="entry.1414703908" class="input_control" placeholder="Middle Name">
			</div>
			<h4> Last Name*</h4>
			<div class="form-group">
				<input type="text" name="entry.476637433" class="input_control" placeholder="Last Name*" required>
			</div>
			<h4><b>B. E-mail address*:</b></h4>
			<div class="form-group">
				<input type="email" name="entry.1739129676" class="input_control" placeholder="E-mail*" required>
			</div>
			<h4><b>C. Contact Number*:</b></h4>
			<div class="form-group">
				<input type="text" name="entry.748574939" class="input_control quantity" title="Digit Only" maxlength="10" placeholder="Landline" value="">
			</div>	
			<div class="form-group">
				<input type="text" name="entry.256534662" class="input_control quantity" title="Digit Only" maxlength="10" placeholder="Mobile*" value="" required>
			</div>
			<h4><b>D. Permanent Address:</b></h4>
			<h4> House/Flat No.*</h4>
			<div class="form-group">
				<input type="text" name="entry.1121994363" class="input_control" placeholder="House/Flat no.*" value="" required>
			</div>
			<h4> Address line 1*</h4>
			<div class="form-group">
				<input type="text" name="entry.697324345"class="input_control" placeholder="" value="" required>
			</div>
			<h4> Address line 2*</h4>
			<div class="form-group">		
				<input type="text" name="entry.1791613171" class="input_control" placeholder="" value="" required>
			</div>	
			<h4> Landmark*</h4>
			<div class="form-group">
				<input type="text" name="entry.1083085440" class="input_control" placeholder="" value="" required>
			</div>
			<h4> City*</h4>
			<div class="form-group">
				<input type="text" name="entry.1645837237" class="input_control" placeholder="City*" value="" required>
			</div>	
			<h4> State*</h4>
			<div class="form-group">	
				<input type="text" name="entry.35407345" class="input_control " placeholder="State*" value="" required>
			</div>
			<h4> Pin Code*</h4>
			<div class="form-group">	
				<input type="text" name="entry.675555542" class="input_control quantity" title="Digit Only" placeholder="Pin code*" value="" maxlength="6" required>
			</div>
			<h4><b>E. Profession:</b></h4>
			<div class="row" style="margin: 0 auto;">
				<div class="col-md-4" style="padding: 0;">
					<div class="row">
						<div class="col-md-8">
							<div class="checkbox">
				                <label>a. Notary Public
				                </label>
				            </div>
						</div>
						<div class="col-md-4">
							<div class="checkbox">
				                <label>
				                	<input type="checkbox" name="entry.1771961882" id="ch1" type="checkbox" value="Notary Public">
				                </label>
				            </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="checkbox">
				                <label>d. Junior Lawyer
				                </label>
				            </div> 
						</div>
						<div class="col-md-4">
							<div class="checkbox">
				                <label>
				                	<input type="checkbox" name="entry.1771961882" id="ch2" type="checkbox" value="Junior Lawyer">
				                </label>
				            </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="checkbox">
				                <label>g. Company Secretary
				                </label>
				            </div> 
						</div>
						<div class="col-md-4">
							<div class="checkbox">
				                <label>
				                	<input type="checkbox" name="entry.1771961882" id="ch3" type="checkbox" value="Company Secretary">
				                </label>
				            </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="checkbox">
				                <label>j. IPR Attorney
				                </label>
				            </div> 
						</div>
						<div class="col-md-4">
							<div class="checkbox">
				                <label>
				                	<input type="checkbox" name="entry.1771961882" id="ch4" type="checkbox" value="IPR Attorney">
				                </label>
				            </div> 
						</div>
					</div>
				</div>
				<div class="col-md-4" style="padding: 0;">
					<div class="row">
						<div class="col-md-8">
							<div class="checkbox">
				                <label>b. Legal Counsel
				                </label>
				            </div> 
						</div>
						<div class="col-md-4">
							<div class="checkbox">
				                <label>
				                	<input type="checkbox" name="entry.1771961882" id="ch5" type="checkbox" value="Legal Counsel">
				                </label>
				            </div> 
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="checkbox">
				                <label>e. Property Consultant
				                </label>
				            </div> 
						</div>
						<div class="col-md-4">
							<div class="checkbox">
				                <label>
				                	<input type="checkbox" name="entry.1771961882" id="ch6" type="checkbox" value="Property Consultant">
				                  <!-- <input name="entry.1771961882" id="ch6" type="checkbox" value="Property Consultant"><span class="checkbox-material"><span class="check"></span></span> -->
				                </label>
				            </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="checkbox">
				                <label>h. Sales Tax Practitioner
				                </label>
				            </div> 
						</div>
						<div class="col-md-4">
							<div class="checkbox">
				                <label>
				                	<input type="checkbox" name="entry.1771961882" id="ch7" type="checkbox" value="Sales Tax Practitioner">
				                  <!-- <input name="entry.1771961882" id="ch7" type="checkbox" value="Sales Tax Practitioner" ><span class="checkbox-material"><span class="check"></span></span> -->
				                </label>
				            </div> 
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="checkbox">
				                <label>k. Document Consultant
				                </label>
				            </div> 
						</div>
						<div class="col-md-4">
							<div class="checkbox">
				                <label>
				                	<input type="checkbox" name="entry.1771961882" id="ch8" type="checkbox" value="Document Consultant">
				                  	<!-- <input name="entry.1771961882" id="ch8" type="checkbox" value="Doucument Consultant"><span class="checkbox-material"><span class="check"></span></span> -->
				                </label>
				            </div> 
						</div>
					</div>
				</div>
				<div class="col-md-4" style="padding: 0;">
					<div class="row">
						<div class="col-md-8">
							<div class="checkbox">
				                <label>c. Senior Advocate
				                </label>
				            </div>
						</div>
						<div class="col-md-4">
							<div class="checkbox">
				                <label>
				                	<input type="checkbox" name="entry.1771961882" id="ch9" type="checkbox" value="Senior Advocate">
				                  	<!-- <input  name="entry.1771961882" id="ch9" type="checkbox" value="Senior Advocate" ><span class="checkbox-material"><span class="check"></span></span> -->
				                </label>
				            </div> 
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="checkbox">
				                <label>f. Chartered Accountant
				                </label>
				            </div>
						</div>
						<div class="col-md-4">
							<div class="checkbox">
				                <label>
				                	<input type="checkbox" name="entry.1771961882" id="ch10" type="checkbox" value="Chartered Accountant">
				                  	<!-- <input name="entry.1771961882" id="ch10" type="checkbox" value="Chartered Accountant"><span class="checkbox-material"><span class="check"></span></span> -->
				                </label>
				            </div> 
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="checkbox">
				                <label>i. Cost Accountatnt
				                </label>
				            </div> 
						</div>
						<div class="col-md-4">
							<div class="checkbox">
				                <label>
				                	<input type="checkbox" name="entry.1771961882" id="ch11" type="checkbox" value="Cost Accountatnt">
				                  	<!-- <input name="entry.1771961882" id="ch11" type="checkbox" value="Cost Accountatnt"><span class="checkbox-material"><span class="check"></span></span> -->
				                </label>
				            </div> 
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="checkbox">
				                <label>l. Other
				                </label>
				            </div> 
						</div>
						<div class="col-md-4">
							<div class="checkbox">
				                <label>
				                	<input type="checkbox" name="entry.1771961882" id="ch12" type="checkbox" value="Other">
				                  	<!-- <input name="entry.1771961882" id="ch12" type="checkbox" value="__other_option__" ><span class="checkbox-material"><span class="check"></span></span> -->
				                </label>
				            </div> 
						</div>
					</div>
				</div>
			</div>
			<div>
				<button type="button" class="btn btn-primary next_form input" onclick="check_checkboxes();">NEXT</button>
			</div>
		</div>
		<div class="card step_two" style="display:none;">
			<h3><u><b>2) Company Details:</b></u></h3>
        	<h4><b> A. Company Name*</b></h4>
			<div class="form-group">
				<input name="entry.803706408" type="text" class="input_control" placeholder="Company Name*" required>
			</div>
			<h4><b>B. Company Registration Number*:</b></h4>
			<div class="form-group">
				<input name="entry.1721338223" type="text" class="input_control" placeholder="" required>
			</div>
			<h4><b>C. PAN Number *:</b></h4>
			<div class="form-group">
				<input name="entry.334391961" type="text" class="input_control" placeholder="" required>
			</div>
			<h4><b>D. TAN Number*:</b></h4>
			<div class="form-group">
				<input name="entry.786863210" type="text" class="input_control" placeholder="" required>
			</div>
			<h4><b>E. Service Tax Number*:</b></h4>
			<div class="form-group">
				<input name="entry.1242943968" type="text" class="input_control" placeholder="" required>
			</div>
			<h4><b> F. Office Address:</b></h4>
			<h4> Company Name*</h4>
			<div class="form-group">
				<input name="entry.1991510498" type="text" class="input_control" placeholder="Company Name*" value="" required>
			</div>
			<h4>Address line 1*</h4>
			<div class="form-group">		
				<input name="entry.1435823551" type="text" class="input_control" placeholder="" value="" required>
			</div>	
			<h4>Address line 2*</h4>
			<div class="form-group">
				<input name="entry.1892935758" type="text" class="input_control" placeholder="" value="" required>
			</div>
			<h4>City*</h4>
			<div class="form-group">
				<input name="entry.1732943074" type="text" class="input_control" placeholder="City*" value="" required>
			</div>	
			<h4>State*</h4>
			<div class="form-group">	
				<input name="entry.475748504" type="text" class="input_control" placeholder="State*" value="" required>
			</div>
			<h4>Pin Code*</h4>
			<div class="form-group">	
				<input name="entry.680513025" type="text" class="input_control quantity"  title="Digit Only" placeholder="Pin code*" value="" maxlength="6" required>
			</div>
			<div class="btn_block">
				<button type="button" class="btn btn-primary previous_btn">Previous</button>
				<button type="submit" class="btn btn-primary next_btn ">Next</button>
			</div>
		</div>	     
		<div class="card step_three" style="display:none;">
			<h3><u><b>3) Bank Details:</b></u></h3>
        	<h4><b>A. Account Holder Name</b> </h4>
			<div class="form-group">
				<input name="entry.501138960" type="text" class="input_control" placeholder="Account Holder Name*" required>
			</div>
			<h4><b>B. Bank Account Number*:</b></h4>
			<div class="form-group">
				<input name="entry.957375835" type="text" class="input_control" placeholder="Bank Account Number*" required>
			</div>
			<h4><b>C. IFSC Code*:</b></h4>
			<div class="form-group">
				<input name="entry.30181189" type="text" class="input_control" placeholder="IFSC Code*" required>
			</div>
			<h4><b>D. Bank Name*:</b></h4>
			<div class="form-group">
				<input name="entry.539966305" type="text" class="input_control" placeholder="Bank Name*" required>
			</div>
			<h4><b>E. Branch Name*:</b></h4>
			<div class="form-group">
				<input name="entry.2094266606" type="text" class="input_control" placeholder="Branch Name*" required>
			</div>
			<h4><b>F. Bank Address*:</b></h4>
			<div class="form-group">
				<input name="entry.1949302228" type="text" class="input_control" placeholder="Bank Address*" required>
			</div>
			<h4><b>G. City*:</b></h4>
			<div class="form-group">
				<input name="entry.1967626651" type="text" class="input_control" placeholder="City*" required>
			</div>
			<h4><b>H. State*:</b></h4>
			<div class="form-group">
				<input name="entry.285464872" type="text" class="input_control " placeholder="State*" required>
			</div>
			<h4><b>I. Pin Code*:</b></h4>
			<div class="form-group">
				<input name="entry.469769149" type="text" class="input_control quantity" title="Digit Only" placeholder="Pin Code*" required maxlength="6">
			</div>
			<h4>Declaration:</h4>
			<div class="checkbox">
                <label>
                	<input type="checkbox" name="entry.1771961882" id="ch12" type="checkbox" value="__other_option__">
                  <!-- <input name="" id="ch12" type="checkbox" value="__other_option__" required ><span class="checkbox-material"><span class="check"></span></span> -->
					I hereby declare that the information provided by me on the above from is true and correct to the best of my knowledge
					and belief. I also confirm that in the event that any information provided by me is not true/incomplete, I shall be solely responsible for the same and consequences thereof. I further declare to submit the following documents: ID Proof, Address Proof, Certificate of Incorporation, Business Registration and Shop Establishment Proof, NDA, MOU and Cancelled Cheque as applicable. 
                </label>
            </div> 
			<div class="btn_block">
				<button type="button" class="btn btn-primary previous_frm">Previous</button>
				<button type="submit" onclick="this.form.submit(); this.disable=true; this.value='Submitting...';" class="btn btn-primary submit_btn">Submit</button>
			</div>
		</div>	
	</form>
	<div class='thanks' style="display:none"> 
			Thank You for Registering. We will get back to you shortly.
	</div>
</div>
<script>
	function partnerFormHide(){
		$('#myform').hide();
		$('.thanks').show();
		setNotification('success', 'Your Request has been Received');
		parent.scrollTo(0, 0);
  	}
	$(document).ready(function(){
		//jQuery time
		var current_fs, next_fs, previous_fs; //fieldsets
		var left, opacity, scale; //fieldset properties which we will animate
		var animating; //flag to prevent quick multi-click glitches
		var n=0;
		$(".next").click(function(){
			if($('#myform').children('fieldset').eq(n).find('input').val() === ''){
	                error = 'NOVAL';
		    	return false;
		    }
			if(animating) return false;
			animating = true;
			current_fs = $(this).parent();
			next_fs = $(this).parent().next();
			//activate next step on progressbar using the index of next_fs
			$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
			//show the next fieldset
			next_fs.show(); 
			//hide the current fieldset with style
			current_fs.animate({opacity: 0}, {
				step: function(now, mx) {
					//as the opacity of current_fs reduces to 0 - stored in "now"
					//1. scale current_fs down to 80%
					scale = 1 - (1 - now) * 0.2;
					//2. bring next_fs from the right(50%)
					left = (now * 50)+"%";
					//3. increase opacity of next_fs to 1 as it moves in
					opacity = 1 - now;
					current_fs.css({'transform': 'scale('+scale+')'});
					next_fs.css({'left': left, 'opacity': opacity});
				}, 
				duration: 800, 
				complete: function(){
					current_fs.hide();
					animating = false;
				}, 
				//this comes from the custom easing plugin
				easing: 'easeInOutBack'
			});
		});

 		$(".previous").click(function(){
			if(animating) return false;
			animating = true;
			current_fs = $(this).parent();
			previous_fs = $(this).parent().prev();
			//de-activate current step on progressbar
			$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
			//show the previous fieldset
			previous_fs.show(); 
			//hide the current fieldset with style
			current_fs.animate({opacity: 0}, {
				step: function(now, mx) {
					//as the opacity of current_fs reduces to 0 - stored in "now"
					//1. scale previous_fs from 80% to 100%
					scale = 0.8 + (1 - now) * 0.2;
					//2. take current_fs to the right(50%) - from 0%
					left = ((1-now) * 50)+"%";
					//3. increase opacity of previous_fs to 1 as it moves in
					opacity = 1 - now;
					current_fs.css({'left': left});
					previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
				}, 
				duration: 800, 
				complete: function(){
					current_fs.hide();
					animating = false;
				}, 
				//this comes from the custom easing plugin
				easing: 'easeInOutBack'
			});
		});
		$("#uploadBtn").on('change',function () {
	    	document.getElementById("uploadFile").value = this.value;
		});
		$("#uploadBtn1").on('change',function () {
	    	document.getElementById("uploadFile1").value = this.value;
		});
		$("#uploadBtn2").on('change',function () {
	    	document.getElementById("uploadFile2").value = this.value;
		});
		$("#uploadBtn3").on('change',function () {
	    	document.getElementById("uploadFile3").value = this.value;
		});
		$("#uploadBtn4").on('change',function () {
	    	document.getElementById("uploadFile4").value = this.value;
		});
		$("#uploadBtn5").on('change',function () {
	    	document.getElementById("uploadFile5").value = this.value;
		});
	})
</script>