<%= form_tag(@url,method: :post, id: 'icici', authenticity_token: false ) do |f| %>
    <% @options.each do |field, value| %>
        <%= hidden_field_tag(field, value) %>
    <% end %>
<% end %>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script>
	$(document).ready(function () {
		$('#icici').submit();
	})
</script>