<div class="container-fluid section_padd payments box_wrap">
	<div class="row payment_summary">
		<div class="col-md-6 summary_wrap">
			<%= render 'home/new_info_url' %>
		</div>
		<div class="col-md-6">
			<%= form_tag('/apply_coupon', type: :post, remote: true, class: 'coupon-form') do |f| %>
	          <%= hidden_field_tag 'user_id',nil, value: current_user %>
	          <%= hidden_field_tag 'order_id',nil, value: @order.id %>
				<div class="voucher_wrap">
					<p class="discount_wrap">AVAIL OFFERS & DISCOUNT</p>
					<div class="row">
						<div class="col-md-9">
							<input type="text" class="input_discount" value="<%= @order.coupon ? @order.coupon.code : '' %>" name="coupon" id="discountCode" placeholder="ENTER YOUR DISCOUNTED CODE">			
						</div>
						<div class="col-md-3">
							<button type="submit" class="btn apply_btn btn-default" style="display:<%= @order.coupon_id ? 'none' : 'block' %>;" id="changeType"/>APPLY</button>
							<div class="discount-cancel" style="display:<%= @order.coupon_id ? 'block' : 'none' %>;">REMOVE</div>
						</div>
					</div>	
				</div>
			<% end %>
	         <input type="hidden" name='txnid' value='<%= params[:txnid] %>'>
			<%= form_tag({:controller => "home", :action => "update_order_details"}, remote: true, :method => "post", :class => "order_details_form") do %>
				<%= hidden_field_tag 'user_id',nil, value: current_user %>
	          	<%= hidden_field_tag 'order_id', @order.id %>
	          	<%= hidden_field_tag 'txnid', @order.txnid %>
				<div class="contact_details">
					<div class="payment_details">
						<p>SHARE YOUR CONTACT DETAILS</p>
				      	<div class="form-group">
				      		<input type="text" class="input_name" id="fullName" pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" title="Type only characters" name="name"  placeholder="FULL NAME" required/>
				      	</div>
				      	<div class="form-group">
			      			<input type="email" class="input_name" id="email" title="Eg: some@mail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" placeholder="EMAIL ADDRESS" required/>
			      		</div>
			      		<div class="form-group">
			      			<input type="text" class="input_name" id="mobileNumber" maxlength="10" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" title="Enter 10 digit Valid Mobile Number" name="mobile" placeholder="MOBILE NUMBER" required/>
			      		</div>
				    </div>
				</div>	
					
				<div class="terms_wrap">
					<div class="checkbox">
						<label>
							<input type="checkbox" class="terms_condition" name="terms_condition" value="">
							&nbsp;&nbsp; <span class="chk_hint">I agree to the <a href="/terms"><em>Terms & Conditions</em></a> of Docket Tech</span>
						</label>
					</div>
				</div>	
				<button type="submit" class="btn btn-primary pay_btn" style="display:none;">PAY &nbsp;&nbsp;&nbsp;<span class="pay_caret"><i class="fa fa-caret-right" aria-hidden="true"></i></span></button>
			<% end %> 
		</div>
	</div>
</div>
<div class="result"></div>
<script>
$(document).ready(function() {
	// $('#changeType').on('click', function(e){
	// 	$('.discount-cancel').show();
	// 	$('#changeType').hide();
	// })

	$('.discount-cancel').on('click', function(e){
		$('.input_discount').val('');
		$('.discount-cancel').hide();
		$('#changeType').show();
	})

	$('.order_details_form').on('ajax:success', function (data, textStatus, jqXHR) {
		console.log(data);
		// if (data.status === 200 ){
			$('.result').html(textStatus);
			$('.payumoney').submit();
			setNotification('success', 'Proceeding To Payment!');
		// }
    }).on('ajax:error',function(e, xhr, status, error){
      setNotification('error', 'Fill all details');
    });
	// $('.pay_btn').on('click', function(e){
	// 	e.stopPropagation();
	// 	e.preventDefault();
	// 	// $(".order_details_form").validate();
	// 	// if ($('.accept_terms:checked').val() == undefined){
	// 	// 	setNotification('error', "Agree to Terms to proceed");
	// 	// 	return
	// 	// }
	// 	// if ($('.accept_terms:checked').val() != undefined){
			
	// 		$.ajax({
	// 			type: 'post',
	// 			url: '/update_order_details',
	// 			data: $('.order_details_form input').serialize()
	// 		}).complete(function (data, textStatus, jqXHR) {
	// 			console.log(data);
	// 			if (data.status === 200 ){
	// 				$('.result').html(data.responseText);
	// 				$('.payumoney').submit();
	// 				setNotification('success', 'Proceeding To Payment!');
	// 			}
	// 			else{
	// 				setNotification('error', 'Fill all details');
	// 			}
	// 		})
	// 	// }
	// })
	$('.coupon-form').on('submit', function(e) {
			
		e.preventDefault();
		e.stopPropagation();
		$.ajax({
			type: 'post',
			url: '/apply_coupon',
			data: $('.coupon-form').serialize()
		}).done(function (data, textStatus, jqXHR) {
			$('.summary_wrap').html(data);
			// $('#cuponModal').modal('toggle');
			setNotification('success', 'Coupon Code Applied Successfully');
			bindCancelCoupon();
			$('.discount-cancel').show();
			$('#changeType').hide();
			// remove coupon code here
		}).fail(function (jqXHR, textStatus, errorThrown) {
			setNotification('error', 'COUPON CODE INVALID. TRY AGAIN');
		});
	});
	bindCancelCoupon();
	function bindCancelCoupon(){
		$('.discount-cancel').bind('click', function(e) {
			
			e.preventDefault();
			e.stopPropagation();
			$.ajax({
				type: 'post',
				url: '/remove_coupon',
				data: $('.coupon-form').serialize()
			}).done(function (data, textStatus, jqXHR) {
				$('.summary_wrap').html(data);
				setNotification('success', 'Coupon Code removed');
			}).fail(function (jqXHR, textStatus, errorThrown) {
				setNotification('error', 'Server Error! TRY AGAIN');
			});
		});
	}
})
</script>
