<%= form_tag(@url,:type => :post, class: 'payumoney' ) do |f| %>
    <% @options.each do |field, value| %>
        <%= hidden_field_tag(field, value) %>
    <% end %>
    <input type="submit" value='Submit'>
<% end %>