<div class="container-fluid section_padd privacy">
    <h1 class="text-center style"><b> Privacy Policy </b></h1>
    <hr class="privacy_hr">
    <div class="row clearfix style_div">
      <div class="col-md-4">
        <nav class="">
            <ul class="style_ul nav" >
                <li class="active"><a href="#privacy_policy">Privacy Policy</a></li>
                <li><a href="#personal_information">Use of your Personal Information</a></li>
                <li class=""><a href="#cookies">Use of Cookies</a></li>
                <li class=""><a href="#security_personal_information">Security of your Personal Information</a></li>
            </ul>
        </nav>
      </div>
      <div class="col-md-8">
        <div class="style_para">
          <section id="privacy_policy">
            <h4><b>PRIVACY POLICY</b></h4>
            <p classs="style_text">Protecting your private information is our priority. This Privacy Policy governs data collection and usage of the products, services, software, platform and websites (collectively, "Services") provided by Docket Tech Solutions Private Limited and any of our affiliates (collectively, "Docket"). By using the Services, You (the “Users”) consent to the data practices described in this policy as well as our Terms of Use. If you do not agree to any part of this Privacy Policy, then you should stop accessing the Services. </p><br>
            <h4><b>Collection of your Personal Information</b></h4>
            <p classs="style_text">Docket may collect personally identifiable information, such as your e-mail address, name, physical address or telephone number. If you purchase our Services, we will collect and store your billing and credit card information. Docket may also collect anonymous demographic information, which is not unique to you, such as your postal code, age, gender, preferences, interests and favorites. </p><br>
            <p classs="style_text">Information about your computer hardware and software also may be automatically collected by Docket. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used by Docket for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the Services.</p><br>

            <p classs="style_text">Please keep in mind that if you directly disclose personally identifiable information or personally sensitive data through the Services, this information may be collected and used by others.  Docket encourages you to review the privacy statements of websites you choose to link to from our website so that you can understand how those websites collect, use and share your information. Docket is not responsible for the privacy statements or other content on websites outside of the websites we operate.</p>
          </section>
          <section id="personal_information">
              <h4><b>Use of your Personal Information</b></h4>
              <p classs="style_text">Docket collects and uses your personal information to operate our websites and deliver the Services you have requested. Docket may also use your personally identifiable information to inform you of other products or services available from Docket and its affiliates. Docket may also contact you to participate in surveys to conduct research about your opinion of current services or of potential new services that may be offered.</p><br>
             
              <p classs="style_text">Docket does not sell, rent or lease its customer lists to third parties. Docket may, from time to time, contact you on behalf of external business partners about a particular offering that may be of interest to you. In those cases, your unique personally identifiable information (i.e., e-mail, name, address, telephone number) is not transferred to the third party without your express consent. In addition, Docket may share data with trusted partners to help us perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. Docket may share your information with third parties who perform tasks required to complete a purchase transaction. All such third parties are prohibited from using your personal information except to provide these Services, and they are obligated to maintain the confidentiality of your information.</p></br>
            
              <p classs="style_text">Docket keeps track of the pages our customers visit within our websites in order to determine what Services are the most popular. This data is used to deliver customized content and advertising within the websites we operate to users whose behavior indicates that they are interested in a particular subject area. Docket uses tracking pixels to collect information that helps us provide our Service to you. Please note that any "do not track" signals sent by your web browser or other mechanism have no effect on the collection of personally identifiable information by Docket. In addition, other parties who perform data analytics for Docket, may collect personally identifiable information about your online activities when you use our Services. Third party affiliates of Docket may have different policies with respect to "do not track" signals and Docket makes no representations with respect to such policies.
              </p>
          </section>
          <section id="cookies">
              <h4><b>Use of Cookies</b></h4>
              <p classs="style_text">Our website may use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.</p><br>
              <p classs="style_text">One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you register an account with Docket, a cookie helps us recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to our website, the information you previously provided can be retrieved, so you can easily use the features that you customized.</p><br>
              <p classs="style_text">You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the Services.</p>
          </section>
          <section id="security_personal_information">
              <h4><b>Security of your Personal Information</b></h4>
              <p classs="style_text">You are responsible for safeguarding and preventing unauthorized access to the user information and password that you use to access our Services. You agree not to disclose your password to any third party and you are responsible for any activity using your account, whether or not you authorized that activity. Please immediately notify Docket of any unauthorized use of your account.
              </p><br>
              <p lasss="style_text">Docket secures your personal information from unauthorized access, use or disclosure. In addition, Docket secures the personally identifiable information you provide on computer servers in a controlled, secure environment, protected from unauthorized access, use or disclosure. When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Socket Layer (SSL) protocol.
              </p><br>
              <h4><b>Changes to this Privacy Policy</b></h4>
              <p classs="style_text">Docket may change the provisions of this Privacy Policy at any time, and will always post the most up-to-date version on our website.</p>
          </section>
        </div>
      </div> 
    </div>
</div>

<script>
  // $('a').click(function(){
  //     $('html, body').animate({
  //         scrollTop: $( $(this).attr('href') ).offset().top
  //     }, 1000);
  //     return false;
  // });

  var sections = $('section')
    , nav = $('nav')
    , nav_height = nav.outerHeight();

  $(window).on('scroll', function () {
    var cur_pos = $(this).scrollTop();
    
    sections.each(function() {
      var top = $(this).offset().top - nav_height,
          bottom = top + $(this).outerHeight();
      
      if (cur_pos >= top && cur_pos <= bottom) {
        nav.find('a').removeClass('active');
        sections.removeClass('active');
        
        $(this).addClass('active');
        nav.find('a[href="#'+$(this).attr('id')+'"]').addClass('active');
      }
    });
  });

  nav.find('a').on('click', function () {
    var $el = $(this)
      , id = $el.attr('href');
    
    $('html, body').animate({
      scrollTop: $(id).offset().top - nav_height
    }, 500);
    
    return false;
  });
</script>
    