<div class="row">
	<div class="col-md-2-offset col-md-10 body-wrapper">
		<div class="row clearfix profile-padd card">
			<%#= form_tag('/update_profile', type: :post, multipart: true, :class => "profile_form_style") do |f| %>
				<%#= hidden_field_tag 'user_id',nil, value: current_user %>
				<div class="col-md-3">
					<ul class="nav nav-tabs tablist" role="tablist">
						<li role="presentation" class="active"><a href="/edit_profile"><i class="fa fa-pencil"></i> &nbsp;&nbsp;&nbsp;Edit Profile</a></li>
						<!-- <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-pencil"></i> &nbsp;&nbsp;&nbsp;Change Password</a></li> -->
						<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-pencil"></i> &nbsp;&nbsp;&nbsp;Change Mobile Number</a></li>
						<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-pencil"></i> &nbsp;&nbsp;&nbsp;Change Email</a></li>
						<li role="presentation">
							<% if @current_user.profile.id_proof_url || @current_user.profile.address_proof_url %>
							<a href="#idproof" aria-controls="idproof" role="tab" data-toggle="tab">
								 <button type="button" class="btn btn-default add_id_btn">Update ID Proof</button>
							</a>
							<% else %>
								<button type="button" class="btn btn-default add_id_btn"  data-toggle="modal" data-target="#myModal5"><i class="fa fa-pencil pencile_style"></i> Add ID Proof</button>
							<% end %>
						</li>
					</ul>
				</div>
				<div class="col-md-9">
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="home">
							<div class="profile_info">
								<h4 class="profile_head">PERSONAL INFORMATION</h4>
								<div class="profile_details_style">
									<div class="row input_wrapper">
										<div class="col-md-4">
											<label>First Name</label>
										</div>
										<div class="col-md-8">
											<%= @current_user.profile.first_name %>
										</div>
									</div>
									<div class="row input_wrapper">
										<div class="col-md-4">
											<label>Last Name</label>
										</div>
										<div class="col-md-8">
											<%= @current_user.profile.last_name %>
										</div>
									</div>
									<div class="row input_wrapper">
										<div class="col-md-4">
											<label>Gender</label>
										</div>
										<div class="col-md-8">
											<%= @current_user.profile.gender.capitalize if @current_user.profile.gender %>
										</div>
									</div>
									<div class="row input_wrapper">
										<div class="col-md-4">
											<label>Date of Birth</label>
										</div>
										<div class="col-md-8">
											<%= @current_user.profile.birthday ? @current_user.profile.birthday.strftime('%d-%m-%Y') : '' %>
											
										</div>
									</div>
									<div class="row input_wrapper">
										<div class="col-md-4">
											<label>Mobile Number</label>
										</div>
										<div class="col-md-5">
											<%= '+'+ (@current_user.profile.country ? @current_user.profile.country.phone_code : '91') + ' '+ @current_user.phone %>
										</div>
										<% if !@current_user.profile.mobile_verified %>
											<div class="col-md-3"> 
												<div class="modal_text verify-mobile" data-toggle="modal" data-target="#myModal4" title="Mobile Number Verification Pending">Verify Mobile</div>
											</div>
										<% end %>
									</div>
									<div class="row input_wrapper">
										<div class="col-md-4">
											<label>Email Id</label>
										</div>
										<div class="col-md-5">
											<%= @current_user.email %>
										</div>
										<% if !@current_user.profile.email_verified %>
											<div class="col-md-3"> 
												<div class="modal_text activate-email" title="Click to activate email">Verify Email</div>
											</div>
										<% end %>
									</div>
								</div>
								<div class="address-list">
									<div class="address-details">
										<h4 class="profile_head">MY ADDRESS</h4>
										<% @current_user.addresses.each do |address| %>
											<div class="address"> 
												<h4 class="profile_head1"><%= address.tag %></h4> 
												<div class="address_content">
													<%= address.address1 + ', ' + address.locality.name %> <br>
													<%= address.city.name + ', ' + address.pincode %>
												</div>
											</div>
										<% end %>
									</div>					
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="profile">
							<div class="main_wrapper">
								<h4 class="forgot_text">Change Password </h4>
								<div class="forgot_wrapper">
									<div class="change_password">
										<%= form_tag('/change_password', type: :post, :class => "forgot_form") do |f| %>
											<%= hidden_field_tag 'user_id',nil, value: current_user %><div class="forgot_input_style">
												<input type="password" name="old_password" id="old_password" class="input_style" required="required" title="" placeholder="Old Password">
												<input type="password" name="new_password" id="new_password" class="input_style" required="required" title="" placeholder="New Password">
												<input type="password" name="confirm_password" id="confirm_password" class="input_style" required="required" title="" placeholder="Confirm Password">
												<button type="submit" class="btn btn-default submit_btn">Submit</button>
											</div>
										<% end %>
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="messages">
							<div class="main_wrapper">
								<h4 class="forgot_text">Change Mobile Number </h4>
								<div class="forgot_wrapper">
									<div class="change_mobile">
										<%= form_tag('/change_mobile', type: :post, :class => "forgot_form") do |f| %>
											<%= hidden_field_tag 'user_id',nil, value: current_user %><div class="forgot_input_style">
												<div class="row clearfix">
													<div class="col-md-2">
														<input type="text" list="countries" name='phone_code' maxlength="4" class="login__input input-style keyup-numeric" placeholder='91' value='<%= @current_user.profile.country ? @current_user.profile.country.phone_code : '91' %>' id="code" required/>
														<datalist id="countries">
															<!-- <select name="country_id" id="" required> -->
															  <% @countries.each do |country| %>
																<option value="<%= country.phone_code %>"><%= country.name %></option>
															  <% end %>
															<!-- </select> -->
														</datalist>
													</div>
													<div class="col-md-10">
														<input type="text" name="old_mobile" id="old_mobile" class="input_style1" required="required" title="" placeholder="Old Mobile Number">
													</div>
												</div>
												<div class="row clearfix">
													<div class="col-md-2">
														<input type="text" name='phone_code' list="countries" maxlength="4" class="login__input input-style keyup-numeric" placeholder='91' id="code" required/>
														<datalist id="countries">
															<!-- <select name="country_id" id="" required> -->
															  <% @countries.each do |country| %>
																<option value="<%= country.phone_code %>"><%= country.name %></option>
															  <% end %>
															<!-- </select> -->
														</datalist>
													</div>
													<div class="col-md-10">
														<input type="text" name="new_mobile" id="new_mobile" class="input_style1" required="required" title="" placeholder="New Mobile Number">
													</div>
												</div>
												<button type="submit" class="btn btn-default submit_btn">Submit</button>
											</div>
										<% end %>
									</div>	
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="settings">
							<div class="main_wrapper">
								<h4 class="forgot_text">Change Email </h4>
								<div class="forgot_wrapper">
									<div class="change_email">
										<%= form_tag('/change_email', type: :post, :class => "forgot_form") do |f| %>
											<%= hidden_field_tag 'user_id',nil, value: current_user %><div class="forgot_input_style">
												<input type="email" name="new_email" id="new_email" class="input_style" required="required" title="" placeholder="New Email ID">
												<input type="email" name="confirm_email" id="confirm_email" class="input_style" required="required" title="" placeholder="Confirm Email ID">
												<button type="submit" class="btn btn-default submit_btn">Submit</button>
											</div>
										<% end %>
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="idproof">
							<div class="main_wrapper">
								<h4 class="forgot_text">Edit Your ID Proof </h4>
								<div class="row clearfix download_wrapper">
									<div class="col-md-6 upload_text_style">
										<a href="<%= @current_user.profile.id_proof_url %>"> ID PROOF</a>  <i class="fa fa-download"></i>
									</div>
									<div class="col-md-6 upload_text_style">
										<a href="<%= @current_user.profile.address_proof_url %>"> ADDRESS PROOF </a>  <i class="fa fa-download"></i>
									</div>
								</div>
								<div class="edit_id_wrapper">
									<button type="button" class="btn btn-default add_id_btn"  data-toggle="modal" data-target="#myModal5"><i class="fa fa-pencil pencile_style"></i> Edit ID's</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			<%# end %>
		</div>
	</div>
</div>
<% if !@current_user.profile.mobile_verified %>
	<%= render 'home/verify_mobile' %>
<% end %>

<div class="modal fade id_proof_style" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content modal_height_style">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title text-center" id="myModalLabel">Upload Your Id Proof</h4>
			</div>
			<div class="modal-body">
				<div class="upload_wrapper">
					<%= form_tag('/upload_idproof', type: :post, multipart: true, :class => "profile_form_style") do |f| %>
						<%= hidden_field_tag 'user_id',nil, value: current_user %>
						<div class="row clearfix">
							<div class="col-md-12">
								<span>
									<input id="uploadFile" placeholder="ID Proof (PAN Card/Aadhar Card)" disabled="disabled" accept=".png,.jpg,.jpeg" required/>
									<div class="fileUpload btn btn-primary">
										<span>Upload</span>
										<input id="uploadBtn" name='id_proof' type="file" class="upload" accept=".png,.jpg,.jpeg" required/>
									</div>
								</span>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-md-12">			
								<span class="upload">
									<input id="uploadFile1" placeholder="Address Proof (Passport/Voter ID/Driving License)" disabled="disabled" accept=".png,.jpg,.jpeg" required/>
									<div class="fileUpload btn btn-primary">
										<span>Upload</span>
										<input id="uploadBtn1" name='address_proof' type="file" class="upload" accept=".png,.jpg,.jpeg" required/>
									</div>
								</span>
							</div>
						</div>
						<button type="submit" class="btn btn-default submit-profile">Submit</button>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#blah').attr('src', e.target.result)
				};
				reader.readAsDataURL(input.files[0]);
			}
		}
		$('.calendar').datepicker({
			minDate: 0,
			changeMonth: true,
			dateFormat: "dd/mm/yy",
			firstDay: 1,
			changeYear: true,
			stepMonths: 1,
			hideIfNoPrevNext: true,
			showAnim: 'slideDown',
			showOn: "both",  
			showOtherMonths: true,
			showStatus: true,
			beforeShow: function(text, inst){        
				var next_day = new Date(
					inst.selectedYear,
					inst.selectedMonth,
					inst.selectedDay
				);        
				next_day.setDate(next_day.getDate()+1);
				if(inst.selectedMonth != next_day.getMonth())
					{return {numberOfMonths: 2};}
				else
					{return {numberOfMonths: 1};}
			}
		});
		$('.change_email form').on('submit', function(e) {
			e.preventDefault();
			e.stopPropagation();
			$.ajax({
				type: 'post',
				url: '/change_email',
				data: $('.change_email form').serialize()
			}).done(function (data, textStatus, jqXHR) {
				setNotification('success', 'Email Updated Successfully.');
			}).fail(function (jqXHR, textStatus, errorThrown) {
				setNotification('error', 'Unknown Error. Try Again');
			});
		});
		$('.change_password form').on('submit', function(e) {
			e.preventDefault();
			e.stopPropagation();
			$.ajax({
				type: 'post',
				url: '/change_password',
				data: $('.change_password form').serialize()
			}).done(function (data, textStatus, jqXHR) {
				setNotification('success', 'Password Updated Successfully');
			}).fail(function (jqXHR, textStatus, errorThrown) {
				setNotification('error', 'Unknown Error. Try Again');
			});
		});
		$('.change_mobile form').on('submit', function(e) {
			e.preventDefault();
			e.stopPropagation();
			$.ajax({
				type: 'post',
				url: '/change_mobile',
				data: $('.change_mobile form').serialize()
			}).done(function (data, textStatus, jqXHR) {
				setNotification('success', 'Mobile Number Updated Successfully');
			}).fail(function (jqXHR, textStatus, errorThrown) {
				setNotification('error', 'Mobile already in use');
			});
		});
		$('.activate-email').on('click', function(e) {
			e.preventDefault();
			e.stopPropagation();
			$.ajax({
				type: 'post',
				url: '/activate_email',
				data: 'user_id=<%= current_user %>'
			}).done(function (data, textStatus, jqXHR) {
				setNotification('success', 'Activation Link sent  Successfully');
			}).fail(function (jqXHR, textStatus, errorThrown) {
				setNotification('error', 'Unknown Error. Try Again');
			});
		});

		$("#uploadBtn").on('change',function () {
			document.getElementById("uploadFile").value = this.value;
		});
		$("#uploadBtn1").on('change',function () {
			document.getElementById("uploadFile1").value = this.value;
		});

		$('.keyup-numeric').keyup(function() {
			$('span.error-keyup-1').hide();
			var inputVal = $(this).val();
			var numericReg = /^\d*[0-9](|.\d*[0-9]|,\d*[0-9])?$/;
			if(!numericReg.test(inputVal)) {
				$(this).after('<span class="error error-keyup-1">Numbers only.</span>');
			}
		});
	})
</script>
