<?xml version="1.0" encoding="UTF-8"?>
<urlset
      xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
  <!-- created with Free Online Sitemap Generator www.xml-sitemaps.com -->

  <url>
    <loc>https://www.dockettech.com/</loc>
    <changefreq>daily</changefreq>
  </url>
  <url>
    <loc>https://www.dockettech.com/in/agreement</loc>
    <changefreq>daily</changefreq>
  </url>
  <url>
    <loc>https://www.dockettech.com/in/affidavit</loc>
    <changefreq>daily</changefreq>
  </url>
  <url>
    <loc>https://www.dockettech.com/in/bond</loc>
    <changefreq>daily</changefreq>
  </url>
  <url>
    <loc>https://www.dockettech.com/in/deed</loc>
    <changefreq>daily</changefreq>
  </url>
  <url>
    <loc>https://www.dockettech.com/in/notary</loc>
    <changefreq>daily</changefreq>
  </url>
  <url>
    <loc>https://www.dockettech.com/in/e-stamp</loc>
    <changefreq>daily</changefreq>
  </url>
  <url>
    <loc>https://www.dockettech.com/in/attestation</loc>
    <changefreq>daily</changefreq>
  </url>
  <url>
    <loc>https://www.dockettech.com/in/franking</loc>
    <changefreq>daily</changefreq>
  </url>
  <url>
    <loc>https://www.dockettech.com/in/startup</loc>
    <changefreq>daily</changefreq>
  </url>
  <url>
    <loc>https://www.dockettech.com/in/marketplace</loc>
    <changefreq>daily</changefreq>
  </url>
  <url>
    <loc>https://www.dockettech.com/in/property</loc>
    <changefreq>daily</changefreq>
  </url>
  <url>
    <loc>https://www.dockettech.com/in/paperwork</loc>
    <changefreq>daily</changefreq>
  </url>
  <url>
    <loc>https://www.dockettech.com/about-us</loc>
    <changefreq>daily</changefreq>
  </url>
  <url>
    <loc>https://www.dockettech.com/contact-us</loc>
    <changefreq>daily</changefreq>
  <priority>0.8</priority>
  </url>
  <url>
    <loc>https://www.dockettech.com/team</loc>
    <changefreq>daily</changefreq>
  </url>
  <url>
    <loc>https://www.dockettech.com/partner-with-us</loc>
    <changefreq>daily</changefreq>
  </url>
  <url>
    <loc>https://www.dockettech.com/helpcenter</loc>
    <changefreq>daily</changefreq>
  </url>
  <url>
    <loc>https://www.dockettech.com/privacy</loc>
    <changefreq>daily</changefreq>
  </url>
  <url>
    <loc>https://www.dockettech.com/terms</loc>
    <changefreq>daily</changefreq>
  </url>
  <url>
    <loc>https://www.dockettech.com/disclaimer</loc>
    <changefreq>daily</changefreq>
  </url>
  <% @document.each do |doc| %>
    <url>
      <loc>https://www.dockettech.com/product/<%= doc.id.to_s  + '-' + doc.name.split(' ').join('-')  %></loc>
      <changefreq>daily</changefreq>
    </url>
  <% end %>
  <url>
    <loc>https://www.dockettech.com/rental-agreement</loc>
    <changefreq>daily</changefreq>
  <priority>0.8</priority>
  </url>
  <url>
    <loc>https://www.dockettech.com/company-registration</loc>
    <changefreq>daily</changefreq>
  <priority>0.8</priority>
  </url>
  <url>
    <loc>https://www.dockettech.com/online-affidavit</loc>
    <changefreq>daily</changefreq>
  <priority>0.8</priority>
  </url>
  <url>
    <loc>https://www.dockettech.com/order-indemnity-bond-online-bangalore</loc>
  <priority>0.6</priority>
    <changefreq>daily</changefreq>
  </url>
  <url>
    <loc>https://www.dockettech.com/order-estamp-online-bangalore</loc>
    <changefreq>daily</changefreq>
  <priority>0.8</priority>
  </url>
  <url>
    <loc>https://www.dockettech.com/order-power-of-attorney-online-bangalore</loc>
    <changefreq>daily</changefreq>
  <priority>0.6</priority>
  </url>
  <url>
    <loc>https://www.dockettech.com/apply-gst-registration-online</loc>
  <priority>0.8</priority>
    <changefreq>daily</changefreq>
  </url>
</urlset>