<div class="row">
	<div class="col-md-2-offset col-md-10 body-wrapper">
		<div class="row startup_flipbook">
			<div class="col-md-12">
				<div class="description">
					<div class="form_wrapper">
						<h1 class="startup_head">STARTUPS</h1>
					</div>
					<button class="start">GO</button>
				</div>
				<div class="questionaire form-question">
					<%= form_tag('/neworder', type: :post, :class => 'startup-form', :style => "display:none;", multipart: true) do |f| %>
						<%= hidden_field_tag 'user_id',nil, value: current_user %>
						<%= hidden_field_tag 'service_id',nil, value: @service.id %>
						<%= hidden_field_tag 'product', nil, value: 'Startup Registration' %>
						<div class="modal-header">
					        <button type="button" class="close close_style" data-dismiss="modal">&times;</button>
					    </div>
						<div class="layer-question layer txtName">
							<div class="row">
								<div class="col-md-6">
									<div class="question">
										Enter the name of your Startup
									</div>
								</div>
								<div class="col-md-4">
									<div class="answer">
										<input name="answer[6]" class="input_styling" placeholder='Enter The Name' maxlength="100" type="text" required>
									</div>
								</div>
								<div class="col-md-2">
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="layer-question layer">
							<div class="row">
								<div class="col-md-6">
									<div class="question plan-register">
										Type of the Company you would like to register?
									</div>
								</div>
								<div class="col-md-6">
									<div class="answer radio_list_wrapper company_type">
										<input data-atr='5' class="rdb radio_style" name='answer[7]' type="radio" value="Private Limited Company" title="Min 2 Directors required" required>Private Limited Company &nbsp;&nbsp;
										<input data-atr='8' class="rdb radio_style" name='answer[7]' type="radio" value="Partnership Firm" title="Minimum 2 Partners required" required>Partnership Firm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
										<input data-atr='11' class="rdb radio_style" name='answer[7]' type="radio" value="Public Limited" title="Minimum 7 Directors required " required>Public Limited&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<input data-atr='12' class="rdb radio_style" name='answer[7]' type="radio" value="Proprietorship" title="An Individual is required" required>Proprietorship &nbsp;&nbsp;<br>
										<input data-atr='7' class="rdb radio_style" name='answer[7]' type="radio" value="One Person Company" title="Only 1 Director required" required>One Person Company&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										
										<input data-atr='6' class="rdb radio_style" name='answer[7]' type="radio" value="Limited Liability Partnership" title="Minimum 2 Directors required" required>Limited Liability Partnership&nbsp;&nbsp;<br>
										<input data-atr='10' class="rdb radio_style" name='answer[7]' type="radio" value="Others" title="Trusts, NGO, Society, etc." required>Others
									</div>
								</div>
							</div>
						</div>
						<div class="layer-question layer director_no">
							<div class="row">
								<div class="col-md-6">
									<div class="question">
										Number of founders/partners/directors
									</div>
								</div>
								<div class="col-md-4">
									<div class="answer">
										<!-- <span class="para-style">
											<p>Select the number of people who founded your startup</p>
										</span> -->
										<div class="input-append">
											<select name="answer[8]" class="input_styling" required>
												<option value="">Select the number of people who founded your startup</option>		
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
											</select>
										</div>
									</div> 
								</div>
								<div class="col-md-2">
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="layer-question layer">
							<div class="row">
								<div class="col-md-6">
									<div class="question">
										Do you have an office space?
									</div>
								</div>
								<div class="col-md-4">
									<div class="answer">
										<input data-atr='3' class="rdb radio_style" type="radio" name="answer[9]" value="yes" required>Yes &nbsp;&nbsp;
										<input data-atr='4' class="rdb radio_style" type="radio" name="answer[9]" value="no" title="We shall assist you in getting a space" required>No
										<div id="blk-3" class="toHide" style="display:none">
										    <div class="layer-question">
												<div class="answer hide-class" style="display: initial;">
													<input type="radio" class="radio_style" name="answer[36]" value="owned">Owned&nbsp;&nbsp;
													<input type="radio" class="radio_style" name="answer[36]" value="rented">Rented
												</div> 
												<div class="price"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="layer-question layer">
							<div class="row">
								<div class="col-md-6">
									<div class="question">
										Are you planning for any fund raising?
									</div>
								</div>
								<div class="col-md-4">
									<div class="answer">
										<input class="rdb radio_style" data-atr='1' type="radio" name="answer[10]" value="yes" required>Yes&nbsp;&nbsp;
										<input class="rdb radio_style" data-atr='2' type="radio" name="answer[10]" value="no" title="We can help you in sales" required>No
										<div id="blk-1" class="toHide" style="display:none">
										    <div class="layer-question num-val">
												<div class="question">
													Enter the amount
												</div> 
												<div class="answer">
													<input style="width: 218px;" name="answer[35]" type="text">
												</div> 
												<div class="price"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="price"></div>
								</div>
							</div>
						</div>
						<div class="layer-question total-sum layer">
							<div class="row">
								<div class="col-md-6">
									<!-- <div class="question">Register your Company in 3 EMI's -->
										<!-- <span><p>We shall refund 87% of booking amount, if you are not happy with our service.</p></span> -->
									<!-- </div> -->
								</div>
								<div class="col-md-4">
									<div class="answer">
										<input type="hidden" name='total_amount' value='9999'>
									</div>
								</div>
								<div class="col-md-2">
									<div class="price total_style" id='total-price'>Rs. <span>9999</span>
										<div><p>(Booking Amount)</p></div>
									</div>
								</div>
							</div>
							<input type="submit" class="submit" value="Next">
						</div>
						<div class="next" style="float:right;">
					        Next
					    </div>
					<%end%>
					
				</div>
			</div>
			<%= render 'sticky_sidebar' %>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
	    $(".rdb").click(function(e){
	        $('.toHide').hide();
	        $("#blk-"+ e.target.dataset['atr']).show('slow');
	    });
		var n = 0;
		$('.start').click(function(){
			$('.description').hide('slow');
			$('.startup-form').show('slow');
			$('.questionaire').show();
			nextQuestion(n);
		    $('.next').show();
		    $('.start').hide();
		    $('.submit').hide();
		})
		function nextQuestion(n){
		    if (inputValidate()) {
				$('form').children('.layer').eq(n).show().addClass('active');
		    }
		}
		function inputValidate() {
		    if($('form').children('.layer').eq(n-1).find('input').val() === ''){
                error = 'NOVAL';
		    	return false;
		    }
            else {
			    n += 1; 
				return true;
            }
		}
		$('.next').on('click', function(){
			if (n > ($('.layer').length - 2)){
		   		$('.layer').show();
		   		$('.next').hide();
		   		$('.submit').show()
			}
		    else{
		        nextQuestion(n);
		    }
		});
		// $('.txtName').keydown(function (e) {
		// 	if (e.shiftKey || e.ctrlKey || e.altKey) {
		// 		e.preventDefault();
		// 	} 
		// 	else {
		// 		var key = e.keyCode;
		// 		if (!((key == 8) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
		// 			e.preventDefault();
		// 		}
		// 	}
		// });
		$(".txtName").on("click", function () {
	        var regex = /^[a-zA-Z ]*$/;
	        if (regex.test($(".txtName").val())) {
	            return true;
	        } else {
	            e.preventDefault();
	        }
	    });
	  	$(".num-val").keypress(function (e) {
	    	if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
	        	$("#errmsg").html("Digits Only").show().fadeOut("slow");
	        	return false;
	    	}
	   	});
		$('.close_style').on('click', function(){
			$('.startup-form').hide();
			$('.description').show();
			$('.start').show();
			$('.startup-form').find('input:text').val(''); 
    		$('input:radio').removeAttr('checked');
    		$('input:checkbox').removeAttr('checked');
		});
		$('.company_type input:radio').bind('change', function(e){
			if ($(this).val() == 'Proprietorship' || $(this).val() == 'One Person Company'){
				$("select[name='answer[8]']").val('1');
				$('.director_no').removeClass('layer').hide();
				$('.director_no select').attr('required',false);
				n += 1;
			}
			else{
				$('.director_no').addClass('layer').show();
				$('.director_no select').attr('required',true);
				n -= 1;
			}
			if (n == 1){
				n = 2;
			}
			if (n == 3){
				n = 2;
			}
		})
		window.onload=function() {
		  document.forms[0].reset();
		  placeFocus();
		}       
		function placeFocus() {
		  document.forms[0].elements[0].focus(); // assuming the first element
		}
	});

</script>



