<section id="team" class="team content-section box">
  	<div class="container">
		<div class="row text-center">
		  	<!--<div class="col-md-12">
				
				<h3 class="caption gray">Our Management</h3>
				<hr class="team_hr">
			</div>
			<div class="container">
				<div class="row">
				  	<div class="col-md-3">
						<div class="team-member">
						  	<figure>
								<%= image_tag 'new_images/team/Nandish.jpg', :class => "img-responsive" %>
								<figcaption>
								  <p>Co-Founder & MD</p>
								  <ul>
									<li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
									<li><a href="https://www.linkedin.com/in/nandish-domlur-3494b72/"><i class="fa fa-linkedin fa-2x"></i></a></li>
								  </ul>
								</figcaption>
						 	 </figure>
						 	 <h4>Nandish Domlur</h4>
						</div>
				  	</div>
				  	<div class="col-md-3">
						<div class="team-member">
						  	<figure>
								<%= image_tag 'new_images/team/Amit.jpg', :class => "img-responsive" %>
								<figcaption>
								  <p>Co-Founder & CEO</p>
								  <ul>
									<li><a href="https://www.facebook.com/amit.sandill?fref=ts"><i class="fa fa-facebook fa-2x"></i></a></li>
									<li><a href="https://twitter.com/AmitSandill"><i class="fa fa-twitter fa-2x"></i></a></li>
									<li><a href="https://www.linkedin.com/in/amit-sandill-94667a98/"><i class="fa fa-linkedin fa-2x"></i></a></li>
								  </ul>
								</figcaption>
						 	</figure>
						  	<h4>Amit Sandill</h4>
						</div>
				  	</div>
				  	<div class="col-md-3">
						<div class="team-member">
						  	<figure>
								<%= image_tag 'new_images/team/adisir.jpg', :class => "img-responsive" %>
								<figcaption>
								  <p>Co-Founder & Director</p>
								  <ul>
									<li><a href="https://www.facebook.com/aditya.addyp"><i class="fa fa-facebook fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
									<li><a href="https://www.linkedin.com/in/aditya-pratap-96889a121?trk=hp-identity-name"><i class="fa fa-linkedin fa-2x"></i></a></li>
								  </ul>
								</figcaption>
						 	 </figure>
						 	 <h4>Aditya Pratap</h4>
						</div>
				  	</div>
					<div class="col-md-3">
						<div class="team-member">
						  	<figure>
								<%= image_tag 'new_images/team/Sunil.jpg', :class => "img-responsive" %>
								<figcaption>
								  <p>CFO</p>
								  <ul>
									<li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
								  </ul>
								</figcaption>
						 	</figure>
						  	<h4>Sunil Guptha</h4>
						</div>
					</div>
				</div>
			</div>
			<br> -->
			<!-- <div class="col-md-12">
				<h1 class="caption gray">Meet the people who make awesome stuff</h1>
				<hr class="team_hr">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="team-member">
						  	<figure>
								<%= image_tag 'new_images/team/goldie.png', :class => "img-responsive" %>
								<figcaption>
								  <p>Tech Lead</p>
								  <ul>
									<li><a href="http://facebook.com/goldie.kedia"><i class="fa fa-facebook fa-2x"></i></a></li>
									<li><a href="http://twitter.com/goldiekedia"><i class="fa fa-twitter fa-2x"></i></a></li>
									<li><a href="https://in.linkedin.com/in/goldiekedia"><i class="fa fa-linkedin fa-2x"></i></a></li>
								  </ul>
								</figcaption>
						 	</figure>
						  	<h4>Goldie Kedia</h4>
						</div>
					</div>
				  	<div class="col-md-3">
						<div class="team-member">
						  	<figure>
								<%= image_tag 'new_images/team/abhilash.jpg', :class => "img-responsive" %>
								<figcaption>
								  <p>Design Head</p>
								  <ul>
									<li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
								  </ul>
								</figcaption>
						  	</figure>
						  	<h4>Abilash Padmanabhan</h4>
						</div>
					</div>
				  	<div class="col-md-3">
				  		<div class="team-member">
						  	<figure>
								<%= image_tag 'new_images/team/vilva.jpg', :class => "img-responsive" %>
								<figcaption>
								  <p>Senior Front-end Developer</p>
								  <ul>
									<li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin fa-2x"></i></a></li>
								  </ul>
								</figcaption>
							</figure>
							<h4>Vilva Athiban</h4>
						</div>
				  	</div>
					<div class="col-md-3">
						<div class="team-member">
						  	<figure>
								<%= image_tag 'new_images/team/murali.jpg', :class => "img-responsive" %>
								<figcaption>
								  <p> iOS App Developer</p>
								  <ul>
									<li><a href="https://www.facebook.com/murali.yandapalli"><i class="fa fa-facebook fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
									<li><a href="https://www.linkedin.com/in/muralikrishna-%E2%97%8F%E0%B9%8B-%C4%87h%C5%91wd%C3%A1%C5%95%C3%BD%E2%97%8F%E0%B9%8B-5608851a?trk=nav_responsive_tab_profile"><i class="fa fa-linkedin fa-2x"></i></a></li>
								  </ul>
								</figcaption>
						 	</figure>
						  	<h4>Murali</h4>
						</div>
				    </div>
				</div>
			</div>
		    <div class="container">
		   		<div class="row">
				    <div class="col-md-3">
						<div class="team-member">
						  	<figure>
								<%= image_tag 'new_images/team/Rahul.jpg', :class => "img-responsive" %>
								<figcaption>
								  <p>Front-End Developer</p>
								  <ul>
									<li><a href="https://www.facebook.com/rahulupadhyay13"><i class="fa fa-facebook fa-2x"></i></a></li>
									<li><a href="https://twitter.cotwm/rahulupadhyay13"><i class="fa fa-twitter fa-2x"></i></a></li>
									<li><a href="http://linkedin.com/in/rahul-upadhyay-b8453722"><i class="fa fa-linkedin fa-2x"></i></a></li>
								  </ul>
								</figcaption>
						  	</figure>
						  	<h4>Rahul Upadhyay</h4>
						</div>
					</div> -->
				    <!-- <div class="col-md-3">
						<div class="team-member">
					        <figure>
						        <%#= image_tag 'new_images/team/amritha.jpg', :class => "img-responsive" %>
								<figcaption>
								  <p>Senior Social Media Strategist</p>
								  <ul>
									<li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
								  </ul>
								</figcaption>
					        </figure>
					        <h4>Amrita Kar</h4>
						</div>
					</div> -->
					<!--<div class="col-md-3">
						<div class="team-member">
					        <figure>
						        <%= image_tag 'new_images/team/Paul.jpg', :class => "img-responsive" %>
								<figcaption>
								  <p>Digital Maketing Analyst</p>
								  <ul>
									<li><a href="https://www.facebook.com/paul.george.9404?fref=ts"><i class="fa fa-facebook fa-2x"></i></a></li>
									<li><a href="https://twitter.com/madasseryPaul"><i class="fa fa-twitter fa-2x"></i></a></li>
									<li><a href="https://www.linkedin.com/in/paul-george-63021124/"><i class="fa fa-linkedin fa-2x"></i></a></li>
								  </ul>
								</figcaption>
					        </figure>
					        <h4>Paul George</h4>
						</div>
					</div>
					<div class="col-md-3">
						<div class="team-member">
						    <figure>
							    <%= image_tag 'new_images/team/nikita.jpg', :class => "img-responsive" %>
								<figcaption>
								  <p>Company Secretary</p>
								  <ul>
									<li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin fa-2x"></i></a></li>
								  </ul>
								</figcaption>
						    </figure>
						    <h4>Nikita Mutha</h4>
						</div>
					</div>
					<div class="col-md-3">
						<div class="team-member">
						 	<figure>
								<%= image_tag 'new_images/team/priya.jpg', :class => "img-responsive" %>
								<figcaption>
								  <p>Operations Analyst</p>
								  <ul>
									<li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
								  </ul>
								</figcaption>
							</figure>
						  	<h4>Priya </h4>
						</div>
					</div>
			    </div>
		    </div>
		    <div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="team-member">
			                <figure>
			                    <%= image_tag 'new_images/team/manoj.jpg', :class => "img-responsive" %>
				                <figcaption>
				                  <p>Sr. Executive- Operations</p>
				                  <ul>
				                    <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
				                    <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
				                    <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
				                  </ul>
				                </figcaption>
			                </figure>
			                <h4>S. Manojkumar</h4>
			            </div>
					</div>
					<div class="col-md-3">
						<div class="team-member">
						    <figure>
							  <%= image_tag 'new_images/team/rajesh1.jpg', :class => "img-responsive" %>
								<figcaption>
								  <p>Operations Executive</p>
								  <ul>
									<li><a href="www.facebook.com/rajesh.raj.7374"><i class="fa fa-facebook fa-2x"></i></a></li>
									<li><a href="https://twitter.com/"><i class="fa fa-twitter fa-2x"></i></a></li>
									<li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin fa-2x"></i></a></li>
								  </ul>
								</figcaption>
						    </figure>
						   <h4>Rajesh </h4>
						</div>
					</div>
					<div class="col-md-3">
						<div class="team-member">
						    <figure>
							    <%= image_tag 'new_images/team/praveen.jpg', :class => "img-responsive" %>
								<figcaption>
								  <p>Operations Executive </p>
								  <ul>
									<li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
								  </ul>
								</figcaption>
						    </figure>
						    <h4> Praveen Anbu</h4>
						</div>
					</div>
					<div class="col-md-3">
						<div class="team-member">
						    <figure>
							   <%= image_tag 'new_images/team/naga.jpg', :class => "img-responsive" %>
								<figcaption>
								  <p>Operations Executive</p>
								  <ul>
									<li><a href="www.facebook.com/"><i class="fa fa-facebook fa-2x"></i></a></li>
									<li><a href="https://twitter.com/"><i class="fa fa-twitter fa-2x"></i></a></li>
									<li><a href="https://www.linkedin.com/pub/"><i class="fa fa-linkedin fa-2x"></i></a></li>
								  </ul>
								</figcaption>
						    </figure>
						   <h4>Naga Darshan</h4>
						</div>
					</div>
				</div>
		    </div> 
			<div class="container">
				<div class="row">
				</div> 
			</div> -->
	    </div>
	</div>
</section>
    