<div class="container-fluid section_padd terms">
      <h1 class="text-center style"><b>TERMS OF USE </b></h1>
      <hr class="privacy_hr">
      <div class="row clearfix style_div">
        <div class="col-md-4">
          <nav class="">
              <ul class="style_ul nav">
                  <li class="active"><a href="#terms_of_use">TERMS OF USE</a></li>
                  <li><a href="#acceptance_of_terms">Acceptance of Terms</a></li>
                  <li><a href="#information_shared_with_us">Information shared with us</a></li>
                  <li><a href="#our_services">Our Services</a></li>
                  <li><a href="#our_disclaimer">Our Disclaimer</a></li>
                  <li><a href="#intellectual_property_rights">Intellectual Property Rights</a></li>
                  <li><a href="#limitation_of_liabilities">Limitation of Liabilities</a></li>
                  <li><a href="#privacy_and_copyright_protection">Privacy and Copyright Protection</a></li>
              </ul>
          </nav>
        </div>
        <div class="col-md-8">
          <div class="style_para">
            <section id="terms_of_use">
              <h4><b>Please read these Terms of Use carefully before accessing or using website/mobile app</b></h4>
              <p classs="style_text">
                  Welcome to Docket Tech Solution's Private Limited. We, at Docket, offer You a wide range of services pertaining to documentation and registration through our internet website “<a href= "www.dockettech.com"></a>”, (“Website”) and mobile applications available on Google Play Store and iOS (“Mobile Applications/Mobile App”) which is wholly owned and managed by us. We ensure that Your tedious time consuming activity of procuring statutory as well as non-statutory drafts are just a few clicks away. We are presently located at Mayur Tower, #10, 1st Floor, 3rd Main Rd, Ashwini Layout, Ejipura, Bangalore - 560047, Karnataka, India. Docket through its Website and Mobile Applications provides legal documents and assistance in registration and notary services, with the help of professional experts of various domains (advocates, notary public, chartered accountants etc) on its panel upon the required Services.
              </p><br>
              <p classs="style_text">
                By accessing our services, the end user (“You/Your”) are accepting the following terms. These terms of service ("Terms of Use") cover Your use and access to the products, services, software, platform websites and mobile applications (collectively, "Services") provided by Docket Tech Solutions Private Limited and any of our affiliates (collectively, "Docket"). Therefore, peruse it thoroughly. Services rendered by Docket encompass diverse legal areas of documentation. This might require certain additional terms relevant with the Services and those additional terms shall be considered as a part of the agreement (collectively, “Agreement”) with Docket. By using our Services, You agree to be bound by these Terms of Use as well as our <a href="/privacy">Privacy Policy</a>. If You are using our Services as the employee or agent of an organization, You are agreeing to these Terms of Use on behalf of that organization.
              </p><br>
              <p classs="style_text">
                By using our Services You agree that You are over the age of eighteen (18) years and can form a binding contract with Docket; and only as permitted by law, including applicable professional standards laws, rules and regulations as and when they are made. By using our Services You agree that we reserve the right to suspend Your account or stop providing our Services to at our discretion.
              </p><br>
            </section>
            <section id="acceptance_of_terms">
              <h4><b>Acceptance of Terms</b></h4>
              <p classs="style_text">In using this Website You are deemed to have read and agreed to the following terms and conditions set forth herein. Any incidental documents and links mentioned shall be considered to be accepted jointly with these terms. This shall include our Privacy Policy provided for on our Website.
              </p><br>
              <p> These Terms of Use govern Your use of the applications and other services available on, or offered by Docket on any Website or any mobile device or any third party social networking service. These Terms of Use apply to all user of the Service, including users who are also contributors of content information and other materials to the Service. Any access, browsing or use of the Service constitutes Your Agreement to follow and be bound by these Terms of Use without modification, and all other operating rules, policies and procedures that may be published from time to time by Docket. If You do not agree to these Terms of Use, You are not permitted to access, browse or use the Service. The Terms of Use are personal to You, and are not assignable, transferable or sub-licensable by You.</p><br>
              <p> Your accessing of this Website and/or undertaking of a service/offering by us indicates Your understanding, agreement to and acceptance, of the disclaimer notice and the full terms and conditions contained herein. Your statutory consumer rights are unaffected. This agreement sets out the legally binding terms for Your membership.</p><br>
            </section>
            <section id="information_shared_with_us">
                <h4><b>Information shared with us</b></h4>
                <p classs="style_text">
                  Docket’s Services let You to upload, store or share Your files at anytime. You have reserved rights on any intellectual property that You hold in that content. The rights that You offer Docket and it’s employees are limited for supervising and developing our Services. Certain Services offered by Docket may provide You ways to use and discard the content that You have uploaded or submitted to that Service. In certain Services that we offer, there are rules or conditions that reduce the chance of Docket or it’s employees from using the information or data that has been submitted by You.<br><br>
                  We have automated engines (systems) to evaluate Your files and documents that You provide You personally, such as personalized results from after the search, custom-made promotions, and hard sell and malware identification. This analysis begins as soon as the files or documents is shared or uploaded and further it is stored. To know more about Docket and it’s Services, You may go through our Privacy Policy or Terms of Use for specific Services. Your suggestions and feedback will be valued and also help us in improving our Services offered.
                </p><br>
                <h4><b>Your Docket Account</b></h4>
                <p classs="style_text">
                  You will receive account credentials and a password soon after the successful completion of the Registration Process for the website/mobile app. You are responsible for reserving the secrecy and confidentiality of the password for the account. You agree to:<br>
                  (a) immediately inform Docket of any use/breach of Your account or password.<br>
                  (b) make sure You logout from Your account every time You access it. Docket cannot and will not be held responsible for any losses and damages resulting from Your failure to abide by with this section.
                </p><br>
                <p classs="style_text">Docket will take due care to ensure the confidentiality of Your credentials. You agree and acknowledge that in the very unlikely event of Your credentials becoming known to a third party on account of an intrusion into Docket’s database, Docket shall not be made liable for the resulting damages.</p><br>
                 <p classs="style_text">If You become aware of any unauthorized use of Your password or of Your account, You agree to notify the concerned official at Docket immediately. You can write to support@dockettech.com in such cases.</p><br>
                 <h4><b>Communications</b></h4>
                 <p>When You use the Website/Mobile App or send emails or other data, information or communication to us, You agree and understand that You are communicating with Docket through electronic records and You consent to receive communications via electronic records from Docket periodically and as and when required. We may communicate with you by email or by such other mode of communication, electronic or otherwise.</p>
            </section>
            <section id="our_services">
                <h4><b>Our Services</b></h4>
                <p classs="style_text">Docket provides a variety of online Services through the Website/Mobile App. You can subscribe for the Services through the Website/Mobile App through different payment options given. The Services that You subscribe for will be furthermore governed by precise containment of sale, like cancellation policy, refund policy and return policy, etc. In extension, these Terms of Use may be further rendered by proper conditions of sale, which later may be exhibited with the related product or service.</p><br>
                <h4><b>Conduct and Rules for user</b></h4>
                <p lasss="style_text">You concede and attempt to use the Website/Mobile App and the service only to upload and download files and material that are correct. By way of example, You shall not try or take part in the following:<br>
                a) misuse, harass, stalk, jeopardize, abuse any user or otherwise act in disregard of laws.<br>
                b) comment, post, uploads, spread out or circulate any corrupt, inappropriate, untrue, indecent or unlawful subject, name, information or data.<br>
                c) upload files that comprise software or any other material preserved by intellectual property laws unless You possess the rights. <br> 
                d) circulate or upload the files that contains viruses, debased files or programs that may damage the proper working of the Website/Mobile App. <br>
                e) Break any code of conduct or rules, which may be relevant to any particular Service.<br>
                f) post any links to any external Internet Website that are obscene or pornographic or to post or otherwise communicate commercial advertisements, chain letters, pyramid schemes, encoded binary files, job offers or listings or personal ads.<br>
                g) interfere or attempt to interfere with the proper working of the Service or any activities conducted in connection with the Service.<br>
                The Service is provided only for Your own personal use. <br>
                You may create, submit post, display and transmit content or other material using the Service (“User Content”). Docket reserves the right to delete, move, or edit any User Content that it may determine, in its sole discretion, violates these Terms of Use or is otherwise unacceptable. Docket may delete, edit, or reject User Content at any time for any reason without notice to You. In particular, Docket reserves the right to remove content at the request of a third party copyright or other intellectual property owner. Any User Content You transmit or post using the Service will be treated as non-confidential and non-proprietary. You agree and warrant that Your User Content is wholly original to You and You exclusively own all the rights to Your User Content.
                </p><br>
                <p classs="style_text">You agree that by using the Service, You grant Docket the right to convert, copy, display, edit, make derivative works, disclose, store, or otherwise use Your User Content in any manner and in all forms or formats available now or in the future without any compensation to You or any other agreement. You represent and warrant that You are authorized to grant all rights set forth in the preceding sentences.<br>
                Docket will not be held liable for any damages of any kind, including, but not limited to, direct, indirect, incidental, punitive, and consequential damages (a) related to its use or rejection of any User Content; (b) arising from the use of the public posting areas of this Services or using the Services; and (c) related to Your viewing of any content using the Services that You may find offensive.<br>
                (a) related to its use or rejection of any User Content;<br>
                (b) arising from the use of the public posting areas of this Service or using the Service.; and<br>
                (c) related to your viewing of any content using the Service that you may find offensive.
                </p>
            </section>
            <section id="our_disclaimer">
              <h4><b>Our Disclaimer</b></h4>
              <p classs="style_text">We advise you not to share Your login credentials with anyone else or with anyone claiming to be from Docket. In case You happen to notice any sort of fault in our Website/Mobile App or system, we request You to inform us of the issue immediately. We do welcome Your suggestions and advice. While reporting the issue to us, please do share the proof, Your identity and contact details, to help us improve the situation rapidly. Minor problems can be addressed in a very short time, whereas more complicated ones would take a while longer. We would therefore request for Your patience as we deal with the problem. For any issues or doubts regarding the order/delivery, You are requested to check the order history and status and revert to us from Your profile.<br></p>
              <h4><b>Software used in our Services</b></h4>
              <p classs="style_text">
                Certain Services that we offer may need downloading of specific software. This software may automatically update on the device if an advanced version or feature is available. Some of our Services will allow You to regulate Your update settings on the device.<br>
                Docket provides You a secluded, non-debatable and unlimited license to access the software rendered to You by Docket for the use of our Services. The above mentioned license is meant only to enable You to use the benefits offered by our services, in the same way as permitted by the given terms and conditions. You are not to copy, alter, hand out, sell, or share any part of the Services offered by Docket or comprising the software. You are not allowed to attempt and retrieve the software’s source code.
              </p>
              <h4><b>Pricing</b></h4>
              <p classs="style_text">
                Our Website/Mobile App enables You to subscribe for the listed Services given on the Website/Mobile App, at the price mentioned. However, our Website/Mobile App does not assure that the price mentioned will be the lowest in the city, state, country or geography. In case any Service is listed at an incorrect price or with information that is untrue due to an error in pricing or product details, we hold the rights to cancel Your order and notify You of such cancellation. The pricing is subject to Docket’s pricing policy and the prices will be determined solely by Docket. If we cancel an order due to certain valid reason after we have received the payment, the total amount will be refunded within 10 working days and You will be notified about the same. However, 2.5% of the total amount to be refunded is deducted for the payment gateway charges also the stamp duty will not be included in the total amount to be refunded. You can later claim the stamp duty charges from the revenue office.
              </p>
              <h4><b>Termination of our Services</b></h4>
              <p classs="style_text">
                On a regular basis we change and improve our Services. We have the power to extend or discard the operations or features, and we can discontinue or cease a Service that we offer. Docket understands that You have sole rights on Your files and data and safeguarding Your access to such files and data is crucial. If we happen to stop a Service we offer, if rationally possible, we are sure to try and provide You sensible prior notice and an opportunity to get information out of that particular Service if found necessary in that situation.<br><br>
                You are allowed to stop using our Services at any point of time, while we would be glad to help You change Your mind. Docket can also refrain from providing Services, or extend or constitute new limits to the services rendered by us at any time.
              </p>
              <h4><b>Termination of our Services</b></h4>
              <p classs="style_text">
              In extension to the below mentioned Terms of Use, there are added terms and conditions applicable on specific offers, sales, discount which are offered by Docket, at its sole discretion.
              </p>  
            </sectiopn>
            <section id="intellectual_property_rights">
              <h4><b> Intellectual Property Rights</b></h4>
              <p classs="style_text">
                Intellectual Property rights” (“IPR”) means all intellectual property rights and all analogous rights subsisting under the laws of each and every jurisdiction throughout the world and intellectual property for the full term of the rights concerned and including all extensions and renewals of such rights, whether or not such rights are registered or capable of registration, including, without limitation, copyrights, trademarks, trade names, service marks, service names, source code, patents, designs and all other proprietary rights of whatsoever description whether or not protected and whether or not capable of protection</p>
              <p classs="style_text">
                You acknowledge and agree that all content, design elements, and materials available as a Service are protected by copyrights, trademarks, service marks, patents, trade secrets, or other proprietary rights and laws. No materials from this Service may be copied, reproduced, modified, republished, uploaded, posted, transmitted or distributed in any form or for any means without Docket’s prior written permission. Furthermore, You agree to not sell, license, rent, or create derivative works from such materials or content. Systematic retrieval of content from the Service to create or compile, directly or indirectly, a collection, compilation, database, or directory without written permission from us is strictly prohibited. All rights not expressly granted herein are reserved. Any unauthorized use of the materials appearing on the Service may violate copyright, trademark and other applicable laws.</p>
              <p classs="style_text">
                Except as provided below, Docket and its affiliates and licensors retain all right, title and interest in and to the Service, excluding Your User Content (collectively, “Docket’s Intellectual Property”). You may not modify, publish, transmit, transfer or sell, reproduce, create derivative works from, distribute, perform, link, display, or in any way exploit Docket’s Intellectual Property in whole or in part, except as expressly permitted in these Terms of Use or with the prior written consent of Docket. You agree to use the Service only in accordance with these Terms of Use. You agree not to disassemble, decompile or reverse-engineer any software or other component of the Docket application.
              </p> 
              <p classs="style_text"> 
                You cannot post, distribute, or reproduce in any way any copyrighted material, trademarks, or other proprietary information without obtaining the prior written consent of the owner of such proprietary rights. Without limiting the foregoing, if You believe that Your work has been copied and posted on the Website in a way that constitutes copyright infringement, please provide us with the following information: an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest; a description of the copyrighted work that You claim has been infringed; a description of where the material that You claim is infringing is located on the Website; Your address, telephone number, and email address; a written statement by You that You have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; a statement by You, made under penalty of perjury, that the above information in Your Notice is accurate and that You are the copyright owner or authorized to act on the copyright owner’s behalf. Notice of claims of copyright infringement can be sent to us in writing to the address located under the CONTACT US section on the Website.<br>
                </p>
            </section>
            <section id="limitation_of_liabilities">
              <h4><b>Limitation of Liability</b></h4>
              <p classs="style_text">
                Docket has taken the complete responsibility to ensure that all the data on the Website/Mobile App is true to it’s knowledge, but Docket neither confirms nor makes any representations related to the ideality, exactness of any information, Product or Service. Docket will not be held responsible for any act, be it, indirect, retaliate, consequent, special damages resulting from:<br>
                a) The use of the Products or Services.<br> 
                b) The inability to use the Products or Services.<br>
                c) Unauthorized access to or changes made in the user's transmissions or data.<br>
                d) Any matter pertaining to Services: including, without limitation, damages for loss of use, data or profits, arising out of or in any way connected with the use or performance of the Website/Mobile App or Service.<br>
              </p> 
               <p classs="style_text">
                Docket does not hold any responsibility for non-availability of the Website/Mobile App during the maintenance period nor does it hold any responsibility in case of any unplanned suspension of the Website/Mobile App. The User acknowledges and accepts to agree on any material and/or data downloaded at Website/Mobile App is done entirely at the user’s free will and speculation and he/she will be answerable for any sort of loss to their mobile, desktop, laptop or any electronic devices used to access the Website/Mobile App and deprivation of information which occurs due to downloading of such material and/or data. To the maximum extent that is permissible under law, Docket’s liability shall only be limited to an amount equivalent to the Product/s ordered. Docket shall not be liable for any dispute or disagreement between users.<br>
                </p>
                 <p classs="style_text">
                   SUBJECT TO OVERALL PROVISION IN CLAUSES ABOVE, YOU EXPRESSLY UNDERSTAND AND AGREE THAT Docket PROVIDES THE SERVICE “AS IS” AND DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR OTHERWISE IMPLIED, INCLUDING WITHOUT LIMITATION THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT, AS TO THE INFORMATION, CONTENT, SERVICES OR OTHER MATERIALS MADE AVAILABLE USING THE SERVICE OR AS TO THE RESULTS TO BE OBTAINED FROM USE OF THE SERVICE. Docket AND ITS AFFILIATES, AND EACH OF THEIR DIRECTORS, EMPLOYEES, AGENTS AND REPRESENTATIVES DO NOT WARRANT THAT:<br>
                  (a) THE SERVICE WILL BE SECURE OR AVAILABLE AT ANY PARTICULAR TIME OR LOCATION;<br>
                  (b) ANY DEFECTS OR ERRORS WILL BE CORRECTED:<br>
                  (c) ANY CONTENT OR SOFTWARE AVAILABLE AT OR THROUGH THE SERVICE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; OR <br>
                  (D) THE RESULTS OF USING THE SERVICE WILL MEET YOUR EXPECTATIONS OR REQUIREMENTS.
                 </p> 
                <p classs="style_text">
                  YOU ACCEPT ALL RESPONSIBILITY FOR THE INFORMATION, CONTENT AND OTHER MATERIALS YOU POST OR OTHERWISE COMMUNICATE USING THE SERVICE. Docket SHALL HAVE NO LIABILITY FOR THE ACCURACY OR CONTENT OF THE INFORMATION CONTAINED IN OR THE SERVICE, OR FOR DELAYS OR OMISSIONS THEREIN. NOR SHALL Docket ITS AFFILIATES AND EACH OF THEIR DIRECTORS, EMPLOYEES, AGENTS AND REPRESENTATIVES, BE LIABLE FOR ANY THIRD-PARTY CLAIMS OR LOSSES OF ANY NATURE, INCLUDING BUT NOT LIMITED TO, LOST PROFITS, PUNITIVE, INDIRECT OR CONSEQUENTIAL DAMAGES.
                </p>
                <h4><b>Payment</b></h4>
                <p classs="style_text">
                    All fees have to be paid upfront before availing any paid service at Docket.<br><br>
                    While availing any of the payment method/s available on the Website/Mobile App, we will not be responsible or assume any liability, whatsoever in respect of any loss or damage arising directly or indirectly to You due to:<br><br>
                    (1) Lack of authorization for any transaction/s, or<br>
                    (2) Exceeding the preset limit mutually agreed by You and between "Bank/s", or<br><br>
                    (3) Any payment issues arising out of the transaction, or<br><br>
                    (4) Decline of transaction for any other reason/s<br><br>
                    All payments made against the purchases/services on Website/Mobile App by you shall be compulsorily in Indian Rupees acceptable in the Republic of India. Website/Mobile App will not facilitate transaction with respect to any other form of currency with respect to the purchases made on Website/Mobile App.<br><br>
                    Before shipping / delivering your order to you, Seller may request you to provide supporting documents (including but not limited to Govt. issued ID and address proof) to establish the ownership of the payment instrument used by you for your purchase. This is done in the interest of providing a safe online environment to Our Users.<br><br>
                    Further, You understand, accept and agree that the payment facility provided by Docket is neither a banking nor financial service but is merely a facilitator or payment gateway providing an electronic, automated online electronic payment, collection and remittance facility for the Services on the Docket Website using the existing authorized banking infrastructure and Credit Card payment gateway networks. Further, by providing Payment Facility, Docket is neither acting as trustees nor acting in a fiduciary capacity with respect to the Service or the Price.
                </p>
            </section>
            <section id="privacy_and_copyright_protection">
              <h4><b>Privacy and Copyright Protection</b></h4>
              <p classs="style_text">
                Docket’s Privacy Policy explains how we treat Your personal data and protect Your privacy when You use our services. By using our Services, You agree that Docket can use such data in accordance with its Privacy Policy.
              </p> 
              <h4><b>Indemnification</b></h4>
              <p classs="style_text">
                You agree to indemnify, defend and hold harmless Docket and all its employees, investors, directors, consultants, vendors, sponsors or anyone connected in any way with Docket, from and against any and all losses, liabilities, claims, damages, costs and expenses asserted against or incurred by Docket arising out of Your use or misuse of the Service or the use or misuse of contents of the Service by a third party even if using Your password , or may be payable by virtue of, any breach of any representation, warranty, covenant or agreement made or obligation to be performed by You pursuant to these Terms of Use. This Indemnification section of the Terms of Service survives termination of Your account with the Service or Your use of the Service.
              </p>
              <h4><b>No Refund Policy</b></h4>
              <p classs="style_text">
                By ordering for Docket’s Services, You hereby agree that there shall be no refunds of amounts provided to You, upon dissatisfaction of the Services received. Therefore, it is suggested that You apply reasonable thought and discretion, depending upon your specific requirement before ordering any Service on Docket’s Website/Mobile App.
              </p>  
               <h4><b>Dispute Resolution</b></h4>
               <p classs="style_text">
                The Terms of Use, and Your relationship with Docket under the Terms of Use, shall be governed by the laws of India, and in particular the laws in the State of Karnataka shall be applicable and Courts in the city of Bangalore, Karnataka shall have jurisdiction.<br>
                You agree that if a dispute arises between You and Docket, We will seek to resolve the dispute as quickly as commercially reasonable. Before resorting to legal proceedings, You must first contact Us directly and work with Us to resolve a dispute. If a dispute cannot be resolved by You and Us, such dispute will be referred to binding mediation between the parties, and the decision of the mediation shall be final and bind both the parties. In the event that the mediation fails to yield a result, the parties shall compulsorily refer the dispute to arbitration, with the arbitral panel consisting of three arbitrators, one arbitrator being chosen by each party and a third being jointly appointed by the two arbitrators so chosen.<br>
                These Terms of Use are governed by and construed in accordance with the laws of Union of India, excluding conflict of interest laws. You agree to submit to the personal jurisdiction of the courts of the State of Karnataka, in the City of Bangalore for any cause of action arising out of or relating to the Service, or these Terms of Use. This Agreement constitutes the entire agreement between the parties with respect to the subject matter hereof, and supersedes all previous written or oral agreements between the parties with respect to such subject matter. Docket may assign its rights under this Agreement without notice to You. You agree that any cause of action arising out of or relating to Docket’s web site must commence within one (1) year after the cause of action arose.
               </p> 
            </section>    
          </div>
        </div> 
      </div>
</div> 

<script>
  // $('a').click(function(){
  //     $('html, body').animate({
  //         scrollTop: $( $(this).attr('href') ).offset().top
  //     }, 1000);
  //     return false;
  // });

  var sections = $('section')
    , nav = $('nav')
    , nav_height = nav.outerHeight();

  $(window).on('scroll', function () {
    var cur_pos = $(this).scrollTop();
    
    sections.each(function() {
      var top = $(this).offset().top - nav_height,
          bottom = top + $(this).outerHeight();
      
      if (cur_pos >= top && cur_pos <= bottom) {
        nav.find('a').removeClass('active');
        sections.removeClass('active');
        
        $(this).addClass('active');
        nav.find('a[href="#'+$(this).attr('id')+'"]').addClass('active');
      }
    });
  });

  nav.find('a').on('click', function () {
    var $el = $(this)
      , id = $el.attr('href');
    
    $('html, body').animate({
      scrollTop: $(id).offset().top - nav_height
    }, 500);
    
    return false;
  });
</script>