<div class="container-fluid section_padd box_wrap thankyou">
	<div class="row box_wraper">
		<div class="col-md-6 image_wrap">
			<%= image_tag 'new_images/thankyou.png' %>
		</div>
		<div class="col-md-6 order_wrap">
			<%= form_tag({:controller => "home", :action => "update_order_address"}, :method => "post", :class => "order_address_form delivery_form") do %>
			<!-- <form action="/update_order_address" method="POST" role="form" class="delivery_form"> -->
                <%= hidden_field_tag 'user_id',nil, value: current_user %>
                <%= hidden_field_tag 'service_id',nil, value: @order.service.id %>
                <%= hidden_field_tag 'order_id',nil, value: current_order %>
                <%= hidden_field_tag 'txnid',nil, value: params[:txnid] %>
				<h4>Your order was successful. Hope you had a smooth experience at Docket. We shall visit for signatures. Help us to locate your home/office:</h4>
				<div class="row">
					<!-- <div class="col-md-4">
						<label class="label_style">Home/Office</label>
					</div> -->
					<div class="col-md-12">
						<div class="form-group">
						<input type="text" name="tag" class="input_wrap" id="" placeholder="Home/Office" required/>
					</div>
					</div>
				</div>
				<div class="row">
					<!-- <div class="col-md-4">
						<label class="label_style">AddressLine 1</label>
					</div> -->
					<div class="col-md-12">
						<div class="form-group">
						<input type="text" name='address1' class="input_wrap" id="" placeholder="AddressLine 1" required/>
					</div>
					</div>
				</div>
				<div class="row">
					<!-- <div class="col-md-4">
						<label class="label_style">AddressLine 2</label>
					</div> -->
					<div class="col-md-12">
						<div class="form-group">
						<input type="text" name='address2' class="input_wrap" id="" placeholder="AddressLine 2" required/>
					</div>
					</div>
				</div>
				<div class="row">
					<!-- <div class="col-md-4">
						<label class="label_style">Landmark</label>
					</div> -->
					<div class="col-md-12">
						<div class="form-group">
						<input type="text" name='landmark' class="input_wrap" id="" placeholder="Landmark" />
					</div>
					</div>
				</div>
				<div class="row">
					<!-- <div class="col-md-4">
						<label class="label_style">Locality</label>
					</div> -->
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" name='locality' list="localities" maxlength="20" class="input_wrap" id="" placeholder="Locality" required/>
							<datalist id="localities">
								  <% @localities.each do |locality| %>
									<option value="<%= locality.name %>"><%= locality.name + ', ' + locality.city.name %></option>
								  <% end %>
							</datalist>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" list='cities' name='city' class="input_wrap" id="" pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" title="Type only characters" placeholder="City" required/>
							<datalist id="cities">
								  <% @cities.each do |city| %>
									<option value="<%= city.name %>"><%= city.name %></option>
								  <% end %>
							</datalist>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" list='states' name='state' class="input_wrap" id="" pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" title="Type only characters" placeholder="State" required/>
							<datalist id="states">
								  <% @states.each do |state| %>
									<option value="<%= state.name %>"><%= state.name %></option>
								  <% end %>
							</datalist>
						</div>
					</div>
					<input type="hidden" list='country' name='country' class="input_wrap" pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" title="Type only characters" placeholder="Country" value='india' required/>
					<!-- <div class="col-md-8"> -->
						<!-- <div class="form-group"> -->
							<!-- <datalist id="country">
								  <%# @countries.each do |country| %>
									<option value="<%#= country.name %>"><%#= country.name %></option>
								  <%# end %>
							</datalist>
						</div>
					</div> -->
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" name='pincode' class="input_wrap" id="" pattern="^(0|[1-9][0-9]*)$" maxlength="6" title="Enter Only Digits" placeholder="Pincode" required/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 offer-box">
						<input type="checkbox" name='furlenco_offer'>Check out the Offer
					</div>
					<div class="col-md-6">
						<input type="submit" class="btn btn-primary proceed_btn" value='Proceed'>
					</div>
				</div>
			<!-- </form> -->
			<% end %>
		</div>
	</div>
</div>