<div class="container-fluid section_padd box_wrap agreements">
	<div class="row">
		<!-- <div class="col-md-4">
			<div class="icon_wrap">
				<img src="assets/images/agreement_icon.png" class="icon_image" alt="">
				<p class="doc_head">AGREEMENTS</p>
			</div>
		</div> -->
		<div class="col-md-12">
			<div class="selection-box">
				<div class="title-box">
					<div class="search_wrap">
						<input type="text" name="query" id="query" class="search_boxs" value="" placeholder="SEARCH YOUR <%= @service.name.upcase %>" required="required" title=""><span class="search_icon"><i class="fa fa-search"></i></span>
					</div>
				</div>
			</div>
			<h3 class="doc_product">Top 10 Products</h3>
			<ul class="document_list">
				<% @documents.each do |document| %>
				<a href="/product/<%= document.id.to_s  + '-' + document.name.split(' ').join('-') %>" title="">
					<li>
						<span><%= image_tag 'new_images/star_icon.png', :class => "icon_style" %></span><%= document.name %> <span class="search_btn"><%= image_tag 'new_images/go_icon.png' %></span>
							<!-- <br><span class="price_rate">Flat rate <i class="fa fa-inr"></i><%#= document.default_price %></span> -->
					</li>
				</a>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<script>
	var document_search = new Bloodhound({
		datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
		queryTokenizer: Bloodhound.tokenizers.whitespace,
		prefetch: localSearch,
		remote: {
			url: '/search/document/',
			replace: function(url, uriEncodedQuery) {
				query = $('#query').val();
				url = url + '?q=' + encodeURIComponent(query) + "&service_id=" + "<%= @service.id %>"
				return url;
			}
		}
	});
	var localSearch = function(e){
	};
	document_search.initialize();
	$('#query').typeahead(null,{
		name: 'Location',
		displayKey: 'name',
		minLength: 0,
		source: document_search.ttAdapter()
	}).on('typeahead:selected', function(event, data){            
		setValue(data);
	}).on('typeahead:autocompleted',function(event,data){
		setValue(data);
	});
	function setValue(data){
		window.location.href = '/product/' + data.id + '-' + data.name.split(' ').join('-');
	}
</script>