<% progress = true %>
<h2 class="status_order">Order Status</h2>
<table class="table table-responsive track-table">
	<tbody>
		<tr>
			<td>
				<%= image_tag 'track_icons/drafting_doc.png', :style => "height:50px !important" %> 
				<p style="position: absolute;top: 2em;left: 5em;">Drafting</p>
			</td>
			<% if @order.track.drafted || progress %>
				<% progress = @order.track.drafted ? true : false %>
				<td>
					<%= image_tag "#{@order.track.drafted ? 'completed_shape.png' : 'in_progrss_shape.png'}", :style => "height:50px !important" %>
				</td>
			<% end %>
		</tr>
		<tr>
			<td>
				<%= image_tag "#{@order.track.printed ? 'track_icons/print_doc.png' : 'track_icons/printing_disabled.png'}", :style => "height:50px !important" %>
				<p style="position: absolute;top: 6em;left: 5em;">Printing</p>
			</td>
			<% if @order.track.printed || progress %>
				<% progress = @order.track.printed ? true : false %>
				<td>
					<%= image_tag "#{@order.track.printed ? 'completed_shape.png' : 'in_progrss_shape.png'}", :style => "height:50px !important" %>
				</td>
			<% end %>
		</tr>
		<tr>
			<td>
				<%= image_tag "#{@order.track.verified ? 'track_icons/verification_doc.png' : 'track_icons/verification_disabled.png'}", :style => "height:50px !important" %>
				<p style="position: absolute;bottom: 13em;left: 5em;">Verification</p>
			</td>
			<% if @order.track.verified || progress %>
				<% progress = @order.track.verified ? true : false %>
				<td>
					<%= image_tag "#{@order.track.verified ? 'completed_shape.png' : 'in_progrss_shape.png'}", :style => "height:50px !important" %>
				</td>
			<% end %>
		</tr>
		<tr>
			<td>
				<%= image_tag "#{@order.track.signed ? 'track_icons/signature_doc.png' : 'track_icons/signature_disable.png'}", :style => "height:50px !important" %>
				<p style="position: absolute;top: 14em;left: 5em;">Signature</p>
			</td>
			<% if @order.track.signed || progress %>
				<% progress = @order.track.signed ? true : false %>
				<td>
					<%= image_tag "#{@order.track.signed ? 'completed_shape.png' : 'in_progrss_shape.png'}", :style => "height:50px !important" %>
				</td>
			<% end %>
		</tr>
		<tr>
			<td>
				<%= image_tag "#{@order.track.notary ? 'track_icons/notary_doc.png' : 'track_icons/notary_disabled.png'}", :style => "height:50px !important" %>
				<p style="position: absolute;top: 18em;left: 5em;">Notary</p>
			</td>
			<% if @order.track.notary || progress %>
				<% progress = @order.track.notary ? true : false %>
				<td>
					<%= image_tag "#{@order.track.notary ? 'completed_shape.png' : 'in_progrss_shape.png'}", :style => "height:50px !important" %>
				</td>
			<% end %>
		</tr>
		<tr>
			<td>
				<%= image_tag "#{@order.track.delivered ? 'track_icons/delivery_doc.png' : 'track_icons/delivery_disabled.png'}", :style => "height:50px !important" %>
				<p style="position: absolute;top: 22em;left: 5em;">Delivery</p>
			</td>
			<% if @order.track.delivered || progress %>
				<td>
					<%= image_tag "#{@order.track.delivered ? 'completed_shape.png' : 'in_progrss_shape.png'}", :style => "height:50px !important" %>
				</td>
			<% end %>
		</tr>
	</tbody>
</table>
<% if (@order.status.name == 'COMPLETED') && (!@order.feedback) %>
	<div class="row clearfix track-padd-feedback">
		<div class="col-md-12">
			<div class="feedback_wrapper">
				<%= form_tag('/order_feedback', type: :post, multipart: true) do |f| %>
          		<%= hidden_field_tag 'user_id',nil, value: current_user %>
          		<%= hidden_field_tag 'order_id',nil, value: @order.id %>
					<h4 class="feedback-heading">Feedback</h4>
					<textarea type="text" name="message" class="form-control feedback-style" value="" required="required" pattern="" title="" placeholder=""></textarea>
					<button type="submit" class="btn btn-default feedbck-btn"><%= image_tag  'submit_button.png' %><p class="submit_style">SUBMIT</p></button>
				<% end %>
			</div>
		</div>
	</div>
<% end %>


<script>
	$('.feedback_wrapper form').on('submit', function(e) {
		e.preventDefault();
		e.stopPropagation();
		$.ajax({
			type: 'post',
			url: '/order_feedback',
			data: $('.feedback_wrapper form').serialize()
		}).done(function (data, textStatus, jqXHR) {
			$('.track-padd-feedback').hide();
			setNotification('success', 'Thanks You for your feedback!');
		}).fail(function (jqXHR, textStatus, errorThrown) {
			setNotification('error', 'Message Could Not be Sent. Try Again');
		});
	});
</script>