<div class="row">
	<div class="col-md-2-offset col-md-10 body-wrapper">
		<div class="row clearfix track-padd">
			<div class="col-md-12">
				<% if !@order %>
					<div class="order_id_wrapper center-block">
						<%= form_tag('/track_order', type: :post) do |f| %>
							<input type="text" name="txnid" class="form-control orderis-style" required="required" placeholder="enter your order id">
							<button type="submit" class="btn btn-default go-btn">Go</button>
						<% end %>
					</div>
				<% end %>
			</div>
			<div class="result">
				<% if @order %>
					<%= render partial: 'layouts/order_status' %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		$('.track-padd .go-btn').on('click', function(e) {
			e.preventDefault();
			e.stopPropagation();
			$.ajax({
				type: 'post',
				url: '/track_order',
				data: $('.track-padd form').serialize()
			}).done(function (data, textStatus, jqXHR) {
				$('.track-padd .result').html(data)// setNotification('success', 'Updated Profile Successfully.');
			}).fail(function (jqXHR, textStatus, errorThrown) {
				// setNotification('error', 'Unknown Error. Try Again');
			});
		});
	})
</script>