<div id="editdraftModal" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        	<div class="container-fluid" id="edit_draft">
				<div class="row clearfix">
					<div class="col-md-12">
						<%= form_tag('/admin/orders/edit_draft', type: :post, multipart: true) do |f| %>
			          	<%#= hidden_field_tag 'user_id',nil, value: current_user %>
			          		<div class="edit_wrapper">
			          			<h2 class="text-center">Edit Draft</h2>
			          			<input id="edit_order_id" name="order_id" value="" type="hidden" />
								<input id="uploadFile" name="attachment[file]" placeholder="Choose File" disabled="disabled" accept=".docx" required/>
								<div class="fileUpload btn btn-primary">
								    <span>Upload</span>
								    <input id="uploadBtn" name="attachment[file]" type="file" class="upload"accept=".docx, .pdf" required/>
								</div>
								<br>
								<button type="submit" class="btn btn-default draft_btn">Submit</button>
				          		</div>
						<% end %>
					</div>
				</div>
			</div>
      </div>
    </div>
  </div>
</div>




<script>
	document.getElementById("uploadBtn").onchange = function () {
	    document.getElementById("uploadFile").value = this.value;
	};

	// $('.edit_wrapper form').on('submit', function(e) {
	// 	e.preventDefault();
	// 	e.stopPropagation();
	// 	$.ajax({
	// 		type: 'post',
	// 		url: '/admin/documents/edit_draft',
	// 		data: $('.edit_wrapper form').serialize()
	// 	}).done(function (data, textStatus, jqXHR) {
	// 		setNotification('success', 'Draft Edited Successfully');
	// 	}).fail(function (jqXHR, textStatus, errorThrown) {
	// 		setNotification('error', 'Only Docx File To Be Uploaded. Try Again');
	// 	});
	// });
</script>


