<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :document %>
    <%= f.association :service %>
    <%= f.association :user %>
    <%#= f.association :payment %>
    <%= f.association :status %>
    <%= f.input :stamp_amount %>
    <%= f.input :total_amount %>
    <%= f.input :delivery_amount %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
