<div class="modal fade" id="trackModal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Track Statuses</h4>
      </div>
      <div class="modal-body">
          <%= simple_form_for(@orders_track, remote: true) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :drafted %>
            </div>
            <div class="form-inputs">
              <%= f.input :printed %>
            </div>
            <div class="form-inputs">
              <%= f.input :verified %>
            </div>
            <div class="form-inputs">
              <%= f.input :signed %>
            </div>
            <div class="form-inputs">
              <%= f.input :notary %>
            </div>
            <div class="form-inputs">
              <%= f.input :delivered %>
            </div>
            <div class="form-inputs">
              <%= f.input :user_status %>
            </div>
            <div class="form-actions">
                <%= f.button :submit %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>