<div id="softcopyModal" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body upload_soft_copy">
    	<div class="container-fluid ">
			<div class="row clearfix">
				<div class="col-md-12">
					<%= form_tag('/admin/orders
					/upload_soft_copy', type: :post, multipart: true) do |f| %>
		          	<%#= hidden_field_tag 'user_id',nil, value: current_user %>
		          		<div class="softcopy_wrapper">
		          			<h2 class="text-center">Upload Soft Copy</h2>
		          			<input id='soft_copy_order_id' name="order_id" value="" type="hidden" />
							<input id="uploadFile2" name="attachment[file]" placeholder="Choose File" disabled="disabled" accept=".png, .jpg, .jpeg" required/>
							<div class="fileUpload btn btn-primary">
							    <span>Upload</span>
							    <input id="uploadBtn2" name="attachment[file]" type="file" class="upload" accept=".docx, .pdf" required/>
							</div>
							<br>
							<button type="submit" class="btn btn-default soft_copy_btn">Submit</button>
			          		</div>
					<% end %>
				</div>
			</div>
		</div>
      </div>
    </div>
  </div>
</div>
<script>
	document.getElementById("uploadBtn2").onchange = function () {
	    document.getElementById("uploadFile2").value = this.value;
	};

	// $('.softcopy_wrapper form').on('submit', function(e) {
	// 	e.preventDefault();
	// 	e.stopPropagation();
	// 	$.ajax({
	// 		type: 'post',
	// 		url: '/admin/documents/upload_soft_copy',
	// 		data: $('.softcopy_wrapper form').serialize()
	// 	}).done(function (data, textStatus, jqXHR) {
	// 		setNotification('success', 'Soft Copy Uploaded Successfully');
	// 	}).fail(function (jqXHR, textStatus, errorThrown) {
	// 		setNotification('error', 'Only Png, Jpg,Jpeg Formats apllied. Try Again');
	// 	});
	// });
</script>


