

<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Taxn ID</Data></Cell>
        <Cell><Data ss:Type="String">Date</Data></Cell>
        <Cell><Data ss:Type="String">Product</Data></Cell>
        <Cell><Data ss:Type="String">Payment</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
        <Cell><Data ss:Type="String">Total_amount</Data></Cell>
        <Cell><Data ss:Type="String">Discount</Data></Cell>
        <Cell><Data ss:Type="String">Platform</Data></Cell>
      </Row>
    <% @orders.each do |order| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= order.txnid %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.created_at %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.product %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= order.payment.status.name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= order.status.name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= order.total_amount %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.discount %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.platform.name %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

