<table id='myOrdersTable'class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Transaction ID</th>
      <th>Product</th>
      <th>Service</th>
      <th>User</th>
      <th>Payment</th>
      <th>Status</th>
      <th>Stamp amount</th>
      <th>Total amount</th>
      <th>Delivery amount</th>
      <th>Platform</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.txnid %></td>
        <td><%= order.product %></td>
        <td><%= order.service_id %></td>
        <td><%= order.user_id %></td>
        <td><%= order.payment.status.name if order.payment %></td>
        <td><%= order.status.name %></td>
        <td><%= order.stamp_amount %></td>
        <td><%= order.total_amount %></td>
        <td><%= order.delivery_amount %></td>
        <td><%= order.platform.name %></td>
        <td><%= link_to 'Details', order_details_path(order) %></td>
        <!-- <td><%#= link_to 'Show', order %></td> -->
        <!-- <td><%#= link_to 'Edit', edit_order_path(order) %></td> -->
        <!-- <td><%#= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        <td>
          <a type="" class="update"  data-toggle="modal" data-target="#myModal" data-attr='<%= order.id %>'>Update</a>
        </td>
        <td>
          <a type="" class="delivery-update"  data-toggle="modal" data-target="#delivery-modal" data-attr='<%= order.id %>'>Update Delivery</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>