<h1>Order Details</h1>
<div>
	<% if @order.user %>
		<h2 style="color:<%= @order.user.profile.profile_verified ? 'green' : 'red' %>;text-align:center">User Verified: <%= @order.user.profile.profile_verified %></h2>
	<% else %>
		<h2 style="color:'red';text-align:center">User Verified: false</h2>
	<% end %>
</div>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Id</th>
			<th>Txnid</th>
			<th>User Name</th>
			<th>User Verified</th>
			<th>Service</th>
			<th>Product</th>
			<th>Actual Amount</th>
			<th>GST Amount</th>
			<th>Discount</th>
			<th>Paid Amount</th>
			<th>Order Status</th>
			<th>Platform</th>
		</tr>
		<tbody>
			<tr>
				<td><%= @order.id %></td>
				<td><%= @order.txnid %></td>
				<td><%= @order.user ? @order.user.name : 'Guest' %></td>
				<td><%= @order.user ? @order.user.profile.profile_verified : 'Not Verified' %></td>
				<td><%= @order.service.name if @order.service %></td>
				<td><%= @order.product %></td>
				<td><%= @order.total_amount %></td>
				<td><%= @order.gst_amount %></td>
				<td><%= @order.discount %></td>
				<td><%= @order.final_amount %></td>
				<td><%= @order.status.name if @order.status %></td>
				<td><%= @order.platform.name %></td>
			</tr>
		</tbody>
	</thead>
</table>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Questions</th>
			<th>Answers</th>
		</tr>
		<tbody>
			<% @order.answers.each do |answer| %>
				<tr>
					<td><%= answer.question.name if answer.question  %></td>
					<td><%= answer.body %></td>	
				</tr>
			<% end %>
		</tbody>
	</thead>
</table>
<% if !@order.attachments.nil? %>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Attachments</th>
				<th>Link</th>
			</tr>
			<tbody>
				<% @order.attachments.each do |attachment| %>
					<tr>
						<td><%= attachment.name  %></td>
						<td><%= link_to 'download', attachment.s3_url, target: '_blank' %></td>
					</tr>
				<% end %>
			</tbody>
		</thead>
	</table>
<% end %>

<% if @order.detail %>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Contact Detail</th>
			</tr>
			<tbody>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
				</tr>
				<tr>
					<% detail = @order.detail %>
					<td><%=  detail.name %></td>
					<td><%=  detail.email %></td>
					<td><%=  detail.mobile %></td>
				</tr>
			</tbody>
		</thead>
	</table>
<% end %>
<% if @order.address %>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Address</th>
			</tr>
			<tbody>
				<tr>
					<th>Tag</th>
					<th>Address1</th>
					<th>Address2</th>
					<th>Landmark</th>
					<th>Locality</th>
					<th>Pincode</th>
				</tr>
				<tr>
					<% address = @order.address %>
					<td><%=  address.tag  %></td>
					<td><%=  address.address1 %></td>
					<td><%=  address.address2 %></td>
					<td><%=  address.landmark %></td>
					<td><%=  address.locality.name %></td>
					<td><%=  address.pincode %></td>
				</tr>
			</tbody>
		</thead>
	</table>
<% end %>
<% if @order.payment %>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Payment</th>
			</tr>
			<tbody>
				<tr>
				    <th>Pg type</th>
					<th>Amount</th>
				    <th>Bank ref num</th>
				    <th>Bankcode</th>
				    <th>Name on card</th>
				    <th>Cardnum</th>
				    <th>Payumoneyid</th>
				    <th>PayU Status</th>
				</tr>
				<tr>
					<% payment = @order.payment %>
					<td><%= payment.pg_type %></td>
					<td><%= payment.amount %></td>
			        <td><%= payment.bank_ref_num %></td>
			        <td><%= payment.bankcode %></td>
			        <td><%= payment.name_on_card %></td>
			        <td><%= payment.cardnum %></td>
			        <td><%= payment.payuMoneyId %></td>
			        <td><%= payment.payu_status %></td>
				</tr>
			</tbody>
		</thead>
	</table>
<% end %>
<% if !@paytm.blank? %>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Payment</th>
			</tr>
			<tbody>
				<tr>
				    <!-- <th>MID</th> -->
					<!-- <th>ORDERID</th> -->
				    <th>TXNAMOUNT</th>
				    <!-- <th>CURRENCY</th> -->
				    <th>TXNID</th>
				    <th>BANKTXNID</th>
				    <th>STATUS</th>
				    <!-- <th>RESPCODE</th> -->
				    <th>RESPMSG</th>
				    <th>TXNDATE</th>
				    <th>GATEWAYNAME</th>
				    <th>BANKNAME</th>
				    <th>PAYMENTMODE</th>
				</tr>
				<tr>
					<% paytm = @paytm.first %>
					<!-- <td><%#= paytm.MID %></td> -->
					<!-- <td><%#= paytm.ORDERID %></td> -->
					<td><%= paytm.TXNAMOUNT %></td>
					<!-- <td><%#= paytm.CURRENCY %></td> -->
					<td><%= paytm.TXNID %></td>
					<td><%= paytm.BANKTXNID %></td>
					<td><%= paytm.STATUS %></td>
			        <!-- <td><%#= paytm.RESPCODE %></td> -->
			        <td><%= paytm.RESPMSG %></td>
			        <td><%= paytm.TXNDATE %></td>
			        <td><%= paytm.GATEWAYNAME %></td>
			        <td><%= paytm.BANKNAME %></td>
			        <td><%= paytm.PAYMENTMODE %></td>
				</tr>
			</tbody>
		</thead>
	</table>
<% end %>
<% if !@icici.blank? %>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Payment</th>
			</tr>
			<tbody>
				<tr>
				    <th>endpointTransactionId</th>
					<!-- <th>ORDERID</th> -->
				    <th>approval_code</th>
				    <!-- <th>CURRENCY</th> -->
				    <th>ipgTransactionId</th>
				    <th>currency</th>
				    <th>chargetotal</th>
				    <!-- <th>RESPCODE</th> -->
				    <th>tdate</th>
				    <th>status</th>
				    <th>txntype</th>
				    <th>txndate_processed</th>
				    <th>paymentMethod</th>
				</tr>
				<tr>
					<% icici = @icici.first %>
					<td><%= icici.endpointTransactionId %></td>
					<!-- <td><%#= icici.ORDERID %></td> -->
					<td><%= icici.approval_code %></td>
					<!-- <td><%#= icici.CURRENCY %></td> -->
					<td><%= icici.ipgTransactionId %></td>
					<td><%= icici.currency %></td>
					<td><%= icici.chargetotal %></td>
			        <!-- <td><%#= icici.RESPCODE %></td> -->
			        <td><%= icici.tdate %></td>
			        <td><%= icici.status %></td>
			        <td><%= icici.txntype %></td>
			        <td><%= icici.txndate_processed %></td>
			        <td><%= icici.paymentMethod %></td>
				</tr>
			</tbody>
		</thead>
	</table>
<% end %>
<% if @order.document %>
	<table class='table table-bordered'>
	  <thead>
	    <tr>
	      <th>Section</th>
	      <th>Question</th>
	      <th>Body</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @order.automated_answers.each do |documents_answer| %>
	      <tr>
	        <td><%= documents_answer.question.sections.first.name %></td>
	        <td><%= documents_answer.question.body %></td>
	        <td><%= documents_answer.body %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
<% end %>
<% if !@order.draft_url %>
	<div class="generate-invoice">
		<button type="button"><%= link_to 'Generate Draft', orders_draft_path(order_id: @order.id) %></button>
	</div>
<% end %>
<% if @order.status.name == 'INPROGRESS' %>
	<div class="generate-invoice">
		<button type="button"><%= link_to 'Generate Invoice', order_invoice_path(@order.id), target: '_blank' %></button>
	</div>
<% end %>
<% if !['COMPLETED','DELETED'].include? @order.status.name %>
	<div class="generate-invoice">
		<!-- <button type="button" data-toggle="modal" data-target="#emailModal">Send Email</button> -->
	</div>
	<!-- Email Modal -->
	<div class="modal fade" id="emailModal" role="dialog" tabindex="-1">
		<div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content" style="text-align:center">
		    	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal">&times;</button>
		        	<h4 class="modal-title">Send Email</h4>
		      	</div>
		    	<%= form_tag('/admin/orders/order_email', type: :post, class: "update-status") do |f| %>
		      		<%= hidden_field_tag 'order_id',nil, value: @order.id %>
		      	<div class="modal-body" id="test">
		      		<textarea name="body" id="" cols="30" rows="10"></textarea>
		      		<!-- <input type="text" name='email_body' placeholder='Enter message'> -->
		      	</div>
		      	<div class="modal-footer">
		        	<button type="submit" class="btn btn-default delivery-submit-status">Send</button>
		      	</div>
		      <% end %>
		    </div>
		</div>
	</div>
<% end %>
<% if !['COMPLETED','DELETED'].include? @order.status.name %>
	<div class="generate-invoice">
		<!-- <button type="button" data-toggle="modal" data-target="#smsModal">Send SMS</button> -->
	</div>
	<!-- Sms Modal -->
	<div class="modal fade" id="smsModal" role="dialog" tabindex="-1">
		<div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content" style="text-align:center">
		    	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal">&times;</button>
		        	<h4 class="modal-title">Send SMS</h4>
		    	</div>
		    	<%= form_tag('/admin/orders/order_sms', type: :post, class: "update-status") do |f| %>
			      	<%= hidden_field_tag 'order_id',nil, value: @order.id %>
			    	<div class="modal-body" id="test">
			      		<input type="text" name='message' placeholder='Enter message'>
			    	</div>
			    	<div class="modal-footer">
			        	<button type="submit" class="btn btn-default delivery-submit-status">Send</button>
			    	</div>
		    	<% end %>
		    </div>
		</div>
	</div>
<% end %>
<% if (!['COMPLETED','DELETED'].include? @order.status.name) && (@user.devices.length <= 0) %>
	<div class="generate-invoice">
		<!-- <button type="button" data-toggle="modal" data-target="#notificationModal">Send Notification</button> -->
	</div>
	<!-- Notification Modal -->
	<div class="modal fade" id="notificationModal" role="dialog" tabindex="-1">
	  	<div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content" style="text-align:center">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Send Notification</h4>
				</div>
		    	<%= form_tag('/admin/orders/order_notification', type: :post, class: "update-status") do |f| %>
		      		<%= hidden_field_tag 'order_id',nil, value: @order.id %>
				    <div class="modal-body" id="test">
				      	<input type="text" name='message' placeholder='Enter message'>
				    </div>
				    <div class="modal-footer">
				        <button type="submit" class="btn btn-default delivery-submit-status">Send</button>
				    </div>
		    	<% end %>
		    </div>
		</div>
	</div>
<% end %>