<table id='myOrdersTable'class="table table-bordered">
  <thead>
    <tr>
      <!-- <th>ID</th> -->
      <!-- <th>Service</th> -->
      <!-- <th>User</th> -->
      <!-- <th>Stamp amount</th> -->
      <!-- <th>Delivery amount</th> -->
      <th>Trans ID</th>
      <th>Date(dd/mm/yy)</th>
      <th>Product</th>
      <th>Payment</th>
      <th>Status</th>
      <th>Total amount</th>
      <th>Platform</th>
      <th>Draft</th>
      <th>Edit Draft</th>
      <th>Upload Soft Copy</th>
      <th colspan="3"></th>
    </tr> 
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <!-- <td><%#= order.id %></td> -->
        <!-- <td><%#= order.service_id %></td> -->
        <!-- <td><%#= order.user_id %></td> -->
        <!-- <td><%#= order.stamp_amount %></td> -->
        <!-- <td><%#= order.delivery_amount %></td> -->
        <td><%= order.txnid %></td>
        <td><%= order.created_at.strftime('%d-%b-%Y') %> <br><%= order.created_at.strftime('%I-%M %P') %></td>
        <td><%= order.product %></td>
        <td><%= order.payment.status.name if (order.payment && order.payment.status) %></td>
        <td><%= order.status.name %></td>
        <td><%= order.total_amount %></td>
        <td><%= order.platform.name %></td>
        <td>
          <% if order.document && !order.soft_copy_url && order.draft_url %> 
          <a href="<%= order.draft_url %>" target="_blank">
            <button class="download_btn">Download</button>
          </a>
          <% end %>
        </td>
        <td>
          <% if order.document && !order.soft_copy_url && order.draft_url %>
            <button class="edit_draft" data-toggle="modal" data-target="#editdraftModal"  data-atr="<%= order.id %>">Edit Draft
            </button>
          <% end %>
        </td>
        <td>
          <% if !order.soft_copy_url %>
          <button class="soft_copy" data-toggle="modal" data-target="#softcopyModal"  data-atr="<%= order.id %>">Upload Soft Copy</button>
          <% end %>
        </td>
        <td><%= link_to 'Details', order_details_path(order) %></td>
        <td>
          <% if order.status.name != 'INCOMPLETE' %>
            <a class="update"  data-toggle="modal" data-target="#myModal" data-attr='<%= order.id %>'>Update</a>
          <% end %>
        </td>
        <td>
          <% if order.status.name != 'INCOMPLETE' %>
            <a class="delivery-update"  data-toggle="modal" data-target="#delivery-modal" data-attr='<%= order.id %>'>Update Delivery</a>
          <% end %>
        </td>
        <!-- <td><%#= link_to 'Show', order %></td> -->
        <!-- <td><%#= link_to 'Edit', edit_order_path(order) %></td> -->
        <!-- <td><%#= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @orders %>
<!-- Modal -->
<div class="result"></div>
<br>
<!-- Modal -->
<div class="modal fade" id="delivery-modal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delivery Statuses</h4>
      </div>
      <%= form_tag('update_delivery', type: :post, class: "update-status") do |f| %>
      <div class="modal-body" id="test">
        <div class="form-group">
            <input type="hidden" name='order_id' id='delivery-order-id' required>
            <%= select_tag "status_id", options_from_collection_for_select(@delivery_statuses, "id", "name"), include_blank: true, class: 'form-control', id: 'dispatched' %>
        </div>
        <div class="resources" style=" display: none;"><input type="text" placeholder="Enter the tracking number"></div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default delivery-submit-status">Update</button>
      </div>
      <% end %>
    </div>
  </div>
</div>
<%#= render 'orders/update_status' %>
<%= render 'orders/edit_draft' %>
<%= render 'orders/upload_soft_copy' %>

<%#= link_to 'New Order', new_order_path %>
<script>
  $(document).ready(function (e) {
    $('.update').bind('click', function(e){
      order_id = $(this).data('attr');
      e.preventDefault();
      e.stopPropagation();
      $.ajax({
          type: 'post',
          url: '/admin/orders/get_track_details',
          data: 'order_id=' + order_id
      }).done(function (data, textStatus, jqXHR) {
          $('.result').html(data);
          $('#trackModal').modal('toggle');
      }).fail(function (jqXHR, textStatus, errorThrown) {
          setNotification('error', 'Unknown Error. Try Again');
      });
    })
    $('.delivery-update').bind('click', function(e){
      $('#delivery-order-id').val(e.target.dataset['attr'])
    })
    $('.delivery-submit-status').on('click', function(e) {
      e.preventDefault();
      e.stopPropagation();
      $.ajax({
          type: 'post',
          url: '/admin/orders/update_delivery',
          data: $('#delivery-modal form').serialize()
      }).done(function (data, textStatus, jqXHR) {
          $('#delivery-modal').modal('toggle');
          setNotification('success', 'Updated Delivery Successfully.');
      }).fail(function (jqXHR, textStatus, errorThrown) {
          $('#delivery-modal').modal('toggle');
          setNotification('error', 'Unknown Error. Try Again');
      });
    });
    // $('.submit-status').on('click', function(e) {
    //   e.preventDefault();
    //   e.stopPropagation();
    //   $.ajax({
    //       type: 'post',
    //       url: '/admin/orders/update_status',
    //       data: $('#myModal form').serialize()
    //   }).done(function (data, textStatus, jqXHR) {
    //       $('#myModal').modal('toggle');
    //       setNotification('success', 'Updated Status Successfully.');
    //   }).fail(function (jqXHR, textStatus, errorThrown) {
    //       console.log(e.target.parent('.modal'));
    //       $('#myModal').modal('toggle');
    //       setNotification('error', 'Unknown Error. Try Again');
    //   });
    // });
    var dispatched = $('#dispatched');
    var select = this.value;
    dispatched.change(function () {
        if ($(this).val() == '1') {
            $('.resources').show();
        }
        else $('.resources').hide();
    });
  });
  var edit_order_id,soft_copy_order_id;
  $('.edit_draft').bind('click', function(e){
    edit_order_id = $(this).data('atr');
    $('#edit_draft #edit_order_id').val(edit_order_id)
  })
  $('.soft_copy').bind('click', function(e){
    soft_copy_order_id = $(this).data('atr');
    $('.upload_soft_copy #soft_copy_order_id').val(soft_copy_order_id)
  })
  $(function(){
    $("#myOrdersTable").tablesorter();
  });
</script>
<style>
  a{
    cursor: pointer;
  }
  .modal .close {
    position: absolute;
    margin-left: 100%;
    font-size: 25px;
    margin-top: -2.5%;
    width: 30px;
    height: 30px;
    background: #DCDADA;
    font-size: 20px;
    padding: 5px 10px;
    color: #0C0C0C;
    margin-left: 29.1em;
  }
  .modal-content {
      position: relative;
      background-color: #fff;
      border: 1px solid #999;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 0;
      -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
      box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
      background-clip: padding-box;
      outline: 0;
      margin-top: 25%;
  }
</style>