
<style> 
.nav-tab{
  /*border-bottom: 1px solid #ddd;*/
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
  }

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
  }
.nav>li {
    border: 1px solid #ddd;
    position: relative;
    display: -webkit-inline-box;
    padding: 20px;
    background-color: rgb(9, 11, 84);
    color: white;
  }
li {
    display: table;
    content: " ";
  }
.center-blocks{
    margin-left: 214px;
    margin-right: -223px;
    margin-top: 30px;
    display: table-caption;
  }
.center-blocks2{
    margin-left: 275px;
    margin-right: -255px;
    margin-top: 30px;
    display: table-caption;
    text-align: center;
  }
</style>
<div class='search'>
    <ul class="nav nav-tab">
      <% @statuses.each do |status|%>
        <li class="status-id active center-blocks" data-toggle="tab" data-atr="<%= status.id %>"><%= status.name %>
        </li>
       <% end %>
    </ul>
</div>
<div>
   <input style="border-radius: 20px;padding: 5px;background-color: rgba(136, 136, 136, 0.39);" type="text" name="txnid" class='search_box center-blocks2'>
   <input style="border-radius: 20px;background-color: rgba(13, 16, 111, 0.92);color: white;padding: 6px;" type="button" name="search" value="Search" class='search-submit center-blocks2'>
</div>  
<div class="result">
</div>
<script>
  $('.search-submit ').click(function (e){
    e.preventDefault();
    var txnid = $('.search_box').val();
    $.ajax({
      type: "GET",
      url : '/admin/orders/search_by',
      data: 'txnid='+txnid,
      error: function(data,xhr) {
          console.log("Error occurred when retrieving job executions");
      },
      success: function(data,xhr) {
        $('.result').html(data);
      }
    });
  });  
</script>
<script>
  $('.search li').click(function (e){
    e.preventDefault();
    var status = e.target.dataset['atr'];
    $.ajax({
      type: "GET",
      url : '/admin/orders/search_by',
      data: 'status_id='+status,
      error: function(data,xhr) {
          console.log("Error occurred when retrieving job executions");
      },
      success: function(data,xhr) {
        $('.result').html(data);
      }
    });
  });  
</script>
