<p id="notice"><%= notice %></p>

<p>
  <strong>Document:</strong>
  <%= @order.document_id %>
</p>

<p>
  <strong>Service:</strong>
  <%= @order.service_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status.name %>
</p>

<p>
  <strong>Stamp amount:</strong>
  <%= @order.stamp_amount %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', "/admin/orders" %>
