<p id="notice"><%= notice %></p>

<h1>Listing Dvaults Profiles Relationships</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dvaults_profiles_relationships.each do |dvaults_profiles_relationship| %>
      <tr>
        <td><%= dvaults_profiles_relationship.name %></td>
        <td><%= link_to 'Show', dvaults_profiles_relationship %></td>
        <td><%= link_to 'Edit', edit_dvaults_profiles_relationship_path(dvaults_profiles_relationship) %></td>
        <td><%= link_to 'Destroy', dvaults_profiles_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @dvaults_profiles_relationships %>

<%= link_to 'New Relationship', new_dvaults_profiles_relationship_path %>
