<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dvaults_profiles_relationship.name %>
</p>

<%= link_to 'Edit', edit_dvaults_profiles_relationship_path(@dvaults_profiles_relationship) %> |
<%= link_to 'Back', dvaults_profiles_relationships_path %>
