<div class="nested-fields">
	<%= f.association :requirement, :collection => Requirement.all, :input_html=>{
                  		:required => true 
                  	}  %>
	<%= link_to_remove_association "Remove document_requirement", f%>
</div>