<div class="nested-fields">
	<%= f.association :user_info, :collection => UserInfo.all , :input_html =>{
                  		:required => true 
                  	}  %>
	<%= link_to_remove_association "Remove document_user_infos", f%>
</div>