<%= simple_form_for(@document) do |f| %>
	<%= f.error_notification %>

	<div class="form-inputs">
		<%= f.input :name %>
		<%= f.association :service %>
		<%= f.input :stamp_required %>
		<%= f.input :default_price %>
		<%= f.input :tat %>
		<%= f.input :automated %>
		<%= f.input :priority %>
		<%= f.input :description %>
		<% if @document.questions %>
			<%= f.label :template_url %>
			<input id="uploadFile1" placeholder="Upload xls file" disabled="disabled" />
			<div class="fileUpload btn btn-primary">
		    	<span>Upload</span>
		    	<input id="uploadBtn1" type="file" class="upload" accept=".xls"  />
			</div>
			<br>
			<%= f.label :template_xls %>
			<input id="uploadFile2" placeholder="Upload Template file" disabled="disabled" />
			<div class="fileUpload btn btn-primary">
		    	<span>Upload</span>
		    	<input id="uploadBtn2" type="file" class="upload" accept=".docx" />
			</div>
		<% end %>
	</div>
		

	<div class="form-actions">
		<%= f.button :submit, class: 'create' %>
	</div>
<% end %>
<script >
	document.getElementById("uploadBtn1").onchange = function () {
    	document.getElementById("uploadFile1").value = this.value;
	};
	document.getElementById("uploadBtn2").onchange = function () {
    	document.getElementById("uploadFile2").value = this.value;
	};
</script>

<style>
	select#document_category_id {
	    width: 240px;
	    margin-bottom: 5px;
	}

	select#document_document_user_infos_attributes_1445937617265_user_info_id {
	    width: 240px;
	    margin-bottom: 5px;
	}
	input.btn.create {
	    background-color: #024448;
	    padding: 2px;
	    color: #fff;
	    margin-bottom: 2em;
	    border: none;
	    border-radius: 0;
	    margin-left: 0;
	    height: 32px;
	}
	.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
</style>