<div id="questionModal" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <%= @document.name %>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <table class='table table-bordered get_questions'>
          <thead>
            <tr>
              <!-- <th>Document</th> -->
              <th>Response type</th>
              <th>Is mandatory</th>
              <th>Body</th>
              <th>Associated text</th>
              <th>Placeholder</th>
              <th>Options</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @documents_questions.each do |documents_question| %>
              <tr>
                <!-- <td><%#= documents_question.document.name %></td> -->
                <td><%= documents_question.response_type ? documents_question.response_type.name : '' %></td>
                <td><%= documents_question.is_mandatory %></td>
                <td><%= documents_question.body %></td>
                <td><%= documents_question.associated_text %></td>
                <td><%= documents_question.placeholder %></td>
                <td><%= documents_question.options ? documents_question.options.map{|option| option.name} : '' %></td>
                <td><%= link_to 'Show', documents_question %></td>
                <td><%= link_to 'Edit', edit_documents_question_path(documents_question) %></td>
                <td><%= link_to 'Destroy', documents_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

