<div class="nested-fields">
    <%= f.association :state, :collection => State.all, :input_html=>{:required => true }   %>
	<%= f.input :price %>
	<%= link_to_remove_association "Remove state_price", f%>
</div>