<table id='myDocumentsTable' class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Service</th>
      <th>Stamp required</th>
      <th>Get Questions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.name %></td>
        <td><%= document.service.name %></td>
        <td><%= document.stamp_required %></td>
        <td><%#= document.tat %> <button class="question_btn" data-toggle="modal" data-target="#questionModal" data-attr='<%= document.id %>'>Questions</button></td>
        <td><%= link_to 'Show', document %></td>
        <td><%= link_to 'Edit', edit_document_path(document) %></td>
        <td><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="result"></div>
<script>
  var questions_modal_id;
  // $('.question_btn').bind('click', function(){
  // })

  $('.question_btn').bind('click',function (e){
      questions_modal_id = $(this).data('attr');
      e.preventDefault();
      $.ajax({
        type: "POST",
        url : '/admin/documents/get_questions',          
        data: 'document_id='+questions_modal_id
      }).fail(function (data, textStatus, jqXHR){
            console.log("Error occurred when retrieving job executions");
      }).success(function (data, textStatus, jqXHR){
          $('.result').html(data);
          $('#questionModal').modal('toggle');
      })
  }); 

</script>