<p id="notice"><%= notice %></p>

<h1>Listing Documents</h1>

<table id='myDocumentsTable' class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Service</th>
      <th>Tat</th>
      <th>Automated</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.name %></td> 
        <td><%= document.service.name %></td>
        <td><%= document.tat %></td>
        <td><%= document.automated %></td>
        <td><%= document.default_price %></td>
        <td><%= link_to 'Show', document %></td>
        <td><%= link_to 'Edit', edit_document_path(document) %></td>
        <td><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @documents %>
<%= link_to 'New Document', new_document_path, class: 'new_doc' %> 
<%= link_to 'Export', documents_path(request.parameters.merge({:format => :xls})), :class =>"btn btn-primary" %>

<script>
    $(function(){
      $("#myDocumentsTable").tablesorter({widgets: ['zebra']});
    });
</script>
