
<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Service</Data></Cell>
        <Cell><Data ss:Type="String">Tat</Data></Cell>
        <Cell><Data ss:Type="String">Automated</Data></Cell>
        <Cell><Data ss:Type="String">Price</Data></Cell>
      </Row>
    <% @documents.each do |document| %>
      <Row>
        <Cell><Data ss:Type="String"><%= document.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= document.service.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= document.tat %></Data></Cell>
        <Cell><Data ss:Type="String"><%= document.automated %></Data></Cell>
        <Cell><Data ss:Type="String"><%= document.default_price %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

