<div class="search search_wrapper">
  <h2>Enter the document name</h2>
   <input type="text" name="name" placeholder="Enter Name" class='search_box'>
   <input type="button" name="" value="OK" class="search-submit">
</div>  
<div class="result">
  </div>
<script>
  $('.search-submit ').click(function (e){
    e.preventDefault();
    var name = $('.search_box').val();
    $.ajax({
      type: "GET",
      url : '/admin/documents/search_by',
      data: 'name='+name,
      error: function(data,xhr) {
          console.log("Error occurred when retrieving job executions");
      },
      success: function(data,xhr) {
        $('.result').html(data);
      }
    });
  });  
</script> 