<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Category :</strong>
  <%= @document.service_id %>
</p>

<p>
  <strong>Stamp required:</strong>
  <%= @document.stamp_required %>
</p>

<p>
  <strong>Default Price:</strong>
  <%= @document.default_price %>
</p>
<p>
  <strong>Tat:</strong>
  <%= @document.tat %>
</p>
<p>
  <strong>Description:</strong>
  <%= @document.description %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
