<p id="notice"><%= notice %></p>

<h1>Listing Orders Delivery Partners</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders_delivery_partners.each do |orders_delivery_partner| %>
      <tr>
        <td><%= orders_delivery_partner.name %></td>
        <td><%= link_to 'Show', orders_delivery_partner %></td>
        <td><%= link_to 'Edit', edit_orders_delivery_partner_path(orders_delivery_partner) %></td>
        <td><%= link_to 'Destroy', orders_delivery_partner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @orders_delivery_partners %>
<%= link_to 'New Partner', new_orders_delivery_partner_path %>
