<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @orders_delivery_partner.name %>
</p>

<%= link_to 'Edit', edit_orders_delivery_partner_path(@orders_delivery_partner) %> |
<%= link_to 'Back', orders_delivery_partners_path %>
