<%= form_for(@documents_answer) do |f| %>
  <% if @documents_answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@documents_answer.errors.count, "error") %> prohibited this documents_answer from being saved:</h2>

      <ul>
      <% @documents_answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :document_id %><br>
    <%= f.number_field :document_id %>
  </div>
  <div class="field">
    <%= f.label :section_id %><br>
    <%= f.number_field :section_id %>
  </div>
  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.number_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
