<p id="notice"><%= notice %></p>

<h1>Listing Documents Answers</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Order</th>
      <th>Document</th>
      <th>Section</th>
      <th>Question</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents_answers.each do |documents_answer| %>
      <tr>
        <td><%= documents_answer.order_id %></td>
        <td><%= documents_answer.section_id %></td>
        <td><%= documents_answer.question_id %></td>
        <td><%= documents_answer.body %></td>
        <td><%= link_to 'Show', documents_answer %></td>
        <td><%= link_to 'Edit', edit_documents_answer_path(documents_answer) %></td>
        <td><%= link_to 'Destroy', documents_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @documents_answers %>
<%= link_to 'New Answer', new_documents_answer_path %>
