<p id="notice"><%= notice %></p>

<p>
  <strong>Document:</strong>
  <%= @documents_answer.document_id %>
</p>

<p>
  <strong>Section:</strong>
  <%= @documents_answer.section_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @documents_answer.question_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @documents_answer.body %>
</p>

<%= link_to 'Edit', edit_documents_answer_path(@documents_answer) %> |
<%= link_to 'Back', documents_answers_path %>
