<%= form_for(@role_column_access) do |f| %>
  <% if @role_column_access.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role_column_access.errors.count, "error") %> prohibited this role_column_access from being saved:</h2>

      <ul>
      <% @role_column_access.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :role_id %><br>
    <%= f.number_field :role_id %>
  </div>
  <div class="field">
    <%= f.label :column_name %><br>
    <%= f.text_field :column_name %>
  </div>
  <div class="field">
    <%= f.label :table_name %><br>
    <%= f.text_field :table_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
