<p id="notice"><%= notice %></p>

<h1>Listing Role Column Accesses</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Role</th>
      <th>Column name</th>
      <th>Table name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @role_column_accesses.each do |role_column_access| %>
      <tr>
        <td><%= role_column_access.role_id %></td>
        <td><%= role_column_access.column_name %></td>
        <td><%= role_column_access.table_name %></td>
        <td><%= link_to 'Show', role_column_access %></td>
        <td><%= link_to 'Edit', edit_role_column_access_path(role_column_access) %></td>
        <td><%= link_to 'Destroy', role_column_access, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @role_column_accesses %>
<%= link_to 'New Role column access', new_role_column_access_path %>
