<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @role_column_access.role_id %>
</p>

<p>
  <strong>Column name:</strong>
  <%= @role_column_access.column_name %>
</p>

<p>
  <strong>Table name:</strong>
  <%= @role_column_access.table_name %>
</p>

<%= link_to 'Edit', edit_role_column_access_path(@role_column_access) %> |
<%= link_to 'Back', role_column_accesses_path %>
