.about_us{
  padding-right: 2%;
  padding-left: 2%;
  .content_padd1{
    text-align: center;
    padding: 0em 0em 0em;
  }

  h1.text-center {
       font-size: 30px;
      margin: 12%;
  }
  hr {
      margin-top: 20px;
      margin-bottom: 20px;
      border: 0;
      border-top: 1px solid #000;
    }

    h1.about_txt {
      border-bottom: 1px solid #000;
      display: inline-block;
      padding-bottom: 14px;
      font-size: 30px;
  }

  .section_style {
      text-align: justify;
  }
  
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
   {
   	.about_us{
   		.section_style{
   			padding: 10%;
   		}
   	}
}
@media all and (max-width: 480px) {
	.about_us{
   		.section_style{
   			width: 310px;
   		}
      .content_padd1 {
        text-align: center;
        padding: 4em 0em 1em 1em;
        width: 300px;
      }
      h1.about_txt {
        font-size: 18px;
      }
   	}
}


@media all and (min-width: 768px) and (max-width: 1024px) {
  .box_wrap {
    margin-top: 0% !important;
    padding-top: 17% !important;
  }
}