body{
    background-image: image-url("new_images/pattern_inner.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}

.agreements{
    padding-bottom: 3% !important;
    // background: #fff;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    // box-shadow: 0 3px 6px rgba(162, 162, 162, 0.07), 0 3px 6px rgba(167, 167, 167, 0.27);
    padding: 0;
    .box_wrap {
        padding-top: 10%;
    }

    /*.icon_wrap {
        border: 1px solid #36b3b3;
        margin: 0 auto;
        height: 200px;
        background-color: #36b3b3;
    }*/
    .icon_wrap {
        width: 100%;
        height: 215px;
        position: relative;
    }

    img.icon_image {
      width: 80%;
      display: block;
      height: 180px;
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    }

    p.doc_head {
        text-align: center;
        font-size: 25px;
        color: #000;
        font-weight: bolder;
        background: #fff;
        position: absolute;
        width: 80%;
        padding: 1%;
    }

    // .search_wrap {
    //     width: 50%;
    //     position: relative;
    //     margin: 0 auto;
    // }

    .selection-box {
        width: 70%;
        position: relative;
        text-align: center;
        top: 25px;
        padding-bottom: 22px;
        margin: 0 auto;
    }

    input.search_boxs {
        width: 100%;
        height: 50px;
        // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
        color: #5c5757;
        font-size: 15px;
        padding: 12px 70px 12px 20px;
        border: 1px solid #AAABAB;
    }

    span.search_icon {
        font-size: 30px;
        position: absolute;
        background: #ffdc0e;
        width: 11%;
        margin-left: -11.2%;
        height: 48px;
        margin-top: 0.2%;
        padding: 0.5%;
        cursor: pointer;
        text-align: center;
    }

    span.search_icon:hover {
        background-color: #525252;
        cursor: pointer;
        transition: .4s;
        color: #fff;
    }

    ul.document_list {
        height: 360px;
        overflow-y: scroll; 
        background: #fff;
        margin: 3% auto;
        // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
        // padding: 2% 0% 0% 0%;
        list-style: none;
        position: relative;
        // border: 1px solid rgba(77, 77, 77, 0.1);
        width: 100%;
        margin-bottom: 2%;
    }

    ul.document_list li a {
        color: #4D4D4D;
        text-decoration: none;
    }

    ul.document_list h4 {
        // font-size: 30px;
        text-align: center;
        font-weight: bold;
        color: #000;
    }

    hr.list_hr {
        border-top: 1px solid rgba(77, 77, 77, 0.42);
        width: 95%;
        margin: 3% auto;
    }

    ul.document_list li {
        font-size: 14px;
        color: #4D4D4D;
        display: inline-block;
        width: 100%;
        cursor: pointer;
        // font-weight: bolder;
        padding: 1% 3%;
    }

    img.icon_style {
        padding-right: 3%;
    }


    ul.document_list li:hover {
        background: #f2f2f2;
    }

    span.price_rate {
        font-size: 18px;
        color: rgba(77, 77, 77, 0.69);
        font-weight: bolder;
        position: relative;
        top: -8px;
        left: 7.5%;
    }

    span.search_btn {
      color: rgba(77, 77, 77, 0.41);
      position: absolute;
      right: 4%;
      padding: 1%;
    }
    
    span.twitter-typeahead {
        width: 70%;
    }

    .tt-menu {
        width: 100%;
    }

    .tt-suggestion.tt-selectable {
        background: #ebebeb;
        width: 100%;
        text-align: left;
        padding: 6px 10px;
        font-size: 15px;
        cursor: pointer;
        border: 1px solid rgba(216, 216, 216, 0.6);
    }

    .tt-dataset.tt-dataset-Location {
        width: 100%;
    }

    h3.doc_product {
        text-align: center;
    }
}


    
    /**************************** MEDIA QUERY STARTS **********************************/
    @media all and (min-width: 768px) and (max-width: 1024px) {
        // .section_padd {
        //     padding-left: 10%;
        //     padding-right: 10%;
        //     padding-bottom: 4%;
        // }

        .agreements {
            padding-bottom: 35% !important;
            padding-top: 15% !important;
        }

        ul.document_list {
            height: 360px;
        }

        .navbar.navbar, .navbar-default.navbar {
            background-color: transparent !important;
        }

        .icon_wrap {
            margin-bottom: 5%;
        }

        .icon_wrap {
            width: 50%;
        }

        img.icon_image {
            width: 100%;
        }

        p.doc_head {
            width: 100%;
            font-size: 18px;
        }

        .icon_wrap {
            width: 50%;
            margin: 0 auto 6%;
        }
    }

    @media all and (min-width: 800px) and (max-width: 1280px) {    
        ul.document_list {
            height: 360px;
        }
    }

    @media all and (min-width: 900px) and (max-width: 1380px) {

        ul.document_list {
            height: 360px;
        }
    }

    @media all and (min-width: 1385px) and (max-width: 1750px) {

        ul.document_list {
            height: 360px;
        }
    }
    
    @media all and (max-width: 480px) {
        .section_padd.box_wrap.agreements {
            padding-top: 21%;
        }

        input.search_boxs {
            height: 35px;
        }

        .tt-suggestion.tt-selectable {
            font-size: 1.3vw;
        }

        input.search_boxs {
            height: 35px;
            padding: 5px 46px 5px 15px;
        }

        span.search_icon {
            padding: 4.5% !important;
        }
    }

    @media only screen and (min-width: 1917px) and (max-width: 1921px) {
        
        .agreements span.search_icon {
            // font-size: 1.3vw;
        }

        .agreements ul.document_list {
            height: 530px;
        }

        .agreements input.search_boxs {
            // font-size: 1vw;
        }

        .agreements ul.document_list li {
            // font-size: 1vw;
        }

        .agreements .tt-suggestion.tt-selectable {
          // font-size: 0.8vw;
        }

        .order_summary p.hint_txt {
            font-size: 0.5vw;
        }

        input.input_style {
            padding: 1% 10%;
            font-size: 1vw;
        }

        .agreements span.search_icon {
            margin-left: -11.09%;
            margin-top: 0.05%;
        }

    }

    @media only screen and (min-width: 2008px) and (max-width: 2048px) {
        .agreements input.search_boxs {
            // font-size: 0.8vw;
            padding: 6px 140px 6px 7px;
        }

        .agreements .tt-suggestion.tt-selectable {
            // font-size: 0.8vw;
        }

        .agreements ul.document_list li {
            // font-size: 0.8vw;
        }

        .agreements ul.document_list {
            height: 530px;
        }

        .agreements span.search_icon {
            // font-size: 1.5vw;
        }

        .agreements span.search_icon {
            margin-left: -11.09%;
            margin-top: 0.05%;
        }
    }

    @media only screen and (min-width: 1370px) and (max-width: 1916px) {
        
        .agreements span.search_icon {
            // font-size: 1.3vw;
        }

        .agreements ul.document_list {
            height: 530px;
        }

        .agreements input.search_boxs {
            // font-size: 1vw;
        }

        .agreements ul.document_list li {
            // font-size: 1vw;
        }

        .agreements .tt-suggestion.tt-selectable {
          // font-size: 0.8vw;
        }

        .order_summary p.hint_txt {
            // font-size: 0.5vw;
        }

        input.input_style {
            padding: 1% 10%;
            // font-size: 1vw;
        }

        .agreements span.search_icon {
            margin-left: -11.09%;
            margin-top: 0.05%;
        }

    }
    /**************************** MEDIA QUERY ENDS **********************************/