.contact_us{

  h1.text-center {
    font-size: 30px;
    margin-top: 16%;
    margin-bottom: 0%;
  }

  hr.contact_hr {
      border-color: #000;
      width: 40%;
      margin: 2% auto 3%;
  }

  form.contact_form {
      width: 70%;
      height: 300px;
      margin: 0 auto;
  }

  input.input_style {
      width: 80%;
      height: 30px;
      border: 1px solid #000;
      padding: 6px 10px;
  }
  
  textarea#message {
      padding: 6px 10px;
      border: 1px solid #000;
      width: 80%;
  }

  button.send-btn {
    background: #ed1c24;
    border: 0;
    border-radius: 0;
    width: 20%;
    font-size: 20px;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0% auto;
    text-align: center;
    height: 35px;
  }
  
  .border_style {
    text-align: center;
    border: 1px solid #000;
    border-left: 0px;
    border-right: 0px;
    width: 78%;
    margin: 0 auto;
    padding-bottom: 2%;
    padding-top: 2%;
  }

  .style_div1 {
      text-align: center;
      margin-top: 2%;
  }

  a {
      color: #ed1c24;
      text-decoration: none;
  }
  
} 

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
   {

    .contact_us{
      form.contact_form {
          width: 50%;
          height: 375px;
          margin: 0 auto;
      }
    }  
}
@media all and (max-width: 480px) {
  .contact_us{
    h1.text-center {
      font-size: 20px;
      margin-top: 30%;
      margin-bottom: 0%;
    }
    form.contact_form {
      width: 61%;
      height: 365px;
      margin: 0 auto;
    }
    .border_style {
      width: 50%;
      margin: 0 auto;
      padding-bottom: 2%;
      padding-top: 2%;
    }
    .style_div1 {
      width: 77%;
      font-size: 14px!important;
    }
  }
}