.disclaimer{
	padding-bottom: 6%;
    padding-right: 2%;
    padding-left: 2%;
	h1.text-center {
        font-size: 30px;
        margin-top: 16%;
        margin-bottom: 0;
    }
    hr.privacy_hr {
        border-color: #000;
        width: 40%;
        margin: 3% auto 6%;
    }
    
    section {
        padding-top: 4%;
    }

    p {
        text-align: justify;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .disclaimer {
        padding-top: 8%;
    }
}  
@media all and (max-width: 480px) {
    .disclaimer{
        p {
            text-align: justify;
            padding: 3%!important;
            width: 300px!important;
        }   
    }
}  

@media only screen and (min-width: 1917px) and (max-width: 1921px) {
    .disclaimer {
        padding-bottom: 14%;
    }
}

@media only screen and (min-width: 1370px) and (max-width: 1916px) {
    .disclaimer {
        padding-bottom: 14%;
    }
}

@media only screen and (min-width: 2008px) and (max-width: 2048px) {
    .disclaimer {
        padding-bottom: 14%;
    }
}