/************** NUMBER SLIDER CSS STARTS ************************/
// ul.list_wrapper li {
//     /*display: inline-block;*/
//     float: left;
//     list-style: none;
//     /*width: 8.09%;*/
//     width: 9.09%;
//     color: #000;
//     font-size: 14px;
//     line-height: 2em;
//     text-align: center;
//     // font-weight: bold;
//     cursor: pointer;
// }

// ul.list_wrapper {
//     /*position: absolute;
//     left: -9%;*/
//     list-style: none;
//     position: absolute;
//     padding: 0;
//     margin: 0;
//     width: 100%;
// }

#just-a-slider .handle {
    height: 40px;
    line-height: 3em;
    border-radius: 0px;
    cursor: pointer;
    position: absolute;
    top: -16%;
    font-weight: bold;
    width: 30px;
    background: #FFDC0E;
}

// .dragdealer {
//     position: relative;
//     height: 30px;
//     background: #EEE;
// }

// .dragdealer .red-bar {
//     width: 40px;
//     height: 30px;
//     background: #ffdc0e;
//     color: #000;
//     font-size: 14px;
//     line-height: 30px;
//     text-align: center;
// }


// .copies_slot {
//     height: 30px;
//     background: #f2f2f2;
//     position: relative;
//     width: 100%;
//     margin-bottom: 4%;
// }


#just-a-slider {
    width: 327px;
    /* height: 40px; */
    height: 2em;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    cursor: pointer;
    background: #f2f2f2;
}



// #just-a-slider .value {
//   font-size: 16px;
//   font-weight: bold;
// }

// .dragslider {
//     text-align: center;
//     width: 450px;
//     margin: 0 auto;
//     display: block;
//     position: relative;
//     margin-bottom: 6%;
// }

.copies_slot {
    position: relative;
    height: 40px;
    width: 100%;
    margin-bottom: 6%;
}

#just-a-slider {
    height: 30px;
    background: #f2f2f2;
}

ul.list_wrapper {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 14px;
}

ul.list_wrapper li {
    float: left;
    width: 9%;
    line-height: 2.4em;
    color: #757575;
}

span.value {
    font-size: 16px;
    font-weight: bold;
}
/************** NUMBER SLIDER CSS ENDS ************************/


/************** TIME SLOT SLIDER CSS STARTS ************************/
.time_slider {
    width: 75%;
    margin: 0 auto 5%;
    display: block;
    float: right;
    cursor: pointer;
}

.time_slider .dragdealer .red-bar {
    // width: 85px;
    // height: 40px;
    // background: #ffdc0e;
    // color: #000;
    // font-size: 14px;
    // line-height: 30px;
    // text-align: center;
    // position: absolute;
    // top: -16%;
    // cursor: pointer;
    width: 65px;
    height: 35px;
    background: #ffdc0e;
    color: #000;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: -16%;
    cursor: pointer;
}

#simple-slider {
    position: relative;
    height: 25px;
    background: #f2f2f2;
}

/************** TIME SLOT SLIDER CSS ENDS ************************/


/************** DATE SLIDER CSS STARTS ************************/
.date_slide {
    /*height: 92px;*/
    height: 4.5em;
    background: #f2f2f2;
    margin-bottom: 6%;
    position: relative;
}

ul.list_date {
    /*list-style: none;
    position: absolute;
    left: -6%;*/
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
}

ul.list_date li {
    /*display: inline-block;*/
    /*width: 13.28%;*/
    width: 14.28%;
    float: left;
    white-space: pre-wrap;
    margin-top: 4px;
    font-weight: normal;
    font-size: 16px;
    color: #757575;
}

#date-slider .handle {
    /*height: 105px;
    line-height: 50px;*/
    height: 5.2em;
    border-radius: 0px;
    cursor: pointer;
    position: absolute;
    top: -10%;
}

.dragslider {
    text-align: center;
    width: 450px;
    margin: 0 auto;
    display: block;
    position: relative;
    margin-bottom: 6%;
}

.dragdealer {
    position: relative;
    height: 30px;
    background: #EEE;
}

div#date-slider {
    // width: 515px; 
    width: 100%;
    /* height: 92px; */
    height: 3.9em;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 1.2em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background: #f2f2f2;
    
}

.date_slide .dragdealer .red-bar {
    width: 55px;
    height: 92px;
    background: #ffdc0e;
    color: #000;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}

#date-slider span.value {
    font-size: 16px;
    white-space: pre-wrap;
    /* line-height: 30px; */
    line-height: 1.4em;
    display: block;
    margin: 6px 0px;
}
/************** DATE SLIDER CSS ENDS ************************/


@media all and (max-width: 480px) {
    ul.list_date li {
        /* display: inline-block; */
        /* width: 13.28%; */
        width: 14.28%;
        float: left;
        white-space: pre-wrap;
        margin-top: 4px;
        font-weight: normal;
    }
    
    #date-slider span.value {
        // font-size: 1.2vw;
        white-space: pre-wrap;
        /* line-height: 30px; */
        line-height: 4.4em;
        display: block;
        margin: 6px 0px;
    }

    ul.list_wrapper li {
        line-height: 6.4em;
    }
}


@media only screen and (min-width: 1917px) and (max-width: 1921px) {
    .time_slider {
        width: 76%;
    }

    .time_slider .dragdealer .red-bar {
        width: 75px;
    }
}

@media only screen and (min-width: 2008px) and (max-width: 2048px) {
    .time_slider {
        width: 76%;
    }

    .time_slider .dragdealer .red-bar {
        width: 75px;
    }
}

@media only screen and (min-width: 1370px) and (max-width: 1916px) {
    .time_slider {
        width: 76%;
    }

    .time_slider .dragdealer .red-bar {
        width: 75px;
    }
}