.e-stamp{
    padding-bottom: 5% !important;
	input.estamp {
        height: 35px;
	    width: 71%;
	    padding: 2% 2%;
	    background: #E6E6E6;
	    border: 0;
        font-size: 14px;
    }
 	
    input.estamp:focus {
        height: 35px;
        width: 71%;
        padding: 2% 2%;
        background: #E6E6E6 !important;
        border: 0 !important;
        font-size: 14px;
    }

 	h4.questions_heading {
	    text-align: center;
	    font-weight: bolder;
	    font-size: 14px;
	    margin-bottom: 3px;
	}
    
	.radio-toolbar input[type="radio"] {
        display:none; 
    }

    .radio-toolbar label {
        display:inline-block;
        background-color:#f2f2f2;
        padding:6px 10.5px;
        cursor: pointer;
    }

    .radio-toolbar input[type="radio"]:checked + label { 
        background-color: #fddc0e;
	    cursor: pointer;
	    height: 30px;
    }

    .radio-toolbar label {
        height: 30px;
	    font-size: 14px !important;
	    font-weight: normal;
	    padding: 5px 10px;
	    margin-bottom: 6%;
    }
    // ul.procedure_wrap {
    //     text-align: left !important;
    //     list-style: none;
    //     position: relative;
    //     left: -2% !important;
    // }
    img {
        vertical-align: middle;
    }

    button.btn.btn-default.proceed_btn {
        margin: -3% auto !important;
    }
}

/**************************** MEDIA QUERY STARTS **********************************/
    @media only screen and (min-width: 1917px) and (max-width: 1921px) {
        .e-stamp .radio-toolbar label {
            // font-size: 0.8vw !important;
        }

        .e-stamp input.estamp {
            padding: 1% 2%;
            // font-size: 1vw;
        }

        .e-stamp {
            padding-bottom: 10% !important;
        }

        .e-stamp button.btn.btn-default.proceed_btn {
            margin: -1% auto !important;
        }
    }
    
    @media only screen and (min-width: 2008px) and (max-width: 2048px) {
        .e-stamp .radio-toolbar label {
            // font-size: 0.8vw !important;
        }

        .e-stamp input.estamp {
            padding: 1% 2%;
            // font-size: 1vw;
        }

        .e-stamp {
            padding-bottom: 10% !important;
        }

        .e-stamp button.btn.btn-default.proceed_btn {
            margin: -1% auto !important;
        }
    }
    
    @media only screen and (min-width: 1370px) and (max-width: 1916px) {
        .e-stamp .radio-toolbar label {
            // font-size: 0.8vw !important;
        }

        .e-stamp input.estamp {
            padding: 1% 2%;
            // font-size: 1vw;
        }

        .e-stamp {
            padding-bottom: 10% !important;
        }

        .e-stamp button.btn.btn-default.proceed_btn {
            margin: -1% auto !important;
        }
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
        .e-stamp {
            padding-bottom: 14% !important;
        }
    }
/**************************** MEDIA QUERY ENDS **********************************/