body{
	// background-color: #f2f2f2 !important;
    font-family: "PFBeauSansPro"  !important;
}

.expert{
    a{
    text-decoration: none;
    }

    nav.navbar.navbar-default.nav_home {
        /*border-bottom: 1px solid #000;*/
        color: #000;
        padding-left: 20%;
        padding-right: 20%;
        height: 97px;
    }

    ul.nav.navbar-nav.navbar-right.nav_right {
        margin-top: 2%;
    }

    .track_icon{
        background-image: url("../images/header_icons/tracking.png");
        width: 31px;
        height: 31px;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        top: 7px;
    }

    .track_icon:hover{
        background-image: url("../images/header_icons/tracking_blue.png");
        width: 31px;
        height: 31px;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        top: 7px;
    }

    .wallet_icon{
        background-image: url("../images/header_icons/wallet.png");
        width: 31px;
        height: 31px;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        top: 7px;
    }

    .wallet_icon:hover{
        background-image: url("../images/header_icons/wallet_blue.png");
        width: 31px;
        height: 31px;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        top: 7px;
    }

    .vault_icon{
        background-image: url("../images/header_icons/vault.png");
        width: 31px;
        height: 31px;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        top: 7px;
    }

    .vault_icon:hover{
        background-image: url("../images/header_icons/vault_blue.png");
        width: 31px;
        height: 31px;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        top: 7px;
    }

    .account_icon{
        background-image: url("../images/header_icons/account.png");
        width: 31px;
        height: 31px;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        top: 7px;
    }

    .account_icon:hover{
        background-image: url("../images/header_icons/account_blue.png");
        width: 31px;
        height: 31px;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        top: 7px;
    }

    img.logo_nav {
        margin-top: -8%;
        margin-left: -50%;
    }

    .nav_right li a img {
        margin-top: -17%;
    }

    .footer {
        background-color: #4d4d4d;
        height: 50px;
        color: #fff;
        position: fixed;
        width: 100%;
        bottom: 0;
        padding: 1%;
        font-weight: bold;
    }
    ul.list_left {
        margin-left: -9%;
    }

    ul.list_left li {
        display: inline-block;
        list-style: none;
        padding-left: 10px;
        cursor: pointer;
        color: #fff;
    }

    ul.list-right {
        position: absolute;
        right: 39%;
        cursor: pointer;
        color: #fff;
    }

    ul.list-right li {
        display: inline-block;
        padding-left: 10px;
        color: #fff;
    }


    form{
        margin: 0 auto;
        width: 60%;
        padding-bottom: 9%;

    }
    .card{
        padding: 3% 6% 5% 6%;
        margin-bottom: 4%;
        height: 60%;

    }

    button.btn.btn-primary.next_form {
        width: 20%;
        margin: 0 auto;
        display: block;
    }

    .btn_block {
        text-align: center;
    }

    button.btn.btn-primary.previous_btn {
        width: 20%;
        margin: 0 auto;
    }

    button.btn.btn-primary.next_btn {
        width: 20%;
        margin: 0 auto;
    }

    button.btn.btn-primary.previous_frm {
        width: 20%;
        margin: 0 auto;
    }

    button.btn.btn-primary.submit_btn {
        width: 20%;
        margin: 0 auto;
    }
    select#input {
        width: 15%;
    }

    #errmsg
    {
    color: red;
    }
    select#mySelect {
        width: 10%;
    }
    button.btn.btn-primary.next_form.input {
        margin-top: 2%;
    }
    .row {
        width: 116%;
    }
    .btn_block {
        margin-top: 3%;
    }
}

