.franking{
    
 //    ul.procedure_wrap {
	//     text-align: left !important;
	//     list-style: none;
	//     position: relative;
	//     left: -2% !important;
	// }
	img {
	    vertical-align: middle;
	    // margin-left: 10px;
	}

	    #notary-slider .handle {
        height: 40px;
        line-height: 4em;
        border-radius: 0px;
        cursor: pointer;
        position: absolute;
        top: -16%;
    }
	
	ul.list_wrapper li {
        /*display: inline-block;*/
        float: left;
        list-style: none;
        /*width: 8.09%;*/
        width: 10%;
        color: #000;
        font-size: 12px;
        line-height: 3em;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
    }
    
    .dragdealer_notary {
        position: relative;
        height: 30px;
        background: #f2f2f2;
    }

    .dragdealer_notary .red-bar {
        width: 40px;
        height: 40px!important;
        background: #ffdc0e;
        color: #000;
        font-size: 12px;
        line-height: 30px;
        text-align: center;
    }
    #notary-slider .value {
      padding: 0 0 0 0px;
      font-size: 16px;
      font-weight: bold;
    }

    .copies_slot {
        height: 30px;
        background: #f2f2f2;
        position: relative;
        width: 100%;
        margin-bottom: 2%;
    }

    div#proRangeSlider {
        margin-bottom: 0% !important;
    }
}

@media all and (max-width: 480px) {
    .franking ul.list_wrapper li {
        font-size: 12px;
        line-height: 3em !important;
    }
}