body{
    // background-color: #f2f2f2 !important;
    font-family: "PFBeauSansPro"  !important;
}

.navbar_other{

}
a{
    text-decoration: none;
}

nav.navbar.navbar-default.nav_home {
    background: #fff !important;
    box-shadow: none !important;
}

nav.navbar.navbar-default.nav_home {
    /*border-bottom: 1px solid #000;*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    color: #000;
    // padding-left: 20%;
    // padding-right: 20%;
    height: 80px;
    box-shadow: 0 3px 6px rgba(162, 162, 162, 0.07), 0 3px 6px rgba(167, 167, 167, 0.27) !important;
    margin-bottom: 0 !important;
}

.collapse.navbar-collapse.navbar-ex1-collapse.nav_links {
    width: 70%;
    margin: 0 auto;
}

ul.nav.navbar-nav.navbar-right.nav_right {
    margin-top: 0%;
}

.track_icon{
    background-image: image-url("new_images/header_icons/tracking.png");
    width: 31px;
    height: 31px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 7px;
}

.track_icon:hover{
    background-image: image-url("new_images/header_icons/tracking_blue.png");
    width: 31px;
    height: 31px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 7px;
}

.order_icon{
    background-image: image-url("new_images/header_icons/order.png");
    width: 31px;
    height: 31px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 7px;
}

.order_icon:hover{
    background-image: image-url("new_images/header_icons/order_blue.png");
    width: 31px;
    height: 31px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 7px;
}

.wallet_icon{
    background-image: image-url("new_images/header_icons/wallet.png");
    width: 31px;
    height: 31px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 7px;
}

.wallet_icon:hover{
    background-image: image-url("new_images/header_icons/wallet_blue.png");
    width: 31px;
    height: 31px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 7px;
}

.vault_icon{
    background-image: image-url("new_images/header_icons/vault.png");
    width: 31px;
    height: 31px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 7px;
}

.vault_icon:hover{
    background-image: image-url("new_images/header_icons/vault_blue.png");
    width: 31px;
    height: 31px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 7px;
}

.account_icon{
    background-image: image-url("new_images/header_icons/account.png");
    width: 31px;
    height: 31px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 7px;
}

.account_icon:hover{
    background-image: image-url("new_images/header_icons/account_blue.png");
    width: 31px;
    height: 31px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 7px;
}

img.logo_nav {
    margin-top: -8%;
    margin-left: -18%;
    width: 70px;
}

.nav_right li a img {
    margin-top: -17%;
}

.footer {
    background-color: #333;
    height: 50px;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 1%;
    // font-weight: bold;
    z-index: 1;
}
ul.list_left {
    margin-left: -2%;
}

ul.list_left li {
    display: inline-block;
    list-style: none;
    padding-left: 10px;
    cursor: pointer;
    color: #fff;
}

ul.list-right {
    position: absolute;
    right: 3%;
    cursor: pointer;
}

ul.list-right li {
    display: inline-block;
    padding-left: 10px;
    color: #fff;
}

.nav_right li a:hover {
    color: #2BB0E3 !important;
    background-color: transparent;
}

.box_wrap {
    padding-top: 10%;
}

.section_padd {
    width: 70%;
    min-height: 680px;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 468px;
}


nav.navbar.navbar-default.nav_homes.home_header {
    background: #fff !important;
    // border: 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    // width: 61.6% !important;
    margin: 0 auto !important;
    box-shadow: 0 3px 6px rgba(162, 162, 162, 0.07), 0 3px 6px rgba(167, 167, 167, 0.27) !important;
    position: relative;
    z-index: 1;
}


.home_header{
    .section_padd{
        /*padding-left: 20%;
        padding-right: 20%;*/
        width: 61.6%;
        min-width: 800px;
        padding-bottom: 4% !important;
    }

    img.header_img {
        margin-left: -20%;
        width: 85%;
        top: -7px;
        position: relative;
    }
    
    nav.navbar.navbar-default.nav_homes {
        background: #fff !important;
        box-shadow: none !important;
    }

    nav.navbar.navbar-default.nav_homes {
        background-color: #fff;
        height: 145px;
        /*border-bottom: 1px solid #000;*/
    }

    .collapse.navbar-collapse.navbar-ex1-collapse.nav_links {
        // border-bottom: 1px solid #000;
        // margin-top: 1%;
        // background: #f2f2f2 !important;
        // height: 145px !important;
        // border-bottom: 1px solid #000;
        margin-top: 1%;
        background: #fff !important;
        width: 58% !important;
        margin: 0 auto;
    }

    // ul.nav.navbar-nav.nav_left {
    //     position: relative;
    //     left: -4%;
    //     top: 50px;
    // }

    ul.nav.navbar-nav.nav_left h4 {
        color: #000;
        left: 10%;
        position: absolute;
        top: -40%;
    }
    
    span.icon_wrap {
        height: 30px;
        width: 180px;
        display: inline-block;
        margin-top: 9%;
        text-align: center;
    }

    img.googleplay {
        width: 40%;
    }

    img.appstore {
        width: 40%;
    }
    
    .nav > li > a > img {
        max-width: none;
    }

    ul.nav.navbar-nav.navbar-right.nav_right {
        color: #000;
        margin-top: 4.5%;
        font-size: 16px;
        display: inline-block;
        height: 4.9em;
    }

    .nav_right li {
        display: inline-block;
    }

    .nav_right li a {
        display: inline-block;
        margin-top: -14px;
        font-size: 1vw;
    }
    
    .nav_right li a:hover {
        color: #2BB0E3 !important;
        background-color: transparent;
    }


    ul.nav.navbar-nav.navbar-right.nav_right li img {
        display: inline-block;
        margin-top: -16%;
    }

    .footer {
        background: #333;
        width: 100%;
        position: fixed;
        bottom: 0;
        color: #fff;
        padding: 16px 12px;
        height: 50px;
        font-weight: 600;
    }

    ul.list_left li {
        list-style: none;
        display: inline-block;
        padding-left: 10px;
        cursor: pointer;
        color: #fff;
    }

    ul.list-right li {
        display: inline-block;
        padding-left: 10px;
        list-style: none;
        cursor: pointer;
        color: #fff;
    }

    ul.list-right {
        position: absolute;
        right: 3%;
    }

    ul.list_left {
        margin-left: -9%;
    }

}


#loginmodal {
    background: rgba(0, 0, 0, 0.81);
    .modal-body {
        padding-left: 15px;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 15px;
    }

    .logo_bg {
        background: #f2f2f2;
        padding-left: 16px;
        height: 518px;
    }

    .modal-content.login_content {
        margin: 0% auto;
        width: 640px;
        // height: 520px;
        position: relative;
        
    }

    button.btn.btn-secondary.close_btn {
        color: #FFFFFF !important;
        font-size: 40px;
        position: absolute;
        left: 100%;
        top: -10px;
        padding: 2px 2px 6px 12px;
        cursor: pointer;
        -webkit-transition: .2s ease-in color;
        -o-transition: .2s ease-in color;
        transition: .2s ease-in color;
        width: 9%;
    }

    img.modal_logo {
        width: 154px;
        margin: 14% auto;
        display: block;
    }

    h4.main_txt {
        margin-top: 30%;
        font-weight: bold;
    }

    hr.modal_hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #0A0A0A;
    }
    
    ul.list_wrap {
        margin-top: 14%;
    }

    ul.list_wrap li {
        font-size: 16px;
        margin-bottom: 3%;
        overflow: hidden;
    }
    
    i.fa.fa-circle {
        font-size: 9px;
        position: relative;
        top: -2px;
    }

    form.login_form {
        width: 92%;
        margin: 14% auto 0;
    }

    input.input_style {
        border: 1px solid #000;
        padding: 6px 12px;
        width: 100%;
        margin: 0 auto;
        height: 50px;
        font-size: 16px;
        display: block;
    }

    .form-group {
        margin-bottom: 0;
    }
    
    .login_form h4 {
        color: grey;
    }
    button.btn.btn-default.otp_btn {
        padding: 6px 12px;
        width: 100%;
        height: 50px;
        font-size: 16px;
        border-radius: 0;
        background: #f9a21e;
        border: 0;
        color: #fff;
    }

    .otp_wrap {
        border: 6px solid grey;
        padding: 6%;
        margin-top: 6%;
    }

    input[type="submit"] {
        border: 0;
        width: 100%;
        margin: 5% auto;
        height: 50px;
        font-size: 16px;
        background: #ed1c24;
        color: #FFF;
        font-weight: bold;
        display: block;
    }

    p {
        font-size: 13px;
    }

    p.login_hint {
        text-align: center;
    }
     
    span.color_txt {
        color: #ed1c24;
        cursor: pointer;
    }  

    span.color_txt:hover {
        color: #ed1c24;
        cursor: pointer;
        text-decoration: underline;
    } 

    .btn_wrap {
        position: relative;
        width: 100%;
        top: 170px;
    }
    button.btn.btn-default.login {
        border: 1px solid #f9a21c;
        width: 24%;
        border-radius: 0;
        font-size: 14px;
        color: #f9a21c;
        font-weight: bold;
        float: right;
    }

    button.btn.btn-default.login:hover {
        background: #f9a21c;
        color: #fff;
        font-weight: bold;
    }

    button.btn.btn-default.signup {
        border: 1px solid #f9a21c;
        width: 24%;
        border-radius: 0;
        font-size: 14px;
        color: #f9a21c;
        font-weight: bold;
        float: right;
    }

    button.btn.btn-default.signup:hover {
        background: #f9a21c;
        color: #fff;
        font-weight: bold;
    }

    img.arrow_img {
        cursor: pointer;
    }

    form.signup_form {
        width: 92%;
        margin: 14% auto;
    }

    input.input_styles {
        border: 1px solid #000;
        padding: 6px 12px;
        width: 100%;
        margin: 0 auto 4%;
        height: 50px;
        font-size: 16px;
        display: block;
    }

    input#code {
        border: 1px solid #000;
        height: 50px;
        padding: 6px 8px;
    }

    img.arrow_signup {
        cursor: pointer;
    }
    
    .signup_txt {
        position: fixed;
        bottom: 16%;
        width: 27%;
        text-align: center;
    }

    hr.signup_hr {
        border-top: 1px solid #000;
    }

    span.signup {
        color: #ed1c24;
        font-weight: bold;
        cursor: pointer;
    }

    .logon_txt {
        position: fixed;
        bottom: 16%;
        width: 25%;
        text-align: center;
    }
    
    hr.logon_hr {
        border-top: 1px solid #000;
    }
    
    span.login {
        color: #ed1c24;
        font-weight: bold;
        cursor: pointer;
    }

    .vertical-alignment-helper {
        display:table;
        height: 100%;
        width: 100%;
    }
    .vertical-align-center {
        /* To center vertically */
        display: table-cell;
        vertical-align: middle;
    }
}


#trackModal {
    background: rgba(0, 0, 0, 0.81);
    
    button.btn.btn-secondary.close_btn {
        color: #FFFFFF !important;
        font-size: 40px;
        position: absolute;
        left: 100%;
        top: -10px;
        padding: 2px 2px 6px 12px;
        cursor: pointer;
        -webkit-transition: .2s ease-in color;
        -o-transition: .2s ease-in color;
        transition: .2s ease-in color;
        width: 9%;
    }

    .vertical-alignment-helper {
        display:table;
        height: 100%;
        width: 100%;
    }
    .vertical-align-center {
        /* To center vertically */
        display: table-cell;
        vertical-align: middle;
    }

    .modal-content.track_body {
        width: 30%;
        margin: 0 auto;
    }

    h4{
        font-weight: bold;
    }

    input.order_style {
        width: 96%;
        height: 40px;
        padding: 6px 12px;
        border: 1px solid #000;
        float: left;
        margin-bottom: 30px;
    }

    button.btn.btn-default.go-btn {
        border: 0;
        background: #ED1C24;
        color: #fff;
        width: 100%;
        border-radius: 0;
        height: 40px;
        margin: 0;
    }

    .modal-body.track_modal {
        padding: 4%;
    }

    form {
        padding: 4%;
    }

    p.cust_txt {
        color: #1d1d1d;
        font-weight: bold;
        margin-bottom: 0;
    }

    span.cust_para {
        font-size: 10px;
    }
}

.order_status {
    width: 94%;
    margin: 0 auto 0;
    background: #f2f2f2;
    padding-top: 2%;

    ul.img_wrap li {
        float: left;
        height: 50px;
        font-size: 12px;

    }

    .vertical2 {
        transform: rotate(90deg);
        margin-top: 21%;
        width: 60%;
        border: 0;
        border-top: 1px solid #989797;
        margin-left: 38%;
        margin-bottom: 20%;
    }
}

.text_wrap.text-center {
    position: relative;
    background: #000000;
    padding: 1px;
    color: white;
    .close {
        font-size: 20px;
        color: #3A3A3A;
        position: relative;
        opacity: 1;
        /* z-index: 19; */
        top: -30px;
        right: 20px;
        width: 2%;
    }

    // button.btn.btn-default.close:hover {
    //     color: #ED1C24;
    // }
    h5 {
        font-weight: bold;
    }
}
/**************************** MEDIA QUERY STARTS **********************************/

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
        .footer {
            height: 80px;
        }
        ul.list-right {
            position: absolute;
            right: 5%;
            cursor: pointer;
            bottom: 25px;
        }
        #loginmodal .logo_bg {
            height: auto;
            margin-top: -14%;
        }

        #loginmodal h4.main_txt {
            margin-top: 0;
        }

        #loginmodal form.login_form {
            margin: 6% auto 0;
        }

        #loginmodal form.login_form {
            width: 100%;
        }

        #loginmodal img.modal_logo {
            padding-top: 2%;
        }

        #loginmodal ul.list_wrap {
            margin-top: 0;
            padding: 2%;
        }

        .login_wrap {
            padding-bottom: 12%;
        }

        .signup_wrap {
            margin-top: -8%;
        }

        #loginmodal .signup_txt {
            bottom: 2%;
            left: 22%;
        }


    }  

    @media all and (max-width: 480px) {

        .footer {
            height: 120px;
        }
        ul.list_left {
            margin-left: -4%;
            margin-top: 8px;
        }
        ul.list-right {
            position: absolute;
            left: 0;
            cursor: pointer;
            bottom: 63px;
        }
        .section_padd {
            min-width: 400px;
            margin-top: 50px;
            margin-bottom: 100px;
        }

        .footer p.text-center {
            position: relative;
            top: -11px;
            left: -4px;
            text-align: left;
        }
        .text-center {
            text-align: center;
            margin-top: 50px;
        }
        // .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        //     background-color: #e6e6e6;
        //     margin-top: 30px;
        //     width: 100%;
        // }

        .home_header .collapse.navbar-collapse.navbar-ex1-collapse.nav_links {
            border-bottom: 1px solid #000;
            margin-top: 27%;
            background: #F2F2F2 !important;
            position: absolute;
            z-index: 1;
        }
        nav.navbar.navbar-default.nav_home {
            border-bottom: 1px solid #000;
            padding-left: 10%;
            padding-right: 0%;
            height: 80px;
        }

        .navbar-toggle {
            background-color: #000;
        }

        .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
            background-color: #000;
        }

        .home_header ul.nav.navbar-nav.nav_left {
            position: relative;
            left: -4%;
            top: 50px;
            margin-bottom: 10%;
        }
    }  

    @media only screen and (min-width: 1917px) and (max-width: 1921px) {
        .box_wrap {
            padding-top: 10%;
        }

        .order_status .vertical2 {
            transform: rotate(90deg);
            margin-top: 8%;
            width: 30%;
            border: 0;
            border-top: 1px solid #989797;
            margin-left: 65%;
            margin-bottom: 10%;
        }

        #loginmodal .signup_txt {
            position: fixed;
            bottom: 27%;
            width: 18%;
            text-align: center;
        }

        #loginmodal .logon_txt {
            position: fixed;
            bottom: 27%;
            width: 18%;
            text-align: center;
        }
    }

    @media only screen and (min-width: 1370px) and (max-width: 1916px) {
        .box_wrap {
            padding-top: 10%;
        }

        .order_status .vertical2 {
            transform: rotate(90deg);
            margin-top: 8%;
            width: 30%;
            border: 0;
            border-top: 1px solid #989797;
            margin-left: 65%;
            margin-bottom: 10%;
        }

        #loginmodal .signup_txt {
            position: fixed;
            bottom: 27%;
            width: 18%;
            text-align: center;
        }

        #loginmodal .logon_txt {
            position: fixed;
            bottom: 27%;
            width: 18%;
            text-align: center;
        }
    }


@media all and (max-width: 680px){

    #trackModal .modal-content.track_body {
        width: 75%;
        margin: 0 auto;
    }
    #trackModal input.order_style {
        width: 100%;
    }
    #loginmodal .modal-content.login_content {
        margin: 0% auto;
        width: 240px;
        position: relative;
    }
    #loginmodal form.login_form {
        width: 100%;
        margin: -210px auto 0!important;
    }
    #loginmodal img.modal_logo {
        width: 100px;
        margin: 0% auto;
        display: block;
    }
    #loginmodal h4.main_txt {
        margin-top: 10%;
        font-weight: bold;
    }
    #loginmodal .signup_txt {
        position: fixed;
        bottom: -4%;
        width: 60%;
        text-align: center;
    }
    #loginmodal .logo_bg {
        background: #f2f2f2;
        padding-left: 16px;
        height: 488px;
    }

}
/**************************** MEDIA QUERY ENDS **********************************/

