.marketplaces{
	.amount_wrap input.input_style {
        height: 35px;
        width: 70%;
        padding: 2% 3%;
        background: #E6E6E6;
        border: 0;
    }
    
    .amount_wrap input.input_style:focus {
        height: 35px;
        width: 70%;
        padding: 2% 3%;
        background: #E6E6E6;
        border: 0;
    }

    ul.procedure_wrap {
    text-align: left !important;
    list-style: none;
    position: relative;
    left: -2% !important;
    }
    img {
        vertical-align: middle;
        // margin-left: 10px;
    }

    button.btn.btn-default.proceed_btn {
        margin: -3% auto !important;
    }

    div#proRangeSlider {
        margin-bottom: 0% !important;
    }
}

@media only screen and (min-width: 1917px) and (max-width: 1921px) {
    .marketplaces button.btn.btn-default.proceed_btn {
        margin: -1% auto !important;
    }
}

@media only screen and (min-width: 2008px) and (max-width: 2048px) {
    .marketplaces button.btn.btn-default.proceed_btn {
        margin: -1% auto !important;
    }
}

@media only screen and (min-width: 1370px) and (max-width: 1916px) {
    .marketplaces button.btn.btn-default.proceed_btn {
        margin: -1% auto !important;
    }
}