.download-app{
	padding-top: 8%;
	.sendlink_wrap{
		display: table;
		min-height: 750px;
	}
	.sendlink_section{
		display: table-cell;
		vertical-align: middle;
	}
	.icon_wrap img{
		width: 150px;
	}
	// .mobile-img img{
	// 	height: 500px;
	// }
	h1.sendlink-txt {
	    font-size: 30px;
	    margin: 0;
	}
	p.sendlink-txt{
		font-size: 20px;
	}
	button.sendapp-btn{
    	background: #ed1c24;
    	border: 0;
    	border-radius: 0;
    	width: 30%;
    	font-size: 20px;
    	color: #fff;
    	left: 0;
    	right: 0;
    	margin: 0% auto;
    	text-align: center;
    	height: 50px;
    	margin-left: -50px;
		}
	input.sendapp-input{
		height: 50px;
		width: 50%;
		font-size: 16px;
		padding-left: 5px;
	}
	.tab-link{
		padding-top: 30px;
	}
	.for-tabs{
		padding-bottom: 15px;
	}
	.site-nav ul{
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		padding-right: 5px;
	}
	.site-nav ul li{
		display: inline-block
	}
	.site-nav ul li a{
		text-decoration: none;
		padding: 4px 15px 0;
		line-height: 30px;
		background-color: #e6e6e6;
		color: #000;
		display: block;
		border-radius: 4px;
		margin-right: 10px;
	}
	.site-nav ul li a:hover,.site-nav ul li.active a{
		background-color: #ffdc0e;
		color: #000;
	}

	@media (max-width:767px) { 
		.download-app h1 p{
			text-align: center;
		}
		button.sendapp-btn{
			width:45%;
		}
		input.sendapp-input{
			
			width: 60%;
			font-size: 12px;
		}
	}
	@media (max-height: 600px){
		.mobile-img img{
			height: 450px;
		}
	}
}

@media (max-width:767px) { 
	.download-app {
		padding-top: 30%
	}
}
@media (min-width:768px) and (max-width: 980px) { 
	.download-app {
		padding-top: 15%
	}
}