.notary{
    padding-bottom: 9% !important;
    .radio-toolbar {
        background: transparent;
        height: 35px;
        width: 95%;
        margin: 4% auto 2%;
    }

    .radio-toolbar input[type="radio"] {
        display:none; 
    }

    .radio-toolbar label {
        display:inline-block;
        background-color:#f2f2f2;
        padding:6px 10.5px;
        font-size:20px;
        cursor: pointer;
    }

    .radio-toolbar input[type="radio"]:checked + label { 
        background-color:#fddc0e;
        cursor: pointer;
        height: 30px;
    }

    .radio-toolbar label {
        height: 30px;
        font-size: 14px !important;
        font-weight: normal;
    }

    ul.list_wrapper li {
        // display: inline-block;
        float: left;
        list-style: none;
        /* width: 8.09%; */
        width: 10%;
        color: #000;
        /* font-size: 1vw; */
        line-height: 2.2em;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
    }

    #notary-slider .handle {
        height: 40px;
        line-height: 3.4em;
        border-radius: 0px;
        cursor: pointer;
        position: absolute;
        top: -16%;
    }

    .dragdealer_notary {
        position: relative;
        height: 30px;
        background: #f2f2f2;
    }

    .dragdealer_notary .red-bar {
        width: 40px;
        height: 40px!important;
        background: #ffdc0e;
        color: #000;
        font-size: 12px;
        line-height: 30px;
        text-align: center;
    }
    #notary-slider .value {
      padding: 0 0 0 0px;
      font-size: 14px;
      font-weight: bold;
    }

    .copies_slot {
        height: 30px;
        background: #f2f2f2;
        position: relative;
        width: 100%;
        margin-bottom: 2%;
    }
    
    // ul.procedure_wrap {
    //     text-align: left !important;
    //     list-style: none;
    //     position: relative;
    //     left: -2% !important;
    // }
    img {
        vertical-align: middle;
        // margin-left: 10px;
    }

    button.btn.btn-default.proceed_btn {
        margin: -3% auto !important;
    }

    div#proRangeSlider {
        margin-bottom: 0% !important;
    }
}

/**************************** MEDIA QUERY STARTS **********************************/
    @media all and (max-width: 480px) {
        ul.list_wrapper li {
            line-height: 6.2em !important;
        }
    }
    
    @media only screen and (min-width: 1917px) and (max-width: 1921px) {
        .notary .radio-toolbar label {
            // font-size: 0.8vw !important;
        }

        .notary button.btn.btn-default.proceed_btn {
            margin: -1% auto !important;
        }
        
        .notary {
            padding-bottom: 12% !important;
        }
    }

    @media only screen and (min-width: 2008px) and (max-width: 2048px) {
        .notary .radio-toolbar label {
            // font-size: 0.8vw !important;
        }

        .notary button.btn.btn-default.proceed_btn {
            margin: -1% auto !important;
        }

        .notary {
            padding-bottom: 12% !important;
        }
    }

    @media only screen and (min-width: 1370px) and (max-width: 1916px) {
        .notary .radio-toolbar label {
            // font-size: 0.8vw !important;
        }

        .notary button.btn.btn-default.proceed_btn {
            margin: -1% auto !important;
        }

        .notary {
            padding-bottom: 12% !important;
        }
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
        .notary {
            padding-bottom: 14% !important;
        }
    }
/**************************** MEDIA QUERY ENDS **********************************/
