.order_summary{
    padding-bottom: 5%;
    margin: 0px auto;
    .box_wrap {
        margin-top: 5%;
    }

    /*.icon_wrap {
        border: 1px solid #36b3b3;
        margin: 0 auto;
        height: 200px;
        background-color: #36b3b3;
    }*/

    img.icon_image {
        width: 100%;
        display: block;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    }

    h4.product_head {
        color: #757575;
        font-weight: bold;
        font-size: 16px;
    }

    .product_subhead {
        color: #000000;
        font-size: 14px;
        text-align: justify;
        line-height: 1.24;
        // font-weight: bold;
    }
    h1.product_subhead{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    span.price_hint {
        font-size: 12px;
    }

    ul.checklist_wrap {
        list-style: none;
        display: inline-block;
        position: relative;
        left: -14%;
    }

    .section_one {
        background: #fff;
        /*min-width: 465px;*/
        padding: 2% 10% 2% 10%;
        margin-top: 2%;
        text-align: center;
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.1);
    }

    h4.questions_heading {
        text-align: center;
        font-weight: bolder;
        font-size: 16px;
    }

    p.hint_txt {
        text-align: left;
        font-size: 8px;
        width: 70%;
        margin: 1% auto;
        font-weight: bold;
    }

    // input.input_style {
    //     height: 40px;
    //     width: 65%;
    // }

    // .amount_wrap {
    //     position: relative;
    // }

    span.rupee_icon {
        color: #fff;
        background: #000;
        position: absolute;
        font-size: 1.28vw;
        height: 35px;
        width: 40px;
        padding: 2%;
        cursor: pointer;
        // left: 15%;
    }   

    input.input_style {
        height: 35px;
        width: 70%;
        padding: 4px 5px 4px 44px;
        background: #E6E6E6;
        border: 0;
        font-size: 14px;
    }

    input.input_style:focus {
        height: 35px;
        width: 70%;
        padding: 4px 5px 4px 44px;
        background: #E6E6E6 !important;
        border: 0 !important;
    }

    ul.checklist_wrap li {
        width: 45%;
        border: 1px solid rgba(77, 77, 77, 0.5);
        padding: 2%;
        text-align: center;
        display: inline-block;
        font-size: 17px;
        font-weight: bold;
        border-radius: 6px;
        margin-bottom: 4%;
        margin-left: 4%;
    }

    ul.procedure_wrap {
        text-align: center;
        list-style: none;
        position: relative;
        left: -10%;
    }

    ul.procedure_wrap li {
        // display: inline-block;
        float: left;
        width: 33%;
        text-align: center;
    }

    ul.procedure_wrap li p {
        // font-size: 16px;
        color: #000;
        font-size: 12px;
        // font-weight: bold;
    }

    hr.product_hr {
        margin-top: 1%;
        margin-bottom: 1%;
        border: 0;
        border-top: 1px solid rgba(77, 77, 77, 0.5);
        width: 100%;
        margin-left: 0%;
    }

    hr.price_hr {
        margin-top: 1%;
        margin-bottom: 3%;
        border: 0;
        border-top: 1px solid rgba(77, 77, 77, 0.5);
        width: 100%;
        margin-left: 0%;
    }

    hr.procedure_hr {
        margin-top: 0%;
        margin-bottom: 1%;
        border: 0;
        border-top: 1px solid rgba(77, 77, 77, 0.5);
        width: 100%;
        margin-left: 0%;
    }

    hr.offers_hr {
        margin-top: 1%;
        margin-bottom: 1%;
        border: 0;
        border-top: 1px solid rgba(77, 77, 77, 0.5);
        width: 91%;
        margin-left: 0%;
    }

    hr.checklist_hr {
        margin-top: 0%;
        margin-bottom: 3%;
        border: 0;
        border-top: 1px solid rgba(77, 77, 77, 0.5);
        width: 100%;
        margin-left: 0%;
    }

    .section_two {
        background: #fff;
        /*min-width: 350px;*/
        padding: 2% 4% 2% 4%;
        margin-top: 2%;
        text-align: center;
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.1);
    }

    .section_three {
        background: #fff;
        /*min-width: 465px*/;
        padding: 2% 4% 2% 4%;
        margin-top: 2%;
        text-align: center;
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.1);
        position: relative;
    }

    ul.number_copies {
        list-style: none;
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    ul.number_copies li {
        display: inline-block;
        width: 8%;
        /*background-color: #ffdc0e !important;*/
        position: relative;
        position: relative;
        height: 40px;
        background: #f2f2f2;
        left: -5%;
        font-size: 16px;
        z-index: 1;
    }

    // .radio-toolbar {
    //     background: #f2f2f2;
    //     height: 45px;
    //     width: 95%;
    //     margin: 4% auto 12%;
    // }

    // .radio-toolbar input[type="radio"] {
    //     display:none; 
    // }

    // .radio-toolbar label {
    //     display:inline-block;
    //     background-color:#f2f2f2;
    //     padding:6px 10.5px;
    //     font-size:20px;
    //     cursor: pointer;
    // }

    // .radio-toolbar input[type="radio"]:checked + label { 
    //     background-color:#fddc0e;
    //     cursor: pointer;
    //     height: 45px;
    // }


    .radio-toolbars {
        // background: #f2f2f2;
        /*height: 45px;
        width: 85%;*/
        margin: 0 auto 3%;
        height: 67px;
    }

    .radio-toolbars input[type="radio"] {
        display:none; 
    }

    .radio-toolbars label {
        display:inline-block;
        background-color:#f2f2f2;
        padding:4px 10px;
        font-size:20px;
        cursor: pointer;
        height: 86px;
        width: 100%;
    }

    .radio-toolbars input[type="radio"]:checked + label { 
        background-color:#fddc0e;
        cursor: pointer;
        height: 86px;
        width: 100%;
    }

    span.angle_style {
        font-size: 50px;
        position: relative;
        top: -20px;
        cursor: pointer;
        color: rgba(77, 77, 77, 0.47);
    }

    /********* Time Slot Slider CSS Starts ************/

    input[type="range"] {
        display: block;
        width: 78%;
        margin: 5% 21%;
        height: 25px;
        background: #f2f2f2;
        -webkit-appearance: none;
        -moz-appearance: none;
        zoom: 130%;
        cursor: pointer;
    }

    input#points::-webkit-slider-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
         width: 60px;
         height: 40px !important;
         background: #fddc0e;
         position: relative;
         z-index: 3;
    }

    input#points::-moz-slider-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
         width: 60px;
         height: 40px !important;
         background: #fddc0e;
         position: relative;
         z-index: 3;
    }

    input#points::-webkit-slider-thumb:after {
        content: " ";
        width: 160px;
        height: 40px !important;
        position: absolute;
        z-index: 1;
        right: 20px;
        top: 5px;
        background: #fddc0e;
    }

    input#points::-moz-slider-thumb:after {
        content: " ";
        width: 160px;
        height: 40px !important;
        position: absolute;
        z-index: 1;
        right: 20px;
        top: 5px;
        background: #fddc0e;
    }


    /*#proRangeSlider {
        border: none;
        padding: 0;
        position: relative;
    }*/

    span.timing_txt {
        position: absolute;
        left: 5%;
        font-size: 16px;
        color: #000;
        font-weight: bold;
    }

    /*input.slider {
      -webkit-appearance: none;
        width: 80%;
        height: 35px;*/
        /* margin: 10px 50px; */
        /*background: #f2f2f2;
        background-size: 150px 10px;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        outline: none;
        zoom: 130%;
        display: block;
        margin: 0 20%;*/
        /* margin-bottom: 30px; */
        /*cursor: pointer;
    }*/

    /*input.slider::-webkit-slider-thumb {
        -webkit-appearance: none;
     width: 60px;
     height: 80px !important;
     background: #fddc0e;
     position: relative;
     z-index: 3;
    }

    input.slider::-webkit-slider-thumb:after {
     content: " ";
     width: 160px;
     height: 50px !important;
     position: absolute;
     z-index: 1;
     right: 20px;
     top: 5px;
     background: #fddc0e;
    }

    .green::-webkit-slider-thumb {
     background: #fddc0e;
    }

    .green::-webkit-slider-thumb:after {
     background: #fddc0e;
    }*/


    ul.time_slot {
        list-style: none;
        display: inline-block;
        font-weight: bold;
        padding-left: 8%;
        position: relative;
        top: -11px;
        margin-left: 16%;
        font-size: 10px;
        width: 87%;
    }



    ul.time_slot li {
        display: inline-block;
        padding-left: 0;
        width: 24%;
        color: #757575;
    }

    /********* Time Slot Slideer CSS Ends ************/ 

    button.btn.btn-default.proceed_btn {
        // background: #ed1c24;
        // border: 0;
        // border-radius: 0;
        // width: 85%;
        // font-size: 30px;
        // color: #fff;
        // position: absolute;
        // left: 0;
        // right: 0;
        // margin: -3% auto;
        // text-align: center;
        background: #ed1c24;
        border: 0;
        border-radius: 0;
        width: 60%;
        font-size: 20px;
        color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        margin: -6% auto;
        text-align: center;
        height: 35px;
    }

    button.btn.btn-default.proceed_btn:hover {
        background: #ed1c24;
    }


    .details_wrap {
        padding-right: 2%;
        padding-left: 2%;
    }
    
    div#proRangeSlider {
        margin-bottom: -5%;
    }

    .radio_oneimg {
        position: relative;
        float: left;
        width: 32%;
        padding-left: 10px;
    }
    
    .radio_oneimg img {
        width: 25%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 5% auto;
    }

    .radio-toolbars p {
        margin: 72px 0 0px;
    }

    .radio_oneimg p {
        font-size: 12px;
        position: relative;
        text-align: center;
        bottom: 10px;
    }

    hr.summary_hr {
        border: 0;
        border-top: 1px solid rgba(77, 77, 77, 0.5);
        margin: 0;
    }

    h4.main_head {
        color: #757575;
        font-weight: bold;
        font-size: 16px;
    }

    h4.sub_head {
        color: #000000;
        font-weight: bold;
        font-size: 14px;
    }

    span.price_hint {
        font-size: 10px;
        font-weight: normal;
    }

    .contact_details {
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.1);
        background: #fff;
    }

    .payment_details {
        padding: 3%;
    }

    .payment_details p {
        padding: 4% 0% 1%;
        color: #0C0C0C;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .input_name {
        height: 35px;
        width: 100%;
        padding: 2% 2%;
        /* background: #f2f2f2; */
        border: 1px solid rgba(77, 77, 77, 0.62);
        font-size: 14px;
        margin-bottom: 2%;
    }

    .terms_wrap {
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.1);
        width: 100%;
        margin: 3% auto;
        background: #fff;
    }

    span.chk_hint {
        font-size: 14px;
    }

    button.btn.btn-primary.pay_btn {
        background: #ed1c24;
        color: #fff;
        font-size: 20px;
        width: 30%;
        margin: 0 auto;
        display: block;
        border-radius: 0;
        border: 0;
        float: left;
        // display: inline-block !important;
    }

    h4.sub_total {
        color: #2cb4b5;
        font-size: 16px;
        font-weight: bold;
    }

    .voucher_wrap {
        position: relative;
        background: #fff;
        margin-top: 3%;
        margin-bottom: 3%;
        padding: 4%;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
        border: 2px dashed #000;
        background-size: cover;
        background-repeat: no-repeat;
    }

    p.discount_wrap {
        color: #ed1c24;
        font-size: 16px;
        font-weight: bold;
    }

    input.input_discount {
        border: 0;
        background: #f2f2f2;
        width: 100%;
        font-size: 14px;
        height: 35px;
        padding: 6px 12px;
    }

    button.btn.apply_btn.btn-default {
        background: #F9A21E;
        color: #fff;
        font-size: 16px;
        top: -9px;
        border-radius: 0;
        border: 0;
    }

    .discount-cancel {
        background: #F9A21E;
        color: #fff;
        font-size: 16px;
        top: -9px;
        border-radius: 0;
        border: 0;
        padding: 5px;
        width: 70px;
        cursor: pointer;
    }

    button.btn.btn-default.back_btn {
        background: #ed1c24;
        border: 0;
        border-radius: 0;
        width: 30%;
        font-size: 20px;
        color: #fff;
        /* position: absolute; */
        /* left: 0; */
        /* right: 0; */
        margin: 12% 0%;
        text-align: center;
        /* height: 35px; */
        /* display: inline-block; */
        float: left;
    }

    button.btn.btn-default.back_btn:hover {
        background: #ed1c24;
    }

    .radio-toolbars.time-slot.custom_toolbar {
        width: 80%;
    }

    .radio-toolbars.time-slot.custom_toolbar .radio_oneimg {
        width: 50%;
    }

    .box_wrap {
        padding-top: 7%;
    }

    .control-group {
      display: inline-block;
      // vertical-align: top;
      // background: #fff;
      // text-align: left;
      // box-shadow: 0 1px 2px rgba(0,0,0,0.1);
      // padding: 30px;
      // width: 200px;
      // height: 210px;
      // margin: 10px;
    }
    .control {
        display: inline-block;
        position: relative;
        padding-left: 50px;
        margin-bottom: 15px;
        cursor: pointer;
        font-size: 16px;
        margin: 6px 24px;
        line-height: 2.5;
    }
    .control input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    .control__indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 30px;
        width: 30px;
        background: #e6e6e6;
    }
    .control--radio .control__indicator {
      border-radius: 0%;
    }
    .control:hover input ~ .control__indicator,
    .control input:focus ~ .control__indicator {
      background: #ccc;
    }
    .control input:checked ~ .control__indicator {
      background: #eaa500;
    }
    .control:hover input:not([disabled]):checked ~ .control__indicator,
    .control input:checked:focus ~ .control__indicator {
      background: #C36445;
    }
    .control__indicator:after {
      content: '';
      position: absolute;
      display: none;
    }
    .control input:checked ~ .control__indicator:after {
      display: block;
    }

    .control--radio .control__indicator:after {
        left: 0;
        top: 0; 
        height: 30px;
        width: 30px;
        border-radius: 0;
        background: #eaa500;
    }
    
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .fileUpload.btn.btn-primary {
        border: 0;
        border-radius: 0;
        // height: 40px;
        font-size: 15px;
        background: #eaa500;
        margin: 0;
    }

    input#uploadFile {
        // height: 40px;
        padding: 6px 12px;
        border: 0;
        background: #E6E6E6;
    }

    p.file_txt {
        margin: 0;
        position: relative;
        font-weight: bold;
        font-size: 10px;
    }

    // .button_wrap {
    //     width: 50%;
    //     margin: 0 auto;
    //     text-align: center;
    // }


    /**************************** MEDIA QUERY STARTS **********************************/
     @media all and (max-width: 480px) {

        .section_padd {
            width: 400px;
        }
     }
}


/**************************** MEDIA QUERY STARTS **********************************/
    @media all and (min-width: 768px) and (max-width: 1024px) {
        .navbar.navbar, .navbar-default.navbar {
            background-color: transparent !important;
        }

        .section_padd {
            padding-bottom: 12%;
        }

        ul.checklist_wrap li {
            width: 40%;
            margin-left: 8%;
        }

        // .box_wrap {
        //     margin-top: 15% !important;
        // }
        
        input.input_style {
            padding: 2% 10%;
            border: 0;
        }
        
        input.input_style:focus {
            padding: 2% 10%;
            border: 0;
        }
    }


    @media all and (min-width: 800px) and (max-width: 1280px) {  
        .section_one {
            padding: 2% 1% 2% 1%;
        }

        input.input_style {
            padding: 2% 11%;
        }

        // .radio-toolbars {
        //     height: 58px;
        // }

        // .radio-toolbars label {
        //     padding: 4px 7px;
        //     font-size: 12px;
        // }

        span.angle_style {
            font-size: 40px;
            top: -7px;
        }

        span.timing_txt {
            font-size: 15px;
        }

        input[type="range"] {
            height: 15px;
        }

        input#points::-webkit-slider-thumb {
            width: 40px;
             height: 30px !important;
        }

        input#points::-moz-slider-thumb {
            width: 40px;
             height: 30px !important;
        }

        input#points::-webkit-slider-thumb:after {
            width: 40px;
            height: 30px !important;
        }

        input#points::-moz-slider-thumb:after {
            width: 40px;
            height: 30px !important;
        }

        ul.time_slot {
            font-size: 10px;
        }

        // .radio-toolbar label {
        //     padding: 14px 10px;
        //     font-size: 11px;
        // }

    }

    @media all and (min-width: 900px) and (max-width: 1380px) {
        .section_one {
            padding: 2%;
        }

        input.input_style {
            padding: 2% 10%;
        }

        // .radio-toolbars {
        //     height: 70px;
        // }

        // .radio-toolbars label {
        //     padding: 4px 5px;
        //     font-size: 15px;
        // }

        span.angle_style {
            top: -10px;
        }

        span.timing_txt {
            font-size: 16px;
        }

        ul.time_slot {
            font-size: 10px;
        }

        input[type="range"] {
            height: 20px;
        }

        input#points::-webkit-slider-thumb {
            width: 40px;
             height: 30px !important;
        }

        input#points::-moz-slider-thumb {
            width: 40px;
             height: 30px !important;
        }

        input#points::-webkit-slider-thumb:after {
            width: 40px;
            height: 30px !important;
        }

        input#points::-moz-slider-thumb:after {
            width: 40px;
            height: 30px !important;
        }

        // .radio-toolbar label {
        //     padding: 12px 10px;
        //     font-size: 12px;
        // }
    }

    @media all and (min-width: 1385px) and (max-width: 1750px) {

        .radio-toolbars label {
            padding: 4px 2px;
        }

        ul.time_slot {
            font-size: 12px;
        }

        span.timing_txt {
            font-size: 16px;
        }

        .section_one {
            padding: 2%;
        }

        // .radio-toolbar label {
        //     padding: 6px 8px;
        // }

        input#points::-webkit-slider-thumb {
            width: 45px;
        }

        input#points::-moz-slider-thumb {
            width: 45px;
        }

        input#points::-webkit-slider-thumb:after {
            width: 45px;
        }

        input#points::-moz-slider-thumb:after {
            width: 45px;
        }

    }

    @media all and (max-width: 480px) {
        .order_summary {
            padding-bottom: 15%;
            padding-top: 10%;
        }

        span.rupee_icon {
            padding: 4% !important;
        }

    }

    @media only screen and (min-width: 1917px) and (max-width: 1921px) {
        .order_summary h4.product_head {
            // font-size: 1vw;
        }

        .order_summary h4.product_subhead {
            // font-size: 0.8vw;
        }

        .order_summary span.price_hint {
            // font-size: 0.6vw;
        }

        .order_summary ul.procedure_wrap li p {
            // font-size: 0.7vw;
        }

        .order_summary h4.questions_heading {
            // font-size: 1vw;
        }

        #date-slider span.value {
            // font-size: 0.8vw;
            font-weight: bold;
        }

        ul.list_date li {
            // font-size: 0.8vw;
        }

        .order_summary span.timing_txt {
            // font-size: 1vw;
        }

        ul.list_wrapper {
            // font-size: 0.8vw;
        }

        .order_summary button.btn.btn-default.proceed_btn {
            // height: 50px;
        }

        .order_summary span.rupee_icon {
            // font-size: 1vw;
        }

        .copies_slot {
            margin-bottom: 6%;
        }

        .order_summary button.btn.btn-default.proceed_btn {
            margin: -4% auto;
        }

        .order_summary input.input_style {
            padding: 6px 10px 6px 45px !important;
            // font-size: 1vw !important;
        }

        .order_summary p.hint_txt {
            font-size: 0.5vw;
        }

        .order_summary{
            padding-bottom: 12%;
        }

        .order_summary ul.time_slot {
            margin-left: 10%;
            font-size: 12px;
            // width: 87%;
        }   

        .order_summary ul.time_slot li {
            padding-left: 25px;
            // width: 24%;
        } 
    }

    @media only screen and (min-width: 2008px) and (max-width: 2048px) {
        .order_summary h4.product_head {
            // font-size: 1vw;
        }

        .order_summary h4.product_subhead {
            // font-size: 0.8vw;
        }

        .order_summary span.price_hint {
            // font-size: 0.6vw;
        }

        .order_summary ul.procedure_wrap li p {
            // font-size: 0.7vw;
        }

        .order_summary h4.questions_heading {
            // font-size: 1vw;
        }

        #date-slider span.value {
            // font-size: 0.8vw;
            font-weight: bold;
        }

        ul.list_date li {
            // font-size: 0.8vw;
        }

        .order_summary span.timing_txt {
            // font-size: 1vw;
        }

        ul.list_wrapper {
            // font-size: 0.8vw;
        }

        .order_summary button.btn.btn-default.proceed_btn {
            height: 50px;
        }

        .order_summary span.rupee_icon {
            // font-size: 1vw;
        }

        .copies_slot {
            margin-bottom: 6%;
        }

        .order_summary button.btn.btn-default.proceed_btn {
            margin: -4% auto;
        }

        .order_summary input.input_style {
            padding: 6px 10px 6px 45px !important;
            // font-size: 1vw !important;
        }

        .order_summary p.hint_txt {
            // font-size: 0.5vw;
        }
        .order_summary{
            padding-bottom: 12%;
        }

        .order_summary ul.time_slot {
            margin-left: 10%;
            font-size: 12px;
            // width: 87%;
        } 

        .order_summary ul.time_slot li {
            padding-left: 25px;
            // width: 24%;
        }
    }

    @media only screen and (min-width: 1370px) and (max-width: 1916px) {
        .order_summary h4.product_head {
            // font-size: 1vw;
        }

        .order_summary h4.product_subhead {
            // font-size: 0.8vw;
        }

        .order_summary span.price_hint {
            // font-size: 0.6vw;
        }

        .order_summary ul.procedure_wrap li p {
            // font-size: 0.7vw;
        }

        .order_summary h4.questions_heading {
            // font-size: 1vw;
        }

        #date-slider span.value {
            // font-size: 0.8vw;
            font-weight: bold;
        }

        ul.list_date li {
            // font-size: 0.8vw;
        }

        .order_summary span.timing_txt {
            // font-size: 1vw;
        }

        ul.list_wrapper {
            // font-size: 0.8vw;
        }

        .order_summary button.btn.btn-default.proceed_btn {
            height: 50px;
        }

        .order_summary span.rupee_icon {
            // font-size: 1vw;
        }

        .copies_slot {
            margin-bottom: 6%;
        }

        .order_summary button.btn.btn-default.proceed_btn {
            margin: -4% auto;
        }

        .order_summary input.input_style {
            padding: 6px 10px 6px 45px !important;
            // font-size: 1vw !important;
        }

        .order_summary p.hint_txt {
            // font-size: 0.5vw;
        }

        .order_summary{
            padding-bottom: 12%;
        }

        .order_summary ul.time_slot {
            margin-left: 10%;
            font-size: 12px;
            // width: 87%;
        } 

        .order_summary ul.time_slot li {
            padding-left: 25px;
            // width: 24%;
        }
    }

    @media all and (min-width: 1025px) and (max-width: 1480px) {
        .order_summary .radio_oneimg img {
            width: 30%;
            position: absolute;
            left: 0;
            right: 0;
            margin: 5% auto;
        }

        .order_summary .radio_oneimg p {
            font-size: 12px;
            position: relative;
            text-align: center;
            bottom: 10px;
        }

        .order_summary h4.questions_heading {
            font-size: 14px;
        }

        .order_summary .radio-toolbars input[type="radio"]:checked + label {
            height: 70px;
        }

        .order_summary .radio-toolbars label {
            height: 70px;
        }

        .order_summary .radio_oneimg p {
            font-size: 12px;
            bottom: 25px;
        }

        .order_summary button.btn.btn-default.back_btn {
            margin: 7% 0%;
        }
    }
    /**************************** MEDIA QUERY ENDS **********************************/
