.paperworks{
	padding-bottom: 9%;
	.select_wrap {
	    width: 70%;
	    margin: 0 auto;
	    background: #f2f2f2;
	    height: 35px;
	}

	select {
	    background: #f2f2f2;
	    height: 35px;
	    font-family: 'PFBeauSansPro';
	}

	select:focus {
	    background: #f2f2f2 !important;
	}

	.form-group {
	    margin-bottom: 8px;
	}

	input.input_style {
	    height: 35px;
	    width: 70%;
	    padding: 2% ;
	    background: #E6E6E6;
	    border: 0;
	}

	input.input_style:focus {
	    height: 35px;
	    width: 70%;
	    padding: 2% ;
	    background: #E6E6E6;
	    border: 0;
	}
	
 //    ul.procedure_wrap {
	//     text-align: left !important;
	//     list-style: none;
	//     position: relative;
	//     left: -2% !important;
	// }
	img {
	    vertical-align: middle;
	    // margin-left: 10px;
	}
	button.btn.btn-default.proceed_btn {
        margin: -3% auto !important;
    }

    div#proRangeSlider {
        margin-bottom: 0% !important;
    }
}

/**************************** MEDIA QUERY STARTS **********************************/
    
    @media only screen and (min-width: 1917px) and (max-width: 1921px) {
        .paperworks {
            padding-bottom: 14%;
        }

        .paperworks button.btn.btn-default.proceed_btn {
		    margin: -1% auto !important;
		}
    }  

    @media only screen and (min-width: 2008px) and (max-width: 2048px) {
        .paperworks {
            padding-bottom: 14%;
        }

        .paperworks button.btn.btn-default.proceed_btn {
		    margin: -1% auto !important;
		}
    }

    @media only screen and (min-width: 1370px) and (max-width: 1916px) {
        .paperworks {
            padding-bottom: 14%;
        }

        .paperworks button.btn.btn-default.proceed_btn {
		    margin: -1% auto !important;
		}
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
        .paperworks {
            padding-bottom: 14% !important;
        }
    }
/**************************** MEDIA QUERY ENDS **********************************/
