.partners{
  // .content_padd {
  //     text-align: center;
  //     padding: 8em 0em 0em;
  // }
  h1.partner_txt {
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: inline-block;
    padding: 2%;
    font-size: 30px;
    margin: 14% auto 0;
    width: 30%;
    display: block;
  }

  .partner_content p {
    line-height: 23px;
    color: #000;
    font-weight: 700;
  }
  .partner_content {
    padding: 2em 10em 3em 10em;
    text-align: justify;
  }

  hr.hr_style {
    margin-top: 3em;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #060606;
  }
  span.upload_style{
      left: 2.1em;
      position: absolute;
      width: 90%;
      height: 50px;
  }
  .fileUpload {
      position: relative;
      overflow: hidden;
      margin: 10px;
  }
  .fileUpload input.upload {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
  }
  .fileUpload.btn.btn-primary {
      width: 100px;
      background: #27AE60;
      font-weight: bold;
      color: white;
      border: 0 none;
      border-radius: 1px;
      cursor: pointer;
      padding: 15px 5px;
      margin: 10px 5px;
      position: relative;
      top: -5em;
      left: 15.7em;
  }
  .thanks{
    text-align: center;
  }
  i.fa.fa-check {
      display: flex;
  }
  
  .red{
    color: red;
  }
  .partners-page-container .form-style-8 {
      font-family: 'Open Sans Condensed', arial, sans;
      width: 500px;
      padding: 30px;
      background: #FFFFFF;
      margin: 0;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
      -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
      -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  }
  
  /*form styles*/
  #myform {
    width: 600px;
    margin: 50px auto;
    text-align: center;
    position: relative;
  }
  #myform fieldset {
        background: white;
        border: 0 none;
        border-radius: 0;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
        position: relative;
  }
  /*Hide all except first fieldset*/
  #myform fieldset:not(:first-of-type) {
    display: none;
  }
  /*inputs*/
  #myform input, #myform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
  }
  
  .select_append {
      // padding: 10px;
      border: 1px solid #ccc;
      border-radius: 0;
      margin-bottom: 10px;
      width: 100%;
      box-sizing: border-box;
      font-family: montserrat;
      color: #2C3E50;
      font-size: 13px;
  }
  select.select_category {
    /* border: 0; */
    font-size: 13px;
    margin: 0% auto;
    padding: 10px;
    border: 0;
    border-radius: 0;
    /* margin-bottom: 10px; */
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
    height: 40px;
  }

  select {
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 0;
      margin-bottom: 10px;
      width: 100%;
      box-sizing: border-box;
      font-family: montserrat;
      color: #2C3E50;
      font-size: 13px;
      background-color: white;
  }
  /*buttons*/
  #myform .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
  }
  #myform .action-button:hover, #myform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
  }
  /*headings*/
  .fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
  }
  .fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
  }
  /*progressbar*/
  #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
  }
  #progressbar li {
    list-style-type: none;
    color: #03112a;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    border-radius: 0;
    position: relative;
  }
  #progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #FFF;
      background: #3E5792;
    border-radius: 0;
    margin: 0 auto 5px auto;
  }
  /*progressbar connectors*/
  #progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
  }
  #progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
  }
  /*marking active/completed steps green*/
  /*The number of the step and the connector before it = green*/
  #progressbar li.active:before,  #progressbar li.active:after{
    background: #27AE60;
    color: white;
  }

  form{
        margin: 4% auto 0;
        width: 95%;
        padding-bottom: 4%;
        text-align: left;

    }
    .card{
        // padding: 3%;
        margin-bottom: 4%;
        height: 60%;
        box-shadow: none;
        background: transparent;
    }

    button.btn.btn-primary.next_form {
        width: 20%;
        margin: 0 auto;
        display: block;
    }

    .btn_block {
        text-align: center;
    }

    button.btn.btn-primary.previous_btn {
        width: 20%;
        margin: 0 auto;
    }

    button.btn.btn-primary.next_btn {
        width: 20%;
        margin: 0 auto;
    }

    button.btn.btn-primary.previous_frm {
        width: 20%;
        margin: 0 auto;
    }

    button.btn.btn-primary.submit_btn {
        width: 20%;
        margin: 0 auto;
    }
    select#input {
        width: 15%;
    }

    #errmsg
    {
    color: red;
    }
    // select#mySelect {
    //     width: 10%;
    // }
    button.btn.btn-primary.next_form.input {
        margin-top: 2%;
    }
    // .row {
    //     width: 116%;
    // }
    .btn_block {
        margin-top: 3%;
    }

    input.input_control {
        width: 100%;
        height: 40px;
        padding: 6px 12px;
        font-size: 14px;
        border: 1px solid rgba(0, 0, 0, 0.48);
    }

    select#mySelect {
        width: 15%;
        border: 0;
        padding: 0;
        margin: 0;
        height: 100%;
    }

    span.select_wrap {
        height: 45px;
        background: #fff;
        border-radius: 0;
        border: 1px solid rgba(0, 0, 0, 0.48);
        width: 15%;
        padding: 6px 12px;
    }

    .checkbox label {
        min-height: 20px;
        padding-left: 20px;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
        font-size: 11.5px;
    }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
   {
   	.content_padd {
	    text-align: center;
	    padding: 5em 25em 2em;
	}
}
@media all and (max-width: 480px) {

	h1.partner_txt  {
	    font-size: 18px!important;
	  
	}
    .content_padd {
        text-align: center;
        width: 364px;
    }
	#myform fieldset {
	    background: #FFF none repeat scroll 0% 0%;
	    border: 0px none;
	    border-radius: 0px;
	    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
	    box-sizing: border-box;
	    width: 100%;
	    margin: 0px auto;
	    position: relative;
	    padding: 20px;
  	}
	 #myform {
	    width: 293px;
		text-align: center;
		position: relative;
		float: left;
	}
	 #myform input, #myform textarea {
	    border: 1px solid #CCC;
	    border-radius: 0px;
	    margin-bottom: 10px;
	    width: 100%;
	    box-sizing: border-box;
	    font-family: montserrat;
	    color: #2C3E50;
	    font-size: 13px;
	    height: 48px!important;
	    padding: 6px;
	}
	.fileUpload.btn.btn-primary {
		width: 70px!important;
	    padding: 13px 5px !important;
	    margin: 13px 10px !important;
	    position: relative;
	    top: -5em;
	    left: 6.7em !important;
	}
	span.upload_style{
	    left: 20px;
		position: absolute;
		width: 86%;
		height: 50px;
	}
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .partners h1.partner_txt {
      padding: 6%;
      width: 70%;
  }

  .partners button.btn.btn-primary.previous_btn {
      width: 30%;
  }

  .partners button.btn.btn-primary.next_btn {
      width: 30%;
  }

  .partners button.btn.btn-primary.previous_frm {
      width: 30%;
  }

  .partners button.btn.btn-primary.submit_btn {
      width: 30%;
  }

  .partners button.btn.btn-primary.next_form {
      width: 30%;
  }
}