.payments{
    padding-bottom: 6%;
    .payment_details {
        padding: 3%;
    }

    .input_name {
        height: 35px;
        width: 100%;
        padding: 2% 2%;
        /* background: #f2f2f2; */
        border: 1px solid rgba(77, 77, 77, 0.62);
        font-size: 14px;
        margin-bottom: 2%;
    }

    .details_wrap {
        padding-right: 30%;
    }


    button.btn.btn-primary.info_btn {
        width: 60%;
        height: 40px;
        margin-top: 0%;
        background: #ed1c24;
        border: 0;
        color: #fff;
        font-size: 24px;
        padding: 0px;
    }

    button.btn.btn-primary.info_btn:hover {
        background: #ed1c24;
    }

    .panel-heading:active {
        background-color: #2cb45b !important;
    }

    .payment_details p {
        padding: 4% 0% 1%;
        color: #0C0C0C;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .contact_details {
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.1);
        background: #fff;
    }

    .voucher_wrap {
        position: relative;
        background: #fff;
        margin-top: 3%;
        margin-bottom: 3%;
        padding: 4%;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
        // background-image: url("../new_images/cupon_box_bg.png");
        border: 2px dashed #000;
        background-size: cover;
        background-repeat: no-repeat;
    }

    p.discount_wrap {
        color: #ed1c24;
        font-size: 16px;
        font-weight: bold;
    }

    input.input_discount {
        border: 0;
        background: #f2f2f2;
        width: 100%;
        font-size: 14px;
        height: 35px;
        padding: 6px 12px;
    }

    button.btn.apply_btn.btn-default {
        // background: #F9A21E;
        // color: #fff;
        // font-size: 25px;
        // position: absolute;
        // right: 4%;
        // top: -7px;
        // border-radius: 0;
        background: #F9A21E;
        color: #fff;
        font-size: 16px;
        top: -9px;
        border-radius: 0;
        border: 0;
    }

    button.btn.apply_btn.btn-default:hover {
        background: #F9A21E !important;
    }

    button.btn.apply_btn.btn-default:hover {
        background: #ed1c24;
        color: #fff;
    }

    button.btn.btn-default.continue_btn {
        background: #2cb4b5;
        border: 0;
        border-radius: 0;
        font-size: 25px;
        margin-left: 66%;
        margin-bottom: 5%;
        color: #fff;
        margin-top: 0%;
    }

    button.btn.btn-default.continue_btn:hover {
        background: #2cb4b5;
        border: 0;
        border-radius: 0;
        font-size: 25px;
        margin-left: 66%;
        margin-bottom: 5%;
        color: #fff;
        margin-top: 0%;
    }

    .terms_wrap {
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.1);
        // padding: 0% 4%;
        width: 100%;
        margin: 3% auto;
        background: #fff;
    }
    
    span.chk_hint {
        font-size: 14px;
    }

    h4.main_head {
        color: #757575;
        font-weight: bold;
        font-size: 16px;
    }

    h4.sub_head {
        color: #000000;
        font-weight: bold;
        font-size: 14px;
    }

    hr.summary_hr {
        // margin-top: 6%;
        // margin-bottom: 1%;
        border: 0;
        border-top: 1px solid rgba(77, 77, 77, 0.5);
        // width: 91%;
        // margin-left: 0%;
        margin: 0;
    }

    hr.price_hr {
        // margin-top: 1%;
        // margin-bottom: 1%;
        margin: 0;
        border: 0;
        border-top: 1px solid rgba(77, 77, 77, 0.5);
        // width: 91%;
        // margin-left: 0%;
    }

    span.price_hint {
        font-size: 10px;
        font-weight: normal;
    }

    hr.order_hr {
        margin-top: 1%;
        margin-bottom: 1%;
        border: 0;
        border-top: 1px solid rgba(77, 77, 77, 0.5);
        // width: 91%;
        margin-left: 0%;
    }

    button.btn.btn-primary.pay_btn {
        background: #ed1c24;
        color: #fff;
        font-size: 20px;
        width: 30%;
        margin: 0 auto;
        display: block;
        border-radius: 0;
        border: 0;
    }

    a:hover {
        text-decoration: none;
    }

    button.btn.btn-primary.pay_btn:hover {
        background: #ed1c24;
    }

    h4.sub_total {
        color: #2cb4b5;
        font-size: 16px;
        font-weight: bold;
    }

    .contact_summary {
        padding: 6% 3%;
        font-size: 20px;
        font-weight: bolder;
    }

    .contact_summary .fa:hover{
        cursor: pointer;
        color: #2cb4b5;
    }

    .contact_summary h4 {
        font-weight: bold;
    }

    #exTab1 .tab-content {
      color : white;
      background-color: #428bca;
      padding : 5px 15px;
    }

    #exTab2 h3 {
      color : white;
      background-color: #428bca;
      padding : 5px 15px;
    }

    /* remove border radius for the tab */

    #exTab1 .nav-pills > li > a {
      border-radius: 0;
    }

    /* change border radius for the tab , apply corners on top*/

    #exTab3 .nav-pills > li > a {
      border-radius: 4px 4px 0 0 ;
    }

    #exTab3 .tab-content {
      color : white;
      background-color: #428bca;
      padding : 5px 15px;
    }
    
    ul.nav.nav-pills.pills_btn li a {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
    }
    
    ul.nav.nav-pills.pills_btn li a:hover {
        color: #fff;
        font-size: 20px;
        background: #ed1c24;
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        color: #fff;
        background-color: #ed1c24;
    }

    ul.nav.nav-pills.pills_btn li {
        width: 30%;
        text-align: center;
        background: #B1B1B1;
        color: #fff;
    }

    input#code {
        height: 45px;
        padding: 7px 5px;
        /* background: #f2f2f2; */
        border: 1px solid rgba(77, 77, 77, 0.62);
        font-size: 16px;
        margin-bottom: 2%;
    }

    input#password {
        height: 45px;
        width: 100%;
        padding: 2% 2%;
        border: 1px solid rgba(77, 77, 77, 0.62);
        font-size: 16px;
        margin-bottom: 2%;
    }

    input[type="submit"] {
        background-color: #ed1c24;
        border: 0;
        font-size: 25px;
        padding: 2%;
        width: 20%;
        color: #fff;
        font-weight: bold;
        position: relative;
        left: 77%;
    }

    input.otp_style {
        height: 45px;
        width: 100%;
        padding: 2% 2%;
        border: 1px solid rgba(77, 77, 77, 0.62);
        font-size: 16px;
        margin-bottom: 2%;
    }

    button.btn.btn-default.pwd_btn {
        width: 30%;
        text-align: center;
        background: #B1B1B1;
        color: #fff;
        border-radius: 0;
        font-weight: bold;
        font-size: 15px;
        padding: 12px;
        margin-bottom: 2%;
    }

    button.btn.btn-default.otp_btn {
        width: 30%;
        text-align: center;
        background: #B1B1B1;
        color: #fff;
        border-radius: 0;
        font-weight: bold;
        font-size: 15px;
        padding: 12px;
        margin-bottom: 2%;
    }

    .discount-cancel {
        background: #F9A21E;
        color: #fff;
        font-size: 16px;
        top: -9px;
        border-radius: 0;
        border: 0;
        padding: 5px;
        width: 70px;
        cursor: pointer;
    }

    // .checkbox input[type=checkbox] {
    //     opacity: 1; 
    //     position: absolute;
    //     margin: 0;
    //     /* z-index: -1; */
    //     width: 20px;
    //     height: 20px;
    //     overflow: hidden;
    //     left: 0;
    //     pointer-events: none;
    //     margin: 0.5% 1%;
    // }
    
    .payment_summary {
        padding-right: 2%;
        padding-left: 2%;
    }

}
/**************************** MEDIA QUERY STARTS **********************************/
    @media all and (min-width: 768px) and (max-width: 1024px) {
        .payments {
            padding-bottom: 15%;
        }

        .navbar.navbar, .navbar-default.navbar {
            background-color: transparent !important;
        }

        form.payment_form {
            margin-top: 8%;
        }

        button.btn.btn-default.continue_btn {
            width: 50%;
            display: block;
            margin: 0 auto;
            margin-bottom: 5%;
        }

        button.btn.btn-default.continue_btn:hover {
            width: 50%;
            display: block;
            margin: 0 auto;
            margin-bottom: 5%;
        }

        button.btn.apply_btn.btn-default {
            position: relative;
            right: 0;
            left: 0;
            margin: 3% auto;
            display: block;
        }

        button.btn.btn-primary.proceed_btn {
            display: block;
            margin: 0 auto 5%;
        }
    }


    @media all and (min-width: 800px) and (max-width: 1280px) {
        // .section_padd {
        //     padding-bottom: 6%;
        // }

        button.btn.btn-default.continue_btn {
            margin-left: 48%;
        }

        button.btn.btn-default.continue_btn:hover {
            margin-left: 48%;
        }

        input.input_discount {
            font-size: 15px;
        }

        button.btn.btn-primary.pay_btn {
            width: 42%;
        }

    }

    @media all and (min-width: 900px) and (max-width: 1380px) {
        button.btn.btn-default.continue_btn {
            margin-left: 50%;
        }

        button.btn.btn-default.continue_btn:hover {
            margin-left: 50%;
        }

        button.btn.btn-primary.pay_btn {
            width: 40%;
        }
    }

    @media all and (min-width: 1385px) and (max-width: 1750px) {
        button.btn.btn-default.continue_btn {
            margin-left: 53%;
        }

        button.btn.btn-default.continue_btn:hover {
            margin-left: 53%;
        }

        button.btn.btn-primary.pay_btn {
            width: 40%;
        }
    }

    @media all and (max-width: 480px) {
        .payments {
            padding-bottom: 10%;
            padding-top: 10%;
        }
    }
    
    @media only screen and (min-width: 1917px) and (max-width: 1921px) {
        .payments h4.main_head {
            // font-size: 1vw;
        }

        .payments h4.sub_head {
            // font-size: 0.8vw;
        }
        
        .payments h4.sub_total {
            // font-size: 0.9vw;
        }

        .payments input.input_discount {
            // font-size: 0.8vw;
        }
        
        .payments .input_name {
            padding: 1% 2%;
            // font-size: 0.8vw;
        }

        button.btn.apply_btn.btn-default {
            // font-size: 0.8vw !important;
            height: 35px;
        }

        .payments p.discount_wrap {
            // font-size: 1vw;
        }

        .payments .payment_details p {
            // font-size: 1vw;
        }

        .payments span.chk_hint {
            // font-size: 0.8vw;
        }
        .payments{
            padding-bottom: 12%;
        }
    }

    @media only screen and (min-width: 1370px) and (max-width: 1916px) {
        .payments h4.main_head {
            // font-size: 1vw;
        }

        .payments h4.sub_head {
            // font-size: 0.8vw;
        }
        
        .payments h4.sub_total {
            // font-size: 0.9vw;
        }

        .payments input.input_discount {
            // font-size: 0.8vw;
        }
        
        .payments .input_name {
            padding: 1% 2%;
            // font-size: 0.8vw;
        }

        button.btn.apply_btn.btn-default {
            // font-size: 0.8vw !important;
            height: 35px;
        }

        .payments p.discount_wrap {
            // font-size: 1vw;
        }

        .payments .payment_details p {
            // font-size: 1vw;
        }

        .payments span.chk_hint {
            // font-size: 0.8vw;
        }
        .payments{
            padding-bottom: 12%;
        }
    }

    @media only screen and (min-width: 2008px) and (max-width: 2048px) {
        .payments h4.main_head {
            // font-size: 1vw;
        }

        .payments h4.sub_head {
            // font-size: 0.8vw;
        }
        
        .payments h4.sub_total {
            // font-size: 0.9vw;
        }

        .payments input.input_discount {
            // font-size: 0.8vw;
        }
        
        .payments .input_name {
            padding: 1% 2%;
            // font-size: 0.8vw;
        }

        button.btn.apply_btn.btn-default {
            // font-size: 0.8vw !important;
            height: 35px;
        }

        .payments p.discount_wrap {
            // font-size: 1vw;
        }

        .payments .payment_details p {
            // font-size: 1vw;
        }

        .payments span.chk_hint {
            // font-size: 0.8vw;
        }
        .payments{
            padding-bottom: 12%;
        }
    }
/**************************** MEDIA QUERY ENDS **********************************/

    
