.properties{
	input.for-down{
		margin-top: 10px;
	}

	.select_wrap {
	    width: 70%;
	    height: 35px;
	    margin: 0 auto;
	    background: #f2f2f2;
	}

	select {
	    background: #f2f2f2;
	    height: 35px;
	    font-family: 'PFBeauSansPro';
	}

	select:focus {
	    background: #f2f2f2 !important;
	}
	
 //    ul.procedure_wrap {
	//     text-align: left !important;
	//     list-style: none;
	//     position: relative;
	//     left: -2% !important;
	// }
	img {
	    vertical-align: middle;
	    // margin-left: 10px;
	}
	.section-padding{
		padding: 2% 10% 14% 10%;
	}

	.select_wrap.hidden_input {
	    margin-bottom: 12%;
	}

	input#color {
	    width: 100%;
	    height: 35px;
	    margin: 2% auto;
	    background: #f2f2f2;
	    border-radius: 0;
	    border: 0;
	    padding: 6px 12px;
	}

	input#color:focus {
	    width: 100%;
	    height: 35px;
	    margin: 2% auto;
	    background: #f2f2f2;
	    border-radius: 0;
	    border: 0;
	    padding: 6px 12px;
	}

	button.btn.btn-default.proceed_btn {
        margin: -3% auto !important;
    }

    div#proRangeSlider {
        margin-bottom: 0% !important;
    }
}

@media only screen and (min-width: 1917px) and (max-width: 1921px) {
    .properties button.btn.btn-default.proceed_btn {
        margin: -1% auto !important;
    }
}

@media only screen and (min-width: 2008px) and (max-width: 2048px) {
    .properties button.btn.btn-default.proceed_btn {
        margin: -1% auto !important;
    }
}

@media only screen and (min-width: 1370px) and (max-width: 1916px) {
    .properties button.btn.btn-default.proceed_btn {
        margin: -1% auto !important;
    }
}