.startups{
	input.input_style {
        height: 35px;
        width: 70%;
        padding: 2% 3%;
        background: #E6E6E6;
        border: 0;
    }

    input.input_style:focus {
        height: 35px;
        width: 70%;
        padding: 2% 3%;
        background: #E6E6E6;
        border: 0;
    }

    ul.list_wrapper li {
        /*display: inline-block;*/
        float: left;
        list-style: none;
        /*width: 8.09%;*/
        width: 10%;
        color: #000;
        font-size: 12px;
        line-height: 3em;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
    }

    #notary-slider .handle {
        height: 40px;
        line-height: 3em;
        border-radius: 0px;
        cursor: pointer;
        position: absolute;
        top: -16%;
        width: 30px;
        background: #FFDC0E;
    }

    .dragdealer_notary {
        position: relative;
        height: 30px;
        background: #f2f2f2;
    }

    .dragdealer_notary .red-bar {
        width: 30px !important;
        height: 40px!important;
        background: #ffdc0e !important;
        color: #000;
        font-size: 12px;
        line-height: 30px;
        text-align: center;
    }
    #notary-slider .value {
      padding: 0 0 0 0px;
      font-size: 16px;
      font-weight: bold;
    }

    .copies_slot {
        height: 30px;
        background: #f2f2f2;
        position: relative;
        width: 100%;
        margin-bottom: 2%;
    }

    #notary-slider {
        width: 322px;
        margin: 0 auto;
        display: block;
        position: absolute;
        left: -4%;
    }

    button.btn.btn-default.proceed_btn {
        margin: -3% auto !important;
    }

    div#proRangeSlider {
        margin-bottom: 0% !important;
    }
}
/**************************** MEDIA QUERY STARTS **********************************/
    @media all and (max-width: 480px) {
        .startups ul.list_wrapper li {
            font-size: 12px;
            line-height: 3em !important;
        }
    }

    @media only screen and (min-width: 1917px) and (max-width: 1921px) {
        .order_summary input.input_style {
            padding: 6px 10px 6px 45px !important;
            font-size: 1vw !important;
        }

        .startups .copies_slot {
            width: 310px;
            margin: 0 auto;
        }

        .startups {
            padding-bottom: 14%;
        }

        .startups button.btn.btn-default.proceed_btn {
            margin: -1% auto !important;
        }
    }  

    @media only screen and (min-width: 2008px) and (max-width: 2048px) {
        .order_summary input.input_style {
            padding: 6px 10px 6px 45px !important;
            font-size: 1vw !important;
        }

        .startups .copies_slot {
            width: 310px;
            margin: 0 auto;
        }

        .startups {
            padding-bottom: 14%;
        }

        .startups button.btn.btn-default.proceed_btn {
            margin: -1% auto !important;
        }
    }

    @media only screen and (min-width: 1370px) and (max-width: 1916px) {
        .order_summary input.input_style {
            padding: 6px 10px 6px 45px !important;
            font-size: 1vw !important;
        }

        .startups .copies_slot {
            width: 310px;
            margin: 0 auto;
        }

        .startups {
            padding-bottom: 14%;
        }

        .startups button.btn.btn-default.proceed_btn {
            margin: -1% auto !important;
        }
    }
/**************************** MEDIA QUERY ENDS **********************************/
