body{
    height: 100vh;
    font-family: "PFBeauSansPro" ;
}

.pattern{
    background-image: image-url("new_images/pattern.jpg") !important;
    background-size: cover;
}

.form-group {
    margin-bottom: 8px !important;
}

.section_padd1{
    width: 56.1%;
    min-width: 468px;
    min-height: 580px;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.categories_list h2{
    font-size: 14px;
}
.phone_wrap {
    position: absolute;
    top: 14%;
    height: 560px;

    img.phone_lap {
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
        max-width: 100%;
        max-height: 100%;
        animation-duration: 1s;
        animation-name: zoomIn;
    }

    .phonelap_wrap {
        position: relative;
        width: 100%;
        bottom: 150px;
    }

    span.download_app {
        position: relative;
    }

    span.download_app h4 {
        font-size: 14px;
        color: #fff;
        margin-left: 1%;
        animation-duration: 1.5s;
        animation-name: slideInLeft;
    }

    span.icon_wrap {
        position: relative;
        left: 12px;
    }

    span.tagline_wrap {
        position: relative;
        left: 79%;
        bottom: 70px;
    }

    h1.main_head {
        font-size: 14px;
        color: #fff;
        line-height: 1.2;
        animation-duration: 1.5s;
        animation-name: slideInRight;
    }
    .know_more {
        color: #c71400!important;
        background-color: #fff!important;
        border-style: none;
        border-radius: 20px;
        width: 180px;
        font-size: 18px;
        font-weight: bold;
        float: right;
        position: relative;
        bottom: 310px;
        right: 210px;
    }
    img.detail_page {
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
        max-width: 100%;
        max-height: 100%;
    }
}


// .phonelap_wrap {
//     position: absolute;
//     width: 100%;
//     top: 60.5%;

//     span.tagline_wrap {
//         position: absolute;
//         right: 10.5%;
//         top: -10%;
//     }

//     h1.main_head {
//         font-size: 14px;
//         color: #fff;
//         line-height: 1.2;
//         animation-duration: 1.5s;
//         animation-name: slideInRight;
//         // font-weight: bold;
//     }

//     span.download_app h4 {
//         font-size: 14px;
//         color: #fff;
//         // font-weight: bold;
//         margin-left: 1%;
//         animation-duration: 1.5s;
//         animation-name: slideInLeft;
//     }

//     span.icon_wrap {
//         position: relative;
//         left: 12px;

//     }

// }



.home{
    padding-bottom: 9%;
    // box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
    a{
        text-decoration: none;
    }

    .bg_color{
        background: #fff;
    }

    .section_padd {
        padding-bottom: 3%;
    }

    h1.main_head {
        /*width: 50%;*/
        margin: 0 auto;
        color: #365772;
        margin-top: 4%;
        // font-size: 30px;
        font-size: 1.48vw !important;
        letter-spacing: 2.2px;
        font-weight: bolder;
        line-height: 30px;
        text-align: center;
    }

    h1.sub_head {
        // font-size: 28px;
        font-size: 1.56vw;
        text-align: center;
        margin-top: 3%;
        color: #231f20;
        font-weight: 600;
        font-style: normal;
    }

    // .search_item {
    //     width: 52%;
    //     position: relative;
    //     margin: 0 auto;
    //     display: block;
    // }
    .selection-box {
        width: 100%;
        margin: 7% auto 6%;
        position: relative;
        display: block;
        text-align: center;
        animation-duration: 0.5s;
        animation-name: slideInDown;
    }

    input.search_box {
        width: 100%;
        height: 55px;
        border: 1px solid #AAABAB;
        color: #5c5757;
        font-size: 15px;
        padding: 12px 80px 12px 20px;
        
    }

    input.form-control.search_box:focus {
        width: 100%;
        height: 55px;
        border: 1px solid #AAABAB;
        color: #5c5757;
        font-size: 1.4vw;
        padding: 12px 80px 12px 20px;
    }   

    span.search_icon {
        font-size: 30px;
        position: absolute;
        background: #ffdc0e;
        width: 8.1%;
        margin-left: -8.3%;
        height: 53px;
        margin-top: 0.2%;
        padding: 0.9%;
        cursor: pointer;
    }

    span.search_icon:hover {
        background-color: #525252;
        cursor: pointer;
        transition: .4s;
        color: #fff;
    }

        

    .categories_list {
        /*display: block;
        height: 100px;
        width: 60%;
        margin: 5% auto;*/
        // display: block;
        // height: 100px;
        // width: 60%;
        // margin: 3% auto 0%;
        // text-align: center;
        // display: block;
        // width: 60%;
        // margin: 0 auto;
        // text-align: center;
    }

    .categories_list a {
        color: #000;
        text-decoration: none;
    }

    // .categories_list li {
    //     display: inline-block;
    //     width: 24%;
    //     height: 75px;
    //     text-align: center;
    //     margin: 0 auto;
    // }
    
    #images{
        max-width: 90%;
        margin: 0 auto;
        animation-duration: 0.5s;
        animation-name: slideInUp;
    }
    
    #images .image{
        float:left;
        padding:10px;
        width:25%; 
        height: auto;
        text-align: center;
        -webkit-box-sizing:border-box; 
        -moz-box-sizing:border-box; 
        box-sizing:border-box;
    }


    .agreement_icon{
        /*width: 100px;
        height: 70px;
        margin: 0 auto;*/
        max-width: 100%;
        width: auto\9; /* ie8 */
        height: auto;
        -moz-transition:-moz-transform 0.1s ease-in; 
        -webkit-transition:-webkit-transform 0.1s ease-in; 
        -o-transition:-o-transform 0.1s ease-in;
    }

    .agreement_icon:hover{
        /*width: 110px;
        height: 80px;
        margin: 0 auto;*/
        -moz-transform:scale(1.25); 
        -webkit-transform:scale(1.25);
        -o-transform:scale(1.25);
        
    }

    .affidavit_icon{
        /*width: 100px;
        height: 70px;
        margin: 0 auto;*/
        width: auto\9; /* ie8 */
        max-width: 100%;
        height: auto;
        -moz-transition:-moz-transform 0.1s ease-in; 
        -webkit-transition:-webkit-transform 0.1s ease-in; 
        -o-transition:-o-transform 0.1s ease-in;

    }

    .affidavit_icon:hover{
        /*width: 110px;
        height: 80px;
        margin: 0 auto;*/
        cursor: pointer;
        -moz-transform:scale(1.25); 
        -webkit-transform:scale(1.25);
        -o-transform:scale(1.25);
    }

    .bonds_icon{
        /*width: 100px;
        height: 70px;
        margin: 0 auto;*/
        width: auto\9; /* ie8 */
        max-width: 100%;
        height: auto;
        -moz-transition:-moz-transform 0.1s ease-in; 
        -webkit-transition:-webkit-transform 0.1s ease-in; 
        -o-transition:-o-transform 0.1s ease-in;

    }

    .bonds_icon:hover{
        /*width: 110px;
        height: 80px;
        margin: 0 auto;*/
        cursor: pointer;
        -moz-transform:scale(1.25); 
        -webkit-transform:scale(1.25);
        -o-transform:scale(1.25);
    }

    .deeds_icon{
        /*width: 100px;
        height: 70px;
        margin: 0 auto;*/
        width: auto\9; /* ie8 */
        max-width: 100%;
        height: auto;
        -moz-transition:-moz-transform 0.1s ease-in; 
        -webkit-transition:-webkit-transform 0.1s ease-in; 
        -o-transition:-o-transform 0.1s ease-in;

    }

    .deeds_icon:hover{
        /*width: 110px;
        height: 80px;
        margin: 0 auto;*/
        -moz-transform:scale(1.25); 
        -webkit-transform:scale(1.25);
        -o-transform:scale(1.25);
        cursor: pointer;
    }

    .notary_icon{
        /*width: 100px;
        height: 70px;
        margin: 0 auto;*/
        width: auto\9; /* ie8 */
        max-width: 100%;
        height: auto;
        -moz-transition:-moz-transform 0.1s ease-in; 
        -webkit-transition:-webkit-transform 0.1s ease-in; 
        -o-transition:-o-transform 0.1s ease-in;

    }

    .notary_icon:hover{
        /*width: 110px;
        height: 80px;
        margin: 0 auto;*/
        cursor: pointer;
        -moz-transform:scale(1.25); 
        -webkit-transform:scale(1.25);
        -o-transform:scale(1.25);
    }

    .estamp_icon{
        /*width: 100px;
        height: 70px;
        margin: 0 auto;*/
        width: auto\9; /* ie8 */
        max-width: 100%;
        height: auto;
        -moz-transition:-moz-transform 0.1s ease-in; 
        -webkit-transition:-webkit-transform 0.1s ease-in; 
        -o-transition:-o-transform 0.1s ease-in;

    }

    .estamp_icon:hover{
       /* width: 110px;
        height: 80px;
        margin: 0 auto;*/
        cursor: pointer;
        -moz-transform:scale(1.25); 
        -webkit-transform:scale(1.25);
        -o-transform:scale(1.25);
    }

    .attestation_icon{
        /*width: 100px;
        height: 70px;
        margin: 0 auto;*/
        width: auto\9; /* ie8 */
        max-width: 100%;
        height: auto;
        -moz-transition:-moz-transform 0.1s ease-in; 
        -webkit-transition:-webkit-transform 0.1s ease-in; 
        -o-transition:-o-transform 0.1s ease-in;

    }

    .attestation_icon:hover{
        /*width: 110px;
        height: 80px;
        margin: 0 auto;*/
        cursor: pointer;
        -moz-transform:scale(1.25); 
        -webkit-transform:scale(1.25);
        -o-transform:scale(1.25);
    }

    .franking_icon{
        /*width: 100px;
        height: 70px;
        margin: 0 auto;*/
        width: auto\9; /* ie8 */
        max-width: 100%;
        height: auto;
        -moz-transition:-moz-transform 0.1s ease-in; 
        -webkit-transition:-webkit-transform 0.1s ease-in; 
        -o-transition:-o-transform 0.1s ease-in;

    }

    .franking_icon:hover{
        /*width: 110px;
        height: 80px;
        margin: 0 auto;*/
        cursor: pointer;
        -moz-transform:scale(1.25); 
        -webkit-transform:scale(1.25);
        -o-transform:scale(1.25);
    }

    .startup_icon{
        /*width: 100px;
        height: 70px;
        margin: 0 auto;*/
        width: auto\9; /* ie8 */
        max-width: 100%;
        height: auto;
        -moz-transition:-moz-transform 0.1s ease-in; 
        -webkit-transition:-webkit-transform 0.1s ease-in; 
        -o-transition:-o-transform 0.1s ease-in;

    }

    .startup_icon:hover{
        /*width: 110px;
        height: 80px;
        margin: 0 auto;*/
        max-width: 100%;
        height: auto;
        cursor: pointer;
        -moz-transform:scale(1.25); 
        -webkit-transform:scale(1.25);
        -o-transform:scale(1.25);
    }

    .marketplace_icon{
        // width: 100px;
        // height: 70px;
        // margin: 0 auto;
        width: auto\9; /* ie8 */
        max-width: 100%;
        height: auto;
        -moz-transition:-moz-transform 0.1s ease-in; 
        -webkit-transition:-webkit-transform 0.1s ease-in; 
        -o-transition:-o-transform 0.1s ease-in;

    }

    .marketplace_icon:hover{
        /*width: 110px;
        height: 80px;
        margin: 0 auto;*/
        cursor: pointer;
        -moz-transform:scale(1.25); 
        -webkit-transform:scale(1.25);
        -o-transform:scale(1.25);
    }

    .property_icon{
        /*width: 100px;
        height: 70px;
        margin: 0 auto;*/
        width: auto\9; /* ie8 */
        max-width: 100%;
        height: auto;
        -moz-transition:-moz-transform 0.1s ease-in; 
        -webkit-transition:-webkit-transform 0.1s ease-in; 
        -o-transition:-o-transform 0.1s ease-in;

    }

    .property_icon:hover{
       /* width: 110px;
        height: 80px;
        margin: 0 auto;*/
        cursor: pointer;
        -moz-transform:scale(1.25); 
        -webkit-transform:scale(1.25);
        -o-transform:scale(1.25);
    }

    .paperwork_icon{
        /*width: 100px;
        height: 70px;
        margin: 0 auto;*/
        width: auto\9; /* ie8 */
        max-width: 100%;
        height: auto;
        -moz-transition:-moz-transform 0.1s ease-in; 
        -webkit-transition:-webkit-transform 0.1s ease-in; 
        -o-transition:-o-transform 0.1s ease-in;

    }

    .paperwork_icon:hover{
        /*width: 110px;
        height: 80px;
        margin: 0 auto;*/
        cursor: pointer;
        -moz-transform:scale(1.25); 
        -webkit-transform:scale(1.25);
        -o-transform:scale(1.25);
    }

    .categories_list  p {
        // font-size: 18px;
        
        // font-weight: bold;
    }

    #images a{
        font-size: 0.99vw;
        margin-top: 8%;
    }
    
    span.twitter-typeahead {
        width: 50%;
    }
    
    .tt-menu {
        width: 100%;
    }
    
    .tt-suggestion.tt-selectable {
        background: #ebebeb;
        width: 100%;
        text-align: left;
        padding: 6px 10px;
        font-size: 15px;
        cursor: pointer;
        border: 1px solid rgba(216, 216, 216, 0.6);
    }

    .image p {
        position: relative;
        top: 10px;
    }

    /**************************** Home Page CSS Ends **********************************/
}

/**************************** MEDIA QUERY STARTS **********************************/


    @media all and (min-width: 768px) and (max-width: 1024px) {

        .navbar.navbar, .navbar-default.navbar {
            background-color: #f2f2f2 !important;
        }
        
        .collapse.navbar-collapse.navbar-ex1-collapse.nav_links {
            height: 145px !important;
        }

        input.search_box {
            width: 100%;
        }

        span.search_icon {
            width: 12%;
            margin-left: -12.2%;
        }

        ul.categories_list {
            width: 100%;
        }

        body {
            background-image: none;
            overflow-y:hidden;
        }

        .home {
            padding-bottom: 53%;
            padding-top: 10%;
        }
        
        .phone_wrap {
            top: 26%;
        }

        .phone_wrap .phonelap_wrap {
            bottom: 96px;
        }

        .phone_wrap span.download_app h4 {
            font-size: 10px;
        }
        
        .phone_wrap h1.main_head {
            font-size: 10px;
        }
        .phone_wrap .know_more {
            width: 94px;
            font-size: 12px;
            bottom: 132px;
            right: 68px;
        }
    }

    @media all and (min-width: 800px) and (max-width: 1280px) {

        // .section_padd {
        //     padding-bottom: 6%;
        // }
        
        ul.categories_list {
            width: 77%;
            margin: 5% auto;
        }
        .phone_wrap {
            top: 19%;
        }
        .phone_wrap .know_more {
            width: 145px;
            bottom: 208px;
            right: 130px;
        }

        // input.search_box {
        //     width: 70%;
        // }

        // span.search_icon {
        //     padding: 1.2%;
        //     width: 10%;
        //     margin-left: -10.2%;
        // }
    }

    @media all and (min-width: 900px) and (max-width: 1380px) {

        // .section_padd {
        //     padding-bottom: 10%;
        // }

        // input.search_box {
        //     width: 62%;
        // }

        // span.search_icon {
        //     width: 10%;
        //     margin-left: -10.2%;
        // }

        ul.categories_list {
            width: 75%;
            margin: 3% auto;
        }
    }

    @media all and (min-width: 1385px) and (max-width: 1750px) {

        .section_one {
            padding: 2%;
        }

        ul.categories_list {
            width: 76%;
            margin: 3% auto 2%;
        }

        input.search_box {
            width: 69%;
        }

        span.search_icon {
            width: 9%;
            margin-left: -9.2%;
        }
    }

    @media all and (max-width: 480px) {
        input.search_box {
            width: 100%;
            height: 35px;
            border: 1px solid #AAABAB;
            color: #5c5757;
            // font-size: 1.4vw;
            padding: 12px 80px 12px 20px;
        }

        input.search_box {
            width: 100%;
            height: 35px;
            border: 1px solid #AAABAB;
            color: #5c5757;
            // font-size: 1.4vw;
        }
        
        span.search_icon {
            // font-size: 2.3vw;
            position: absolute;
            background: #ffdc0e;
            width: 10%;
            margin-left: -10.2%;
            height: 33px;
            margin-top: 0.1%;
            padding: 2.9%;
            cursor: pointer;
        }

        .image p.text-center {
            margin-top: 10px;
        }

        h1.main_head {
            line-height: 10px;
            padding-top: 10%;
        }
    }

    @media only screen and (min-width: 1917px) and (max-width: 1921px) {
        .home {
            padding-bottom: 12%;
            padding-top: 2%;
        }

        .home span.search_icon {
            // font-size: 1.3vw;
        }

        .home .tt-suggestion.tt-selectable {
          // font-size: 0.8vw;
        }

        .home input.search_box {
            // font-size: 1vw;
        }
        .phonelap_wrap h1.main_head {
            // font-size: 1vw;
        }
        // .phonelap_wrap span.tagline_wrap {
        //     right: 11.5%;
        // }
        .phonelap_wrap span.download_app h4 {
            // font-size: 1vw;
        }
        .home span.search_icon {
            margin-left: -8.2%;
            margin-top: 0.1%;
        }

        .phone_wrap img.phone_lap {
            max-height: none;
        }

        .phone_wrap .phonelap_wrap {
            bottom: 170px;
        }
    }

    @media only screen and (min-width: 2008px) and (max-width: 2048px) {
        .home span.search_icon {
            // font-size: 1.5vw;
            padding: 0.6%;
        }

        .home h1.main_head {
            // font-size: 1.6vw;
        }

        .home input.search_box {
            // font-size: 1vw;
            padding: 10px 110px 6px 10px;
        }

        .home .tt-suggestion.tt-selectable {
            // font-size: 0.8vw;
        }
        .phonelap_wrap h1.main_head {
            // font-size: 1vw;
        }
        // .phonelap_wrap span.tagline_wrap {
        //     right: 11.5%;
        // }
        .phonelap_wrap span.download_app h4 {
            // font-size: 1vw;
        }
        .home span.search_icon {
            margin-left: -8.2%;
            margin-top: 0.1%;
        }

        .phone_wrap img.phone_lap {
            max-height: none;
        }

        .phone_wrap .phonelap_wrap {
            bottom: 170px;
        }
    }

    @media only screen and (min-width: 1370px) and (max-width: 1916px) {
        .home {
            padding-bottom: 12%;
            padding-top: 2%;
        }

        .home span.search_icon {
            // font-size: 1.3vw;
        }

        .home .tt-suggestion.tt-selectable {
          // font-size: 0.8vw;
        }

        .home input.search_box {
            // font-size: 1vw;
        }
        .phonelap_wrap h1.main_head {
            // font-size: 1vw;
        }
        // .phonelap_wrap span.tagline_wrap {
        //     right: 11.5%;
        // }
        .phonelap_wrap span.download_app h4 {
            // font-size: 1vw;
        }
        .home span.search_icon {
            margin-left: -8.2%;
            margin-top: 0.05%;
        }

        .phone_wrap img.phone_lap {
            max-height: none;
        }

        .phone_wrap .phonelap_wrap {
            bottom: 170px;
        }
    }
/**************************** MEDIA QUERY ENDS **********************************/
