.terms{
    padding-right: 2%;
  .style_ul{
    padding-top: 0%;
      list-style-type: none;
      width: 20%;
      /* font-size: 16px; */
      position: fixed;
      color: #000!important;
    }

    .section_padd {
        padding: 3% 0 5%;
    }

    nav-tabs {
        background: rgb(66, 176, 230);
    }

    ul.style_ul li a {
        color: #000;
        text-decoration: none;
    }

    ul.style_ul a:link { /* Essentially means a[href], or that the link actually goes somewhere */
    }

    ul.style_ul a:visited {
      color:#000;
    }

    ul.style_ul a:hover {
      color: blue;
    }

    ul.style_ul li a:active {
      color: red;
    }

    h1.text-center {
        font-size: 30px;
        margin-top: 16%;
        margin-bottom: 0;
    }

    .style_para {
        padding-bottom: 15%;
    }

    hr.privacy_hr {
        border-color: #000;
        width: 40%;
        margin: 3% auto 6%;
    }

    section {
        padding-top: 4%;
    }

    p {
        text-align: justify;
    }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
   {
    .terms{
        .style_para{
            width: 60%;
            float: right;
        }
        // .style_ul {
        //     width: 23%;
        // }

        .terms {
            padding-top: 8%;
        }
    }
}  
@media all and (max-width: 480px) {
    .terms{
        .style_ul {
            list-style-type: none;
            width: 100%;
            position: relative;
        }
        .style_para {
            width: 280px;
        }
    }    
}  