.thankyou{
    margin: 0 auto ;
    padding-bottom: 5%;

    .box_wraper {
        // border: 1px solid rgba(82, 82, 82, 0.42);
        // box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
        // background: #fff;
        /*margin-top: 4%;*/
    }

    .image_wrap {
        padding: 0 2%;
        background: #fff;
    }

    .image_wrap img {
        width: 100%;
        height: 100%;
    }

    .order_wrap {
        border: 1px solid black;
        background: #fff;
        color: #525252;
        width: 48%;
    }

    form.delivery_form {
        width: 90%;
        // height: 474px;
        text-align: left;
        margin: 0 auto;
        position: relative;
        margin-bottom: 38px;

    }

    form.delivery_form h4 {
        font-size: 14px;
        color: #525252;
        font-weight: bolder;
        margin-top: 8%;
        // margin-left: -5%;
        margin-bottom: 6%;
    }

    label.label_style {
        font-size: 14px;
    }

    input.input_wrap {
        background-size: 0 2px, 100% 1px;
        background-repeat: no-repeat;
        background-position: center bottom, center calc(100% - 1px);
        background-color: #e7e6e2;
        transition: background 0s ease-out;
        border: 0;
        border-radius: 0;
        width: 100%;
        font-size: 15px;
        // font-weight: bold;
        padding: 2px 10px;
        height: 35px;
        margin-bottom: 5px;
    }



    .btn.proceed_btn {
        border-radius: 0;
        font-size: 16px;
        background-color: #ed1c24;
        color: white;
        font-weight: bolder;
        margin-bottom: 5%;
        border: 0;
        width: 100%;
    }

    .btn.proceed_btn:hover {
        background: #ed1c24;
    }
    .offer-box input{
        margin-right: 5px;
        margin-top: 20px;
    }
}
/**************************** MEDIA QUERY STARTS **********************************/
    @media all and (min-width: 768px) and (max-width: 1024px) {

        .thankyou .section_padd {
            padding-left: 10%;
            padding-right: 10%;
            padding-bottom: 10%;
        }

        .thankyou .navbar.navbar, .navbar-default.navbar {
            background-color: transparent !important;
        }

        .thankyou form.delivery_form {
            margin: 3% auto;
        }

        // .image_wrap img {
        //     width: 100%;
        //     height: 635px;
        // }

        .thankyou button.btn.btn-primary.proceed_btn {
            display: block;
            margin: 0 auto 5%;
            left: 40%;
        }

        .thankyou .order_wrap {
            padding-bottom: 8%;
        }
    }

    @media all and (min-width: 800px) and (max-width: 1280px) {

        .thankyou .box_wrap {
            background: #fff;
        }

        // .image_wrap img {
        //     height: 595px;
        // }

        // button.btn.btn-primary.proceed_btn {
        //     margin-left: 57%;
        // }

        // form.delivery_form h4 {
        //     font-size: 18px;
        //     color: #525252;
        //     font-weight: bolder;
        //     margin-top: 10%;
        //     margin-bottom: 10%;
        // }
    }

    @media all and (min-width: 900px) and (max-width: 1380px) {
        // button.btn.btn-primary.proceed_btn {
        //     margin-left: 60%;
        // }
    }

    @media all and (min-width: 1385px) and (max-width: 1750px) {
        form.delivery_form h4 {
            margin: 20px 0;
        }
        // button.btn.btn-primary.proceed_btn {
        //     margin-left: 62%;
        // }
    }

    @media only screen and (min-width: 1917px) and (max-width: 1921px) {
        form.delivery_form h4 {
            margin: 20px 0;
        }
        .thankyou .image_wrap img {
            height: 100%;
        }

        .thankyou form.delivery_form h4 {
            margin-bottom: 10%;
        }

        .thankyou form.delivery_form {
            height: 570px;
        }

        .thankyou {
            margin: 0% auto 0;
            padding-bottom: 10%;
        }
    }

    @media only screen and (min-width: 1370px) and (max-width: 1916px) {
        form.delivery_form h4 {
            margin: 20px 0;
        }
        .thankyou .image_wrap img {
            height: 100%;
        }

        .thankyou form.delivery_form h4 {
            margin-bottom: 10%;
        }

        .thankyou form.delivery_form {
            height: 570px;
        }

        .thankyou {
            margin: 0% auto 0;
            padding-bottom: 10%;
        }
    }

    @media only screen and (min-width: 2008px) and (max-width: 2048px) {
        form.delivery_form h4 {
            margin: 20px 0;
        }
        .thankyou .image_wrap img {
            height: 100%;
        }

        .thankyou form.delivery_form h4 {
            margin-bottom: 10%;
        }

        .thankyou form.delivery_form {
            height: 570px;
        }

        .thankyou {
            margin: 0% auto 0;
            padding-bottom: 10%;
        }
    }
/**************************** MEDIA QUERY ENDS **********************************/
