<p id="notice"><%= notice %></p>

<h1>Listing User Roles</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Role</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_roles.each do |user_role| %>
      <tr>
        <td><%= user_role.role_id %></td>
        <td><%= user_role.user_id %></td>
        <td><%= link_to 'Show', user_role %></td>
        <td><%= link_to 'Edit', edit_users_role_path(user_role) %></td>
        <td><%= link_to 'Destroy', user_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @user_roles %>
<%= link_to 'New User role', new_users_role_path %>
