<p id="notice"><%= notice %></p>

<h1>Listing Orders Delivery Statuses</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders_delivery_statuses.each do |orders_delivery_status| %>
      <tr>
        <td><%= orders_delivery_status.name %></td>
        <td><%= link_to 'Show', orders_delivery_status %></td>
        <td><%= link_to 'Edit', edit_orders_delivery_status_path(orders_delivery_status) %></td>
        <td><%= link_to 'Destroy', orders_delivery_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @orders_delivery_statuses %>
<%= link_to 'New Delivery status', new_orders_delivery_status_path, class: 'delivery-status' %>


<style>
  a.delivery-status {
    background-color: #024448;
    padding: 10px;
    color: #fff;
  }
</style>
