<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @orders_delivery_status.name %>
</p>

<%= link_to 'Edit', edit_orders_delivery_status_path(@orders_delivery_status) %> |
<%= link_to 'Back', orders_delivery_statuses_path %>
