<p id="notice"><%= notice %></p>

<h1>Listing Services Orders Answers</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Order</th>
      <th>Question</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services_orders_answers.each do |services_orders_answer| %>
      <tr>
        <td><%= services_orders_answer.order_id %></td>
        <td><%= services_orders_answer.question_id %></td>
        <td><%= services_orders_answer.body %></td>
        <td><%= link_to 'Show', services_orders_answer %></td>
        <td><%= link_to 'Edit', edit_services_orders_answer_path(services_orders_answer) %></td>
        <td><%= link_to 'Destroy', services_orders_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @services_orders_answers %>
<%= link_to 'New Answer', new_services_orders_answer_path, class: 'ans' %>

<style>
  a.ans {
      background-color: #024448;
      padding: 10px;
      color: #fff;
  }
</style>
