<h1>New Services Orders Answer</h1>

<%= render 'form' %>

<%= link_to 'Back', services_orders_answers_path, class: 'back' %>


<style>
  a.back {
      background-color: #024448;
      padding: 10px;
      color: #fff;
  }
</style>
