<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @services_orders_answer.order_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @services_orders_answer.question_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @services_orders_answer.body %>
</p>

<%= link_to 'Edit', edit_services_orders_answer_path(@services_orders_answer) %> |
<%= link_to 'Back', services_orders_answers_path %>
