<%= simple_form_for(@dvaults_user_file) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :filename %>
    <%= f.input :tag %>
    <%= f.input :mime_type %>
    <%= f.input :vault_id %>
    <%= f.input :size %>
    <%= f.input :profile_id %>
    <%= f.input :dvault_id %>
    <%= f.input :thumbnail_image %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
