<p id="notice"><%= notice %></p>

<h1>Listing Dvaults User Files</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Filename</th>
      <th>Tag</th>
      <th>Mime type</th>
      <th>Vault id</th>
      <th>Size</th>
      <th>Profile</th>
      <th>Dvault</th>
      <th>Thumbnail image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dvaults_user_files.each do |dvaults_user_file| %>
      <tr>
        <td><%= dvaults_user_file.filename %></td>
        <td><%= dvaults_user_file.tag %></td>
        <td><%= dvaults_user_file.mime_type %></td>
        <td><%= dvaults_user_file.vault_id %></td>
        <td><%= dvaults_user_file.size %></td>
        <td><%= dvaults_user_file.profile_id %></td>
        <td><%= dvaults_user_file.dvault_id %></td>
        <td><%= dvaults_user_file.thumbnail_image %></td>
        <td><%= link_to 'Show', dvaults_user_file %></td>
        <td><%= link_to 'Edit', edit_dvaults_user_file_path(dvaults_user_file) %></td>
        <td><%= link_to 'Destroy', dvaults_user_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @dvaults_user_files %>

<%= link_to 'New User file', new_dvaults_user_file_path %>
