<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @dvaults_user_file.filename %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @dvaults_user_file.tag %>
</p>

<p>
  <strong>Mime type:</strong>
  <%= @dvaults_user_file.mime_type %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @dvaults_user_file.vault_id %>
</p>

<p>
  <strong>Size:</strong>
  <%= @dvaults_user_file.size %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @dvaults_user_file.profile_id %>
</p>

<p>
  <strong>Dvault:</strong>
  <%= @dvaults_user_file.dvault_id %>
</p>

<p>
  <strong>Thumbnail image:</strong>
  <%= @dvaults_user_file.thumbnail_image %>
</p>

<%= link_to 'Edit', edit_dvaults_user_file_path(@dvaults_user_file) %> |
<%= link_to 'Back', dvaults_user_files_path %>
