<% if @order.stamp_amount && (@order.stamp_amount.to_i != 0) %>
	<% if @order.stamp_amount.to_i <= 1000 %>
		<% service_charge = 25 %>
	<%# elsif @order.stamp_amount.to_i < 5000 %>
		<%# service_charge = 15 %>
	<% elsif @order.stamp_amount.to_i >= 1000 %>
		<% service_charge = (@order.stamp_amount.to_i * 0.025).floor %>
	<% elsif @order.stamp_amount == 0 && @order.stamp_amount == nil %>
	   <% service_charge = 0 %>
	<% end %>
<% end %>
<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			@font-face {
				font-family: 'PFBeauSansPro';
				src: url("<%=@base_url%>/assets/PFBeauSansPro.ttf") format('truetype');
				font-weight: thin;
				font-style: normal;
			}
			@font-face {
				font-family: 'PFBeauSansPro';
				src: url("<%=@base_url%>/assets/PFBeauSansProa.ttf") format('truetype');
				font-weight: thin;
				font-style: normal;
			}
		</style>
	</head>
	<body style="margin:0 auto;padding:0;max-width:595px;font-family: 'PFBeauSansPro' 'Tahoma';font-weight:thin;font-size: 14px;background-size: cover;ont-family: 'PFBeauSansPro';font-weight: thin !important;"> 
		<table style="font-size:10px ;font-family: 'PFBeauSansPro';">
			<table>
				<tr>
					<%= image_tag "#{@base_url}/assets/logohome.png", :style => "width: 80px; height: 80px;" %>
				</tr>
			</table>    
				<!--Header-->
			<table style="width:595px; height:842;background-color: #f16123;">
				<tr>
					<td style='width:380px;color: #fff'  >
						<h1 style="margin-left:20px;">INVOICE</h1>
					</td>
					<td colspan="" rowspan="" headers="" style="color:#fff;">
						<div style='text-align:left'>
							<b>INVOICE NUMBER :</b><br>

						</div>
						<div>   
							<b>Date :</b>
						</div>
						<div style='display:inline-block;width:100px'>  
							<b>Order :</b>
						</div>
						<div style='display:inline-block;width:100px'>  
							<b>Payment :</b>
						</div>  
					</td>
					<td colspan="" rowspan="" headers="" style="text-align:left;color:#fff;padding:0.5em;">
						<div style='display:inline-block;width:80px'>
							<%= @order.txnid %>
						</div>
						<div style='display:inline-block;width:80px'>   
							<%= @order.payment.created_at.strftime("%d-%b-%Y") %>
						</div>  
						<div style='display:inline-block;width:80px'>   
							<%= @order.txnid %>
						</div>  
						<div style='display:inline-block;width:80px'>   
							<%= @order.payment.mode %>
						</div>  
					</td>
				</tr> 
			</table>
			<!--Body-->
			<div  style="background-image: url(<%="#{@base_url}" + "/assets/watermark.png" %>);background-repeat: no-repeat;background-position: center; width: 500px;height: 500px;">  
			<table style="width:595px;">
				<tr>    
					<td width="65%"style="padding:1em" >
						<div style="font-size:14px;margin-left:px;margin-top:20px; "><b>Shipping Address</b></div><br>
						<div style="margin-left:3px;margin-bottom:20px;">To: <%= @order.user.profile.first_name %><br>
						<%= @order.address.address1 || '' + ', ' + @order.address.address2 || '' %>, <%= @order.address.locality.name %><br>
						<%= @order.address.landmark %><br>
						<%= @order.address.city.name %> ,<%= @order.address.city.state ? @order.address.city.state.name : ''  %><br>
						M : +<%= @order.user.profile.country.phone_code + ' ' + @order.user.phone %></div>
					</td>    
					<td width="35%">
						<div style="font-size:14px;margin-top:20px;"><b>Billing Address</b></div><br>
						<div style="margin-bottom:20px;">To: <%= @order.user.profile.first_name %><br>
						<%= @order.address.address1 + ', ' + @order.address.address2 %>, <%= @order.address.locality.name %><br>
						<%= @order.address.landmark %><br>
						<%= @order.address.city.name %> ,<%= @order.address.city.state ? @order.address.city.state.name : ''  %><br>
						M : +<%= @order.user.profile.country.phone_code + ' ' + @order.user.phone %></div>

					</td>
				</tr>   
			</table>    
			<table  cellspacing="1" align="center" collspacing="1" style="width:585px;margin-left:10px; text-align:center"> 
				<tr height="30px" cellspacing="3" style="background-color: rgba(206, 206, 204, 0.5);">
					<th>SR.</th>        
					<th>Product</th>
					<th>Qty</th>    
					<th>Rate</th>
					<th>Service Charge</th> 
					<!-- <th>Tax(%)</th>     -->
					<!-- <th>Tax(Rs.)</th>   -->
					<th>Total(rs)</th>  
				</tr>
				<% if (!['E-Stamp', 'Franking'].include? @order.service.name) %>
					<tr bgcolor="ebe9e7" height="30px">
						<td>1</td>
						<td>
							<%= @order.product %>
						</td>
						<td><%= @no_of_copies %></td>
						<% if (['Notary', 'Attestation'].include? @order.service.name) %>
							<td><%= (@order.total_amount.to_i - 99 - 99) / @no_of_copies %></td>
							<% service_charge = 0 %>
							<td><%= service_charge %></td>
							<td><%= (@order.total_amount.to_i - 99 - 99)  %></td>

						<% elsif (['Agreement','Affidavit','Bond','Deed','Paperwork'].include? @order.service.name) %>
							<td><%= ((@order.total_amount.to_i - 99) - ((@order.stamp_amount.to_i + service_charge).to_i * @no_of_copies )) / @no_of_copies %></td> 
							
							<td></td>
							<td><%= ((@order.total_amount.to_i - 99) - ((@order.stamp_amount.to_i + service_charge).to_i * @no_of_copies )) %></td>


						<% elsif (['Startup'].include? @order.service.name) %>
							<td><%= (@order.total_amount).to_i / @no_of_copies %></td>  
							
							<td></td>
	
							<td><%= (@order.total_amount).to_i %></td>

						<% else %>
							<td><%= @order.document.default_price %></td>   
							<td></td>                   
							<td><%= (@order.document.default_price).to_i * @no_of_copies %></td>    
							
						<% end %>
					</tr>
				<% elsif (['Franking'].include? @order.service.name)  %>
					<tr bgcolor="ebe9e7" height="30px">
						<td>1</td>
						<td>
							<%= @order.product %>
						</td>
						<td><%= @no_of_copies %></td>
						<td><%= (@order.total_amount.to_i - 99 - 99) / @no_of_copies %></td>    
						<% service_charge = 0 %>
						<td><%= service_charge %></td>
						<td><%= (@order.total_amount.to_i - 99 - 99)  %></td>

					</tr>
				<% end %>
				<% if @order.stamp_amount && (@order.stamp_amount.to_i != 0) && (@order.stamp_amount != nil) && (!['Franking'].include? @order.service.name)%> 
					<tr bgcolor="ebe9e7" height="30px">
						<td>2</td>
						<td>E-stamp</td>
						<td><%= @no_of_copies %></td>   
						<td><%= @order.stamp_amount %></td>
						
						<% service_charge = 0 if (['Franking'].include? @order.service.name) %>
						<td><%= service_charge %></td>
						<td><%= (@order.stamp_amount.to_i + service_charge).to_i * @no_of_copies  %></td>   
					</tr>
				
				<% end %>
				<% if (['Startup'].include? @order.service.name) %>
					<% if @order.product.match(/package-\d/)%>
					<tr bgcolor="ebe9e7" height="30px">
						<td></td>
						<td>PAN</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr bgcolor="ebe9e7" height="30px">
						<td></td>
						<td>TAN</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr bgcolor="ebe9e7" height="30px">
						<td></td>
						<td>Professional Tax Enrolment</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr bgcolor="ebe9e7" height="30px">
						<td></td>
						<td>Shop & Establishment</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>

					<% if !@order.product.match(/package-[1]/) %>   
						<tr bgcolor="ebe9e7" height="30px">
							<td></td>
							<td>VAT & CST</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					<% end %>
					<% if !@order.product.match(/package-[2]/) %>
						<tr bgcolor="ebe9e7" height="30px">
							<td></td>
							<td>Service Tax Registration</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					<% end %>
					<% if !@order.product.match(/package-[123]/) %>
						<tr bgcolor="ebe9e7" height="30px">
							<td></td>
							<td>Import Export Code</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					<% end %>
				<% end %>
			<% end %>
			</table>
			<table cellspacing="1" align="center" collspacing="1" style="width:585px;margin-left:10px; ">
				<td width="70%">        
					<td width="30%">
						<div style="background-color: #ebe9e7;height: 30px; width:200px;text-align: left;padding: 5px;">
							<% if (['Notary', 'Attestation'].include? @order.service.name) %>
								Sub total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
								Rs. <%= (@order.total_amount.to_i - 99 - 99) %> </div>
							<% elsif (['Franking'].include? @order.service.name) %>
								Sub total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
								Rs. <%=  (@order.total_amount.to_i - 99 - 99) %>

							<% elsif (['E-Stamp'].include? @order.service.name)   %>
								Sub total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
								Rs. <%= ((@order.stamp_amount.to_i + service_charge).to_i * @no_of_copies)  %>
									
							<% elsif (['Marketplace','Property'].include? @order.service.name) %>
								Sub total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
								Rs. <%= (@order.document.default_price).to_i  %>
							<% elsif (['Agreement', 'Affidavit', 'Bond', 'Deed', 'Paperwork'].include? @order.service.name) %>
								Sub total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
								Rs. <%= (@order.total_amount.to_i - 99) %>
							<% elsif (['Startup'].include? @order.service.name) %>
								Sub total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
								Rs. <%= (@order.total_amount).to_i  %>
							<% else %>
								Sub total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
								Rs. <%= ((@order.document.default_price).to_i * @no_of_copies) + ((@order.stamp_amount.to_i + service_charge).to_i * @no_of_copies)  %>
							<% end %>
						</div>
						<% if !(['Marketplace','Startup'].include? @order.service.name) %>
							<div style="background-color: #ebe9e7;height: 30px;width:200px;text-align: left;padding: 5px;">Shipping charges &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rs. <%= @order.delivery_amount || '0' %> /-</div>
						<% end %>
						<% if !(['Marketplace', 'Startup', 'E-Stamp', 'Agreement', 'Affidavit', 'Deed', 'Bond', 'Property', 'Paperwork'].include? @order.service.name) %>
							<div style="background-color: #ebe9e7;height: 30px;width:200px;text-align: left;padding: 5px;">Professional charges &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rs. 99 /-</div>
						<% end %>
						<% if @order.discount %>
							<div style="height: 30px;font-size: 12px;background-color: rgba(206, 206,   204, 0.8);padding: 0.5em;">Discount &nbsp;&nbsp; Rs. <%= @order.discount || '0' %> </b>
							</div>
						<% end %>
						<div style="height: 30px;font-size: 12px;background-color: rgba(206, 206, 204,  0.8);padding: 0.5em;">TOTAL PAYABLE &nbsp;&nbsp;&nbsp;&nbsp; Rs. <%= (@order.total_amount.to_f - @order.discount.to_f) %>
						</b>
						</div>
					</td>       
				</tr>   
			</table>
			<table cellspacing="10" height="30px" style="padding:1em;">
				<tr>
					<td>
						Service tax registration no: 
						AAACB2894GSTO36
					</td>
					<td></td>
					<td>Tan no:AAACB2764G</td>
				</tr>   
			</table>
				<hr color="#f16123" width="570px"></hr>
			<table width="" style="padding:3em 2em"> 
				<tr>
					<td style="font-size:15px">
						<b>For More Services</b>
					<td>
				</tr>
				<tr>
					<td>
						<ul class="list_wrapper" style="display: inline-flex;text-align: center; list-style: none;margin-left: 8em; font-size:10px;padding-left:0px;">  
							<li style="margin: 10px 5px;position: relative;left: -6em;"><a href="<%=@base_url %>/agreement" style="text-decoration: none;color:#000;"><%= image_tag "#{@base_url}/assets/new_images/categories_icons/affidavits.png", width: '40px', style: 'width:40px;height40px;'%>Affidavit</a></li>
							<li style="margin: 10px 5px;position: relative;left: -6em;"><a href="<%=@base_url %>/affidavit"  style="text-decoration: none;color:#000;"><%= image_tag "#{@base_url}/assets/new_images/categories_icons/agreements.png", width: '40px', style: 'width:40px;height40px;' %>Agreement</a></li>
							<li style="margin: 10px 5px;position: relative;left: -6em;"><a href="<%=@base_url %>/bonds"  style="text-decoration: none;color:#000;"><%= image_tag "#{@base_url}/assets/new_images/categories_icons/bonds.png", width: '40px', style: 'width:40px;height40px'%>Bonds</a></li>
							<li style="margin: 10px 5px; position: relative;left: -6em;"><a href="<%=@base_url %>/deed" style="text-decoration: none;color:#000;" ><%= image_tag "#{@base_url}/assets/new_images/categories_icons/deeds.png", width: '40px', style: 'width:40px;height40px;'%>Deeds</a></li>
							<li style="margin: 10px 5px; position: relative;left: -6em;"><a href="<%=@base_url %>/startup" style="text-decoration: none;color:#000;" ><%= image_tag "#{@base_url}/assets/new_images/categories_icons/startups.png", width: '40px', style: 'width:40px;height40px;'%>Registrations</a></li>
							<li style="margin: 10px 5px;position: relative;left: -6em;"><a href="<%=@base_url %>/marketplace" style="text-decoration: none;color:#000;" ><%= image_tag "#{@base_url}/assets/new_images/categories_icons/marketplace.png", width: '40px', style: 'width:40px;height40px;'%>Licenses</a></li>
							<li style="margin: 10px 5px;position: relative;left: -6em;"><a href="<%=@base_url %>/ondemand" style="text-decoration: none;color:#000;" ><%= image_tag "#{@base_url}/assets/new_images/categories_icons/property.png", width: '40px', style: 'width:40px;height40px;' %>Property</a></li>
							<li style="margin: 10px 5px;position: relative;left: -6em;"><a href="<%=@base_url %>/ondemand" style="text-decoration: none;color:#000;" ><%= image_tag "#{@base_url}/assets/new_images/categories_icons/paperwork.png", width: '40px', style: 'width:40px;height40px;' %>Paperwork</a></li>
							<br>
						</ul>
						<ul class="list_wrapper" style="display: inline-flex;text-align: center; list-style: none;margin-left: 10em; font-size:10px;padding-left:0px;">
							<li style="margin: 10px 5px;position: relative;left: -6em;"><a href="<%=@base_url %>/ondemand" style="text-decoration: none;color:#000;" ><%= image_tag "#{@base_url}/assets/new_images/categories_icons/franking.png", width: '40px', style: 'width:40px;height40px;' %>Franking</a></li>
							<li style="margin: 10px 5px;position: relative;left: -6em;"><a href="<%=@base_url %>/ondemand" style="text-decoration: none;color:#000;" ><%= image_tag "#{@base_url}/assets/new_images/categories_icons/e-stamp.png", width: '40px', style: 'width:40px;height40px;' %>E-Stamp</a></li>
							<li style="margin: 10px 5px;position: relative;left: -6em;"><a href="<%=@base_url %>/ondemand" style="text-decoration: none;color:#000;" ><%= image_tag "#{@base_url}/assets/new_images/categories_icons/notary.png", width: '40px', style: 'width:40px;height40px;' %>Notary</a></li>
							<li style="margin: 10px 5px;position: relative;left: -6em;"><a href="<%=@base_url %>/ondemand" style="text-decoration: none;color:#000;" ><%= image_tag "#{@base_url}/assets/new_images/categories_icons/attestation.png", width: '40px', style: 'width:40px;height40px;' %>Attestation</a></li>
						</ul>
					</td>
				</tr> 
				<tr>
					<td style="color:#f16123;margin-left:0px;text-align:center">
						<a href="www.dockettech.com" style="text-decoration: none;color: #f16224;"><b style="text-align:center;">www.dockettech.com</b></a>
					</td>
				</tr>
			</table>    
			<hr width="570px"></hr> 
			<!--Footer-->
			<table style="width:100%;padding:3em">
				<tr cellspacing="15" >
					<td style="margin:left:20px;">
						<b style="font-size:12px;">CIN U74900KA2015PTC083057<br>
						<div>Docket Tech Solutions Private Limited</b>
						</br>
						Mayur Tower, #10, <br>
                    	1st Floor, 3rd Main Rd, <br>
                    	Ashwini Layout, Ejipura, <br>
                    	Bangalore - 560047, <br>
                    	Karnataka, India
					</td>
					<td style="border-left:1px solid #000; padding:0em;"></td>
					<td>
						<div style="margin-left:20px;"> 
							T : +91-81-0537 7103<br>
							<!-- T : +91-80-4656 4656<br> -->
							E : support@dockettech.com<br>
							W : www.dockettech.com
						</div>
					</td>
				</tr>   
			</table>
		</div>      
		</table>
	</body>
</html>