<!DOCTYPE html>
<html>
	<head>
    	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  	</head>
  	<body>
		<p>
			Please check this attached Draft of the document and get the corrections asap: 
		</p>
		<div>Order Id: <%= @order.txnid %></div>
		<br>
		<br>
		<br>
		<br>
		<div>
			Regards,<br>
			Team Docket Tech
		</div>
	</body>
</html>
