<!DOCTYPE html>
<html>
	<head>
    	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  	</head>
  	<body>
		<div>Hi <%= @user.profile.first_name %>,</div>

		<div>Order Id: <%= @order.txnid %></div>
		<div>
			<%= @body %>
		</div>	
		<br>
		<br>
		<br>
		<div>
			Regards,<br>
			Team Docket Tech
		</div>
	</body>
</html>
