<!DOCTYPE html>
<html>
	<head>
    	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  	</head>
  	<body>
		<div>Hi <%= @user.profile.first_name %>,</div>
		<p>
			Please check this attached Draft of the document you ordered: 
		</p>
		<div>
			<a href="<%= @url %>"><div>Click Here to confirm</div></a>
		</div>
		<div>Or copy past this link</div>
		<%= @url %>
		<div>
			Regards,<br>
			Team Docket Tech
		</div>
	</body>
</html>
