<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body style='margin:0 auto;padding:0;max-width:780px'> 
		<table>
		<!--Header-->
		<table style="width:100% ;background-color: #008080;;">
			<tr>
				<td style='width:70%'>
					<img src="http://dockettech.com/logo-white.png" alt="" style='width:100px'>
				</td>	
				<td class="address-style" style="color:#fff;margin-left: -15em;display: inline-block;">
					<img src="http://dockettech.com/location.png" style='width:15px' >
					Opp. Haagen Dazs.</br>
					&nbsp; &nbsp; Newbridge Business Center,<br>
					&nbsp; &nbsp; Embassy Golf Links Business Park Block "B", <br>
					&nbsp; &nbsp; 1st Floor, Pebble Beach, <br>
					&nbsp; &nbsp; Off Intermediate Ring Road, Domlur,<br>
					&nbsp; &nbsp; Bangalore-560071
					<br>
					<img src="http://dockettech.com/ph.png" style='width:15px' >
					+91-81-0537 7103
					<!-- +91-80-4656 4656 -->
					<br>
					<img src="http://dockettech.com/email.png" style='width:15px' >
					help@dockettech.com
				</td>	
			</tr>
		</table>
		<!--Body-->
		<table style="width:100% ;background-color:white;">
			<tr>
				<td>
					Dear <%= @order.user ? @order.user.name : @order.delivery_info.name %>
				</td>	
			</tr>
			<tr>
				<td>
					Thank you for using beta.dockettech.com
				</td>
			</tr>	
			<tr>
				<td>
					Your order is confirmed and is being processed.
				</td>
			</tr>	
			<tr bgcolor="gray">
				<th style="text-align:left">
					Order Details
				</th>	
			</tr>
			<tr>
				<td colspan="" rowspan="" headers="">
					<div style='display:inline-block;width:150px'>
						Order ID
					</div>
					<div style='display:inline-block;width:150px'>	
						: <%= @order.txnid%>
					</div>	
				</td>
			</tr>	
			<tr>
				<td colspan="" rowspan="" headers="">
					<div style='display:inline-block;width:150px'>
						Date Ordered
					</div>
					<div style='display:inline-block;width:150px'>	
						: <%= @order.created_at.strftime('%d/%m/%Y') %>
					</div>	
				</td>
			</tr>	
			<tr>
				<td colspan="" rowspan="" headers="">
					<div style='display:inline-block;width:150px'>
						Payment Method 
					</div>
					<div style='display:inline-block;width:150px'>
						: <%= @order.payment ? @order.payment.mode : '' %>
					</div>	
				</td>
			</tr>	
			<tr>
				<td colspan="" rowspan="" headers="">
					<div style='display:inline-block;width:150px'>
						Exp. delivery Date
					</div>
					<div style='display:inline-block;width:150px'>	
						: 1-2 days
					</div>	
				</td>
			</tr>	
		<table style="width:100%;border-collapse: collapse;">	
			<tr bgcolor="gray" style="width:100%">
				<th>
					Product
				</th>		
				<th>
					Quantity
				</th>
				<th>
					Shipping Price
				</th>
				<th>
					Total
				</th>	
		</tr>
		<tr>
			<td>
				<%= @order.product %>
			</td>
			<td>
				1
			</td>
			<td>
				<%= @order.delivery_amount || '99' %>
			</td>
			<td bgcolor="gray">
				<%= @order.total_amount %>
			</td>	
		</tr>	
		</table>		
		<!--Footer-->
		<table style="width:100% ;background-color: #008080;;">
			<tr>
				<td class="social-icons">
					<img src="http://dockettech.com/fb.png" >
					<img src="http://dockettech.com/twtr.png" >
					<img src="http://dockettech.com/blg.png" >
					<img src="http://dockettech.com/pintrst.png" >
					<img src="http://dockettech.com/google.png" >
				</td>
			</tr>	
		</table>	
		</table>
	</body>
</html>