<!DOCTYPE html>
<html>
	<head>
    	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  	</head>
  	<body>
		<div>Hi <%= @order.user.profile.first_name %>,</div>
		<p>
			Thankyou for placing your order with us, 
		</p>
		<div>Your Order ID <b><%= @order.txnid %> has been processed</b>.
			<br>
			We have dispatched your documents for <b><%= @order.product.capitalize %></b>.
			<br>
			Our Delivery Partner <b><%#= @order.delivery_partner.name %> Blue Dart
			<!-- FEDEX -->
		</b> will deliver it soon.
			<% if !@order.delivery_tracking_no.blank? %>
				<br>
				Your Tracking No is <b><%= @order.delivery_tracking_no %></b>
			<% end %>
		</div>
		<br>
		<div>
			<p>We hope to serve you again.</p>
		</div>
		<br>
		<br>
		<div>
			Regards,<br>
			Team Docket Tech
		</div>
	</body>
</html>

