Hi <%= @order.user ? @order.user.name : @order.delivery_info.name %>

Thanks for the Order,
Your Order ID <%= @order.txnid %>
<% if @order.payment.payu_status == "success" %>
We are processing your <%= @order.product.capitalize %>
Payment <%= @order.payment.payu_status %> of Rs. <%= @order.payment.amount %>
<% end %>


Thank You,
Notary Team