<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Thankyou Email</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style>
			body{
				font-family: 'PFBeauSansPro' !important;
			}
			@font-face {
			  font-family: 'PFBeauSansPro';
			  src: url("<%= @base_url %>/assets/PFBeauSansPro.ttf") format('truetype');
			  font-weight: thin;
			  font-style: normal;
			}

			@font-face {
			  font-family: 'PFBeauSansPro';
			  src: url("<%= @base_url %>/assets/PFBeauSansProa.ttf") format('truetype');
			  font-weight: thin;
			  font-style: normal;
			}
			table.table.table_style {
    			width: 592px;
    			margin: 2% auto;
			}

			.table>thead>tr>th {
			    vertical-align: bottom;
			    border-bottom: 0;
			    font-family: 'PFBeauSansPro' !important;
			    border-bottom-color: transparent;
			    padding: 10px;
			}

			/*.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
			    padding: 0;
			    line-height: 1.42857143;
			    vertical-align: top;
			    border-top: 0;
			    border-top-color: transparent;
			}*/

			
			/*tr.thankyou_bg {
			    background-image: url("../assets/images/thank_you.jpg");
			    width: 592px;
			    height: 542px;
			    background-size: cover;
			    background-repeat: no-repeat;
			}*/
		</style>		
	</head>
	<body style="font-family:'PFBeauSansPro';width:592px; margin: 0 auto;border-spacing: 0;">
		<table class="table table_style" style="width:592px;border-collapse: collapse;border-spacing: 0;">
			<thead style="background-image: url('<%= @base_url %>/assets/new_images/thankyoumail_images/header_bg.jpg');height: 152px;width: 100%;background-repeat: no-repeat;">
				<tr style="width: 592px;float: left;">
					<th style="width: 20%;float: left;"><a href="<%= @base_url %>"> <%= image_tag "#{@base_url}/assets/new_images/thankyoumail_images/logo.png"%></a></th>
					<th style="font-size: 20px;width: 80%;padding-top: 70px;padding-left: 15%;">INDIA'S FIRST ONLINE PLATFORM FOR <br> DOCUMENTATION AND REGISTRATION</th>
				</tr>
			</thead>
			<tbody style="border-spacing: 0;">
				<tr style="width: 592px;border-spacing:0;display: block;height: 544px;">
					<td style="width: 592px;border-top: 0; padding: 0;"><%= image_tag "#{@base_url}/assets/new_images/thankyoumail_images/thank_you.jpg", :style => "width: 592px;border-spacing:0;display: block;height: 544px;"%>
					</td>
				</tr>
			</tbody>
			<tbody style="background: #201028; height: 468px; border-top: 0;">		
				<tr style="width:592px;border-spacing: 0;">
					<td style="border-top: 0;font-size: 30px;text-align: center;color: #fff;font-weight: bold;">Our main features</td>
				</tr>
				<tr style="width:592px;border-spacing: 0;">
					<td style="border-top: 0;font-size: 20px;color: #fff;font-weight: bold;padding: 5%;"><%= image_tag "#{@base_url}/assets/new_images/thankyoumail_images/d_vault.png" %>
						<span  style="font-size: 25px;margin-left: 2%;">DVault  </span><br>
					    <span style="text-align: justify !important;font-size: 12px;font-weight: 500;line-height: 0px;">This is a unique and one-of-a-kind service rendered by Docket, with a provision to safely store all your documents in a single source. The DVault assures you of complete and infallible security and flexibility when it comes to accessing your own documents, whenever required. Most importantly, this functions as a storage+ model, wherein you have the option not only of storage, but of additional "service" towards your documents, as required.</span>
					</td>
				</tr>
				<tr style="width:592px;border-spacing: 0;">
					<td style="border-top: 0;font-size: 20px;color: #fff;font-weight: bold;padding: 5%;"><%= image_tag "#{@base_url}/assets/new_images/thankyoumail_images/track.png" %>
						<span  style="font-size: 25px;margin-left: 2%;">Track your order  </span><br>
					    <span style="text-align: justify !important;font-size: 12px;font-weight: 500;line-height: 0px;">You would be able to track the different stages of your documentation process, on our website or apps. This is one of Docket's premium services that ensures all the necessary documents are in place at any moment. This service gives you the leverage of understanding all the details required regarding delivery timings, payments, offers and to apply for documents like Bonds, Agreements, Registrations, Deeds and Affidavits.</span>
					</td>
				</tr>
			</tbody>
			<tbody style="background-color: #F3FAF8; width:592px;border-spacing: 0;">
				<tr style="padding: 2%;height: 60px;border-top: 0;width: 592px;float: left;border-spacing: 0;">
					<td style="border-top: 0;width:68%;border-spacing: 0;">
                        <ul style="list-style: none;display: inline-block;margin: 0 -10%;font-weight: bold;">	
                        	<a href="about_us" title="" style="color: #000; text-decoration: none;"><li style="display: inline-block;">About</li></a>
							<a href="helpcenter" title="" style="color: #000; text-decoration: none;"><li style="display: inline-block;margin-left: 6px;">Help</li></a>
							<a href="contact_us" title="" style="color: #000; text-decoration: none;"><li style="display: inline-block;margin-left: 6px;">Contact</li></a>
							<a href="terms" title="" style="color: #000; text-decoration: none;"><li style="display: inline-block;margin-left: 6px;">Terms</li></a>
							<a href="privacy" title="" style="color: #000; text-decoration: none;"><li style="display: inline-block;margin-left: 6px;">Privacy</li></a>
                        </ul>
					</td>
					<td style="list-style: none;margin: -25% auto; width:33%;border-spacing: 0;">
 						<ul  style="list-style: none;display: inline-block;margin: -3% auto;">
 							<a href="https://www.facebook.com/pages/Docket-Tech-Solutions-Private-Limited/503043613211567"><li style="display: inline-block;"><%= image_tag "#{@base_url}/assets/social/facebook.png", :style => "border-radius: 100%;" %></li></a>
 							<a href="https://twitter.com/dockettech"><li style="display: inline-block;margin-left: 4px;"><%= image_tag "#{@base_url}/assets/social/twitter.png", :style => "border-radius: 100%;" %></li></a>
 							<a href="https://plus.google.com/u/0/104833829409330467550/posts"><li style="display: inline-block;margin-left: 4px;"><%= image_tag "#{@base_url}/assets/social/googlef.png", :style => "border-radius: 100%;" %></li>
 							</a>
 						</ul>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
 		<script src=""></script>
	</body>
</html>