<%= simple_form_for(@payment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :mihpayid %>
    <%= f.input :mode %>
    <%= f.association :status %>
    <%= f.input :amount %>
    <%= f.input :hash %>
    <%= f.input :pg_type %>
    <%= f.input :bank_ref_num %>
    <%= f.input :bankcode %>
    <%= f.input :name_on_card %>
    <%= f.input :cardnum %>
    <%= f.input :payuMoneyId %>
    <%= f.input :discount %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
