<p id="notice"><%= notice %></p>

<h1>Listing Payments</h1>

<table id='myPaymentsTable' class='table table-bordered'>
  <thead>
    <tr>
      <th>Txnid</th>
      <th>Date(dd/mm/yy)</th>
      <!-- <th>First Name</th> -->
      <!-- <th>Last Name</th> -->
      <th>Email</th>
      <th>Phone</th>
      <!-- <th>Mihpayid</th> -->
      <!-- <th>Mode</th> -->
      <th>Status</th>
      <th>Amount</th>
      <th>Pg type</th>
      <th>Bank Ref Num</th>
      <th>Bank code</th>
      <!-- <th>Name on Card</th> -->
      <!-- <th>Cardnum</th> -->
      <!-- <th>Payumoneyid</th> -->
      <th>PayU Status</th>
      <!-- <th>Hash</th> -->
      <!-- <th>Discount</th> -->
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.txnid %></td>
        <td><%= payment.created_at.strftime('%d-%b-%Y') %></td>
        <!-- <td><%#= payment.first_name %></td> -->
        <!-- <td><%#= payment.last_name %></td> -->
        <td><%= payment.email %></td>
        <td><%= payment.phone %></td>
        <!-- <td><%#= payment.mihpayid %></td> -->
        <!-- <td><%#= payment.mode %></td> -->
        <td><%= payment.status.name if payment.status %></td>
        <td><%= payment.amount %></td>
        <td><%= payment.pg_type %></td>
        <td><%= payment.bank_ref_num %></td>
        <td><%= payment.bankcode %></td>
        <!-- <td><%#= payment.name_on_card %></td> -->
        <!-- <td><%#= payment.cardnum %></td> -->
        <!-- <td><%#= payment.payuMoneyId %></td> -->
        <td><%= payment.payu_status %></td>
        <!-- #<td><%#= payment.secret_hash %></td> -->
        <!-- <td><%#= payment.discount %></td> -->
        <td><%= link_to 'Show', payment %></td>
        <!-- <td><%#= link_to 'Edit', edit_payment_path(payment) %></td> -->
        <!-- <td><%#= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @payments %>
<%= link_to 'New Payment', new_payment_path, class: 'payment' %>

<style>
  a.payment {
      background-color: #024448;
      padding: 10px;
      color: #fff;
  }
</style>
<script>
    $(function(){
      $("#myPaymentsTable").tablesorter();
    });
</script>
