<p id="notice"><%= notice %></p>

<p>
  <strong>Mihpayid:</strong>
  <%= @payment.mihpayid %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @payment.mode %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment.status %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Hash:</strong>
  <%= @payment.hash %>
</p>

<p>
  <strong>Pg type:</strong>
  <%= @payment.pg_type %>
</p>

<p>
  <strong>Bank ref num:</strong>
  <%= @payment.bank_ref_num %>
</p>

<p>
  <strong>Bankcode:</strong>
  <%= @payment.bankcode %>
</p>

<p>
  <strong>Name on card:</strong>
  <%= @payment.name_on_card %>
</p>

<p>
  <strong>Cardnum:</strong>
  <%= @payment.cardnum %>
</p>

<p>
  <strong>Payumoneyid:</strong>
  <%= @payment.payuMoneyId %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @payment.discount %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
