<p id="notice"><%= notice %></p>

<h1>Listing Addresses</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Locality</th>
      <th>City</th>
      <th>Landmark</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>Tag</th>
      <th>Status</th>
      <th>User</th>
      <th>Pincode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.locality_id %></td>
        <td><%= address.city_id %></td>
        <td><%= address.landmark %></td>
        <td><%= address.address1 %></td>
        <td><%= address.address2 %></td>
        <td><%= address.tag %></td>
        <td><%= address.status_id %></td>
        <td><%= address.user_id %></td>
        <td><%= address.pincode %></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @addresses %>
<%= link_to 'New Address', new_address_path %>
