<p id="notice"><%= notice %></p>

<p>
  <strong>Locality:</strong>
  <%= @address.locality_id %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city_id %>
</p>

<p>
  <strong>Landmark:</strong>
  <%= @address.landmark %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @address.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @address.address2 %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @address.tag %>
</p>

<p>
  <strong>Status:</strong>
  <%= @address.status_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @address.user_id %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @address.pincode %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
