<%= simple_form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %>  prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %><%= @type %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :role_type %>
    <%= f.input :parent_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'create' %>
  </div>
<% end %>


<style>
  input.btn.create {
      background-color: #022E48;
      color: #fff;
      height: 37px;
      margin-top: 2em;
      margin-bottom: 2em;
      border-radius: 0;
      margin-left: 0;
  }

</style>
