<p id="notice"><%= notice %></p>
<div id="errors">
  <%= @errors %>
</div>

<%  unless @role.nil? %>
  <p>
    <b>Name:</b>
    <%= @role.name %>
  </p>

  <p>
    <b>Type:</b>
    <%= @role.role_type %>
  </p>

  <p>
    <b>Parent:</b>
    <%= @role.parent.name rescue nil %>
  </p>


  <%= link_to 'Edit', edit_role_path(@role) %> |
<% end %>
<%= link_to 'Back', roles_path %>
