<%= form_for(@country) do |f| %>
  <% if @country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% @country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url_name %><br>
    <%= f.text_field :url_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<style>
  input[type="submit"] {
      background-color: #024448;
      height: 32px;
      color: #fff;
      border-radius: 0;
      margin-left: 0;
      margin-bottom: 2em;
      border: none;
  }
</style>
