<p id="notice"><%= notice %></p>

<h1>Listing Countries</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td><%= country.url_name %></td>
        <td><%= link_to 'Show', country %></td>
        <td><%= link_to 'Edit', edit_country_path(country) %></td>
        <td><%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @countries %>
<%= link_to 'New Country', new_country_path, class: 'new-country' %>

<style>
  a.new-country {
      background-color: #024448;
      padding: 10px;
      color: #fff;
  }
</style>
