<div class="container-fluid about-page">
	<div class="row clearfix">
			<div class="row clearfix">
				<div class="col-md-6 about-bg">
				
				</div>
				<div class="col-md-6">	
					<center><h2>ABOUT US</h2></center>
					<hr></hr>
				</div>
			</div>
	</div>
</div>
<style>
.about-bg
{
	background-image: image-url('/notary.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
}


</style>