<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Welcome Email</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style>
			body{
				font-family: 'PFBeauSansPro' !important;
			}
			@font-face {
			  font-family: 'PFBeauSansPro' !important;
			  src: url("/assets/PFBeauSansPro.ttf") format('truetype');
			  font-weight: thin;
			  font-style: normal;
			}

			@font-face {
			  font-family: 'PFBeauSansPro' !important;
			  src: url("/assets/PFBeauSansProa.ttf") format('truetype');
			  font-weight: thin;
			  font-style: normal;
		}
		</style>
	</head>
	<body style="margin: 0 auto;padding: 0;max-width: 650px;font-size: 14px;background-size: cover;font-weight: thin !important;font-family: 'PFBeauSansPro';"> 
		<table style="font-size:10px ;">
			<table class="table table-inverse">
			  <thead>
			    <tr>
			      <th>
			      	<img src= "asstes/logohome.png" style="width: 80px; height: 80px;" %>
			      </th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td></td>
			    </tr>
			    <tr>
			      <td></td>
			    </tr>
			    <tr>
			      <td></td>
			    </tr>
			  </tbody>
			</table>
		</table>	
	</body>
</html>