<p id="notice"><%= notice %></p>

<h1>Listing Orders Details</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders_details.each do |orders_detail| %>
      <tr>
        <td><%= orders_detail.name %></td>
        <td><%= orders_detail.email %></td>
        <td><%= orders_detail.mobile %></td>
        <td><%= orders_detail.order_id %></td>
        <td><%= link_to 'Show', orders_detail %></td>
        <td><%= link_to 'Edit', edit_orders_detail_path(orders_detail) %></td>
        <td><%= link_to 'Destroy', orders_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detail', new_orders_detail_path %>
