<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @orders_detail.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @orders_detail.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @orders_detail.mobile %>
</p>

<p>
  <strong>Order:</strong>
  <%= @orders_detail.order_id %>
</p>

<%= link_to 'Edit', edit_orders_detail_path(@orders_detail) %> |
<%= link_to 'Back', orders_details_path %>
