<p id="notice"><%= notice %></p>

<h1>Listing Cities</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url name</th>
      <th>State</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.url_name %></td>
        <td><%= city.state_id %></td>
        <td><%= city.status_id %></td>
        <td><%= link_to 'Show', city %></td>
        <td><%= link_to 'Edit', edit_city_path(city) %></td>
        <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @cities %>
<%= link_to 'New City', new_city_path, class: 'new-city' %>

<style>
  a.new-city {
      background-color: #024448;
      padding: 10px;
      color: #fff;
  }
</style>
