<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Url name:</strong>
  <%= @city.url_name %>
</p>

<p>
  <strong>State:</strong>
  <%= @city.state_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @city.status_id %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
