<%= form_for(@documents_questions_option) do |f| %>
  <% if @documents_questions_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@documents_questions_option.errors.count, "error") %> prohibited this documents_questions_option from being saved:</h2>

      <ul>
      <% @documents_questions_option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.text_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.number_field :priority %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
