<p id="notice"><%= notice %></p>

<h1>Listing Documents Questions Options</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Question</th>
      <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents_questions_options.each do |documents_questions_option| %>
      <tr>
        <td><%= documents_questions_option.name %></td>
        <td><%= documents_questions_option.question_id %></td>
        <td><%= documents_questions_option.priority %></td>
        <td><%= link_to 'Show', documents_questions_option %></td>
        <td><%= link_to 'Edit', edit_documents_questions_option_path(documents_questions_option) %></td>
        <td><%= link_to 'Destroy', documents_questions_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @documents_questions_options %>

<%= link_to 'New Option', new_documents_questions_option_path %>
