<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @documents_questions_option.name %>
</p>

<p>
  <strong>Question:</strong>
  <%= @documents_questions_option.question_id %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @documents_questions_option.priority %>
</p>

<%= link_to 'Edit', edit_documents_questions_option_path(@documents_questions_option) %> |
<%= link_to 'Back', documents_questions_options_path %>
