.footer_style{
  position: relative;
  background-color:#000; 
  color: gray;
  width: 100%;
  
  .footer_wrap{
      width: 83%;
      margin: 0 auto 0 15%;
      padding: 5% 0 0;
  }
 
  ul.service_ul{

  }
  ul a{
    color: gray;
    text-decoration: none;
  }
  ul a li{
      list-style: none;
      line-height: 2em;
  }
  ul a li:hover{
      list-style: none;
      line-height: 2em;
      color: #fff;
      cursor: pointer;
  }
  p.txt-head {
      text-align: left;
      font-size: 1.8em;
      line-height: 3em;
    }
  p.txt-head2{
    margin: 90px;
  }
  .social_icon{
    border: 5px solid gray;
    border-radius: 100%;
    background-color: gray;
    color: #000;
    font-size: 20px;
    position: relative;
  }
  hr.hr_style {
      color: gray;
      line-height: 1em;
      width: 60%;
      position: relative;
      text-align: center;
      padding: 0 0 30px 0px;
      margin: 0 auto;
      top: -22px;
  }
  // .up_icon{
  //   color: #fa1422;
  //   text-align: center;
  //   margin: 0 50%;
  //   font-size: 40px;
  //   top: 20px;
  //   position: relative;

  // }
  p.p_style{
    padding-bottom: 20px;
  }
  i.style {
      height: 1em;
      min-width: 25px;
      text-align: center;
  }
  li.social{
    position: relative;
    margin: 0 55px;
    top: -30px;
  }
  li.social:hover{
    position: relative;
    margin: 0 55px;
    top: -30px;
    color: #fff;
    cursor: pointer;
  }
  .arrow_up{
    text-align: center;
    margin: 0 50%;
    height: 60px;
    border-radius: 100%;
    cursor: pointer;
    color: #fa1422;
}

.arrow_up i {
    font-size: 4rem;
    line-height: 1.5;
}
}

@media all and (max-width: 680px){
  .footer_style p.txt-head2 {
      margin: 85px;
  }
  .footer_style .footer_wrap {
    width: 100%;
    margin: 0 auto 0 0%;
    padding: 5% 0 0;
  }
}