.gst{
    input:focus,textarea:focus{
        padding-left: 10px;
        outline: none;
    }
    textarea:focus{
        padding-top: 10px;
    }
    ul li{
        margin-top: 3%;
    }
    ul {
      list-style: none;
      list-style-position: outside;
      list-style-image: image-url('/assets/gst_registration/bullet.png');
    }
    .nav-bg {
            background: linear-gradient(90deg, #d5bd85 50%, #3c3c54 50%);
    }
    .logo-mobile{
        display: none;
    }
    .logo-pc{
        display: block;
    }
    .nav-color{
        color:#fff!important;
        font-size:14px;
    }
    /*li span { position: relative; left: -10px; }*/

    @media only screen and (max-width: 760px) {
        /* For mobile phones: */
        .nav-bg {
            background:#d5bd85 ;
            
        }
        .logo-mobile{
            display: block;
            height: 60px;

        }
        .logo-pc{
            display: none;
        }
        .navbar-height{
            height: 110px;
        }
        .mobile-nav{
            margin-top: 9%;
        }
        div{
            border: none;
        }
        .nav-color{
            color:#3c3c54!important;
            font-size:14px;
            opacity: 1;
            font-weight: bold;
            
        }
        .li-right{
            margin-right: 10px;
            text-align: right;
        }
    }
}