.gst-compliance{
	background: white;
	ul li{
	    margin-top: 3%;
	}
	ul {
	  list-style: none;
	  list-style-position: outside;
	  /*list-style-image: image-url("/assets/gst_compliance/bullet.png");*/
	}
	select{
		border: 1px solid #ccc;
	}

	.navbar.nav-bg,#home{
	    background: transparent !important;
	}
	.display-true{
    	display: block;
	}
	.display-false{
    	display: none;
	}
	#home1{
		background: image-url('gst_compliance/Main_Banner.jpg') no-repeat; 
		background-size: cover;
		height:100vh; 
		width:100%; 
		margin-top: -120px;
	}
	.contact_form,#question_form{
		width:80%; 
		margin-left:10%;
	}
	.contact_form1{
		margin-top: 5vh;
	}
	.logo-mobile{
	    display: block;
	}
	.logo-pc{
	    display: block;
	}
	.nav-color{
	    color:#280b12!important;
	    font-size:14px;
	}

	.font-16{
	    font-size: 16px!important;
	}
	.font-18{
	    font-size: 18px!important;
	}
	.font-14{
	    font-size: 14px!important;
	}
	.font-24{
	    font-size: 24px!important;
	}
	.font-25{
	    font-size: 25px!important;
	}
	.font-22{
	    font-size: 22px!important;
	}
	.font-35{
	    font-size: 35px!important;
	}
	.font-30{
	    font-size: 30px!important;
	}
	b{
		font-size: inherit!important;
	}
	/* Style the tab */
	div.tab {
	    overflow: hidden;
	    border:none;
	    /* background-color: #494949; */
	    color:#9f9e9e;
	   
	}

	/* Style the buttons inside the tab */
	div.tab button {
	    background-color: inherit;
	    float: left;
	    border: none;
	    outline: none;
	    cursor: pointer;
	     padding: 14px 5%; 
	    transition: 0.3s;
	    font-size: 17px;
	    height:15vh;
	    /* margin-top:2vh; */
	    border-right: 1px solid #fff;
	}



	/* Change background color of buttons on hover */
	div.tab button:hover {
	    background-color: #fff;
	    color:#494949;
	}

	/* Create an active/current tablink class */
	div.tab button.active {
	   color: #fff;
	}
	div.tab button.active:hover {
	   color: #494949;
	}

	/* Style the tab content */
	.tabcontent {
	    display: none;
	    padding: 6px 12px;
	    -webkit-animation: fadeEffect 2s;
	    animation: fadeEffect 2s;
	}

	.text11{
	    -webkit-animation: movein 2s;
	    animation: movein 2s;
	}
	.no-bold{
	    font-weight: 400!important;
	}
	.textrr{
	    -webkit-animation: moveinrr 2s;
	    animation: moveinrr 2s;
	}
	.m-display{
	        display: none;
	}

	.d-true{
	    display: block!important;
	}
	.d-false{
	    display: none!important;
	}
	/* Move in tabs */
	@-webkit-keyframes moveinrr {
	    from {margin-left: 150%; }
	    to {margin-left: 50%;}
	}

	@keyframes moveinrr {
	    from {margin-left: 150%; }
	    to {margin-left: 50%;}
	}

	/* Move in tabs */
	@-webkit-keyframes movein {
	    from {margin-left: -50%; }
	    to {margin-left: 0%;}
	}

	@keyframes movein {
	    from {margin-left: -50%; }
	    to {margin-left: 0%;}
	}

	/* Fade in tabs */
	@-webkit-keyframes fadeEffect {
	    from {opacity: 0; }
	    to {opacity: 1;}
	}

	@keyframes fadeEffect {
	    from {opacity: 0;}
	    to {opacity: 1;}
	}


	.request_top:hover{
	    background: #e19e8a!important;
	    color: #fff!important;
	}
/*li span { position: relative; left: -10px; }*/

}
@media only screen and (max-width: 760px) {
    /* For mobile phones: */
 	.gst-compliance{
	    .logo-mobile{
	        display: block;
	        height: 60px;

	    }
	    .m-logo{
	        position:absolute; 
	        top:-9%; 
	        height: 130px!important; 
	    }
	    .pink-bg{
	        background: brown;
	    }
	    .m-display{
	        display: block;
	    }
	    .m-width-100{
	        width: 100%!important;
	    }
	    .text-dec-none{
	        text-decoration: none!important;
	    }
	    .padding-10p{
	        padding: 10px;
	    }
	    .m-button{
	        width: 50%!important;
	        margin-left: 25%;
	        margin-right: 25%;
	        margin-bottom: 5%;
	    }
	    .logo-pc{
	        display: none;
	    }
	    .navbar-height{
	        height: 110px;
	    }
	    .mobile-nav{
	        margin-top: 9%;
	    }
	    div{
	        border: none;
	    }
	    .margin-0{
	        margin-top:0;
	        /* height: 90vh; */
	        padding-top:3vh;
	    }
	    .nav-color{
	        color:white!important;
	        font-size:14px;
	        opacity: 1;
	        font-weight: bold;
	        
	    }
	    .li-right{
	        margin-right: 10px;
	        text-align: right;
	    }
 	}

}