.searchbox{
    position:relative;
    min-width:50px;
    width:0%;
    height:50px;
    float:right;
    overflow:hidden;
    
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-input{
    top:0;
    right:0;
    border:0;
    outline:0;
    background:#dcddd8;
    width:100%;
    height:50px;
    margin:0;
    padding:0px 55px 0px 20px;
    font-size:20px;
    color:red;
}
.searchbox-input::-webkit-input-placeholder {
    color: #d74b4b;
}
.searchbox-input:-moz-placeholder {
    color: #d74b4b;
}
.searchbox-input::-moz-placeholder {
    color: #d74b4b;
    
}
.searchbox-input:-ms-input-placeholder {
    color: #d74b4b;
}

.searchbox-icon,
.searchbox-submit{
    width:50px;
    height:50px;
    display:block;
    position:absolute;
    top:0;
    font-family:verdana;
    font-size:16px;
    right:0;
    padding:0;
    margin:0;
    border:0;
    outline:0;
    line-height:50px;
    text-align:center;
    cursor:pointer;
    color:#dcddd8;
    background:#000;
}

.searchbox-open{
    width:320px;
}
.affix {
      top: 0;
      width: 100%;
      z-index: 1!important;
    overflow-x: hidden!important;

  }

  .affix + .container-fluid {
     
      
  }
  .header_bg{
     background-image: image-url('new_home_page/header_img.jpg');
    -webkit-background-size:cover;
    background-size:cover;
}
.header_style{
	width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 1;
     overflow-x: hidden!important;
}

.track{
    background-image: image-url('new_home_page/tracking.png');
    background-repeat: no-repeat;
    height: 50px;
    cursor: pointer;
}

.track:hover{
    background-image: image-url('new_home_page/mouse_hover/tracking.png');
    background-repeat: no-repeat;
    height: 50px;
}

.order{
    background-image: image-url('new_home_page/orders.png');
    background-repeat: no-repeat;
    height: 50px;
    cursor: pointer;
}

.order:hover{
    background-image: image-url('new_home_page/mouse_hover/orders.png');
    background-repeat: no-repeat;
    height: 50px;
}

.vault{
    height: 50px;
    cursor: pointer;
}

.vault:hover{
    height: 50px;
}

.account{
    background-image: image-url('new_home_page/account.png');
    background-repeat: no-repeat;
    height: 50px;
    cursor: pointer;
}

.account:hover{
    background-image: image-url('new_home_page/mouse_hover/account.png');
    background-repeat: no-repeat;
    height: 50px;
}

ul.header_icon {
    list-style: none;
    color: #fff;
    vertical-align: middle;
    display: inline-block;
    width: 43%;
    position: relative;
    line-height: 16;
    height: 150px;
    white-space: nowrap;
}

ul.header_icon li {
    display: inline-block;
    position: relative;
    width: 15%;
    font-size: 14px;
    font-weight: 100;
    margin: 0 auto;
    min-width: 80px;
}
ul.header_icon li a{
    color: gray;
    text-decoration: none;
}
ul.header_icon li a:hover, a:focus {
    color: #fff;
}

ul.header_icon li p {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 2;
    left: 30px;
}

.header_bg .input_wrap {
    width: 33%;
    min-width: 300px;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    height: 60px;
}
.header_bg.tt-suggestion.tt-selectable {
    background: #ebebeb;
    width: 100%;
    text-align: left;
    padding: 6px 50px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid rgba(216, 216, 216, 0.6);
}
span.search_wrap {
    position: absolute;
    background: #fa1422;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    line-height: 2.4;
}

img.logo_icon {
    height: 100px;
    position: relative;
    top: 25px;
    margin-bottom: 35px;
    left: 60px;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {color: #fff;}

ul.topnav li.icon {display: none;}



@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

@media all and (min-width: 1025px) and (max-width: 1480px) { 

    .header_bg .input_wrap {
        width: 45%;
    }
    .tt-suggestion.tt-selectable {
        padding: 6px 88px;
    }

}
