.feature_document{
	background-image: image-url('new_home_page/feature_document.jpg');
	background-repeat: no-repeat;	
    background-position: center;
    background-attachment: fixed;
	.choose_section{
		margin: 0 auto;
		text-align: center;
		width: 100%
	}
	hr.style{
	    min-width: 5%;
	    height: 2px;
	    color: #fa1422 !important;
	    background-color: #fa1422 !important;
	    position: relative;
	    text-align: center;
	    width: 5%;
	    margin: 0 auto;
	}
	p.style_para{
	    color: #fff;
	    width: 50%;
	    text-align: center;
	    margin: 0 auto;
	}
	ul.choose-type {
	    margin: 0 auto;
        text-align: center;
        position: relative;
        /* padding: 0%; */
        width: 100%;
	}
	ul li.box {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        padding: 2% 4% 2% 4%;
        max-width: 25%;
        min-width: 353px;
    }
    .box .overbox {
    	background-color: rgba(250, 20, 34, 0.85);
        position: absolute;
        top: 0;
        color: #fff;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
        opacity: 0;
        bottom: 0;
        min-width: 330px;
        width: 70%;
        max-height: 88px;
        margin: 27% auto;
    }

    .box:hover .overbox { opacity: 1; }

    .box .overtext {
       -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
       -o-transition: all 300ms ease-out;
       -ms-transition: all 300ms ease-out;
       transition: all 300ms ease-out;
       transform: translateY(40px);
       -webkit-transform: translateY(40px);
    }
    button.btn.btn-default.order_btn {
	    border: 1px solid #fff;
	    background: transparent;
	    color: #fff;
	    border-radius: 0;
	    text-align: center;
	    margin: 5% 0 0;
	    font-size: 1.5em;
	    font-weight: bold;
	    padding: 4%;
	    width: 70%;
	    min-width: 146px;
    }
    

}
.testimonial{
	background-image: image-url('new_home_page/testimonial.jpg');
	background-repeat: no-repeat;	
    background-position: center;
    background-attachment: fixed;
		.testimonial_wrap{
			width: 100%;
			margin: o auto;
			text-align: left;
	}

	.testimonial_style{
	    width: 90%;
	    margin: 0 auto;
	    padding: 8%;
	}
    .testimonial_content
    {
        margin: 4% auto;
        text-align: left;
    }
    h1.first{
        font-size: 4rem;
        font-weight: normal;
        line-height: 10px;
    }  
    h1.second{
        font-size: 4rem;
        font-weight: 600;
    }
    .para_style{
        width: 70%
    }
    .button_style {
        width: 5%;
        position: absolute;
        margin: 0 90%;
        min-width: 50px;
    }
    .carousel-inner > .item {
        background-color: transparent;
        border-style: none;
    }
    span.glyphicon.glyphicon-chevron-left {
        color: #000;
        position: relative;
        margin: 0 auto;
        font-size: 2rem;
        padding: 5px;
    }
    span.glyphicon.glyphicon-chevron-left:hover {
        color: #fff;
        position: relative;
        margin: 0 auto;
        background:  #fa1422;
    }
    span.glyphicon.glyphicon-chevron-right {
        color: #000;
        position: relative;
        margin: 0 auto;
        font-size: 2rem;
        padding: 5px;
    }
    span.glyphicon.glyphicon-chevron-right:hover {
        color: #fff;
        position: relative;
        margin: 0 auto;
        background:  #fa1422;
    }
    .client{
        color: #fa1422;
        font-size: 2rem;
    }

}


.main_banner{
    background-image: image-url('new_home_page/main_banner.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.row.main_banner img {
    padding-top: 4em;
}

h1.main_head {
    font-size: 2.8rem;
    font-weight: 300;
    padding-top: 12rem;
}

h1.second_head{
    font-weight: bold;
    line-height: 1.5;
    font-size: 3rem;
}

.input_wrap,
{
    width: 24%;
    min-width: 300px;
    margin: 10% auto 0;
    position: relative;
}
span.twitter-typeahead {
    width: 100%;
}
.tt-suggestion.tt-selectable {
    background: #ebebeb;
    width: 100%;
    text-align: left;
    padding: 6px 80px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid rgba(216,216,216,0.6);
}
input.search_txt {
    height: 50px;
    width: 100%;
    padding: 6px 28px;
    display: inline-block;
    border: 1px solid #AAABAB;
    background: transparent;
    text-align: left;
}

span.search_icon {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    background: #fa1422;
    width: 50px;
    height: 50px;
    color: #fff;
    cursor: pointer;
}

span.search_icon i {
    line-height: 2.4;
    font-size: 2rem;
}

.arrow_down {
    border: 1px solid #AAABAB;
    width: 60px;
    height: 60px;
    margin: 3% auto;
    border-radius: 100%;
    cursor: pointer;

}

.arrow_down i {
    font-size: 4rem;
    line-height: 1.5;
    color: #fa1422;
}
.who_we_are{
    background-image: image-url('new_home_page/who_we_are.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    // background-size: 100%;
}

h1.tagline {
    margin: 6% 0 4%;
}

hr.custom_line {
    border-top: 4px solid #fa1422;
    width: 5%;
    margin: 0 auto;
}

p.para_txt {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 6%;
    line-height: 2.8rem;
}

.txt_black{
    color: #000;
}

.txt_white{
    color: #ffffff;
}

.services{
    background-image: image-url('new_home_page/services.jpg');
    // background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 4%;
    background-attachment: fixed;
    background-position: center;

}
.para {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 0%;
    line-height: 2.8rem;
}
.para.txt_white{
  color: #c1c1c1;
}   

#images{
    max-width: 80%;
    margin: 0 auto 0 12%;
    min-width: 340px;
    padding: 2%;
}

#images .icon_image {
    float: left;
    width: 20%;
    min-width: 150px;
    height: auto;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    margin: 10px 0px 20px 40px;
    padding: 4%;
    cursor: pointer;
   a {
        color: #000;
        text-decoration: none;
    }
     a:hover{
        color: #fff;
        text-decoration: none;
    }
}

#images .icon_image:hover {
    background: #fa1422;
    color: #ffffff;
}

.icon_image h4 {
    font-weight: 400;
    font-size: 15px;
}

.how_we_work{
    background: #ebebeb;
    .carousel-inner > .item > img,
      .carousel-inner > .item > a > img {
          width: 70%;
          margin: auto;
      }
    .carousel-control.left {
        background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
        background: transparent;
    }
    .carousel-inner > .item > h1
    {
        font-size: 3rem;
        padding: 0 0 2%;
        text-transform: uppercase;
    }
    .carousel-inner > .item {
        background-color: transparent;
        border-style: none;
    }

    span.glyphicon.glyphicon-chevron-left {
        color: #fa1422;
    }
    span.glyphicon.glyphicon-chevron-right {
        color: #fa1422;
    }
    .carousel-control.right {
        left: auto;
        right: 0;
        background: transparent;
    }
    .carousel-control {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 15%;
        opacity: 0.5;
        filter: alpha(opacity=50);
        font-size: 20px;
        text-align: center;
    }
    .carousel-indicators {
        z-index: 1;
    }
    .carousel-inner {
        position: relative;
        overflow: hidden;
        width: 100%;
        margin: 0 0%;
    }
}

img.img-responsive.work_img {
    max-width: 80%;
    margin: 0 auto;
}

@media all and (max-width: 700px){
    .row.main_banner img {
        padding-top: 1em;
        width: 140px;
    }
    .input_wrap {
        margin: 0% auto 0;
    }
    h1.main_head {
        font-size: 2rem;
        padding-top: 1rem;
    }
    h1.second_head {
        font-size: 2rem;
    }
    
    p.para_txt {
        width: 100%;
    }
    #images {
        padding: 0px;
        left: 0;
        margin: 0 auto!important;
    }
    .feature_document ul.choose-type {
        margin: 0 -15px;
        padding: 0%;
        min-width: 320px;
    }
    .feature_document ul li.box {
        padding: 10px;
        max-width: 20%;
        min-width: 320px;
    }
    .feature_document ul li.box img {
        width: 80% !important;
        margin: 0 auto;
    }
    .feature_document .box .overbox {
        top: 0;
        bottom: 0;
        height: auto;
        margin: 22% 9%;
        min-width: 243px;
    }
    .feature_document button.btn.btn-default.order_btn {
        padding: 2%;
    }
    .feature_document p.style_para {
        width: 100%;
    }
    .feature_document ul li.box img {
        width: 100%;
    }
    section#section02 {
        padding-top: 0px;
    }
    hr.custom_line {
        border-top: 4px solid #fa1422;
        width: 20%;
        margin: 0 auto;
    }
    .para {
        width: 100%;
    }
    .testimonial .para_style {
        width: 100%;
    }
    .testimonial h1.first {
    font-size: 3rem;
    }
    .testimonial h1.second {
    font-size: 3rem;
    }


}
.more-content {display:none;}
.visible {display:block;}

@media all and (min-width: 1025px) and (max-width: 1480px) { 
    h1.main_head {
        padding-top: 2rem;
    }
    .input_wrap {
        width: 33%;
        margin: 2% auto 0;
    }
    .tt-suggestion.tt-selectable {
        padding: 6px 90px;
    }
    .arrow_down {
        height: auto!important;
        margin: 1% auto;
    }
    h1.tagline {
        margin: 8% 0 2%;
    }
    p.para_txt {
        width: 60%;
        padding-bottom: 8%;
    }
    #images {
        max-width: 100%;
        margin: 0 auto 0 8%;
        min-width: 340px;
        padding: 3%;
    }
    .feature_document .box .overbox {
        background-color: rgba(250, 20, 34, 0.85);
        margin: 31% auto;
    }
    .testimonial .testimonial_content {
        margin: 7% auto 0 10%!important;
        text-align: left;
    }
}
@media all and (min-width: 768px) and (max-width: 1024px){

    .input_wrap {
        width: 50%;
    }
    .header_bg .input_wrap {
        width: 18%;
        min-width: 340px;
        margin: 20px auto;
        height: 20px;
    }
    ul.header_icon {
        width: 53%;
        line-height: 12;
        height: 115px;
    }
    ul.header_icon li {
        width: 15%;
        min-width: 80px;
        right: 30px;
    }
    img.logo_icon {
        top: 40px;
        margin-bottom: 35px;
        left: 0;
        width: 80px;
        height: 80px;
    }
    
    p.para_txt {
        width: 100%;
    }
}

  @media only screen and (min-width: 1917px) and (max-width: 1921px) {
    #section02 {
            margin: -50px!important;
    }
    .affix {
        width: 103%!important;
        overflow: hidden!important;
    }
    .feature_document .box .overbox {
        margin: 26% auto!important;
    }
}