.modal-content.offer_body {
	position: relative;
    width: 94%;
    margin: 19% auto;
    height: auto;
    padding: 0px 0px 0px 0px;
    .carousel-inner{
    	top: -30px;
	    left: 10px;
	    z-index: 0;
    }
    img
    {
    	
	    margin: -35px 0 -52px -12px;
	}
	button.btn.btn-secondary.close_btn {
	    float: right;
	    border: 2px solid #fff8f8;
	    position: relative;
	    font-size: 2rem;
	    border-radius: 100%;
	    cursor: pointer;
	    background: white;
	    z-index: 1;
	    left: -4px;
	    bottom: -10px;
	}
	button.btn.btn-default.know_more{
	    background: #fff;
	    color: red;
	    border-radius: 14px;
	    width: 33%;
	    font-size: 2rem;
	    font-weight: 600;
	    bottom: 100px;
	}
	button.btn.btn-default.know_more-company{
		background: #0c136e;
	    color: white;
	    border-radius: 25px;
	    width: 33%;
	    font-weight: 600;
	    bottom: 100px;
	    padding: 5px;
	    /* position: absolute; */
	    left: -160px;
	    top: -80px;
	    font-size: 25px;
	}
	button.btn.btn-default.know_more-llp{
		background: #4c4f80;
	    color: white;
	    border-radius: 25px;
	    width: 33%;
	    font-weight: 600;
	    bottom: 100px;
	    padding: 5px;
	    left: 115px;
	    top: -35px;
	    font-size: 25px;
	}
	button.btn.btn-default.know_more.offer-button{
		top: -250px;
	    border-radius: 0;
	    background: #795548;
	    color: white;
	}
	.carousel-indicators{
		bottom: -12px;
		li{
			border: 2px solid #e91e63;
		}
		& .active{
			background: #e91e63;
		}
	}
	
}
@media all and (min-width: 1025px) and (max-width: 1480px) { 
    .modal-content.offer_body {
        position: relative;
        width: 94%;
        margin: 0 auto;
        height: auto;
        padding: 0px 0px 0px 0px;
    }
   
}
@media all and (max-width: 700px){
	.modal-content.offer_body img {
	   margin: -51px 0 -47px -8px;
		width: 247px;
	}
	.modal-content.offer_body button.btn.btn-default.know_more {
	    width: 73%;
	    bottom: 30px;
	}
	.modal-content.offer_body button.btn.btn-secondary.close_btn {
	    font-size: 1rem;
	}
}