/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require jquery-ui
 *= require_tree ./external
 // *= require_tree ./home
 *= require ./material/material.min
 *= require login_popup
 *= require neworder
 *= require profile
 *= require comming_soon
 *= require_self
 *= require_tree ./new_css
 */
 
@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

*{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: thin !important;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  overflow-x: hidden;
}
body,*{  
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'PFBeauSansPro';
  src: url("PFBeauSansPro.ttf") format('truetype');
  font-weight: thin;
  font-style: normal;
}

@font-face {
  font-family: 'PFBeauSansPro';
  src: url("PFBeauSansProa.ttf") format('truetype');
  font-weight: thin;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:url('icomoon.eot');
  src:url('icomoon.eot?#iefix') format('embedded-opentype'),
    url('icomoon.woff') format('woff'),
    url('icomoon.ttf') format('truetype'),
    url('icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

#notification{
  display: none;
  z-index: 1111;
  color: white;
  height: 80px;
  position: absolute;
  text-align: center;
  margin: 0 2% 2%;
  width: 35%;
  padding: 25px;
  bottom: 0;
  font-size: 24px;
  z-index: 9999;
}
#notification.red{
  background-color: red;
}
#notification.green{
  background-color: #55A571;
}

// ###### dvault  file icons

.png{
  background: image-url('file/png.png')
}
.jpeg{
  background: image-url('file/jpg.png')
}
.jpg{
  background: image-url('file/jpg.png')
}
.doc{
  background: image-url('file/doc.png')
}
.docx{
  background: image-url('file/docs.png')
}
.pdf{
  background: image-url('file/pdf.png')
}
.png,.jpeg,.jpg,.doc ,.docx, .pdf{
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.modal-content {
    border-radius: 0;
}
.contaer_wrap{
  margin-right: auto;
    margin-left: auto;
    padding-left: 0px!important;
    padding-right: 15px;
}

/************ Footer BG *****************/
   
.footer_bg{
  position: relative;
  background-color:#1f1d1e; 
  color: #a59c9c;
  width: 100%;
  height: 800px;
  margin: 0;
  padding: 0;
  .section-padd{
   padding-left: 6em;
    padding-top: 1em;
    font-size: 15px;
  }
  h4.text-center.sub_head_style {
      color: rgb(121, 121, 121);
      letter-spacing: 1px;
      line-height: 1.5;
  }

  h3.line_style {
      position: absolute;
      top: 0em;
      right: 1em;
  }

  ul.list_wrapper {
      position: absolute;
      top: 4em;
      font-size: 18px;
  }

  ul.list_wrapper a {
      list-style: none;
      text-decoration: none;
      font-size: 14px;
      color: #a59c9c;
      cursor: pointer;
  }
  
  .content_wrapper {
      position: absolute;
      right: 4em;
      top: 8em;
  }
  .summary {
      position: relative;
      padding: 3em 6em 0em 6em;
      /* left: 5em; */
  }
  .social {
      padding: 7px 5px 5px 6px;
  }
  .objectivehr{
    position:relative;
    bottom:4em;
    color: #a59c9c!important;

  }
  .seconlasthr{
    position:relative;
    width:90%;
    left:6em;
    color: #a59c9c!important;
  }
  .lasthr{
    position: relative;
    top: 24em;
    width: 65%;
    /* left: 13em; */
    color: #a59c9c !important;
    margin: 0 auto;
  }
  p.txt-head{
    margin-top: 14px;
    font-size: 18px;
  }
  p.p_style {
      position: relative;
      top: 29em;
      text-align: center;
      font-size: 12px;
  }
  p.style_text{
    text-align:justify;
  }
  p.style_li{
    font-size: 18px;
  }
}
@media all and (min-width: 360px) and (max-width: 640px) {
  .footer_bg{
    nav.navbar.navbar-default.nav-home {
      background: transparent;
      top: 0em;
      padding: 1.5em;
      height: 110px;
      border: 0;
      z-index: 99999;
    }
    .navbar .navbar-brand {
      position: relative;
      height: 60px;
      line-height: 30px;
      color: inherit;
      top: -1.5em;
      z-index: 99999;
    }
    ul.nav.navbar-nav.nav-left {
      position: relative;
      top: -0.5em;
      font-size: 20px;
      border-left: 1px solid #858382;
      height: 90px;
      padding: 0.5em;
      color: #858382;
      z-index: 99999;
    }
    ul.nav.navbar-nav.navbar-right {
      position: relative;
      top: -0.5em;
      font-size: 20px;
      height: 90px;
      padding: 0.5em;
      color: #858382;
    }
  }
  #notification {
    height: 45px;
    margin: 8% 15%;
    width: 70%;
    padding: 15px;
    font-size: 12px;
  }
}
/************ Footer BG CSS Ends ********/

#footer{
  font-size: 12px;
}
.cookie-bar{
  position: fixed;
  bottom: 0;
  padding: 14px 10px;
  background: #4430308a;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #f5f5f2;
}