.comming_soon{
  background-image: image-url("about_banner.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  position: relative;
  top: 5em;
  nav.navbar.navbar-default.nav-home {
    background: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    border: 0;
    border-radius: 0;
    z-index: 99999;
  }

  a.navbar-brand {
    position: absolute;
    top: -0.5em;
  }
  ul.nav.navbar-nav.nav-left {
    position: relative;
    top: 1em;
    font-size: 15px;
    border-left: 1px solid #858382;
    height: 50px;
    padding: 0;
    color: #858382;
    left: 6em;
  }
  
  .nav-left li {
    position: relative;
    top: -0.5em;
  }

  ul.nav.navbar-nav.navbar-right {
    position: absolute;
    right: 1em;
  }
  .content-wrapper {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    position: relative;
    top: 36em;
  }

  h3.sub-head {
    position: relative;
    left: -6em;
    font-size: 50px;
  }
  h1.main-head {
      font-size: 50px;
  }
}  

@media only screen and (min-width: 1919px) and (max-width: 1921px) {
  .comming_soon h3.sub-head {
    margin-top: 14%;
  }
}
