.modal-content.modal_style {
	    background: transparent;
	    width: 420px;
	    border: 0;
	    margin: 0 auto;
	    box-shadow: none;
	}
.login_style{
	.modal {
	    display: none;
	    overflow: hidden;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    z-index: 1050;
	    -webkit-overflow-scrolling: touch;
	    outline: 0;
	    background: rgba(0, 0, 0, 0.8) !important;
	}

	
	.modal-dialog{
		width: 400px;
	}

	.login-bg {
	    background-image: image-url("login_signup.png") !important;
	    height: 521px;
	    width: 100% !important;
	    background-repeat: no-repeat;
	    margin: 0 auto !important;
	}

	.login__icon {
	  display: inline-block;
	  width: 2rem;
	  height: 2rem;
	  overflow: visible;
	}

	.login__icon.svg-icon {
	  cursor: pointer;
	}

	.login__icon.svg-icon path {
	  stroke: rgba(121, 121, 121, 0.9);
	  fill: none;
	  stroke-width: 0.5;
	}

	input, button {
	  outline: none;
	  border: none;
	}

	.cont {
	  position: relative;
	  height: 100%;
	  /*background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/slider-2.jpg");*/
	  background-size: cover;
	  overflow: auto;
	  font-family: "Open Sans", Helvetica, Arial, sans-serif;
	}

	.login {
	  position: relative;
	  height: 100%;
	  /*background: linear-gradient(to bottom, rgba(146, 135, 187, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);*/
	  transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
	  transform: scale(1);
	}

	.login.inactive {
	  opacity: 0;
	  transform: scale(1.1);
	}

	.login__check {
	  position: absolute;
	  top: 11rem;
	  left: 13.5rem;
	  width: 14rem;
	  height: 2.8rem;
	  background: #fff;
	  transform-origin: 0 100%;
	  transform: rotate(-45deg);
	}

	.login__check:before {
	  content: "";
	  position: absolute;
	  left: 0;
	  bottom: 100%;
	  width: 2.8rem;
	  height: 5.2rem;
	  background: #fff;
	  box-shadow: inset -0.2rem -2rem 2rem rgba(0, 0, 0, 0.2);
	}

	.login__form {
	    left: 0;
	    width: 100%;
	    /* height: 100%; */
	    padding: 2em;
	    text-align: center;
	    background: transparent;
	    width: 340px;
	    cursor: pointer;
	    position: absolute;
	    top: 8.5em;
	}

	.login__row {
	  height: 4rem;
	  padding-top: 1rem;
	  border-bottom: 1px solid rgba(141, 145, 146, 0.36);
	  margin-bottom: 1.5em;
	  color: #fff !important;
	}

	.login__icon {
	  margin-bottom: -0.4rem;
	  margin-right: 2em;
	}

	.login__icon.name path {
	  stroke-dasharray: 73.50196075439453;
	  stroke-dashoffset: 73.50196075439453;
	  animation: animatePath 3s 0.5s forwards;
	}

	.login__icon.pass path {
	  stroke-dasharray: 92.10662841796875;
	  stroke-dashoffset: 92.10662841796875;
	  animation: animatePath 3s 0.5s forwards;
	}

	.login__input {
	  display: inline-block;
	  width: 200px;
	  height: 30px;
	  padding-left: 0rem;
	  font-size: 1.5rem;
	  background: transparent;
	  color: #000;
	}

	button.login-btn {
	    position: absolute;
	    bottom: -5em;
	    right: 0;
	    color: #fff;
	    font-size: 20px;
	    background: transparent;
	}

	.login__signup {
	  font-size: 1.2rem;
	  color: #000000;
	  text-align: left;
	  position: relative;
	  top: 0.5em;
	}

	.login__signup a {
	  color: #080808;
	  cursor: pointer;
	}

	.ripple {
	  position: absolute;
	  width: 15rem;
	  height: 15rem;
	  margin-left: -7.5rem;
	  margin-top: -7.5rem;
	  background: rgba(0, 0, 0, 0.4);
	  transform: scale(0);
	  animation: animRipple 0.4s;
	  border-radius: 50%;
	}

	@keyframes animRipple {
	  to {
	    transform: scale(3.5);
	    opacity: 0;
	  }
	}

	@keyframes rotate {
	  to {
	    transform: rotate(360deg);
	  }
	}

	@keyframes animatePath {
	  to {
	    stroke-dashoffset: 0;
	  }
	}

	input.login__input.input-style {
	    display: inline-block;
	    width: 200px;
	    height: 30px;
	    margin: -1em -12em 0em -16em;
	    font-size: 1.5rem;
	    background: transparent;
	    color: #000;
	    padding: 0;
	}

	h2.log-color {
	    text-align: center;
	    position: relative;
	    bottom: 2em;
	    left: 1em;
	}

	.signup-wrapper {
	    position: absolute;
	    bottom: -9em;
	    border-top: 1px solid #ccc;
	    width: 77%;
	    display: inline-block;
	    left: 0;
	    padding-top: 1em;
	}

	span.yellow {
    	color: #FAB94E;
	}

	.login__form.register {
	    left: 0;
	    width: 100%;
	    /* height: 100%; */
	    padding: 2em;
	    text-align: center;
	    background: transparent;
	    width: 340px;
	    cursor: pointer;
	    position: absolute;
	    top: 6em;
	}

	h1.close-form {
	    position: absolute;
	    left: 2em;
	    top: -0.8em;
	    z-index: 9999;
	}

	.login__row.regiter-row {
	    height: 3rem;
	    padding-top: 1rem;
	    border-bottom: 1px solid rgba(141, 145, 146, 0.36);
	    margin-bottom: 1.5em;
	    color: #fff !important;
	    width: 230px;
	    padding-left: 6rem;
	}

	button#reigister {
	    position: absolute;
	    right: -0.5em;
	    bottom: 1em;
	    margin: 0 auto;
	    color: #fff;
	    background: transparent;
	    font-size: 20px;
	}

	h1.close-form2 {
	    position: absolute;
	    top: -1em;
	    left: 2em;
	    z-index: 999;
	}
	
	button#forgot {
	    position: absolute;
	    right: -0.5em;
	    bottom: -8.5em;
	    margin: 0 auto;
	    color: #fff;
	    background: transparent;
	    font-size: 20px;
	}

	.modal-content {
	    background: transparent;
	    box-shadow: none;
	}

	// input.login__input.input-style.input-width_style1 {
	//     width: 150px;
	//     position: relative;
	//     left: 3em;
	//     z-index: 9999;
	// }

	input#code {
	    width: 50px;
	}

	input.login__input.input-style.input-width_style1 {
	    width: 100px;
	}

	label#dis {
	  display: inline-block;
	  max-width: 100%;
	  margin: 68% 25%;
	  font-size: 15px;
	}

	label#disp {
	    display: inline-block;
	    max-width: 100%;
	    margin: 80% 25%;
	    font-size: 15px; 
	}

	span.error.error-keyup-1 {
	  position: absolute;
	  left: 0;
	  background: #000;
	  width: 200px;
	  z-index: 1;
	  padding: 6px 12px;
	  color: #fff;
	}
}

	@media all and (min-width:641px) and (max-width: 769px)  {
		.login__form {
		    left: 0;
		    width: 100%;
		    /* height: 100%; */
		    padding: 2em;
		    text-align: center;
		    background: transparent;
		    width: 340px;
		    cursor: pointer;
		    position: absolute;
		    top: 12.5em;
		}

		.signup-wrapper {
		    position: absolute;
		    bottom: -20em;
		    border-top: 1px solid #ccc;
		    width: 77%;
		    display: inline-block;
		    left: 0;
		    padding-top: 1em;
		}
	}

@media all and (min-width:340px) and (max-width: 640px)  {
	
	.login_style .login-bg {
	    background-image: image-url("login_signup.png") !important;
	    height: 521px;
	    width: 88% !important;
	    background-repeat: no-repeat;
	    right: 3em!important;
		top: 4em!important;
	}
	.login_style button.login-btn {
	    position: absolute;
	    bottom: -5em!important;
	    right: 14px;
	    color: #FFF;
	    font-size: 20px;
	    background: transparent none repeat scroll 0% 0%;
	}
	.login_style .signup-wrapper {
	    position: absolute;
	    bottom: -5em!important;
	    border-top: 1px solid #CCC;
	    width: 77%;
	    display: inline-block;
	    left: 0px;
	    padding-top: 1em;
	}
}
