.address_wrapper {
    position: relative;
    top: 4em;
    // left: 20%;
    width: 500px;
    .address {
        margin: -3em 1em 3em;
        width: 220px;
        float: left;
        height: 120px;
      }

      // .address-list {
      //     height: 150px;
      //     overflow-y: scroll;
      //     // width: 600px;
      // }

  .address_content {
      padding: 1em;
      background: #EFEEE8;
      position: relative;
      top: -1em;
  } 

    h4.profile_head1 {
        background: #9A9994;
        padding: 0.5em 1em;
        color: #fff;
    }
    .address-details .check{
        z-index: 1;
    }
    // .radio label .circle {
    //   border: 2px solid #A1A1A1;
    //   height: 30px;
    //   width: 30px;
    //   border-radius: 0;
    //   background: #FFFFFF;
    // }

    // .radio label .check {
    //   height: 50px;
    //   width: 50px;
    //   border-radius: 0;
    //   background-color: rgba(0, 0, 0, 0.84);
    //   -webkit-transform: scale3d(0, 0, 0);
    //   transform: scale3d(0, 0, 0);
    //   position: absolute;
    //   top: -0.5em;
    //   left: 0em;
    // }

    .circle {
        width: 15px;
        height: 15px;
        border-radius: 250px;
        color: #fff;
        line-height: 500px;
        text-align: center;
        background: #fff;
        z-index: 1;
    }

    .radio.radio-primary {
      display: inline-flex;
      padding: 1em;
      top: -2em;
    }

    label.radio-inline {
      position: relative;
      left: -1.5em;
    }
    
    .radio.radio-primary.radio_styling {
        position: relative;
        left: -6%;
        top: 6.5em;
        z-index: 9999;
    }
    
    .address-list {
        border: 1px solid #9A9994;
        height: 400px;
        overflow-y: scroll;
    }

    .address_details {
        width: 150px;
        position: relative;
        left: 21%;
    }
}

.summary_wrapper {
    position: relative;
    top: 4em;
    // left: 20%;
    width: 500px;
    .summary_details {
        width: 500px;
        height: 400px;
        border: 1px solid #9A9994;
        padding: 2em;
        font-size: 16px;
        .discount-cancel{
            color: red;
            font-weight: bold;
            height: 25px;
            width: 25px;
            border-radius: 15px;
            border: 2px solid #fff;
            text-align: center;
            margin-bottom: 0px;
            position: absolute;
            top: -2px;
            left: 80px;
            cursor: pointer;
        }
    }
    .section-padd {
        margin-bottom: 1em;
    }
    .name {
        color: #f16225;
    }
    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #9A9994;
    }
    button.cupon_button {
        border: 0;
        padding: 10px;
        background: #f16224;
        color: #fff;
    }
}

.body_wrapper {
    float: right;
}
.shipping_address{
    background-image: image-url("new_images/dashboard_pattern.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    position: fixed;
    height: 100vh;
    nav.navbar.navbar-default.side-top-nav {
        position: fixed;
        width: 100%;
        left: 0;
        background-color: transparent;
        border-bottom: 1px solid #000;
        height: 20px;
        z-index: 999;
    }

    ul.nav.navbar-nav.nav-stacked {
        width: 200px;
        position: absolute;
        left: 0;
        height: 100vh;
        // background:-webkit-linear-gradient(180deg, #fd8727, #fdbb33);
        // background: -o-linear-gradient(180deg, #fdbb33, #fd8727); /* For Opera 11.1 to 12.0 */
        // background: -moz-linear-gradient(180deg, red, #fd8727); /* For Firefox 3.6 to 15 */
        background: #ed1c24; 
        display: block !important;
    }

    .nav-stacked li {
        width: 200px;
        height: 35px;
        text-align: left;
        position: relative;
        top: 16em;
    }

    a.navbar-brand {
        text-align: center !important;
        font-size: 25px;
        color: #fff !important;
        position: absolute;
        z-index: 999;
        left: 0;
        width: 200px;
        height: 49px;
        border-bottom: 1px solid #000;
    }

    .navbar-nav li a {
        height: 49px;
        padding: 8px 12px;
    }

    .form-group.search-bar {
        position: relative;
        top: -0.5em;
        color: black;
        background: transparent;
    }

    input.form-control.input-style {
        background: transparent;
        color: #000;
        border: 0;
        height: 37px;
    }

    input.form-control.input-style:focus {
        background: transparent;
        color: #000;
        border: 0;
        height: 37px;
    }

    .login_wrapper {
        position: absolute;
        top: 6em;
        left: 2em;
    }

    .login_wrapper img {
        border-radius: 90px;
        border: 6px solid #fff;
        margin: 0 auto;
        position: relative;
        left: 1.5em;
    }

    li.act-style {
        background-color: rgba(21, 20, 20, 0.53);
        height: 20px;
    }

    .navbar-default .navbar-nav.nav-stacked>li>a {
        color: #FBFBFB;
        padding: 0.5em 3em;
        height: 35px;
    }

    .navbar-default .navbar-nav.nav-stacked>li>a:active {
        color: #FBFBFB;
        padding: 0.5em 3em;
        height: 35px;

    }

    .navbar-default .navbar-nav.nav-stacked>li>a:focus {
        color: #FBFBFB;
        padding: 0.5em 3em;
        height: 35px;

    }

    .dropdown img {
        border-radius: 40px;
    }

    .body-wrapper {
        float: right;
        top: 3em;
    }

    .cancel {
        padding: 10px;
        background-color: red;
        border: 0;
        color: white;
        text-align: center;
        display: inline-block;
        width: 100px;
    }
    @media all and (min-width:320px) and (max-width: 640px)  {
        ul.nav.navbar-nav.nav-stacked {
            width: 200px;
            position: absolute;
            left: 0;
            height: 100vh;
            background: -webkit-linear-gradient(180deg, #fd8727, #fdbb33);
            background: -o-linear-gradient(180deg, #fdbb33, #fd8727);
            background: -moz-linear-gradient(180deg, red, #fd8727);
            background: linear-gradient(180deg, #fdbb33, #fd8727);
            display: block;
            z-index: 1000;
        }

        .navbar-default .navbar-collapse, .dvault_category_inner_bg .navbar-default .navbar-form {
            border-color: #060606 !important;
            width: 100% !important;
        }

        ul.nav.navbar-nav.nav-stacked {
          width: 100% !important;
        }

        .nav-stacked li {
            width: 100%;
            height: 35px;
            text-align: left;
            position: relative;
            top: 16em;
        }

        a.navbar-brand {
            text-align: center !important;
            font-size: 25px;
            color: #000 !important;
            position: absolute;
            z-index: 999;
            left: 0;
            width: 200px;
            height: 49px;
            border-bottom: 1px solid #000;
        }

        .navbar-default .navbar-toggle {
            background-color: #080808 !important;
        }
    }
    .thankyou {
        border-radius: 0;
        /* height: 200px; */
        margin: 6% auto;
        text-align: center;
    }

    @media all and (min-width:641px) and (max-width: 767px)  {
        ul.nav.navbar-nav.nav-stacked {
          width: 200px;
          position: absolute;
          left: 0;
          height: 100vh;
          background: -webkit-linear-gradient(180deg, #fd8727, #fdbb33);
          background: -o-linear-gradient(180deg, #fdbb33, #fd8727);
          background: -moz-linear-gradient(180deg, red, #fd8727);
          background: linear-gradient(180deg, #fdbb33, #fd8727);
          display: block;
          z-index: 1000;
        }

        .navbar-default .navbar-collapse, .dvault_category_inner_bg .navbar-default .navbar-form {
            border-color: #060606 !important;
            width: 100% !important;
        }

        ul.nav.navbar-nav.nav-stacked {
          width: 100% !important;
        }

        .nav-stacked li {
            width: 100%;
            height: 35px;
            text-align: left;
            position: relative;
            top: 16em;
        }

        a.navbar-brand {
            text-align: center !important;
            font-size: 25px;
            color: #000 !important;
            position: absolute;
            z-index: 999;
            left: 0;
            width: 200px;
            height: 49px;
            border-bottom: 1px solid #000;
        }

        .navbar-default .navbar-toggle {
            background-color: #080808 !important;
        }

        .buttons {
          display: inline-flex;
          position: absolute;
          z-index: 999;
          left: 1em;
        }

        li.dropdown.list-sort {
            background: #BDBDBD;
            width: 80px;
            height: 40px;
            text-align: center;
            padding: 0.5em;
            left: 4em;
            position: relative;
            z-index: 999;
        }

        h2.text-center.category-head {
            position: relative;
            top: 0em;
            left: -2em;
            /* border-bottom: 1px solid #000; */
            /* display: inline-block; */
        }

        .tab-content.card {
            position: relative;
            top: 0em;
        }

        .card {
            background: #DEDDDA none repeat scroll 0% 0%;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
            margin-bottom: 30px;
            height: 350px;
            border-radius: 0 !important;
        }

        .zip-doc {
            width: 125px;
            height: 27px;
            border: 1px solid #2b2c2c;
            padding: 0.2em;
            font-size: 16px;
            text-align: center;
            position: absolute;
            left: 0em;
            top: 3em;
        }

        .container-wrapper .grid li {
            float: left;
            width: 50%;
            height: 100px;
            border-right: 1px solid #ebebeb;
            background: #fff;
            padding: 20px;
            margin: 2em;
        }

    }  

    @media all and (min-width:768px) and (max-width: 970px)  {
        .buttons {
            display: inline-flex;
            position: absolute;
            z-index: 999;
            left: 0em;
        }

        li.dropdown.list-sort {
            background: #BDBDBD;
            width: 80px;
            height: 40px;
            text-align: center;
            padding: 0.5em;
            left: 3em;
            position: relative;
            z-index: 999;
        }

        h2.text-center.category-head {
            position: relative;
            top: -1.8em;
            left: 2em;
            /* border-bottom: 1px solid #000; */
            /* display: inline-block; */
        }
    } 

    @media all and (min-width:971px) and (max-width: 991px)  {
        .buttons {
            display: inline-flex;
            position: absolute;
            z-index: 999;
            left: 1em;
        }

        li.dropdown.list-sort {
            background: #BDBDBD;
            width: 80px;
            height: 40px;
            text-align: center;
            padding: 0.5em;
            left: 4em;
            position: relative;
            z-index: 999;
        }

        h2.text-center.category-head {
            position: relative;
            top: -1.8em;
            left: 0em;
            /* border-bottom: 1px solid #000; */
            /* display: inline-block; */
        }

        .container-wrapper .grid li {
            float: left;
            width: 150px;
            height: 100px;
            border-right: 1px solid #ebebeb;
            background: #fff;
            padding: 20px;
            margin: 2em;
        }
    }

    @media all and (min-width:992px) and (max-width: 1130px)  {
        .buttons {
            display: inline-flex;
            position: absolute;
            z-index: 999;
            left: 1em;
        }

        li.dropdown.list-sort {
            background: #BDBDBD;
            width: 80px;
            height: 40px;
            text-align: center;
            padding: 0.5em;
            left: 4em;
            position: relative;
            z-index: 999;
        }
    }

    @media all and (min-width:1131px) and (max-width: 1232px)  {
        .buttons {
            display: inline-flex;
            position: absolute;
            z-index: 999;
            left: 1em;
        }

        li.dropdown.list-sort {
            background: #BDBDBD;
            width: 80px;
            height: 40px;
            text-align: center;
            padding: 0.5em;
            left: 4em;
            position: relative;
            z-index: 999;
        }
    }

    @media only screen and (min-width: 1919px) and (max-width: 1921px) {
        .body_wrapper {
            float: right;
            margin-top: 6%;
        }

        .address_wrapper {
            position: relative;
            left: -80%;
        }

        .summary_wrapper {
            position: relative;
            left: -65%;
        }

        .payment.btn_style {
            margin: 18em 76em;
        }

        .modal_wrapper {
            position: relative;
            left: 0;
            border: 0;
        }

        button.btn.btn-info.btn-lg.modal_style {
            border: 0;
            border-radius: 0;
            background: #9A9994;
            height: 60px;
            width: auto;
            margin: 36px 0;
            font-size: 15px;
        }
    }
}

.shipping_wrapper {
    width: 500px;
    margin: 30em -14em;
    position: fixed;
    /* bottom: -31em; */
    /* right: 30.9em; */
    legend.main-head {
        /* width: 400px; */
        /* margin: 0 auto; */
        margin-bottom: 3em;
        text-align: center;
        position: relative;
        left: 4em;
    }

    input.form-control.input_styling {
        border-radius: 0;
        background: rgba(161, 161, 161, 0.64);
        height: 40px;
        color: #fff;
        margin-bottom: 1em;
    }

    input.form-control.input_styling:focus {
        border-radius: 0;
        background: rgba(161, 161, 161, 0.64);
        height: 40px;
        color: #fff;
        margin-bottom: 1em;
        padding: 1em;
    }

    select {
        width: 300px;
        padding: 0.3em;
        background: #888585;
        border: 0 !important;
        border-radius: 0 !important;
        height: 40px;
    }
}

.payment.btn_style{
    text-align: center;
    position: fixed;
    /* bottom: 10em; */
    /* left: 26%; */
    width: 300px;
    margin: 8em 56em;
}

.pay-btn {
    padding: 10px 20px;
    background-color: green;
    width: 100px;
    color: white;
    display: inline-block;
    cursor: pointer;
    border: 0;
}

.modal_wrapper {
    position: relative;
    z-index: 999;
    left: -9.8em;
    border: 0;
}

#addressModal{
    z-index: 9999;
    form.address-add.styel_modal {
        margin: 0 auto; 
        padding: 1em 0;
        width: 500px;
        border-radius: 0;
    }
}
button.btn.btn-info.btn-lg.modal_style {
    border: 0;
    border-radius: 0;
    background: #9A9994;
    height: 60px;
    width: auto;
    margin: 4em 10em;
    font-size: 15px;
}

button#save-address {
    border: 0;
    border-radius: 0;
    background: #9A9994;
    position: relative;
    right: 2em;
}

input.form-control.profile_input_styles {
    border-radius: 0;
    background: transparent;
    width: 280px;
    color: #000;
    margin-bottom: 1em;
    padding: 0 1em;
    border: 1px solid #9A9994;
}

input.form-control.profile_input_styles:focus {
    border-radius: 0;
    background: transparent;
    width: 280px;
    color: #000;
    margin-bottom: 1em;
    padding: 0 1em;
    border: 1px solid #9A9994;
}
.modal-content {
    border-radius: 0;
}

.btn_style a {
    text-decoration: none !important;
}

#cuponModal{
    z-index: 9999;
    margin-top: 6%;
    .cuppon_height{
        height: 300px;
    }
    .cuppon_wrapper {
        width: 300px;
        margin: 6% auto;
        text-align: center;
    }
    input.form-control.input_styles {
        border-radius: 0;
        background: transparent;
        // width: 280px;
        color: #000;
        margin-bottom: 1em;
        padding: 0 1em;
        border: 1px solid #9A9994;
    }
    button.btn.btn-default.cuppon_btn {
        border: 0;
        border-radius: 0;
        background: #f16224;
        position: relative;
        width: 100px;
        color: #fff;
        text-align: center;
        margin: 4% auto;
    }
    .modal-header .close {
        margin-top: -2px;
        z-index: 999;
    }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
    .modal-content {
        border-radius: 0;
        margin-left: -5%;
        width: 500px;
    }

    #addressModal form.address-add.styel_modal {
        margin: 0 auto;
        padding: 4em;
        width: 400px;
    }
}
@media only screen and (min-width: 1362px) and (max-height: 597px){
    .address_wrapper {
        position: relative;
        top: 4em;
        width: 450px;
    }
    .summary_wrapper {
        position: relative;
        top: 4em;
        width: 538px;
    }
    .summary_wrapper .summary_details {
        height: 330px!important;
    }
    .address_wrapper .address-list {
        height: 330px!important;
    }
    .payment.btn_style {
        text-align: center;
        position: fixed;
        /* bottom: 10em; */
         left: -4%!important;
        width: 300px;
        margin: 4em 51em;
    }
 }
    