.profile_dashboard_bg{
    background-image: image-url("new_images/dashboard_pattern.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
      nav.navbar.navbar-default.side-top-nav {
        position: absolute;
        width: 100%;
        left: 0;
        background-color: transparent;
        border-bottom: 1px solid #000;
        height: 20px;
      }

      ul.nav.navbar-nav.nav-stacked {
        width: 200px;
        position: absolute;
        left: 0;
        height: 100vh;
        // background:-webkit-linear-gradient(180deg, #fd8727, #fdbb33);
        // background: -o-linear-gradient(180deg, #fdbb33, #fd8727); /* For Opera 11.1 to 12.0 */
        // background: -moz-linear-gradient(180deg, red, #fd8727); /* For Firefox 3.6 to 15 */
        background: #ed1c24; 
        display: block !important;
      }

      .nav-stacked li {
          width: 200px;
          height: 35px;
          text-align: left;
          position: relative;
          top: 16em;
      }

      a.navbar-brand {
          text-align: center !important;
        font-size: 25px;
        color: #fff !important;
        position: absolute;
        z-index: 999;
        left: 0;
        width: 200px;
        height: 49px;
        border-bottom: 1px solid #000;
      }

      .navbar-nav li a {
          height: 49px;
          padding: 17px 12px;
      }

      .form-group.search-bar {
          position: relative;
          top: -0.5em;
          color: black;
          background: transparent;
      }

      input.form-control.input-style {
        position: relative;
        top: 0em;
        color: white;
        background: transparent;
      }

      .login_wrapper {
          position: absolute;
          top: 6em;
          left: 2em;
      }

      .login_wrapper img {
          border-radius: 90px;
          border: 6px solid #fff;
          margin: 0 auto;
          position: relative;
          left: 1.5em;
      }

      li.act-style {
          background-color: rgba(21, 20, 20, 0.53);
          height: 20px;
      }

      .navbar-default .navbar-nav.nav-stacked>li>a {
          color: #FBFBFB;
          padding: 0.5em 3em;
          height: 35px;
      }

      .navbar-default .navbar-nav.nav-stacked>li>a:active {
          color: #FBFBFB;
          padding: 0.5em 3em;
          height: 35px;

      }

      .navbar-default .navbar-nav.nav-stacked>li>a:focus {
          color: #FBFBFB;
          padding: 0.5em 3em;
          height: 35px;

      }

      .dropdown img {
          border-radius: 40px;
      }

      .body-wrapper {
          float: right;
          top: 5em;
      }

      .card {
          display: inline-block;
          position: relative;
          width: 900px;
          border-radius: 2px;
          color: rgba(0, 0, 0, 0.84);
          background: #f5f5f0;
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      .profile-padd{
        position: absolute;
        left: 6em;
        top: 0.5em;
      }

      img.profile-style {
          height: 120px;
          width: 120px;
          border: 1px solid #C3C3C2;
      }

      .profile_edit_wrapper {
          text-align: center;
          height: 500px;
          border-right: 1px solid #000;
          padding: 0;
      }

      form.profile_form_style {
          padding-top: 2em;
      }

      input.form-control.profile_input_style {
          border-radius: 0;
          background: #a1a1a1;
          width: 280px;
          color: #fff;
          margin-bottom: 1.5em;
      }

      .radio.radio-primary {
          display: inline-flex;
          padding: 1em;
      }

      label.radio-inline {
          position: relative;
          left: -1.5em;
      }

      .radio label .circle {
          border: 2px solid #A1A1A1;
          height: 30px;
          width: 30px;
          border-radius: 0;
          background: #A1A1A1;
      }

      .radio label .check {
          height: 50px;
          width: 50px;
          border-radius: 0;
          background-color: rgba(0, 0, 0, 0.84);
          -webkit-transform: scale3d(0, 0, 0);
          transform: scale3d(0, 0, 0);
          position: absolute;
          top: -0.5em;
          left: 0em;
      }
      
      .address {
          margin: 1em;
          width: 220px;
          float: left;
      }
      
      .address-list {
          height: 150px;
          overflow-y: scroll;
      }

      .address_content {
          padding: 1em;
          background: #EFEEE8;
          position: relative;
          top: -1em;
      }
      button.ui-datepicker-trigger {
        border-radius: 0;
        background: #a1a1a1;
        width: 30px;
        color: #fff;
        padding: 1em;
        height: 30px;
        position: absolute;
        top: 2em;
        right: 2em;
        border: 0;
      }
      
      ul.nav.nav-tabs.tablist {
          background: transparent;
          color: #000;
          text-align: center;
          height: 500px;
          border-right: 1px solid #000;
          text-align: left;
          width: 215px;
          position: relative;
          // z-index: 9999;
      }

      ul.nav.nav-tabs.tablist li a{
        color: #000 !important;
      }

      .tablist li {
          width: 215px;
      }

      .tablist li a {
          cursor: pointer !important;
      }
      
      i.fa.fa-pencil {
          background: #f16224;
          padding: 0.5em;
          color: #fff;
      }

      .profile_info {
          width: 500px;
          margin: 0 auto;
      }

      h4.profile_head{
        background: #9A9994;
        padding: 0.5em 1em;
        color: #fff;
      }

      .profile_details_style {
          padding: 2em;
      }

      .row.input_wrapper {
          border-bottom: 1px solid #000;
          margin-bottom: 0.5em;
      }

      input.form-control {
          background: transparent;
          border: 0;
          border-color: transparent;
          box-shadow: none;
          width: 300px;
      }

      input.form-control:focus {
          background: transparent;
          border: 0;
          border-color: transparent;
          box-shadow: none;
          width: 300px;
          padding: 1em;
      }

      h4.profile_head1{
        background: #9A9994;
        padding: 0.5em 1em;
        color: #fff;
      }

      .main_wrapper {
          height: 350px;
          width: 400px;
          margin: 0 auto;
          border: 1px solid #9A9994;
          position: relative;
          margin-top: 3em;
          background: #EFEEE8;
      }

      h4.forgot_text {
          background: #9A9994;
          height: 40px;
          padding: 0.5em 1em;
          color: #fff;
          position: relative;
          top: -0.6em;
      }

      input.input_style {
          width: 300px;
          margin-bottom: 1em;
          height: 40px;
          padding: 0.5em;
      }

      input.input_style:focus {
          width: 300px;
          margin-bottom: 1em;
          height: 40px;
          padding: 0.5em;
      }

      .forgot_input_style {
          width: 300px;
          margin: 4em auto;
      }

      button.btn.btn-default.submit_btn {
          border-radius: 0;
          width: 300px;
          background: #9A9994;
          border: 0;
      }

      .modal_text {
          cursor: pointer;
          color: red;
      }
      
      .modal-header .close {
          margin-top: -2px;
          z-index: 999;
          cursor: pointer;
          position: relative;
      }

      .modal-content .modal-body {
          padding: 0;
      }

      button.close.btn_modal_close {
          padding: 0;
          cursor: pointer;
          color: #000;
          border: 0;
          -webkit-appearance: none;
          position: absolute;
          z-index: 999;
          right: 1em;
          top: 0.5em;
      }

      .modal-content.content_styling {
          position: relative;
          top: 9em;
          border-radius: 0;
      }

      input.input_style1 {
          width: 250px;
          margin-bottom: 1em;
          height: 40px;
          padding: 0.5em;
      }
      
      input#code {
          width: 60px;
          height: 40px;
          padding: 10px;
      }

      input#code:focus {
          width: 60px;
          height: 40px;
          padding: 10px;
      }

      .add_id_btn {
        background: red !important;
        border: 0;
        border-radius: 0;
        width: 180px;
        /* margin: 1% -1%; */
        color: #fff !important;
        padding: 5px;
      }

      i.fa.pencile_style {
          background: transparent;
      }

      .upload_text_style a {
          text-decoration: none;
          color: #000;
          padding: 10px;
          cursor: pointer;
      }

      .download_wrapper {
          margin-top: 17%;
          margin-bottom: 10%;
      }

      .edit_id_wrapper .add_id_btn {
          background: red !important;
          border: 0;
          border-radius: 0;
          width: auto;
          margin: 10% 2%;
          color: #fff !important;
          padding: 0px 15px;
          height: 30px;
      }
      span.error.error-keyup-1 {
        width: 200px;
        position: absolute;
        background: #000;
        color: #fff;
        padding: 6px 12px;
        z-index: 1;
      }
      @media all and (min-width:320px) and (max-width: 640px)  {

        ul.nav.navbar-nav.nav-stacked {
            width: 200px;
            position: absolute;
            left: 0;
            height: 100vh;
            background: -webkit-linear-gradient(180deg, #fd8727, #fdbb33);
            background: -o-linear-gradient(180deg, #fdbb33, #fd8727);
            background: -moz-linear-gradient(180deg, red, #fd8727);
            background: linear-gradient(180deg, #fdbb33, #fd8727);
            display: block;
            z-index: 999;
        }

        .navbar-default .navbar-collapse, .dvault_category_inner_bg .navbar-default .navbar-form {
            border-color: #060606 !important;
            width: 100% !important;
        }

        ul.nav.navbar-nav.nav-stacked {
          width: 100% !important;
        }

        .nav-stacked li {
            width: 100%;
            height: 35px;
            text-align: left;
            position: relative;
            top: 16em;
        }

        .form-group.search-bar {
            position: relative;
            top: -0.5em;
            color: black;
            background: transparent;
            z-index: 999;
            width: 250px; 
            display: inline-flex;
            padding: 2em;
        }

        i.fa.fa-search {
            position: absolute;
            right: 0em;
            top: 2.5em;
        }

        .navbar-default .navbar-form {
            border-color: transparent;
            border: none !important;
        }

        input.form-control.input-pin-style {
            background: rgba(241, 36, 36, 0.36);
            color: #fff !important;
            border-radius: 0;
            border: 0;
            padding: 1.5em;
            font-size: 20px;
            width: 275px;
            margin: 0 auto;
            position: relative;
            top: 10em;
            left: -2em;
        }

        button.btn.btn-default.next-btn {
            position: absolute;
            top: 20em;
            width: 275px;
            color: #fff;
            margin: 0 auto !important;
            left: -1.9em;
        }

          .profile-padd {
              position: absolute;
              left: 0;
              top: 0.5em;
              margin: 0 auto;
          }

          .card {
              display: inline-block;
              position: relative;
              width: 380px;
              border-radius: 2px;
              color: rgba(0, 0, 0, 0.84);
              background: #f5f5f0;
              box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              height: 550px;
          }

          .profile_edit_wrapper {
              text-align: center;
              height: 500px;
              border-right: 1px solid #000;
              /* padding: 0; */
              position: absolute;
              left: -2em;
          }

          form.profile_form_style {
              padding: 1em;
              position: absolute;
              left: 12em;
          }

          img.profile-style {
              height: 120px;
              width: 120px;
              border-radius: 70px;
              border: 2px solid #C3C3C2;
              position: relative;
              left: 2em;
          }

          i.fa.fa-camera {
              position: relative;
              top: 6em;
              left: -5em;
          }

          input.form-control.profile_input_style {
              border-radius: 0;
              background: #a1a1a1;
              width: 180px;
              color: #fff;
              margin-bottom: 0;
          }

          .navbar-default .navbar-toggle {
              border-color: #0A0A0A !important;
              background: #000;
          }

          input.form-control.profile_input_style1 {
              border-radius: 0;
              background: #a1a1a1;
              height: 35px;
              color: #fff;
              margin-bottom: 1.5em;
          }

          button.btn.btn-default.submit-profile {
              background: #fab834;
              border-radius: 0;
              font-size: 15px;
              position: absolute;
              right: 2em;
              bottom: -0.2em;
          }
      }
     
      @media all and (min-width:641px) and (max-width: 767px)  {
          ul.nav.navbar-nav.nav-stacked {
              width: 200px;
              position: absolute;
              left: 0;
              height: 100vh;
              background: -webkit-linear-gradient(180deg, #fd8727, #fdbb33);
              background: -o-linear-gradient(180deg, #fdbb33, #fd8727);
              background: -moz-linear-gradient(180deg, red, #fd8727);
              background: linear-gradient(180deg, #fdbb33, #fd8727);
              display: block;
              z-index: 999;
          }

          .navbar-default .navbar-collapse, .dvault_category_inner_bg .navbar-default .navbar-form {
              border-color: #060606 !important;
              width: 100% !important;
          }

          ul.nav.navbar-nav.nav-stacked {
            width: 100% !important;
          }

          .nav-stacked li {
              width: 100%;
              height: 35px;
              text-align: left;
              position: relative;
              top: 16em;
          }
          input.form-control.input-pin-style {
              background: rgba(241, 36, 36, 0.36);
              color: #fff !important;
              border-radius: 0;
              border: 0;
              padding: 1.5em;
              font-size: 20px;
              width: 275px;
              margin: 0 auto !important;
              position: relative;
              top: 10em;
              right: 10em;
          }

          button.btn.btn-default.next-btn {
              position: absolute;
              top: 20em;
              width: 274px;
              color: #fff;
              margin: 0 auto !important;
              left: -12.9em;
          }

          .form-group.search-bar {
            position: relative;
            top: -0.5em;
            color: black;
            background: transparent;
            z-index: 999;
            width: 235px;
            display: inline-flex;
            padding: 2em;
            left: -2em;
          }

          i.fa.fa-search {
              position: absolute;
              display: block;
              top: 5em;
              left: 3em;
          }

          .navbar-default .navbar-collapse, .navbar-default .navbar-form {
              border-color: #0A0A0A;
              border: none !important;
          }

          .profile-padd {
              position: absolute;
              left: 0;
              top: 0.5em;
              margin: 0 auto;
          }

          .card {
              display: inline-block;
              position: relative;
              width: 740px;
              border-radius: 2px;
              color: rgba(0, 0, 0, 0.84);
              background: #f5f5f0;
              box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              height: 550px;
          }

          .profile_edit_wrapper {
              text-align: center;
              height: 500px;
              border-right: 1px solid #000;
              /* padding: 0; */
              position: absolute;
          }

          form.profile_form_style {
              padding: 1em;
              position: absolute;
              left: 17em;
          }

          img.profile-style {
              height: 120px;
              width: 120px;
              border-radius: 70px;
              border: 2px solid #C3C3C2;
              position: relative;
              left: 2em;
          }

          i.fa.fa-camera {
              position: relative;
              top: 6em;
              left: -5em;
          }

          input.form-control.profile_input_style {
              border-radius: 0;
              background: #a1a1a1;
              width: 280px;
              color: #fff;
              margin-bottom: 0;
          }

          .navbar-default .navbar-toggle {
              border-color: #0A0A0A !important;
              background: #000;
          }
      }  

      @media all and (min-width:768px) and (max-width: 970px)  {
          .profile-padd {
              position: absolute;
              left: -1em;
              top: 0.5em;
          }

          .card {
              display: inline-block;
              position: relative;
              width: 540px;
              border-radius: 2px;
              color: rgba(0, 0, 0, 0.84);
              background: #f5f5f0;
              box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              height: 550px;
          }

          .profile_edit_wrapper {
              text-align: center;
              height: 500px;
              border-right: 1px solid #000;
              /* padding: 0; */
              position: absolute;
          }

          form.profile_form_style {
              padding: 1em;
              position: absolute;
              left: 17em;
          }

          img.profile-style {
              height: 120px;
              width: 120px;
              border-radius: 70px;
              border: 2px solid #C3C3C2;
              position: relative;
              left: 2em;
          }

          i.fa.fa-camera {
              position: relative;
              top: 6em;
              left: -5em;
          }



           input.form-control.profile_input_style {
              border-radius: 0;
              background: #a1a1a1;
              width: 280px;
              color: #fff;
              margin-bottom: 0;
          }
      } 

      @media all and (min-width:971px) and (max-width: 991px)  {
          .card {
              display: inline-block;
              position: relative;
              width: 750px;
              border-radius: 2px;
              color: rgba(0, 0, 0, 0.84);
              background: #f5f5f0;
              box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              height: 550px;
          }

          .profile-padd {
              position: absolute;
              left: -51em;
              top: 0.5em;
          }

          .profile_edit_wrapper {
              text-align: center;
              height: 500px;
              border-right: 1px solid #000;
              padding: 0;
              position: absolute;
          }

          .profile_edit_wrapper {
              text-align: center;
              height: 500px;
              border-right: 1px solid #000;
              /* padding: 0; */
              position: absolute;
          }

          form.profile_form_style {
              padding: 1em;
              position: absolute;
              left: 17em;
          }

          input.form-control.profile_input_style {
              border-radius: 0;
              background: #a1a1a1;
              width: 280px;
              color: #fff;
              margin-bottom: 0;
          }

          img.profile-style {
              height: 120px;
              width: 120px;
              border-radius: 70px;
              border: 2px solid #C3C3C2;
              position: relative;
              left: 2em;
          }

          i.fa.fa-camera {
              position: relative;
              top: 6em;
              left: -5em;
          }

          button.btn.btn-default.next-btn {
              position: absolute;
              top: 20em;
              width: 269px;
              border-radius: 0;
              color: #fff;
              margin: 0 auto !important;
              left: -16em;
          }
      }

      @media all and (min-width:992px) and (max-width: 1071px)  {
          .card {
              display: inline-block;
              position: relative;
              width: 750px;
              border-radius: 2px;
              color: rgba(0, 0, 0, 0.84);
              background: #f5f5f0;
              box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              height: 550px;
          }

          .profile-padd {
              position: absolute;
              left: 5em;
              top: 0.5em;
          }

          .profile_edit_wrapper {
              text-align: center;
              height: 500px;
              border-right: 1px solid #000;
              padding: 0;
              position: absolute;
          }

          .profile_edit_wrapper {
              text-align: center;
              height: 500px;
              border-right: 1px solid #000;
              /* padding: 0; */
              position: absolute;
          }

          form.profile_form_style {
              padding: 2em;
              position: absolute;
              left: -1em;
          }

          input.form-control.profile_input_style {
              border-radius: 0;
              background: #a1a1a1;
              width: 260px;
              color: #fff;
              margin-bottom: 0;
          }

          img.profile-style {
              height: 120px;
              width: 120px;
              border-radius: 70px;
              border: 2px solid #C3C3C2;
              position: relative;
              left: 0em;
          }

          i.fa.fa-camera {
              position: relative;
              top: 1em;
              left: 0em;
          }

          button.btn.btn-default.next-btn {
              position: absolute;
              top: 20em;
              width: 269px;
              border-radius: 0;
              color: #fff;
              margin: 0 auto !important;
              left: -16em;
          }
      }

      @media all and (min-width:1072px) and (max-width: 1180px)  {
          .card {
              display: inline-block;
              position: relative;
              width: 750px;
              border-radius: 2px;
              color: rgba(0, 0, 0, 0.84);
              background: #f5f5f0;
              box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              height: 550px;
          }

          .profile-padd {
              position: absolute;
              left: 5em;
              top: 0.5em;
          }

          .profile_edit_wrapper {
              text-align: center;
              height: 500px;
              border-right: 1px solid #000;
              padding: 0;
              position: absolute;
          }

          .profile_edit_wrapper {
              text-align: center;
              height: 500px;
              border-right: 1px solid #000;
              /* padding: 0; */
              position: absolute;
          }

          form.profile_form_style {
              padding: 2em;
              position: absolute;
              left: -1em;
          }

          input.form-control.profile_input_style {
              border-radius: 0;
              background: #a1a1a1;
              width: 260px;
              color: #fff;
              margin-bottom: 0;
          }

          img.profile-style {
              height: 120px;
              width: 120px;
              border-radius: 70px;
              border: 2px solid #C3C3C2;
              position: relative;
              left: 0em;
          }

          i.fa.fa-camera {
              position: relative;
              top: 1em;
              left: 0em;
          }

          button.btn.btn-default.next-btn {
              position: absolute;
              top: 20em;
              width: 269px;
              border-radius: 0;
              color: #fff;
              margin: 0 auto !important;
              left: -16em;
          }
      }
}
.thankyou {
    border-radius: 0;
    /* height: 200px; */
    margin: 6% auto;
    text-align: center;
}

.id_proof_style{
  span.upload {
      /*left: 2.1em;*/
      position: absolute;
      width: 90%;
      height: 50px;
  }

  input#uploadFile1 {
      height: 40px;
      width: 300px;
      background: #EFEEE8;
      border: 0;
      padding: 1em;
  }

  input#uploadFile {
      height: 40px;
      width: 300px;
      background: #EFEEE8;
      border: 0;
      padding: 1em;
  }
  .fileUpload {
      position: relative;
      overflow: hidden;
      margin: 10px;
  }
  .fileUpload input.upload {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
  }
  .fileUpload.btn.btn-primary {
      width: 100px;
      background: #9A9994;
      font-weight: bold;
      color: white;
      border: 0 none;
      border-radius: 1px;
      cursor: pointer;
      padding: 15px 5px;
      margin: 10px 5px;
      height: 40px;
      position: relative;
      /*top: -5em;
      left: 15.7em;*/
  }
  .upload_wrapper {
      width: 450px;
      margin: 0 auto;
  }

  .modal-content.modal_height_style {
      height: 300px;
      background: #f5f5f0;
      border-radius: 0;

  }

  button.btn.btn-default.submit-profile {
      background: #9A9994;
      border: 0;
      border-radius: 0;
      position: absolute;
      top: 11em;
      width: 200px;
      margin: 0 auto;
      color: #fff;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .profile_dashboard_bg .card {
    height: 100% !important;
    padding-bottom: 2em !important;
  }

  .profile_dashboard_bg ul.nav.nav-tabs.tablist {
      background: transparent;
      color: #000;
      text-align: center;
      height: auto !important;
      border-right: none;
      text-align: left;
      width: 100% !important;
      position: relative;
  }
}


@media only screen and (min-width: 1919px) and (max-width: 1921px) {
  .profile_dashboard_bg .profile-padd {
      position: absolute;
      left: 21em !important;
      top: 8.5em !important;
      padding: 2em !important;
  }
}

