.campaign.container-fluid{
    margin: 0;
    padding: 0;
    h1.sub_head {
        color: #461417;
        font-weight: bold;
        margin: 0;
        /* position: absolute; */
        /* top: 150%; */
        /* left: 50%; */
        /* margin-right: -50%; */
        /* transform: translate(-50%, -50%); */
        font-size: 40px;
        position: relative;
        // top: 292px;
        margin-top: 1%;
        text-align: center;
    } 

    h1.main_head {
        color: #C5310B;
        font-weight: bold;
        margin: 0;
        /* position: absolute; */
        /* top: 125%; */
        /* left: 50%; */
        /* margin-right: -50%; */
        /* transform: translate(-50%, -50%); */
        font-size: 40px;
        position: relative;
        top: 1%;
        text-align: center;
    }
    .main_bg{
        background: url("/assets/rental_agreement/main_banner.jpg");
        height: 100vh;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed; 
    }
   
    h2.line_tag {
        width: 18%;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 10px 0 20px;
        margin: 0;
        position: absolute;
        margin-top: 2%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    button.btn.btn-default.btn_order {
        background: #F2E9C8;
        color: #C5310B;
        border: 1px solid #000;
        border-radius: 0;
        font-size: 30px;
        font-weight: bold;
        position: relative;
        top: 30px;
        height: 60px;
    }   

    .center_align {
        height: 16em;
        position: relative;
    }

    h4.tag_line {
        margin: 0;
        position: relative;
        margin-top: 2%;
        font-size: 25px;
        text-align: center;
    }

    p.para_wrap {
        width: 50%;
        text-align: center;
        margin: 0 auto;
    }

    .testimonial_wrap{
        background: url("/assets/rental_agreement/testimonial_bg.jpg");
        background-size: cover;
        padding: 50px 0 150px;
        text-align: center;
        color: white !important;
    }

    .testimonial_wrap h4.rental_head span {
        background: transparent;
        padding: 2%;
        color: #fff;
    }
    .fun_item_img{
        padding-left: 255px;
    }
    .fun_item_img img {
        border: 1px solid #767d85;
        border-radius: 100%;
        padding: 30px;
    }

    .para_wrap span {
        font-size: 20px;
        font-weight: bold;
    }

    .media_wrap {
        background: url("/assets/rental_agreement/media_bg.jpg");
        background-size: cover;
        padding: 50px 0 150px;
    }


    .media_wrap h4.rental_head {
        width: 9%;
        text-align: center;
        // border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 0 auto 5%;
        position: relative;
        top: 35px;
    }
    .media_wrap .media-icons1{
        padding-top: 40px;
    }
    .media_wrap .media-icons2{
        padding-top: 40px;
    }
    .media_wrap h4.rental_head span {
        
        padding: 8%;
        font-weight: bold;
        color: #2d2b2b;
    }
    .media-icons2 .for-pad{
        padding-top: 20px;
    }
    .media-icons .for-pad-left{
        padding-left: 60px;
    }
    

    .contact_wrap h4.rental_head span {
        background: #2D2B2B;
        padding: 2%;
        color: #fff;
        font-size: 18px !important;
    }

    .contact_wrap h4.rental_head {
        width: 10%;
        text-align: center;
        border-bottom: 1px solid #fff;
        line-height: 0.1em;
        margin: 0 auto 5%;
        position: relative;
        top: 35px;
    }


    .registration_wrap {
        background: #DFE1D4;
        padding: 2%;
    }

    .section_one {
        background: #fff;
        /* min-width: 465px; */
        padding: 2%;
        // margin-top: 2%;
        // text-align: center;
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.28);
        height: 490px;
    }
    h4.summary
    {
        font-size: 30px;
    }
    form#question_form {
        // width: 75%;
        margin: 0 auto;
    }

    input.input_style {
        height: 45px;
        width: 100%;
        padding: 4px 5px 4px 44px;
        background: #E6E6E6;
        border: 0;
        font-size: 16px;
    }

    span.rupee_icon {
        color: #fff;
        background: #000;
        position: absolute;
        font-size: 22px;
        height: 45px;
        width: 40px;
        line-height: 1.8;
        cursor: pointer;
        text-align: center;
    }

    p.hint_txt {
        font-size: 10px;
        width: 100%;
        margin: 4% auto;
    }

    .date_slide {
        /* height: 92px; */
        height: 4.5em;
        background: #f2f2f2;
        margin-bottom: 6%;
        position: relative;
    }

    div#date-slider {
        width: 100%;
        /* height: 92px; */
        height: 3.9em;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        line-height: 1.2em;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        background: #f2f2f2;
    }
    
    ul.list_date {
        list-style: none;
        position: absolute;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    ul.list_date li {
        /* display: inline-block; */
        /* width: 13.28%; */
        width: 14.28%;
        float: left;
        white-space: pre-wrap;
        margin-top: 4px;
        font-weight: normal;
        font-size: 16px;
        color: #757575;
    }

    #date-slider .handle {
        height: 5.2em;
        border-radius: 0px;
        cursor: pointer;
        position: absolute;
        top: -10%;
    }
    .date_slide .dragdealer .red-bar {
        width: 55px;
        height: 92px;
        background: #e47a58;
        color: #000;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
    }

    #date-slider span.value {
        font-size: 16px;
        white-space: pre-wrap;
        /* line-height: 30px; */
        line-height: 1.4em;
        display: block;
        margin: 6px 0px;
    }

    button.btn.btn-default.proceed_btn {
        border: 0;
        border-radius: 0;
        width: 45%;
        font-size: 20px;
        color: #fff;
        position: relative;
        left: 0;
        right: 0;
        margin: -6% auto 6%;
        text-align: center;
        height: 45px;
        top: -22px;
        display: block;
        background: #d41e69;
    }

    .copies_slot {
        position: relative;
        height: 40px;
        width: 100%;
        margin-bottom: 1%;
    }

    #just-a-slider {
        width: 327px;
        height: 2em;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        font-weight: bold;
        cursor: pointer;
        background: #f2f2f2;
    }

    ul.list_wrapper {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 14px;
    }

    ul.list_wrapper li {
        float: left;
        width: 9%;
        line-height: 2.4em;
        color: #757575;
        list-style: none;
    }

    #just-a-slider .handle {
        height: 40px;
        line-height: 3em;
        border-radius: 0px;
        cursor: pointer;
        position: absolute;
        top: -16%;
        font-weight: bold;
        width: 30px;
        background: #e47a58;
    }

    span.value {
        font-size: 16px;
        font-weight: bold;
    }

    .radio-toolbars input[type="radio"]:checked + label { 
        background-color: #eaa500;
        cursor: pointer;
        padding: 7px;
        color: #000;
        // min-height: 40px;
    }
    
    .radio-toolbars label {
        height: 175px;
        padding: 7px;
        background: #E6E6E6;
        width: 100%;
        text-align: center;
        // line-height: 12;
        margin: 0 auto;
    }
    .radio-toolbars p {
        margin: 72px 0 0px;
    }

    .radio-toolbars {
        // background: #f2f2f2;
        /*height: 45px;
        width: 85%;*/
        margin: 0 auto 3%;
        min-height: 40px;
    }

    .radio-toolbars input[type="radio"] {
        display:none; 
    }

    .control-group {
      display: inline-block;
      // vertical-align: top;
      // background: #fff;
      // text-align: left;
      // box-shadow: 0 1px 2px rgba(0,0,0,0.1);
      // padding: 30px;
      // width: 200px;
      // height: 210px;
      // margin: 10px;
    }
    .control {
        display: inline-block;
        position: relative;
        padding-left: 55px;
        margin-bottom: 15px;
        cursor: pointer;
        font-size: 18px;
        margin: 20px 40px;
        line-height: 2.5;
    }
    .control input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    .control__indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 40px;
        width: 40px;
        background: #e6e6e6;
    }
    .control--radio .control__indicator {
      border-radius: 0%;
    }
    .control:hover input ~ .control__indicator,
    .control input:focus ~ .control__indicator {
      background: #ccc;
    }
    .control input:checked ~ .control__indicator {
      background: #eaa500;
    }
    .control:hover input:not([disabled]):checked ~ .control__indicator,
    .control input:checked:focus ~ .control__indicator {
      background: #C36445;
    }
    .control__indicator:after {
      content: '';
      position: absolute;
      display: none;
    }
    .control input:checked ~ .control__indicator:after {
      display: block;
    }

    .control--radio .control__indicator:after {
        left: 0;
        top: 0; 
        height: 40px;
        width: 40px;
        border-radius: 0;
        background: #eaa500;
    }
    
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .fileUpload.btn.btn-primary {
        border: 0;
        border-radius: 0;
        height: 40px;
        font-size: 15px;
        background: #eaa500;
    }

    input#uploadFile {
        height: 40px;
        padding: 6px 12px;
        border: 0;
        background: #E6E6E6;
    }

    .terms_wrap {
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.21);
        width: 40%;
        margin: 3% auto;
        /* background: #fff; */
        padding: 0.5% 2%;
    }

    button.btn.btn-primary.pay_btn {
        background: #d41e69;
        color: #fff;
        font-size: 20px;
        width: 30%!important;
        margin: 0 auto;
        display: block;
        border-radius: 0;
        border: 0;
    }
             
    input.terms_condition {
        width: 20px;
        height: 20px;
    }

    span.chk_hint {
        line-height: 2;
    }

    button.btn.btn-primary.pay_btn {
        background: #d41e69;
        color: #fff;
        font-size: 20px;
        width: 30%;
        margin: 0 auto;
        display: block;
        border-radius: 0;
        border: 0;
        clear: both;
    }

    .registration_wrap h4.rental_head span {
        background: #DFE1D4;
        padding: 2%;
        font-weight: bold;
        color: #2d2b2b;
    }

    .registration_wrap h4.rental_head {
        width: 40%;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 0 auto 4%;
        position: relative;
        top: 20px;
    }

    h4.main_head {
        color: #757575;
        // font-weight: bold;
        font-size: 16px;
    }

    h4.sub_head {
        color: #000000;
        // font-weight: bold;
        // font-size: 14px;
    }

    hr.summary_hr {
        border: 0;
        border-top: 1px solid rgba(77,77,77,0.5);
        margin: 0;
    }

    hr.price_hr {
        margin: 0;
        border: 0;
        border-top: 1px solid rgba(77,77,77,0.5);
    }

    .order_hr {
        margin-top: 1%;
        margin-bottom: 1%;
        border: 0;
        border-top: 1px solid rgba(77,77,77,0.5);
        margin-left: 0%;
    }

    .voucher_wrap {
        position: relative;
        background: #fff;
        margin-top: 3%;
        margin-bottom: 3%;
        padding: 4%;
        box-shadow: 0 1px 6px 0 rgba(0,0,0,0.12),0 1px 6px 0 rgba(0,0,0,0.12);
        border: 2px dashed #000;
        background-size: cover;
        background-repeat: no-repeat;
    }

    p.discount_wrap {
        color: #ed1c24;
        font-size: 16px;
        // font-weight: bold;
    }

    input.input_discount {
        border: 0;
        background: #f2f2f2;
        width: 100%;
        font-size: 14px;
        height: 35px;
        padding: 6px 12px;
    }

    button.btn.apply_btn.btn-default {
        background: #F9A21E;
        color: #fff;
        font-size: 16px;
        top: -9px;
        border-radius: 0;
        border: 0;
    }

    .discount-cancel {
        background: #F9A21E;
        color: #fff;
        font-size: 16px;
        top: -9px;
        border-radius: 0;
        border: 0;
        padding: 5px;
        width: 80px;
        cursor: pointer;
    }  

    .payment_details {
        padding: 3%;
        width: 80%;
        margin: 0% auto;
    }

    .payment_details p {
        padding: 4% 0% 1%;
        color: #0C0C0C;
        // font-weight: bold;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .input_name {
        height: 55px;
        width: 100%;
        padding: 6px 12px;
        border: 0;
        font-size: 14px;
        margin-bottom: 2%;
        background: #f2f2f2;
        color: #000;
    }

    span.price_hint {
        font-size: 18px;
        position: relative;
        // top: 15px;
        bottom: 24px;
    }

    .hint_wrap h6 {
        margin-bottom: 4%;
    }

    hr.wow.zoomIn {
        width: 40%;
    }

    .overlay {
        opacity: 0.9;
        filter: alpha(opacity=20);
        background-color: #DFE1D4;
        width: 100%;
        height: 100%;
        z-index: 10;
        top: 0;
        left: 0;
        position: absolute;
    }


    /***********************NEW DESIGN CSS *************************/
    .how_work_section
    {
        background-color: #f2f2f2;
        width: 100%;
        padding: 6% 20% 3% 27%;
    }
    .how_work_section span{
        color: #d71c6c;
        font-size: 18px;
        font-weight:  bold;
    }  
    .how_work_section h4 {
        font-size: 14px;
        font-weight: bold;
    }
    .how_work_section p{
        line-height: 27px;
        font-size: 12px;
        width: 60%;
    }
    .row_style{
        margin: 1% 0% 1% 0%;
    }
    
    .city_wrap.pull-right {
        // position: relative;
        // right: 40px;
        // width: 22%;
        // bottom: 100px;
        position: relative;
        right: 40px;
        width: 22%;
        top: 35px;
    }

    .city_wrap h4 {
        display: inline-block;
        border: 1px solid #000;
        line-height: 1;
        padding: 2%;
        text-align: center;
        font-weight: bold;
    }

    .enquiry {
        display: inline;
        position: relative;
        bottom: 2px;
    }

    button.btn.btn-default.enquiry_btn {
        background: #C5310B;
        display: inline-block;
        color: #fff;
        border: 0;
        line-height: 2;
        padding: 1% 3%;
        text-align: center;
        font-weight: normal;
        border-radius: 0;
        font-size: 15px;
    }
    
    span.enquiry_icon {
        color: #fff;
        border-left: 1px solid #fff;
        padding: 1%;
        display: inline-block;
        font-size: 21px;
        position: relative;
        right: 5px;
        top: 4px;
        width: 12%;
        text-align: center;
        cursor: pointer;
        background-color: #C5310B;
    }

    .enquiry_form {
        background: #C5310B;
        padding: 3% 6%;
    }

    form.contact_form {
        width: 100%;
        margin: 0 auto;
    }

    input.input_style1 {
        width: 100%;
        background: transparent;
        border: 1px solid #fff;
        height: 46px;
        padding: 6px 12px;
        color: #fff;
    }

    textarea#message {
        border: 1px solid #fff;
        background: transparent;
        color: #fff;
        padding: 6px 12px;
    }

    button.send-btn {
        font-size: 24px;
        border: 0;
        background: #fff;
        width: 40%;
        color: #C5310B;
        padding: 2%;
    }

    h1.quick_txt {
        position: relative;
        color: #fff;
        font-weight: bold;
        // text-align: center;
    }
    .enquiry_form, .map, .cust_enquire{
        height: 338px;
    }
    .cust_enquire .thanks{
        text-align: left;
        color: white;
        position: relative;
        // left: 110px;
    }
    .map{
        background: url("/assets/rental_agreement/map.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 3%;
        color: #fff;
        font-size: 18px;
        height: 100%;
        p{
            font-size: 14px;
        }
    }
    
    .pull-right.close_enquiry {
        cursor: pointer;
        color: white;
        font-size: 50px;
        position: absolute;
        z-index: 1;
        right: 2%;
    }

    h4.email_txt a {
        color: #C5310B;
        text-decoration: none;
        cursor: pointer;
    }

    img.pull-left.logo {
        position: relative;
        left: 25px;
        top: 25px;
    }

    .question_bg{
        background: url('/assets/rental_agreement/questions_bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 3%;
    }

    .hovereffect {
        width:100%;
        height:100%;
        float:left;
        overflow:hidden;
        position:relative;
        text-align:center;
        cursor:default;
    }

    .hovereffect .overlay {
        width:100%;
        height:100%;
        position:absolute;
        overflow:hidden;
        top:0;
        left:0;
        opacity:0;
        background-color:rgba(234, 165, 0, 0.85);
        -webkit-transition:all .4s ease-in-out;
        transition:all .4s ease-in-out
    }

    .hovereffect img {
        display:block;
        position:relative;
        -webkit-transition:all .4s linear;
        transition:all .4s linear;
        height: 300px;
    }

    .hovereffect h2 {
        text-transform:uppercase;
        color:#fff;
        text-align:center;
        position:relative;
        font-size:17px;
        background:rgba(0,0,0,0.6);
        -webkit-transform:translatey(-100px);
        -ms-transform:translatey(-100px);
        transform:translatey(-100px);
        -webkit-transition:all .2s ease-in-out;
        transition:all .2s ease-in-out;
        padding:10px;
    }

    .hovereffect .info {
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        border: 1px solid #fff;
        background-color: transparent;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        margin: 120px 0 0;
        padding: 7px 14px;
        font-size: 30px;
        cursor: pointer;
    }

    .hovereffect .info:hover {
        box-shadow:0 0 5px #fff;
    }

    .hovereffect:hover img {
        -ms-transform:scale(1.2);
        -webkit-transform:scale(1.2);
        transform:scale(1.2);
    }

    .hovereffect:hover .overlay {
        opacity:1;
        filter:alpha(opacity=100);
    }

    .hovereffect:hover h2,.hovereffect:hover .info {
        opacity:1;
        filter:alpha(opacity=100);
        -ms-transform:translatey(0);
        -webkit-transform:translatey(0);
        transform:translatey(0);
    }

    .hovereffect:hover .info {
        -webkit-transition-delay:.2s;
        transition-delay:.2s;
    }
    
    h3.rental_txt.text-center {
        margin-bottom: 4%;
    }

    h4.overlay_wrap {
        text-align: center;
        position: relative;
        top: 22px;
    }

    .choose_agreement {
        margin-bottom: 6%;
        .choose-type img{
            border: 1px solid #d4d4d4;
            -webkit-box-shadow: 0 2px 64px 0 rgba(197,197,197,.5);
            box-shadow: 0 2px 64px 0 rgba(197,197,197,.5);
        }
    }

    .order_no {
        color: grey;
        font-size: 70px;
        margin-bottom: 0;
        margin-top: 0;
    }

    h2.order_txt {
        margin-top: 0;
        border-top: 4px solid #000;
        display: inline-block;
        font-size: 40px;
    }

    h4.questions_heading {
        font-size: 20px;
        font-weight: bold;
    }

    .stamp_study {
        width: 51%;
        margin: 0 auto 8%;
    }

    .section_two {
        background: #fff;
        padding: 4%;
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.28);
        text-align: center;
        height: 490px;
    }

    .stamp_price {
        background: url(/assets/rental_agreement/stamping_icon.png);
        background-repeat: no-repeat;
        height: 300px;
        position: relative;
        width: 300px;
        margin: 0 auto;
    }

    span.stamp_icon {
        font-size: 30px;
        position: relative;
        top: 130px;
    }

    h2.text-center.doc_name {
        margin-bottom: 4%;
    }

    .next_btn {
        background: #d41e69;
        border: 0;
        border-radius: 0;
        font-size: 30px;
        color: #fff;
        width: 25%;
        margin: 6% auto;
        display: block;
    }

    .arrow {
        width: 100%;
        position: relative;
        top: 270px;
    }

    .arrow_right.pull-right {
        font-size: 30px;
        border: 2px solid grey;
        border-radius: 100%;
        height: 50px;
        width: 50px;
        text-align: center;
        cursor: pointer;
    }

    .arrow_left.pull-left {
        font-size: 30px;
        border: 2px solid grey;
        border-radius: 100%;
        height: 50px;
        width: 50px;
        text-align: center;
        cursor: pointer;
    }
    
    .doc_price {
        background: url(/assets/rental_agreement/stamping_icon.png);
        background-repeat: no-repeat;
        height: 300px;
        position: relative;
        width: 300px;
        margin: -10px auto;
    }
    span.price_flow {
        font-size: 12px;
        position: relative;
        bottom: 50px;
        display: inline-block;
        width: 100%;
    }

    .horizontal1 {
        border: 0;
        border-top: 1px solid #000;
        width: 30px;
        display: inline-block;
        position: relative;
        top: 16px;
    }

    .option_wrap {
        width: 50%;
        margin: 4% auto;
    }

    .file_upload {
        position: relative;
        top: 154px;
    }

    .process h4 {
        position: relative;
        top: 160px;
    }

    .copies_wrap {
        width: 50%;
        margin: 9% auto;
        text-align: center;
    }

    span.price_hints {
        font-size: 18px;
        position: relative;
        bottom: 0;
    }

    .total {
        position: relative;
        top: 120px;
        font-size: 30px;
    }

    span.price_hints.sum_amount {
        position: relative;
        top: -40px;
    }

    .price_style {
        height: auto;
        margin: 0;
        padding: 10px;
    }

    span.price_hints_tag {
        font-size: 10px;
        position: relative;
        bottom: 0;
    }

    .section_three.summary_wrap {
        padding: 2%;
        box-shadow: 0 1px 3px 0 rgba(224, 224, 224, 0.12), 0 1px 6px 0 rgba(130, 130, 130, 0.12);
        border: 1px solid rgba(14, 14, 14, 0.28);
        height: 310px;
        width: 60%;
        margin: 0 auto;
    }

    .row.order_head {
        width: 60%;
        margin: 0 auto;
    }

    .radio_three {
        position: relative;
        bottom: 8px;
    }

    .continue_btn {
        background: #d41e69;
        border: 0;
        border-radius: 0;
        font-size: 30px;
        color: #fff;
        width: 25%;
        margin: 6% auto;
        display: block;
        text-align: center;
        cursor: pointer;
        padding: 0.5%;
    }

    .summary_details {
        width: 65%;
        margin: 0 auto;
        display: block;
    }

    span.price_hints.sum_amount.txt_total {
        text-align: center !important;
        font-size: 14px;
        width: 100%;
        display: block;
    }
    
    .radio_oneimg {
        position: relative;
        float: left;
        width: 32%;
        padding-left: 10px;
        > * {
            cursor: pointer;
        }
    }

    .radio_oneimg img {
        width: 30%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 7% auto;
    }

    h4.process_descp {
        font-size: 12px;
    }

    h4.services-bangalore.text-center {
        color: #C5310B;
        position: relative;
        top: 110px;
    }
}
/***********************NEW DESIGN CSS END *************************/
/**************************** MEDIA QUERY STARTS **********************************/


@media only screen and (max-width: 640px) and (min-width: 320px){
    .campaign.container-fluid .main_bg{
        background: url("/assets/rental_agreement/mobilebg.jpg");
        height: 100vh;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed; 
    }
    .media_wrap img{
        text-align: center;
    }
    .campaign.container-fluid .city_wrap.pull-right {
        top: 30px;
        width: 41%;
        left: 0%;
    }
    .campaign.container-fluid .city_wrap h4 {
        font-size: 10px!important;
    }
    .campaign.container-fluid button.btn.btn-default.enquiry_btn {
        font-size: 10px;
    }
    .campaign.container-fluid span.enquiry_icon {
       font-size: 12px;
        height: 26px;
        top: -2px;
    }
    .campaign.container-fluid .center_align {
        height: 16em;
        position: relative;
        top: 130px;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    .campaign.container-fluid h2.line_tag {
        margin-top: 0;
        border-bottom: 0;
        width: 58%;
    }
    .campaign.container-fluid h4.tag_line {
        font-size: 14px;
    }
    .campaign.container-fluid .enquiry {
        z-index: 22 !important;
    }
    .campaign.container-fluid .enquiry_form {
        padding: 8%;
        height: auto!important;
    }
    .campaign.container-fluid h1.quick_txt {
        left: 74px;
        font-size: 14px;
    }
    .campaign.container-fluid textarea#message {
        padding: 3px 3px;
        width: 100%;
    }
    .campaign.container-fluid .map {
        padding: 10%;
        font-size: 0px !important;
        height: auto;
        z-index: 22;
    }

    .campaign.container-fluid .pull-right.close_enquiry {
        font-size: 25px!important;
    }
    .campaign.container-fluid .map h1,h2{
        font-size: 24px;
    }
    .campaign.container-fluid .map h4{
        font-size: 14px;
    }
    .campaign.container-fluid img.pull-left.logo {
        width: 80px!important;
        height: 80px!important;
    }
    .campaign.container-fluid h1.main_head {
        font-size: 20px;
        display: inline-block;
        margin: 0 auto;
        width: 100%;
    }
    .campaign.container-fluid h1.sub_head {
        font-size: 16px;
        display: inline-block;
    }
    .campaign.container-fluid button.btn.btn-default.btn_order {
        font-size: 14px;
        height: 36px;
        top: 50px;
    }
    .text-center.wow.zoomIn {
        font-size: 18px!important;
    }
    .campaign.container-fluid .how_work_section {
        width: 300px!important;
        margin: 0 auto!important;
        padding: 0px!important;

    }
    .campaign.container-fluid .how_work_section p {
        width: 100%;
    }
    .campaign.container-fluid .choose_agreement h3{
        font-size: 18px;
    }
    .campaign.container-fluid h4.overlay_wrap {
        top: 6px;
    }
    .text-center.doc_name {
        font-size: 18px;
    }
    .campaign.container-fluid .section_one {
        width: 100%!important;
        padding: 3%;
    }
    .campaign.container-fluid .stamp_price {
        height: 100px;
        width: 100px;
    }
    .campaign.container-fluid .order_no {
        font-size: 24px;
    }
    .campaign.container-fluid h2.order_txt {
        font-size: 18px;
    }
    .campaign.container-fluid h4.questions_heading {
        font-size: 12px;
    }
    .campaign.container-fluid .stamp_study {
        width: 100%;
        margin: 0 auto 7%;
    }
    .campaign.container-fluid .section_two {
        padding: 4%;
        height: 300px;
        margin-top: 10px!important;
    }
    .campaign.container-fluid .section_two h3{
        font-size: 14px;
    }
   .campaign.container-fluid span.stamp_icon {
        font-size: 18px;
        position: relative;
        top: 45px;
    }
    .campaign.container-fluid span.price_hint {
        font-size: 18px;
        bottom: -48px;
    }
    .campaign.container-fluid span.price_hints.sum_amount.txt_total{
        top: -46px;
    }
    .campaign.container-fluid .continue_btn {
        font-size: 24px;
        width: 50%;
    }
    .campaign.container-fluid #notification.red {
        width: 300px;
        font-size: 12px;
    }
    .campaign.container-fluid #notification {
        height: 40px;
    }
    .campaign.container-fluid .radio-toolbars label {
        height: 53px;
        width: 89%;
        line-height: 3;
    }
    .campaign.container-fluid .doc_price {
        background: url('/assets/rental_agreement/stamping_icon.png');
        background-repeat: no-repeat;
        height: auto;
        position: relative;
        width: 260px;
        margin: 0 auto;
    }
    .campaign.container-fluid .file_upload {
        top: 44px;
    }
    .campaign.container-fluid .process h4 {
        position: relative;
        top: 80px;
    }
    .campaign.container-fluid .total {
        top: 30px;
        font-size: 24px;
    }
    .campaign.container-fluid .section_three.summary_wrap {
        height: auto;
        width: 100%;
        margin: 0 auto;
    }
    .campaign.container-fluid span.price_flow {
        font-size: 14px;
        bottom: -50px;
    }
    .campaign.container-fluid span.price_hints.sum_amount {
        top: 74px;
    }
    .campaign.container-fluid .terms_wrap {
        width: 100%;
        margin: 3% auto;
    }
    .campaign.container-fluid h4.main_head {
        font-size: 12px;
    }
    .campaign.container-fluid .stamp_price {
        height: auto;
        width: 100px;
    }
    .campaign.container-fluid .section_two {
        padding: 4%;
        height: 250px;
        margin-top: 10px !important;
        width: 100%!important;
    }
    .campaign.container-fluid .radio_oneimg img {
        width: 16%;
        position: absolute;
        left: -33px;
        right: 0;
        margin: 1% auto;
    }
    .campaign.container-fluid .radio-toolbars p {
        margin: 54px 0 0px;
    }
    .campaign.container-fluid .radio-toolbars input[type="radio"]:checked + label {
        padding: 4px;
        color: #000;
        height: 90px;
        line-height: 1;
        z-index: 25;
        font-size: 12px;
    }
    .campaign.container-fluid .radio-toolbars label {
        height: 93px;
        width: 89%;
        line-height: 1;
        z-index: 22;
        cursor: pointer;
        font-size: 12px;
    }
    .campaign.container-fluid .radio_oneimg {
        position: relative;
        float: left;
        width: 100%;
        padding-left: 10px;
        height: 100px;
    }
    .campaign.container-fluid .radio-toolbars {
        margin: 0 auto 3%;
        min-height: 40px;
    }

    .campaign.container-fluid .price_style {
        padding: 0;
    }

    .choose-type {
        margin-bottom: 12%;
    }

}

@media all and (min-width: 1025px) and (max-width: 1480px) {
    .container {
        width: 1050px!important;
    }
    .campaign.container-fluid .stamp_study {
        width: 60%;
        margin: 0 auto 8%;
    }
    .campaign form#question_form {
        width: 100%;
        margin: 0 auto;
    }
     .campaign col-sm-9{
        width: 60%;
    }
    .campaign.container-fluid .city_wrap.pull-right {
        width: 34%;
    }
    .campaign.container-fluid h2.line_tag {
        width: 23%;
    }
    .campaign.container-fluid .how_work_section {
        width: 100%;
        padding: 6% 10% 3% 19%;
    }
    .campaign.container-fluid .radio-toolbars label {
        margin: 10px 6px;
        width: 100%;
        font-size: 12px;
    }
    .campaign.container-fluid .option_wrap {
        width: 55%;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px){
    .campaign.container-fluid .main_bg {
        background: url("/assets/rental_agreement/tab_bg.jpg");
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    .campaign.container-fluid .center_align {
        height: 16em;
        position: relative;
        top: 160px;
        text-align: center;
    }
    .campaign.container-fluid h1.main_head {
        top: 160px;
        display: inline-block;
        right: 60px;
    }
    .campaign.container-fluid .enquiry_form, .campaign.container-fluid .map, .campaign.container-fluid .cust_enquire {
        height: auto;
    }
    .campaign.container-fluid .city_wrap.pull-right {
        width: 54%;
    }
    .campaign.container-fluid span.enquiry_icon {
        z-index: 9999!important;
    }
    .campaign.container-fluid form.contact_form {
        width: 51%;
        margin: 0 auto;
    }
    .campaign.container-fluid h1.quick_txt {
        left: 170px;
    }
    .campaign.container-fluid .map {
        padding: 8%;
    }
    .campaign.container-fluid h1.sub_head {
        margin-top: 24%;
    }
    .campaign.container-fluid h2.line_tag {
        margin-top: 2%;
        width: 46%;
    }
    .campaign.container-fluid .row_style {
        margin: 1% 0% 7% 0%;
    }
    .campaign.container-fluid .how_work_section p {
        width: 100%!important;
    }
    .campaign h4.work_head {
        width: 35%;
    }  
    .campaign.container-fluid h4.questions_heading {
        font-size: 16px;
    } 
    .campaign.container-fluid .hovereffect img {
        margin: 0 auto;
    } 
    .campaign.container-fluid .hovereffect .overlay {
        width: 60%;
         margin-left: 150px !important;
    }
    .campaign.container-fluid .order_no {
        font-size: 20px;
    }
    .campaign.container-fluid h2.order_txt {
        font-size: 20px;
    }
    .campaign.container-fluid h4.overlay_wrap {
        top: 10px;
    }
    .campaign.container-fluid .section_one {
        width: 100% !important;
        margin: 0 auto;
    }
    .campaign.container-fluid .arrow {
        width: 100%;
        position: relative;
        top: 500px;
    }
    .campaign.container-fluid .section_two {
        width: 100%;
         margin: 0 auto;
    }
    .campaign.container-fluid .continue_btn {
        width: 30%;
        margin: 6% auto;
    }
    .campaign.container-fluid .radio-toolbars label {
        height: 170px;
        padding: 9px;
        width: 95%;
    }
    .campaign.container-fluid span.price_flow {
        font-size: 16px;
        bottom: 94px;
        width: 100%;
    }
    .campaign.container-fluid span.price_hints.sum_amount {
        top: -70px;
    }
    .campaign.container-fluid span.price_hints.sum_amount.txt_total {
        width: 85%;
        margin: 0 auto;
    }
    .campaign.container-fluid .section_three.summary_wrap {
        width: 76%;
    }
    .campaign.container-fluid .terms_wrap {
        width: 60%;
    }
    .campaign.container-fluid #notification.red {
        width: 100%;
        font-size: 12px;
    }

}
   

/**************************** MEDIA QUERY END **********************************/
    
/**************************** MEDIA QUERY END **********************************/

    .testimonial-wrap-rental{
        background: url("/assets/rental_agreement/testimonial_bg.jpg");
        background-size: cover;
        text-align: left;
        color: white;
    }
    .testimonial-wrap-rental .testimonial_head{
        color: #fff;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
    }
    .testimonial-wrap-rental .for-testimonial-icons{
        padding-top: 30px;
    }
    .testimonial-wrap-rental .for-testimonial-icons-bottom{
        padding-bottom: 30px;
    }

    .testimonial-wrap-rental h4.rental_head span {
        background: transparent;
        padding: 2%;
        color: #fff;
        text-align: center;
    } 
    .testimonial-wrap-rental h4{
        color: #26c3ba;
    }
    @media all and (min-width: 320px) and (max-width: 980px) {
        .campaign.container-fluid .fun_item_img{
            padding-left: 5px;
        }
    }
    @media all and (min-width: 320px) and (max-width: 640px) {
        .campaign.container-fluid .for-heading{
            padding-top: 20px;
        }
    }
    @media all and (min-width: 320px) and (max-width: 991px) {
        .media-wrap-rental .media-icons{
            padding-top: 0;
        }
        .media-wrap-rental .for-media-icons-top{
            padding-top: 30px;
        }
        .media-wrap-rental .media-icons img{
            display: block;
            margin: auto;
        }
    }

    
