/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require jquery-ui
 *= require_tree ./external
 *= require ./material/material.min 
 *= require login_popup
 *= require_tree ./website
 *= require_self
 */
//*= require ./new_css/header.css
//*= require neworder
// *= require profile
//*= require comming_soon
@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'bootstrap-datetimepicker';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

 body,*{
 	margin: 0;
 	padding: 0;
 	font-family: 'Open Sans', sans-serif;
 	font-size: 14px;
 	
 }
 #notification{
  display: none;
  z-index: 1111;
  color: white;
  height: 80px;
  position: absolute;
  text-align: center;
  margin: 0 2% 2%;
  width: 35%;
  padding: 25px;
  bottom: 0;
  font-size: 24px;
  z-index: 9999;
}
#notification.red{
  background-color: red;
}
#notification.green{
  background-color: #55A571;
}
@media all and (min-width: 360px) and (max-width: 640px) {
	#notification {
		height: 45px;
		margin: 8% 15%;
		width: 70%;
		padding: 15px;
		font-size: 12px;
	}
}
.track-padd .result{
	.order_status {
	    width: 94%;
	    margin: 0 auto 0;
	    background: #f2f2f2;
	    padding-top: 2%;
	    ul.img_wrap li {
	        float: left;
	        height: 50px;
	        font-size: 12px;

	    }
	    .vertical2 {
	        transform: rotate(90deg);
	        margin-top: 21%;
	        width: 60%;
	        border: 0;
	        border-top: 1px solid #989797;
	        margin-left: 38%;
	        margin-bottom: 20%;
	    }
	}
}
.cookie-bar{
  position: fixed;
  bottom: 0;
  padding: 14px 10px;
  background: #4430308a;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #f5f5f2;
}