<div class="gst-compliance">
	<nav class="navbar navbar-inverse nav-bg" style="border:none;border-radius:0; padding:0; margin:0; z-index:999;" name="home" id="home">
		<div class="container-fluid" style="padding: 0 2%">
			<div class="navbar-header navbar-height" id="m-nav">
				<button type="button" id="m-butt" class="navbar-toggle mobile-nav" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
				</button>
				<a href="https://www.dockettech.com/" class="logo-mobile">
					<%= image_tag "/assets/gst_compliance/Logo.svg", style:"position:absolute; top:-9%; height: 190px;", class:"m-logo" %>
				</a>					
			</div>
			<div class="collapse navbar-collapse pink-bg" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					 <li class="li-right"><a href="#home"  class="nav-color">Home</a></li>
					<li class="li-right"><a href="#about" class="nav-color">Compliances</a></li>
					<li class="li-right"><a href="#contact"  class="nav-color">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="hidden" style="display:none">
			<div class="document1" data-atr="<%= @document1.id rescue nil %>" data-name="<%= @document1.name  rescue nil %>" ></div>
			<div class="document2" data-atr="<%= @document2.id rescue nil %>" data-name="<%= @document2.name  rescue nil %>" ></div>
			<div class="document3" data-atr="<%= @document3.id rescue nil %>" data-name="<%= @document3.name  rescue nil %>" ></div>
			<div class="document4" data-atr="<%= @document4.id rescue nil %>" data-name="<%= @document4.name  rescue nil %>" ></div>
			<div class="document5" data-atr="<%= @document5.id rescue nil %>" data-name="<%= @document5.name  rescue nil %>" ></div>
			<div class="document6" data-atr="<%= @document6.id rescue nil %>" data-name="<%= @document6.name  rescue nil %>" ></div>
			<div class="document7" data-atr="<%= @document7.id rescue nil %>" data-name="<%= @document7.name  rescue nil %>" ></div>
			<div class="document8" data-atr="<%= @document8.id rescue nil %>" data-name="<%= @document8.name  rescue nil %>" ></div>
			<div class="document9" data-atr="<%= @document9.id rescue nil %>" data-name="<%= @document9.name  rescue nil %>" ></div>
			<div class="document10" data-atr="<%= @document10.id rescue nil %>" data-name="<%= @document10.name  rescue nil %>" ></div>
	</div>
	<section id='home1'>
	  	<div class="container" >
			<div class="row">
				<div class="col-sm-12">
				  	<div class="col-sm-6 logo-pc" style="margin-top:45vh">
					  	<h1 class="font-35"><b>COMPANY COMPLIANCES</b></h1>
						<h4 class="font-16" style="margin-bottom: 0px;">Welcome to Docket's Company Compliance Filing Services</h4>
						<h4 class="font-16" style="margin-top: 2px;">Enjoy a seamless filing process at amazing prices</h4>
				  	</div>
				 	<div class="col-sm-6">
						<div style="width:75%; background: rgba(0,0,0,0.5); color:#fff; padding:20px;  margin-top: 25vh; min-height: 150px;" class="m-width-100">
					  		<h1 class="font-24 m-display"><b>COMPANY COMPLIANCES</b></h1>									  
							<h4 class="font-22" style="margin-bottom: 0px;">To get in touch with us.</h4>
							<h4 class="font-14">Fill in below</h4>
							<div class="thankyou1" style="display:none">
								<div class="col-sm-12" style="margin-top:3%;">
									<div class="form-group">
										Thankyou! We will get back to you soon.
									</div>
								</div>
							</div>
							<%= form_tag('/contact_requests', remote: true, type: :post, :onSubmit => 'formHide1()', :class=> 'contact_form1') do |f| %>
								<div class="form-group">
									<input type="text" class="form-control" name="contact_request[name]" placeholder="Your Name *" style="border-radius:0px; margin-bottom: 25px;">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" name="contact_request[email]" placeholder="Email Address *" style="border-radius:0px; margin-bottom: 25px;">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" name="contact_request[phone]" placeholder="Phone Number *" style="border-radius:0px; margin-bottom: 25px;">
								</div>
								<input type="hidden" name='contact_request[request_type]' value='Compliance'>
								
								<div class="center">
									<button type="submit" class="request_top" id="request_top" value="REQUEST A CALL BACK" align="center" style="width:100%; background:transparent; color:#e19e8a; border:1px solid #e19e8a;padding:10px; margin-top:5%;margin-bottom:15%;">REQUEST A CALL BACK</button>		  
								</div>
							<% end %>
					  	</div>
				  	</div>
			  	</div>
		  	</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center" style="color:#000;margin-bottom:5%;">
					<h1 class="font-30" style="color:#9f9e9e; margin-top:30px; margin-bottom:0px;"><b>WHY</b></h1>
					<h1 class="font-30" style="margin-top: 2px;"><b>COMPLIANCE</b></h1>
					<p style="width: 72%; margin-left:14%; margin-top:30px;">
						Every company has to follow a set of compliances as set forth by different regulatory bodies. The
						‘Company Compliance’ regimes require companies to collate their business information and update the
						Ministry of Corporate Affair on their state of compliance(s).
					</p>
				</div>
			</div>
		</div>
	</section>
	<section style="background:#f0efee;" id="about">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center" style="color:#000;margin-bottom:5%;">
					<h1 class="font-30" style="color:#9f9e9e; margin-top:30px; margin-bottom:0px;"><b>THE LIST OF</b></h1>
					<h1 class="font-30" style="margin-top: 2px;"><b>COMPANY COMPLIANCES</b></h1>
					<p style="width: 72%; margin-left:14%; margin-top:30px;">
						Be your company a Limited Liability Partnership, One Person Company, Private Limited Company or
						Trademark Registration, it must be accommodating with the Annual compliance regulations to avoid
						penalties. On failing to comply with the rules and regulations of the Companies Act, then the Company
						and every personnel who is directly answerable or is in default will be punishable for the entire period
						the default continues. If there is any delay in filing for one’s company, then an additional charge (as a
						late fee) is ancillary to the amount to be paid—and this late fee keeps increasing with the period of non-compliance.
					</p>
					<div class="logo-pc fixme" id="tabs" style="background:#494949; height:15vh;width:72%; margin-left:14%; margin-top:5%;">
						<div class="tab" >
							<button class="tablinks font-18" style="width:30%;" onclick="openCity(event, 'London')" id="defaultOpen">ANNUAL COMPLIANCES</button>
							<button class="tablinks font-18" style="width:30%;" onclick="openCity(event, 'Paris')">EVENT BASED COMPLIANCES</button>
							<button class="tablinks font-18" style="width:25%; padding: 14px 5%; " onclick="openCity(event, 'Tokyo')">CLOSURE</button>
							<a href="#home" style="" id="pointer" name="pointer"><i id="arrow" class="fa fa-angle-down" style="font-size:40px;border-radius:50%; background:#fff; color:#494949; width:40px; margin-top:5vh;"></i></a>
						</div>
					</div>

					<div id="London" class="tabcontent logo-pc d_height">
						<div class="col-sm-12 logo-pc" style="margin-top:7%;">
							<div class="col-sm-6" style="background:#fff; padding:3%; height:410px; margin-top:10px;">
								<h2 style="color:#b1605b; width:60%; margin-top:0%;" class="text-left font-16">Annual Compliances for Private Limited Companies</h2>
								<p class="text-justify" style="margin-top:5%;">
									One of the most popular forms of starting a business is by registering a Private Limited
									Company. However, there are certain regulations that the company must abide by in order to
									remain compliant with Companies Act, 2013 and other rules propagated by the Indian Ministry of Affairs.
								</p>
								<p class="text-justify" style="margin-top:5%;">
									Our package includes Filing of Annual Returns, Holding Annual General Meeting, Creation of
									Board minutes, and Preparation of Director’s Report and filing of forms with MCA.
								</p>
								<div style="border:1px solid black; width:40%; margin-left:30%; margin-top:50px;">
									<h2 class="font-18" style="margin-bottom:0;margin-top:10px;">&#x20b9; <b>4999/-</b></h2>
									<h2 class="font-16" style="margin-top:2px;">+ Govt fee</h2>
								</div>
							</div>
							<div class="col-sm-6" style="padding:0;">
								<%= image_tag "/assets/gst_compliance/annual_1.jpg", class: "", style: "width:100%; height:430px;" %>
							</div>
						</div>
						
						<div class="col-sm-12 logo-pc" style="margin-top:7%;">
							<div class="col-sm-6" style="padding:0;">
								<%= image_tag "/assets/gst_compliance/annual_2.jpg", class: "", style:"width:100%; height:430px;" %>
							</div>
							<div class="col-sm-6" style="background:#fff; padding:3%; height:410px; margin-top:10px;">
								<h2 style="color:#b1605b; width:60%; margin-top:0%;" class="text-left font-16">Annual Filings for LLPs</h2>
								<p class="text-justify" style="margin-top:5%;">
									LLP or ‘Limited Liability Partnership’ is a form of company where one may have the flexibility of
									partners and shared responsibility and the benefit of limited liability for the partners that is
									restricted to their approved contribution to the company. All LLP Companies registered under
									the LLP Act 2008 are required to comply with the enlisted regulations.
								</p>
								<p class="text-justify" style="margin-top:5%;">
									Our package includes Filing of Annual Return.
								</p>
								<div style="border:1px solid black; width:40%; margin-left:30%; margin-top:50px;">
									<h2 class="font-18" style="margin-bottom:0;margin-top:10px;">&#x20b9; <b>3999/-</b></h2>
									<h2 class="font-16" style="margin-top:2px;">+ Govt fee</h2>
								</div>
							</div>								
						</div>

					</div>

					<div id="Paris" class="tabcontent logo-pc d_height">
						<div class="col-sm-12 logo-pc" style="margin-top:7%;">
							<div class="col-sm-6" style="background:#fff; padding:3%; height:410px; margin-top:10px;">
								<h2 style="color:#b1605b; width:60%; margin-top:0%;" class="text-left font-16">Increase in Authorized Capital</h2>
								<p class="text-justify" style="margin-top:5%;">
									The ‘Authorized Capital’ is the maximum amount of capital that a Company can raise through
									the issue of shares to its shareholders. However, during the course of business expansion, a
									Company may need to increase the limit of authorized capital. Then the Company needs to issue
									new shares and induct more capital to the company.
								</p>
								<p class="text-justify" style="margin-top:5%;">
									Navigate the complex processes with ease by letting us do it for you!
								</p>
								<div style="border:1px solid black; width:40%; margin-left:30%; margin-top:50px;">
									<h2 class="font-18" style="margin-bottom:0;margin-top:10px;">&#x20b9; <b>2999/-</b></h2>
									<h2 class="font-16" style="margin-top:2px;">+ Govt fee</h2>
								</div>
							</div>
							<div class="col-sm-6" style="padding:0;">
								<%= image_tag "/assets/gst_compliance/event_1.jpg", class: "", style:"width:100%; height:430px;" %>
							</div>
						</div>
						
						<div class="col-sm-12 logo-pc" style="margin-top:7%;">
							<div class="col-sm-6" style="padding:0;">
								<%= image_tag "/assets/gst_compliance/event_2.jpg", class: "", style:"width:100%; height:620px;" %>
							</div>
							<div class="col-sm-6" style="background:#fff; padding:3%; height:600px; margin-top:10px;">
								<h2 style="color:#b1605b; width:60%; margin-top:0%;" class="text-left font-16">Adding a Director OR Remove a Director OR Add a Designated Partner</h2>
								<p class="text-justify" style="margin-top:5%;">
									The Board of Directors of a company play a very important role in the company’s decision-
									making process and the shareholders of the company appoint them.
								</p>
								<table class="table table-bordered">
									<thead>
									<tr>
										<th>Company Type</th>
										<th>Number of Directors Required</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>Private Limited Company</td>
										<td>2</td>
									</tr>
									<tr>
										<td>Limited Company</td>
										<td>3</td>
									</tr>
									<tr>
										<td>Limited Liability Partnership</td>
										<td>2</td>
									</tr>
									</tbody>
								</table>
								<p class="text-justify" style="margin-top:5%;">
									Naturally, as business progresses, appointment or removal of a Director or Designated Partners
									may be required due to different reasons. Our experts can assist you in alleviating the process.
								</p>
								<div style="border:1px solid black; width:40%; margin-left:30%; margin-top:50px;">
									<h2 class="font-18" style="margin-bottom:0;margin-top:10px;">&#x20b9; <b>1999/-</b></h2>
									<h2 class="font-16" style="margin-top:2px;">+ Govt fee</h2>
								</div>
							</div>								
						</div>

						<div class="col-sm-12 logo-pc" style="margin-top:7%;">
							<div class="col-sm-6" style="background:#fff; padding:3%; height:410px; margin-top:10px;">
								<h2 style="color:#b1605b; width:60%; margin-top:0%;" class="text-left font-16">Change Objectives of Your Business</h2>
								<p class="text-justify" style="margin-top:5%;">
									The objectives of a company can be subject to change any time after its incorporation by
									following a set procedure under the Companies Act, 2013. Every amendment in the clauses and
									objectives needs to be appropriately documented and filed with the Registrar of Companies of
									the concerned State of India.
								</p>									
								<div style="border:1px solid black; width:40%; margin-left:30%; margin-top:50px;">
									<h2 class="font-18" style="margin-bottom:0;margin-top:10px;">&#x20b9; <b>2999/-</b></h2>
									<h2 class="font-16" style="margin-top:2px;">+ Govt fee</h2>
								</div>
							</div>
							<div class="col-sm-6" style="padding:0;">
								<%= image_tag "/assets/gst_compliance/event_3.jpg", class: "", style:"width:100%; height:430px;" %>
							</div>
						</div>
						
						<div class="col-sm-12 logo-pc" style="margin-top:7%;">
							<div class="col-sm-6" style="padding:0;">
								<%= image_tag "/assets/gst_compliance/event_4.jpg", class: "", style:"width:100%; height:430px;" %>
							</div>
							<div class="col-sm-6" style="background:#fff; padding:3%; height:410px; margin-top:10px;">
								<h2 style="color:#b1605b; width:60%; margin-top:0%;" class="text-left font-16">Change Official Address</h2>
								<p class="text-justify" style="margin-top:5%;">
									The registered office of a company or LLP is the main place of business and all official
									correspondence. It is also the main address of the company’s physical establishment as
									informed in the Ministry of Corporate Affairs. To change such registered address within the local
									limits of a State, the process is slightly easier than the inter-state change of address. We offer a
									hassle-free option to change the address of your company.
								</p>
								<div style="border:1px solid black; width:40%; margin-left:30%; margin-top:50px;">
									<h2 class="font-18" style="margin-bottom:0;margin-top:10px;">&#x20b9; <b>1999/-</b></h2>
									<h2 class="font-16" style="margin-top:2px;">+ Govt fee</h2>
								</div>
							</div>								
						</div>

						<div class="col-sm-12 logo-pc" style="margin-top:7%;">
							<div class="col-sm-6" style="background:#fff; padding:3%; height:410px; margin-top:10px;">
								<h2 style="color:#b1605b; width:60%; margin-top:0%;" class="text-left font-16">Change Company Name</h2>
								<p class="text-justify" style="margin-top:5%;">
									The requirement to change the company (Private Limited or LLP) might come about any time
									due to various reasons like owning property, easy transferability, borrowing capacity, separate
									legal entity and more. Contact us to get it done soon.
								</p>
								
								<div style="border:1px solid black; width:40%; margin-left:30%; margin-top:50px;">
									<h2 class="font-18" style="margin-bottom:0;margin-top:10px;">&#x20b9; <b>2999/-</b></h2>
									<h2 class="font-16" style="margin-top:2px;">+ Govt fee</h2>
								</div>
							</div>
							<div class="col-sm-6" style="padding:0;">
								<%= image_tag "/assets/gst_compliance/event_5.jpg", class: "", style:"width:100%; height:430px;" %>
							</div>
						</div>
						
						<div class="col-sm-12 logo-pc" style="margin-top:7%;">
							<div class="col-sm-6" style="padding:0;">
								<%= image_tag "/assets/gst_compliance/annual_2.jpg", class: "", style:"width:100%; height:430px;" %>
							</div>
							<div class="col-sm-6" style="background:#fff; padding:3%; height:410px; margin-top:10px;">
								<h2 style="color:#b1605b; width:60%; margin-top:0%;" class="text-left font-16">Change LLP Agreement</h2>
								<p class="text-justify" style="margin-top:5%;">
									The Limited Liability Partnership Agreement is the main charter of a LLP company since it lays
									down the boundaries and extent of operations of the company. In case of any change is
									suggested in the LLP Agreement, the Registrar must be informed and then certain procedures
									need to be followed. We can assist you in changing the name of your company smoothly.
								</p>									
								<div style="border:1px solid black; width:40%; margin-left:30%; margin-top:50px;">
									<h2 class="font-18" style="margin-bottom:0;margin-top:10px;">&#x20b9; <b>1899/-</b></h2>
									<h2 class="font-16" style="margin-top:2px;">+ Govt fee</h2>
								</div>
							</div>								
						</div>

					</div>

					<div id="Tokyo" class="tabcontent logo-pc d_height">
						<div class="col-sm-12 logo-pc" style="margin-top:7%;">								
							<div class="col-sm-6" style="background:#fff; padding:3%; height:490px; margin-top:10px;">
								<h2 style="color:#b1605b; width:60%; margin-top:0%;" class="text-left font-16">Private Limited Company</h2>
								<p class="text-justify" style="margin-top:5%;">
									Any company, who intends to close the company from the register, shall do so by paying all its debts and
									liabilities so incurred by the company. The Directors on behalf of the company shall then file necessary
									form with the Ministry of Corporate Affairs.
								</p>
								<h2 style="color:#b1605b; width:60%; margin-top:0%;" class="text-left font-16">Limited Liability Partnership</h2>
								<p class="text-justify" style="margin-top:5%;">
									It is the process where all the assets of the business are disposed off to meet the liabilities of the same
									and surplus any, is distributed among the owners. The partners may between themselves decide to stop
									and wound up the operations of the LLP. Thereafter file necessary form with the Ministry of Corporate
									Affairs.
								</p>
								<div style="border:1px solid black; width:40%; margin-left:30%; margin-top:50px;">
									<h2 class="font-18" style="margin-bottom:0;margin-top:10px;">&#x20b9; <b>8999/-</b></h2>
									<h2 class="font-16" style="margin-top:2px;">+ Govt fee</h2>
								</div>
							</div>		
							<div class="col-sm-6" style="padding:0;">
								<%= image_tag "/assets/gst_compliance/closure.jpg", class: "", style:"width:100%; height:510px;" %>
							</div>						
						</div>
					</div>
		
				</div>
			</div>
		</div>
	</section>
	<section style="background:#f0efee;" class="m-display">
		<div class="panel-group" id="accordion1">
			<div class="panel panel-default">

				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" class="text-dec-none">ANNUAL COMPLIANCES</a>
						<a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" class="pull-right text-dec-none">+</a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in">
					<div class="panel-body">

						<div class="panel-group" id="accordion2">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapseOneOne" class="text-dec-none">Annual Compliances for Private Limited Companies</a>
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapseOneOne" class="pull-right text-dec-none">+</a>
									</h4>
								</div>
								<div id="collapseOneOne" class="panel-collapse collapse in padding-10p">
									<p class="text-justify" style="margin-top:5%;">
										One of the most popular forms of starting a business is by registering a Private Limited
										Company. However, there are certain regulations that the company must abide by in order to
										remain compliant with Companies Act, 2013 and other rules propagated by the Indian Ministry of Affairs.
									</p>
									<p class="text-justify" style="margin-top:5%;">
										Our package includes Filing of Annual Returns, Holding Annual General Meeting, Creation of
										Board minutes, and Preparation of Director’s Report and filing of forms with MCA.
									</p>
									<div style="border:1px solid black; width:40%; margin-left:30%; margin-top:50px; text-align:center">
										<h2 class="font-18" style="margin-bottom:0;margin-top:10px;">&#x20b9; <b>4999/-</b></h2>
										<h2 class="font-16" style="margin-top:2px;">+ Govt fee</h2>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapseOneTwo" class="text-dec-none">Annual Filings for LLPs</a>
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapseOneTwo" class="pull-right text-dec-none">+</a>
									</h4>
								</div>
								<div id="collapseOneTwo" class="panel-collapse collapse padding-10p">
									<p class="text-justify" style="margin-top:5%;">
										LLP or ‘Limited Liability Partnership’ is a form of company where one may have the flexibility of
										partners and shared responsibility and the benefit of limited liability for the partners that is
										restricted to their approved contribution to the company. All LLP Companies registered under
										the LLP Act 2008 are required to comply with the enlisted regulations.
									</p>
									<p class="text-justify" style="margin-top:5%;">
										Our package includes Filing of Annual Return.
									</p>
									<div style="border:1px solid black; width:40%; margin-left:30%; margin-top:50px; text-align:center">
										<h2 class="font-18" style="margin-bottom:0;margin-top:10px;">&#x20b9; <b>3999/-</b></h2>
										<h2 class="font-16" style="margin-top:2px;">+ Govt fee</h2>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>


				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo" class="text-dec-none">EVENT BASED COMPLIANCES</a>
						<a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo" class="pull-right text-dec-none">+</a>							
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse">
					<div class="panel-body">

						<div class="panel-group" id="accordion2">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwoOne" class="text-dec-none">Increase in Authorized Capital</a>
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwoOne" class="pull-right text-dec-none">+</a>
									</h4>
								</div>
								<div id="collapseTwoOne" class="panel-collapse collapse padding-10p in">
									<p class="text-justify" style="margin-top:5%;">
										The ‘Authorized Capital’ is the maximum amount of capital that a Company can raise through
										the issue of shares to its shareholders. However, during the course of business expansion, a
										Company may need to increase the limit of authorized capital. Then the Company needs to issue
										new shares and induct more capital to the company.
									</p>
									<p class="text-justify" style="margin-top:5%;">
										Navigate the complex processes with ease by letting us do it for you!
									</p>
									<div style="border:1px solid black; width:40%; margin-left:30%; margin-top:50px; text-align:center">
										<h2 class="font-18" style="margin-bottom:0;margin-top:10px;">&#x20b9; <b>2999/-</b></h2>
										<h2 class="font-16" style="margin-top:2px;">+ Govt fee</h2>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwoTwo" class="text-dec-none">Adding a Director OR Remove a Director OR Add a Designated Partner</a>
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwoTwo" class="pull-right text-dec-none">+</a>
									</h4>
								</div>
								<div id="collapseTwoTwo" class="panel-collapse collapse padding-10p">
									<p class="text-justify" style="margin-top:5%;">
										The Board of Directors of a company play a very important role in the company’s decision-
										making process and the shareholders of the company appoint them.
									</p>
									<table class="table table-bordered">
										<thead>
										<tr>
											<th>Company Type</th>
											<th>Number of Directors Required</th>
										</tr>
										</thead>
										<tbody>
										<tr>
											<td>Private Limited Company</td>
											<td>2</td>
										</tr>
										<tr>
											<td>Limited Company</td>
											<td>3</td>
										</tr>
										<tr>
											<td>Limited Liability Partnership</td>
											<td>2</td>
										</tr>
										</tbody>
									</table>
									<p class="text-justify" style="margin-top:5%;">
										Naturally, as business progresses, appointment or removal of a Director or Designated Partners
										may be required due to different reasons. Our experts can assist you in alleviating the process.
									</p>
									<div style="border:1px solid black; width:40%; margin-left:30%; margin-top:50px; text-align:center">
										<h2 class="font-18" style="margin-bottom:0;margin-top:10px;">&#x20b9; <b>1999/-</b></h2>
										<h2 class="font-16" style="margin-top:2px;">+ Govt fee</h2>
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwoThree" class="text-dec-none">Change Objectives of Your Business</a>
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwoThree" class="pull-right text-dec-none">+</a>
									</h4>
								</div>
								<div id="collapseTwoThree" class="panel-collapse collapse padding-10p">
									<p class="text-justify" style="margin-top:5%;">
										The objectives of a company can be subject to change any time after its incorporation by
										following a set procedure under the Companies Act, 2013. Every amendment in the clauses and
										objectives needs to be appropriately documented and filed with the Registrar of Companies of
										the concerned State of India.
									</p>									
									<div style="border:1px solid black; width:40%; margin-left:30%; margin-top:50px; text-align:center">
										<h2 class="font-18" style="margin-bottom:0;margin-top:10px;">&#x20b9; <b>2999/-</b></h2>
										<h2 class="font-16" style="margin-top:2px;">+ Govt fee</h2>
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwoFour" class="text-dec-none">Change Official Address</a>
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwoFour" class="pull-right text-dec-none">+</a>
									</h4>
								</div>
								<div id="collapseTwoFour" class="panel-collapse collapse padding-10p">
									<p class="text-justify" style="margin-top:5%;">
										The registered office of a company or LLP is the main place of business and all official
										correspondence. It is also the main address of the company’s physical establishment as
										informed in the Ministry of Corporate Affairs. To change such registered address within the local
										limits of a State, the process is slightly easier than the inter-state change of address. We offer a
										hassle-free option to change the address of your company.
									</p>
									<div style="border:1px solid black; width:40%; margin-left:30%; margin-top:50px; text-align:center">
										<h2 class="font-18" style="margin-bottom:0;margin-top:10px;">&#x20b9; <b>1999/-</b></h2>
										<h2 class="font-16" style="margin-top:2px;">+ Govt fee</h2>
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwoFive" class="text-dec-none">Change Company Name</a>
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwoFive" class="pull-right text-dec-none">+</a>
									</h4>
								</div>
								<div id="collapseTwoFive" class="panel-collapse collapse padding-10p">
									<p class="text-justify" style="margin-top:5%;">
										The requirement to change the company (Private Limited or LLP) might come about any time
										due to various reasons like owning property, easy transferability, borrowing capacity, separate
										legal entity and more. Contact us to get it done soon.
									</p>
									
									<div style="border:1px solid black; width:40%; margin-left:30%; margin-top:50px; text-align:center">
										<h2 class="font-18" style="margin-bottom:0;margin-top:10px;">&#x20b9; <b>2999/-</b></h2>
										<h2 class="font-16" style="margin-top:2px;">+ Govt fee</h2>
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwoSix" class="text-dec-none">Change LLP Agreement</a>
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwoSix" class="pull-right text-dec-none">+</a>
									</h4>
								</div>
								<div id="collapseTwoSix" class="panel-collapse collapse padding-10p">
									<p class="text-justify" style="margin-top:5%;">
										The Limited Liability Partnership Agreement is the main charter of a LLP company since it lays
										down the boundaries and extent of operations of the company. In case of any change is
										suggested in the LLP Agreement, the Registrar must be informed and then certain procedures
										need to be followed. We can assist you in changing the name of your company smoothly.
									</p>									
									<div style="border:1px solid black; width:40%; margin-left:30%; margin-top:50px; text-align:center">
										<h2 class="font-18" style="margin-bottom:0;margin-top:10px;">&#x20b9; <b>1899/-</b></h2>
										<h2 class="font-16" style="margin-top:2px;">+ Govt fee</h2>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree" class="text-dec-none">CLOSURE</a>
						<a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree" class="pull-right text-dec-none">+</a>
					</h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse">
					<div class="panel-body">

						<div class="panel-group" id="accordion2">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapseThreeOne" class="text-dec-none">Private Limited Company</a>
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapseThreeOne" class="pull-right text-dec-none">+</a>
									</h4>
								</div>
								<div id="collapseThreeOne" class="panel-collapse collapse in padding-10p">
									<p class="text-justify" style="margin-top:5%;">
										Any company, who intends to close the company from the register, shall do so by paying all its debts and
										liabilities so incurred by the company. The Directors on behalf of the company shall then file necessary
										form with the Ministry of Corporate Affairs.
									</p>										
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapseThreeTwo" class="text-dec-none">Limited Liability Partnership</a>
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapseThreeTwo" class="pull-right text-dec-none">+</a>
									</h4>
								</div>
								<div id="collapseThreeTwo" class="panel-collapse collapse padding-10p">
									<p class="text-justify" style="margin-top:5%;">
										It is the process where all the assets of the business are disposed off to meet the liabilities of the same
										and surplus any, is distributed among the owners. The partners may between themselves decide to stop
										and wound up the operations of the LLP. Thereafter file necessary form with the Ministry of Corporate
										Affairs.
									</p>									
								</div>
							</div>	
							<div style="border:1px solid black; width:40%; margin-left:30%; margin-top:50px; text-align:center">
								<h2 class="font-18" style="margin-bottom:0;margin-top:10px;">&#x20b9; <b>8999/-</b></h2>
								<h2 class="font-16" style="margin-top:2px;">+ Govt fee</h2>
							</div>					
						</div>

					</div>
				</div>

			</div>

		</div>
	</section>
	<section style="background:#f0efee;">
		<div class="col-sm-12" style="color:#fff; background:#f0efee; ">
			<div class="col-sm-6" style="margin-bottom:5%;">
				<input type="button" id="r-button" class="btn btn-default pull-right m-button" value="Request a Call back" style="background:#b1605b; border-radius:0; color:#fff; width:196px; padding:10px">
			</div>
			<div class="col-sm-6" style="margin-bottom:5%;">
				<input type="button" id="order-button" class="btn btn-default m-button" value="Order Now" style="background:#494949; color:#fff; width:196px; border-radius:0; padding:10px;">					
			</div>
		</div>
	</section>
	<section>			
		<div class="col-sm-12" style="color:#494949;">
				<h1 style="font-size:25px; margin-top:30px;" align="center"><b>Mail us: support@dockettech.com</b></h1>
				<p style="font-size:14px;margin-top:1%;" align="center">
					Mayur Tower, #10, 1st Floor, 3rd Main Rd, <br>
                    Ashwini Layout, Ejipura, Bangalore - 560047, <br>
                    Karnataka, India
				</p>	
				<h4 style="font-size:25px;margin-top:2%;" align="center">
					<b>0 81-0537 7103 </b>
					<!-- <b>080 - 4656 4656 </b> -->
				</h4>	
		</div>
		<div class="col-sm-12" style="color:#494949;;margin-top:1%;" align="center">
			<i class="fa fa-facebook" style="color:#fff;background:#494949; height:25px; width:25px; padding-top:7px; margin-right:10px; margin-left:10px;" align="center"></i>						
			<i class="fa fa-twitter" style="color:#fff;background:#494949; height:25px; width:25px; padding-top:7px; margin-right:10px;" align="center"></i>						
			<i class="fa fa-google-plus" style="color:#fff;background:#494949; height:25px; width:25px; padding-top:7px; margin-right:10px;" align="center"></i>						
		</div>
		<div class="col-sm-12" style="color:#494949;">
			<hr style="border: 0.2px solid #494949; opacity: 0.1; margin-bottom:0;">
		</div>
	</section>
	<section style="background:#fff;">
		<div class="col-sm-12" style="color:#494949; ">
			<p style="font-size:12px;margin-top:1%;" align="center">
				Copyright &#169; 2017. Docket Tech Solutions Private Limited
			</p>	
		</div>
	</section>

	<section style="height:100vh; z-index:999999999999999; width:100%; position:fixed; top:0; left:0; background:rgba(0,0,0,0.4); display:none; " class="animated" id="order">
		<div class="col-sm-12" style="padding:0;">
			<div class="col-sm-6 logo-pc"></div>
			<div class="col-sm-6" style="background:#fff; height:100vh; padding:0;">
				<h2 class="margin-0" style="color: #b1605b; padding-bottom: 14px; padding-left: 10%; border-bottom: 1px solid rgba(0,0,0,0.3);font-size: 22px;">Place your  Order
					<span id="back" class="pull-right" style="border:1px solid #494949; color:#fff; padding:21px; cursor:pointer; width: 67px; text-align: center; background: #494949; margin-top: -20px;">X</span>
				</h2>

				<%= form_tag('/campaign_order',:name => 'd-form', :class => 'document-form', :id => "question_form") do |f| %>
					<div class="order-form">
						<%= hidden_field_tag 'user_id',nil, value: current_user %>
						<%= hidden_field_tag 'service_id',nil, value: @document1.service.id %>
						<%= hidden_field_tag 'document_id',nil, value: @document1.id %>
						<%= hidden_field_tag 'product',nil, value: @document1.name %>
						<%= hidden_field_tag 'quantity',nil, value: 1 %>
						<%= hidden_field_tag 'total_amount',nil, value: @document1.default_price  %>
						<div class="form-group" style="margin-top: 10%;">
							<label for="sel1" class="no-bold">Select Category:</label>
							<select class="form-control" id="sel1">
								 <option value="ANNUAL COMPLIANCES">ANNUAL COMPLIANCES</option>
								<option value="EVENT BASED COMPLIANCES">EVENT BASED COMPLIANCES</option>
								<option value="CLOSURE">CLOSURE</option> 
							</select>
						</div>
						<div class="form-group">
							<label for="sel1" class="no-bold">Select Sub-Category:</label>
							<select class="form-control" id="sel2">
								<!-- <option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option> -->
							</select>
						</div>
						<div class="form-group">
							<label for="name" class="no-bold">Your Name <span style="color:#b1605b;"> *</span> </label>
							<input type="text" class="form-control" id="name" name="name" style="border-radius:0px; " required>
						</div>
						<div class="form-group">
							<label for="email" class="no-bold">Email Address <span style="color:#b1605b;"> *</span> </label>
							<input type="text" class="form-control" id="email" name="email" style="border-radius:0px; " required>
						</div>
						<div class="form-group">
							<label for="mobile" class="no-bold">Phone Number <span style="color:#b1605b;"> *</span> </label>
							<input type="text" class="form-control" id="mobile" name="mobile" style="border-radius:0px; " required>
						</div>
						
						<div class="center">
							<button type="button" class="request_top" id="order_pop" value="ORDER NOW" align="center" style="width:100%; background:transparent; color:#e19e8a; border:1px solid #e19e8a;padding:10px; margin-top:5%;margin-bottom:15%;">ORDER NOW</button>		  
						</div>
					</div>
					<div style="width:80%; margin-left:10%;" class="display-false" id="order_confirm">
						<h4 style="text-align:center;"><span class="pull-left" style="cursor:pointer;" onclick="back();">&#8592;</span>Summary</h4>
						<div style="width:100%; display:flex;">	
							<div style="width: 100%;">
								<ul>
									<li style="line-height:20px;"><span style="width:40%;">Product</span> <span style="width:5%;" class="text-center">:</span> <b> <span class="pull-right" style="width:55%;" id="s_product"></span></b></li><br /><hr />
									<li style="line-height:20px;"><span style="width:40%;">Price</span> <span style="width:5%;" class="text-center">:</span> <b><span class="pull-right" style="width:55%;" id="s_price"></span></b></li><hr />
									<li style="line-height:20px;"><span style="width:40%;">CGST @ 9%</span> <span style="width:5%;" class="text-center">:</span> <b><span class="pull-right" style="width:55%;" id="s_cgst"></span></b></li><hr />
									<li style="line-height:20px;"><span style="width:40%;">SGST @ 9%</span> <span style="width:5%;" class="text-center">:</span> <b><span class="pull-right" style="width:55%;" id="s_sgst"></span></b></li><hr />
									<li style="line-height:20px;"><span style="width:40%;">Total</span> <span style="width:5%;" class="text-center">:</span> <b><span class="pull-right" style="width:55%;" id="s_total"></span></b></li><hr />
								</ul>
								<div class="center">
									<button type='submit' class="request_top" id="pay_pop" value="PAY NOW" align="center" style="width:100%; background:transparent; color:#e19e8a; border:1px solid #e19e8a;padding:10px; margin-top:5%;margin-bottom:15%;">PAY NOW</button>		  
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</section>

	<section style="height:100vh; z-index:999999999999999; width:100%; position:fixed; top:0; left:0; background:rgba(0,0,0,0.4); display:none; " class="animated" id="order1">
		<div class="col-sm-12" style="padding:0;">
			<div class="col-sm-6 logo-pc"></div>
			<div class="col-sm-6" style="background:#fff; height:100vh; padding:0;">
				<h2 class="margin-0" style="color: #b1605b; padding-bottom: 14px; padding-left: 10%; border-bottom: 1px solid rgba(0,0,0,0.3);font-size: 22px;">REQUEST A CALL BACK<span id="back1" class="pull-right" style="border:1px solid #494949; color:#fff; padding:21px; cursor:pointer; width: 67px; text-align: center; background: #494949; margin-top: -20px;">X</span></h2>

				<%= form_tag('/contact_requests', remote: true, type: :post, :onSubmit => 'formHide()', :class=> 'contact_form') do |f| %>
					<div class="form-group" style="margin-top: 10%;">
						<label for="name" class="no-bold">Your Name <span style="color:#b1605b;"> *</span> </label>
						<input type="text" class="form-control" id="r_name" name="contact_request[name]" style="border-radius:0px; " required>
					</div>
					<div class="form-group">
						<label for="email" class="no-bold">Email Address <span style="color:#b1605b;"> *</span> </label>
						<input type="text" class="form-control" id="r_email" name="contact_request[email]" style="border-radius:0px; " required>
					</div>
					<div class="form-group">
						<label for="mobile" class="no-bold">Phone Number <span style="color:#b1605b;"> *</span> </label>
						<input type="text" class="form-control" id="r_mobile" name="contact_request[phone]" style="border-radius:0px; " required>
					</div>
					<input type="hidden" name='contact_request[request_type]' value='Compliance'>
					<div class="center">
						<button type="submit" class="request_top" id="r_pop" value="REQUEST A CALL BACK" align="center" style="width:100%; background:transparent; color:#e19e8a; border:1px solid #e19e8a;padding:10px; margin-top:5%;margin-bottom:15%;">REQUEST A CALL BACK</button>		  
					</div>
				<% end %>
				<div class="thankyou" style="display:none">
					<div class="col-sm-12" style="margin-top:3%;">
						<div class="form-group">
							Thankyou! We will get back to you soon.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<script type="application/ld+json">{
		"@context": "http://schema.org/",
		"@type": "Product",
		"name": "Company Compliances",
		"image": "https://www.dockettech.com//assets/gst_compliance/Main_Banner-9fea2f30d0df31ef1abb01ed479f625a886cd55b3ed80788e2239110d3914040.jpg",
		"description": "Welcome to Docket's Company Compliance Filing Services Enjoy a seamless filing process at amazing prices",
		"aggregateRating": {
			"@type": "AggregateRating",
			"ratingValue": "4.8",
			"reviewCount": "11"
		},
		"offers": {
			"@type": "Offer",
			"priceCurrency": "INR",
			"price": "1999",   
			"seller": {
				"@type": "Organization",
				"name": "Docket Tech Solutions"
			}
		}
	}
</script>
<script>
	//Default tab open
	var formHide = function(){
		$('.contact_form').hide('fast');
		$('.thankyou').show('slow');
	};
	var formHide1 = function(){
		$('.contact_form1').hide('fast');
		$('.thankyou1').show('slow');
	};
	document.getElementById("defaultOpen").click();
	var $price;
	//Nav bar color change
	var x = 0;
	$("#m-butt").click(
		function(){
			if(x == 0){
				$('#m-nav').css("background-color", "brown");
				x = 1;
			}else{
				$('#m-nav').css("background", "transparent");						
				x = 0;
			}
		}
	);
	
	//Order page animation
	$('#order-button').click(function(){
		$('#order').removeClass('slideOutRight');
		$('#order').addClass('d-true');
		$('#order').addClass('slideInRight');
	});

	$('#back').click(function(){
		$('#order').addClass('slideOutRight');
		$('#order').removeClass('slideInRight');				
	});

	$('#r-button').click(function(){
		$('#order1').removeClass('slideOutRight');
		$('#order1').addClass('d-true');
		$('#order1').addClass('slideInRight');
	});

	$('#back1').click(function(){
		$('#order1').addClass('slideOutRight');
		$('#order1').removeClass('slideInRight');				
	});

	//Fix nav
	var fixmeTop = $('.fixme').offset().top;       // get initial position of the element

		$(window).scroll(function() {                  // assign scroll event listener

			var currentScroll = $(window).scrollTop(); // get current position

			if (currentScroll >= fixmeTop) {           // apply position: fixed if you
				$('.fixme').css({                      // scroll to that element or below it
					position: 'fixed',
					top: '0',
					'z-index': '999999999999',
					'margin-top': 0,
					'margin-left' : '10%'							
				});
				$('.d_height').css({
					'margin-top':'5vh'
				});

				$('#arrow').css({
					 'transform': 'rotate(180deg)'
				});

				$('#pointer').attr({
					 'href': '#home'
				});

			} else {                                   // apply position: static
				$('.fixme').css({                      // if you scroll above it
					position: 'static',
					'margin-left' : '14%',
					'margin-top': '5%',
				});
				$('.d_height').css({
					'margin-top':'5vh'
				});

				$('#arrow').css({
					 'transform': 'rotate(360deg)'
				});

				$('#pointer').attr({
					 'href': '#tabs'
				});
			}

		});
		

	//Auto Load Category

	var selectValues = {
		"ANNUAL COMPLIANCES": {
			"1":"Annual Compliances for Private Limited Companies",
			"2":"Annual Filings for LLPs"
		},
		"EVENT BASED COMPLIANCES": {
			"1": "Increase in Authorized Capital",
			"2": "Adding a Director OR Removing a Director OR Add a Designated Partner",
			"3": "Change Objectives of Your Business",
			"4": "Change Registered Office Address",
			"5": "Change Company Name",
			"6": "Change LLP Agreement"
		},
		"CLOSURE" : {
			"1": "Private Limited Company",
			"2": "Limited Liability Partnership"
		}
	};

	var priceList = {
		"Annual Compliances for Private Limited Companies":"4999",
		"Annual Filings for LLPs":"3999",
		"Increase in Authorized Capital":"2999",
		"Adding a Director OR Removing a Director OR Add a Designated Partner":"1999",
		"Change Objectives of Your Business":"2999",
		"Change Registered Office Address":"1999",
		"Change Company Name":"2999",
		"Change LLP Agreement":"1899",
		"Private Limited Company":"8999",
		"Limited Liability Partnership":"8999"
	}; 
	$(function() {

			var $vendor = $('#sel1');
			var $model = $('#sel2');
			$vendor.change(function() {
				$model.empty().append(function() {
					var output = '';
					$.each(selectValues[$vendor.val()], function(key, value) {
						output += '<option value="'+ value +'">' + value + '</option>';
					});
					return output;
				});
			}).change();
	});

	var confirm = function(){
		var $model = $('#sel2');
		var $opt = $model.val();
		$price = priceList[$opt];

		id = Object.keys(priceList).indexOf($opt) + 1;
		document_id = $('.document'+id).attr('data-atr');
		document_name = $('.document'+id).attr('data-name');
		$('#document_id').val(document_id);
		$('#product').val(document_name);
		$('#total_amount').val($price);
		
		$('#s_product').html($model.val());
		$('#s_price').html($price);
		$('#s_cgst').html(($price * 0.09).toFixed(2));
		$('#s_sgst').html(($price * 0.09).toFixed(2));
		$('#s_total').html((parseInt($price) + (2 * ($price * 0.09))).toFixed(2)) ;
	}

	var final = function(){
		if ($('#name').val() == "" || $('#email').val() == "" || $('#mobile').val() == "" || $('#name').val() == undefined || $('#email').val() == undefined || $('#mobile').val() == undefined) {
			alert("Please fill in all the fields");
			return;
		}
		confirm();
		$('#order_preview').css('display','none');
		$('#order_confirm').css('display','block');
	}

	var back =  function(){
		$('.order-form').css('display','block');
		$('#order_confirm').css('display','none');
	}

	//Dont load Scroll for mobile
	var head = document.getElementsByTagName('head')[0];
	var script = document.createElement('script');
	if ( $(window).width() > 760) {
		script.src = "assets/extras/smoothscroll.js" ;
		head.appendChild(script);
	}
	else {
		$('script').each(function() {
			if (this.src === 'assets/extras/smoothscroll.js') {
			this.parentNode.removeChild( this );
			}
		});
	}
	$('#order_pop').on('click', function(){
		final();
		$('.order-form').hide();
		$('#order_confirm').show();
	})
	//  $('select option:contains("it\'s me")').prop('selected',true);
</script>