<div class="gst">
	<nav class="navbar navbar-inverse nav-bg" style="border:none;border-radius:0; padding:0; margin:0;"  id="home">
		<div class="container-fluid" style="padding: 0 2%">
			<div class="navbar-header navbar-height">
				<button type="button" class="navbar-toggle mobile-nav" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
				</button>
				<a href="/" class="logo-mobile">
					<%= image_tag "/assets/gst_registration/logo.png", style:"position:absolute;top:-9%;left:5%;height: 133px; padding:11px;" %>
				</a>					
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					 <li class="li-right"><a href="#home"  class="nav-color">Home</a></li>
					<li class="li-right"><a href="#about" class="nav-color">About GST</a></li>
					<li class="li-right"><a href="#contact"  class="nav-color">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="col-sm-12 nav-bg" style="padding:0%; margin:0%;">
		<div class="col-sm-6" style="background-color:#d5bd85;position:relative;">
			<%= image_tag "/assets/gst_registration/hands.png", style:"height:315px; width:702px;", class:"img-responsive"%>
			<a href="/" class="logo-pc">
				<%= image_tag "/assets/gst_registration/logo.png", style:"position:absolute;top:-9%;left:5%;height:133px; padding:11px;"%></a>
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<h1 style="font-size:40px;font-weight:bold;color:#3c3c54;">GST @ Rs.1899*/-</h1>
				<h3 style="font-size:18px;margin-bottom:0;color:#3c3c54;" align="">Worried about the changes GST will make?</h3>
				<h3 style="font-size:18px; margin-top:5px;color:#3c3c54;" align="">Get expert assistance for GST registration</h3>
				<a href="http://blog.dockettech.com/information-on-gst-or-goods-and-services-tax-india-part-1/"><h3 style="font-size:16px;font-weight:bold;color:black" align="">KNOW MORE</h3></a>
			</div>
			<div class="col-sm-2"></div>
		</div>
		<div class="col-sm-6" style="background-color:#3c3c54;">
			<div class="col-sm-2"></div>
			<div class="col-sm-6" style="margin-top:20%;">
				<h3 style="font-size:16px; color:#fff;  margin-bottom:1px;">Now register under GST</h3>
				<h3 style="font-size:20px; color:#fff; margin-top:1px;margin-bottom:30px;">HASSLE-FREE!</h3>			
				<%= form_tag('/campaign_order',:name => 'd-form', :class => 'document-form', :id => "question_form") do |f| %>
					<%= hidden_field_tag 'user_id',nil, value: current_user %>
					<%= hidden_field_tag 'service_id',nil, value: @document.service.id %>
					<%= hidden_field_tag 'document_id',nil, value: @document.id %>
					<%= hidden_field_tag 'product',nil, value: @document.name %>
					<%= hidden_field_tag 'quantity',nil, value: 1 %>
					<%= hidden_field_tag 'total_amount',nil, value: 1899  %>
					<div class="form-group">
						<input type="text" name="name" class="form-control" id="name" placeholder="Your Name *" style="border-radius:0px; margin-bottom: 25px;" required>
					</div>
					<div class="form-group">
						<input type="email" name="email" class="form-control" id="email" placeholder="Email Address *" style="border-radius:0px; margin-bottom: 25px;" required>
					</div>
					<div class="form-group">
						<input type="text" name="mobile" class="form-control" id="mobile" placeholder="Phone Number *" style="border-radius:0px; margin-bottom: 25px;" required>
					</div>
					<div class="center">
						<button type="submit" value="ORDER NOW" align="center" style="width:100%; background:#d5bd85; color:#fff; border:1px solid #d5bd85;padding:10px; margin-top:15%;margin-bottom:5%;">PAY NOW</button>		  
					</div>
					<div class="center">
						<h4 style="color:#fff" align="center"> - OR - </h4>	
					</div>
					<div class="center">
						<a href="#contact"><button type="button" class='request-callback' value="REQUEST A CALL BACK" align="center" style="width:100%; background:#3c3c54; color:#d5bd85; border:1px solid #d5bd85;padding:10px; margin-top:5%;margin-bottom:15%;">REQUEST A CALL BACK</button></a>		  
					</div>
				<% end %>
			</div>
			<div class="col-sm-4"></div>		
		</div>
	</div>
	<section  >
		<div class="container">
			<div class="row">
				<div class="col-sm-12" style="color:#3c3c54;margin-bottom:5%;">
					<div class="col-sm-2"></div>
					<div class="col-sm-8">
						<h1 style="font-size:25px; margin-top:7%;" align="center" id="about">What is GST?</h1>
						<p style="font-size:14px;margin-top:3%;" align="justify">
								Goods & Services Tax is a multi-stage, destination-based tax that will be levied on every value addition on goods and services. Businesses having a turnover of more than Rs 20 Lakhs have to get registered mandatorily under GST. A single tax to replace multiple
								indirect taxes levied both at the Centre and State level.
						</p>				
					</div>
					<div class="col-sm-2"></div>
					<div class="col-sm-3"></div>
					<div class="col-sm-6">
						<h1 style="font-size:25px; margin-top:7%;" align="center">What are the benifits of GST?</h1>
						<p style="font-size:14px;margin-top:5%;">
							<ul>
								 <li><span> Cascading effect of tax as set-off of prior-stage taxes was not available </span></li>
								 <li><span> Burden on goods and services had to be reduced benefiting common man </span></li>
								 <li><span> Make our products competitive in domestic and international markets </span></li>
								 <li><span> Boost economic activity and create more jobs </span></li>
								 <li><span> Of transit time through check posts (concept of e-way bill) </span></li>	
								 <li><span> Of unproductive work like submission of C/D/F/H forms </span></li>
								 <li><span> Restrictions on input credit </span></li>
								 <li><span> To identify tax evaders </span></li>
							</ul>
						</p>			
					</div>
					<div class="col-sm-3"></div>
				</div>
			</div>
		</div>
	</section>

	<section style="background:#3c3c54; padding:3% 0">
		<h1 style="font-size:25px; color:#fff; margin-bottom:3%;" align="center">Types of Taxes covered under GST</h1>
		<div class="container">
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-3" style="margin:20px;background:#fff;">
					<div style="margin-bottom:50px; padding:10px;min-height:500px; height:auto;">
						<h4 style="font-size:15px; width:60%; margin-left:20%" align="center">State Goods and Service Tax<br /> (SGST)</h4>
						<hr>
						<ul style="padding-left:0;">
							<li  style="margin-top:40px;margin-left:10px;"><span> Levied by the State </span></li>
							<li style="margin-top:40px;margin-left:10px;"><span> Intra-state sales </span></li>
							<li style="margin-top:40px;margin-left:10px;"><span> Supply of goods or services within the state </span></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3" style="margin:20px;background:#fff;">
					<div style="margin-bottom:50px; padding:10px; min-height:500px; height:auto;">
						<h4 style="font-size:15px; width:60%; margin-left:20%" align="center">Central Goods and Services Tax <br />(CGST)</h4>
						<hr>
						<ul style="padding-left:0;">
							<li style="margin-top:40px;margin-left:10px;"><span> Levied by the Center </span></li>
							<li style="margin-top:40px;margin-left:10px;"><span> Intra-state sales </span></li>
							<li style="margin-top:40px;margin-left:10px;"><span> Supply of goods or services within the state </span></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3" style="margin:20px;background:#fff;">
					<div style="margin-bottom:50px; padding:10px; min-height:500px; height:auto;">
						<h4 style="font-size:15px; width:60%; margin-left:20%" align="center">Integrated Goods and Services Tax <br /> (IGST)</h4>
						<hr>
						<ul style="padding-left:0;">
							<li style="margin-top:20px;margin-left:10px;"><span> Levied by the Center </span></li>
							<li style="margin-top:20px;margin-left:10px;"><span> Inter-state sales, Cross border sales </span></li>
							<li style="margin-top:20px;margin-left:10px;"><span> Supply of Goods, or of services, or both in the course of interstate trade or commerce </span></li>
							<li style="margin-top:20px;margin-left:10px;"><span> Supply of Goods, or of services in the course of Import into the territory of India </span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-12" style="color:#3c3c54;margin-bottom:5%;">
					<div class="col-sm-2"></div>
					<div class="col-sm-8">
						<h1 style="font-size:25px; margin-top:7%;" align="center">Documents Required</h1>
						<p style="font-size:14px;margin-top:5%;">
							<ul>
								<li><span> PAN card of the Company </span></li>
								<li><span> Photograph of Individual/Partner/Director </span></li>
								<li><span> Proof of constitution like Partnership deed, LLP agreement, Memorandum of Association (MOA) /Articles of Association (AOA), Certificate of incorporation </span></li>
								<li><span> Details and proof of principal place of business </span></li>
								<li style="margin-left:6%"><span> For Own premises - Latest Property Tax Receipt or Municipal Khata copy or copy of Electricity Bill </span></li>
								<li style="margin-left:6%"><span> For Rented or Leased premises- A copy of the valid Rent / Lease Agreement with any document in support like electricity bill </span></li>
								 <li><span> Details of your Bank account like name of the account holder, account number MICR code, IFSC code and bank branch details. ( or Copy of first page of passbook or Cancelled cheque of your bank account) </span></li>
								 <li><span> Letter of authorization or Copy of board resolution approving the same in case of company. </span></li>
								 <li><span> Authorized signatory list like List of partners with their identity and address proof in case of partnership firm or List of directors with their identity and address proof in case of company ( Photograph, Aadhar and PAN card of each individual/ partner/ director ) </span></li>
							</ul>
						</p>			
					</div>
					<div class="col-sm-2"></div>
				</div>
			</div>
		</div>
	</section>

	<section style="background:#d5bd85;"  id="contact">
		<div class="container">
			<div class="row" style="margin-bottom:3%;">
				<div class="col-sm-12" style="color:#3c3c54;">
					<div class="col-sm-2"></div>
					<div class="col-sm-8">
						<h1 style="font-size:25px; margin-top:7%;" align="center"><b>Contact Us</b></h1>
						<p style="font-size:16px;margin-top:3%;" align="center">
							WE'LL LOVE TO HEAR FROM YOU! <br />
							Give us a call, Send us an email or drop by to have a chat 
						</p>				
					</div>
					<div class="col-sm-2"></div>
				</div>
				<div class="col-sm-12 contact-form" style="color:#3c3c54;">					
					<%= form_tag('/contact_requests', remote: true, type: :post, :onSubmit => 'formHide()',:class=> 'contact_form') do |f| %>
						<%= hidden_field_tag 'contact_request[request_type]',nil, value: 'GST Contact' %>
						<div class="col-sm-6" style="margin-top:3%;">								
							<div class="form-group">
								<input type="text" name='contact_request[name]' class="form-control" id="contact_name" placeholder="Your Name *" style="border-radius:0px; " required>
							</div>
							<div class="form-group">
								<input type="email" name="contact_request[email]" class="form-control" id="contact_email" placeholder="Email *" style="border-radius:0px;" required>
							</div>
							<div class="form-group">
								<input type="text" name="contact_request[phone]" class="form-control" id="contact_mobile" placeholder="Phone Number *" style="border-radius:0px;" required>
							</div>
						</div>
						<div class="col-sm-6" style="margin-top:3%;">
							<div class="form-group">
								<textarea class="form-control" name='message' rows="3" placeholder="Message" id="comment"></textarea required>
							</div>
							<div style="width:60%; margin-bottom:5%;" align="">
								<button type="submit" value="SEND" align="center" style="width:100%; background:#3c3c54; color:#fff; border:none;padding:8px; margin-top:3%;margin-bottom:5%;">SEND</button>		  
							</div>
						</div>
					<% end %>
					<div class="thankyou" style="display:none">
						<div class="col-sm-12" style="margin-top:3%;">
							<div class="form-group">
								Thankyou! We will get back to you soon.
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12" style="color:#3c3c54;">
					<hr style="border: 0.2px solid #3c3c54; opacity: 0.4;">
				</div>
				<div class="col-sm-12" style="color:#3c3c54;">
						<h1 style="font-size:16px; margin-top:2%;" align="center"><b>Mail us: support@dockettech.com</b></h1>
						<p style="font-size:14px;margin-top:2%;" align="center">
							Mayur Tower, #10, 1st Floor, 3rd Main Rd, <br>
	                    	Ashwini Layout, Ejipura, Bangalore - 560047, <br>
	                    	Karnataka, India
						</p>	
						<h4 style="font-size:14px;margin-top:2%;" align="center">
							<b>0 81-0537 7103 </b>
							<!-- <b>080 - 4656 4656 </b> -->
						</h4>	
				</div>
				<div class="col-sm-12" style="color:#3c3c54;margin-bottom:2%;margin-top:2%;" align="center">
					<a href="https://www.facebook.com/dockettech" target="_blank">
						<i class="fa fa-facebook" style="color:#fff;background:#3c3c54; height:25px; width:25px; padding-top:7px; margin-right:10px; margin-left:10px;" align="center"></i>
					</a>
					<a href="https://twitter.com/dockettech" target="_blank">
						<i class="fa fa-twitter" style="color:#fff;background:#3c3c54; height:25px; width:25px; padding-top:7px; margin-right:10px;" align="center"></i>
					</a>
					<a href="https://plus.google.com/u/1/b/115856146323341081179/+DocketTechSolutionsPrivateLimitedBengaluru" target="_blank">
						<i class="fa fa-google-plus" style="color:#fff;background:#3c3c54; height:25px; width:25px; padding-top:7px; margin-right:10px;" align="center"></i>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section style="background:#fff;">
		<div class="col-sm-12" style="color:#3c3c54; ">
			<p style="font-size:12px;margin-top:1%;" align="center">
				Copyright &#169; 2017. Docket Tech Solutions Private Limited
			</p>	
		</div>
	</section>
</div>
<script type="application/ld+json">{
		"@context": "http://schema.org/",
		"@type": "Product",
		"name": "GST Registration",
		"image": "<%= @base_url + '/assets/gst_registration/hands.png' %>",
		"description": "Apply Online for GST Registration in Bangalore and Karnataka. Find all necessary information on rules, documents, procedure and the application process here.",
		"aggregateRating": {
			"@type": "AggregateRating",
			"ratingValue": "4.8",
			"reviewCount": "16"
		},
		"offers": {
			"@type": "Offer",
			"priceCurrency": "INR",
			"price": "1899",   
			"seller": {
				"@type": "Organization",
				"name": "Docket Tech Solutions"
			}
		}
	}

</script>
<script>
	var formHide = function(){
		$('.contact-form form').hide('fast');
		$('.thankyou').show('slow');
	};
	$('.request-callback').on('click', function(){
		$('#contact_name').val($('#name').val());
		$('#contact_email').val($('#email').val());
		$('#contact_mobile').val($('#mobile').val());
	})
</script>