<section id="section01">
	<div class="container-fluid ">
		<div class="row main_banner text-center">
			<div class="col-md-12">
				<%= image_tag 'new_home_page/logo.png', :class => "logo" %>
				<h1 class="main_head">
					INDIA’S FIRST ONLINE PLATFORM FOR 
				</h1>
				<h1 class="second_head">DOCUMENTATION AND REGISTRATIONS</h1>
				<div class="input_wrap hidden-xs ">
					<input type="text" name="query" id="query" class="search_txt" value="" placeholder="SEARCH FOR YOUR DOCUMENT">
					<span class="search_icon">
						<i class="fa fa-search" aria-hidden="true"></i>
					</span>
				</div>
				<div class="arrow_down scroller">
					<a href="#section02" class="to_scroll" syle="color: #fa1422;text-decoration: none;"><i class="fa fa-angle-down animated bounce infinite" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="section02">
	<div class="container-fluid ">
		<div class="row who_we_are hidden-xs text-center">
			<div class="col-md-12 ">
				<h1 class="tagline txt_black">
					WHO WE ARE
					<hr class="custom_line">
				</h1>
				<p class="para_txt">
					Established in 2015 and Co-Founded by Nandish Domlur, Amit Sandill, Aditya Pratap and Sunil Guptha, Docket has grown organically and now comprises of a strong team of Professionals, Technical & Operations personnel. We're a close-knit group of experts who pride ourselves on doing good work and providing fair service at affordable price. What do you really need to know about us? We're friendly, approachable experts, with significant experience in documentation & registrations.  We strive hard to serve our customers always in a better way. Please do give us a call. We'll consider it a pleasure to talk to you about how we could be of your service.
				</p>
			</div>
		</div>
		<div class="row who_we_are text-center visible-xs">
			<div class="col-xs-12">
				<h1 class="tagline txt_black">
					WHO WE ARE
					<hr class="custom_line">
				</h1>
				<article>
					<p class="para_txt">
						Founded in 2015 by Managing Director Nandish Domlur, Amit Sandill as CEO and Co-founded by Aditya Pratap and Prashanth Narayanaswamy, Docket has grown organically and now comprises of a fifteen strong team of Developers, Professionals and Operations' personnel.
					</p>
				   <p class="para_txt">
						<div class="more-content para_txt">
						We're a close-knit group of experts who pride ourselves on doing great work and providing great service at a fair price. What do you really need to know about us? 
					</p>
					<p class="para_txt">
						We're friendly, approachable experts, with lots of experience in documentation and we strive hard to make it better for you. Please do give us a call. We'd consider it a pleasure to talk to you about how we could be of service.
					</p>
					</div>
					<p class="para_txt">
						<a class="readmore" style="color:#fa1422; text-decoration:inherit;" href="#"  hreflang="en-in">Show more (+)</a>
					</p>
				</article>   
			</div>
		</div>
	</div>
</section>
<section id="section03">
	<div class="container-fluid">
		<div class="row services hidden-xs text-center">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h1 class="tagline txt_white">
					SERVICES
					<hr class="custom_line">
				</h1>
				<p class="para txt_white">

					We are engaged in providing Documentation, Notary , 
					e-Stamp , Business and Property Registration services for B2B, B2C and B2B2C space.
					Our services are designed to integrate and facilitate ease of access in the process.Docket Tech is an online platform with simple and easy to use website through which individuals and businesses can access world-class professional services. We provide end to end support for all your professional needs, right from starting and managing your business, tax registrations and filings, documentation, license registrations, protecting your intellectual property and many more. All you have to do is choose the service you are interested in and sit back and relax. Let our experts guide you through out the process. Your preferred service will shortly be ready to get delivered at your doorstep.
				</p>
				<div id="images">
					<div class="icon_image">
						<a href="/in/agreement" hreflang="en-in">
						  <%= image_tag 'new_home_page/agreements.png', :class => "agreement_icon", :style => "" %>
							<h4>AGREEMENTS</h4>
						</a>
					</div>
					<div class="icon_image">
						<a href="/in/affidavit" hreflang="en-in">
						   <%= image_tag 'new_home_page/affidavits.png', :class => "affidavit_icon", :style => "" %>
							<h4>AFFIDAVITS</h4>
						</a>
					</div>
					<div class="icon_image">
						<a href="/in/bond" hreflang="en-in">
						   <%= image_tag 'new_home_page/bonds.png', :class => "bonds_icon", :style => "" %>
							<h4>BONDS</h4>
						</a>
					</div>
					<div class="icon_image">
						<a href="/in/deed" hreflang="en-in">
							 <%= image_tag 'new_home_page/deeds.png', :class => "deeds_icon", :style => "" %>
							<h4>DEEDS</h4>
						</a>
					</div>
					<div class="icon_image">
						<a href="/in/notary" hreflang="en-in">
							 <%= image_tag 'new_home_page/notary.png', :class => "agreement_icon", :style => "" %>
							<h4>NOTARY</h4>
						</a>
					</div>
					<div class="icon_image">
						<a href="/in/e-stamp" hreflang="en-in">
							<%= image_tag 'new_home_page/e-stamp.png', :class => "affidavit_icon", :style => "" %>
							<h4>E-STAMP</h4>
						</a>
					</div>
					<div class="icon_image">
						<a href="/in/attestation" hreflang="en-in">
							 <%= image_tag 'new_home_page/attestation.png', :class => "bonds_icon", :style => "" %>
							<h4>ATTESTATION</h4>
						</a>
					</div>
					<div class="icon_image">
						<a href="/in/franking" hreflang="en-in">
						   <%= image_tag 'new_home_page/franking.png', :class => "deeds_icon", :style => "" %>
							<h4>FRANKING</h4>
						</a>
					</div>
					<div class="icon_image">
						<a href="/in/startup" hreflang="en-in">
							<%= image_tag 'new_home_page/registrations.png', :class => "agreement_icon", :style => "" %>
							<h4>REGISTRATION</h4>
						</a>
					</div>
					<div class="icon_image">
						<a href="/in/marketplace" hreflang="en-in">
							<%= image_tag 'new_home_page/licenses.png', :class => "affidavit_icon", :style => "" %>
							<h4>LICENSES</h4>
						</a>
					</div>
					<div class="icon_image">
						<a href="/in/property" hreflang="en-in">
							<%= image_tag 'new_home_page/property.png', :class => "bonds_icon", :style => "" %>
							<h4>PROPERTY</h4>
						</a>
					</div>
					<div class="icon_image">
						<a href="/in/paperwork" hreflang="en-in">
							<%= image_tag 'new_home_page/paperwork.png', :class => "deeds_icon", :style => "" %>
							<h4>PAPERWORK</h4>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row services visible-xs text-center">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h1 class="tagline txt_white">
					SERVICES
					<hr class="custom_line">
				</h1>
				<article>
					<p class="para txt_white">
						We are engaged in providing Documentation, Notary , 
						e-Stamp , Business and Property Registration services for B2B, B2C and B2B2C space.
						Our services are designed to integrate and facilitate ease of access in the process.
					</p>
					<p class="para ">
						<div class="more-content txt_white para">
							Docket Tech is an online platform with simple and easy to use website through which individuals and businesses can access world-class professional services. We provide end to end support for all your professional needs. Beginning from: Starting and managing your business, tax registrations and filings, documentation, license registrations, protecting your intellectual property and many more.
						</p>
						<p class="para txt_white">
						 All you have to do is choose the service you are interested in and sit back and relax. Let our experts guide you through out the process. Your preferred service will shortly be ready to get delivered at your doorstep.
						</p>
						</div>
					<p class="para_txt"><a class="readmore" style="color:#fa1422; text-decoration:inherit;" href="#" hreflang="en-in">Show more (+)</a>
				</article>
				<div id="images">
					<div class="icon_image">
						<a href="/in/agreement" hreflang="en-in">
						  <%= image_tag 'new_home_page/agreements.png', :class => "agreement_icon", :style => "" %>
							<h4>AGREEMENTS</h4>
						</a>
					</div>
					<div class="icon_image">
						<a href="/in/affidavit" hreflang="en-in">
						   <%= image_tag 'new_home_page/affidavits.png', :class => "affidavit_icon", :style => "" %>
							<h4>AFFIDAVITS</h4>
						</a>
					</div>
					<div class="icon_image">
						<a href="/in/bond" hreflang="en-in">
						   <%= image_tag 'new_home_page/bonds.png', :class => "bonds_icon", :style => "" %>
							<h4>BONDS</h4>
						</a>
					</div>
					<div class="icon_image">
						<a href="/in/deed" hreflang="en-in">
							 <%= image_tag 'new_home_page/deeds.png', :class => "deeds_icon", :style => "" %>
							<h4>DEEDS</h4>
						</a>
					</div>
					<div class="icon_image">
						<a href="/in/notary" hreflang="en-in">
							 <%= image_tag 'new_home_page/notary.png', :class => "agreement_icon", :style => "" %>
							<h4>NOTARY</h4>
						</a>
					</div>
					<div class="icon_image">
						<a href="/in/e-stamp" hreflang="en-in">
							<%= image_tag 'new_home_page/e-stamp.png', :class => "affidavit_icon", :style => "" %>
							<h4>E-STAMP</h4>
						</a>
					</div>
					<div class="icon_image">
						<a href="/in/attestation" hreflang="en-in">
							 <%= image_tag 'new_home_page/attestation.png', :class => "bonds_icon", :style => "" %>
							<h4>ATTESTATION</h4>
						</a>
					</div>
					<div class="icon_image">
						<a href="/in/franking" hreflang="en-in">
						   <%= image_tag 'new_home_page/franking.png', :class => "deeds_icon", :style => "" %>
							<h4>FRANKING</h4>
						</a>
					</div>
					<div class="icon_image">
						<a href="/in/startup" hreflang="en-in">
							<%= image_tag 'new_home_page/registrations.png', :class => "agreement_icon", :style => "" %>
							<h4>REGISTRATION</h4>
						</a>
					</div>
					<div class="icon_image">
						<a href="/in/marketplace" hreflang="en-in">
							<%= image_tag 'new_home_page/licenses.png', :class => "affidavit_icon", :style => "" %>
							<h4>LICENSES</h4>
						</a>
					</div>
					<div class="icon_image">
						<a href="/in/property" hreflang="en-in">
							<%= image_tag 'new_home_page/property.png', :class => "bonds_icon", :style => "" %>
							<h4>PROPERTY</h4>
						</a>
					</div>
					<div class="icon_image">
						<a href="/in/paperwork" hreflang="en-in">
							<%= image_tag 'new_home_page/paperwork.png', :class => "deeds_icon", :style => "" %>
							<h4>PAPERWORK</h4>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="section04">
	<div class="container-fluid ">
		<div class="row how_we_work hidden-xs text-center">
			<div class="col-md-12">
				<h1 class="tagline txt_black">
					HOW WE WORK
					<hr class="custom_line">
				</h1>
				<p class="para_txt">
					We love what we do. The Indian market throws up plenty of challenges, but we’re all about problem solving and logical thinking.
					For us, documentation is key. Simple, regular, open documentation, with no unnecessary technical jargons.
					This helps us to plan and execute things successfully and efficiently.
					We like to think that the quality of our work speaks for itself. A quick look through our reviews will show that our output is up there with the very best. Team Docket handles a variety of services, while liberating you from all legal or statutory documentation encumbrances, thus giving you the time to focus on the more important aspects of your life. Let us simplify that for you. We value your time and our aim is to serve you better!
				</p>
				<div id="myCarousel1" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
					  <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
					  <li data-target="#myCarousel1" data-slide-to="1"></li>
					  <li data-target="#myCarousel1" data-slide-to="2"></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
					  <div class="item active">
						<h1 class="txt_black">Documentation</h1>
						<%= image_tag 'new_home_page/documentation.jpg', :class => "deeds_icon", :style => "" %>
					  </div>

					  <div class="item">
						 <h1 class="txt_black">License</h1>
					   <%= image_tag 'new_home_page/img_license.jpg', :class => "deeds_icon", :style => "" %>
					  </div>
					
					  <div class="item">
						<h1 class="txt_black">Registration</h1>
						<%= image_tag 'new_home_page/img_registration.jpg', :class => "deeds_icon", :style => "" %>
					  </div>
					</div>
					<!-- Left and right controls -->
					<a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev">
					  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					  <span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next">
					  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					  <span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
		<div class="row how_we_work visible-xs text-center">
			<div class="col-xs-12">
				<h1 class="tagline txt_black">
					HOW WE WORK
					<hr class="custom_line">
				</h1>
				<article>
					<p class="para_txt">
						We love what we do. The Indian market throws up plenty of challenges, but we’re all about problem solving and logical thinking.
						For us, documentation is key. Simple, regular, open documentation, with no unnecessary technical jargon.
					</p>
					<p class="para_txt">
						<div class="more-content para_txt">
							This helps us to plan and execute things successfully and efficiently.
							</p>
							<p class="para_txt">We like to think that the quality of our work speaks for itself. A quick look through our reviews will show that our output is up there with the very best. Team Docket handles a variety of services, thus liberating you from all legal or statutory documentation encumbrances, thus giving you the time to focus on the more important aspects of your life. Let us simplify that for you. We value your time and our aim is to serve you better!
							</p>
						</div>
						 <p class="para_txt">
						 	<a class="readmore" style="color:#fa1422; text-decoration:inherit;" href="#">Show more (+)</a>
						 </p>
				</article>
				
			</div>
		</div>
	</div>
</section>
<!-- Popular  Services-->
<section id="section05">
	<div class="container-fluid ">
		<div class="row feature_document">
			<div class="col-md-12">
				<h1 class="tagline txt_white text-center">POPULAR SERVICES<hr class="custom_line"></h1>
				<p class="style_para">
				   Now you don’t need to run behind different places for multiple solutions. No more travels and no more queues. Choose a service from our comprehensive range of products. 
				</p>
			</div>
			<div class="row choose_section">
				<div class="col-md-12">
					<ul class="choose-type" data-attr="1">
						<li class="box"> 
							<%= image_tag 'new_home_page/rental.jpg', :class => "agreement_icon", :style => "" %>
							<div class="overbox">
								 <a href="/rental-agreement" hreflang="en-in"><button type="button" class="btn btn-default order_btn private_btn">Order Now</button></a>
							</div>
						</li>
						<li class="box"> 
							<%= image_tag 'new_home_page/pvt.jpg', :class => "affidavit_icon", :style => "" %>
							<div class="overbox">
								<a href="/company-registration" hreflang="en-in"><button type="button" class="btn btn-default order_btn private_btn">Order Now</button></a>
							</div>
						</li>
						 <li class="box">
							<%= image_tag 'new_home_page/gst_registration.jpg', :class => "bonds_icon", :style => "" %>
							<div class="overbox">
								<a href="/apply-gst-registration-online" hreflang="en-in"><button type="button" class="btn btn-default order_btn private_btn">Order Now</button></a>
						   </div>
						</li>
						<li class="box"> 
							<%= image_tag 'new_home_page/company_compliances.jpg', :class => "agreement_icon", :style => "" %>
							<div class="overbox">
								 <a href="/apply-company-compliance-online" hreflang="en-in"><button type="button" class="btn btn-default order_btn private_btn">Order Now</button></a>
							</div>
						</li>
						<li class="box"> 
							<%= image_tag 'new_home_page/estamp.jpg', :class => "affidavit_icon", :style => "" %>
							<div class="overbox">
								<a href="/order-estamp-online-bangalore" hreflang="en-in"><button type="button" class="btn btn-default order_btn private_btn">Order Now</button></a>
							</div>
						</li>
						<li class="box">
							<%= image_tag 'new_home_page/passport.jpg', :class => "bonds_icon", :style => "" %>
							<div class="overbox">
								<a href="/online-affidavit" hreflang="en-in"><button type="button" class="btn btn-default order_btn private_btn">Order Now</button></a>
						   </div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
  
<!--END FEATURE DOCUMENTS -->

<!-- Testimonial -->
<section id="section06">
	<div class="container-fluid testimonial">
		<div class="row  testimonial_wrap">
			<div class="col-md-12">
				<div class="row testimonial_style">
					<div id="myCarousel2" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<!-- <ol class="carousel-indicators">
						  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						  <li data-target="#myCarousel" data-slide-to="1"></li>
						  <li data-target="#myCarousel" data-slide-to="2"></li>
						</ol> -->

						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<div class="col-md-2">
									<%= image_tag 'new_home_page/icon_client.png', :class => "", :style => "" %>
								</div>
								<div class="col-md-10">
									<div class="testimonial_content">
										<h1 class="first">CLIENT</h1>
										<h1 class="second">TESTIMONIAL</h1>
										<p class="para_style">
											An excellent platform to get all professional documents delivered at your door step!!!<br>
											 Thus making Corporate life easier.. Kudos to the team.<br>
										   <span class="client">Khan Imran</span> 
										</p>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="col-md-2">
									<%= image_tag 'new_home_page/icon_client.png', :class => "", :style => "" %>
								</div>
								<div class="col-md-10">
									<div class="testimonial_content">
										<h1 class="first">CLIENT</h1>
										<h1 class="second">TESTIMONIAL</h1>
										<p class="para_style">
											Amazing team!<br>
											Helped us get through all the legal procedures and that too in pocket friendly budget.<br>
											Would recommend to every budding/established start up which needs legal formalities done fast and smooth.<br>
											Way to go guys!<br>
											Good luck :)<br>
											<span class="client">Tejas P Lodaya</span>
										</p>
									</div>
								</div>
							</div>
							<div class="item">
							   <div class="col-md-2">
									<%= image_tag 'new_home_page/icon_client.png', :class => "", :style => "" %>
								</div>
								<div class="col-md-10">
									<div class="testimonial_content">
										<h1 class="first">CLIENT</h1>
										<h1 class="second">TESTIMONIAL</h1>
										<p class="para_style">
											Its Just Awesome. Prompt response, fast delivery.<br>
											<span class="client">GK Kohli</span>
										</p>
									</div>
								</div>
							</div>
							<div class="item">
							   <div class="col-md-2">
									<%= image_tag 'new_home_page/icon_client.png', :class => "", :style => "" %>
								</div>
								  <div class="col-md-10">
									<div class="testimonial_content">
										<h1 class="first">CLIENT</h1>
										<h1 class="second">TESTIMONIAL</h1>
										<p class="para_style">
											Nice service and very good response .. thank u Docket Tech ...<br>
											<span class="client">Satyanarayan Una</span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<!-- Left and right controls -->
						<div class="button_style">
							<a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
							  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							  <span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
							  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							  <span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- END Testimonal -->

<script type="text/javascript">
	$(function() {
		$('.to_scroll').on('click', function(e) {
			e.preventDefault();
			$('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top}, 100, 'linear');
		});
	});
	$(document).ready(function() {
		var document_search = new Bloodhound({
			datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
			queryTokenizer: Bloodhound.tokenizers.whitespace,
			prefetch: localSearch,
			remote: {
				url: '/search/document/',
				replace: function(url, uriEncodedQuery) {
					query = $('#query').val();
					url = url + '?q=' + encodeURIComponent(query)  
					return url;
				}
			}
		});
		var localSearch = function(e){
		};
		document_search.initialize();
		$('#query').typeahead(null,{
			name: 'Location',
			displayKey: 'name',
			minLength: 0,
			source: document_search.ttAdapter()
		}).on('typeahead:selected', function(event, data){            
			setValue(data);
		}).on('typeahead:autocompleted',function(event,data){
			setValue(data);
		});
		function setValue(data){
			window.location.href = '/product/' + data.id + '-' + data.name.split(' ').join('-');
		}
	})
	$(document).ready(function() {
		var document_search = new Bloodhound({
			datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
			queryTokenizer: Bloodhound.tokenizers.whitespace,
			prefetch: localSearch,
			remote: {
				url: '/search/document/',
				replace: function(url, uriEncodedQuery) {
					search = $('#search').val();
					url = url + '?q=' + encodeURIComponent(search)  
					return url;
				}
			}
		});
		var localSearch = function(e){
		};
		document_search.initialize();
		$('#search').typeahead(null,{
			name: 'Location',
			displayKey: 'name',
			minLength: 0,
			source: document_search.ttAdapter()
		}).on('typeahead:selected', function(event, data){            
			setValue(data);
		}).on('typeahead:autocompleted',function(event,data){
			setValue(data);
		});
		function setValue(data){
			window.location.href = '/product/' + data.id + '-' + data.name.split(' ').join('-');
		}
	})
// mobile seach..............
	$(document).ready(function() {
		var document_search = new Bloodhound({
			datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
			queryTokenizer: Bloodhound.tokenizers.whitespace,
			prefetch: localSearch,
			remote: {
				url: '/search/document/',
				replace: function(url, uriEncodedQuery) {
					query = $('#mobile').val();
					url = url + '?q=' + encodeURIComponent(mobile)  
					return url;
				}
			}
		});
		var localSearch = function(e){
		};
		document_search.initialize();
		$('#mobile').typeahead(null,{
			name: 'Location',
			displayKey: 'name',
			minLength: 0,
			source: document_search.ttAdapter()
		}).on('typeahead:selected', function(event, data){            
			setValue(data);
		}).on('typeahead:autocompleted',function(event,data){
			setValue(data);
		});
		function setValue(data){
			window.location.href = '/product/' + data.id + '-' + data.name.split(' ').join('-');
		}
	})
	$(document).ready(function(){
		var submitIcon = $('.searchbox-icon');
		var inputBox = $('.searchbox-input');
		var searchBox = $('.searchbox');
		var isOpen = false;
		submitIcon.click(function(){
			if(isOpen == false){
				searchBox.addClass('searchbox-open');
				inputBox.focus();
				isOpen = true;
			} else {
				searchBox.removeClass('searchbox-open');
				inputBox.focusout();
				isOpen = false;
			}
		});  
		 submitIcon.mouseup(function(){
				return false;
			});
		searchBox.mouseup(function(){
				return false;
			});
		$(document).mouseup(function(){
			if(isOpen == true){
				$('.searchbox-icon').css('display','block');
				submitIcon.click();
			}
		});
	});

// read more funtion
	$(".readmore").on('click touchstart', function(event) {
		var txt = $(".more-content").is(':visible') ? 'Show more (+)' : 'Less (–)';
		$(this).parent().prev(".more-content").toggleClass("visible");
		$(this).html(txt);
		event.preventDefault();
	});

</script>

