<%= simple_form_for(@partner_request) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :profession %>
    <%= f.input :address %>
    <%= f.input :message %>
    <%= f.input :status_id %>
    <%= f.input :note %>
    <%= f.input :callback_request %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
