<p id="notice"><%= notice %></p>

<h1>Listing Partner Requests</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Profession</th>
      <th>Address</th>
      <th>Message</th>
      <th>Status</th>
      <th>Note</th>
      <th>Callback request</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 
  <tbody>
    <% @partner_requests.each do |partner_request| %>
      <tr>
        <td><%= partner_request.name %></td>
        <td><%= partner_request.email %></td>
        <td><%= partner_request.phone %></td>
        <td><%= partner_request.profession %></td>
        <td><%= partner_request.address %></td>
        <td><%= partner_request.message %></td>
        <td><%= partner_request.status_id %></td>
        <td><%= partner_request.note %></td>
        <td><%= partner_request.callback_request %></td>
        <td><%= link_to 'Show', "/admin/partner_requests/#{partner_request.id}" %></td>
        <td><%= link_to 'Edit', edit_partner_request_path(partner_request) %></td>
        <td><%= link_to 'Destroy', partner_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @partner_requests %>
<%= link_to 'New Partner request', new_partner_request_path %>
