<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @partner_request.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @partner_request.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @partner_request.phone %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @partner_request.profession %>
</p>

<p>
  <strong>Address:</strong>
  <%= @partner_request.address %>
</p>

<p>
  <strong>Message:</strong>
  <%= @partner_request.message %>
</p>

<p>
  <strong>Status:</strong>
  <%= @partner_request.status_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @partner_request.note %>
</p>

<p>
  <strong>Callback request:</strong>
  <%= @partner_request.callback_request %>
</p>

<p>
  <strong>degree:</strong>
  <%= @partner_request.degree %>
</p>
<p>
  <strong>firm_name:</strong>
  <%= @partner_request.firm_name %>
</p>

<p>
  <strong>registration_no:</strong>
  <%= @partner_request.registration_no %>
</p>

<p>
  <strong>id_proof_type:</strong>
  <%= @partner_request.id_proof_type %>
</p>

<p>
  <strong>id_proof_number:</strong>
  <%= @partner_request.id_proof_number %>
</p>

<p>
  <strong>referral:</strong>
  <%= @partner_request.referral %>
</p>

<p>
  <strong>services:</strong>
  <%= @partner_request.services %>
</p>

<p>
  <strong>city:</strong>
  <%= @partner_request.city %>
</p>

<p>
  <strong>state:</strong>
  <%= @partner_request.state %>
</p>

<p>
  <strong>pincode:</strong>
  <%= @partner_request.pincode %>
</p>

<p>
  <strong>pan:</strong>
  <%= @partner_request.pan %>
</p>

<p>
  <strong>tan:</strong>
  <%= @partner_request.tan %>
</p>

<p>
  <strong>service_tax:</strong>
  <%= @partner_request.service_tax %>
</p>

<p>
  <strong>account_holder:</strong>
  <%= @partner_request.account_holder %>
</p>

<p>
  <strong>account_number:</strong>
  <%= @partner_request.account_number %>
</p>

<p>
  <strong>ifsc_code:</strong>
  <%= @partner_request.ifsc_code %>
</p>

<p>
  <strong>bank_address:</strong>
  <%= @partner_request.bank_address %>
</p>

<p>
  <strong>bank_name:</strong>
  <%= @partner_request.bank_name %>
</p>

<p>
  <strong>branch_name:</strong>
  <%= @partner_request.branch_name %>
</p>

<p>
  <strong>business_category:</strong>
  <%= @partner_request.business_category %>
</p>

<p>
  <strong>business_address:</strong>
  <%= @partner_request.business_address %>
</p>

<%= link_to 'Edit', edit_partner_request_path(@partner_request) %> |
<%= link_to 'Back', '/admin/partner_requests' %>
