<%= simple_form_for(@payments_icici) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :endpointTransactionId %>
    <%= f.input :approval_code %>
    <%= f.input :terminal_id %>
    <%= f.input :ipgTransactionId %>
    <%= f.input :currency %>
    <%= f.input :chargetotal %>
    <%= f.input :timezone %>
    <%= f.input :cccountry %>
    <%= f.input :oid %>
    <%= f.input :txnid %>
    <%= f.input :ccbin %>
    <%= f.input :tdate %>
    <%= f.input :response_hash %>
    <%= f.input :transactionNotificationURL %>
    <%= f.input :txndatetime %>
    <%= f.input :status %>
    <%= f.input :cardnumber %>
    <%= f.input :processor_response_code %>
    <%= f.input :expmonth %>
    <%= f.input :expyear %>
    <%= f.input :ccbrand %>
    <%= f.input :txntype %>
    <%= f.input :txndate_processed %>
    <%= f.input :paymentMethod %>
    <%= f.input :response_hash_validation %>
    <%= f.input :responseHash_validationFrom %>
    <%= f.input :response_code_3dsecure %>
    <%= f.input :bname %>
    <%= f.input :response_dump %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
