<p id="notice"><%= notice %></p>

<h1>Listing Payments Icicis</h1>

<table>
  <thead>
    <tr>
      <th>Endpointtransactionid</th>
      <th>Approval code</th>
      <th>Terminal</th>
      <th>Ipgtransactionid</th>
      <th>Currency</th>
      <th>Chargetotal</th>
      <th>Timezone</th>
      <th>Cccountry</th>
      <th>Oid</th>
      <th>Txnid</th>
      <th>Ccbin</th>
      <th>Tdate</th>
      <th>Response hash</th>
      <th>Transactionnotificationurl</th>
      <th>Txndatetime</th>
      <th>Status</th>
      <th>Cardnumber</th>
      <th>Processor response code</th>
      <th>Expmonth</th>
      <th>Expyear</th>
      <th>Ccbrand</th>
      <th>Txntype</th>
      <th>Txndate processed</th>
      <th>Paymentmethod</th>
      <th>Response hash validation</th>
      <th>Responsehash validationfrom</th>
      <th>Response code 3dsecure</th>
      <th>Bname</th>
      <th>Response dump</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments_icicis.each do |payments_icici| %>
      <tr>
        <td><%= payments_icici.endpointTransactionId %></td>
        <td><%= payments_icici.approval_code %></td>
        <td><%= payments_icici.terminal_id %></td>
        <td><%= payments_icici.ipgTransactionId %></td>
        <td><%= payments_icici.currency %></td>
        <td><%= payments_icici.chargetotal %></td>
        <td><%= payments_icici.timezone %></td>
        <td><%= payments_icici.cccountry %></td>
        <td><%= payments_icici.oid %></td>
        <td><%= payments_icici.txnid %></td>
        <td><%= payments_icici.ccbin %></td>
        <td><%= payments_icici.tdate %></td>
        <td><%= payments_icici.response_hash %></td>
        <td><%= payments_icici.transactionNotificationURL %></td>
        <td><%= payments_icici.txndatetime %></td>
        <td><%= payments_icici.status %></td>
        <td><%= payments_icici.cardnumber %></td>
        <td><%= payments_icici.processor_response_code %></td>
        <td><%= payments_icici.expmonth %></td>
        <td><%= payments_icici.expyear %></td>
        <td><%= payments_icici.ccbrand %></td>
        <td><%= payments_icici.txntype %></td>
        <td><%= payments_icici.txndate_processed %></td>
        <td><%= payments_icici.paymentMethod %></td>
        <td><%= payments_icici.response_hash_validation %></td>
        <td><%= payments_icici.responseHash_validationFrom %></td>
        <td><%= payments_icici.response_code_3dsecure %></td>
        <td><%= payments_icici.bname %></td>
        <td><%= payments_icici.response_dump %></td>
        <td><%= link_to 'Show', payments_icici %></td>
        <td><%= link_to 'Edit', edit_payments_icici_path(payments_icici) %></td>
        <td><%= link_to 'Destroy', payments_icici, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Icici', new_payments_icici_path %>
