<p id="notice"><%= notice %></p>

<p>
  <strong>Endpointtransactionid:</strong>
  <%= @payments_icici.endpointTransactionId %>
</p>

<p>
  <strong>Approval code:</strong>
  <%= @payments_icici.approval_code %>
</p>

<p>
  <strong>Terminal:</strong>
  <%= @payments_icici.terminal_id %>
</p>

<p>
  <strong>Ipgtransactionid:</strong>
  <%= @payments_icici.ipgTransactionId %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @payments_icici.currency %>
</p>

<p>
  <strong>Chargetotal:</strong>
  <%= @payments_icici.chargetotal %>
</p>

<p>
  <strong>Timezone:</strong>
  <%= @payments_icici.timezone %>
</p>

<p>
  <strong>Cccountry:</strong>
  <%= @payments_icici.cccountry %>
</p>

<p>
  <strong>Oid:</strong>
  <%= @payments_icici.oid %>
</p>

<p>
  <strong>Txnid:</strong>
  <%= @payments_icici.txnid %>
</p>

<p>
  <strong>Ccbin:</strong>
  <%= @payments_icici.ccbin %>
</p>

<p>
  <strong>Tdate:</strong>
  <%= @payments_icici.tdate %>
</p>

<p>
  <strong>Response hash:</strong>
  <%= @payments_icici.response_hash %>
</p>

<p>
  <strong>Transactionnotificationurl:</strong>
  <%= @payments_icici.transactionNotificationURL %>
</p>

<p>
  <strong>Txndatetime:</strong>
  <%= @payments_icici.txndatetime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payments_icici.status %>
</p>

<p>
  <strong>Cardnumber:</strong>
  <%= @payments_icici.cardnumber %>
</p>

<p>
  <strong>Processor response code:</strong>
  <%= @payments_icici.processor_response_code %>
</p>

<p>
  <strong>Expmonth:</strong>
  <%= @payments_icici.expmonth %>
</p>

<p>
  <strong>Expyear:</strong>
  <%= @payments_icici.expyear %>
</p>

<p>
  <strong>Ccbrand:</strong>
  <%= @payments_icici.ccbrand %>
</p>

<p>
  <strong>Txntype:</strong>
  <%= @payments_icici.txntype %>
</p>

<p>
  <strong>Txndate processed:</strong>
  <%= @payments_icici.txndate_processed %>
</p>

<p>
  <strong>Paymentmethod:</strong>
  <%= @payments_icici.paymentMethod %>
</p>

<p>
  <strong>Response hash validation:</strong>
  <%= @payments_icici.response_hash_validation %>
</p>

<p>
  <strong>Responsehash validationfrom:</strong>
  <%= @payments_icici.responseHash_validationFrom %>
</p>

<p>
  <strong>Response code 3dsecure:</strong>
  <%= @payments_icici.response_code_3dsecure %>
</p>

<p>
  <strong>Bname:</strong>
  <%= @payments_icici.bname %>
</p>

<p>
  <strong>Response dump:</strong>
  <%= @payments_icici.response_dump %>
</p>

<%= link_to 'Edit', edit_payments_icici_path(@payments_icici) %> |
<%= link_to 'Back', payments_icicis_path %>
