<%= simple_form_for(@promotion) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.label :category %>
    <%= f.select :category, %w[general] %>
    <%= f.input :valid_by %>
    <%= f.label :offer_type %>
    <%= f.select :offer_type, %w[text link image] %>
    <%= f.input :offer %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
