<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @promotion.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @promotion.category %>
</p>

<p>
  <strong>Valid by:</strong>
  <%= @promotion.valid_by %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @promotion.offer %>
</p>

<p>
  <strong>Offer type:</strong>
  <%= @promotion.offer_type %>
</p>

<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
