<%= simple_form_for(@dvault) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id %>
    <%= f.input :pin %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
