<p id="notice"><%= notice %></p>

<h1>Listing Dvaults</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>User</th>
      <th>Pin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dvaults.each do |dvault| %>
      <tr>
        <td><%= dvault.user_id %></td>
        <td><%= dvault.pin %></td>
        <td><%= link_to 'Show', dvault %></td>
        <td><%= link_to 'Edit', edit_dvault_path(dvault) %></td>
        <td><%= link_to 'Destroy', dvault, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @dvaults %>

<%= link_to 'New Dvault', new_dvault_path %>
