<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @dvault.user_id %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @dvault.pin %>
</p>

<%= link_to 'Edit', edit_dvault_path(@dvault) %> |
<%= link_to 'Back', dvaults_path %>
