<p id="notice"><%= notice %></p>

<h1>Listing Dvaults Categories</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dvaults_categories.each do |dvaults_category| %>
      <tr>
        <td><%= dvaults_category.name %></td>
        <td><%= link_to 'Show', dvaults_category %></td>
        <td><%= link_to 'Edit', edit_dvaults_category_path(dvaults_category) %></td>
        <td><%= link_to 'Destroy', dvaults_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @dvaults_categories %>

<%= link_to 'New Category', new_dvaults_category_path %>
