<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dvaults_category.name %>
</p>

<%= link_to 'Edit', edit_dvaults_category_path(@dvaults_category) %> |
<%= link_to 'Back', dvaults_categories_path %>
