<p id="notice"><%= notice %></p>

<h1>Listing Dvaults Sub Categories</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dvaults_sub_categories.each do |dvaults_sub_category| %>
      <tr>
        <td><%= dvaults_sub_category.name %></td>
        <td><%= dvaults_sub_category.category_id %></td>
        <td><%= link_to 'Show', dvaults_sub_category %></td>
        <td><%= link_to 'Edit', edit_dvaults_sub_category_path(dvaults_sub_category) %></td>
        <td><%= link_to 'Destroy', dvaults_sub_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @dvaults_sub_categories %>

<%= link_to 'New Sub category', new_dvaults_sub_category_path %>
