<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dvaults_sub_category.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @dvaults_sub_category.category_id %>
</p>

<%= link_to 'Edit', edit_dvaults_sub_category_path(@dvaults_sub_category) %> |
<%= link_to 'Back', dvaults_sub_categories_path %>
