<div class="modal fade" id="forgotPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="login-container">
          <h1 class="text-center">Forgot Password</h1>
          <%= form_tag('/forgot_password', :type => "post", :class => "form-inline") do %>
            <div class="form-group">
              <div class="input"> 
                <%= text_field_tag :email, nil, placeholder: 'Email' %>
              </div>
              <%= submit_tag("Submit") %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>