<div class="row clearfix top_nav_bar">
	<div class="col-md-12">
		<nav class="navbar navbar-default navbar-fixed-top nav-home" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><%= image_tag 'logo.png', :style => "width: 60px; height:60px;" %></a>
			</div>
		
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<ul class="nav navbar-nav nav-left">
			            <div class="dropdown">
			              <button class="btn btn-default select_city dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			                <%= image_tag 'location_map.png' %> BENGALURU
			                <span class="caret"></span>
			              </button>
			              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			                <li><a href="#" data-value="delhi"><%= image_tag 'location_map.png' %> DELHI <span class="coming_soon_txt">Coming Soon</span></a></li>
			                <li><a href="#" data-value="chennai"><%= image_tag 'location_map.png' %> CHENNAI <span class="coming_soon_txt">Coming Soon</span></a></li>
			                <li><a href="#" data-value="pune"><%= image_tag 'location_map.png' %> PUNE <span class="coming_soon_txt">Coming Soon</span></a></li>
			                <li><a href="#" data-value="hydrabad"><%= image_tag 'location_map.png' %> HYDERABAD <span class="coming_soon_txt">Coming Soon</span></a></li>
			              </ul>
			            </div>
			        </ul>
				</ul>
				<ul class="nav navbar-nav navbar-right">
		            <li class="dropdown login-pop">
		              <% if current_user %>
		                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag 'login_icon.png', :style => "width: 20px; height: 20px;" %> <!-- LOGIN --><%= @current_user.profile.first_name %> <b class="caret"></b></a>
				              <ul class="dropdown-menu home-dropdown">
				                <li><a href="/profile">Profile</a></li>
				                <li><a href="/order">Order</a></li>
				                <li><a href="/track">Track</a></li>
				                <li><a href="/dlogin">DVault</a></li>
				                <li><a href="/signout">Logout</a></li>
				              </ul>
		              	<% else %>
		                <a href="#" id='loginModal' class="dropdown-toggle" data-toggle="dropdown" data-toggle="modal" data-target="#myModal"><%= image_tag 'login_icon.png' %> LOGIN</a>
		              <% end %>
		            </li>
		        </ul>
			</div><!-- /.navbar-collapse -->
		</nav>
	</div>
</div>
<style>
	button.select_city {
      width: 100%;
      border: 0;
      color: #777;
      font-size: 14px;
  	}
	button.select_city:focus {
	  width: 100%;
	  border: 0;
	  color: #777;
	  font-size: 14px;
	  border: 0;
	  background: transparent;
	}
	.open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus {
	  color: #333;
	  background-color: transparent;
	  border-color: transparent;
	}
	span.coming_soon_txt {
		font-size: 8px;
		color: red;
		position: relative;
		top: -1em;
	}
	.navbar.navbar .dropdown-menu li > a, .navbar-default.navbar .dropdown-menu li > a {
	    font-size: 14px;
	    padding: 13px 16px;
	}
	ul.dropdown-menu {
	  background: #F4F3F1;
	  /*height: 200px;*/
	  padding: 0;
	  margin: 0;
	}
	.dropdown li {
	    border-bottom: 1px solid #898484;
	    height: 40px;
	}
</style>