<div class="container-fluid about_bg">
	<%= render 'home_static/top_navbar_fixed' %>
	<div class="row clearfix content_style">
		<div class="col-md-12">
			<div class="content-wrapper">
				<!-- <h1 class="main-head">DOCKET</h1> -->
				<h3 class="sub-head">THE DOCUMENT EXPERT</h3>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid about_content_bg">
	<div class="row clearfix content_padd">
		<h1 class="about_txt">We live and breathe <span style='color:#f16224'>DOCUMENTS</span></h1>
	</div>
	<div class="row clearfix section_style">
		<div class="col-md-4 col_padd">
			<h4>Who We Are</h4>
			<p>
				Founded in 2015 by Managing Director Nandish Domlur, Amit Sandill as CEO and Co-founded by Aditya Pratap and Prashanth Narayanaswamy, Docket has grown organically and now comprises of a fifteen strong team of Developers, Professionals and Operations' personnel.
				<br>
				We're a close-knit group of experts who pride ourselves on doing great work and providing great service at a fair price. What do you really need to know about us? We're friendly, approachable experts, with lots of experience in documentation and we strive hard to make it better for you. Please do give us a call. We'd consider it a pleasure to talk to you about how we could be of service.
			</p>
			<p class="para_txt">
				<a href="/team"><span class="color_style center-block">Meet our team</span></a>
			</p>
		</div>
		<div class="col-md-4 col_padd">
			<h4>How We Work</h4>
			<p>
				We love what we do. The Indian market throws up plenty of challenges, but we’re all about problem solving and logical thinking.
				For us, documentation is key. Simple, regular, open documentation, with no unnecessary technical jargon.
				This helps us to plan and execute documents successfully and efficiently.<br>
				We like to think that the quality of our work speaks for itself. A quick look through our reviews will show that our output is up there with the very best. Team Docket handles a variety of services, thus liberating you from all legal or statutory documentation encumbrances, thus giving you the time to focus on the more important aspects of your life. Let us simplify that for you. We value your time and our aim is to serve you better!
			</p>
			<br>
			<p class="para_txt">
				<a href="/review"><span class="color_style">Read our reviews</span></a>
			</p>
		</div>
		<div class="col-md-4 col_padd">
			<h4>What Can We Do For You</h4>
			<p>
				We thrive on producing simple, elegant documents to complex drafts. 

				Simplicity is central to every stage of the document, from planning through draft and delivery.

				We want our customers to get a great first impression of our company, the moment they order from our website or app, and to have an engaging and fulfilling experience when dealing with documents online.
				<br>
				In summary, we've got the skills and experience to deliver your document at your doorstep. 

				After all, we've been doing it for the last two years for our customers, through Notarymama. 

				We'd love to serve you in drafting your next document, online, whatever it may be. We're confident we can deliver.<br><br><br>
			</p>
			<p class="para_txt">
				<a href="/services_checklist"><span class="color_style">View our services</span></a>
			</p>
		</div>
		<hr class="section_hr">
	</div>
</div>
<!-- <div class="container-fluid docket_life">
	<div class="row clearfix section_padd">
		<div class="col-md-12">
			<h1 class="main-head">Docket makes your life easy ! How?</h1>
			<ul class="content_wrapper">
				<li>
					It prevents all the wearisome processes that you have to go through to get your documents fully prepared.
				</li>
				<li>
					It’s in-house experts/specialists ensure that the documents are upto the mark.
				</li>
				<li>
					It’s services are safe, secure, efficient and flexible.
				</li>
				<li>
					It will deliver the completed document at your doorstep.
				</li>
				<li>
					It therefore saves you a huge amount of your time.
				</li>
			</ul>
		</div>
	</div>
</div> -->