<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Docket Tech | Documents at your Doorstep</title>

    <!-- Bootstrap CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid activate_wrapper">
    	<div class="row">
        	<div class="col-md-12">
    			<div class="form_wrapper">   	
              		<% if @verification && (@verification.verification_type == 'Reset') %>

              		<% else %>
              			<h1 class="text-center">Welcome to:</h1>
              		<% end %>
              		<div class="image_wrapper">
		                <img src="/assets/logohome.png" class="logo" alt="Docket | Document at your Doorstep">
		            </div>
		            <div class="text_wrapper text-center">
		            	<% if @verification && (['Activation', 'Activate'].include? @verification.verification_type)%>
							<h1 class="text-center color_style">Thank you!</h1>
		            		<h1 class="text-center color_style">Your email has been verified</h1>
						<% elsif @verification && (@verification.verification_type == 'Reset') %>
							<h1 class="text-center color_style">Thank you!</h1>
		            		<h1 class="text-center color_style">We have sent an email with reset link.</h1>
						<% elsif @forgot %>
							<h1 class="text-center color_style">Invalid Email Id Entered</h1>
						<% else %>
							<h1 class="text-center color_style">Invalid Url or the url has expired</h1>
						<% end %>
		            	<a href="<%= @base_url %>/"><button type="submit" class="home_btn"><p>Home</p></button></a>
		            </div>
          		</div>
        	</div>
      	</div>
    </div>

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>

<style>
	@font-face {
	font-family: 'PFBeauSansPro';
	src: url("/assets/PFBeauSansPro.ttf") format('truetype');
	font-weight: thin;
	font-style: normal;
	}

	@font-face {
	font-family: 'PFBeauSansPro';
	src: url("/assets/PFBeauSansProa.ttf") format('truetype');
	font-weight: thin;
	font-style: normal;
	}

	body{
	overflow: hidden; 
	}
	
	.activate_wrapper{
		background-image: image-url('/assets/main_screen.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		height: 100vh;  
	}

	.form_wrapper {
		padding-top: 6em;
	    width: 600px;
	    margin: 0 auto;
	}

	button.home_btn {
	  /*position: absolute;*/
	  background: #f16224;
	  border: 0;
	  color: #fff !important;
	  padding: 0.5em;
	  width: 100px;
	  height: 40px;
	  margin: 0 auto;
	  display: block;
	  cursor: pointer;
	}

	button.home_btn a {
	  color: #fff !important;
	}

	.image_wrapper {
	    width: 180px;
	    margin: 0 auto;
	}

	.color_style{
		color: #f16224;
		text-align: center;
	}

	h1.text-center {
	    text-align: center;
	}

	a{
		text-decoration: none;
	}
	@media all and (min-width: 360px) and (max-width: 640px) {
		.form_wrapper {
		    padding-top: 6em;
		    width: 100%;
		    margin: 0 auto;
		}    
	}
</style>


