<div class="container-fluid comming_soon">
	<%= render 'home_static/top_navbar_fixed' %>
	<div class="row clearfix content_style">
		<div class="col-md-12">
			<div class="content-wrapper">
				<!-- <h1 class="main-head">DOCKET</h1> -->
				<h3 class="sub-head">BLOG <span class="coming_style">(COMING SOON)</span></h3>
			</div>
		</div>
	</div>
</div>