<%= render 'home_static/top_navbar_fixed' %>
<div class="container-fluid refund_policy_bg">
	<div class="row clearfix  section_content_padd">
		<div class="col-md-12">
			<h2 class=" text-center">Cancellation and Refund Policy</h2>
			<h3 class=" text-center">Terms and conditions</h3>
			<ul class="content_list">
				<li>
					Request for cancellations will be accepted only if placed within 2 to 4 hours from the time of placement of order
				</li>
				<li>
					Deduction of 2.5% towards the payment gateway charges and E-Stamp duty charges will be applicable from the total order amount. This amount will be retained in case of cancellation of the order. 
				</li>
				<li>
					Docket will not be responsible for the refund of E-Stamp charges and such amount has to recovered by the user from the Inspector General, Karnataka Stamps & Registrations Department.
				</li>
				<li>
					For more details for the cancellation of E-Stamps, please refer to <a href="http://www.karunadu.gov.in/karigr/actsrules/documentreg/EStamping.pdf">http://www.karunadu.gov.in/karigr/actsrules/documentreg/EStamping.pdf</a> 
				</li>
				<li>
					The refund amount, after the deductions will be processed within a period of 10 working days.
				</li>
			</ul>
		</div>
	</div>
</div>