<div class="container-fluid careers_bg">
	<%= render 'home_static/top_navbar_fixed' %>
	<div class="row clearfix content_style">
		<div class="col-md-12">
			<div class="content-wrapper">
				<h1 class="main-head">work at</h1>
				<h1 class="sub-head">Docket</h1>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid job_openings">
	<div class="row clearfix">
		<div class="col-md-12">
			<div class="content-wrapper">
				<h1 class="job_head">job <span class="color_style">openings</span></h1>
				<h4 class="job_sub_head">Want to join us ?</h4>
				Working at a startup probably means you're part of a small team, most likely in the single digits. Because of the nature of having such a small team, there's probably nobody else in the company who has the same skillset as you, approaches problems in the same way you do, or even thinks the same way you do.
				You (or your degree) may be worth more than a startup is able to pay. But working at a startup offers a different type of reward: an immense opportunity to enhance your skills, to get exposed to the various departments. People who are curious, passionate and excited to explore the ideas that will shape the future. If that sounds like you, discover how much we have to offer. If you want to be part of something amazing and help create a better future-we have an opening for that.
			</div>	
		</div>
	</div>
</div>
<div class="container-fluid developer_style">
	<div class="row clearfix">
		<div class="col-md-6">
			<ul class="position_style">
				<li class="box_wrapper">
					<span class="number_style">1</span> Front End Developer
				</li>
				<li class="box_wrapper">
					<span class="number_style">2</span> Back End Developer
				</li>
				<li class="box_wrapper">
					<span class="number_style">3</span> IOS Developer
				</li>
				<li class="box_wrapper">
					<span class="number_style">4</span> Android Developer
				</li>
				<li class="box_wrapper">
					<span class="number_style">5</span> Content Writer
				</li>
			</ul>
		</div>
		<div class="col-md-6 form_padd">
			<%= form_tag('/contact_requests', remote: true, type: :post, :onSubmit => 'formHide()',:class=> 'career_form') do |f| %>
				<input type="hidden" name="contact_request[request_type]" placeholder="Name" value="careers">
			  	<div class="image_wrapper">
			  		<%= image_tag 'careers_icon.png' %>
			  		<div class="content_wrapper">
				  		<h1>+91-81-0537 7103 </h1>
				  		<!-- <h1>+91-80 4656 4656 </h1> -->
				  		<h4><a href="mailto:support@dockettech.com">support@dockettech.com</a></h4>
				  	</div>	
			  	</div>
			  	<div class="form_wrapper">
			  		<div class="form-group">
		  				<input type="text" class="form-controller input_styling" name="contact_request[name]"  placeholder="Name" required>
		  			</div>
		  			<div class="form-group">
		  				<input type="mobile" class="form-controller input_styling" name="contact_request[phone]"  placeholder="Mobile Number" required>
		  			</div>
		  			<div class="form-group">
		  				<input type="email" class="form-controller input_styling" name="contact_request[email]"  placeholder="Email" required>
		  			</div>
		  			<div class="form-group">
						<button type="submit" class="btn btn-default send-btn">Send</button>
		  			</div>

			  	</div>
			<% end %>
			<div class='thanks' style="display:none"> 
				Thank you for contacting us. One of our team members will get back to you soon
			</div>
		</div>
	</div>
</div>
<div class="container-fluid objectives">
	<div class="row clearfix">
		<div class="col-md-12">
			<div class="content-wrapper">
				<h1 class="job_head">Objectives</h1>
				<ul>
					<li>
						Innovativeness and uniqueness is what makes Docket a one-of-a-kind solution in the field of DOCUMENTATION.
					</li>
					<li>
						Regular brainstorming sessions helps us stay focused and keep us motivated.
					</li>
					<li>
						We believe in Smart work and Teamwork.
					</li>
					<li>
						Our approach towards the goal makes us different from the rest.
					</li>
					<li>
						Determination+Passion+Smart work+Teamwork+Enthusiasm=Team Docket.
					</li>
				</ul>
			</div>	
		</div>
	</div>
</div>
<script >
	function formHide(){
      $('.career_form').hide();
      $('.thanks').show();
      setNotification('success', "We will get back to you shortly!");
  };
</script>
