<div class="row">
	<div class="col-md-2-offset col-md-10 body-wrapper">
		<%= form_tag('/draft/response', type: :post, :class => 'confirm_draft_style') do |f| %>
			<%= hidden_field_tag 'user_id',nil, value:"#{current_user}" %>
			<%= hidden_field_tag 'order_id',nil, value:"#{@order.id}" %>
			<legend>CONFIRM DRAFT</legend>
			<div class="row clearfix">
				<div class="col-md-4">
					<div class="form-group">
						<label for="" class="pull-left">Confirm the draft</label>
					</div>
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<label class="radio-inline"><input type="radio" id="yes_click" name="confirm_draft" value='yes'>Yes</label>
						<label class="radio-inline"><input type="radio" id="no_click" name="confirm_draft" value='no'>No</label>
					</div>
				</div>
			</div>
			<div class="row clearfix" style="display:none;" id="text_message">
				<div class="col-md-4">
					<div class="form-group">
						<label class="pull-left" class="pull-left">Please Enter the Corrections</label>
					</div>
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<textarea type="text" class="form-control draft_style keyup-fake keyup-characters" name='corrections' placeholder="Enter The Corrections"/></textarea>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary submit-btn">Submit</button>
		<%end%>
	</div>
</div>

<script>
	$('#no_click').on('click', function(){
		$('#text_message').show('slow');
		$('.draft_style').prop('required',true);
	});
	$('#yes_click').on('click', function(){
		$('#text_message').hide('slow');
		$('.draft_style').prop('required',false);
	});
</script>
