<div class="container-fluid contact_bg">
	<%= render 'home_static/top_navbar_fixed' %>
</div>
<div class="container-fluid form_styling">
	<h4 class="style"> Your questions may have already beeen answered in our <span style="color:#f16224"><a href="/help">Support Center</span></a>. If not, please send us your query.</h4>	
	<%= form_tag('/contact_requests', remote: true, type: :post, :onSubmit => 'formHide()',:class=> 'contact_form') do |f| %>
		<input type="hidden" name="contact_request[request_type]" placeholder="Name" value="contact">
		<div class="row clearfix" >
			<div class="col-md-4">
			</div>
			<div class="col-md-8 pull-left content_div">
				<div class="form-group" >
			      <label class="control-label col-md-4" for="name">Your Full Name</label>
			      <div class="col-md-8">
			        <input type="text" class="form-control"  name="contact_request[name]"   id="name" placeholder="" required>
			     </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-md-4" for="email">Email</label>
			      <div class="col-md-8">
			        <input type="email" name="contact_request[email]"  class="form-control" id="email" placeholder="" required>
			     </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-md-4" name="contact_request[phone]" for="mobile">Mobile</label>
			      <div class="col-md-8">
			        <input type="mobile" name="contact_request[phone]" class="form-control" id="mobile" placeholder="" required>
			     </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-md-4" for="message">Message</label>
			      <div class="col-md-8">
			        <input type="textarea" class="form-control1" name="contact_request[message]" id="message" placeholder="Message" rows="10" required>
			     </div>
			    </div>
				<div class="form-group">
					<button type="submit" class="send-btn">Send</button>
	  			</div>
	  		</div>
		</div>	
  	<% end %> 
	<div class='thanks' style="display:none"> 
		Thank You for contacting us. We will get back to you shortly.
	</div>
</div>
<div class="container-fluid border_wrapper">	
	<div class="row clearfix border_style">
		<div class="col-md-6 pull-left" >
			<div  class="style_div"><span>Business Devlopment </span><br>
				<span class="color_text"><a href="mailto:sales@dockettech.com"> sales@dockettech.com</a></span><br><br>
					Contact Support<br>
				<span class="color_text"><a href="mailto:support@dockettech.com"> support@dockettech.com</a></span>
			</div>
		</div>
		<div class="col-md-6 right-left" >
			<div  class="style_div"><span>Public Relations </span><br>
				<span class="color_text"><a href="mailto:press@dockettech.com"> press@dockettech.com</a></span><br><br>
					Sales, Billing, and Tech Support<br>
				<span class="color_text"><a href="mailto:support@dockettech.com"> support@dockettech.com</a></span>
			</div>
		</div>
	</div>
	
	<div class="row clearfix">
		<div class="col-md-6 style_div1 ">
			<h4><b>Docket Tech Solutions Private Limited<b></h4>
			Mayur Tower, #10, <br>
        	1st Floor, 3rd Main Rd, <br>
        	Ashwini Layout, Ejipura, <br>
        	Bangalore - 560047, <br>
		</div>	
		<div class="col-md-6 style_div1">
			<br><br>
			Tel: +91-81-0537 7103<br>
			<!-- Tel: +91-80-4656 4656<br> -->
			Email: <span class="color_text"><a href="mailto:support@dockettech.com">support@dockettech.com</a></span>
		</div>	
	</div>
</div>

<script>
	function formHide(){
		$('.contact_form').hide('fast');
		$('.thanks').show('slow');
		setNotification('success', "We will get back to you shortly!")
	};
</script>