<div class="container-fluid support_inbox">
	<%= render 'home_static/top_navbar_fixed' %>
	<div class="row clearfix">
		<div class="col-md-12">
			<div class="image_wrapper">
				<%= image_tag 'careers_icon.png' %>
				<h1 style="font-size: 50px;">Feed back</h1>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid support_body">
	<div class="row clearfix section_padd">
		<div class="col-md-12">
			<h1 class="customer_txt">welcome <span class="color_text">customer !</span></h1>
				<!-- <ul class="list_wrapper">
					<i class="fa fa-circle fa-style"></i><li>Raise a request</li> <br>
					<i class="fa fa-circle fa-style"></i><li>Ask for suggestion</li><br>
					<i class="fa fa-circle fa-style"></i><li>Get notification about your account</li><br>
					<i class="fa fa-circle fa-style"></i><li>Enquire with the support teamto get more updates</li><br>
				</ul> -->
				<h4 class="feedback_txt">Here you can provide us with your feedback for services rendered and also suggestions if any, after the successful delivery of your documents. This feedback or suggestions will help us in improving our services, in order to serve you better. For any queries or doubts, kindly contact our Customer Care department via an email to <span class="color_text"><a href="mailto:support@dockettech.com">support@dockettech.com</a></span> or via a phone call to <span class="color_text">
					+91-81-0537 7103</span></h4>
					<!-- +91-80-4656 4656</span></h4> -->
		</div>
	</div>
	<div class="row clearfix section_padd1">
		<div class="col-md-12">
			<%= form_tag('/contact_request', type: :post,:class=> 'career_form', remote: true , :onSubmit => 'formHide()') do |f| %>
				<input type="hidden" name="contact_request[request_type]" value="careers">
				<input type="hidden" name="contact_request[name]" value="<%= @current_user.name %>">
				<input type="hidden" name="contact_request[email]" value="<%= @current_user.email %>">
				<input type="hidden" name="contact_request[phone]" value="<%= @current_user.phone %>">
				<div class="form-wrapper">
					<div class="form-group">
						<label for="">Message</label>
						<textarea type="text" class="form-control input_form" name='contact_request[message]' placeholder="Message"></textarea>
					</div>
				</div>
				<button type="submit" class="btn btn-primary submit_btn">Submit</button>
			<% end %>
			<div class='thanks' style="display:none"> 
				Thank You for contacting us. Our Executive will call you shortly.
			</div>
		</div>
	</div>
	<div class="row clearfix para_padd">
		<div class="col-md-12">
			<div class="para_wrapper">
				<h4 class="text-center"><b>Note: </b>Know more about what sort of comments can be posted on our website</h4>
			</div>
		</div>
	</div>
</div>
<script >
	function formHide(){
      $('.career_form').hide();
      $('.thanks').show();
      setNotification('success', 'ThankYou for Your Feedback!')
	};
</script>
