<div class="container-fluid help_bg">
	<%= render 'home_static/top_navbar_fixed' %>
	<div class="row clearfix content_style">
		<div class="col-md-12">
			<div class="content-wrapper">
				<h1 class="help-head">Docket Help Desk</h1>
				
			</div>
		</div>
	</div>
</div>
<div class="container-fluid help_faq">
	<div class="row clearfix section-padd">
		<div class="col-md-4 help_link_bg">
			<h1 class="help_txt">Help</h1>
			<ul class="list_wrapper">
				<li>
					<a href="/privacy">Privacy <i class="fa fa-angle-right pull-right"></i></a>
				</li>
				<li>
					<a href="">Security <i class="fa fa-angle-right pull-right"></i></a>
				</li>
				<li>
					<a href="/feedback">Feedback <i class="fa fa-angle-right pull-right"></i></a>
				</li>
				<li>
					<a href="/terms_of_use">Terms of use <i class="fa fa-angle-right pull-right"></i></a>
				</li>
				<li>
					<a href="/terms">Terms and Conditions <i class="fa fa-angle-right pull-right"></i></a>
				</li>
				<li>
					<a href="/services_checklist">Checklist <i class="fa fa-angle-right pull-right"></i></a>
				</li>
				<li>
					<a href="/services_dashboard">Dashboard <i class="fa fa-angle-right pull-right"></i></a>
				</li>
				<li>
					<a href="/dvault">DVault <i class="fa fa-angle-right pull-right"></i></a>
				</li>
				<li>
					<a href="/cancellation_policy">Cancellation and Refund <i class="fa fa-angle-right pull-right"></i></a>
				</li>
				<li>
					<a href="/careers">Careers <i class="fa fa-angle-right pull-right"></i></a>
				</li>
				<li>
					<a href="/partner_with_us">Partners <i class="fa fa-angle-right pull-right"></i></a>
				</li>
			</ul>
		</div>
		<div class="col-md-8 faq_style">
			<h1 class="help_txt">FAQ</h1>
			<ul class="list_wrapper">
				<li>
					<h4>1. Can I pay cash on delivery?</h4>
					<p>No, at present we do not provide this facility.</p>
				</li>
				<li>
					<h4>2. How do I avail of the discounts/promotional codes?</h4>
					<p>The users have to enter the given code to avail the discount when required.</p>
				</li>
				<li>
					<h4>3. How shall I be updated about the ongoing offers?</h4>
					<p>You can review your order details in the website/app in the order Dashboard from the “Order History”.</p>
				</li>
				<li>
					<h4>4. How do I review my order?</h4>
					<p>You can review your order details in the website/app in the order Dashboard from the “Order History”.</p>
				</li>
				<li>
					<h4>5. How do I track the progress of my order?</h4>
					<p>You can track your order status in the website/app from the order Dashboard via 'Track' button. For further enquires you can mail us at : support@docketteck.com.</p>
				</li>
				<li>
					<h4>6. Will I be able to avail of an express delivery service in case of an emergency?</h4>
					<p>You can contact us for special deliveries.</p>
				</li>
				<li>
					<h4>7. Am I permitted to pay in installments for the document ordered?</h4>
					<p>No. All charges have to be paid in full, while placing the order. However, for Marketplace and Startup registration you have an option for payment via EMI's. </p>
				</li>
				<li>
					<h4>8. How shall I receive the refunded amount in case of a cancellation? (mode of refund)</h4>
					<p>It would be refunded to your respective bank account in 7-10 working days.</p>
				</li>
				<li>
					<h4>9. Will I receive a replacement of document if the delivered document is not in the appropriate form?</h4>
					<p>If & only if the mistake is on from our side the document will be corrected and replaced.</p>
				</li>
				<li>
					<h4>10. How do I cancel my order?</h4>
					<p>No, you cannot cancel the order once the it has been placed and payment made.</p>
				</li>
				<li>
					<h4>11. How long will it take to process my cancellation request?</h4>
					<p>Your order can be cancelled within 2-4 hours after order placment. E-stamp certificate once printed cannot be cancelled. To cancel an E-stamp customer has to approach Inspector General <a href="http://www.karunadu.gov.in/karigr/actsrules/documentreg/EStamping.pdf" class='inner_link'>(Karnataka Stamps and Registrations)</a>.</p>
				</li>
				<li>
					<h4>12. How does the document delivery process work?</h4>
					<p>The delivery process will happen through FedEx.</p>
				</li>
				<li>
					<h4>13. What are the delivery charges?</h4>
					<p>The charges will vary, based on the requirement of the document.</p>
				</li>
				<li>
					<h4>14. Are there any hidden costs in the product sold?</h4>
					<p>We follow a transparent pricing policy and there are no hidden costs involved. You just need to pay the total amount that shows in your Invoice, after placing the order</p>
				</li>
				<li>
					<h4>15. What is the estimated delivery time?</h4>
					<p>Our standard delivery time for documentation is between 24 to 48 hours. In case you need your documentation on priority, we have a special tariff which can be provided on request, while placing an order. The time frame for Registrations, Licenses and On-Demand services may vary depending upon the specific government or authority’s timelines. From time-to-time we will keep you posted on every step of the process of your order.</p>
				</li>
				<li>
					<h4>16. The Document will be delivered to you during business hours. Does anyone need to be present to receive the delivered document?</h4>
					<p>Yes, you have to be present at the location mentioned to collect the document. The delivery details will be sent to you within a couple of hours after you place the order.</p>
				</li>
				<li>
					<h4>17. What is the difference between me personally getting the documentation done and approaching Docket Tech?</h4>
					<p>We save you from the tedious processes involved in getting the documents at your doorstep, within a short period of time. We also guide you and clarify any queries and doubts you may have on the same.</p>
				</li>
			</ul>
			<hr class="hr_style">
			<div class="note_wrapper">
				<h5>Note:</h5>
				<h5>In case you are not able to find a solution or answer to your question above, kindly contact our<br> 
					<span class="color_style">Support Center at +91-81-0537 7103</span> 
					<!-- <span class="color_style">Support Center at +91-80-4656 4656</span>  -->
					or mail us at <span class="color_style"><a href="mailto:support@dockettech.com">support@dockettech.com</a> .</span></h5>
			</div>
		</div>
	</div>
</div>