<div class="container-fluid partner_with_us">
	<%= render 'home_static/top_navbar_fixed' %>
</div>
<div class="container-fluid content_padd">
	<h1 class="partner_txt_head">Partner with us!</h1>
	<div class="partner_content">
			<!-- <p>
				Docket Tech’s channel strategy is to connect and work with professionals/experts to provide value added services and explore the opportunities in documentation and marketplace. Our team is expanding and so is our partner community. As of today we  are prepared to cater to the documentation needs of millions of users across the globe.
			</p>
			<p>
				The Docket Tech system is devised to serve you better in the future for B2B and B2C interactions as well as enterprise solutions. You can be a part of the Company’s success and would provide exclusive services, linking up with some of the most technologically innovative minds in the business.
			</p>
			<p>
				Substantial and sustained growth and development and a business model that is unique and far more advanced than our competition - this is what our platform offers to you. You would utilize your experience and expertise towards executing our services and would pay maximum attention towards serving the customer, thereby reaping considerable financial benefits through the services offered on our platform.
			</p>
			<p>
				By engaging with us and providing our services through Docket Tech’s platform, you, as our professional/expert partner would find yourself on an absolutely fast-track to further growth and success.
			</p>
			<p>
				Our professional/expert partners will be kept well informed about the latest features added to our services and also new and improved products from time-to-time.
			</p> -->
			<%= form_tag('/partner_requests', remote: true, multipart: true, type: :post, id: "msform", :onSubmit => 'partnerFormHide()') do |f| %>
					<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<%= hidden_field_tag :redirect, false %>
					<ul id="progressbar">
						<li class="active">Professional Details</li>
						<li>Business Details</li>
						<li>Bank Details</li>
					</ul>
					<fieldset>
						<h2 class="fs-title">Fill Your Professional Details</h2>
						<div class="select_append">	
							<select name="partner_request[profession]" id="" class="select_category" required/>
								<option value="">Select Your Profession</option>
								<option value="Notary Public">Notary Public</option>
								<option value="Gazette Officer">Gazette Officer</option>
								<option value="Senior Advocate">Senior Advocate</option>
								<option value="Interim Lawyer">Interim Lawyer</option>
								<option value="Property Consultant">Property Consultant</option>
								<option value="Chartered Accountant">Chartered Accountant</option>
								<option value="Company Secretary">Company Secretary</option>
								<option value="Sales Tax Practitioner">Sales Tax Practitioner</option>
								<option value="Cost Accountant">Cost Accountant</option>
								<option value="IPR Attorney">IPR Attorney</option>
								<option value="others">Others</option>
							</select>
						</div>
						<input type="text" name="partner_request[name]" placeholder="Enter your Name" required/>
						<input type="text" name="partner_request[phone]" placeholder="Enter your Contact Number" required/>
						<input type="email" name="partner_request[email]" placeholder="Enter your Email" required/>
						<textarea name="partner_request[address]" placeholder="Enter your Permanent Address" required/></textarea>
						<input type="text" name="partner_request[city]" placeholder="Enter your City" required/>
						<input type="text" name="partner_request[state]" placeholder="Enter your State" required/>
						<input type="text" name="partner_request[pincode]" placeholder="Enter your Pincode" required/>
						<input type="text" name="partner_request[registration_no]" placeholder="Enter your Company/Firm Registration Number" />
						<span>
							<input id="uploadFile" placeholder="Upload ID Proof" disabled="disabled" accept=".doc,.docx,.pdf" />
							<div class="fileUpload btn btn-primary">
							    <span>Upload</span>
							    <input id="uploadBtn" name='uploads[id_proof]' type="file" class="upload" accept=".doc,.docx,.pdf"/>
							</div>
						</span>
						
						<span class="upload">
							<input id="uploadFile1" placeholder="Upload Address Proof" disabled="disabled" accept=".doc,.docx,.pdf" />
							<div class="fileUpload btn btn-primary">
							    <span>Upload</span>
							    <input id="uploadBtn1" name='uploads[address_proof]' type="file" class="upload" accept=".doc,.docx,.pdf"/>
							</div>
						</span>
						
						
						<div class="row">
							<div class="col-md-12">
								<p class="red">*Upload ID Proof and Address Proof</p>
							</div>
						</div>
						<input type="button" class="next action-button" value="Next" />
					</fieldset>
					<fieldset>
						<h2 class="fs-title">Fill Your Business Details</h2>
						<!-- <div class="select_append">	
							<select name="partner_request[business_category]" id="" class="select_category" required/>
								<option value="">Select Business Category</option>
								<option value="Automotive">Automotive</option>
								<option value="Banking">Banking</option>
								<option value="Building & Construction">Building & Construction</option>
								<option value="Capital Markets">Capital Markets</option>
								<option value="Chemicals">Chemicals</option>
								<option value="Energy">Energy</option>
								<option value="Ecommerce">Ecommerce</option>
								<option value="Financial Services">Financial Services</option>
								<option value="Food, Drink & Consumer Goods">Food, Drink & Consumer Goods</option>
								<option value="Government & Public Sector">Government & Public Sector</option>
								<option value="Healthcare">Healthcare</option>
								<option value="Industrial Manufacturing">Industrial Manufacturing</option>
								<option value="Infrastructure">Infrastructure</option>
								<option value="Insurance">Insurance</option>
								<option value="Investment Management">Investment Management</option>
								<option value="Life Services">Life Services</option>
								<option value="Media">Media</option>
								<option value="Mining">Mining</option>
								<option value="Private Equity">Private Equity</option>
								<option value="Real Estate">Real Estate</option>
								<option value="Retail">Retail</option>
								<option value="Technology">Technology</option>
								<option value="Telecommunications">Telecommunications</option>
								<option value="Transport & Logistics">Transport & Logistics</option>
								<option value="Travel & Tourism">Travel & Tourism</option>
							</select>
						</div> -->
						<input type="text" name="partner_request[firm_name]" placeholder="Business Name" />
						<input type="text" name="partner_request[pan]" placeholder="PAN Number" />
						<input type="text" name="partner_request[tan]" placeholder="TAN Number(Optional)" />
						<input type="text" name="partner_request[service_tax]" placeholder="Service Tax Number(Optional)"/>
						<input type="text" name="partner_request[services]" placeholder="Services(Mandatory)" required/>
						<textarea name="partner_request[business_address]" placeholder="Enter your Business Address(Can be filled later)"/></textarea>
						<span>
							<input id="uploadFile2" placeholder="Upload Certificate of Company/Firm" disabled="disabled" accept=".doc,.docx,.pdf"/>
							<div class="fileUpload btn btn-primary">
							    <span>Upload</span>
							    <input id="uploadBtn2"  name='uploads[company_certificate]'  type="file" class="upload" accept=".doc,.docx,.pdf"/>
							</div>
						</span>
						<span class="upload">
							<input id="uploadFile3" placeholder="Upload Shop Establishment Proof" disabled="disabled" accept=".doc,.docx,.pdf"/>
							<div class="fileUpload btn btn-primary">
							    <span>Upload</span>
							    <input id="uploadBtn3" name='uploads[shop_establishment]' type="file" class="upload" accept=".doc,.docx,.pdf"/>
							</div>
						</span>
						<div class="row">
							<div class="col-md-12">
								<p class="red">*Upload Certificate of Company/Firm & Shop Establishment Proof</p>
							</div>
						</div>
						<div class='thanks' style="display:none"> 
							Thank You for Registering. We will get back to you shortly.
						</div>
						<input type="button" class="previous action-button" value="Previous" required/>
						<input type="button" class="next action-button" value="Next" required/>
					</fieldset>
					<fieldset>
						<h2 class="fs-title">Fill Your Bank Details</h2>
						<input type="text" name="partner_request[account_holder]" placeholder="Account Holder Name(Can be filled later)" />
						<input type="text" name="partner_request[account_number]" placeholder="Bank Account Number(Can be filled later)" />
						<input type="text" name="partner_request[ifsc_code]" placeholder="IFSC Code(Can be filled later)" />
						<input type="text" name="partner_request[bank_name]" placeholder="Bank Name(Can be filled later)" />
						<input type="text" name="partner_request[branch_name]" placeholder="Branch Name(Can be filled later)" />
						<input type="text" name="partner_request[referral]" placeholder="Branch Name(Can be filled later)" />
						<textarea name="partner_request[bank_address]" placeholder="Bank Address(Can be filled later)" /></textarea>
						<span>
							<input id="uploadFile4" placeholder="Upload Office Rental Agreement" disabled="disabled" accept=".doc,.docx,.pdf"/>
							<div class="fileUpload btn btn-primary">
							    <span>Upload</span>
							    <input id="uploadBtn4" name='uploads[rental_agreement]' type="file" class="upload" accept=".doc,.docx,.pdf"/>
							</div>
						</span>
						<!-- <span class="upload">
							<input id="uploadFile5" placeholder="Upload Cancelled Cheque" disabled="disabled" accept=".doc,.docx,.pdf"/>
							<div class="fileUpload btn btn-primary">
							    <span>Upload</span>
							    <input id="uploadBtn5" name='uploads[cancelled_cheque]' type="file" class="upload" accept=".doc,.docx,.pdf"/>
							</div>
						</span> -->
						<div class="row">
							<div class="col-md-12">
								<p class="red">*Requirements: Office Rental Agreement and Cancelled Cheque</p>
							</div>
						</div>
						<div class='thanks' style="display:none"> 
							Thank You for Registering. We will get back to you shortly.
						</div>
						<input type="button" class="previous action-button" value="Previous"/>
						<input type="submit" class="submit action-button" value="Register" />
					</fieldset>
				<% end %>
				<div class='thanks' style="display:none"> 
					Thank You for Registering. We will get back to you shortly.
				</div>

			<hr class="hr_style">
	</div>
</div>
<script>
	function partnerFormHide(){
		$('#msform').hide();
		$('.thanks').show();
		setNotification('success', 'Your Request has been Received');
		parent.scrollTo(0, 0);
  	}
	$(document).ready(function(){
		//jQuery time
		var current_fs, next_fs, previous_fs; //fieldsets
		var left, opacity, scale; //fieldset properties which we will animate
		var animating; //flag to prevent quick multi-click glitches
		var n=0;
		$(".next").click(function(){
			if($('#msform').children('fieldset').eq(n).find('input').val() === ''){
	                error = 'NOVAL';
		    	return false;
		    }
			if(animating) return false;
			animating = true;
			current_fs = $(this).parent();
			next_fs = $(this).parent().next();
			//activate next step on progressbar using the index of next_fs
			$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
			//show the next fieldset
			next_fs.show(); 
			//hide the current fieldset with style
			current_fs.animate({opacity: 0}, {
				step: function(now, mx) {
					//as the opacity of current_fs reduces to 0 - stored in "now"
					//1. scale current_fs down to 80%
					scale = 1 - (1 - now) * 0.2;
					//2. bring next_fs from the right(50%)
					left = (now * 50)+"%";
					//3. increase opacity of next_fs to 1 as it moves in
					opacity = 1 - now;
					current_fs.css({'transform': 'scale('+scale+')'});
					next_fs.css({'left': left, 'opacity': opacity});
				}, 
				duration: 800, 
				complete: function(){
					current_fs.hide();
					animating = false;
				}, 
				//this comes from the custom easing plugin
				easing: 'easeInOutBack'
			});
		});

		$(".previous").click(function(){
			if(animating) return false;
			animating = true;
			current_fs = $(this).parent();
			previous_fs = $(this).parent().prev();
			//de-activate current step on progressbar
			$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
			//show the previous fieldset
			previous_fs.show(); 
			//hide the current fieldset with style
			current_fs.animate({opacity: 0}, {
				step: function(now, mx) {
					//as the opacity of current_fs reduces to 0 - stored in "now"
					//1. scale previous_fs from 80% to 100%
					scale = 0.8 + (1 - now) * 0.2;
					//2. take current_fs to the right(50%) - from 0%
					left = ((1-now) * 50)+"%";
					//3. increase opacity of previous_fs to 1 as it moves in
					opacity = 1 - now;
					current_fs.css({'left': left});
					previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
				}, 
				duration: 800, 
				complete: function(){
					current_fs.hide();
					animating = false;
				}, 
				//this comes from the custom easing plugin
				easing: 'easeInOutBack'
			});
		});
		$("#uploadBtn").on('change',function () {
	    	document.getElementById("uploadFile").value = this.value;
		});
		$("#uploadBtn1").on('change',function () {
	    	document.getElementById("uploadFile1").value = this.value;
		});
		$("#uploadBtn2").on('change',function () {
	    	document.getElementById("uploadFile2").value = this.value;
		});
		$("#uploadBtn3").on('change',function () {
	    	document.getElementById("uploadFile3").value = this.value;
		});
		$("#uploadBtn4").on('change',function () {
	    	document.getElementById("uploadFile4").value = this.value;
		});
		$("#uploadBtn5").on('change',function () {
	    	document.getElementById("uploadFile5").value = this.value;
		});
	})
</script>