<div class="container-fluid privacy_policy">
	<%= render 'home_static/top_navbar_fixed' %>
	<div class="row clearfix content_style">
		<div class="col-md-12">
			<div class="content-wrapper1">
				<h1>privacy</h1>
				<h1 class="main-head">policy</h1>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row clearfix ">
		<div class="col-md-12">
			<div class="content-wrapper text">
				<h4 class="text-center style"><b> Privacy Statement for Docket Tech Solutions Private Limited</b></h4><br><br>
				<p classs="style_text">Please note that the operations and methods of Docket Tech Solutions Private Limited, ("Docket"), considering all your personal data provided to us, are now administered by this Privacy Policy  framed by Docket. We support guests and users of our site to frequently check our Privacy Policy.<br>
				We have developed this Privacy Policy to protect your personal information thereby keeping it confidential and secure, access to which only you have. By using our Website/Mobile App, you are accepting and consenting to the practices described in this Privacy Policy. The following Privacy Policy outlines the information  about how we may process and how we may use that information to better serve you while using our Website/Mobile App. Please review the following carefully so that you understand our privacy practices.</p><br>

				<h4><b>Changes in Privacy Policy</b></h4>

				<p classs="style_text">All "Personal data/Information" ("Personal data or details" can be any information that confirms an individual’s identity or is used to approach, identify, search out for the individual to whom that particular information match) that we are provided with and will be  managed with, subject to the Privacy Policy of Docket, as revised on a regular basis. Docket reserves the right to revise the Privacy Policy regularly at its discretion and will make sure to send notifications on the homepage of the website when we are making certain alterations/revisions when necessary to this Privacy Policy, prior to it’s becoming effective on the Website.</p><br>

				<h4><b>Correspondence Information</b></h4>
				<p classs="style_text">Following is the correspondence information which you provide when you access/register for our service:</p>
				<div class='correspondence'>
		 			<h4><b>Minimum age for use</b></h4>
					<p classs="style_text">18 years is the minimum age to use the services provided in the Website/Mobile App. Children below this age are not allowed to register with or use the service, or provide personal data. If we discover that we have collected personal information from a child under 18, that information will be immediately deleted from our records.</p>

					<h4><b> Personal Information</b></h4>
					<p classs="style_text">Name, gender, age, images, contact/postal address, telephone, email id, nationality and content.</p><br>
				</div>
				<h4><b>Financial Information</b></h4>
				<p classs="style_text">Credit/Debit card details including card number and expiry date in encrypted form, details for net banking services. Please note that Docket ensures the highest degree of data security, while encrypting as per the guidelines specified by Payment Cards Industry Data Security Standard (PCI DSS).</p>

	 			<h4><b>Payment and Account Information</b></h4>
				<p classs="style_text">Your account history with us including (without limitation) all billing information and communications, payment history, etc. We maintain this in encrypted form on secure servers. However, your transaction details may be preserved by Docket for purposes of tax or regulatory compliance.</p>

	 			<h4><b>Transactional Information</b></h4>
				<p classs="style_text">Order ID, transactional history (other than banking details) about your e-commerce activities on our Website/Mobile App.</p>

	 			<h4><b>User IDs</b></h4>
				<p classs="style_text">Your usernames, passwords, email addresses and other security-related information used by you in relation to our Services.</p><br>

				<h4><b>Stored Information:</b></h4> 

				<p classs="style_text">Data either created by you or by a third party and which you wish to store on our servers such as image files, documents, etc.</p><br>

				<h4><b>Shared Information:</b></h4>

				<p classs="style_text">What types of information are not allowed on the Docket Website/Mobile App?  - Fake or impostor profiles  - Spam. Technical and functional management of the Website/Mobile App:<br>
				When you use our Website/Mobile App, we also process technical data such as your IP address, Device ID or MAC address, and information about the manufacturer, model, and operating system of your mobile device. We use this data to enable us to deliver the functionalities of the Website/Mobile App, resolve technical difficulties, and provide you with the correct (prevent the transmission of spam, viruses and/or unlawful, defamatory, obscene or otherwise undesirable material or content) and most up to date version of the Website/Mobile App.</p><br>

				<h4><b>Operational Use</b></h4>

				<p classs="style_text">We may use your information for suggesting products and promotional offers and schemes. You may update your profiling information at any time on the Website/Mobile App. You acknowledge and agree such update is in your interest and for improving personalisation and service efficiency of the Website/Mobile App.<br>

	 			<b>Note:- You acknowledge and accept that we will only disclose your information in a 						aggregated form which is not capable of being used or interpreted in such a manner so as 				to identify you.</b>
				</p><br>

				<h4><b>Applicable law and procedure</b></h4>

				<p classs="style_text">We collect and store your correspondence information to: <br>
				(a) comply with our obligations under law; <br>
				(b) monitor your use of our Services in order to ensure your compliance with our Terms of Service.  Note: However, as effective as encryption technology is, no security system is impenetrable. We cannot guarantee the security of our database, nor can we guarantee that information you supply won’t be intercepted while being transmitted to us over the Internet.</p><br>

				<h4><b>Requirement of Personal Information</b></h4>

				<p classs="style_text">Our services does not sell or share your personal data/information to anyone else in any way other than as mentioned in this Privacy Policy of our Website.Docket assembles your data to keep a report and to keep a track of your participation in the activities you choose. Docket or few of our trusted partners will use your personal information for:<br>
				<li>Processing your financial transactions.</li>
				<li>Sending you order notifications and confirmations for the payment made.</li>
				<li>Recording your rights, to customer support or other benefits that are readily available for the registered users.</li>
				<li>Answering to customer support enquiries and interests.</li>
				<li>Governing your account.</li>
				<li>Providing you with the requested products and service information.</li>
				<li>Keeping you notified on offers and other services of Docket.</li>
				<li>examining, avoiding or involve in taking action pertaining to  illegal activities of Terms of Use.
				</li></p>
				<br>

				<h4><b>When this Privacy Policy applies</b></h4>
				<p lasss="style_text">Docket’s Privacy Policy is applicable for all the services that are offered by us, and its associates, inclusive of services Docket provides on Webite/Mobile devices, and services offered on other promoting sites and does not apply for the services that have it’s own Privacy Policy. Our Privacy Policy is completely applicable for the above mentioned purposes and prospects and not for companies or individuals who are not associated with us or our services or anyone else linked with our Website/Mobile App. If not mentioned.Docket’s Privacy Policy includes no data/information related to other companies or individual’s who help us advertise our services on their site.</p>
			</div>
		</div>
	</div>
</div>