<div class="container-fluid services_page">
	<%= render 'home_static/top_navbar_fixed' %>
	<div class="row clearfix">
		<div class="col-md-12">
			<div class="content_wrapper">
				<h1>our <span class="bold_style">Services</span></h1>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid services_description">
	<div class="row clearfix tab_bar">
		<div class="col-md-12">
            <ul class="nav nav-tabs tablist" role="tablist">
                <li role="presentation" class="active"><a href="#checklist" aria-controls="home" role="tab" data-toggle="tab">Checklist</a></li>
                <li role="presentation"><a href="#dashboard" aria-controls="profile" role="tab" data-toggle="tab">Dashboard</a></li>
                <li role="presentation"><a href="#dvault" aria-controls="messages" role="tab" data-toggle="tab">DVault</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid tab_description">
    <div class="row">
		<div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="checklist">
            	<div class="row clearfix section-padd">
            		<div class="col-md-6">
            			<div class="wrapper_style">
            				<%= image_tag 'services/checklist_icon.png' %>
            				<div class="headin_wrapper">
            					<h2>Checklist</h2>
            					<h4>PLACE YOUR ORDER</h4>
            				</div>
            				<p class="para_style">
            					This is one of Docket's premium services that ensures all the necessary documents are in place at any moment. This service gives you the leverage of understanding all the details required regarding delivery timings, payments, offers and to apply for documents like Bonds, Agreements, Registrations, Deeds and Affidavits.
            				</p>
            			</div>
            		</div>
            		<div class="col-md-6">
            			<%= image_tag 'services/checklist_mac.png', :class => "checklist_img" %>
            		</div>
            	</div>
            </div>
            <div role="tabpanel" class="tab-pane" id="dashboard">
            	<div class="row clearfix section-padd">
            		<div class="col-md-6">
            			<div class="wrapper_style">
            				<%= image_tag 'services/dashboard_icon.png' %>
            				<div class="headin_wrapper">
            					<h2>Dashboard</h2>
            					<h4>TRACK YOUR ORDER</h4>
            				</div>
            				<p class="para_style">
            					The Dashboard acts as an interface between the customer and the application, giving them the absolute comfort of tracking the order process and delivery status. It also presents them with the transparency in the application and provides an exhaustive overview of the same.
            				</p>
            			</div>
            		</div>
            		<div class="col-md-6">
            			<%= image_tag 'services/dashboard_tracking.png', :class => "dashboard_img" %>
            		</div>
            	</div>
            </div>
            <div role="tabpanel" class="tab-pane" id="dvault">
            	<div class="row clearfix section-padd">
            		<div class="col-md-6">
            			<div class="wrapper_style">
            				<%= image_tag 'services/dvault_icon.png' %>
            				<div class="headin_wrapper">
            					<h2>DVault</h2>
            					<h4>YOUR DOCUMENTS ARE SECURED</h4>
            				</div>
            				<p class="para_style">
            					This is a unique and one-of-a-kind service rendered by Docket, with a provision to safely store all your documents in a single source. The DVault assures you of complete and infallible security and flexibility when it comes to accessing your own documents, whenever required. Most importantly, this functions as a storage "plus" model, wherein you have the option not only of storage, but of additional "service" towards your documents, as required.
            				</p>
            			</div>
            		</div>
            		<div class="col-md-6">
            			<%= image_tag 'services/dvault_catagrs.png', :class => "dvault_img" %>
            		</div>
            	</div>
            </div>
        </div>
    </div>    
</div>