<div class="row">
	<div class="col-md-2-offset col-md-10 body-wrapper">
		<div class="row clearfix profile-padd card">
			<div class="col-md-12 center-block">
				<%= form_tag('/settings', type: :post, :class => "settings_form_style") do |f| %>
					<div class="row clearfix">
						<div class="col-md-12">
							<h1 class="text-center"><u>SETTINGS</u></h1>
							<label for="">Email</label>
							<input type="text" name="" id="" class="form-control settings_input_style" value="" required="required" pattern="" title="">

							<label for="">Mobile</label>
							<input type="text" name="" id="" class="form-control settings_input_style" value="" required="required" pattern="" title=""><i class="fa fa-pencil fa_style"></i>

							<label for="">Change Password</label>
							<input type="text" name="" id="" class="form-control settings_input_style" value="" required="required" pattern="" title=""><i class="fa fa-pencil fa_style1"></i>
						</div>
					</div>
					<button type="button" class="btn btn-default logout">Logout</button>
				<% end %>
			</div>
		</div>
	</div>
</div>
