<div class="container-fluid team-page-container">
	<%= render 'home_static/top_navbar_fixed' %>
</div>
<div class="container-fluid team_wrapper">
	<div class="row clearfix center-block text-center section-pad">
		<div class="container">
			<div class="col-md-12">
			 <h1 class="team">Meet Our Team</h1>
		</div>
		</div>
	</div>
	<div class="row clearfix center-block text-center section-pad">
		<div class="container">
			<div class="col-md-3">
				<ul class="lb-album">
				    <li>
				      <!-- <a href="#image-1">
				        <%#=image_tag "team/gireeshsir.jpg" %>
				      </a> -->
				      <div class="lb-overlay" id="image-1">
				        <!-- <a href="#page" class="lb-close">x</a> -->
				        <%=image_tag "team/gireeshsir.jpg" %>
				        <p>Gireesh Challa <br>	Founder & Director</p>
				        <div>
							<!-- <span class="description">
								<a href=" https://www.facebook.com/gireesh.challa?fref=ts"><i class="fa fa-facebook-square fa-style"></i></a>&nbsp; 
								<a href="  https://twitter.com/gireeshchalla"></a><i class="fa fa-twitter-square fa-style"></i>&nbsp; 
								<a href=" https://www.linkedin.com/profile/view?id=AAkAAA39JBIBBTtwWiXy4oxOuDUGEAxOi3YIb6I&authType=NAME_SEARCH&authToken=SrRv&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A234693650%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1444037455462%2Ctas%3Agireesh%20challa"><i class="fa fa-linkedin-square fa-style"></i></a>&nbsp; 
								<i class="fa fa-instagram fa-style"></i>
							</span> -->
				        </div>
				      </div>
				    </li>
				  </ul>
			</div>
			<div class="col-md-3">
				<ul class="lb-album">
				    <li>
				      <!-- <a href="#image-2">
				        <%#=image_tag "team/adisir.jpg" %>
				      </a> -->
				      <div class="lb-overlay" id="image-2">
				        <!-- <a href="#page" class="lb-close">x</a> -->
				        <%=image_tag "team/adisir.jpg" %><br/>
				        <p>Aditya Pratap<br>Co-Founder</p>
				        <div>
							<!-- <span class="description">
								<a href=""><i class="fa fa-facebook-square fa-style"></i></a>&nbsp; 
								<a href=""><i class="fa fa-twitter-square fa-style"></i></a>&nbsp; 
								<a href=""><i class="fa fa-linkedin-square fa-style"></i></a>&nbsp; 
								<i class="fa fa-instagram fa-style"></i>
							</span> -->
				        </div>
				      </div>
				    </li>
				  </ul>
			</div>
			<div class="col-md-3">
				<ul class="lb-album">
				    <li>
				      <!-- <a href="#image-3">
				        <%#=image_tag "team/prashant.jpg" %>
				      </a> -->
				      <div class="lb-overlay" id="image-3">
				        <!-- <a href="#page" class="lb-close">x</a> -->
				        <%=image_tag "team/prashant.jpg" %><br/>
				        <p>Prashanth Narayan<br>Co-Founder</p>
				        <div>
							<!-- <span class="description">
								<i class="fa fa-facebook-square fa-style"></i>&nbsp; 
								<i class="fa fa-twitter-square fa-style"></i>&nbsp; 
								<i class="fa fa-linkedin-square fa-style"></i>&nbsp; 
								<i class="fa fa-instagram fa-style"></i>
							</span> -->
				        </div>
				      </div>
				    </li>
				  </ul>
			</div>
			<div class="col-md-3">
				<ul class="lb-album">
				    <li>
				      <!-- <a href="#image-4">
				        <%#=image_tag "team/darshan.jpg" %>
				      </a> -->
				      <div class="lb-overlay" id="image-4">
				        <!-- <a href="#page" class="lb-close">x</a> -->
				        <%=image_tag "team/darshan.jpg" %><br/>
				        <p>Darshan B. K<br>Director</p>
				        <div>
							<!-- <span class="description">
								<a href="https://www.facebook.com/bk.darshan.9?fref=ts"><i class="fa fa-facebook-square fa-style"></i></a>&nbsp; 
								<a href=""><i class="fa fa-twitter-square fa-style"></i></a>&nbsp; 
								<a href="https://www.linkedin.com/profile/view?id=AAIAAA-P9l0BrRgJhB873Vi8WzVDyYHUjrslVCg&trk=nav_responsive_tab_profile"><i class="fa fa-linkedin-square fa-style"></i></a>&nbsp; 
								<a href=""><i class="fa fa-instagram fa-style"></i></a>
							</span> -->
				        </div>
				      </div>
				    </li>
				  </ul>
			</div>
		</div>
	</div>
	<div class="row clearfix center-block text-center section-pad">
		<div class="container">
			<div class="col-md-3">
				<ul class="lb-album">
				    <li>
				      <!-- <a href="#image-6">
				        <%#=image_tag "team/goldie.png" %>
				      </a> -->
				      <div class="lb-overlay" id="image-6">
				        <!-- <a href="#page" class="lb-close">x</a> -->
				        <%=image_tag "team/goldie.png" %><br/>
				        <p>Goldie Kedia<br>Senior Software developer</p>
				        <div>
							<!-- <span class="description">
								<a href=" http://facebook.com/goldie.kedia"><i class="fa fa-facebook-square fa-style"></i></a>&nbsp; 
								<a href="http://twitter.com/goldiekedia"><i class="fa fa-twitter-square fa-style"></i></a>&nbsp; 
								<a href=""></a> <a href=" https://in.linkedin.com/in/goldiekedia"><i class="fa fa-linkedin-square fa-style"></i></a>&nbsp; 
								<i class="fa fa-instagram fa-style"></i></span> -->
				        </div>
				      </div>
				    </li>
				  </ul>
			</div>
			<div class="col-md-3">
				<ul class="lb-album">
				    <li>
				      <!-- <a href="#image-7">
				        <%#=image_tag "team/arshad.jpg" %>
				      </a> -->
				      <div class="lb-overlay" id="image-7">
				        <!-- <a href="#page" class="lb-close">x</a> -->
				        <%=image_tag "team/arshad.jpg" %><br/>
				        <p>Arshad Parwez<br>Android & IOS Devloper</p>
				        <div>
							<!-- <span class="description">
								<a href="https://www.facebook.com/arshuparwez"><i class="fa fa-facebook-square fa-style"></i></a>&nbsp; 
								<a href="https://twitter.com/arshuparwez"><i class="fa fa-twitter-square fa-style"></i></a>&nbsp; 
								<a href=" https://plus.google.com/u/0/+ArshadParwezDev/posts"><i class="fa fa-google-plus-square fa-style"></i></a>&nbsp;
								<a href="https://in.linkedin.com/in/arshadparwez"><i class="fa fa-linkedin-square fa-style"></i></a>&nbsp; 
								<a href="https://instagram.com/_arshu_"><i class="fa fa-instagram fa-style"></i></a>
							</span> -->
				        </div>
				      </div>
				    </li>
				  </ul>
			</div>
			<div class="col-md-3">
				<ul class="lb-album">
				    <li>
				      <!-- <a href="#image-8">
				        <%#=image_tag "team/sriram.jpg" %>
				      </a> -->
				      <div class="lb-overlay" id="image-8">
				        <!-- <a href="#page" class="lb-close">x</a> -->
				        <%=image_tag "team/sriram.jpg" %><br/>
				        <p>Sriram<br>Relationship Manager</p>
				        <div>
							<!-- <span class="description">
								<a href="www.facebook.com/srirammsr"><i class="fa fa-facebook-square fa-style"></i></a>&nbsp; 
								<a href="https://twitter.com/sriram289"><i class="fa fa-twitter-square fa-style"></i></a>&nbsp; 
								<a href="https://www.linkedin.com/pub/sri-ram/38/1ab/27b"><i class="fa fa-linkedin-square fa-style"></i></a>&nbsp; 
								<a href="https://plus.google.com/u/0/+SriramM289/posts"><i class="fa fa-google-plus-square fa-style"></i></a>&nbsp; <a href="https://instagram.com/srirammsr"><i class="fa fa-instagram" style="font-size: 2em;padding: 12px;margin: 0 auto;color: white;"></i></a>
							</span> -->
				        </div>
				      </div>
				    </li>
				  </ul>
			</div>
			<div class="col-md-3">
				<ul class="lb-album">
				    <li>
				      <!-- <a href="#image-9">
				        <%#=image_tag "team/gokul.jpg" %>
				      </a> -->
				      <div class="lb-overlay" id="image-9">
				        <!-- <a href="#page" class="lb-close">x</a> -->
				        <%=image_tag "team/gokul.jpg" %>
				        <p>Gutta Gokul<br>Operation Executive</p>
				        <div>
							<!-- <span class="description">
								<a href=" facebook.com/gokul.gutta.3"><i class="fa fa-facebook-square" style="font-size: 2em;padding: 0px; margin:-9px;color: white;"></i></a> 
								<a href=""><i class="fa fa-twitter-square fa-style"></i></a>
								<a href=""><i class="fa fa-google-plus-square fa-style"></i></a>
								<a href=""><i class="fa fa-linkedin-square fa-style"></i></a> 
								<a href=""><i class="fa fa-instagram fa-style"></i></a>
							</span> -->
				        </div>
				      </div>
				    </li>
				  </ul>
			</div>
		</div>
	</div>
	<div class="row clearfix center-block text-center section-pad margin-style">
		<div class="container ">
			<div class="col-md-3">
				<ul class="lb-album">
				    <li>
				     <!--  <a href="#image-13">
					        <%#=image_tag "team/madhulina.jpg" %><!-- <br />
					        <span>Pointe</span> -->
					      <!-- </a> -->
					      <div class="lb-overlay" id="image-13">
					        <!-- <a href="#page" class="lb-close">x</a> -->
					        <%=image_tag "team/madhulina.jpg" %>
					        <p>Madhulina Sarkar<br>Legal Executive</p>
					        <div>
								<!-- <span class="description">
									<i class="fa fa-facebook-square fa-style"></i>&nbsp; <i class="fa fa-twitter-square" style="font-size: 2em;padding: 12px;margin-right: -25px;color: white;"></i>&nbsp; 
									<i class="fa fa-google-plus-square fa-style"></i>&nbsp; 
									<i class="fa fa-linkedin-square" style="font-size: 2em;padding: 12px;margin-right: -25px;color: white;"></i>&nbsp; 
									<i class="fa fa-instagram fa-style"></i>
								</span> -->
					        </div>
					      </div>
				    </li>
				  </ul>
			</div>
			<div class="col-md-3">
				<ul class="lb-album">
				    <li>
				      <!-- <a href="#image-14">
				        <%#=image_tag "team/abhilash.jpg" %>
				      </a> -->
				      	<div class="lb-overlay" id="image-14">
					        <!-- <a href="#page" class="lb-close">x</a> -->
					        <%=image_tag "team/abhilash.jpg" %>
					        <p>Abilash Padmanabhan<br>Design Head</p>
					        <div>
								<!-- <span class="description">
									<a href=""><i class="fa fa-facebook-square fa-style"></i></a>&nbsp; 
									<a href=""><i class="fa fa-twitter-square fa-style"></i></a>&nbsp; 
									<a href="https://plus.google.com/u/1/getstarted/getstarted?fww=1"><i class="fa fa-google-plus-square fa-style"></i></a>&nbsp; 
									<a href=" https://in.linkedin.com/in/abhilashpadmanabhan"><i class="fa fa-linkedin-square fa-style"></i></a>&nbsp; 
									<a href=""><i class="fa fa-instagram" style="font-size: 2em;padding: 12px;margin-right: -25px;color: white;"></i></a>
								</span> -->
					        </div>
				      	</div>
				    </li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul class="lb-album">
				    <li>
				      <!-- <a href="#image-11">
				        <%#=image_tag "team/jyoti.jpg" %>
				      </a> -->
				      <div class="lb-overlay" id="image-11">
				        <!-- <a href="#page" class="lb-close">x</a> -->
				        <%=image_tag "team/jyoti.jpg" %><br/>
				        <p>Jytoi Rawat<br>Front-End Devloper</p>
				        <div>
							<!-- <span class="description">
								<a href="https://www.facebook.com/jyoti.rawat.169067"><i class="fa fa-facebook-square fa-style"></i></a>&nbsp; 
								<a href="https://twitter.com/jyotirawat1487"><i class="fa fa-twitter-square fa-style"></i></a>&nbsp;
								<a href="https://plus.google.com/109435645608899953121/posts"><i class="fa fa-google-plus-square fa-style"></i></a>&nbsp; 
								<a href="https://www.linkedin.com/profile/view?id=AAIAABpVNPwBv_Y9hJ9C1VIkO5Sgt7dCFeyOTBo&trk=nav_responsive_tab_profile"><i class="fa fa-linkedin-square fa-style"></i></a>&nbsp; 
								<a href=""><i class="fa fa-instagram" style="font-size: 2em;padding: 12px; margin:0 auto;color: white;"></i></a>
							</span> -->
				        </div>
				      </div>
				    </li>
				  </ul>
			</div>
			<div class="col-md-3">
				<ul class="lb-album">
				    <li>
				      <!-- <a href="#image-12">
				        <%#=image_tag "team/preeti.jpg" %>
				      </a> -->
				      <div class="lb-overlay" id="image-12">
				        <!-- <a href="#page" class="lb-close">x</a> -->
				        <%=image_tag "team/preeti.jpg" %><br/>
				        <p>Preeti Singh<br>Front-End Devloper</p>
				        <div>
							<!-- <span class="description">
								<a href="https://www.facebook.com/Preetysingh04"><i class="fa fa-style fa-facebook-square"></i></a>&nbsp; 
								<a href="https://twitter.com/04PreetiSingh"><i class="fa fa-twitter-square" style="font-size: 2em;padding: 12px;margin-right: -26px;color: white;"></i></a>&nbsp;
								<a href="https://plus.google.com/u/0/103186455241696931366/posts"><i class="fa fa-google-plus-square fa-style"></i></a>&nbsp;  
								<a href="https://in.linkedin.com/pub/preeti-singh/aa/759/80b"><i class="fa fa-linkedin-square fa-style"></i></a>&nbsp; 
								<a href="https://instagram.com/preety290411/"><i class="fa fa-instagram" style="font-size: 2em;padding: 12px; margin:0 auto;color: white;"></i></a>
							</span> -->
				        </div>
				      </div>
				    </li>
				  </ul>
			</div>
		</div>
	</div>
</div>