<div class="container-fluid terms_of_use">
	<%= render 'home_static/top_navbar_fixed' %>
	<div class="row clearfix content_style">
	<div class="col-md-12">
		<div class="content-wrapper">
			<div class="div_style">
				<!-- <h1 class="text-center">DOCKETTECH.COM</h1> -->
				<h1 class="text-center">TERMS OF USE</h1><br><br>
				<h4><b>Please read these Terms of Use carefully before accessing or using website/mobile app</b></h4>
            	<p class="style_text">Welcome to Docket Tech Solution's Private Limited. We, at Docket, offer you a wide range of services pertaining to documentation. We ensure that your tedious time consuming activity of procuring legal drafts are just a few clicks away. We are presently located at 
				Mayur Tower, #10, 1st Floor, 3rd Main Rd, Ashwini Layout, Ejipura, Bangalore - 560047,	Karnataka, India. By accessing our services, you are accepting the following terms. Therefore, peruse it thoroughly. services rendered by Docket Tech Solution encompass diverse legal areas of documentation. This might require certain additional terms relevant with the services and those additional terms shall be considered as a part of the agreement with Docket Tech Solution.</p><br>

				<h4><b>Information shared with us</b></h4>
				<p class="style_text">Docket’s services let you to upload, store or share your files at anytime. You have reserved rights on any intellectual property that you hold in that content. The rights that you offer Docket and it’s employees are limited for supervising and developing our services. Certain services offered by Docket may provide you ways to use and discard the content that you have uploaded or submitted to that service. In certain services that we offer, there are rules or conditions that reduce the chance of Docket or it’s employees from using the information or data that has been submitted by you.<br>
				We have automated engines (systems) to evaluate your files and documents that you provide you personally, such as personalized results from after the search, custom-made promotions, and hard sell and malware identification. This analysis begins as soon as the files or documents is shared or uploaded and further it is stored.
				To know more about Docket and it’s services, you may go through our privacy policy or terms of use for specific services. Your suggestions and feedback will be valued and also help us in improving our services offered.</p><br>

				<h4><b>Your Docket Account</b></h4>

				 <p class="style_text">You will receive account credentials and a password soon after the successful completion of the Registration Process for the website/mobile app. You are responsible for reserving the secrecy of the password for the account. You agree to:<br>
				(a) immediately inform Docket of any use/breach of your account or password.<br>
				(b) make sure you logout from your account every time you access it. Docket cannot and will not be held responsible for any losses and damages resulting from your failure to abide by with this section.</p><br>

				<h4><b>Our Services</b></h4>

				<p class="style_text">Docket provides a variety of online services through the website/mobile app. You can subscribe for the services through the website/mobile app through different payment options given. The services that you subscribe for will be furthermore governed by precise containment of sale, like cancellation policy, refund policy and return policy, etc. In extension, these Terms of use may be further rendered by proper conditions of sale, which later may be exhibited with the related product or service.</p><br>

				<h4><b>Conduct and Rules for user</b></h4>

				<p  class="style_text" class="style_text">You concede and attempt to use the website/mobile app and the service only to upload and download files and material that are correct. By way of example, you shall not try or take part in the following:<br>
 				a) misuse, harass, stalk, jeopardise,abuse any user or otherwise act in disregard of laws.<br>
 				b) comment, post, upload, spread out or circulate any corrupt, inappropriate, untrue, indecent 						or unlawful subject, name, information or data.<br>
  				c) upload files that comprise software or any other material preserved by intellectual 							property laws unless you possess the rights. </br>
 				d) circulate or upload the files that contains viruses, debased files or programs that may 						damage the proper working of the website/mobile app. <br>
 				e) Break any code of conduct or rules, which may be relevant to any particular Service.</p><br>

				<h4><b>Our Disclaimer</b></h4>

				<p class="style_text">We advise you not to share your login credentials with anyone else or with anyone claiming to be from Docket. In case you happen to notice any sort of fault in our website/mobile app or system, we request you to inform us of the issue immediately. We do welcome your suggestions and advice. 
				While reporting the issue to us, please do share the proof, your identity and contact details, to help us improve the situation rapidly. Minor problems can be addressed in a very short time, whereas more complicated ones would take a while longer. We would therefore request for your patience as we deal with the problem. For any issues or doubts regarding the order/delivery, you are requested to check the order history and status and revert to us from your profile.</p><br>

				<h4><b>Software used in our Services</b></h4>
				<p class="style_text" class="style_text">Certain services that we offer may need  downloading of specific software. This software may automatically update on the device if a advanced version or feature is available. Some of our services will allow you to regulate your update settings on the device.<br>
				Docket provides you a secluded, non-debatable and unlimited license to access the software rendered to you by Docket for the use of our services. The above mentioned  license is meant only to  enable you to use the benefits offered by our services, in the same way as permitted by the given  terms and conditions. You are not to copy,alter, hand out, sell, or share any part of the services offered by Docket or comprising the software.You are not allowed to attempt and retrieve the software’s source code.<br></p>
 
				<h4><b>Pricing</b></h4>

				<p class="style_text" class="style_text">Our website/mobile app enables you to subscribe for the listed services given on the website/mobile app, at the price mentioned. However, our website/mobile app does not assure that the price mentioned will be the lowest in the city, state or geography. In the act any Service is listed at an incorrect price or with information that is untrue due to an error in pricing or product details, we hold the rights to cancel your order and notify you of such cancellation. The pricing is subject to Docket’s pricing policy and the prices will be determined by us. If we cancel an order due to certain valid reason after we have received the payment, the total amount will be refunded within 10 working days and you will be notified about the same. However, 2.5% of the total amount to be refunded is deducted for the payment gateway charges also the stamp duty will not be included in the total amount to be refunded.You can later claim the stamp duty charges from the revenue office.</p><br>

				<h4><b>Termination of our Services</b></h4>
				<p class="style_text" class="style_text">On a regular basis we change and improve our services. We have the power to extend or discard the operations or features, and we can discontinue or cease a service that we offer.
				Docket understands that you have sole rights on your files and data and safeguarding your access to such files and data is crucial. If we happen to stop a Service we offer,if rationally possible, we are sure to try and provide you sensible prior notice and an opportunity to get information out of that particular Service if found necessary in that situation.<br>
				You are allowed to stop using our services at any point of  time, while we would be glad to help you change your mind. Docket can also refrain from providing services, or extend or constitute new limits to the services rendered by us at any time.</p><br>


				<h4><b>Promotional codes or discount</b></h4>

				<p class="style_text">In extension to the below mentioned Terms of use, there are added terms and conditions applicable on specific offers, sales,discount which are offered by Docket.</p><br>

				<h4><b>Intellectual Property Rights</b></h4>

				<p class="style_text">It is clarified that you are solely responsible for the ownership and for any content that you upload when using any service, inclusive of text,  information, photographs, music, video or any other data.</p><br>

				<h4><b>Limitations</b></h4>

				<p class="style_text">Docket has taken the complete responsibility to ensure that all the data on the website/mobile app is true to it’s knowledge, but Docket neither confirms nor makes any representations related to the ideality, exactness of any information, Product or Service. Docket will not be held responsible for any act, be it,indirect, retaliative, consequent, special damages resulting from:<br>
				a) the inability to use the Products or services.<br>
 				b) unauthorised access to or changes made in the user's transmissions or data.<br>
 				c) any matter pertaining to services: including, without limitation, damages for loss of use, 					data or profits, arising out of or in any way connected with the use or performance of the 					  Website/mobile app or service.<br>
				Docket does not hold any responsibility for non-availability of the website/mobile app during the maintenance period nor does it hold any responsibility in case of  any unplanned suspension of the website/mobile app. The User acknowledges and accepts to agree on any material and/or data downloaded at website/mobile app is done entirely at the User’s free will and speculation and he/she will be answerable for any sort of loss to their mobile, desktop, laptop or any electronic devices used to access the website/mobile app and  deprivation of information which occurs due to downloading of such material and/or data. To the maximum extent that is permissible under law, Docket’s liability shall be limited to an amount equivalent to the Product/s ordered. Docket shall not be liable for any dispute or disagreement between Users.</p><br>

				<h4><b>Privacy and Copyright Protection</b></h4>
				<p class="style_text">Docket privacy policies explain how we treat your personal data and protect your privacy when you use our services. By using our services, you agree that docket can use such data in accordance with our privacy policies.<br>
				We respond to notices of alleged copyright infringement and terminate accounts of repeat infringers according to the process set out in the U.S. Digital Millennium Copyright Act.
				We provide information to help copyright holders manage their intellectual property online. If you think somebody is violating your copyrights and want to notify us, you can find information about submitting notices and docket policy about responding to notices in our Help Center.</p><br>


				<h4><b>Indemnification</b></h4>

				<p class="style_text">You agree to indemnify, defend and hold harmless Docket and all its employees, investors, directors, consultants, vendors, sponsors or anyone connected in any way with Docket, from and against any and all losses, liabilities, claims, damages, costs and expenses asserted against or incurred by Docket that arise out of, result from, or may be payable by virtue of, any breach of any representation, warranty, covenant or agreement made or obligation to be performed by you pursuant to these Terms and Conditions.</p>

			</div>
		</div>
	</div>
</div>
</div>
