<div class="container-fluid terms_condition_bg">
	<%= render 'home_static/top_navbar_fixed' %>
	<div class="row clearfix content_style">
		<div class="col-md-12">
			<h1 class="terms_head">Docket Terms<br> and Conditions</h1>
		</div>
	</div>
</div>
<div class="container-fluid terms_condition_content">
	<div class="row clearfix section_content_padd">
		<div class="col-md-12">
			<ul class="content_list">
				<li>
					Docket is a platform which allows you to place an order for documents online with the added convenience of tracking different stages of your order.
				</li>
				<li>
					To maintain transparency in our services and provide confidence to the customer, one can keep a track on the status of the documentation process as well as information regarding the time of delivery, delivery person and the co-ordinating expert (Advocate/CA/CS) on the website/mobile app itself.
				</li>
				<li>
					 Only genuine information and copies of the original documents/images are expected to be uploaded and stored in DVault. Docket will not be held responsible for or held liable in any way for what type or kind of document is stored. Any document or file uploaded by the user if found irrelavant by Docket, such document/ file will be deleted permanently from our database.
				</li>
				<li>
					DVault only supports the following formats, for documents - PDF, doc and docx and for images - PNG, JPEG and JPG.
				</li>
				<li>
					If the given details (personal) are found to be incorrect or inaccurate, fraudulent or deceptive in any way then Docket reserves the right to discard the account and shall not be liable for any legal consequences.
				</li>
				<li>
					Docket reserves the right to modify or enforce the Terms and Conditions whenever the situation demands and these Terms and Conditions are subject to change without notice. However, please note that the Terms and Conditions that are stated at the time of the transaction are applicable.
				</li>
				<li>
					Upon cancellation of the order, the Terms and Conditions mentioned under the Cancellation and Refund policy are applicable.
				</li>
			</ul>
		</div>
	</div>
</div>
