<div class="footer" id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <ul class="list_left">
                    <a href="/about-us" title=""><li>About</li></a>
                    <a href="/contact-us" title=""><li>Contact</li></a>
                    <a href="/team" title=""><li>Team</li></a>
                    <a href="/partner-with-us" title=""><li>Partner with us</li></a>
                </ul>
            </div>
            <div class="col-md-4">
                <p class="text-center">DOCKET TECH SOLUTIONS PVT. LTD. 2015. All rights reserved</p>
            </div>
            <div class="col-md-4">
                <ul class="list-right">
                    <a href="/helpcenter" title=""><li>Help</li></a>
                    <a href="/privacy" title=""><li>Privacy</li></a>
                    <a href="/terms" title=""><li>Terms</li></a>
                    <a href="/disclaimer" title=""><li>Disclaimer</li></a>
                </ul>
            </div>
        </div>
    </div>
</div>