<% if @site_state != 'home' %>
    <nav class="navbar navbar-default nav_home navbar-fixed-top navbar_other" role="navigation" id="header">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse nav_links">
                <ul class="nav navbar-nav nav_left">
                    <a class="navbar-brand" href="/"><%= image_tag 'new_images/logo2.png', :class => "logo_nav" %></a>
                    <!-- <li><a href="#">080 - 46564656</a></li> -->
                    <!-- <li><a href="#">Link</a></li> -->
                </ul>
                <ul class="nav navbar-nav navbar-right nav_right">
                        <li data-toggle="modal" data-target="#trackModal"><a href="#"><div class="track_icon"></div> Track</a></li>
                    <% if !current_user %>
                        <li data-toggle="modal" data-target="#loginmodal"><a href="#"><div class="order_icon"></div> Orders</a></li>
                        <!-- <li><a href="#"><div class="wallet_icon"></div> Wallet</a></li> -->
                        <li data-toggle="modal" data-target="#loginmodal"><a href="#"><div class="vault_icon"></div> DVault</a></li>
                        <li data-toggle="modal" data-target="#loginmodal"><a href="#"><div class="account_icon"></div> Account</a></li>
                    <% else %>
                        <li ><a href="/orders"><div class="order_icon"></div> Orders</a></li>
                        <!-- <li><a href="#"><div class="wallet_icon"></div> Wallet</a></li> -->
                        <li><a href="/dlogin"><div class="vault_icon"></div>DVault</a></li>
                        <li><a href="/profile"><div class="account_icon"></div> Account</a></li>
                    <% end %>
                    <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
<% else %>
    <div class="text_wrap text-center">
        <h5>Currently our services are available only in Karnataka</h5>
        <div class="close">X</div>
    </div>
    <nav class="navbar navbar-default nav_homes home_header" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="/"><%#= image_tag 'new_images/logo.png', :class => "header_img" %></a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse nav_links">
                <ul class="nav navbar-nav nav_left">
                    <a class="navbar-brand" href="/"><%= image_tag 'new_images/logo.png', :class => "header_img" %>
                </ul>
                <!-- <ul class="nav navbar-nav nav_left">
                    <li><a href="#">080 - 46564656</a></li><br>
                    <hr class="link_hr">
                    <li class="line_style"><a href="#">support@dockettech.com</a></li>
                </ul> -->
                <ul class="nav navbar-nav navbar-right nav_right">
                        <li data-toggle="modal" data-target="#trackModal"><a href="#"><div class="track_icon"></div> Track</a></li>
                    <% if !current_user %>
                        <li data-toggle="modal" data-target="#loginmodal"><a href="#"><div class="order_icon"></div> Orders</a></li>
                        <!-- <li><a href="#"><div class="wallet_icon"></div> Wallet</a></li> -->
                        <li data-toggle="modal" data-target="#loginmodal"><a href="#"><div class="vault_icon"></div> DVault</a></li>
                        <li data-toggle="modal" data-target="#loginmodal"><a href="#"><div class="account_icon"></div> Account</a></li>
                    <% else %>
                        <li ><a href="/orders"><div class="order_icon"></div> Orders</a></li>
                        <!-- <li><a href="#"><div class="wallet_icon"></div> Wallet</a></li> -->
                        <li><a href="/dlogin"><div class="vault_icon"></div> DVault</a></li>
                        <li><a href="/profile"><div class="account_icon"></div> Account</a></li>
                    <% end %>
                    <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
<% end %>
<div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center" role="document">
        <div class="modal-content login_content">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">X</button>
              <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 logo_bg">
                        <a href="/"><%= image_tag 'new_images/login_logo.png', :class => "modal_logo" %></a>
                        <h4 class="main_txt">Why Sign up ?</h4>
                        <hr class="modal_hr">
                        <ul class="list_wrap">
                            <li><i class="fa fa-circle" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Create Documents</li>
                            <li><i class="fa fa-circle" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Track Orders</li>
                            <li><i class="fa fa-circle" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Store Files</li>
                        </ul>
                    </div>
                    <div class="col-md-7">
                        
                        <div class="login_wrap">
                            <%= form_tag({:controller => "home", :action => "user_login"}, :method => "post", :class => "login_form") do %>
                                <h4><%= image_tag 'new_images/arrow.png', :class => "arrow_img" %>&nbsp;&nbsp;&nbsp; Login with Email</h4>
                                <div class="form-group">
                                    <%= text_field_tag :email, nil, placeholder: 'Email', :class => " login-email input_style" %>
                                </div>
                                <div class="otp_wrap" style="display:none;">  
                                    <p>Please enter the One Time Password(OTP)<br>that has been sent to your mobile number</p> 
                                    <div class="form-group">
                                        <input type="text" name="otp" class="input_style" placeholder="Enter OTP">     
                                    </div>
                                    <%= submit_tag("LOGIN") %>
                                    <p class="login_hint">Didn't receive the One Time Password(OTP) on your phone?<span class="color_txt otp_send">Click here</span> to resend</p>
                                </div>
                            <% end %>
                            <button type="button" style='display:none' class="btn btn-default otp_btn otp_send">Get OTP</button>
                            <div class="signup_txt">
                                <hr class="signup_hr">
                                New to docket ? <span class="signup">Sign Up</span>
                            </div> 
                            <!-- <button type="button" class="btn btn-default signup">Sign Up</button> -->
                        </div>
                        <div class="signup_wrap" style="display:none;">
                            <%= flash[:notice] if flash[:notice] %>
                            <%= form_tag({:controller => "home", :action => "user_signup"}, :method => "post", :class => "signup_form") do |f| %>
                                <h4><%= image_tag 'new_images/arrow.png', :class => "arrow_signup" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sign Up</h4>
                                <div class="form-group">
                                    <%= text_field_tag 'user[full_name]', nil, placeholder: 'Full Name', :class => "input_styles signup-name", required: true %>
                                </div>
                                <div class="form-group">
                                    <%= email_field_tag 'user[email]', nil, placeholder: 'Email', :class => "input_styles signup-email", required: true  %>
                                </div>   
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="list_country">
                                              <input type="text" list="countries" name='phone_code' class="keyup-numeric" placeholder='91' maxlength="4" id="code" value='91' required/>
                                                <datalist id="countries">
                                                    <!-- <select name="country_id" id="" required> -->
                                                      <% @countries.each do |country| %>
                                                        <option value="<%= country.phone_code %>"><%= country.name %></option>
                                                      <% end %>
                                                    <!-- </select> -->
                                                </datalist>
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <%= text_field_tag 'user[phone]', nil, placeholder: 'Phone', :class => "input_styles signup-phone", required: true  %>
                                        </div>
                                    </div>
                                </div>  
                                  <div class="box"> 
                                    <%= submit_tag("Signup") %>
                                  </div>
                                  <div class="logon_txt">
                                        <hr class="logon_hr">
                                      Already have a Docket Account ? <span class="login">Login</span>
                                  </div>
                                  <!-- <button type="button" class="btn btn-default login">Login</button> -->
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
          </div>
        </div>
      </div>
</div>
<%= render 'layouts/track' %>
<script>
  $(document).ready(function(){
    $('.login-email').on('change', function(){
        $('.otp_btn').show();
    })
    $('.otp_send').on('click', function(e) {
      e.preventDefault();
      e.stopPropagation();
      $.ajax({
        type: 'post',
        url: '/login_otp',
        data: $('.login_form').serialize()
      }).done(function (data, textStatus, jqXHR) {
        // $('.forgot_wrapper .send_otp').hide();
        // $('.forgot_wrapper .verify-otp').show();
        setNotification('success', 'Otp Sent to your Mobile');
      }).fail(function (jqXHR, textStatus, errorThrown) {
        setNotification('error', 'Invalid Email. Try Again');
        $('.otp_wrap').hide();
      });
    });
    $('.login_form').on('submit', function(e) {
      e.preventDefault();
      e.stopPropagation();
      $.ajax({
        type: 'post',
        url: '/user_login',
        data: $('.login_form').serialize()
      }).done(function (data, textStatus, jqXHR) {
        window.location.href = '/';
        // $('.verify-mobile').hide();
        // setNotification('success', 'Mobile Number Verified');
        // $('#myModal4').modal('hide');
      }).fail(function (jqXHR, textStatus, errorThrown) {
        setNotification('error', 'Invalid OTP. Try Again');
      });
    });
  })

$("body").keydown(function(event) {
        // toggles element the first time
    if(event.ctrlKey && event.which === letter.z) {
        $("[data-location='top']").toggle("fast");
        $("[data-location='bottom']").toggle("fast");
    }
});

$('#loginmodal').modal({
    backdrop: 'static',
    keyboard: true,
    show:false
})

$('.close').on('click', function(){
    $('.text_wrap').hide();
})

if (typeof(Storage) !== "undefined") {
    if(localStorage.current_city == 'true'){
        $('.text_wrap').hide();
    }
    else{
        localStorage.setItem("current_city", true);
    }
} 

</script>
