<div class="row clearfix footer_bg">
	<div class="summary">
		<p class="job_head">DOCUMENT EXPERTS AT YOUR SERVICE</p>
		<p class="style_text ">
			India’s very first and one of a kind online service is here for Companies and organizations, individuals or just about anybody who is looking for a solution to their documentation needs. We are at your service to solve all your documentation requirements. A wide range of documents have been categorized and further divided into subcategories, based on the entire lifecycle of any individual in general. These categories are primarily made to facilitate the user to easily understand, identify and choose from the given options in double quick time. Keeping an account of any individual’s day-to-day document needs, we have furnished a solution that will make the process of placing the order as simple as possible and increase the quality and value of the user experience. This fast, easy, flexible and reliable solution is right here, to serve your documentation needs and issues anytime, anywhere.<br>
			<br>
			From now on, you do not have to endure the tedious process of moving out of your comfort zone and wasting valuable time in seemingly never-ending queues just to get your documents prepared. Docket - easy to order, easy to use, easy to track. Payments are to be made in stages as and when required, mid-process. A clear detailed notification of every stage during the process will be sent to you to keep you informed of the exact status of your document. Great care will be taken to deliver your documents on time. In case you require an express delivery we do have provisions to help you opt for faster delivery services. As we are thoroughly aware of your needs we make sure we are at your service 24/7, catering to all your queries and problems. We guide you on how to maximise the use of our services and take it upon ourselves to keep this kind of stress out of your lives. We maintain transparency and ensure that high security and confidentiality are maintained. For comprehensive activities and detailed procedural explanations please refer to our website. Do reach out to us and avail of the convenience of experiencing the most secure and hassle-free services that gets your job done in a matter of hours. 
				</p>
	</div>	
	<hr class="seconlasthr">	
	<div class="section-padd">
		<!-- <h4 class="text-center footertext"> DOCKET STATUS : 3500 DOCUMENTS DELIVERED TILL NOW / 500 STARTUPS REGISTERED SO FAR</h4> -->
		<div class="col-md-3">
			<ul class="list_wrapper">
				<p class="txt-head">Docket</p>
				<a href="/"><li>Home</li></a>
				<a href="/about"><li>About</li></a>
				<a href="/careers"><li>Careers</li></a>
				<a href="/press"><li>Press</li></a> 
				<a href="/blog"><li>Blog</li></a> 
				<a href="/testimonial"><li>Testmonials</li></a>
				<a href="/contact"><li>Contact</li></a>
			</ul>
		</div>
		<div class="col-md-3 pull-left">
			<ul class="list_wrapper">
				<p class="txt-head">Services</p>
				<a href="/services_checklist"><li>Checklist</li></a>
				<a href="/services_dashboard"><li>Dashboard</li></a>
				<a href="/services_dvault"><li>DVault</li></a>
				<p class="txt-head">Support</p>
				<a href="/help"><li>Help Center & FAQ's</li></a>
				<a href="/feedback"><li>Feedback</li></a>
			</ul>
		</div>
		<div class="col-md-3 pull-left">
			<ul class="list_wrapper">
				<p class="txt-head">Legal</p>
				<a href="/terms_of_use"><li>Terms of Use</li></a>
				<a href="/privacy"><li>Privacy Policy</li></a>
				<a href="/terms"><li>Terms & conditions</li></a>
				<p class="txt-head">Join Us</p>
				<a href="/partner_with_us"><li>Become a Partner</li></a>
				<a href="/freelancer"><li>Become a Freelancer</li></a>
			</ul>	
		</div>
		<div class="col-md-3 pull-left">
			<ul class="list_wrapper">
				<p class="txt-head">Follow Us</p>
			
			<div class="social">
				<a href="https://plus.google.com/u/1/b/115856146323341081179/+DocketTechSolutionsPrivateLimitedBengaluru"><%= image_tag 'social/googlef.png', :style => "width: 35px; height:35px;" %></a>
				<a href="https://twitter.com/dockettech"><%= image_tag 'social/twitter.png', :style => "width: 35px; height:35px;" %></a>
				<a href="https://www.facebook.com/Docket-Tech-Solutions-Private-Limited-1502745856719086/"><%= image_tag 'social/facebook.png', :style => "width: 35px; height:35px;" %></a>
				
			</div>	
			<div class="social">
				<a href="https://www.linkedin.com/company/docket-tech-solutions"><%= image_tag 'social/linkedin.png', :style => "width: 35px; height:35px;" %></a>
				<a href="https://www.pinterest.com/dockettech/"><%= image_tag 'social/pinterest.png', :style => "width: 35px; height:35px;" %></a>
				<a href="https://www.youtube.com/channel/UC-I6hSxEtmPYzIP9Xm_FH6A"><%= image_tag 'social/youtube.png', :style => "width: 35px; height:35px;" %></a>
			</div></ul>
		</div> 
	</div></a>
	<hr class="lasthr">
	<p class="text-center p_style"> @2015-16 DOCKET TECH SOLUTIONS PRIVATE LIMITED. ALL RIGHTS RESERVED. MADE IN INDIA.
	</p>
</div>
