<header>
	<nav>
		<div class="nav-left">
			<div class="logo">
				<a href="/">
					<%= image_tag 'logo.png' %> <span class="beta">Beta</span>
					<!-- <div class="logo"><span class="letters">D</span>ock<span class='letters'>et</span></div> -->
				</a>
			</div>

		</div>
		<div class="nav-right">
			<% if current_user %>
				<ul class=" navbar-nav navbar-right navbar-user profile">
	            	<li class="dropdown user-dropdown">
	                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @current_user.name.split(' ').first %><b class="caret"></b></a>
	                  <ul class="dropdown-menu">
	                      <li><a href="/profile"><i class="fa fa-user"></i>Edit Profile</a></li>
	                      <li><a href="/user/dashboard"><i class="fa fa-gear"></i>Orders</a></li>
	                      <!-- <li><a href="/help"><i class="fa fa-gear"></i>Help</a></li> -->
	                      <li><a href="/signout"><i class="fa fa-power-off"></i> Log Out</a></li>
	                  </ul>
	            	</li>
	            	<li class="divider-vertical"></li>
	        	</ul>
			<% else %>
				<li id="request-call" data-toggle="modal" data-target="#call-request-overlay">Request a Call</li>
				<a href="/login"><li style="margin-right:10px;" class="login">Login</li></a>
				<a href="/signup"><li class="signup">Signup</li></a>
			<% end %>
		</div>
	</nav>
</header>