<div  id="startchange">
	<!-- <div class="container-fluid docket_home"  data-type="background" data-speed="10">
		<div class="row clearfix center-block">
			<div class="col-md-12 docket_home_bg">
				<div class="docket_box">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="595.28px" height="531.326px" viewBox="0 0 595.28 531.326" enable-background="new 0 0 595.28 531.326" xml:space="preserve">
						<path class="path" fill="none" stroke="#3477A6" stroke-miterlimit="10" d="M582.773,382.182c0,14.85-12.038,26.885-26.882,26.885H40.617
							c-14.849,0-26.884-12.035-26.884-26.885V52.638c0-14.849,12.035-26.884,26.884-26.884h515.275c14.844,0,26.882,12.035,26.882,26.884
							V382.182z"/>
						<line  class="path" fill="none" stroke="#3477A6" stroke-miterlimit="10" x1="175.449" y1="409.219" x2="141.765" y2="515.762"/>
						<line  class="path" fill="none" stroke="#3477A6" stroke-miterlimit="10" x1="422.5" y1="409.053" x2="456.32" y2="516.553"/>
						<path class="path" fill="none" stroke="#3477A6" stroke-miterlimit="10" d="M210.525,24.97c0,0,0.03-13.442,13.44-13.442
							c13.411,0,147.968,0,152.523,0c4.557,0,13.441,3.517,13.441,13.442"/>
					</svg>
					<h1 class="text-center docket_head css-typings">What is Docket</h1>
					<p class="docket_para css-typing"></p>
				</div>
			</div>
		</div>
	</div> -->
	<div class="container-fluid screen_bg"  data-type="background" data-speed="10">
		<div class="row clearfix screen_padd">
			<div class="col-md-12">
				<h1 class="text-center service_head">we customize and deliver <span class="service_head_color">DOCUMENTS AT YOUR DOORSTEP</span></h1>
			</div>
		</div>
		<div class="row clearfix center-block image_padd">
			<div class="col-md-12">
				<%= image_tag 'mobile_bg.png', :class => "mobile_bg" %>
			
				<%= image_tag 'laptop_bg.png', :class => "laptop_bg" %>
			
				<%= image_tag 'tablet_bg.png', :class => "tablet_bg" %>
			</div>
		</div>
		
	</div>
	<div class="container-fluid how_it_works_wrapper">
		<div class="row clearfix work_style">
			<h1 class="text-center">Its simple and elegant</h1>
			<div class="icon_style">
				<div class="img_wrapper">
					<%= image_tag 'how_it_works/search.png' %>
					<b><p class="text-center">1. Search</p></b>
				</div>	
				<div class="img_wrapper">
					<%= image_tag 'how_it_works/pay.png' %>
					<b><p class="text-center">2. Pay</p></b>
				</div>
				<div class="img_wrapper">
					<%= image_tag 'how_it_works/draft.png' %>
					<b><p class="text-center">3. Draft</p></b>
				</div>
				<div class="img_wrapper">
					<%= image_tag 'how_it_works/verification.png' %>
					<b><p class="text-center">4. Verification</p></b>
				</div>
				<div class="img_wrapper">
					<%= image_tag 'how_it_works/delivery.png' %>
					<b><p class="text-center">5. Delivery</p></b>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid app_bg">
		<div class="row clearfix">
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="text_wrapper">
					<h2 class="app_head">Service at your finger tips</h2>
					<h4 class="app_subhead">Download our app from Google Play and App Store</h4>
					<a href="https://play.google.com/store/apps/details?id=com.docket" title="Docket android app", target="_blank"><%= image_tag 'google_play.png' %></a>
					<a href="https://appsto.re/in/sSvqab.i" title="Docket iOS app", target="_blank"><%= image_tag 'appstore.png' %></a>
				</div>
			</div>
			<div class="col-md-6 app_padd col-sm-12 col-xs-12">
				<svg class="path_svg"version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 		width="595.28px" height="514px" viewBox="0 0 595.28 514" enable-background="new 0 0 595.28 514" xml:space="preserve">
					<g class="path_svg">
						<path class="path_svg" fill="none" stroke="#F2EBEB" stroke-miterlimit="10" d="M353.953,471.564c0,15.339-12.433,27.77-27.768,27.77H107.434
							c-15.335,0-27.767-12.431-27.767-27.77V47.1c0-15.334,12.432-27.767,27.767-27.767h218.752c15.335,0,27.768,12.432,27.768,27.767
							V471.564z"/>
						<rect class="path_svg" x="99.259" y="69.564" fill="none" stroke="#F2EBEB" stroke-miterlimit="10" width="235.103" height="382.096"/>
						<path class="path_svg" fill="none" stroke="#F2EBEB" stroke-miterlimit="10" d="M248.537,473.648c0,5.197-4.215,9.413-9.414,9.413h-47.075
							c-5.199,0-9.415-4.216-9.415-9.413l0,0c0-5.2,4.216-9.417,9.415-9.417h47.075C244.322,464.231,248.537,468.448,248.537,473.648
							L248.537,473.648z"/>
						<path class="path_svg" fill="none" stroke="#F2EBEB" stroke-miterlimit="10" d="M428.592,449.457c0,4.462-3.619,8.08-8.082,8.08h-40.411
							c-4.463,0-8.082-3.618-8.082-8.08l0,0c0-4.465,3.619-8.083,8.082-8.083h40.411C424.973,441.374,428.592,444.992,428.592,449.457
							L428.592,449.457z"/>
						<path class="path_svg" fill="none" stroke="#F2EBEB" stroke-miterlimit="10" d="M247.341,34.903c0,2.702-2.192,4.897-4.898,4.897h-55.51
							c-2.704,0-4.898-2.195-4.898-4.897l0,0c0-2.708,2.194-4.898,4.898-4.898h55.51C245.148,30.004,247.341,32.195,247.341,34.903
							L247.341,34.903z"/>
						<circle class="path_svg" fill="none" stroke="#F2EBEB" stroke-miterlimit="10" cx="215.398" cy="52.529" r="7.158"/>
						<path class="path_svg" fill="none" stroke="#F2EBEB" stroke-miterlimit="10" d="M428.675,60.15c0,2.34-1.899,4.241-4.241,4.241H376.37
							c-2.342,0-4.24-1.901-4.24-4.241l0,0c0-2.344,1.898-4.241,4.24-4.241h48.063C426.775,55.909,428.675,57.806,428.675,60.15
							L428.675,60.15z"/>
						<circle class="path_svg" fill="none" stroke="#F2EBEB" stroke-miterlimit="10" cx="401.018" cy="75.412" r="6.197"/>
						<path class="path_svg" fill="none" stroke="#F2EBEB" stroke-miterlimit="10" d="M353.571,49.047c0,0,127.237,0,140.19,0
							c12.952,0,26.666,6.857,26.666,25.905c0,19.048,0,371.809,0,379.429c0,7.618-3.809,20.571-20.57,20.571
							c-16.763,0-147.81,0-147.81,0"/>
						<polyline class="path_svg" fill="none" stroke="#F2EBEB" stroke-miterlimit="10" points="354.682,93.999 505.19,93.999 505.19,432.285 
							354.715,432.285 	"/>
					</g>
					<path class="path_svg" fill="#F6F6F6" d="M246.531,244.636c-3.23-16.274,12.23-25.845,12.23-25.845s-6.041-8.708-16.151-10.945
						c-10.109-2.25-15.189,0.542-20.241,2.663c-5.058,2.096-7.569,2.096-7.569,2.096c-7.33,0-12.65-7.721-26.558-4.217
						c-9.595,2.441-19.683,13.488-21.508,26.702c-1.824,13.221,2.121,30.062,9.69,43.124c7.602,13.075,15.313,18.007,20.787,18.124
						c5.505,0.154,10.979-3.921,17.588-4.9c6.583-0.986,10.648,2.392,17.134,4.216c6.461,1.819,8.704,0.124,16.151-6.188
						c7.446-6.338,14.203-24.461,14.203-24.461S249.762,260.936,246.531,244.636L246.531,244.636z M246.531,244.636"/>
					<path class="path_svg" fill="#F6F6F6" d="M232.205,197.289c7.176-7.295,4.734-18.614,4.734-18.614s-10.061,1.772-16.82,8.772
						c-6.729,7.034-5.615,18.13-5.615,18.13S225.029,204.588,232.205,197.289L232.205,197.289z M232.205,197.289"/>
					<g class="path_svg">
						<path class="path_svg" fill="#F6F6F6" d="M393.799,232.887h-0.192c-2.533,0-4.585,2.07-4.585,4.585v19.964c0,2.516,2.052,4.585,4.585,4.585h0.192
							c2.531,0,4.584-2.069,4.584-4.585v-19.964C398.383,234.957,396.314,232.887,393.799,232.887L393.799,232.887z M393.799,232.887"/>
						<path class="path_svg" fill="#F6F6F6" d="M400.579,265.13c0,2.323,1.892,4.2,4.22,4.2h4.501v10.788c0,2.533,2.052,4.585,4.589,4.585h0.188
							c2.536,0,4.589-2.066,4.589-4.585V269.33h6.297v10.788c0,2.533,2.069,4.585,4.585,4.585h0.192c2.533,0,4.585-2.066,4.585-4.585
							V269.33h4.506c2.309,0,4.216-1.877,4.216-4.2v-31.503h-42.468V265.13z M400.579,265.13"/>
						<path class="path_svg" fill="#F6F6F6" d="M432.387,214.515l3.574-5.528c0.225-0.337,0.128-0.818-0.225-1.042c-0.353-0.243-0.816-0.145-1.041,0.224
							l-3.719,5.705c-2.775-1.136-5.885-1.777-9.155-1.777c-3.288,0-6.394,0.641-9.17,1.777l-3.704-5.705
							c-0.223-0.369-0.702-0.467-1.055-0.224c-0.353,0.224-0.452,0.705-0.226,1.042l3.573,5.528c-6.441,3.158-10.806,9.122-10.806,15.951
							c0,0.419,0.033,0.834,0.065,1.253h42.628c0.032-0.419,0.064-0.834,0.064-1.253C443.192,223.637,438.831,217.673,432.387,214.515
							L432.387,214.515z M411.932,224.393c-1.138,0-2.053-0.916-2.053-2.052c0-1.141,0.915-2.036,2.053-2.036
							c1.136,0,2.052,0.896,2.052,2.036C413.983,223.477,413.067,224.393,411.932,224.393L411.932,224.393z M431.696,224.393
							c-1.137,0-2.052-0.916-2.052-2.052c0-1.141,0.915-2.036,2.052-2.036c1.14,0,2.052,0.896,2.052,2.036
							C433.748,223.477,432.836,224.393,431.696,224.393L431.696,224.393z M431.696,224.393"/>
						<path c class="path_svg"lass="path_svg" fill="#F6F6F6" d="M450.021,232.887h-0.192c-2.533,0-4.585,2.07-4.585,4.585v19.964c0,2.516,2.066,4.585,4.585,4.585h0.192
							c2.532,0,4.585-2.069,4.585-4.585v-19.964C454.606,234.957,452.537,232.887,450.021,232.887L450.021,232.887z M450.021,232.887"/>
					</g>
				</svg>
			</div>
		</div>
	</div>
</div>

<a href="#toBottom" class="toBottom">
	<i class="fa fa-arrow-circle-up"></i>
</a>
<a name="toBottom"></a>
