<div id="offerModal" class="modal fade offer_Modal modal_img" tabindex="-1" role="dialog">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <!-- Modal content-->
      <div class="modal-content offer_body">
        <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal" onclick="closeModal()">X</button>
        <div class="modal-body track_modal">
          <div class="row text-center head_text">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
                <!-- <li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
                <!-- <li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <%= image_tag 'new_home_page/Info.jpg', :style => "" %> 
                  <a href="/contact-us"><button type="button" class="btn btn-default know_more-company">Enquiry</button></a>
                </div>
                <div class="item">
                  <%= image_tag 'new_home_page/DIR_KYC_NEW.jpg', :style => "" %> 
                  <a href="/contact-us"><button type="button" class="btn btn-default know_more-llp">Enquire</button></a>
                </div>
               <!--  <div class="item">
                  <%= image_tag 'new_home_page/llp_offer.jpg', :style => "" %> 
                  <a href="/contact-us"><button type="button" class="btn btn-default know_more-llp">Enquire</button></a>
                </div>
                <div class="item">
                  <%= image_tag 'new_home_page/registration_free_offer.jpg', :style => "" %> 
                  <a href="/contact-us"><button type="button" class="btn btn-default know_more-company">Enquiry</button></a>
                </div> -->
                <!--<div class="item">
                  <%= image_tag 'new_home_page/furlenco_offer.png', :style => "" %>
                  <a target='_blank' href="https://docs.google.com/forms/d/e/1FAIpQLSfGZRDmXDHVtgPMOl7blb8iowszFQIPO8ezFyxpRmuDsWda-A/viewform"><button type="button" class="btn btn-default know_more offer-button">Know More</button></a>
                </div>-->
                <!-- <div class="item">
                  <%#= image_tag 'new_home_page/offer.png', :style => "" %> 
                  <a href="/know_more"><button type="button" class="btn btn-default know_more">Know More</button></a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(window).load(function(){
      if (window.sessionStorage['offer-popup'] == 'false'){
        $('.offer_Modal').modal('show');
        window.sessionStorage['offer-popup'] = 'true';
      }
      if (window.sessionStorage['offer-popup'] == null){
        $('.offer_Modal').modal('show');
        window.sessionStorage['offer-popup'] = 'true';
      }
    });
    $('.icici_offer').on('click', function(){
        $('.offer_Modal').modal('show');
    });
</script>

