<script>
<% if !current_user %>
  window.intercomSettings = {
    app_id: "hko9cdmh"
  };
<% else %>
  window.intercomSettings = {
    app_id: "hko9cdmh",
    name: "<%= @current_user.name %>", // Full name
    email: "<%= @current_user.email %>", // Email address
    created_at: <%= @current_user.created_at.to_time.to_i %> // Signup date as a Unix timestamp
  };
<% end %>
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/hko9cdmh';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
</script>