<div class="container-fluid bg-color">
	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content modal_style">
				<div class="modal-body">
					<div class="row clearfix login_style">
						<div class="col-md-offset-4 col-md-4  col-md-offset-4 login-bg">
							<%= flash[:notice] if flash[:notice] %>
							<%= form_tag({:controller => "home", :action => "user_login"}, :method => "post", :class => "login-form") do %>
								<div class="login login-form">
									<div class="login__form">
										<span><h1 class="close-form" data-dismiss="modal">X</h1></span>
										<h2 class="log-color">LOGIN</h2>
										<div class="login__row">
											<svg class="login__icon name svg-icon" viewBox="0 0 10 10">
												<g>
													<g>
														<path fill="#231F20" d="M4.809,9.053c-0.807,0-2.727-0.039-3.142-0.39c-0.724-0.61-0.237-1.621-0.028-2.051
															c0.169-0.354,1.566-1.241,2.578-1.64l0.078-0.031L5,6.02l0.709-1.083h0.076l0.018,0.006c1.031,0.395,2.438,1.31,2.65,1.658
															c0.139,0.225,0.241,0.622,0.26,1.012c0.014,0.27-0.004,0.767-0.273,1.042C8.396,8.702,8.258,8.844,7.13,8.952
															C6.473,9.017,5.625,9.053,4.809,9.053z M4.213,5.2c-1.06,0.436-2.266,1.254-2.386,1.503c-0.187,0.388-0.625,1.295-0.026,1.8
															c0.245,0.206,1.427,0.341,3.008,0.341c1.859,0,3.327-0.177,3.48-0.334C8.647,8.139,8.5,7.076,8.275,6.711
															C8.106,6.438,6.82,5.577,5.809,5.17L5,6.402L4.213,5.2z"/>
													</g>
													<g>
														<path fill="#231F20" d="M5,5.045c-0.897,0-1.629-0.918-1.629-2.048c0-1.129,0.732-2.05,1.629-2.05c0.9,0,1.63,0.92,1.63,2.05
															C6.63,4.127,5.9,5.045,5,5.045z M5,1.158c-0.782,0-1.418,0.825-1.418,1.839c0,1.015,0.636,1.839,1.418,1.839
															c0.784,0,1.421-0.825,1.421-1.839C6.421,1.983,5.784,1.158,5,1.158z"/>
													</g>
												</g>
											</svg>
										  	<input type="text" class="login__input name" placeholder="Username" maxlength="30" name="email" id="user" required/>
										</div>
										<div class="login__row">
											<svg class="login__icon pass svg-icon" viewBox="0 0 10 10">
												<g>
													<g>
														<path fill="#231F20" d="M-57.946,2.053c-0.807,0-2.727-0.039-3.142-0.39c-0.724-0.61-0.237-1.621-0.028-2.051
															c0.169-0.354,1.566-1.241,2.578-1.64l0.078-0.031l0.706,1.078l0.709-1.083h0.076l0.018,0.006c1.031,0.395,2.438,1.31,2.65,1.658
															c0.139,0.225,0.241,0.622,0.26,1.012c0.014,0.27-0.004,0.767-0.273,1.042c-0.044,0.047-0.182,0.188-1.31,0.297
															C-56.282,2.017-57.13,2.053-57.946,2.053z M-58.542-1.8c-1.06,0.436-2.266,1.254-2.386,1.503c-0.187,0.388-0.625,1.295-0.026,1.8
															c0.245,0.206,1.427,0.341,3.008,0.341c1.859,0,3.327-0.177,3.48-0.334c0.358-0.371,0.211-1.434-0.014-1.799
															c-0.169-0.272-1.455-1.134-2.467-1.541l-0.809,1.232L-58.542-1.8z"/>
													</g>
													<g>
														<path fill="#231F20" d="M-57.755-1.955c-0.897,0-1.629-0.918-1.629-2.048c0-1.129,0.732-2.05,1.629-2.05
															c0.9,0,1.63,0.92,1.63,2.05C-56.125-2.873-56.855-1.955-57.755-1.955z M-57.755-5.842c-0.782,0-1.418,0.825-1.418,1.839
															c0,1.015,0.636,1.839,1.418,1.839c0.784,0,1.421-0.825,1.421-1.839C-56.334-5.017-56.971-5.842-57.755-5.842z"/>
													</g>
												</g>
												<g>
													<path fill="#414042" d="M-369.025-144.308c-8.838-7.984-30.168-14.808-63.428-20.307v-65.42
														c0-77.723-63.715-140.962-141.999-140.962c-78.32,0-142.042,63.239-142.042,140.962v65.42
														c-33.274,5.499-54.606,12.323-63.437,20.307c-22.286,20.148-51.055,85.233-41.182,116.329
														c10.772,33.967,55.159,83.889,131.923,148.361c56.779,47.688,111.179,86.135,111.715,86.51l3.002,2.111l2.991-2.111
														c0.545-0.375,54.947-38.822,111.729-86.51C-382.982,55.91-338.597,5.988-327.827-27.979
														C-317.957-59.07-346.746-124.152-369.025-144.308z M-337.75-31.127c-22.852,72.002-210.574,208.606-236.721,227.363
														c-26.141-18.757-213.888-155.361-236.723-227.363c-7.912-25.016,16.765-86.015,38.262-105.444
														c7.462-6.755,29.651-13.309,62.448-18.449l4.396-0.694v-74.321c0-71.985,59.045-130.54,131.635-130.54
														c72.552,0,131.577,58.555,131.577,130.54v74.321l4.424,0.694c32.789,5.14,54.966,11.694,62.436,18.449
														C-354.514-117.142-329.829-56.131-337.75-31.127z"/>
													<path fill="#414042" d="M-574.471-71.498c-25.385,0-46.029,20.49-46.029,45.694c0,17.516,9.906,33.205,25.512,40.901V63.35
														c0,10.246,8.385,18.588,18.692,18.588h3.657c10.31,0,18.692-8.342,18.692-18.588V15.098c15.599-7.696,25.504-23.386,25.504-40.901
														C-528.443-51.008-549.101-71.498-574.471-71.498z M-561.099,6.885l-3.269,1.318V63.35c0,4.501-3.718,8.166-8.272,8.166h-3.657
														c-4.56,0-8.272-3.665-8.272-8.166V8.203l-3.274-1.318c-13.503-5.427-22.229-18.26-22.229-32.688
														c0-19.459,15.979-35.282,35.6-35.282c19.627,0,35.608,15.823,35.608,35.282C-538.863-11.375-547.6,1.458-561.099,6.885z"/>
													<path fill="#414042" d="M-572.346-326.622c-51.901,0-94.444,40.532-97.165,91.378h-1.138v83.043l3.069,1.366
														c25.125,11.223,58.487,25.246,74.626,28.311c4.416,0.839,11.15,1.317,18.482,1.317c7.334,0,14.066-0.478,18.489-1.317
														c17.527-3.345,56.307-20.077,77.869-29.76l3.066-1.38v-76.37C-475.047-283.289-518.689-326.622-572.346-326.622z M-485.467-160.409
														c-21.555,9.621-56.748,24.653-72.49,27.649c-3.726,0.706-9.904,1.126-16.514,1.126c-6.609,0-12.787-0.421-16.517-1.126
														c-15.19-2.888-48.667-17.088-69.241-26.217v-65.84h1.004v-5.217c0-47.511,38.968-86.159,86.879-86.159
														c47.91,0,86.879,38.648,86.879,86.159V-160.409z"/>
												</g>
												<g>
													<path fill="#231F20" d="M7.662,4.18C7.548,4.076,7.271,3.988,6.841,3.917V3.069c0-1.008-0.826-1.827-1.84-1.827
														S3.16,2.062,3.16,3.069v0.847C2.729,3.988,2.453,4.076,2.338,4.18C2.05,4.441,1.677,5.284,1.805,5.687
														c0.14,0.44,0.714,1.086,1.708,1.922C4.25,8.227,4.955,8.725,4.961,8.729L5,8.758L5.04,8.729c0.007-0.004,0.712-0.502,1.448-1.119
														C7.48,6.773,8.057,6.127,8.195,5.687C8.323,5.284,7.951,4.441,7.662,4.18z M8.068,5.646C7.771,6.58,5.339,8.35,5,8.592
														C4.662,8.35,2.229,6.58,1.934,5.646C1.831,5.322,2.151,4.531,2.429,4.28c0.097-0.087,0.384-0.172,0.809-0.239l0.057-0.009V3.069
														C3.295,2.137,4.06,1.378,5,1.378c0.94,0,1.706,0.759,1.706,1.691v0.963l0.057,0.009C7.188,4.107,7.475,4.192,7.571,4.28
														C7.851,4.531,8.17,5.322,8.068,5.646z"/>
													<path fill="#231F20" d="M5,5.123c-0.329,0-0.596,0.266-0.596,0.592c0,0.227,0.128,0.43,0.331,0.529v0.625
														c0,0.135,0.108,0.242,0.242,0.242h0.047c0.133,0,0.242-0.107,0.242-0.242V6.244c0.202-0.1,0.331-0.303,0.331-0.529
														C5.597,5.389,5.329,5.123,5,5.123z M5.174,6.139L5.131,6.156v0.713c0,0.059-0.048,0.107-0.107,0.107H4.977
														c-0.059,0-0.107-0.049-0.107-0.107V6.156L4.827,6.139c-0.175-0.07-0.288-0.237-0.288-0.424c0-0.252,0.207-0.457,0.461-0.457
														c0.254,0,0.461,0.205,0.461,0.457C5.462,5.902,5.349,6.068,5.174,6.139z"/>
													<path fill="#231F20" d="M5.028,1.817c-0.672,0-1.223,0.525-1.259,1.184H3.754v1.076l0.04,0.018C4.12,4.241,4.552,4.422,4.761,4.461
														C4.818,4.473,4.906,4.479,5,4.479c0.095,0,0.182-0.006,0.24-0.018c0.227-0.043,0.729-0.26,1.008-0.385l0.04-0.018V3.069
														C6.288,2.379,5.724,1.817,5.028,1.817z M6.153,3.971C5.874,4.095,5.419,4.291,5.215,4.329C5.166,4.338,5.086,4.344,5,4.344
														c-0.085,0-0.166-0.006-0.214-0.015C4.589,4.292,4.156,4.107,3.89,3.99V3.136h0.013V3.069c0-0.616,0.505-1.117,1.125-1.117
														s1.125,0.501,1.125,1.117V3.971z"/>
												</g>
										  </svg>
										  <input type="password" class="login__input pass" placeholder="Password" name="password" id="pass" required/>
										</div>
										<p class="login__signup pull-right forgot__password">Forgot Password ?</p>
										<div class="signup-wrapper">
											<p>New to Docket ? <span class="yellow sign__up">Sign Up</span></p>
										</div>
										<button type="submit" id="submit" class="login-btn">GO</button>
										<!-- <img src="/assets/go_button.png" class="go-btn" alt=""> -->
									</div>
									<label id="dis"></label><br>
									<label id="disp"></label><br>
								</div>
							<% end %>
							<%= form_tag({:controller => "home", :action => "user_signup"}, :method => "post", :class => "register-form") do |f| %>
								<div class="login register-form" style="display:none;">
									<div class="login__form register">
										<span><h1 class="close-form">X</h1></span>
										<h2 class="log-color register-text">REGISTER</h2>
										<div class="login__row regiter-row">
										  <input type="text" name="user[first_name]" id="fullname" class="login__input input-style name" maxlength="20" placeholder="First Name" required/>
										</div>
										<div class="login__row regiter-row">
										  <input type="text" name="user[last_name]" id="lastname" class="login__input input-style" maxlength="20" placeholder="Last Name" required/>
										</div>
										<div class="login__row regiter-row">
											<div class="row clearfix">
												<div class="col-md-2">
													<input type="text" list="countries" name='phone_code' class="login__input input-style keyup-numeric" placeholder='91' value='91' id="code" maxlength="4" required/>
													<datalist id="countries">
														<!-- <select name="country_id" id="" required> -->
														  <% @countries.each do |country| %>
															<option value="<%= country.phone_code %>"><%= country.name %></option>
														  <% end %>
														<!-- </select> -->
													</datalist>
												</div>
												<div class="col-md-10">
													<input type="text" name="user[phone]" class="login__input input-style input-width_style1" placeholder="Mobile Number" required/>
												</div>
											</div>
										</div>
										<div class="login__row regiter-row">
										  <input type="email" name="user[email]" class="login__input input-style" placeholder="Email Id" required/>
										</div>
										<div class="login__row regiter-row">
										  <input type="password"  name="user[password]"  id="password" class="login__input input-style" maxlength="30" placeholder="Password" required/>
										</div>
										<div class="login__row regiter-row">
										  <input type="password" name="user[confirm_password]" id="password" class="login__input input-style" maxlength="30" placeholder="Confirm Password" required/>
										</div>
										<button type="submit" id="reigister" class="login__submit next-btn">Submit </button><!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-right fa-2x"></i> -->
									</div>
									<label id="disn"></label><br>
									<label id="disfn"></label><br>
									<label id="disdd"></label><br>
									<label id="disc"></label><br>
								</div>
							<% end %>
							<%= form_tag({:controller => "home_static", :action => "forgot_password"}, :method => "post", :class => "forgot__password") do |f| %>
								<div class="login forgot__password" style="display:none;">
									<div class="login__form forgot">
										<span><h1 class="close-form2" data-dismiss="modal">X</h1></span>
										<h2 class="log-color register-text">Forgot<br>Password</h2>
										<div class="login__row regiter-row">
										  <input type="email" name="email"  id="email" class="login__input input-style" maxlength="30" placeholder="Enter your email id" required/>
										</div>
										<button type="submit" id="forgot" class="login__submit forgot-btn">Submit </button>
									</div>
									<label id="disn"></label><br>
									<label id="disfn"></label><br>
									<label id="disdd"></label><br>
									<label id="disc"></label><br>
								</div>
							<% end %>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$('.login-btn').on('click', function(){
		var username=$('#user').val();
		var password=$('#pass').val();
		if(username=="")
		{
		$('#dis').slideDown().html("<span>Please type Username</span>").fadeOut("slow");
		return false;
		}
		if(password=="")
		{
		$('#disp').slideDown().html('<span id="error">Please type Password</span>').fadeOut("slow");
		return false;
		}
	});
	$('.sign__up').on('click', function(){
		$('.login-form').hide();
		$('.register-form').show();
		$('.close-form').show();
	});
	$('.forgot__password').on('click', function(){
		$('.login-form').hide();
		$('.forgot__password').show();
		$('.close-form2').show();
	});
	$('.close-form2').on('click',function(){
		$('.forgot__password').hide();
		$('.login-form').show();
	});
	$('.close-form').click(function(){
	   $('.register-form').hide();
		$('.login-form').show();
	});
	$('.keyup-numeric').keyup(function() {
		$('span.error-keyup-1').hide();
		var inputVal = $(this).val();
		var numericReg = /^\d*[0-9](|.\d*[0-9]|,\d*[0-9])?$/;
		if(!numericReg.test(inputVal)) {
			$(this).after('<span class="error error-keyup-1">Number only.</span>');
		}
	});
</script>