<div class="container" style=" width: 100%;">
	<div class="row">
		<div class="col-md-12">
			<% progress = true %>
			<p class="order_name" style="font-weight: bold;"><%= truncate(@order.product, length: 35) %> : <%= @order.txnid %> </br>
			<%= @order.track.created_at.strftime('%d %B, %Y') %></p>
		</div>
	</div>
</div>
<div class="container order_status">
	<div class="row">
		<div class="col-md-9">
			<ul class="img_wrap">
				<li>
					<%= image_tag "track/drafting.png", :style => "height:40px !important" %>
				</li>
				<li style="margin-top:6px;padding-left: 4%;">
					Drafting</br>
					<% if @order.track.drafted == false %>
						Inprogress</br>
					<% else %>
						<%= @order.track.updated_at.strftime('%I:%M %p %d %B %Y') %></p>
					<% end %>
				</li>
			</ul>
		</div>
		<div class="col-md-3" style="text-align: right;">
			<%# if @order.track.drafted == true %>
				<%#= image_tag 'completed.png', :style => "height:40px !important" %> 
			<%# else %>
				<%#= image_tag 'inprogress.png', :style => "height:40px !important" %> 
			<%# end %>
			<% if @order.track.drafted || progress %>
				<% progress = @order.track.drafted ? true : false %>
					<%= image_tag "#{@order.track.drafted ? 'completed.png' : 'inprogress.png'}", :style => "height:40px !important" %>
			<% end %>
			<hr class="vertical2">
		</div>
		<%# progress = @order.track.drafted %>
	</div>
	<div class="row">
		<div class="col-md-9">
			<ul class="img_wrap">
				<li>
					<%= image_tag "#{@order.track.printed ? 'track/true_printing.png' : 'track/printing.png'}", :style => "height:40px !important" %>
				</li>
				<li style="margin-top:6px;padding-left: 4%;">
					Printing</br>
					<% if @order.track.printed  %>
						<%= @order.track.updated_at.strftime('%I:%M %p %d %B %Y') %>
					<% elsif @order.track.drafted && progress %>
						Inprogress</br>
					<% end %> 
				</li>
			</ul>
		</div>
		<div class="col-md-3" style="text-align: right;">
			<% if @order.track.printed || progress %>
				<% progress = @order.track.printed ? true : false %>
					<%= image_tag "#{@order.track.printed ? 'completed.png' : 'inprogress.png'}", :style => "height:40px !important" %>
			<% else %>
				<%= image_tag 'disable.png', :style => "height:40px !important" %> 
			<% end %>
			<%# if @order.track.drafted == true %>
				<%#= image_tag 'inprogress.png', :style => "height:40px !important" %>
			<%# elsif @order.track.printed == false %>
				<%#= image_tag 'completed.png', :style => "height:40px !important" %> 
			<%# else %> 
				<%#= image_tag 'disable.png', :style => "height:40px !important" %> 
			<%# end %>
			<hr class="vertical2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<ul class="img_wrap">
				<li>
					<%= image_tag "#{@order.track.verified ? 'track/true_verification.png' : 'track/verification.png'}", :style => "height:40px !important" %>
					<%# if @order.track.printed == true %>
						<%#= image_tag 'track/verification.png', :style => "height:40px !important" %> 
					<%# elsif @order.track.verified == true %> 
						<%#= image_tag 'track/true_verification.png', :style => "height:40px !important" %>
					<%# else %>
						<%#= image_tag 'track/false_verification.png', :style => "height:40px !important" %> 
					<%# end %>	
				</li>
				<li style="margin-top:6px;padding-left: 4%;">
					Verification</br>
					<% if @order.track.verified %>
						<%= @order.track.updated_at.strftime('%I:%M %p %d %B %Y') %>
					<% elsif @order.track.printed && progress %>
						Inprogress</br>
					<% end %> 
				</li>
			</ul>
		</div>
		<div class="col-md-3" style="text-align: right;">
			<% if @order.track.verified || progress %>
				<% progress = @order.track.verified ? true : false %>
					<%= image_tag "#{@order.track.verified ? 'completed.png' : 'inprogress.png'}", :style => "height:40px !important" %>
			<% else %>
				<%= image_tag 'disable.png', :style => "height:40px !important" %> 
			<% end %>
			<%# if @order.track.printed == true %>
				<%#= image_tag 'inprogress.png', :style => "height:40px !important" %> 
			<%# elsif @order.track.verified == true %>
				<%#= image_tag 'completed.png', :style => "height:40px !important" %>
			<%# else %>
				<%#= image_tag 'disable.png', :style => "height:40px !important" %>
			<%# end %> 
			<hr class="vertical2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<ul class="img_wrap">
				<li>
					<%= image_tag "#{@order.track.signed ? 'track/true_signature.png' : 'track/signature.png'}", :style => "height:40px !important" %>
					<%# if @order.track.verified == true %>
						<%#= image_tag 'track/signature.png', :style => "height:40px !important" %> 
					<%# elsif @order.track.signed == true %>
						<%#= image_tag 'track/true_signature.png', :style => "height:40px !important" %> 
					<%# else %>
						<%#= image_tag 'track/false_signature.png', :style => "height:40px !important" %>
					<%# end %> 
				</li>
				<li style="margin-top:6px;padding-left: 4%;">
					Signature</br>
					<% if @order.track.signed %>
						<%= @order.track.updated_at.strftime('%I:%M %p %d %B %Y') %>
					<% elsif @order.track.verified && progress %>
						Inprogress</br>
					<% end %> 
				</li>
			</ul>
		</div>
		<div class="col-md-3" style="text-align: right;">
			<% if @order.track.signed || progress %>
				<% progress = @order.track.signed ? true : false %>
					<%= image_tag "#{@order.track.signed ? 'completed.png' : 'inprogress.png'}", :style => "height:40px !important" %>
			<% else %>
				<%= image_tag 'disable.png', :style => "height:40px !important" %> 
			<% end %>
			<%# if @order.track.verified == true %>
				<%#= image_tag 'inprogress.png', :style => "height:40px !important" %> 
			<%# elsif @order.track.signed == true %>
				<%#= image_tag 'completed.png', :style => "height:40px !important" %> 
			<%# else %>
				<%#= image_tag 'disable.png', :style => "height:40px !important" %>
			<%# end %>  
			<hr class="vertical2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<ul class="img_wrap">
				<li>
					<%= image_tag "#{@order.track.notary ? 'track/true_notary.png' : 'track/notary.png'}", :style => "height:40px !important" %>
					<%# if @order.track.signed == true %>
						<%#= image_tag 'track/notary.png', :style => "height:40px !important" %> 
					<%# elsif @order.track.notary == true %>
						<%#= image_tag 'track/true_notary.png', :style => "height:40px !important" %> 
					<%# else %>
						<%#= image_tag 'track/false_notary.png', :style => "height:40px !important" %> 
					<%# end %> 
				</li>
				<li style="margin-top:6px;padding-left: 4%;">
					Notary</br>
					<% if @order.track.notary %>
						<%= @order.track.updated_at.strftime('%I:%M %p %d %B %Y') %>
					<% elsif @order.track.signed && progress %>
						Inprogress</br>
					<% end %> 
				</li>
			</ul>
		</div>
		<div class="col-md-3" style="text-align: right;">
			<% if @order.track.notary || progress %>
				<% progress = @order.track.notary ? true : false %>
					<%= image_tag "#{@order.track.notary ? 'completed.png' : 'inprogress.png'}", :style => "height:40px !important" %>
			<% else %>
				<%= image_tag 'disable.png', :style => "height:40px !important" %> 	
			<% end %>
			<%# if @order.track.signed == true %>
				<%#= image_tag 'inprogress.png', :style => "height:40px !important" %> 
			<%# elsif @order.track.notary == true %>
				<%#= image_tag 'completed.png', :style => "height:40px !important" %>
			<%# else %> 
				<%#= image_tag 'disable.png', :style => "height:40px !important" %>
			<%# end %> 
			<hr class="vertical2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<ul class="img_wrap">
				<li>
					<%= image_tag "#{@order.track.delivered ? 'track/true_delivery.png' : 'track/delivery.png'}", :style => "height:40px !important" %>
					<%# if @order.track.notary == true %>
						<%#= image_tag 'track/delivery.png', :style => "height:40px !important" %> 
					<%# elsif @order.track.delivered == true %>
						<%#= image_tag 'track/true_delivery.png', :style => "height:40px !important" %> 
					<%# else %>
						<%#= image_tag 'track/false_delivery.png', :style => "height:40px !important" %> 
					<%# end %> 
				</li>
				<li style="margin-top:6px;padding-left: 4%;">
					Delivery</br>
					<% if @order.track.delivered %>
						<%= @order.track.updated_at.strftime('%I:%M %p %d %B %Y') %>
					<% elsif @order.track.notary && progress %>
						Inprogress</br>
					<% end %> 
				</li>
			</ul>
		</div>
		<div class="col-md-3" style="text-align: right;">
			<% if @order.track.delivered || progress %>
					<%= image_tag "#{@order.track.delivered ? 'completed.png' : 'inprogress.png'}", :style => "height:40px !important" %>
			<% else %>
				<%= image_tag 'disable.png', :style => "height:40px !important" %> 
			<% end %>
			<%# if @order.track.notary == true %>
				<%#= image_tag 'inprogress.png', :style => "height:40px !important" %> 
			<%# elsif @order.track.delivered == true %>
				<%#= image_tag 'completed.png', :style => "height:40px !important" %> 
			<%# else %>
				<%#= image_tag 'disable.png', :style => "height:40px !important" %> 
			<%# end %> 
		</div>
	</div>
</div>



