<div class="row clearfix">
  <div class="col-md-12">
    <nav class="navbar navbar-default side_dashboard <%= (@site_state == 'home_bg') ? 'nav-home' : '' %> side-top-nav" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brand_txt" href="/">
          <% if @site_state == 'home_bg' %>
            <%= image_tag 'logohome.png', :style => "width: 100px; height:100px;" %>
          <% else %>
            DOCKET
          <% end %>
        </a>
      </div>
      <% if @site_state == 'home_bg' %>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav nav-left">
            <div class="dropdown">
              <button class="btn btn-default select_city dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <%= image_tag 'location_map.png' %> BENGALURU
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#" data-value="delhi"><%= image_tag 'location_map.png' %> Mumbai <span class="coming_soon_txt">Coming Soon</span></a></li>
                <li><a href="#" data-value="delhi"><%= image_tag 'location_map.png' %> DELHI <span class="coming_soon_txt">Coming Soon</span></a></li>
                <li><a href="#" data-value="chennai"><%= image_tag 'location_map.png' %> CHENNAI <span class="coming_soon_txt">Coming Soon</span></a></li>
                <li><a href="#" data-value="pune"><%= image_tag 'location_map.png' %> PUNE <span class="coming_soon_txt">Coming Soon</span></a></li>
                <li><a href="#" data-value="hydrabad"><%= image_tag 'location_map.png' %> HYDERABAD <span class="coming_soon_txt">Coming Soon</span></a></li>
              </ul>
            </div>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown login-pop">
              <% if current_user %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag 'login_icon.png', :style => "width: 20px; height: 20px;" %> <%= @current_user.profile.first_name if @current_user %> <b class="caret"></b></a>
                <ul class="dropdown-menu home-dropdown" aria-labelledby="dropdownMenu1">
                    <!-- <li><a href="/dashboard">Place An Order</a></li> -->
                    <li><a href="/orders">History</a></li>
                    <li><a href="/track">Track</a></li>
                    <li><a href="/dlogin">DVault</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/signout">Logout</a></li>
                </ul>
              <% else %>
                <a href="#" id='loginModal' class="dropdown-toggle" data-toggle="dropdown" data-toggle="modal" data-target="#myModal"><%= image_tag 'login_icon.png' %> LOGIN</a>
              <% end %>
            </li>
          </ul>
        </div>
      <% else %>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav nav-stacked text-white">
            <!-- <a class="navbar-brand" href="#">DOCKET</a> -->
            <a href="/profile"><div class="login_wrapper">
              <span></span><span class="box-style"></span>
              <%= image_tag "#{current_user ? (@current_user.profile.profile_img ? @current_user.profile.profile_img : 'profile.png') : 'profile.png'}", :style => "width: 100px; height:100px;" %>
              <h5 class="name-head"><%= @current_user.profile.first_name if @current_user %></h5>
            </div> </a>
            <div class="act-style">
              <a href="#">
                <div class="fa-wrapper">
                  <i class="fa fa-bell-o"></i>
                  <div class="circle">
                    <span class="number_Style">1</span>
                  </div>
                </div>
              </a>
            </div>
            <li class="<%#= 'active' if params[:action] == 'checklist' %>">
              <a href="/"><%= image_tag 'side_nav_icons/home.png' %>  &nbsp;&nbsp;Place An Order</a>
            </li>
            <li class="<%= 'active' if params[:action] == 'order' %>"><a href="/orders"><%= image_tag 'side_nav_icons/orders.png' %> &nbsp;&nbsp;History</a></li>
            <li class="<%= 'active' if params[:action] == 'track' %>"><a href="/track"><%= image_tag 'side_nav_icons/track.png' %> &nbsp;&nbsp;Track</a></li>
            <% array= ["dvault_login","create_dvault","dvault_files", 'dvault_dashboard', 'dvault_category'] %>
            <li class="<%= 'active' if array.include? params[:action] %>"><a href="/dlogin"><%= image_tag 'side_nav_icons/vault.png' %> &nbsp;&nbsp;DVault</a></li>
            <li class="<%= 'active' if params[:action] == 'profile' %>"><a href="/profile"><%= image_tag 'side_nav_icons/profile.png' %> &nbsp;&nbsp;Profile</a></li>
            <!-- <li><a href="/help"><%= image_tag 'side_nav_icons/help.png' %> &nbsp;&nbsp;Help</a></li> -->
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <!-- <form class="navbar-form navbar-left" role="search">
              <div class="form-group search-bar">
                <input type="text" class="form-control input-style" placeholder="Search your document">  <i class="fa fa-search"></i>
              </div>
            </form> -->
            <li class="dropdown drop_wrap">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= image_tag "#{current_user ? (@current_user.profile.profile_img ? @current_user.profile.profile_img : 'profile.png' ) : 'profile.png'}", :style => "width: 20px; height:20px;" %> &nbsp;&nbsp;  <%= @current_user.profile.first_name if @current_user %>  <i class="fa icon-fa fa-angle-down"></i></a>
              <ul class="dropdown-menu">
                <!-- <li class="active"><a href="/dashboard">Place An Order</a></li> -->
                <li class="active"><a href="/orders">History</a></li>
                <li><a href="/track">Track</a></li>
                <li><a href="/dlogin">DVault</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/signout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      <% end %>
    </nav>
    <% if @site_state == 'home_bg' %>
      <nav class="navbar navbar-default nav-home2 navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= image_tag 'logo.png', :style => "width: 60px; height:60px;" %></a> 
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav nav-left">
            <div class="dropdown">
              <button class="btn btn-default select_city dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <%= image_tag 'location_map.png' %> BENGALURU
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#" data-value="delhi"><%= image_tag 'location_map.png' %> DELHI <span class="coming_soon_txt">Coming Soon</span></a></li>
                <li><a href="#" data-value="chennai"><%= image_tag 'location_map.png' %> CHENNAI <span class="coming_soon_txt">Coming Soon</span></a></li>
                <li><a href="#" data-value="pune"><%= image_tag 'location_map.png' %> PUNE <span class="coming_soon_txt">Coming Soon</span></a></li>
                <li><a href="#" data-value="hydrabad"><%= image_tag 'location_map.png' %> HYDERABAD <span class="coming_soon_txt">Coming Soon</span></a></li>
              </ul>
            </div>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown login-pop">
              <% if current_user %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag "#{current_user ? (@current_user.profile.profile_img ? @current_user.profile.profile_img : 'profile.png' ) : 'profile.png'}", :style => "width: 20px; height: 20px;" %> <!-- LOGIN --><%= @current_user.profile.first_name if @current_user %> <b class="caret"></b></a>
                  <ul class="dropdown-menu home-dropdown">
                    <li><a href="/orders">Place Order</a></li>
                    <li><a href="/track">Track</a></li>
                    <li><a href="/dlogin">DVault</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/signout">Logout</a></li>
                  </ul>
              <% else %>
                <a href="#" id='loginModal' class="dropdown-toggle" data-toggle="dropdown" data-toggle="modal" data-target="#myModal"><%= image_tag 'login_icon.png' %> LOGIN</a>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>
    <% end %>
  </div>
</div>
<style>
  <style>
  .circle{
    width:15px;
    height:15px;
    border-radius:250px;
    color:#fff;
    line-height:500px;
    text-align:center;
    background:#99BD3E;
  }
  .fa-wrapper {
    display: none;
    position: absolute;
    font-size: 2em;
    margin: -0.5em 1.5em;
  }
  span.number_Style {
    position: absolute;
    top: -24em;
    font-size: 10px;
    text-align: center;
    left: 3.2em;
  }
  .navbar-nav li a {
    height: 49px;
    padding: 15px 23px !important;
  }
  h5.name-head {
    left: 2em;
    position: relative;
    /* width: 100px; */
    margin: 0 auto;
    top: 1em;
    color: #fff;
  }
  .dropdown li {
      border-bottom: 1px solid #898484;
      height: 40px;
  }
  ul.dropdown-menu {
      background: #F4F3F1;
      /*height: 200px;*/
      padding: 0;
      margin: 0;
  }
  li.act-style {
      background-color: transparent !important;
      height: 20px;
  }
  .login_wrapper img {
      /*border-radius: 0px !important;*/
      border: 6px solid #fff;
      margin: 0 auto;
      position: relative;
      left: 1.5em;
  }
  button.select_city {
      width: 100%;
      border: 0;
      color: #777;
      font-size: 18px;
  }
  button.select_city:focus {
      width: 100%;
      border: 0;
      color: #777;
      font-size: 18px;
      border: 0;
      background: transparent;
  }
  .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus {
      color: #333;
      background-color: transparent;
      border-color: transparent;
  }
  span.coming_soon_txt {
      font-size: 8px;
      color: red;
      position: relative;
      top: -2em;
  }
  .navbar-default .navbar-nav.nav-stacked > li > a {
    padding-top: 0.5em !important;
    width: 200px;
  }
  .nav-stacked li :hover, .nav-stacked li.active, .nav-stacked li.active a{
    background: rgba(21, 20, 20, 0.53) !important;
  }
  .dvault_category_inner_bg .nav-stacked li {
      top: 20em !important;
  }
  .act-style {
      height: 50px;
  }

  h5.name-head {
    position: relative;
    width: 200px !important;
    margin: 0 auto !important;
    top: 1em !important;
    color: #fff;
    left: -14% !important;
    text-align: center !important;
}

li.dropdown.drop_wrap a {
    background: #ED1C24;
    color: #fff;
}

li.dropdown.drop_wrap a:hover {
    background: #ED1C24;
    color: #fff;
}

.navbar.navbar .dropdown-menu .active > a, .navbar-default.navbar .dropdown-menu .drop_wrap .active > a {
    background-color: #FFFFFF;
    color: #ED1C24;
}

.navbar.navbar .dropdown-menu li > a:hover, .navbar-default.navbar .dropdown-menu li > a:hover, .navbar.navbar .dropdown-menu li > a:focus, .navbar-default.navbar .dropdown-menu .drop_wrap li > a:focus {
    color: #ED1C24;
    background-color: #FFF;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav .dropdown .drop_wrap > .open > a:focus {
    background-color: #ED1C24;
    color: #FFF;
}

ul.nav.navbar-nav.nav-stacked li a {
    /* font-size: 16px; */
    font-weight: bold;
}
</style>
