<div id="trackModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <!-- Modal content-->
      <div class="modal-content track_body">
        <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal" onclick="closeModal()">X</button>
        <div class="modal-body track_modal">
          <div class="row text-center head_text">
            <div class="col-md-12">
                <%= image_tag 'new_images/header_icons/track_icon_big.png', :style => "height:50px !important" %> 
                <h4>Track your order</h4>
            </div>
          </div>
          <div class="row track-padd">
            <div class="col-md-12">
              <% if !@order %>
                <div class="order_id_wrapper">
                  <%= form_tag('/track_order', :id => "form", type: :post) do |f| %>
                    <div class="row">
                      <div class="col-md-10" style="padding: 0;">
                        <input type="text" name="txnid" class="order_style" required="required" placeholder="Enter your Order ID">
                      </div>
                      <div class="col-md-2" style="padding: 0;">
                        <button type="button" class="btn btn-default go-btn track">Go</button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-10" style="padding: 0;">
                        <input type="text" name="fedxid" id="fedex" class="order_style" required="required" placeholder="Enter your BLUE DART ID">
                      </div>
                      <div class="col-md-2" style="padding: 0;">
                        <button type="button" class="btn btn-default go-btn fedx_btn">Go</button>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
              <p class="cust_txt">Dear Customer:<br>
              <span class="cust_para">We have send your Order ID to your registered mail address</span></p>
            </div>
            <div class="result">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
    $('.track-padd .go-btn.track').on('click', function(e) {
      e.preventDefault();
      e.stopPropagation();
      $.ajax({
        type: 'post',
        url: '/track_order_status',
        data: 'txnid=' + $('input[name=txnid]').val()
      }).done(function (data, textStatus, jqXHR) {
        $('.track-padd .result').html(data)
        $('.order_id_wrapper form').hide();
        $('.head_text').hide();
        $('.cust_txt').hide();
      }).fail(function (jqXHR, textStatus, errorThrown) {
        // setNotification('error', 'Unknown Error. Try Again');
      });
    });

  })

  $('#trackModal').modal({
    backdrop: true,
    keyboard: true,
    show:false
  })


  // function hideContent()
  // {
  //   $(".redult").hide();
  //     $("#form").show();
  // }
  function closeModal()
  {
      $(".result").html(''); 
      $("#form").show();
      $('.head_text').show();
      $('.cust_txt').show();
      $("#trackModal").modal("hide");
  }

  
  $('#trackModal').on('hidden.bs.modal', function (e) {
    $(this)
      .find("input")
         .val('')
         .end()
  })

  $('.fedx_btn').click(function(){
    var fedex_val = $('#fedex').val();
    // window.open('http://www.trackcourier.in/track-gms.php?cno='+ fedex_val , '_blank');
    // window.open('https://www.fedex.com/apps/fedextrack/?tracknumbers='+ fedex_val , '_blank');
    window.open('https://track.aftership.com/bluedart/'+ fedex_val , '_blank');
    return false;
  });
</script>