<section id="section02">
    <div class="container-fluid ">
        <div class="row header_bg hidden-xs" data-spy="affix" data-offset-top="600" >
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row header_style">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <%= image_tag 'new_home_page/logo_icon.png', :class => "logo_icon" %>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="input_wrap">
                            <input type="text" name="search" id="search" class="search_txt" placeholder="SEARCH FOR YOUR DOCUMENT" style="color:#fff">
                            <span class="search_wrap">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                        </div>
                        <ul class="header_icon">
                            <li data-toggle="modal" data-target="#trackModal">
                                <a href="#"> 
                                 <div class="track"></div>
                                    <p>Track</p>
                                </a>
                            </li>
                            <% if !current_user %>
                                <li data-toggle="modal" data-target="#loginmodal">
                                    <a href="#">
                                        <div class="order"></div>
                                        <p>Orders</p>
                                    </a>
                                </li>
                                <li data-toggle="modal" data-target="#loginmodal">
                                    <a href="#">
                                        <div class="account"></div>
                                        <p>Account</p>
                                    </a> 
                                </li>
                            <% else %>
                                 <li >
                                    <a href="/orders">
                                        <div class="order"></div> 
                                        <p>Orders</p>
                                    </a>
                                    </li>
                                <!-- <li><a href="#"><div class="wallet_icon"></div> Wallet</a></li> -->
                                <li>
                                    <a href="/profile">
                                        <div class="account"></div> 
                                        <p>Account</p>
                                    </a>
                                </li>
                            <% end %>
                            <li data-toggle="modal" data-target="#offe_Modal">
                                <a href="#offer_Modal">
                                    <div class="vault"></div>
                                    <p class="animated rubberBand infinite "><span class="icici_offer" style="border:2px solid #F9A21E;font-size: 2rem;padding: 5px 10px;color:#F9A21E;">Offers</span></p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile header -->
        <div class="row header_bg hidden-sm hidden-md hidden-lg" data-spy="affix" data-offset-top="450" >
            <div class="col-xs-12">
                <div class="row">
                    <ul class="topnav" id="myTopnav">
                        <!-- <li class="active" data-toggle="modal" data-target="#offe_Modal">
                            <a href="#offer_Modal">
                                <div class=""></div>
                                <p class="animated rubberBand  infinite "><span class="icici_offer" style="border:2px solid #F9A21E;font-size: 2rem;padding: 5px 10px;color:#F9A21E;">Offers</span></p>
                            </a>
                        </li> -->
                       <li data-toggle="modal" data-target="#trackModal">
                            <a href="#"> 
                             <div class=""></div>
                                <p>Track</p>
                            </a>
                        </li>
                         <% if !current_user %>
                        <li data-toggle="modal" data-target="#loginmodal">
                            <a class="scroll" href="#features">
                                <div class=""></div>
                                <p>Orders</p>
                            </a>
                        </li>
                        <li data-toggle="modal" data-target="#loginmodal">
                            <a href="#">
                                <div class=""></div>
                                <p>Account</p>
                            </a> 
                        </li>
                        <% else %>
                         <li ><a href="/orders"><div class="order"></div> Orders</a></li>
                            <!-- <li><a href="#"><div class="wallet_icon"></div> Wallet</a></li> -->
                            <li><a href="/profile"><div class="account"></div> Account</a></li>
                        <% end %>
                       
                      <li class="icon">
                        <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">::</a>
                      </li>
                            <div class="searchbox">
                                <!-- <input type="search" name="mobile_seach"  placeholder="SEARCH FOR YOUR DOCUMENT" class="searchbox-input"  required> -->
                                <input type="text" name="mobile" id="mobile" class="search_txt" placeholder="SEARCH FOR YOUR DOCUMENT" style="color:#fff">
                                <!-- <input type="submit"  class="searchbox-submit" value=""> -->
                                <span class="searchbox-icon"> <i class="fa fa-search" aria-hidden="true"></i> </span>
                            </div>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END mobile header-->
    </div>
</section>

<%= render 'layouts/track' %>
<%#= render 'layouts/login_popup' %>
<div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center" role="document">
        <div class="modal-content login_content">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">X</button>
              <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 logo_bg">
                        <a href="/"><%= image_tag 'new_images/login_logo.png', :class => "modal_logo" %></a>
                        <h4 class="main_txt">Why Sign up ?</h4>
                        <hr class="modal_hr">
                        <ul class="list_wrap">
                            <li><i class="fa fa-circle" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Create Documents</li>
                            <li><i class="fa fa-circle" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Track Orders</li>
                            <li><i class="fa fa-circle" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Store Files</li>
                        </ul>
                    </div>
                    <div class="col-md-7">
                        
                        <div class="login_wrap">
                            <%= form_tag({:controller => "home", :action => "user_login"}, :method => "post", :class => "login_form") do %>
                                <h4><%= image_tag 'new_images/arrow.png', :class => "arrow_img" %>&nbsp;&nbsp;&nbsp; Login with Email</h4>
                                <div class="form-group">
                                    <%= text_field_tag :email, nil, placeholder: 'Email', :class => "login-email input_style" %>
                                </div>
                                <div class="otp_wrap" style="display:none;">  
                                    <p>Please enter the One Time Password(OTP)<br>that has been sent to your mobile number</p> 
                                    <div class="form-group">
                                        <input type="text" name="otp" class="input_style" placeholder="Enter OTP">     
                                    </div>
                                    <%= submit_tag("LOGIN") %>
                                    <p class="login_hint">Didn't receive the One Time Password(OTP) on your phone?<span class="color_txt otp_send">Click here</span> to resend</p>
                                </div>
                            <% end %>
                            <button type="button" style='display:none' class="btn btn-default otp_btn otp_send">Get OTP</button>
                            <div class="signup_txt">
                                <hr class="signup_hr">
                                New to docket ? <span class="signup">Sign Up</span>
                            </div> 
                            <!-- <button type="button" class="btn btn-default signup">Sign Up</button> -->
                        </div>
                        <div class="signup_wrap" style="display:none;">
                            <%= flash[:notice] if flash[:notice] %>
                            <%= form_tag({:controller => "home", :action => "user_signup"}, :method => "post", :class => "signup_form") do |f| %>
                                <h4><%= image_tag 'new_images/arrow.png', :class => "arrow_signup" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sign Up</h4>
                                <div class="form-group">
                                    <%= text_field_tag 'user[full_name]', nil, placeholder: 'Full Name', :class => "input_styles signup-name", required: true %>
                                </div>
                                <div class="form-group">
                                    <%= email_field_tag 'user[email]', nil, placeholder: 'Email', :class => "input_styles signup-email", required: true  %>
                                </div>   
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="list_country">
                                              <input type="text" list="countries" name='phone_code' class="keyup-numeric" placeholder='91' maxlength="4" id="code" value='91' required/>
                                                <datalist id="countries">
                                                    <!-- <select name="country_id" id="" required> -->
                                                      <% @countries.each do |country| %>
                                                        <option value="<%= country.phone_code %>"><%= country.name %></option>
                                                      <% end %>
                                                    <!-- </select> -->
                                                </datalist>
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <%= text_field_tag 'user[phone]', nil, placeholder: 'Phone', :class => "input_styles signup-phone", required: true  %>
                                        </div>
                                    </div>
                                </div>  
                                  <div class="box"> 
                                    <%= submit_tag("Signup") %>
                                  </div>
                                  <div class="logon_txt">
                                        <hr class="logon_hr">
                                      Already have a Docket Account ? <span class="login">Login</span>
                                  </div>
                                  <!-- <button type="button" class="btn btn-default login">Login</button> -->
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
          </div>
        </div>
      </div>
</div>
<%= render 'layouts/track' %>
<script>
  $(document).ready(function(){
    $('.login-email').on('change', function(){
        $('.otp_btn').show();
    })
    $('.otp_send').on('click', function(e) {
      e.preventDefault();
      e.stopPropagation();
      $.ajax({
        type: 'post',
        url: '/login_otp',
        data: $('.login_form').serialize()
      }).done(function (data, textStatus, jqXHR) {
        // $('.forgot_wrapper .send_otp').hide();
        // $('.forgot_wrapper .verify-otp').show();
        setNotification('success', 'Otp Sent to your Mobile');
        $('.otp_wrap').show();
        $('.otp_btn').hide();
      }).fail(function (jqXHR, textStatus, errorThrown) {
        setNotification('error', 'Invalid Email. Try Again');
        $('.otp_wrap').hide();
        $('.otp_btn').show();
      });
    });
    $('.login_form').on('submit', function(e) {
      e.preventDefault();
      e.stopPropagation();
      $.ajax({
        type: 'post',
        url: '/user_login',
        data: $('.login_form').serialize()
      }).done(function (data, textStatus, jqXHR) {
        window.location.href = '/';
        // $('.verify-mobile').hide();
        // setNotification('success', 'Mobile Number Verified');
        // $('#myModal4').modal('hide');
      }).fail(function (jqXHR, textStatus, errorThrown) {
        setNotification('error', 'Invalid OTP. Try Again');
      });
    });
  })

    $("body").keydown(function(event) {
            // toggles element the first time
        if(event.ctrlKey && event.which === letter.z) {
            $("[data-location='top']").toggle("fast");
            $("[data-location='bottom']").toggle("fast");
        }
    });

    $('#loginmodal').modal({
        backdrop: 'static',
        keyboard: true,
        show:false
    })

    $('.close').on('click', function(){
        $('.text_wrap').hide();
    })

    if (typeof(Storage) !== "undefined") {
        if(localStorage.current_city == 'true'){
            $('.text_wrap').hide();
        }
        else{
            localStorage.setItem("current_city", true);
        }
    } 
    $('.signup').on('click', function(){
        $('.login_wrap').hide();
        $('.signup_wrap').show();
    })
    $('.arrow_signup, .login').on('click', function(){
        $('.login_wrap').show();
        $('.signup_wrap').hide();
    })
</script>
<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
// search bar for mobile



// function buttonUp(){
//     var inputVal = $('.searchbox-input').val();
//     inputVal = $.trim(inputVal).length;
//     if( inputVal !== 0){
//         $('.searchbox-icon').css('display','none');
//     } else {
//         $('.searchbox-input').val('');
//         $('.searchbox-icon').css('display','block');
//     }
// }
</script>
