<section>
	<div class="container-fluid footer_style">
		<div class="row footer_wrap">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="row footer_ul">
					<div class="col-md-2 col-sm-2 col-xs-4">
						<ul class="">
							<p class="txt-head">Docket </p>
							<a href="/about-us" title=""><li>About us</li></a>
			                <a href="/partner-with-us" title=""><li>Partner with us</li></a>
			                <a href="/team" title=""><li>Team</li></a>
			                <a href="/helpcenter" title=""><li>Help</li></a>
			                <a href="/privacy" title=""><li>Privacy</li></a>
			                <a href="/terms" title="Terms"><li>Terms</li></a>
			                <a href="/disclaimer" title="Disclaimer"><li>Disclaimer</li></a>
			                <a href="http://blog.dockettech.com" title="Blog"><li>Blog</li></a>
			                <a href="/contact-us" title=""><li>Contact</li></a>
						</ul>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-4">
						<ul class="">
							<p class="txt-head">Services</p>
							<a href="/in/agreement" title=""><li>Agreements</li></a>
			                <a href="/in/affidavit" title=""><li>Affidavits</li></a>
			                <a href="/in/bond" title=""><li>Bonds</li></a>
			                <a href="/in/deed" title=""><li>Deeds</li></a>
			                <a href="/in/e-stamp" title=""><li>e-Stamp</li></a>
			                <a href="/in/notary" title=""><li>Notary</li></a>
			            </ul>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2">
						<ul class="">
							<p class="txt-head2"></p>
							<a href="/in/franking" title=""><li>Franking</li></a>
			                <a href="/in/attestation" title=""><li>Attestation</li></a>
			                <a href="/in/startup" title=""><li>Registration</li></a>
			                <a href="/in/marketplace" title=""><li>Licences</li></a>
			                <a href="/in/property" title=""><li>Property</li></a>
			                <a href="/in/paperwork" title=""><li>Paperwork</li></a>
						</ul>	
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<ul class="">
							<p class="txt-head">Contact</p>
							<p>
								Docket Tech Solutions Private Limited<br>
								Mayur Tower, #10, <br>
		                    	1st Floor, 3rd Main Rd, <br>
		                    	Ashwini Layout, Ejipura, <br>
		                    	Bangalore - 560047, <br>
		                    	Karnataka, India<br><br>
								+91-81-0537 7103 <br><br>
								<!-- +91-80-4656-4656 <br><br> -->
								support@dockettech.com
							</p>
						</ul>	
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<ul class="social ul_section">
							<p class="txt-head">Follow Us</p>
							<span class="social_icon"><i class="fa fa-facebook style" aria-hidden="true"></i></span><a href="https://www.facebook.com/dockettech" target="_blank" title=""><li class="social">Facebook</li></a>
			                <span class="social_icon"><i class="fa fa-twitter social_icon style" aria-hidden="true"></i></span><a href="https://twitter.com/dockettech" target="_blank" title=""><li class="social"></i>Twitter</li></a>
			                <span class="social_icon"><i class="fa fa-google social_icon style" aria-hidden="true"></i></span><a  href="https://plus.google.com/u/1/b/115856146323341081179/+DocketTechSolutionsPrivateLimitedBengaluru" target="_blank" title=""><li class="social">Google</li></a>
						</ul>	
					</div>
				</div>
			</div>		
			
		</div>
		 <a href="#section01" class="to_scroll" style="color: #fa1422;text-decoration: none;"><span class="arrow_up"><i class="fa fa-angle-up" aria-hidden="true"></i></span></a>
		<hr class="hr_style">
		<p class="text-center p_style"> @2015-16 DOCKET TECH SOLUTIONS PRIVATE LIMITED. ALL RIGHTS RESERVED.
		</p>
	</div>
</section>
