<!DOCTYPE html>
<html lang="">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Docket Tech | The Document Expert</title>
  <!--[if lte IE 8]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lte IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
 
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <link href='https://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if (@site_state != 'static') && (@site_state != 'login') && (@site_state != 'signup') %>
    <div class="container-fluid <%= @site_state %>" data-type="background" data-speed="10">
      <%= render partial: 'layouts/sidebar' %>
      <%= yield %>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
  <% if @site_state == 'home_bg' %>
    <%= render 'layouts/home_sections' %>
    <%= render partial: 'layouts/footer' %>
  <% end %>
  <%= render 'layouts/login_popup' %>
  <div id="notification"></div>
  <% if (@site_state == 'static')  %>
      <%= render partial: 'layouts/footer' %>
  <% end %>
  <%# if @include_analytics %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-79446628-1', 'auto');
      // ga('set', 'dimension1', dimensionValue);
      ga('send', 'pageview');

    </script>
  <%# end %>
  <script>
    <% if flash[:notice] %>
      setNotification('success', "<%= flash[:notice] %>")
    <% elsif flash[:alert] %>
      setNotification('error', "<%= flash[:alert] %>")
    <% end %>
  </script>
  <script type="text/javascript" charset="utf-8" async defer>
    if (typeof console !== 'undefined' && typeof console.log === 'function' && !window.test) {
    console.log('\r\n%c                     *      .--.\r\n%c                           \/ \/  `\r\n%c          +               | |\r\n%c                 \'         \\ \\__,\r\n%c             *          +   \'--\'  *\r\n%c                 +   \/\\\r\n%c    +              .\'  \'.   *\r\n%c           *      \/======\\      +\r\n%c                 ;:.  _   ;\r\n%c                 |:. (_)  |\r\n%c                 |:.  _   |\r\n%c       +         |:. (_)  |          *\r\n%c                 ;:.      ;\r\n%c               .\' \\:.    \/ `.\r\n%c              \/ .-\'\':._.\'`-. \\\r\n%c              |\/    \/||\\    \\|\r\n%c            _..--\"\"\"````\"\"\"--.._\r\n%c      _.-\'``                    ``\'-._\r\n%c    -\'         %cHello, explorer%c        \'-\r\n%c' +
    '\n       Curious? https://dockettech.com/careers',
    'color:#D0E3F1','color:#D0E3F1','color:#C0DAEC','color:#C0DAEC','color:#B0D1E8','color:#B0D1E8','color:#A1C7E3','color:#A1C7E3','color:#91BEDE','color:#91BEDE','color:#81B5D9','color:#81B5D9','color:#72ABD5','color:#72ABD5','color:#62A2D0','color:#62A2D0','color:#5299CB','color:#5299CB','color:#4390C7','color:#4390C7', 'color:#4390C7', 'color: #000000');
    }
  </script>
</body>
</html>