<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= @meta %>.">
  <% if @site_state == 'product_details' %>
    <% if (@document.service.name.downcase == 'marketplace') %>
      <title><%= @document.name %> | Licenses </title>
    <% elsif (@document.service.name.downcase == 'startup') %>
      <title><%= @document.name %> | Registrations </title>
    <% else %>
      <title><%= @document.name %> | <%= @document.service.name %> </title>
    <% end %>
  <% elsif @site_state == 'services'  %>
    <% if (@service.name.downcase == 'marketplace') %>
      <title>Licenses | Docket Tech  </title>
    <% elsif (@service.name.downcase == 'startup') %>
      <title>Startup Company Registrations | Docket Tech  </title>
    <% else %>
      <title><%= @service.name %> | Docket Tech</title>
    <% end %>
  <% else %>
    <title>Docket Tech | The Document Expert</title>
  <% end %>
  <meta name="keywords" content="notary, notary services in bangalore, e-stamp papers, agreements, affidavits, bonds, company registration, partnership firm, Properitorship Firm, Company incorporation, llp registration, registration of company, company registration in india , private limited company registration, Rent Agreement, Lease Agreement, Proprietorship, Pvt Ltd, Legal, Advocate, CA, PG, Flat, Room, Agent, Broker, Tenancy Agreement, Mortgage, Renter, Owner, Rental Agreement, New Rental Agreement, Renew Rental Agreement, where to make rental agreement in bangalore, how to prepare rental agreement, bangalore rent agreement sample, tenancy agreement bangalore, rent agreement bangalore doc, bangalore tenant, how to make rental agreement in bangalore, rental lease form, free rental agreement template, how to make a rental agreement legal, PF Affidavit, Rent agreement, Rent Agreement form, Free Agreement Template, rent agreement stamp paper, rental agreement, rental agreement form, rental agreement stamp paper, rental agreement format, rental agreement format india, rental agreement format download, rental agreement details, rental agreement sample, rent agreement format, Real Estate, Real Estate India, rent agreement format india, rent agreement format download, rent agreement details, rent agreement sample, Notary Services, Sub-Registrar, Bangalore Registrar, Provident Fund Affidavit, LPG Affidavit, Declaration, Agreements and Affidavits, Bangalore, Karnataka, Government,know your rental agreement,  Rental Agreement in bengaluru, Private Limited Company Registration, Company Incorporation, Online Company Incorporation, LLP Registration, Service Tax Registration, Private Limited Company, Pvt Ltd Company, Private Limited Company India, LLP Incorporation, Start a business, India Business Incorporation, Business Registration, Online Company Registration, MSME Registration, Digital Signature, VAT Registration, PAN Card Application, agreement,affidavit,bonds,deeds,notary,deeds,E-stamp,attestation,franking,registration,licences,property,paperwork">
  <!-- App INdexing Lnks -->
  <link rel="alternate" href="ios-app://1078024978/rental-agreement">
  <link rel="alternate" href="android-app://com.docket/rental-agreement">
  <!-- end -->
  <!-- facebook Open Graph tags -->
  <meta property="og:title" content="The Document Expert">
  <meta property="og:site_name" content="Docket Tech">
  <meta property="og:url" content="https://www.dockettech.com/">
  <meta property="og:description" content="<%= @meta %>">
  <meta property="og:image" content="https://www.dockettech.com/assets/new_images/login_logo.png" />
  <meta property="og:type" content="business.business">
  <!-- end -->
  <!-- twitter card style -->
  <meta name="twitter:card" content="player">
  <meta name="twitter:site" content="@dockettech">
  <meta name="twitter:title" content="Docket Tech | The Document Expert">
  <meta name="twitter:description" content="<%= @meta %>">
  <meta name="twitter:image:src" content="Insert Link">
  <!-- end -->
  <!-- Google Plus -->
  <meta itemprop="name" content="Docket Tech | The Document Expert">
  <meta itemprop="description" content="<%= @meta %>">
  <meta itemprop="image" content="https://www.dockettech.com/assets/new_images/login_logo.png">
  <!-- end -->
  <!--[if lte IE 8]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lte IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <!-- <link href='https://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> -->
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'layouts/cart_header' %>
  <%= yield %>
  <%= render partial: 'layouts/cart_footer' %>
  <div id="notification"></div>
  <script>
    <% if flash[:notice] %>
      setNotification('success', "<%= flash[:notice] %>")
    <% elsif flash[:alert] %>
      setNotification('error', "<%= flash[:alert] %>")
    <% end %>
  </script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://www.dockettech.com",
      "logo": "https://www.dockettech.com/assets/new_images/login_logo.png"
    }
  </script>
  <%= render partial: 'home/google_code' %>
  <%= render partial: 'home/chat_client' %>
  <%#= render partial: 'layouts/intercom' %>
</body>
</html>