<!DOCTYPE html>
<html>
<head>
  <title>Docket Tech</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='https://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'favicon_notary.ico' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= @site_state %>-page-container">
	<%if (@site_state != 'login') && (@site_state != 'signup') %>
    <%= render 'layouts/notary_header' %>
   	<%= render 'layouts/modal' %>
  <% end %>
	<%= yield %>
	<%if (@site_state != 'login') && (@site_state != 'signup') %>
  	<%= render 'layouts/notary_footer' %>
  <% end %>
<script type="text/javascript" charset="utf-8" async defer>
  if (typeof console !== 'undefined' && typeof console.log === 'function' && !window.test) {
    console.log('\r\n%c                     *      .--.\r\n%c                           \/ \/  `\r\n%c          +               | |\r\n%c                 \'         \\ \\__,\r\n%c             *          +   \'--\'  *\r\n%c                 +   \/\\\r\n%c    +              .\'  \'.   *\r\n%c           *      \/======\\      +\r\n%c                 ;:.  _   ;\r\n%c                 |:. (_)  |\r\n%c                 |:.  _   |\r\n%c       +         |:. (_)  |          *\r\n%c                 ;:.      ;\r\n%c               .\' \\:.    \/ `.\r\n%c              \/ .-\'\':._.\'`-. \\\r\n%c              |\/    \/||\\    \\|\r\n%c            _..--\"\"\"````\"\"\"--.._\r\n%c      _.-\'``                    ``\'-._\r\n%c    -\'         %cHello, explorer%c        \'-\r\n%c' +
    '\n       Curious? http://dockettech.com/careers',
    'color:#D0E3F1','color:#D0E3F1','color:#C0DAEC','color:#C0DAEC','color:#B0D1E8','color:#B0D1E8','color:#A1C7E3','color:#A1C7E3','color:#91BEDE','color:#91BEDE','color:#81B5D9','color:#81B5D9','color:#72ABD5','color:#72ABD5','color:#62A2D0','color:#62A2D0','color:#5299CB','color:#5299CB','color:#4390C7','color:#4390C7', 'color:#4390C7', 'color: #000000');
}
</script>
<script>
  $('#login-facebook').click(function(e){
            e.preventDefault();
            window.open('/auth/facebook?display=popup','facebook','menubar=no,toolbar=no,resizable=yes,width=500,height=300');
            return false;
        });

  function formHide(){
      $('.contact-form form').hide();
      $('.contact-form .thanks').show();
      // mixpanel.track('Submit',{"form": 'Contact form'});
  }
  <% if (@site_state == 'login_facebook') %>
            function closeWindow(){
                if(window.opener) {
                    window.opener.location.reload(true);
                    window.close()
                }
            }
      closeWindow();
  <% end %>
</script>
</body>
</html>
