<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script>
            <% if @text == 'Success' %>
            	PayU.onSuccess();
            <% else %>
	            PayU.onFailure();
            <% end %>
        </script>
    <style type="text/css"></style></head>
    <body>
        <%= @text %>
	</body>
</html>