<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if @site_state == 'gst_registration' %>
    <title>GST Registration - Documents required and Process | Apply Online</title>
    <meta name="description" content="Apply Online for GST Registration in Bangalore, Karnataka. Find information on rules, documents, types, procedure and the application process for GST Registration">
  <% elsif @site_state == 'gst_compliance' %>
    <title>Company Compliances | Annual, Closure, Event Based Compliances | Bangalore</title>
    <meta name="description" content="Every company has to follow a set of compliances as set forth by different regulatory bodies. Welcome to Docket's Company Compliance Filing Services, Enjoy a seamless filing process at amazing prices">
    <meta anme='keywords' content='Company Compliances, Company compliance online, annual compliances, annual filings, event based compliances, company closure, increase in authorized capital, change of objectives, change official address, change company name, change llp agreement, company compliances online'>
    <!-- facebook Open Graph tags -->
    <meta property="og:title" content="Company Compliances | Annual, Closure, Event Based Compliances | Bangalore">
    <meta property="og:site_name" content="Docket Tech">
    <meta property="og:url" content="https://www.dockettech.com/apply-gst-compliance-online">
    <meta property="og:description" content="Every company has to follow a set of compliances as set forth by different regulatory bodies. Welcome to Docket's Company Compliance Filing Services Enjoy a seamless filing process at amazing prices">
    <meta property="og:image" content="https://www.dockettech.com//assets/gst_compliance/Main_Banner-9fea2f30d0df31ef1abb01ed479f625a886cd55b3ed80788e2239110d3914040.jpg" />
    <meta property="og:type" content="business.business">
    <!-- end -->
    <!-- twitter card style -->
    <meta name="twitter:card" content="player">
    <meta name="twitter:site" content="@dockettech">
    <meta name="twitter:title" content="Company Compliances | Annual, Closure, Event Based Compliances | Bangalore">
    <meta name="twitter:description" content="Every company has to follow a set of compliances as set forth by different regulatory bodies. Welcome to Docket's Company Compliance Filing Services Enjoy a seamless filing process at amazing prices">
    <meta name="twitter:image:src" content="https://www.dockettech.com//assets/gst_compliance/Main_Banner-9fea2f30d0df31ef1abb01ed479f625a886cd55b3ed80788e2239110d3914040.jpg">
    <!-- end -->
    <!-- Google Plus -->
    <meta itemprop="name" content="Company Compliances | Annual, Closure, Event Based Compliances | Bangalore">
    <meta itemprop="description" content="Every company has to follow a set of compliances as set forth by different regulatory bodies. Welcome to Docket's Company Compliance Filing Services Enjoy a seamless filing process at amazing prices">
    <meta itemprop="image" content="https://www.dockettech.com//assets/gst_compliance/Main_Banner-9fea2f30d0df31ef1abb01ed479f625a886cd55b3ed80788e2239110d3914040.jpg">
    <!-- end -->
  <% elsif @site_state == 'product_details' %>
    <meta name="description" content="Docket helps you create your own <%= @document.name rescue 'document' %>. It's simple and easy. It only takes a few minutes! Fast Online Process ·Transparent Pricing.">
  <% else %>
    <title>Docket Tech | The Document Expert</title>
    <meta name="description" content="Docket is an online platform for quick and affordable documentation and registrations.Create your legal documents instantly in a matter of minutes.">
  <% end %>
  <meta name="msvalidate.01" content="240C10E7DEB99CE630B934EEEB8AC3F4" />
  <% if (@site_state != 'gst_compliance') %>
    <meta name="keywords" content="notary, notary services in bangalore, e-stamp papers, agreements, affidavits, bonds, company registration, partnership firm, Properitorship Firm, Company incorporation, llp registration, registration of company, company registration in india , private limited company registration, Rent Agreement, Lease Agreement, Proprietorship, Pvt Ltd, Legal, Advocate, CA, PG, Flat, Room, Agent, Broker, Tenancy Agreement, Mortgage, Renter, Owner, Rental Agreement, New Rental Agreement, Renew Rental Agreement, where to make rental agreement in bangalore, how to prepare rental agreement, bangalore rent agreement sample, tenancy agreement bangalore, rent agreement bangalore doc, bangalore tenant, how to make rental agreement in bangalore, rental lease form, free rental agreement template, how to make a rental agreement legal, PF Affidavit, Rent agreement, Rent Agreement form, Free Agreement Template, rent agreement stamp paper, rental agreement, rental agreement form, rental agreement stamp paper, rental agreement format, rental agreement format india, rental agreement format download, rental agreement details, rental agreement sample, rent agreement format, Real Estate, Real Estate India, rent agreement format india, rent agreement format download, rent agreement details, rent agreement sample, Notary Services, Sub-Registrar, Bangalore Registrar, Provident Fund Affidavit, LPG Affidavit, Declaration, Agreements and Affidavits, Bangalore, Karnataka, Government,know your rental agreement,  Rental Agreement in bengaluru, Private Limited Company Registration, Company Incorporation, Online Company Incorporation, LLP Registration, Goods and Service Tax Registration, Private Limited Company, Pvt Ltd Company, Private Limited Company India, LLP Incorporation, Start a business, India Business Incorporation, Business Registration, Online Company Registration, MSME Registration, Digital Signature, GST Registration, PAN Card Application, agreement,affidavit,bonds,deeds,notary,deeds,E-stamp,attestation,franking,registration,licences,property,paperwork">
    <!-- facebook Open Graph tags -->
    <meta property="og:title" content="The Document Expert">
    <meta property="og:site_name" content="Docket Tech">
    <meta property="og:url" content="https://www.dockettech.com/">
    <meta property="og:description" content="Docket is an online platform for quick and affordable documentation and registrations.Create your legal documents instantly in a matter of minutes.">
    <meta property="og:image" content="https://www.dockettech.com/assets/new_images/login_logo.png" />
    <meta property="og:type" content="business.business">
    <!-- end -->
    <!-- twitter card style -->
    <meta name="twitter:card" content="player">
    <meta name="twitter:site" content="@dockettech">
    <meta name="twitter:title" content="Docket Tech | The Document Expert">
    <meta name="twitter:description" content="Docket is an online platform for quick and affordable documentation and registrations.Create your legal documents instantly in a matter of minutes.">
    <meta name="twitter:image:src" content="Insert Link">
    <!-- end -->
    <!-- Google Plus -->
    <meta itemprop="name" content="Docket Tech | The Document Expert">
    <meta itemprop="description" content="Docket is an online platform for quick and affordable documentation and registrations.Create your legal documents instantly in a matter of minutes.">
    <meta itemprop="image" content="https://www.dockettech.com/assets/new_images/login_logo.png">
    <!-- end -->
  <% end %>
  <!-- App INdexing Lnks -->
  <link rel="alternate" href="ios-app://1078024978/rental-agreement">
  <link rel="alternate" href="android-app://com.docket/rental-agreement">
  <!-- end -->
  <!--[if lte IE 8]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lte IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
 
  <%= stylesheet_link_tag 'website', media: 'all' %>
  <%= javascript_include_tag 'website' %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if (@site_state != 'static') && (@site_state != 'login') && (@site_state != 'signup') %>
    <!-- <div class="container-fluid <%#= @site_state %>"> -->
      <%#= render partial: 'layouts/sidebar' %>
      <%= yield %>
    <!-- </div> -->
  <% else %>
    <%= yield %>
  <% end %>
   <%# if (@site_state == 'home_bg') %> 
    <%#= render 'layouts/home_sections' %>
  <% if (@site_state != 'gst_registration') && (@site_state != 'gst_compliance') %>  
    <%= render 'layouts/website_header' %>
    <%= render 'layouts/website_footer' %>
    <%= render partial: 'layouts/icici_offer_popup' %>
  <% end %>

  <%# end %> 
  <%#= render 'layouts/login_popup' %>
  <div id="notification"></div>
  <% if (@site_state == 'static')  %>
      <%#= render partial: 'layouts/footer' %>
  <% end %>
  <%# if @include_analytics %>
  <%#= render partial: 'layouts/intercom' %>
  <%#= render partial: 'layouts/login_popup' %>
  <%#= render partial: 'layouts/track' %>
  <!-- <div class="cookie-bar">
    Currently our services are available only in Karnataka
  </div> -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-79446628-1', 'auto');
    // ga('set', 'dimension1', dimensionValue);
    ga('send', 'pageview');

  </script>
  <%# end %>
  <script>
    <% if flash[:notice] %>
      setNotification('success', "<%= flash[:notice] %>")
    <% elsif flash[:alert] %>
      setNotification('error', "<%= flash[:alert] %>")
    <% end %>
  </script>
  <script type="text/javascript" charset="utf-8" async defer>
    if (typeof console !== 'undefined' && typeof console.log === 'function' && !window.test) {
    console.log('\r\n%c                     *      .--.\r\n%c                           \/ \/  `\r\n%c          +               | |\r\n%c                 \'         \\ \\__,\r\n%c             *          +   \'--\'  *\r\n%c                 +   \/\\\r\n%c    +              .\'  \'.   *\r\n%c           *      \/======\\      +\r\n%c                 ;:.  _   ;\r\n%c                 |:. (_)  |\r\n%c                 |:.  _   |\r\n%c       +         |:. (_)  |          *\r\n%c                 ;:.      ;\r\n%c               .\' \\:.    \/ `.\r\n%c              \/ .-\'\':._.\'`-. \\\r\n%c              |\/    \/||\\    \\|\r\n%c            _..--\"\"\"````\"\"\"--.._\r\n%c      _.-\'``                    ``\'-._\r\n%c    -\'         %cHello, explorer%c        \'-\r\n%c' +
    '\n       Curious? https://dockettech.com/careers',
    'color:#D0E3F1','color:#D0E3F1','color:#C0DAEC','color:#C0DAEC','color:#B0D1E8','color:#B0D1E8','color:#A1C7E3','color:#A1C7E3','color:#91BEDE','color:#91BEDE','color:#81B5D9','color:#81B5D9','color:#72ABD5','color:#72ABD5','color:#62A2D0','color:#62A2D0','color:#5299CB','color:#5299CB','color:#4390C7','color:#4390C7', 'color:#4390C7', 'color: #000000');
    }
  </script>
  <script type="application/ld+json">{
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "https://www.dockettech.com",
    "logo": "https://www.dockettech.com/assets/new_images/login_logo.png"
  }
</script>
<script>
  window.addEventListener('load',function(){
    jQuery('button:contains("Pay"),button:contains("PA"),button:contains("Pay")').click(function(){
      ga('send','event','pay-button','submit',window.location.pathname)
    })
    jQuery('.search_wrap,.search_icon').click(function(){
      ga('send','event','button','click','search')
    })
  });
  var xm = 0;
  var myVar = setInterval(function() {
    if (document.querySelector(' .container-fluid .row .col-md-8 div.thanks') != null) {
      var selop = document.querySelector(' .container-fluid .row .col-md-8 div.thanks');
      if (selop.innerText.indexOf('Thank You for contacting us. W') != -1 && (selop.style.opacity == '' || selop.style.opacity > 0) && (selop.style.visibility == '' || selop.style.visibility != 'hidden') && (selop.style.display == '' || selop.style.display != 'none') && (selop.parentNode.style.display == '' || selop.parentNode.style.display != 'none')) {
        if (xm == 0) {
          ga('send', 'event', 'form', 'submit', 'enquiry');
          xm = 1;
        }
        clearInterval(myVar);
      }
    }
  }, 1000)
  </script>
  <%= render partial: 'home/chat_client' %>
</body>
</html>